upstream django_{{ item.site_user }} {
    server unix:///tmp/uwsgi_{{ item.site_user }}.socket;
}
{% if enable_https %}
server {
    listen 80;
    server_name {{ item.certbot_domains|join(' ') }};

    location /.well-known/acme-challenge/ {
        alias /home/{{ item.site_user }}/site/repo/.well-known/acme-challenge/;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# Redirect from `www.` to domain without `www`
server {
    listen 443 ssl;
    server_name www.{{ item.site_domain }};

    ssl_certificate {{ item.certbot_config_dir }}/{{ certbot_cert_filename }};
    ssl_certificate_key {{ item.certbot_config_dir }}/{{ certbot_privkey_filename }};
    # Fetch OCSP records from URL in ssl_certificate and cache them
    ssl_stapling on;
    ssl_stapling_verify on;

    return 301 https://{{ item.site_domain }}$request_uri;
}
{% endif %}

server {
    listen {% if enable_https %}443 ssl{% else %}80{% endif %}{% if item.site_domain == "compscicenter.ru" %} default_server{% endif %};
    server_name{% for domain in item.certbot_domains -%}
        {% if not domain.startswith("www") %} {{ domain }}{% endif %}
    {%- endfor %};

    charset utf-8;
    client_max_body_size 42m;
    {% if enable_https -%}
    # ssl config by Mozilla https://wiki.mozilla.org/Security/Server_Side_TLS

    # certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
    ssl_certificate {{ item.certbot_config_dir }}/{{ certbot_cert_filename }};
    ssl_certificate_key {{ item.certbot_config_dir }}/{{ certbot_privkey_filename }};
    ssl_session_timeout 10m;
    ssl_session_cache shared:SSL:10m;

    # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
    ssl_dhparam /etc/nginx/crypto/dhparam.pem;

    # modern configuration. tweak to your needs.
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
    ssl_prefer_server_ciphers on;

    # FIXME: Enable hsts for compsciclub.ru after manual testing https!
    {% if item.site_domain == "compscicenter.ru" -%}
    # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
    add_header Strict-Transport-Security max-age=15768000;
    {% endif %}

    # Fetch OCSP records from URL in ssl_certificate and cache them
    ssl_stapling on;
    ssl_stapling_verify on;

    # Verify chain of trust of OCSP response using Root CA and Intermediate certs
    # We don't need to specify ssl_trusted_certificate, because Let's Encrypt
    # creates fullchain.pem containing all certificates and we use that
    # for ssl_certificate already.
    # ssl_trusted_certificate {{ item.certbot_config_dir }}/{{ certbot_trusted_chain_filename }};
    {% endif %}
    resolver 8.8.8.8;

    error_page 404 =404 @show_404;

    location @show_404 {
        root /home/{{ item.site_user }}/site/repo/cscsite/templates/;
        try_files /errors/404.html =404;
    }

    {% if item.site_domain == "compscicenter.ru" -%}
    rewrite ^/lectures/$ http://open.compscicenter.ru/ permanent;
    {% endif %}

    location /media  {
        alias /shared/media;
        access_log off;
        tcp_nodelay off;
        # gzip_static on;
        gzip on;
        expires 6h;
        add_header Cache-Control public,max-age=21600;
    }

    location /static {
        alias /home/{{ item.site_user }}/site/repo/cscsite/static;
        access_log off;
        tcp_nodelay off;
        gzip_static on;
        gzip on;
        gzip_min_length 1100;
        gzip_types text/css text/javascript application/javascript;
        expires 1M;
        add_header Cache-Control public,max-age=2592000;
    }

    # Django
    location / {
        {% if item.site_domain == "compscicenter.ru" -%}
        set $frame_options '';
        if ($http_referer !~ '^https?:\/\/([^\/]+\.)?(compscicenter\.ru|webvisor\.com)\/'){
            set $frame_options 'SAMEORIGIN';
        }
        add_header X-Frame-Options $frame_options;
        {% endif %}

        # FIXME(Dmitry): this makes TLS vulnerable to BREACH attack

        gzip on;
        # Serve 30x statuses with nginx
        uwsgi_intercept_errors on;
        uwsgi_pass django_{{ item.site_user }};
        include uwsgi_params;
    }
}
