// Material design elements based on bootstrap
@import "components/labels";
@import "components/page_aside";
  // material design tabs
.nav-tabs {
  &.material {
    border-bottom: 1px solid #e4eaec;

    > li > a {
      border: none;
      color: #76838f;
      border-radius: 0;
      border: 1px solid transparent;
      border-bottom: 2px solid transparent;
      @include transition(.25s);

      &:hover {
        border-color: transparent transparent darken(#e4eaec, 10%);
        background: transparent;
      }
    }

    > li.active > a {
      color: $color-blue !important;
      border-bottom: 2px solid $color-blue;
      background-color: #fff;
    }

    > li.active > a, > li.active > a:focus, > li.active > a:hover {
    }

  }

}

.card {
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;

  .tab-content {
    padding: 20px
  }
}

// inspired by Material Admin Responsive
.card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.card .card-header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .card .card-header:not(.ch-alt) {
    padding: 23px 25px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header:not(.ch-alt) {
    padding: 18px;
  }
}

.card .card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}

.card .card-header h2 small {
  display: block;
  margin-top: 8px;
  color: #AEAEAE;
  line-height: 160%;
}

@media screen and (min-width: 768px) {
  .card .card-header.ch-alt {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header.ch-alt {
    padding: 18px 18px 28px;
  }
}

.card .card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}

.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
  color: #fff;
}

.card .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}

.card .card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .card .card-body.card-padding {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-body.card-padding {
    padding: 18px;
  }
}

.card .card-body.card-padding-sm {
  padding: 15px;
}

.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
  padding-top: 0;
}


// RIBBON
//.ribbon {
//  position: relative;
//  left: -3px;
//  text-align: center;
//
//  .ribbon-inner {
//    position: absolute;
//    top: 16px;
//    left: 0;
//    display: inline-block;
//    height: 30px;
//    padding-right: 20px;
//    padding-left: 20px;
//    line-height: 30px;
//    color: #fff;
//    white-space: nowrap;
//    background-color: #526069;
//  }
//}
//
//
//.ribbon-primary .ribbon-inner {
//  background-color: $color-blue;
//}
//.ribbon-primary.ribbon-bookmark .ribbon-inner:before {
//  border-color: #57c7d4;
//  border-right-color: transparent;
//}
//.ribbon-primary.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-left-color: transparent;
//}
//.ribbon-primary.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-bottom-color: transparent;
//}
//.ribbon-primary.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-bottom-color: transparent;
//  border-left-color: #57c7d4;
//}
//.ribbon-primary.ribbon-corner .ribbon-inner {
//  background-color: transparent;
//}
//.ribbon-primary.ribbon-corner .ribbon-inner:before {
//  border-top-color: #57c7d4;
//  border-left-color: #57c7d4;
//}
//.ribbon-primary.ribbon-corner.ribbon-reverse .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-left-color: transparent;
//}
//.ribbon-primary.ribbon-corner.ribbon-bottom .ribbon-inner:before {
//  border-top-color: transparent;
//  border-bottom-color: #57c7d4;
//}
//.ribbon-primary .ribbon-inner:after {
//  border-top-color: #47b8c6;
//  border-right-color: #47b8c6;
//}
//.ribbon-primary.ribbon-reverse .ribbon-inner:after {
//  border-right-color: transparent;
//  border-left-color: #47b8c6;
//}
//.ribbon-primary.ribbon-bottom .ribbon-inner:after {
//  border-top-color: transparent;
//  border-bottom-color: #47b8c6;
//}


// List group derived
.list-group-dividered {
  .list-group-item {
    &:first-child {
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
      border-bottom: 0;
    }
    border: 1px solid rgba(0, 0, 0, 0);
    border-top-color: #e4eaec;

    &.disabled, &.disabled:focus, &.disabled:hover {
      background: none;
    }
    
    &.active, &.active:focus, &.active:hover {
      background: none;
      color: $color-blue;
    }
  }
}
  .list-group-dividered .list-group-item.active:hover {
    border-top-color: #e4eaec;
  }
  .list-group-dividered .list-group-item:last-child {
    border-bottom-color: #e4eaec;
  }
  .list-group-dividered .list-group-item:first-child {
    border-top-color: transparent;
  }
  .list-group-dividered .list-group-item:first-child.active:hover {
    border-top-color: transparent;
  }

  .list-group-full .list-group-item {
    padding-right: 0;
    padding-left: 0;
  }







.label {
  font-weight: normal;
}

.label-lg {
  font-size: 16px
}

.label-sm {
  padding: .2em .3em .2em;
  font-size: 10px
}



// Dropdown with bullet
.dropdown-menu.bullet {
  margin-top: 12px
}

.dropdown-menu.bullet:after, .dropdown-menu.bullet:before {
  position: absolute;
  left: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  content: '';
  border: 7px solid transparent;
  border-top-width: 0
}

.dropdown-menu.bullet:before {
  top: -7px;
  border-bottom-color: #ccc
}

.dropdown-menu.bullet:after {
  top: -6px;
  border-bottom-color: #fff
}

.dropdown-menu-right.bullet:after, .dropdown-menu-right.bullet:before {
  right: 10px;
  left: auto
}