@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables.scss";

$min-width: 980px;

$link-hover-color: darken($link-color, 5%);
$pre-bg: #f8f8f8;

$color-white: #fff;
$color-blue: #4078c0;
$color-grey: #9B9B9B;
$color-orange: #f2a654;
$color-green: #5cb85c;
$color-red: #f96868;
$color-yellow: #f9cd48;
$color-purple: #6a679e;
$color-gray-20: #333333;
$color-gray-60: #666666;
$color-gray-90: #e5e5e5;
$color-gray-48: #7a7a7a;

$background-white: #fff;
$background-grey: #f8f8f8;

$headings-small-color: $color-gray-48;

$table-border-color: $color-gray-90;

$btn-primary-bg:  $color-blue;
$btn-primary-border:  $btn-primary-bg;
$btn-info-bg: $state-info-bg;
$btn-info-color: lighten($color-gray-20, 10%);
$btn-info-border: darken($state-info-bg, 5%);

$brand-success: $color-green;
$brand-danger: #d9534f;

$state-info-text: $color-blue;
$alert-info-border: $alert-info-bg;
$alert-info-text: $color-gray-20;
$state-success-text: $color-green;
$state-danger-text: $color-red;

$alert-warning-border: rgba(255, 243, 230, 0.8);
$alert-warning-bg: rgba(255, 243, 230, 0.8);
$alert-warning-text: $color-orange;

$panel-default-heading-bg: $background-grey;

$panel-footer-bg: inherit;
$panel-inner-border: $color-gray-90;

$header-lvl1-bg:                 #4F86A0;
