$header-lvl1-bg:                 #678D9E;
$header-lvl2-bg:                 #99B6C3;

// FIXME: Don't forget remove 'margin-top: -50px' if redesign menu. Grep by 'hack'

.header {
    line-height: 50px;
    &.lvl1 {
        height: 50px;
        color: white;
        background-color: $header-lvl1-bg;
        min-width: $min-width;
        margin-bottom: 60px;

    }

    &.lvl2 {
        margin-top: -60px;
        width: 100%;
        /* width: 960px; */
        color: white;
        display: none;
        position: absolute;
        z-index: -1;
        background-color: $header-lvl2-bg;
        min-width: $min-width;

        &.current {
            display: block;
            z-index: 100;  
        }

        &.for-students {
            background-color: #F6BE80;

            li {
                &:hover {
                    background-color: darken(#F4B066, 10%);
                    a {
                        color: #fff;
                    }
                }

                &.current {
                    background-color: #F2A654!important;
                    a {
                        color: #fff;
                    }
                }

                a {
                    color: #37474f;
                    font-weight:400;
                }
            }
        }

        &.for-teachers {
            background-color: #A6A8CD;

            li {
                &:hover {
                    background-color: #787AAE;
                }

                &.current {
                    background-color: #515492 !important;
                }
            }
        }

        &.for-staff {
            background-color: #bad896;

            li {
                &:hover {
                    background-color: darken(#bad896, 10%);
                    a {
                        color: #fff;
                    }
                }

                &.current {
                    background-color: darken(#bad896, 20%)!important;
                    a {
                        color: #fff;
                    }
                }

                a {
                    color: #37474f;
                    font-weight:400;
                }
            }
        }
    }

    ul {
        padding-left: 0px;

        a {
            display: block;
        }

        li {
            list-style: none;
            float: left;
            padding: 0 6px;
            cursor: pointer;

            &:hover {
                background-color: #437185;
            }

            &.current {
                background-color: #24556A !important;
            }

            i {
                font-weight: normal;
            }
        }
    }

    a {
       color: white;

       &:hover {
            text-decoration: none;
        }
    }

    .badge {
        background-color: transparent;
        border: 1px solid white;
    }

    .login {
        text-align: right;

        .logout-url {
            font-weight: normal;
        }
    }

    .logo-cell {
        position: relative;
        margin-left: 15px;
        margin-right: 10px;
        width: 80px;
        float: left;
        height: 40px;
    }

    .logo-container {
        position: absolute;
        z-index: 1000;
    }
}
