// jquery barrating styles
.br-theme-bars-movie {

  .br-widget {
    height: 10px;
    white-space: nowrap;

    a {
      display: block;
      width: 60px;
      height: 10px;
      float: left;
      background-color: lighten($color-blue, 25%);
      margin: 4px 1px;

      &.br-active,
      &.br-selected {
        background-color: $color-blue;
      }
    }

    .br-current-rating {
      margin-left: 8px;
      line-height: 16px;
      float: left;
      color: $color-blue;
      font-weight: 400;
    }
  }
}

@media print {
  .br-theme-bars-movie {

    .br-widget {
      a {
        border: 1px solid lighten(black, 70%);
        background: $color-white;
        box-sizing: border-box;

        &.br-active,
        &.br-selected {
          border: 1px solid black;
          background: $color-white;
        }
      }

      .br-current-rating {
        color: black;
      }
    }

  }
}

.admission-list-page {
  .panel-title {
    padding: 10px 10px 0 10px;
  }

  .panel-body {
    td:last-child {
      font-size: 16px;
    }
  }

}

// TODO: move to components?
.score-info {
  float: right;
  margin: 0 10px 0 0;

  li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    &:last-child {
      margin: 0;
    }

    .num {
      font-size: 24px;
      line-height: 1.2em;
    }

    p {
      margin: 0;
    }
  }
}

.admission-list-page,
.interview-results-page {
  @extend .container;

  form {
    margin: 0 0 20px 0;

    select {
      -webkit-transition: none!important;
    }
  }

  .date {
    width: 15%;
    padding-left: 0 !important;
    font-size: 16px;
    @extend .text-info;
    color: #000;

    .time {
      font-size: 24px;
    }
  }

  .applicant {
    a {
      font-size: 16px;
    }

    form {
      float: left;
    }
  }

  .members {
    width: 35%;
    position: relative;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        float: left;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin: 0 4px 4px 0;
        }

        div.square {
          margin: 0 4px 4px 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          line-height: 40px;
          text-align: center;
          background-color: $state-info-bg;
          color: #333;
        }
      }
    }
  }

  .actions {
    padding: 20px 0 !important;
    button {
      display: none;
      width: 102px;
      height: 35px;
      font-size: 12px;
      position: relative;
      z-index: 0;
      background-color: #fff;
      &.finish {
        display: block;
        + .table-content {
          display: none;
        }
      }
    }
    i {
      font-size: 16px;
      color: #666;
      transition: all .3s;
      &:hover {
        opacity: .8;
      }
      &:first-of-type {
        margin-right: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .table-content {
      margin-left: 10px;
    }
  }

  .slidePanel-actions {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .slidePanel-inner {
    padding: 0 15px;
  }

  .grey {
    display: block;
    width: 120px;
    color: $color-grey;
  }
}

.admission-interview-page,
.admission-applicant-page {

  h4 {
    margin-bottom: 10px;

    span {
      color: $color-grey;
    }
  }

  .form-group {
    .controls {
      margin-right: 0;
    }

    .asteriskField {
      color: $color-red;
    }
    #error_1_id_score {
      margin-top: 18px;
    }
  }

  .page-header {
    margin-top: 0;
    margin-bottom: 0;
    background: 0 0;
    position: relative;
    border-bottom: none;

    h3 {
      margin: 0;
    }

    .page-header-actions {
      position: absolute;
      right: 0;
      top: 0;
      margin: auto;

      .edit-interview-btn {
        color: #666;

        i {
          font-size: 1.6em;
        }
      }
    }
  }

  .date,
  .additional-info {
    font-size: 18px;
    color: $color-grey;
  }

  .nav-tabs-horizontal {
    margin: 25px 0 0 0;
  }

  .tab-content {
    dt {
      font-size: 16px;
    }
    dd {
      margin-bottom: 15px;
      width: 80%;
    }

    .comment {
      margin-right: 130px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 6px;
      }

      div.square {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        @extend .bg-info;
        color: #333;
      }
      .comment-body {
        .fio {
          font-weight: 600;
        }
      }
    }

    .interview-info {
      margin-bottom: 30px;
      text-align: right;
    }

    .collapse-link {
      font-size: 24px;
      margin: 0;
    }

    .panel-collapse {
      margin-top: 10px;
    }

    .solution {
      background: $background-grey;
      padding: 10px;
    }
  }
}

// TODO: move to components
.assignments-multicheckbox {
  .checkbox {
    padding: 5px !important;
    margin: 0 !important;

    &:hover {
      background: $background-grey;
    }

    span {
      cursor: pointer;
    }
  }
}

.admission-applicant-page {

  select[name="interviewers"] {
    min-height: 200px;
  }

  select[name="assignments"] {
    min-height: 300px;
  }
}


#admission-appointment {
  width: auto;
  max-width: 980px;

  .form-group {
    margin-top: 5px;
  }
  .btn-group {

    .btn {
      margin: -1px 0 0 -1px;
      width: 80px;

      &.disabled {
        pointer-events: none;
      }
    }
  }
}


@media print {
  .admission-interview-page {
    .collapse-link,
    .interview_assignments_form,
    .header,
    .footer,
    .page-header,
    .additional-info,
    .date,
    .nav,
    .solution {
      display: none;
    }

    &._with-printable-solutions {
      .solution {
        display: block;
        padding: 0;
      }
    }
  }
}


