{% extends "base.html" %}
{% load tz %}
{% load i18n %}
{% load thumbnail %}
{% load markdown call_method lookup can_enroll_in_course from core_tags %}
{% load render_bundle from webpack_loader %}
{% load user_thumbnail from user_thumbnail %}

{% block title %}{{ course.meta_course.name }}, {{ course.semester }}{% endblock title %}

{% block body_attrs %} data-init-sections="courseDetails"{% endblock body_attrs %}

{% block javascripts %}
    {% if user.is_curator %}{% render_bundle "supervising" "js" "V1" %}{% endif %}
{% endblock javascripts %}


{% block content %}{% localtime off %}
<div class="container" id="course-detail-page">
    <div class="row">
        <div class="col-xs-9">
            <h2 class="course-main-title">
            {{ course.meta_course.name }}{% if request.user.is_curator %} <a href="{% url "admin:courses_course_change" course.pk %}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>{% endif %}<br>
              <small>{{ course.main_branch.name }} / {{ course.semester }}, <a href="{{ course.meta_course.get_absolute_url }}">посмотреть все семестры</a></small>
            </h2>

            {% if request.site.domain == 'compsciclub.ru' and not user.is_authenticated %}
                <div id="enroll-now">
                      {% blocktrans %}
                        Enroll in the course to get notifications and to be able to submit home assignments.<br>
                        <a class="btn btn-success" href="/register/">Register to enroll now</a> <a class="btn btn-success" href="/login/">Login</a>
                      {% endblocktrans %}
                </div>
            {% endif %}

            <ul class="nav nav-tabs square" role="tablist" id="course-detail-page__tablist">
                {% for tab in course_tabs %}
                    <li role="presentation" {% if tab.is_default %}class="active"{% endif %}>
                        <a role="tab"
                           aria-expanded="{% if tab.is_default %}true{% else %}false{% endif %}"
                           aria-controls="course-{{ tab.type }}"
                           data-toggle="tab"
                           data-target="#course-{{ tab.type }}"
                           {% if tab.type == "news" and unread_news is not None %}
                                data-has-unread="{% if unread_news > 0 %}true{% else %}false{% endif %}"
                                data-notifications-url="{{ course.get_course_news_notifications_url }}"
                           {% endif %}
                           href="{{ course.get_absolute_url }}{{ tab.type }}/">
                            {{ tab.name }}{% if tab.type == "news" and unread_news > 0 %} <span class="badge badge-success">+{{ unread_news }}</span>{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% with tab=course_tabs.about %}
                <div class="tab-pane {% if tab.is_default %}active{% endif %}" role="tabpanel" id="course-{{ tab.type }}">
                    <div class="ubertext course-description">
                    {% if course.description %}
                      {% markdown 3600 "course_description" course.pk course.modified %}
                        {{ course.description }}
                      {% endmarkdown %}
                    {% else %}
                      {% markdown 3600 "meta_course" course.meta_course.pk course.meta_course.modified %}
                        {{ course.meta_course.description }}
                      {% endmarkdown %}
                    {% endif %}
                    </div>
                </div>
                {% endwith %}

                {% if "contacts" in course_tabs and course_tabs.contacts.tab_panel %}
                {% with tab=course_tabs.contacts %}
                    <div class="tab-pane {% if tab.is_default %}active{% endif %}" role="tabpanel" id="course-{{ tab.type }}">
                    {% for course_teacher in tab.tab_panel.context.items %}
                        {% with user_object=course_teacher.teacher %}
                            <h4>{{ user_object.get_full_name }}</h4>
                            {% markdown 3600 "user_private_contacts" user_object.pk user_object.modified %}
                            {{ user_object.private_contacts }}{% endmarkdown %}
                        {% endwith %}
                    {% endfor %}
                    </div>
                {% endwith %}
                {% endif %}

                {% if "reviews" in course_tabs and course_tabs.reviews.tab_panel %}
                {% with tab=course_tabs.reviews %}
                    <div class="tab-pane {% if tab.is_default %}active{% endif %}" role="tabpanel" id="course-{{ tab.type }}">
                        {% for review in tab.tab_panel.context.items %}
                            <h4>{{ review.course.semester|title }}, {{ review.course.main_branch.name }}</h4>
                              {% markdown 3600 "course_reviews" review.pk review.modified %}
                                {{ review.text }}
                              {% endmarkdown %}
                        {% endfor %}
                    </div>
                {% endwith %}
                {% endif %}

                {% if "classes" in course_tabs and course_tabs.classes.tab_panel %}
                {% with tab=course_tabs.classes %}
                    <div class="tab-pane {% if tab.is_default %}active{% endif %}" role="tabpanel" id="course-{{ tab.type }}">
                      <table class="table timetable" width="100%">
                        <thead>
                        <tr>
                          <th class="nobreak">{% trans "Date and time" %}</th>
                          <th>{% trans "Class|Name" %}</th>
                          <th style="min-width: 140px;">{% trans "Venue|short" %}</th>
                          <th style="width: 110px;">{% trans "Materials" %}</th>
                        </tr>
                        </thead>
                        {% for course_class in tab.tab_panel.context.items %}
                        <tr>
                            <td>{{ course_class.date|date:"d E" }}<br><span class="text-muted">{{ course_class.starts_at|time:"H:i" }}–{{ course_class.ends_at|time:"H:i" }}</span></td>
                          <td>
                            <a href="{{ course_class.get_absolute_url }}">
                              {{ course_class.name }}</a><span class="text-muted">, {% if course_class.type == 'lecture'%}{% trans 'Lecture'|lower %}{% else %}{% trans 'Seminar'|lower %}</span>{% endif %}
                          </td>
                          <td>
                            <a href="{{ course_class.venue.location.get_absolute_url }}">{{ course_class.venue.location.name }}</a>
                          </td>
                          <td>
                              {% if course_class.materials_is_public or has_access_to_private_materials %}
                              {% with available_materials=course_class.get_available_materials %}
                                  {% if available_materials %}
                                      {% for m in available_materials %}<a href="{{ course_class.get_absolute_url }}#{{ m.type }}">{{ m.name }}</a>{% if not forloop.last %},{% if forloop.counter|divisibleby:2 %} {% else %}&nbsp;{% endif %}{% endif %}{% endfor %}
                                  {% else %}
                                      {% trans "No" %}
                                  {% endif %}
                              {% endwith %}
                              {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                {% endwith %}
                {% endif %}

                {% if "assignments" in course_tabs and course_tabs.assignments.tab_panel %}
                {% with tab=course_tabs.assignments %}
                    <div class="tab-pane {% if tab.is_default %}active{% endif %}" role="tabpanel" id="course-{{ tab.type }}">
                        <table class="table timetable">
                        <thead>
                            <tr>
                              <th>{% trans "Deadline" %}</th>
                              <th>{% trans "Title" %}</th>
                              <th class="nobreak" width="25%">{% trans "Submission Type" %}</th>
                              <th style="width: 110px;">{% trans "Files" %}</th>
                            </tr>
                        </thead>
                        {% for assignment in tab.tab_panel.context.items %}
                            <tr>
                                <td>
                                    <div class="assignment-deadline">
                                        {% call_method assignment "deadline_at_local" tz_override as assignment_deadline_at_local %}
                                        {{ assignment_deadline_at_local|date:"d E" }}<br>
                                        <span class="text-muted">{{ assignment_deadline_at_local|time:"H:i" }}</span>
                                    </div>
                                </td>
                                <td>
                                    {% if assignment.magic_link %}
                                        <a href="{{ assignment.magic_link }}">{{ assignment.title }}</a>
                                    {% else %}
                                        <div>{{ assignment.title }}</div>
                                    {% endif %}
                                </td>
                                <td>{{ assignment.get_submission_type_display }}</td>
                                <td>
                                    {% for attachment in assignment.assignmentattachment_set.all %}
                                        {% if assignment.magic_link %}
                                            <a href="{{ attachment.get_download_url }}">{{ attachment.file_ext }}</a>{% if not forloop.last %}, {% endif %}
                                        {% else %}
                                            {{ attachment.file_ext }}{% if not forloop.last %}, {% endif %}
                                        {% endif %}
                                        {% empty %}
                                            Нет
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                      </table>
                    </div>
                {% endwith %}
                {% endif %}

                {% if "news" in course_tabs and course_tabs.news.tab_panel %}
                {% with tab=course_tabs.news %}
                        <div class="tab-pane {% if tab.is_default %}active{% endif %}" role="tabpanel" id="course-{{ tab.type }}">
                        {% for news in tab.tab_panel.context.items %}
                            <div class="panel bg-gray" id="news-{{ news.pk }}">
                                <div class="panel-body">
                                    {% call_method news "created_local" tz_override as news_created_local %}
                                    <div class="date">{{  news_created_local|date:"d E Y" }}</div>
                                    <h4>{{ news.title }}{% if user.is_curator or user.is_teacher and is_actual_teacher %} <a href="#news-{{ news.pk }}"><i class="fa fa-link" aria-hidden="true"></i></a>{% endif %}</h4>
                                    <div class="ubertext shorten">
                                    {% markdown 3600 "co_news_text" news.pk news.modified %}
                                      {{ news.text }}
                                    {% endmarkdown %}
                                    </div>
                                </div>
                                {% if user.is_curator or user.is_teacher and is_actual_teacher %}
                                    <div class="panel-footer">
                                        {% if user.is_curator %}<a class="show_unread_notifications" title="Показать, кто не прочитал новость на сайте" href="{{ news.get_stats_url }}"><i class="fa fa-table" aria-hidden="true"></i></a>{% endif %}
                                        <a class="pull-right" href="{{ news.get_delete_url }}">{% trans "delete" %}</a>
                                        <a class="__pr5 pull-right" href="{{ news.get_update_url }}">{% trans "edit" %}</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                {% endwith %}
                {% endif %}
            </div>
    </div>

    <div class="col-xs-3">
    {% if user.is_authenticated %}
        <div class="o-buttons-vertical">
            {% call_method request.user "has_perm" "courses.add_assignment" course as can_add_assignment %}
            {% if can_add_assignment %}
                <a href="{{ course.get_create_assignment_url }}" class="btn btn-primary btn-outline btn-block" role="button">{% trans "Add assignment" %}</a>
            {% endif %}
            {% if user.is_curator or user.is_teacher and is_actual_teacher %}
              <a href="{{ course.get_create_news_url }}" class="btn btn-primary btn-outline btn-block" role="button">{% trans "Add news" %}</a>
              <a href="{{ course.get_create_class_url }}" class="btn btn-primary btn-outline btn-block">{% trans 'Add class' %}</a>
              <a href="{{ course.get_update_url }}" class="btn btn-primary btn-outline btn-block" role="button">{% trans "Edit description" %}</a>
            {% endif %}
            {% call_method request.user "has_perm" "learning.leave_course" course as can_leave_course %}
            {% if can_leave_course %}
                <a href="{{ course.get_unenroll_url }}" class="btn btn-danger btn-block">{% trans "Unenroll from the course" %}</a>
            {% else %}
                {% can_enroll_in_course request.user course request.user.get_student_profile as can_enroll %}
                {% if can_enroll %}
                    <a href="{{ course.get_enroll_url }}" class="btn btn-primary btn-block">
                        {% trans "Enroll in the course" %}
                        {% if course.is_capacity_limited %}
                            <br><small>{% trans "Places available" %}: {{ course.places_left }}</small>
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}

            {% if survey_url %}
                {% if request_user_enrollment is not None or user.is_curator %}
                    <a class=" btn btn-default btn-block btn-success"
                       href="{{ survey_url }}"
                       target="_blank">{% trans "Start survey" %}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
        <div class="o-users-vlist">
            <ul class="list-unstyled">
                {% for course_teacher in teachers.main %}
                    {% with teacher=course_teacher.teacher %}
                    <li>
                        <a href="{{ teacher.teacher_profile_url }}">
                            {% if teacher.photo %}
                                {% user_thumbnail teacher teacher.ThumbnailSize.BASE as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"><br>
                                    {% empty %}
                                {% enduser_thumbnail %}
                            {% endif %}
                            {{ teacher.get_full_name }}
                        </a>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
        {% if teachers.others %}
            <div class="o-users-vlist">
                <h4 class="text-center">{% if course.is_completed %}Помогали{% else %}Помогают{% endif %} с заданиями</h4>
                <ul class="list-unstyled">
                    {% for course_teacher in teachers.others %}
                        {% with teacher=course_teacher.teacher %}
                        <li>
                            <a href="{{ teacher.teacher_profile_url }}">{{ teacher.get_full_name }}</a>
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
  </div>
</div>

{% include "_modal.html" %}

{% endlocaltime off %}
{% endblock content %}
