{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} data-init-sections="assignmentForm,tooltips,datetimepickers,selectpickers"{% endblock body_attrs %}

{% block javascripts %}
    {% render_bundle 'teaching' 'js' %}
{% endblock javascripts %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2 class="content-title">{% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} задание</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.title|as_crispy_field }}
            {{ form.text|as_crispy_field }}
            {% with field=form.attachments %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <a class="btn btn-link p-0 pull-right has-popover"  data-content="{{ field.help_text }}"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                {% crispy_field field %}
                {% if form.instance %}
                    <ul class="list-unstyled __files mt-10">
                        {% for aa in form.instance.assignmentattachment_set.all %}
                            <li><a title="Удалить файл" href="{{ aa.get_delete_url }}"><i class="fa fa-trash-o"></i>&nbsp;{{ aa.file_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endwith %}

            <fieldset>
                <legend>Настройки задания</legend>
                <div class="row">
                    <div class="col-xs-3">
                        {% with field=form.submission_type %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </label> <a class="btn btn-link p-0 pull-right has-popover"  data-target="#submission-types-help"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                            {% crispy_field field %}
                            <div class="help-block">
                                {{ field.help_text }}
                            </div>
                            <div id="submission-types-help" class="hidden">
                                <dl class="mb-0">
                                    <dt>Через сайт</dt>
                                    <dd>Студент отправляет решение в виде текста или приложенного файла.</dd>
                                    <dt>Внешний сервис</dt>
                                    <dd>Это может быть ревью кода на github, gerrit, Яндекс.Контест, оценка за курс на stepik.org и др.</dd>
                                    <dt>Без отправки решения</dt>
                                    <dd>Например, устная форма, сдача задания непосредственно в аудитории (тест, контрольная работа, семинар&nbsp;итд)</dd>
                                </dl>
                            </div>
                        </div>
                        {% endwith %}
                    </div>
                    <div class="col-xs-5">
                        {{ form.deadline_at|as_crispy_field }}
                    </div>

                    <div class="col-xs-4">
                        {% with field=form.ttc %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <a class="btn btn-link p-0 pull-right has-popover"  data-content="{{ field.help_text }}"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                    {% crispy_field field %}
                                </div>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ form.passing_score|as_crispy_field }}
                            </div>
                            <div class="col-xs-3">
                                {% with field=form.maximum_score %}
                                    {{ field|as_crispy_field }}
                                {% endwith %}
                            </div>
                            <div class="col-xs-3">
                                {% with field=form.weight %}
                                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        <a class="btn btn-link p-0 pull-right has-popover"  data-content="{{ field.help_text }}"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                            {% crispy_field field %}
                                        </div>
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                            {% with field=form.restricted_to %}
                                {% if field.field.choices|length > 1 %}
                                <div class="col-xs-3">
                                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <a class="btn btn-link p-0 pull-right has-popover"  data-content="{{ field.help_text }}"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                                            <div>
                                                {% crispy_field field %}
                                            </div>
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
                                                {% endfor %}
                                            {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="submit" name="save" value="Сохранить" class="btn btn-primary" id="submit-id-save">
            <input type="button" name="cancel" value="Отмена" class="btn btn btn-link" id="button-id-cancel" onclick="history.go(-1);">
        </form>
    </div>
  </div>
</div>
{% endblock content %}
