{% extends "base.html" %}
{% load i18n %}
{% load markdown call_method from core_tags %}
{% load cache %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        {{ course_class.name }}<br><small><a href="{{ course_class.course.get_absolute_url }}">{{ course_class.course.meta_course.name }}</a></small>
      </h2>
      {% call_method request.user "has_perm" "learning.change_courseclass" course_class as can_edit_course_class %}
      {% call_method request.user "has_perm" "learning.delete_courseclass" course_class as can_delete_course_class %}
      <div class="btn-toolbar">
        {% if can_edit_course_class %}
            <a href="{{ course_class.get_update_url }}" class="btn btn-primary" role="button">{% trans "Edit" %}</a>
        {% endif %}
        {% if can_delete_course_class %}
            <a href="{{ course_class.get_delete_url }}" class="btn btn-danger" role="button">{% trans "Delete" %}</a>
        {% endif %}
      </div>
      <hr>
    </div>
  </div>

   {% call_method request.user "has_perm" "courses.view_course_class_materials" course_class as can_view_course_class_materials %}

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <tr>
          <td>{% trans "What" %}:</td>
          <td>{{ course_class.get_type_display }}</td>
        </tr>
        <tr>
          <td>{% trans "When" %}:</td>
          <td>{{ course_class.date|date:"l, d E Y" }}, {{ course_class.starts_at|time:"H:i" }}–{{ course_class.ends_at|time:"H:i" }}</td>
        </tr>
        <tr>
          <td>{% trans "Where" %}:</td>
          <td><a href="{{ course_class.venue.location.get_absolute_url }}">{{ course_class.venue }}</a></td>
        </tr>
        {% if course_class.slides and can_view_course_class_materials %}
        <tr>
          <td>{% trans "Slides" %}:</td>
          <td id="slides"><a href="{{ course_class.slides.url }}">{{ course_class.slides_file_name }}</a></td>
        </tr>
        {% endif %}
      </table>

      {% if course_class.description %}
      <h4 class="bigger-margin">{% trans "Description" %}</h4>
      <div class="ubertext">
        {% markdown 3600 "course_class_description" course_class.pk course_class.modified %}
          {{ course_class.description }}
        {% endmarkdown %}
      </div>
      {% endif %}

    {% if can_view_course_class_materials %}
        {% if course_class.video_iframe %}
            <a id="video" href="#"></a><h4 class="bigger-margin">{% trans "Video" %}</h4>
            <div class="">
                {{ course_class.video_iframe|safe }}
            </div>
        {% endif %}
        {% if attachments %}
            <h4 class="bigger-margin" id="attachments">{% trans "Attached files" %}</h4>
            <ul class="list">
                {% for attachment in attachments %}
                    <li>
                        <span class="assignment-attachment">
                            <i class="fa fa-file"></i>
                            <a href="{{ attachment.material.url }}">
                              {{ attachment.material_file_name }}
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if course_class.other_materials or course_class.slides_iframe %}
            <h4 class="bigger-margin" id="other_materials">{% trans "Other materials" %}</h4>
            {% if course_class.slides_iframe %}
              {{ course_class.slides_iframe|safe }}
            {% endif %}
            <div class="ubertext">
                {% markdown 3600 "course_class_materials" course_class.pk course_class.modified %}
                  {{ course_class.other_materials }}
                {% endmarkdown %}
            </div>
        {% endif %}
    {% endif %}



    </div>
  </div>
</div>
{% endblock content %}
