{% extends "base.html" %}
{% load i18n %}
{% load markdown from core_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 h2-and-buttons">
                <h2>{{ meta_course.name }}</h2>
                {% if user.is_curator %}
                    <div class="btn-toolbar">
                        <a href="{{ meta_course.get_update_url }}" class="btn btn-primary" role="button">{% trans "Edit" %}</a>
                    </div>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="ubertext">
                    {% markdown 3600 "course_description" meta_course.pk meta_course.modified %}
                        {{ meta_course.description }}
                    {% endmarkdown %}
                </div>
                <h4>{% trans 'Course Offerings' %}</h4>
                {% if courses %}
                    <table class="table" width="100%">
                        <tr class="active">
                            <th>{% trans "Semester" %}</th>
                        </tr>
                        {% for course in courses %}
                            <tr><td><a href="{{ course.get_absolute_url }}">{{ course.semester }}</a></td></tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Прочтений данного курса пока не было.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
