$top-banner-height: 64px;

.top-banner {
  background-color: darken($gray-darker, 10%);
  display: flex;
  align-items: center;
  width: 100%;
  height: $top-banner-height;
  padding: 0;

  svg {
    display: none;
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }
}

.top-banner__text {
  color: $white;
  text-align: center;
  font-size: $font-size-sm;
  text-transform: uppercase;
  @include media-breakpoint-up(lg) {
    font-weight: $font-weight-light;
    letter-spacing: 2px;
  }
}

.top-banner__link {
  color: $white;
  padding-bottom: 1px;
  border-bottom: 1px solid transparentize($white, .5);
  font-weight: $font-weight-normal;

  &:hover {
    border-bottom: 1px solid transparentize($teal, .5);
    color: lighten($teal, 20%);
  }
}

.top-banner-spacer {
  height: $top-banner-height;
  @include media-breakpoint-up(lg) {
    height: 0;
  }
}

// hack
._top-banner-kids {
  margin-right: 5px;
  position: relative;
  bottom: -6px;
}
