// Variables
$dropdown-min-width: 10rem;
$dropdown-padding-y: .4rem;
$dropdown-spacer: 0;
$dropdown-bg: $white;
$dropdown-border-color: rgba($black, .15);
$dropdown-border-width: $border-width;
$dropdown-divider-bg: $gray-200;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175);

$dropdown-link-color: $black;
$dropdown-link-hover-color: darken($gray-600, 5%);
$dropdown-link-hover-bg: $gray-100;

$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;

$dropdown-link-disabled-color: $gray-600;

$dropdown-item-padding-y: .2rem;
$dropdown-item-padding-x: .8rem;

$dropdown-header-color: $gray-600;
$dropdown-border-radius: 4px;

$zindex-dropdown: 1000;

$caret-width: 0;

// Imports
@import "bootstrap/scss/dropdown";

._arrow-right {
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $white;
  }
}
