// Variables
$dropdown-min-width: 10rem;
$dropdown-padding-y: spacer("2x");
$dropdown-spacer: 0;
$dropdown-bg: $white;
$dropdown-border-color: rgba($black, .15);
$dropdown-border-width: $border-width;
$dropdown-divider-bg: $gray-disable-light;
$dropdown-box-shadow: 0 0 1rem rgba($black, .175);

$dropdown-link-color: $black;
$dropdown-link-hover-color: $black;
$dropdown-link-hover-bg: $gray-lighter;

$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;

$dropdown-link-disabled-color: $gray-disable-dark;

$dropdown-item-padding-y: spacer("1x");
$dropdown-item-padding-x: spacer("3x");

$dropdown-header-color: $gray-disable-dark;
$dropdown-border-radius: 4px;

$zindex-dropdown: 1000;

$caret-width: 0;

// Imports
@import "bootstrap/scss/dropdown";

.dropdown-menu {
  border: none;
  box-shadow: $dropdown-box-shadow;
}

._arrow-right {
  &::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid $white;
  }
}
