@import "bootstrap/scss/grid";

._dark {
  background: $gray-100;
}

.page-content {
  padding-top: 80px;
  padding-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
  }
}

.content-center{
  justify-content: center;
}
