@mixin list-item-marker($code) {
  content: $code;
  color: $gray-light;
  float: left;
  margin-left: -#{spacer("6x")};
}

@mixin list-dashed($container, $element) {
  list-style: none;

  > #{$element}::before {
    @include list-item-marker("\2014");  // EM DASH
  }

  > #{$element} #{$container} > #{$element}::before {
    @include list-item-marker("\2022");  // BULLET
  }
}

.ui.list {
  padding: 0;
  margin: spacer("2x") 0 spacer("6x") spacer("6x");
  @include media-breakpoint-up(md) {
    margin: spacer("2x") 0 spacer("6x") 3.5rem;
  }
}

.list__item {
  margin-bottom: spacer("2x");

  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul {
  @extend .ui.list;

  li {
    @extend .list__item;
  }
}

ul:not(.ui) {
  @include list-dashed("ul", "li");
}

.ui.list._dashed {
  @include list-dashed(".ui.list", ".list__item");
}

.ui.list._divided {
  border-bottom: $border-width solid $gray-lighter;
  margin: 0;

  > .list__item {
    display: block;
    padding: spacer("3x") 0;
    border-top: $border-width solid $gray-lighter;
    margin: 0;

    & :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.ui.list._selection {
  .list__item {
    padding: spacer("3x") spacer("4x");
    &:hover {
      background-color: $gray-lighter;
    }

    &._active {
      color: $white;
      background-color: $gray-dark;
    }
  }
}

//noinspection Stylelint
ul.ui {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    margin: 0;
  }
}


dl {
  dt {
    font-size: $h3-font-size;
    font-weight: $font-weight-normal;
  }
}
