.list {
  padding: 0;
  margin: spacer("2x") 0 spacer("6x") spacer("6x");
  @include media-breakpoint-up(md) {
    margin: spacer("2x") 0 spacer("6x") 3.5rem;
  }

  &.ui {
    padding: 0;
    margin: 0;
    list-style: none;

    .list__item {
      margin: 0;
    }

    &._divided {
      margin: 0;
      border-bottom: $border-width solid $gray-lighter;

      .list__item {
        padding: spacer("3x") spacer("4x");
        border-top: $border-width solid $gray-lighter;
      }
    }
  }
}

.list__item {
  margin-bottom: spacer("2x");
}

ul,
ol,
dl {
  @extend .list;

  li {
    @extend .list__item;
  }
}

// `:not(.ui)` helps to avoid unnecessary pseudo elements before li tag.
ul:not(.ui) {
  list-style: none;

  > li::before {
    content: "\2014";
    color: $gray-light;
    float: left;
    margin-left: -#{spacer("6x")};
  }
  > li ul > li::before {
    content: "\2022";
    margin-left: -#{spacer("4x")};
  }
}


.list._playlist {
  .list__item {
    font-size: $font-size-base;
    display: flex;
    position: relative;
    align-items: center;

    &:hover {
      background-color: $gray-lighter;
    }

    .item__text {
      flex-shrink: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 0.07em;
      margin-right: spacer("2x");
    }

    .item__ordinal {
      margin-right: spacer("1x");
      color: $gray-light;
    }

    .item__icons {
      flex-shrink: 0;
      min-width: 48px;
      margin-left: auto;
      text-align: right;
    }

    .sprite-img {
      margin-right: spacer("2x");
      fill: $gray-light;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}