// svg sprite dimensions base cls
.sprite-img {
  display: inline-block;
  vertical-align: middle;
}

.svg-inline {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  left: -1px;
  top: -1px;
}
