.timeline {
  border-left: $border-width solid $gray-light;
  margin-top: spacer("10x");
  position: relative;
  padding: 0 12px;
}

.timeline__date {
  $bullet-margin: 16px;
  $bullet-border: 2px;
  $item-height: 32px;

  display: block;
  position: relative;
  line-height: $item-height;
  color: $gray-light;

  &:before {
    z-index: 2;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $gray-light;
    border-radius: 50%;
    position: absolute;
    left: -$bullet-margin;
    top: 12px;
  }

  &.active {
    color: $gray-dark;

    &:before {
      width: 12px;
      height: 12px;
      background-color: $white;
      border: 2px solid $gray-dark;
      left: -$bullet-margin - $bullet-border;
      top: 12px - $bullet-border;
    }
  }

  &:first-child {
    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: -$bullet-margin;
      width: 8px;
      height: $item-height / 2;
      background-color: $white;
    }
  }

  &:last-child {
    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: 0;
      left: -$bullet-margin;
      width: 8px;
      height: $item-height / 2;
      background-color: $white;
    }
  }
}