$tooltip-font-size:                 $font-size-sm !default;
$tooltip-max-width:                 300px;
$tooltip-color:                     $black;
$tooltip-bg:                        $white;
$tooltip-border-radius:             $border-radius !default;
$tooltip-opacity:                   1;
$tooltip-padding-y:                 spacer("1x");
$tooltip-padding-x:                 spacer("2x");
$tooltip-margin:                    0 !default;

$tooltip-arrow-width:               .8rem !default;
$tooltip-arrow-height:              .4rem !default;
$tooltip-arrow-color:               $tooltip-bg !default;

$tooltip-width:                     1.5rem;
$tooltip-height:                    $tooltip-width;

@import "bootstrap/scss/tooltip";

.tooltip-inner {
  box-shadow: $dropdown-box-shadow;
  text-align: left;
}

.tooltip__icon {
  color: $white !important;
  display: inline-block;
  background-color: $teal;
  width: $tooltip-width;
  height: $tooltip-height;
  border-radius: 50%;
  text-align: center;
  line-height: $tooltip-height;
}