{% extends "compscicenter_ru/layouts/base.html" %}

{% block body_attrs %}data-init-sections="tabs,collapsible"{% endblock body_attrs %}

{% block sprites %}
  <script type="text/javascript">
    (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg")  }}");
  </script>
{% endblock sprites %}

{% block content %}
  <div class="container py-10">
    <div class="row mt-8">
      <div class="col-md-10">
        <h1 class="h2 mb-10">Сотрудничество с СПБГУ</h1>
        <h2 class="h1 mb-0">Факультет математики и компьютерных наук СПбГУ (МКН СПбГУ)</h2>
        <p class="ui label _icon mt-4">
          {{ macros.svg_icon('web') }} <a href="https://math-cs.spbu.ru" target="_blank"
                                          rel="nofollow noopener">math-cs.spbu.ru</a>
        </p>
        <p class="mt-4">
          На базе МКН СПбГУ проходит обучение по следующим образовательным программам:
        </p>
        <ul>
          <li>
            Бакалавриат
            <ul>
              <li><a href="https://math-cs.spbu.ru/bsc-math/" target="_blank" rel="nofollow noopener">Математика</a></li>
              <li><a href="https://maad.compscicenter.ru/" target="_blank" rel="nofollow noopener">Науки о данных</a></li>
              <li><a href="https://bsse.compscicenter.ru/" target="_blank" rel="nofollow noopener">Современное программирование</a></li>
            </ul>
          </li>
          <li>
            Магистратура
            <ul>
              <li><a href="http://math-cs.spbu.ru/msc-math/" target="_blank" rel="nofollow noopener">Современная математика</a></li>
              <li>В 2022–23 учебном году планируется открытие магистратуры по программированию и наукам о данных.</li>
            </ul>
          </li>
        </ul>

        <p>Подробнее о действующих программах:</p>

        <h3 class="h2 mt-8">Бакалавриат</h3>
        <h4 class="h3 mt-6">Математика</h4>
        <p>На программе подробно изучаются такие классические области математики как алгебра, геометрия, математический анализ, топология,
          динамические системы, дифференциальные уравнения, математическая логика, а также теоретическая информатика. В обязательную часть
          программы также входят курсы теории вероятностей и математической статистики, математической физики, комбинаторики, и пр.</p>
        <p>Преподаватели — учёные, ведущие научные исследования мирового уровня, поэтому у вас будет возможность погрузиться в
          международную научную жизнь с самого начала обучения. Совет программы возглавляет лауреат Филдсовской премии С. К. Смирнов.</p>
        <p>Выпускники реализуют себя в различных областях: как учёные исследовательских институтов, сотрудники инновационных центров в
          крупных индустриальных компаниях, разработчики наукоёмкого программного обеспечения, специалисты в области статистики и обработки
          данных, преподаватели лучших университетов России и мира.</p>

        <h4 class="h3 mt-6">Науки о данных</h4>
        <p>Новая программа Науки о данных, первый приём на которую состоялся в 2019 году, сочетает фундаментальное математическое
          образование с изучением современного программирования и анализа данных. Особенность программы — совместные лекции с программой
          «Математика» на младших курсах, на которых студенты получают знания и навыки действующих учёных-математиков.</p>
        <p>В то же время программа включает в себя базовые курсы по программированию, а также курсы по современным статистическим и
          алгоритмическим методам обработки данных. Студентам предлагаются темы научных исследований, связанные с разработками ведущих
          компаний в области информационных технологий.</p>
        <p>Программа разработана совместно с компанией Яндекс.</p>

        <h4 class="h3 mt-6">Современное программирование</h4>
        <p>Выпускники смогут работать в областях программирования, традиционно считающихся сложными. Эти области — проектирование
          алгоритмов, реализация распределённых и высоконагруженных приложений, разработка компиляторов, операционных систем, систем баз
          данных — жизненно необходимы во всех больших компаниях.</p>
        <p>Поэтому как и на других программах факультета студенты Современного программирования активно изучают математику. Уже с первого
          курса студенты пишут много кода и участвуют в реальных программных проектах. Эти проекты дают и ценный опыт работы в условиях,
          максимально похожих на «боевые», и возможность освоения различных технологий. Небольшой набор позволяет уделять каждому студенту
          много внимания (в частности, регулярно проводить ревью кода).</p>
        <p>Программа разработана совместно с компанией JetBrains, сотрудники которой читают курсы студентам и приглашают их участвовать в
          своих проектах.</p>
        <h3 class="h2 mt-8">Магистратура</h3>
        <h4 class="h3 mt-6">Современная математика</h4>
        <p>Новая магистерская программа создана вместе с коллективом научной лабораторией им. П.Л. Чебышёва в 2019 году и включает
          направление по теоретической информатике. Обучение проводится в основном на английском языке, вступительные испытания: письменная
          часть по математике и собеседование.</p>
      </div>
    </div>
  </div>
{% endblock content %}
