{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Change password" %}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <form action="{% url 'password_change' %}" method="post" role="form" class="form-horizontal">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}

      {% buttons %}
      <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
      </div>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock content %}
