Уважаемый пользователь,

мы получили запрос о смене пароля для Вашей учетной записи на сайте Computer Science Center ({{ email }}). Нажмите <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">здесь<a>, чтобы перейти к форме создания нового пароля.

Если Вы не отправляли запрос на изменение пароля, проигнорируйте это письмо. Через 48 часов ссылка станет неактивной. В этом случае при желании восстановить пароль потребуется отправить новый запрос.

Это письмо отправлено автоматически и не требует ответа.
