{% extends "lms/layouts/v1_base.html" %}

{% import "lms/macros/_forms.jinja2" as forms %}

{% block body_attrs %} data-init-sections="assignmentForm,tooltips,datetimepickers,selectpickers"{% endblock body_attrs %}

{% block javascripts %}
  {{ render_bundle('teaching', config='V1', extension='js') }}
{% endblock javascripts %}

{% block content %}
  {% set assignment = assignment_form.instance %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="content-title mb-20">
          {% if assignment.pk %}Редактировать{% else %}Добавить{% endif %} задание<br>
          <small><a href="{{ assignment.course.get_absolute_url() }}">{{ assignment.course }}</a></small>
        </h2>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ assignment_form.non_field_errors() }}
          {{ forms.field(assignment_form['title']) }}
          {{ forms.field(assignment_form['text']) }}
          {% with field=assignment_form.attachments %}
            <div class="form-group">
              {{ forms.field(field, popover_help_text=field.help_text) }}
              {% if assignment %}
                <ul class="list-unstyled __files mt-10">
                  {% for aa in assignment.assignmentattachment_set.all() %}
                    <li><a title="Удалить файл" href="{{ aa.get_delete_url() }}"><i class="fa fa-trash-o"></i>&nbsp;{{ aa.file_name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endwith %}

          <fieldset>
            <legend>Настройки задания</legend>
            <div class="row">
              <div class="col-xs-3">
                {% with field=assignment_form.submission_type %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
                    <a class="btn btn-link p-0 pull-right has-popover" data-target="#submission-formats-help-block">
                      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                    <div id="submission-formats-help-block" class="hidden">
                      <dl class="mb-0">
                        <dt>Через сайт</dt>
                        <dd>Студент отправляет решение в виде текста или приложенного файла.</dd>
                        <dt>Яндекс.Контест</dt>
                        <dd>Студенты сдают решение на платформе Яндекс.Контест, отправка решений через сайт закрыта. Нужно самостоятельно зарегистрировать участников контеста, логины есть в ведомости курса.</dd>
                        <dt>Внешний сервис</dt>
                        <dd>Это может быть ревью кода на github или gitlab, оценка за курс на stepik.org и др.</dd>
                        <dt>Задача с код-ревью</dt>
                        <dd>Если в качестве проверяющей системы выбран Яндекс.Контест, то файл с решением сначала отправляется в Яндекс.Контест. Если решение проходит все тесты - создаётся тикет на проверку в системе Gerrit.</dd>
                        <dt>Без отправки решения</dt>
                        <dd>Например, устная форма, сдача задания непосредственно в аудитории (тест, контрольная работа, семинар&nbsp;итд)
                        </dd>
                      </dl>
                    </div>
                    {{ forms.field(field, hide_label=True) }}
                  </div>
                {% endwith %}
              </div>
              <div class="col-xs-3">
                {% with field = assignment_form['ttc'] -%}
                  {{ forms.field(field, prepend_text='<i class="fa fa-clock-o"></i>', popover_help_text=field.help_text) }}
                {%- endwith %}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                {{ forms.field(assignment_form['deadline_at']) }}
              </div>
              <div class="col-xs-3">
                {{ forms.field(assignment_form['time_zone']) }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-3">
                    {{ forms.field(assignment_form['passing_score']) }}
                  </div>
                  <div class="col-xs-3">
                      {{ forms.field(assignment_form['maximum_score']) }}
                  </div>
                  <div class="col-xs-3">
                      {% with field = assignment_form['weight'] -%}
                        {{ forms.field(field, prepend_text='<i class="fa fa-clock-o"></i>', popover_help_text=field.help_text) }}
                      {%- endwith %}
                  </div>
                  {% with field=assignment_form.restricted_to -%}
                    {% if field.field.choices|length > 1 %}
                      <div class="col-xs-3">
                        {{ forms.field(field, popover_help_text=field.help_text) }}
                      </div>
                    {% endif %}
                  {%- endwith %}
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset id="checking-system-info" {% if assignment.format not in formats_with_checker %}class="hidden"{% endif %}
                    data-display="{{ formats_with_checker|join(",") }}">
            <legend>Настройки проверяющей системы</legend>
            <div class="row">
              <div class="col-xs-3">
                {{ forms.field(assignment_form['checking_system']) }}
              </div>
              <div class="col-xs-9">
                {{ forms.field(assignment_form['checker_url']) }}
              </div>
            </div>
          </fieldset>

          <fieldset id="responsible-teachers-settings">
            <legend>Ответственные за задание</legend>
            <div class="row">
              <div class="col-xs-4">
                {% with field=assignment_form.assignee_mode %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
                    <a class="btn btn-link p-0 pull-right has-popover" data-target="#assignee-modes-help-block">
                      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                    <div id="assignee-modes-help-block" class="hidden" data-placement="bottom">
                      <p>
                        Режим выбора ответственных влияет на список преподавателей, которые будут получать уведомления об активности
                        студента, если проверяющий задание не назначен. Если проверяющий назначен, только он получает уведомления.
                      </p>
                      <p>
                        Проверяющий указывается либо вручную на странице проверки задания, либо автоматически в момент первой активности
                        студента, но только если список ответственных состоит из одного преподавателя.
                      </p>
                      <dl class="mb-0">
                        <dt>Без ответственного</dt>
                        <dd>Проверяющий автоматически не назначается. Никто из преподавателей не получает уведомления, пока вручную не будет указан проверяющим на странице проверки задания.</dd>
                        <dt>Вручную</dt>
                        <dd>Ответственные выбираются из списка преподавателей курса. По умолчанию выбраны все преподаватели с ролью "Проверяющий ДЗ".</dd>
                        <dt>Студенческие группы по умолчанию</dt>
                        <dd>Список ответственных берётся из настроек студенческой группы, с которой связан студент. Убедитесь, что вы указали ответственного для каждой студенческой группы (сейчас разрешено указывать только одного ответственного).</dd>
                        <dt>Студенческие группы вручную</dt>
                        <dd>В этом режиме можно кастомизировать ответственных студенческих групп для текущего задания.</dd>
                      </dl>
                    </div>
                    {{ forms.field(field, hide_label=True) }}
                  </div>
                {% endwith %}
              </div>
            </div>
            <div class="row {% if assignment.assignee_mode != AssigneeMode.MANUAL %}hidden{% endif %}" data-assignee-mode="{{ AssigneeMode.MANUAL }}">
              <div class="col-xs-12">
                <b>Выберите ответственных из списка</b>
                {{ crispy(responsible_teachers_form) }}
              </div>
            </div>
            <div class="row {% if assignment.assignee_mode != AssigneeMode.STUDENT_GROUP_CUSTOM %}hidden{% endif %}" data-assignee-mode="{{ AssigneeMode.STUDENT_GROUP_CUSTOM }}">
              <div class="col-xs-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 50%;">Название группы</th>
                      <th>Ответственный</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student_group in student_groups_custom_form.student_groups %}
                      <tr>
                        <td>
                          {% set field = student_groups_custom_form['assignee-' + student_group.pk|string + '-name'] %}
                          {{ field.value() }}
                        </td>
                        <td>
                          {% set field = student_groups_custom_form['assignee-' + student_group.pk|string + '-teacher'] %}
                          {{ forms.field(field, hide_label=True, wrapper_classes='mb-0') }}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </fieldset>

          <input type="submit" name="save" value="Сохранить" class="btn btn-primary" id="submit-id-save">
          <input type="button" name="cancel" value="Отмена" class="btn btn btn-link" id="button-id-cancel" onclick="history.go(-1);">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
