{% extends "lms/layouts/v1_base.html" %}

{% import "lms/macros/_forms.jinja2" as forms %}

{% block body_attrs %} data-init-sections="assignmentForm,tooltips,datetimepickers,selectpickers"{% endblock body_attrs %}

{% block javascripts %}
  {{ render_bundle('teaching', config='V1', extension='js') }}
{% endblock javascripts %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="content-title mb-20">
          {% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} задание<br>
          <small><a href="{{ form.instance.course.get_absolute_url() }}">{{ form.instance.course }}</a></small>
        </h2>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors() }}
          {{ forms.field(form['title']) }}
          {{ forms.field(form['text']) }}
          {% with field=form.attachments %}
            <div class="form-group">
              {{ forms.field(field, popover_help_text=field.help_text) }}
              {% if form.instance %}
                <ul class="list-unstyled __files mt-10">
                  {% for aa in form.instance.assignmentattachment_set.all() %}
                    <li><a title="Удалить файл" href="{{ aa.get_delete_url }}"><i class="fa fa-trash-o"></i>&nbsp;{{ aa.file_name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endwith %}

          <fieldset>
            <legend>Настройки задания</legend>
            <div class="row">
              <div class="col-xs-3">
                {% with field=form.submission_type %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                    </label>
                    <a class="btn btn-link p-0 pull-right has-popover" data-target="#submission-formats-help-block">
                      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                    <div id="submission-formats-help-block" class="hidden">
                      <dl class="mb-0">
                        <dt>Через сайт</dt>
                        <dd>Студент отправляет решение в виде текста или приложенного файла.</dd>
                        <dt>Внешний сервис</dt>
                        <dd>Это может быть ревью кода на github, gerrit, Яндекс.Контест, оценка за курс на stepik.org и др.</dd>
                        <dt>Без отправки решения</dt>
                        <dd>Например, устная форма, сдача задания непосредственно в аудитории (тест, контрольная работа, семинар&nbsp;итд)
                        </dd>
                      </dl>
                    </div>
                    {{ forms.field(field, hide_label=True) }}
                  </div>
                {% endwith %}
              </div>
              <div class="col-xs-5">
                {{ forms.field(form['deadline_at']) }}
              </div>
              <div class="col-xs-4">
                {% with field = form['ttc'] -%}
                  {{ forms.field(field, prepend_text='<i class="fa fa-clock-o"></i>', popover_help_text=field.help_text) }}
                {%- endwith %}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-3">
                    {{ forms.field(form['passing_score']) }}
                  </div>
                  <div class="col-xs-3">
                      {{ forms.field(form['maximum_score']) }}
                  </div>
                  <div class="col-xs-3">
                      {% with field = form['weight'] -%}
                        {{ forms.field(field, prepend_text='<i class="fa fa-clock-o"></i>', popover_help_text=field.help_text) }}
                      {%- endwith %}
                  </div>
                  {% with field=form.restricted_to -%}
                    {% if field.field.choices|length > 1 %}
                      <div class="col-xs-3">
                        {{ forms.field(field, popover_help_text=field.help_text) }}
                      </div>
                    {% endif %}
                  {%- endwith %}
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset id="checking-system-info" {% if not form.instance.checking_system_needed %}class="hidden"{% endif %}
                    data-display="{{ form.checking_system_fieldset_display }}">
            <legend>Настройки проверяющей системы</legend>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-3">
                    {{ forms.field(form['checking_system']) }}
                  </div>
                  <div class="col-xs-9">
                    {{ forms.field(form['checker_url']) }}
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <input type="submit" name="save" value="Сохранить" class="btn btn-primary" id="submit-id-save">
          <input type="button" name="cancel" value="Отмена" class="btn btn btn-link" id="button-id-cancel" onclick="history.go(-1);">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
