{% extends "lms/layouts/v1_base.html" %}

{% import "lms/macros/_global.jinja2" as macros -%}

{% block content %}
{%- set tz = request.user.time_zone -%}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        {{ course_class.name }}<br><small><a href="{{ course_class.course.get_absolute_url() }}">{{ course_class.course.meta_course.name }}</a></small>
      </h2>
        {% set can_edit_course_class = request.user.has_perm("learning.change_courseclass", course_class) %}
        {% set can_delete_course_class = request.user.has_perm("learning.delete_courseclass", course_class) %}
      <div class="btn-toolbar">
        {% if can_edit_course_class %}
            <a href="{{ course_class.get_update_url() }}" class="btn btn-primary" role="button">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
        {% if can_delete_course_class %}
            <a href="{{ course_class.get_delete_url() }}" class="btn btn-danger" role="button">{% trans %}Delete{% endtrans %}</a>
        {% endif %}
      </div>
      <hr>
    </div>
  </div>

    {% set can_view_course_class_materials = request.user.has_perm("courses.view_course_class_materials", course_class) %}

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <tr>
          <td>{% trans %}What{% endtrans %}:</td>
          <td>{{ course_class.get_type_display() }}</td>
        </tr>
        <tr>
          <td>{% trans %}When{% endtrans %}:</td>
          <td>{{ course_class.starts_at_local(tz)|date("l, d E Y") }}, {{ course_class.starts_at_local(tz)|time("H:i") }}–{{ course_class.ends_at_local(tz)|time("H:i") }}</td>
        </tr>
        <tr>
          <td>{% trans %}Where{% endtrans %}:</td>
          <td><a href="{{ course_class.venue.location.get_absolute_url() }}">{{ course_class.venue.full_name }}</a></td>
        </tr>
        {% if course_class.slides and can_view_course_class_materials %}
        <tr>
          <td>{% trans %}Slides{% endtrans %}:</td>
          <td id="slides"><a href="{{ course_class.get_slides_download_url() }}">{{ course_class.slides_file_name }}</a></td>
        </tr>
        {% endif %}
      </table>

      {% if course_class.description %}
      <h4 class="bigger-margin">{% trans %}Description{% endtrans %}</h4>
      <div class="ubertext">
          {{ course_class.description|markdown("course_class_description", 3600, course_class.pk, course_class.modified) }}
      </div>
      {% endif %}

    {% if can_view_course_class_materials %}
        {% if course_class.video_url %}
          <a id="video" href="#"></a>
          <h4 class="bigger-margin">{% trans %}Video{% endtrans %}</h4>
          {{ macros.b3_video_iframe(course_class.video_url) }}
        {% endif %}
        {% if attachments %}
            <h4 class="bigger-margin" id="attachments">{% trans %}Attached files{% endtrans %}</h4>
            <ul class="list">
                {% for attachment in attachments %}
                    <li>
                        <span class="assignment-attachment">
                            <i class="fa fa-file"></i>
                            <a href="{{ attachment.get_download_url() }}">{{ attachment.material_file_name }}</a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if course_class.other_materials %}
            <h4 class="bigger-margin" id="other_materials">{% trans %}Other materials{% endtrans %}</h4>
            <div class="ubertext">
                {{ course_class.other_materials|markdown("course_class_materials", 3600, course_class.pk, course_class.modified) }}
            </div>
        {% endif %}
    {% endif %}



    </div>
  </div>
</div>
{% endblock content %}
