{% extends "lms/layout/v1_base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 h2-and-buttons">
                <h2>{{ meta_course.name }}</h2>
                {% set can_update_meta_course = request.user.has_perm("courses.change_metacourse", course) %}
                {% if can_update_meta_course %}
                    <div class="btn-toolbar">
                        <a href="{{ meta_course.get_update_url() }}" class="btn btn-primary" role="button">{% trans %}Edit{% endtrans %}</a>
                    </div>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="ubertext">
                    {{ meta_course.description|markdown("course_description", 3600, meta_course.pk, meta_course.modified) }}
                </div>
                <h4>{% trans %}Course Offerings{% endtrans %}</h4>
                {% if courses %}
                    <table class="table" width="100%">
                        <tr class="active">
                            <th>{% trans %}Semester{% endtrans %}</th>
                            <th>{% trans %}Branch{% endtrans %}</th>
                        </tr>
                        {% for course in courses %}
                            <tr>
                                <td><a href="{{ course.get_absolute_url() }}">{{ course.semester }}</a></td>
                                <td>{{ course.main_branch.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Прочтений данного курса пока не было.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
