<div class="container page-content">
    <h1>Card + Cover</h1>
    <div class="row">
        <div class="col-lg">
            <div class="card">
                <div class="card__header cover">
                    <div class="cover__content">
                        <h2 class="cover__title">Default styles</h2>
                    </div>
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Card Title
                    </div>
                    <p>
                    Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                    живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                    будним вечерам и
                    выходным.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card">
                <div class="card__header cover _img"
                     style="background-image:url('/static/v2/img/pages/syllabus/distance/algorythms-part1.png')">
                    <div class="cover__content text-left p-4">
                        <h2 class="mb-2">Custom padding</h2>
                        <p>Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                            живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                            будним вечерам и
                            выходным.</p>
                    </div>
                </div>
                <div class="card__content">
                    <div class="grouped">
                        <div class="ui label _icon">
                            {{ macros.svg_icon('location') }}<span>Санкт-Петербург, БЦ «Таймс»</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card text-center">
                <div class="card__header cover _img"
                     style="background-image:url('/static/v2/img/pages/syllabus/distance/algorythms-part1.png');">
                    <div class="cover__content">
                        <h2 class="cover__title">Заголовок</h2>
                    </div>
                </div>
                <div class="card__content">
                    Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                    живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                    будним вечерам и
                    выходным.
                </div>
            </div>
        </div>

        <div class="row mt-10">
            <div class="col-lg-6">
                <div class="card text-center">
                    <div class="card__header cover _img"
                         style="background-image:url('/static/v2/img/pages/syllabus/distance/algorythms-part1.png');">
                        <nav class="cover__content text-left">
                            <a href="#"
                               class="btn _extra-small _outline _white _rounded _m-collapse">{{ macros.svg_icon('arrow-left') }}<span>Описание курса</span></a>
                            <div class="float-right">
                                <a href="#" class="btn _extra-small _primary _rounded">Записаться на осень 2019</a>
                            </div>
                        </nav>
                        <div class="cover__content _big">
                            <h2 class="cover__title">Заголовок</h2>
                        </div>
                    </div>
                    <div class="card__content">
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card text-center">
                    <div class="card__header cover _green-gradient">
                        <nav class="cover__content text-left">
                            <div class="float-right">
                                <a href="#" class="btn _extra-small _primary _rounded">Записаться на осень 2019</a>
                            </div>
                        </nav>
                        <div class="cover__content _big">
                            <h2 class="cover__title">Заголовок</h2>
                        </div>
                    </div>
                    <div class="card__content">
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>