{% if view.is_for_staff %}
  {% set score_form_url = url('staff:gradebook_import_scores_by_yandex_login', course_id=gradebook.course.pk, subdomain=LMS_SUBDOMAIN) %}
{% else %}
  {% set score_form_url = url('teaching:gradebook_import_scores_by_yandex_login', course_id=gradebook.course.pk, subdomain=LMS_SUBDOMAIN) %}
{% endif %}
<div id="import-scores-from-csv-yandex-login" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans %}Import yandex statements{% endtrans %}</h4>
      </div>
      <form action="{{ score_form_url }}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="csv-assignment-selected">1. {% trans %}Select assignment{% endtrans %}</label>
            <select name="assignment" class="form-control" id="csv-assignment-selected">
              {% for gradebook_assignment in gradebook.assignments.values() %}
                {% with assignment=gradebook_assignment.assignment %}
                  {% if not assignment.is_online %}
                    <option value="{{ assignment.pk }}">{{ assignment.title }}</option>
                  {% endif %}
                {% endwith %}
              {% endfor %}
            </select>
            <span class="help-block">{% trans %}Score will be imported for selected assignment{% endtrans %}</span>
          </div>
          <div class="form-group">
            <label for="csv-choose-file">2. {% trans %}Select csv file{% endtrans %}</label>
            <input id="input-id" name="csv_file" value="2" type="file" required>
            <div class="help-block">Значения должны быть разделены запятой. Первая строка - заголовки.<br>Пример содержимого файла:</div>
            <pre><code>login,Score
my_yandex_login,7</code></pre>
            <div class="alert alert-block alert-warning">
              Студенты могут указать произвольный Яндекс.Логин в своём профиле, а значит есть вероятность импортировать чужие результаты.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-primary">{% trans %}Import{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if view.is_for_staff %}
  {% set grade_form_url = url('staff:gradebook_import_course_grades_by_yandex_login', course_id=gradebook.course.pk, subdomain=LMS_SUBDOMAIN) %}
{% else %}
  {% set grade_form_url = url('teaching:gradebook_import_course_grades_by_yandex_login', course_id=gradebook.course.pk, subdomain=LMS_SUBDOMAIN) %}
{% endif %}
<div id="import-grades-from-csv-yandex-login" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Импорт оценок за курс из CSV-файла по Яндекс-логину</h4>
      </div>
      <form action="{{ grade_form_url }}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="csv-choose-file">2. {% trans %}Select csv file{% endtrans %}</label>
            <input id="input-id" name="csv_file" value="2" type="file" required>
            <div class="help-block">Формат файла:<br>
              <ul>
                <li>Значения разделяются запятой.</li>
                <li>Первая строка содержит заголовки. Для успешного импорта необходимы <code>Логин на Яндексе</code> и <code>Итоговая оценка</code>.</li>
                <li>Остальные строки содержат как минимум идентификатор (Логин на Яндексе) и оценку за курс в соответствующих колонках.</li>
              </ul>
              <p>Получить идентификаторы студентов можно скачав ведомость курса в csv формате, она содержит целевую колонку <code>Логин на Яндексе</code>.</p>
              Пример содержимого файла:<br>
            <pre><code>Логин на Яндексе,Итоговая оценка
yandex_login1,Отлично
yandex_login2,Хорошо
yandex_login3,Зачет
yandex_login4,Перезачтено
yandex_login5,Незачет
yandex_login6,Без оценки</code></pre>
            <div class="alert alert-block alert-warning">
              Студенты могут указать произвольный Яндекс.Логин в своём профиле, а значит есть вероятность импортировать чужие результаты.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-primary">{% trans %}Import{% endtrans %}</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
