{% set form_url = url('teaching:api:import-scores:yandex_contest', course_id=gradebook.course.pk, subdomain=LMS_SUBDOMAIN) %}
<div id="import-scores-from-yandex-contest" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Импортировать баллы задания в Яндекс.Контесте</h4>
      </div>
      <form action="{{ form_url }}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="csv-assignment-selected">1. {% trans %}Select assignment{% endtrans %}</label>
            <select name="assignment" class="form-control" id="csv-assignment-selected">
              <option value="">-----</option>
              {% for gradebook_assignment in gradebook.assignments.values() %}
                {% with assignment=gradebook_assignment.assignment %}
                  {% if assignment.submission_type == AssignmentFormat.YANDEX_CONTEST %}
                    <option value="{{ assignment.pk }}">{{ assignment.title }}</option>
                  {% endif %}
                {% endwith %}
              {% endfor %}
            </select>
            <div class="help-block mb-10">{% trans %}Score will be imported for selected assignment{% endtrans %}</div>
            <div class="alert alert-block alert-warning">
              Страница будет перезагружена. Сохраните изменения перед импортом.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn btn-primary">{% trans %}Import{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
