{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_tags %}
{% load markdown from core_tags %}

{% block content %}{% localtime off %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        <a href="{% url 'teaching:assignment_list' %}"><span class="fa fa-angle-left"></span></a>
        {{ assignment.title }}<br>
          <small><a href="{{ assignment.course.get_absolute_url }}">{{ assignment.course }}</a></small>
      </h2>
      <div class="btn-toolbar">
        <a href="{{ assignment.get_update_url }}" class="btn btn-primary" role="button">{% trans "Edit" %}</a>
        <a href="{{ assignment.get_delete_url }}" class="btn btn-danger" role="button">{% trans "Delete" %}</a>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="ubertext">
        {% markdown 3600 "assignment_text" assignment.pk assignment.modified %}
          {{ assignment.text }}
        {% endmarkdown %}
      </div>
      <p>
        {% trans "Deadline" %}:
        {{ assignment.deadline_at_local|naturalday:"d E Y" }} {{ assignment.deadline_at_local|time:"H:i" }}
      </p>
      <p>
        {% trans "Can be passed online" %}:
        {{ assignment.is_online2|yesno:_("Yes,No") }}
      </p>
      <p>
        {% trans "Assignment Weight" %}: {{ assignment.weight|floatdot }}
      </p>
      {% if assignment.assignmentattachment_set.all %}
      {% trans "Attached files" %}:
      <ul class="list-unstyled">
        {% for aa in assignment.assignmentattachment_set.all %}
        <li>
          <span class="assignment-attachment">
            <i class="fa fa-file"></i>
            <a href="{{ aa.file_url }}">
              {{ aa.file_name }}
            </a>
          </span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% if a_s_list %}
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <table class="table" width="100%">
            <thead>
              <th>{% trans "Student" %}</th>
              <th width="20%">
                {% trans "State" %}
              </th>
            </thead>
            {% for a_s in a_s_list %}
            <tr class="{{ a_s.has_unread|yesno:"unread,noop" }}">
              <td>
                <a href="{{ a_s.get_teacher_url }}">{{ a_s.student.get_short_name }}</a> {% if a_s.student.is_volunteer %}<span class="text-muted">{% trans "Volunteer" %}</span>{% endif %}
              </td>
              <td>
                <span style="white-space: nowrap;"
                      class="badge assignment-status {{ a_s.state.css_class }}">
                  {{ a_s.state_display }}
                </span>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endlocaltime off %}{% endblock content %}
