{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h4>Все ведомости</h4>
        <table class="table table-bordered">
          <thead>
            <tr class="active">
              <th>Курс</th>
              <th>Семестр</th>
            </tr>
          </thead>
        {% if semester_list %}
            {% for semester in semester_list %}
                {% for co in semester.course_offerings %}
                  <tr>
                    <td><a href="{{ co.get_gradebook_url }}">{{ co.meta_course.name }}</a>
                    {% if co.duration == CourseDurations.FIRST_HALF %}
                       <i class="fa fa-adjust fa-rotate-180" aria-hidden="true" title="{% trans %}First part of semester{% endtrans %}"></i>
                    {% endif %}
                    {% if co.duration == CourseDurations.SECOND_HALF %}
                       <i class="fa fa-adjust" aria-hidden="true" title="{% trans %}Second part of semester{% endtrans %}"></i>
                    {% endif %}
                    </td>
                    <td>{{ co.semester }}</td>
                  </tr>
                {% endfor %}
            {% endfor %}
            {% else %}
            <tr><td colspan="2">{% trans "No courses yet" %}</td></tr>
            {% endif %}
          </tr>
        </table>
    </div>
  </div>
</div>
{% endblock content %}
