{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <table>
            <tr>
                <td><h4> Группа <b>"{{ student_group_detail.name }}"</b> </h4></td>
                <td width="20px"></td>
                <td><button type="button" class="btn btn-primary btn-sm" onclick="window.location.href =
                            './update/';"><b>{% trans "Редактировать" %}</b></button></td>
                <td width="10px"></td>
                <td><button type="button" class="btn btn-sm" onclick="window.location.href =
                            './delete/';"><b>{% trans "Удалить" %}</b></button></td>
            </tr>
            <tr>
                <td><a href="../../groups/">{{ course.0 }}</a></td>
            </tr>
        </table>

        <br><br><b>Список студентов группы</b><br>
        <div class="row">
            <div class="col-xs-12">
                {% if enrollment %}
                    <table>
                        <tr height="10px"> </tr>
                        {% for student in enrollment %}
                            <tr>
                                <td class="align-middle">{{ student.student.last_name }} {{ student.student.first_name }}</td>
                                <td width="20px"></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href =
                                            '/teaching/courses/{{ course_id }}/group/{{ group_id }}/student/{{ student.student.id }}/update/';"><b>{% trans "Сменить группу" %}</b></button>
                                </td>
                            </tr>
                            <tr height="10px"> </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Список студентов группы пуст... :(
                {% endif %}
            </div>
        </div>

        <br><br><b>Ответственные</b>
        <div class="row">
            <div class="col-xs-12">
                {% if assignees %}
                    <table>
                        <tr height="10px"> </tr>
                        {% for assignee in assignees %}
                            <tr>
                                <td class="align-middle">{{ assignee.assignee }}</td>
                                <td width="20px"></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href =
                                            '/teaching/courses/{{ course_id }}/group/{{ group_id }}/assignee/{{ assignee.id }}/update/';"><b>{% trans "Редактировать" %}</b></button>
{#                                    <a href="/teaching/courses/{{ course_id }}/group/{{ group_id }}/assignee/{{ assignee.id }}/update/">Редактировать</a>#}
{#                                    <a href="/teaching/courses/{{ course_id }}/group/{{ group_id }}/assignee/{{ assignee.id }}/delete/">Удалить</a>#}
                                </td>
                                <td width="10px"></td>
                                <td><button type="button" class="btn btn-sm" onclick="window.location.href =
                                        '/teaching/courses/{{ course_id }}/group/{{ group_id }}/assignee/{{ assignee.id }}/delete/';"><b>{% trans "Удалить" %}</b></button></td>
                            </tr>
                            <tr height="10px"> </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    Список ответственных пуст... :(
                {% endif %}
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href =
                            '/teaching/courses/{{ course_id }}/group/{{ group_id }}/assignee/add/';">
            <b>{% trans "Добавить ответственного" %}</b></button>

{#        <button type="button" class="btn btn-primary" onclick="window.location.href =#}
{#                            '/teaching/courses/{{ course_id }}/group/{{ group_id }}/assignee/add/';">#}
{#                            {% trans "Добавить ответственного" %}</button>#}
    </div>
{% endblock content %}
