{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h4> <b>Удаление группы </b></h4>
        <table class="table table-borderless table-sm">
            <tr>
                <td width="30px">Имя:</td>
                <td><b>{{ student_group_delete.name }}</b></td>
            </tr>
            <tr>
                <td>Тип:</td>
                <td><b>{{ student_group_detail.type }}</b></td>
            </tr>
            <tr>
                <td>Курс:</td>
                <td><b>{{ student_group_delete.course }}</b></td>
            </tr>
            <tr>
                <td>Отделение:</td>
                <td><b>{{ student_group_delete.branch }}</b></td>
            </tr>
            <tr>
                <td>Meta:</td>
                <td><b>{{ student_group_delete.meta }}</b></td>
            </tr>
            <tr>
                <td>Enrollment_key:</td>
                <td><b>{{ student_group_delete.enrollment_key }}</b></td>
            </tr>
        </table>
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Удалить">
{#            <button type="button" class="btn" onclick="window.location.href =#}
{#            '/teaching/courses/{{ student_group_delete.course.id }}/group/';">{% trans "Отмена" %}</button>#}
            <button type="button" class="btn" onclick="history.go(-1);">{% trans "Отмена" %}</button>
        </form>
    </div>
{% endblock content %}
