{% extends "admin/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
  <script type="text/javascript" src="{% static "js/raven_conf.js" %}"></script>
  {% include "mathjax_config.html" %}
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
