{% extends "admin/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//cdn.ravenjs.com/3.10.0/raven.min.js"></script>
    <script type="text/javascript" src="{% static "js/raven_conf.js" %}"></script>
    {% include "mathjax_config.html" %}
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block footer %}
    <div id="footer"></div>
    {#    TODO: It's hacky to include the whole main.js. Separate ubertexteditor logic from main.js first, then refactor #}
    <style type="text/css">
    .sweet-overlay, .sweet-alert {
        display: none;}
    </style>
    {#  Ubereditor dependencies  #}
    <script type="text/javascript" src="//yastatic.net/underscore/1.6.0/underscore-min.js"></script>
    <script type="text/javascript">
        var HIGHLIGHTJS_SRC = "{% static "js/vendor/highlight.pack.js" %}";
    </script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
{% endblock %}
