# {{ ansible_managed }}
upstream django_{{ site_user }} {
    server unix:///tmp/uwsgi_{{ site_dir_name }}.socket;
}

{% if enable_https %}
server {
    listen 80;
    server_name {{ certbot_domains|join(' ') }};

    location /.well-known/acme-challenge/ {
        alias {{ repo_root }}/.well-known/acme-challenge/;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

{%- set main_domain_parts = main_domain.split('.') -%}
{% if main_domain_parts|length == 2 %}
# Redirect from `www.` to the domain without `www`
server {
    listen 443 ssl;
    server_name www.{{ main_domain }};

    # Make sure to update ansible regexp for uncommenting ssl certificates paths if https is enabled.
    # ssl_certificate {{ certbot_config_dir }}/{{ certbot_cert_filename }};
    # ssl_certificate_key {{ certbot_config_dir }}/{{ certbot_privkey_filename }};
    # Fetch OCSP records from URL in ssl_certificate and cache them
    ssl_stapling on;
    ssl_stapling_verify on;

    return 301 https://{{ main_domain }}$request_uri;
}
{% endif -%}
{% endif %}

server {
    listen {% if enable_https %}443 ssl http2{% else %}80{% endif %} default_server;
    server_name {{ main_domain }}{% if hosts_override is defined and hosts_override == 'vagrant-test-hosts' %} csc.vagrant{% endif %};

{% include 'compscicenter.ru/_nginx.conf.jinja2' %}

}
