{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
    <link href="{% static "css/diplomas.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{# Note: Feel the fear below. #}
{% block content %}
    <div class="container">
    <pre id="diplomas-code"><span class="btn-clipboard">Copy</span><code class="tex">{% comment %} Pretty ugly due to brackets rendering in django template... {% endcomment %}
{% for s in students %}\diploma{{ '{' }}{{s.first_name}}{{ '}' }}{{ '{' }}{{s.patronymic}}{{ '}' }}{{ '{' }}{{s.last_name}}{{ '}' }}{{ '{' }}{% if s.gender == 'F' %}a{% endif %}{{ '}' }}
{{ '{' }}направлени{{ s.study_programs.all|pluralize:"ю,ям" }} {{s.study_programs.all|join:" и "}}{{ '}' }}
{{ '{' }}сентября {{s.enrollment_year}} года{{ '}' }}
{{ '{' }}{% for enrollment in s.enrollments %}
{% spaceless %}\course{{ '{' }}{{enrollment.course_offering.course.name}}{{ '}' }}{{ '{' }}1 семестр{{ '}' }}{{ '{' }}{% if enrollment.course_offering.courseclass_set.count > 0 %}{% widthratio enrollment.course_offering.courseclass_set.count 1 2 %}{% endif %}{{ '}' }}{{ '{' }}{{enrollment.grade_display|lower}}{{ '}' }}
       {% for teacher in enrollment.course_offering.teachers.all|slice:":2" %}{{ '{' }}{{teacher.get_full_name}}{{ '}' }}{% endfor %}{% if enrollment.course_offering.teachers.all|length == 1 %}{{ '{' }}{{ '}' }}{% endif %}
{% endspaceless %}{% if forloop.last %}
{% endif %}{% endfor %}{{ '}' }}
{{ '{' }}{% if s.shads|length > 0 %}{% for project in s.shads %}
{% spaceless %}
\shad{{ '{' }}{{project.name}}{{ '}' }}{{ '{' }}{{project.teachers}}{{ '}' }}{{ '{' }}{{project.grade_display|lower}}{{ '}' }}
{% endspaceless %}{% endfor %}
{% endif %}{{ '}' }}
{{ '{' }}{% if s.projects|length > 0 %}
{% for project in s.projects %}{% if not project.is_external %}{% spaceless %}
\{% if project.project_type == 'research' %}theory{% else %}practice{% endif %}{{ '{' }}{{project.supervisor}}{{ '}' }}
         {{ '{' }}{{project.name}}{{ '}' }}{{ '{' }}{{project.semester}}{{ '}' }}{% endspaceless %}
{% endif %}{% endfor %}{% endif %}{{ '}' }}

{% empty %}
    Нет студентов со статусом "Будет выпускаться"
{% endfor %}
</code></pre>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/languages/tex.min.js"></script>
    <script type="text/javascript" src="{% static "js/vendor/zero_clipboard/ZeroClipboard.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/diplomas.js" %}"></script>
{% endblock javascripts %}