{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
    <link href="{% static "css/diplomas.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{# Note: Feel the fear below. #}
{% block content %}
    <div class="container">
    <pre id="diplomas-code"><span class="btn-clipboard">Copy</span><code class="tex">
{% for s in students %}\diploma{{ '{' }}{{ s.pk }}{{ '}' }}{{ '{' }}{{s.first_name}}{{ '}' }}{{ '{' }}{{s.patronymic}}{{ '}' }}{{ '{' }}{{s.last_name}}{{ '}' }}{{ '{' }}{% if s.gender == 'F' %}a{% endif %}{{ '}' }}
{{ '{' }}направлени{{ s.areas_of_study.all|pluralize:"ю,ям" }} {% for program in s.areas_of_study.all %}{{ program.name_en }}{% if not forloop.last and forloop.first != forloop.last %}\\и {% endif %}{% endfor %}{{ '}' }}
{{ '{' }}сентября {{s.enrollment_year}} года{{ '}' }}
{{ '{' }}{% for enrollment in s.enrollments %}
{% spaceless %}\course{{ '{' }}{{enrollment.course_offering.course.name|tex}}{{ '}' }}{{ '{' }}1 семестр{{ '}' }}{{ '{' }}{% if enrollment.course_offering.courseclass_set.count > 0 %}{% widthratio enrollment.course_offering.courseclass_set.count 1 2 %}{% endif %}{{ '}' }}{{ '{' }}{{enrollment.grade_honest|lower}}{{ '}' }}
       {{ '{' }}{% for teacher in enrollment.course_offering.teachers.all %}{{teacher.first_name|first}}. {% if teacher.patronymic %}{{teacher.patronymic|first}}. {% endif %}{{teacher.last_name}}{% if not forloop.last %}, {% endif %}{% endfor %}{{ '}' }}
{% endspaceless %}{% if forloop.last %}
{% endif %}{% endfor %}{% if s.shads|length > 0 %}{% for project in s.shads %}{% spaceless %}
\shad{{ '{' }}{{project.name|tex}}{{ '}' }}{{ '{' }}{{project.teachers}}{{ '}' }}{{ '{' }}{{project.grade_display|lower}}{{ '}' }}{% endspaceless %}
{% endfor %}{% endif %}{{ '}' }}
{{ '{' }}{% if s.projects_through|length > 0 %}
{% for ps in s.projects_through %}{% with project=ps.project %}{% spaceless %}
\{% if project.project_type == 'research' %}theory{% else %}practice{% endif %}{{ '{' }}{{project.supervisor}}{{ '}' }}
         {{ '{' }}{{project.name|tex}}{{ '}' }}{{ '{' }}{{project.semester}}{{ '}' }}{{ '{' }}{{ps.get_final_grade_display|lower}}{{ '}' }}{% endspaceless %}
{% endwith %}{% endfor %}{% endif %}{{ '}' }}

{% empty %}
    Нет студентов со статусом "Будет выпускаться"
{% endfor %}
</code></pre>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/languages/tex.min.js"></script>
    {% render_bundle 'supervising' 'js' %}
{% endblock javascripts %}