{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Файлы</h2>
            <div class="list-group">
                <a href="{% url 'staff_exports_students_diplomas' %}" class="list-group-item">
                    <h4 class="list-group-item-heading">1. Список будущих выпускников (TeX template)</h4>
                </a>
                <a href="{% url 'staff_exports_students_diplomas_csv' %}" class="list-group-item">
                    <h4 class="list-group-item-heading">2. Список будущих выпускников (CSV)</h4>
                </a>
                <a href="{% url 'staff_exports_sheet_all_students_csv' %}" class="list-group-item">
                    <h4 class="list-group-item-heading">3. Ведомость по всем студентам центра (CSV)</h4>
                    Курсы ШАД, проекты и зачтённые онлайн-курсы<br>
                    Учитываются только сданные курсы центра.
                </a>
                {# TODO: Create form for quirk semester select               #}
                <a href="{% url 'staff_exports_students_sheet_filter_by_semester_csv' 2015 "autumn" %}" class="list-group-item">
                    <h4 class="list-group-item-heading">4. Ведомость по учащимся. Предыдущий семестр (CSV)</h4>
                </a>
                <a href="{% url 'staff_exports_students_sheet_current_semester_csv' %}" class="list-group-item">
                    <h4 class="list-group-item-heading">5. Ведомость по учащимся. Текущий семестр (CSV)</h4>
                    Учитываются как сданные курсы центра, так и без оценки.
                </a>
            </div>
        </div>

<div class="widget">
            <div class="widget-content padding-30 bg-blue-600">
              <div class="widget-watermark darker font-size-60 margin-15"><i class="icon wb-clipboard" aria-hidden="true"></i></div>
              <div class="counter counter-md counter-inverse text-left">
                <div class="counter-number-group">
                  <span class="counter-number">25</span>
                  <span class="counter-number-related text-capitalize">projects</span>
                </div>
                <div class="counter-label text-capitalize">in design</div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock content %}
