{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load core_tags %}
{% load userpreview from custom_thumbnail %}

{% block content %}
{% if students %}
    {% for chunk in students|chunks:"16" %}
        <page size="A4" class="student-faces-printable">
            {% for student in chunk %}
                <div class="student">
                    {% userpreview student "250x350" as im %}
                        <img src="{{ im.url }}" width="150" height="210">
                    {% enduserpreview %}
                        <figcaption {% if student.status == "expelled" %}class="expelled"{% endif %}>{{ student.last_name }}<br>{{ student.first_name }}</figcaption>
                </div>
            {% endfor %}
        </page>
    {% endfor %}

{% else %}
    <div class="empty">пусто!</div>
{% endif %}
{% endblock content %}

{# TODO: customize scripts if neccessary #}
{% block javascripts %}
    <script type="text/javascript" src="{% static "js/alumni.js" %}"></script>
{% endblock javascripts %}
