{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load userpreview from custom_thumbnail %}

{% block content %}
    <div id="orgs-page">
        <div class="container">
            <div class="board">
                <h1 class="orgs-header">Совет CS центра</h1>
                <div class="row board-list">
                    <div class="col-xs-4">
                        <div class="text-center">
                            {% userpreview board.andrey_ivanov "200x200" as im %}
                                <a href="http://www.linkedin.com/in/yaivanov"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                            {% enduserpreview %}
                            <div class="body text-center">
                                <a class="name" href="http://www.linkedin.com/in/yaivanov">{{ board.andrey_ivanov.get_short_name }}</a>
                                <a href="http://jetbrains.ru/">JetBrains</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            {% userpreview board.alexander_kulikov "200x200" as im %}
                                <a href="http://logic.pdmi.ras.ru/~kulikov/"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                            {% enduserpreview %}
                            <div class="body text-center">
                                <a class="name" href="http://logic.pdmi.ras.ru/~kulikov/">{{ board.alexander_kulikov.get_short_name }}</a>
                                   <a href="http://www.pdmi.ras.ru/pdmi/index.php">ПОМИ РАН</a>, <a href="http://compsciclub.ru/">CS клуб</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            {% userpreview board.evgeniya_kulikova "200x200" as im %}
                                <a href="https://www.linkedin.com/pub/evgenia-kulikova/30/219/774"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                            {% enduserpreview %}
                            <div class="body text-center">
                                <a class="name" href="https://www.linkedin.com/pub/evgenia-kulikova/30/219/774">{{ board.evgeniya_kulikova.get_short_name }}</a>
                                   <a href="https://yandex.ru/company/">Яндекс</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Совет отвечает за содержание учебного процесса и развитие центра. Цель Совета — сделать так, чтобы каждому студенту центра было полезно и интересно учиться, а ряды преподавателей и выпускников пополнялись из года в год. В последнее время Совет также активно занимается онлайн-образованием и расширением деятельности CS центра за пределы Санкт-Петербурга.</p>
            </div>

            <h1 class="orgs-header">Кураторы</h1>
            <ul class="curators-list">
              <li class="orgs-person">
                <div class="orgs-preview">
                    {% userpreview curators.katya_lebedeva "150x210" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% enduserpreview %}
                </div>
                <div class="orgs-info">
                  <h4 class="media-heading">{{ curators.katya_lebedeva.get_short_name }}, <a href="https://yandex.ru/company/">Яндекс</a></h4>
                    Куратор CS центра. Организует учебный процесс, приём новых студентов и выпускной для тех, кто успешно справился с курсами, заботится о студентах и умеет отвечать на любой вопрос об учёбе в центре.
                </div>
              </li>
              <li class="orgs-person">
                <div class="orgs-preview">
                    {% userpreview curators.kristina_smolnikova "150x210" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% enduserpreview %}
                </div>
                <div class="orgs-info">
                  <h4 class="media-heading">{{ curators.kristina_smolnikova.get_short_name }}, <a href="https://jetbrains.ru/">JetBrains</a></h4>
                    Куратор онлайн-курсов. Помогает преподавателям центра перекладывать свой опыт в онлайн-курсы, организует создание курсов и обеспечивает их комфортное изучение слушателями.
                </div>
              </li>
              <li class="orgs-person">
                <div class="orgs-preview">
                    {% userpreview curators.katya_artamonova "150x210" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% enduserpreview %}
                </div>
                <div class="orgs-info">
                  <h4 class="media-heading">{{ curators.katya_artamonova.get_short_name }}, <a href="https://jetbrains.ru/">JetBrains</a></h4>
                    Куратор практических работ студентов CS центра. Ищет проекты для студентов, организует представления самих проектов и итоговых презентаций, проводит отчётные мероприятия и помогает практикам стать лучше.
                </div>
              </li>
              <li class="orgs-person">
                <div class="orgs-preview">
                    {% userpreview curators.mojina_alina "150x210" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% enduserpreview %}
                </div>
                <div class="orgs-info">
                  <h4 class="media-heading">{{ curators.mojina_alina.get_short_name }}, <a href="https://jetbrains.ru/">JetBrains</a></h4>
                    Куратор CS центра в Новосибирске. Организует учебный процесс и приём студентов в новосибирском филиале. Ищет практики и новые курсы для центра.
                </div>
              </li>
              <li class="orgs-person">
                <div class="orgs-preview">
                    {% userpreview curators.komissarov_alexander "150x210" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% enduserpreview %}
                </div>
                <div class="orgs-info">
                  <h4 class="media-heading">{{ curators.komissarov_alexander.get_short_name }}, <a href="https://yandex.ru/company/">Яндекс</a></h4>
                    Куратор CS центра в Новосибирске. Организует учебный процесс и приём студентов в новосибирском филиале. Ищет практики и новые курсы для центра.
                </div>
              </li>
            </ul>

            <h1 class="orgs-header">Техническая поддержка</h1>
            <div class="row">
                <div class="col-xs-6">
                    <div class="orgs-person">
                        <div class="orgs-preview">
                            {% userpreview tech.aleksey_belozerov "150x210" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% enduserpreview %}
                        </div>
                        <div class="orgs-info">
                          <h4 class="media-heading">{{ tech.aleksey_belozerov.get_short_name }}</h4>
                            Подготовка видеозаписей лекций.
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="orgs-person">
                        <div class="orgs-preview">
                            {% userpreview tech.sergey_zherevchuk "150x210" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% enduserpreview %}
                        </div>
                        <div class="orgs-info">
                          <h4 class="media-heading">{{ tech.sergey_zherevchuk.get_short_name }}</h4>
                            Разработка сайта CS центра.
                        </div>
                    </div>
                </div>
            </div>


            <br><i>За разработку логотипа и участие в изготовлении сувенирной продукции CS центра спасибо <b><a href="http://ferrethills.com">Никите Лебедеву</a></b>.</i>
        </div>
    </div>

{% endblock content %}
