.right-label {
  position: absolute;
  top: 0;
  right: 0;
  margin: spacer("2x");
  text-align: center;
  color: $gray;
  border: $border-width solid $gray;border-radius: 50%;
  z-index: 1;
  line-height: 2rem;
  vertical-align: center;
  height: 2rem;
  width: 2rem;
}