._testimonials {
  &.card-columns {
    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }

  .card {
    border-radius: 0;
  }
}


.testimonial {
  @include font-smoothing();
  padding: 1.7rem;
  color: $gray-500;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .9375rem;
  justify-content: center;
  text-align: center;
  @include media-breakpoint-up(lg) {
    display: flex;
    text-align: left;
  }

  &._bubble {
    padding: 0;

    .testimonial__author {
      line-height: 1.2;

      span {
        margin: 0;
      }
    }

    img {
      @include media-breakpoint-up(lg) {
        margin-right: .625rem;
      }
    }
  }

  img {
    @include media-breakpoint-up(lg) {
      margin-right: 1.125rem;
    }
  }

}

.testimonial__details {
  flex-basis: 0;
  flex-grow: 1;

  ul {
    @include media-breakpoint-down(md) {
      list-style: none;
      padding: 0;
    }
    li {
      padding-bottom: 5px;
    }

  }
}

.testimonial__author {
  flex-basis: 0;
  flex-grow: 1;

  h4 {
    margin: 1rem 0 0 0;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }

  a {
    font-size: 1rem;
  }

  span {
    margin: .3rem 0;
    display: block;
    color: $gray-400;
  }
}

.testimonial__quote {
  color: $body-color;
  font-size: .875rem;
  padding: 1rem 1rem .875rem 1rem;
  position: relative;
  background-color: $gray-300;
  margin-bottom: 1rem;
  border-radius: $border-radius-sm;
  text-align: left;
  max-width: 100%;  // for ie10

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 14px solid $gray-300;
    left: 50%;
    margin-left: -18px;
    @include media-breakpoint-up(lg) {
      left: 6px;
      margin-left: auto;
    }
  }
}

.testimonial__text {
  margin-bottom: 1rem;
}
