.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 #{-$grid-gutter-width / 2} 0 -#{$grid-gutter-width / 2};
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
  }
  &:after {
    content: "";
    flex: auto;
  }
}

.user-card {
  width: 176px;
  float: left; // for older browsers
  vertical-align: top;
  line-height: 1.25;
  margin-bottom: 32px;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @include media-breakpoint-up(iphone5, $mobile-breakpoints) {
      width: 50%;
  }

  @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
    width: 176px;
  }
  @include media-breakpoint-up(lg) {
    width: (160px + $grid-gutter-width);
  }

}

.user-card__photo {
  position: relative;
  margin: 0 auto 5px;

  img {
    height: auto;
    max-width: 100%;
  }
}

.achievements {
  position: absolute;
  top: 2px;
  right: -2px;
}

.achievements__item {
  margin-bottom: 5px;
  transition: all 200ms;
  &:hover {
    transform: scale(1.3);
    transition: all 200ms ease;
    padding-bottom: 4px;
  }
}

