$user-card-gutter-width: $grid-gutter-width / 2;

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 #{-$user-card-gutter-width} 0 -#{$user-card-gutter-width};
  &:after {
    content: "";
    flex: auto;
  }
}

.user-card {
  float: left; // for older browsers
  vertical-align: top;
  line-height: $line-height-sm;
  margin-bottom: spacer("8x");
  padding-left: $user-card-gutter-width;
  padding-right: $user-card-gutter-width;

  width: percentage(6 / $grid-columns);
  @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
    width: percentage(4 / $grid-columns);
  }
  @include media-breakpoint-up(sm) {
    width: percentage(3 / $grid-columns);
  }
  @include media-breakpoint-up(lg) {
    width: percentage(2 / $grid-columns);
  }

}

.user-card__photo {
  position: relative;
  margin: 0 auto spacer("1x");
  padding-bottom: 139.75%; // calc((100% - #{$border-width} * 2) * 1.4
  overflow: hidden;
  background: $gray-lighter;
  background-size: cover;

  &._b {
    background-image: url("/static/v2/img/placeholder/boy.png");
  }

  &._m {
    background-image: url("/static/v2/img/placeholder/man.png");
  }

  &._g {
    background-image: url("/static/v2/img/placeholder/girl.png");
  }

  &._w {
    background-image: url("/static/v2/img/placeholder/woman.png");
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.user-card__details {
  @include font-smoothing();

  .workplace {
    color: $gray-dark;
    font-size: $font-size-sm;
  }
}

.achievements {
  position: absolute;
  top: 2px;
  right: -2px;
}

.achievements__item {
  margin-bottom: spacer("1x");
  transition: all 200ms;
  &:hover {
    transform: scale(1.3);
    transition: all 200ms ease;
    padding-bottom: spacer("1x");
  }
}

