---
# - name: Create S3 Bucket for center backups
#   s3:
#     bucket: "{{ center_bucket_name }}"
#     mode: create

# TODO: Create buckets. Set TTL rule lifecycle for buckets.

- name: Create IAM users for center and club buckets
  iam:
    # FIXME: Should be replaced with `role` type
    iam_type: user
    name: "{{ item }}_backups_user"
    state: present
    access_key_state: create
  with_items:
    - "{{ center_sid }}"
    - "{{ club_sid }}"
  register: backup_users

- name: Save Access Keys to local file
  local_action: copy content={{ backup_users }} dest=roles/s3/files/backup_user_access_keys.txt
  when: backup_users.changed

- name: Ð¡reate policies and place them in tmp directory
  template: src=backup_policy.json.jinja dest=/tmp/{{ item.user_meta.created_user.user_name }}_policy.json
  when: backup_users.changed
  with_items: "{{backup_users.results}}"

- name: Create policy for bucket users.
  iam_policy:
    iam_type: user
    iam_name: "{{ item.user_meta.created_user.user_name }}"
    policy_name: BackupsBucketPolicy
    state: present
    policy_document: "/tmp/{{ item.user_meta.created_user.user_name }}_policy.json"
  when: backup_users.changed
  with_items: "{{backup_users.results}}"