[run]
branch = True
source = cscsite

[report]
ignore_errors = True
omit =
    */migrations/*
    */__pycache__/*
    */tests/*
    */tests.py
    */urls.py
    */factories.py
    */locale/*

[html]
directory = coverage_html
