# Mac specific files
.DS_Store
._*

*.sublime-project
*.pyc
*.sqlite3
cscenter_web.pdf
cscsite/media/
cscsite/coverage/
.idea/
csc3/
cscsite/static/
local/
.cache/
.coverage
package-lock.json
node_modules/
*-debug.log