# Mac specific files
.DS_Store
._*

*.sublime-project
*.pyc
*.sqlite3
cscenter_web.pdf
cscsite/media/
cscsite/coverage/
.idea/
csc3/
cscsite/static/
local/
.cache/
.pytest_cache/
coverage_html/
.coverage
# TODO: replace public/ with submodule, add to ignore here
*-debug.log