# Mac specific files
.DS_Store
._*

*.sublime-project
*.pyc
*.sqlite3
cscenter_web.pdf
cscsite/media/
cscsite/coverage/
.idea/
csc3/
cscsite/static/
local/
.cache/
/node_modules
/cscsite/webpack-stats-local.json
/cscsite/assets/bundles
.coverage
# sass specific files
**/.sass-cache/
*.css.map