[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pywatchman = "*"
colour-runner = "==0.1.1"
pylint-django = "==2.0.11"
ipython = "==7.8.0"
Werkzeug = ">=0.16.0"
# Coverage
coverage = "==4.5.4"
django-coverage = "==1.2.4"
# Debug
ipdb = "==0.12.2"
pdbpp = "==0.10.0"
django-debug-toolbar = "==2.0"
django-debug-toolbar-template-timings = "==0.9"
djdt_flamegraph = "==0.2.12"
django-extensions = "==2.2.1"
# Fixtures
testfixtures = "==6.10.0"
factory_boy = "==2.12.0"
# Test framework
pytest = ">=5.2.0"
pytest-django = ">=3.4.5"
pytest-cov = ">=2.6.1"
pytest-xdist = ">=1.30.0"
pytest-mock = "==1.11.0"
pytest-pythonpath = "==0.7.3"

[packages]
# Framework
pytz = "==2019.2"
Django = "==2.2.6"
# DB
psycopg2-binary = "==2.8.3"
jsonfield = "==2.0.2"
django-prettyjson = "==0.4.1"
standardjson = "==0.3.1"
# Images
sorl-thumbnail = "==12.5.0"
python-magic = "==0.4.15"
Pillow = "==6.1.0"
# Forms
django-crispy-forms = "==1.7.2"
django-bootstrap3 = "==11.1.0"
django-formtools = "==2.1"
# Parsing
beautifulsoup4 = "==4.8.0"
# Translation
django-rosetta = "==0.9.3"
django-modeltranslation = "==0.13.3"
# AWS
boto = "==2.49.0"
boto3 = "==1.9.241"
# Mailing
django-ses = "==0.8.12"
django-post_office = "==3.2.1"
# Markdown
hoep = {editable = true,git = "git://github.com/pacahon/Hoep.git",ref = "0d4c0507dcb34d1b63a099c8b08656b66394bc37"}
# Monitoring
sentry-sdk = "*"
newrelic = "==5.2.0.127"
# Oauth2
social-auth-core = "==3.2.0"
social-auth-app-django = "==3.1.0"
# Oembed
micawber = "==0.5.0"
# Task manager
rq = "==1.1.0"
django-rq = "==2.1.0"
rq-scheduler = ">=0.9"
# Misc
requests = "==2.22.0"
django-model-utils = "==3.2.0"
bleach = "==3.1.0"
django-storages = "==1.7.2"
django-dbbackup = "==3.2.0"
django-import-export = "==1.2.0"
tablib = "==0.13.0"
nbconvert = "==5.6.0"
djangorestframework = "==3.10.3"
rest-pandas = "==1.1.0"
django-js-reverse = "==0.9.1"
numpy = "==1.17.2"
icalendar = "==4.0.3"
django-ical = "==1.6.2"
python-dateutil = "==2.8.0"
django-jinja = "==2.4.1"
python-ldap = "==3.2.0"
attrs = "==19.2.0"
django-choices = "==1.7.0"
django-vanilla-views = "==1.0.6"
django-autocomplete-light = "==3.4.1"
django-mptt = "==0.10.0"
django-bootstrap-pagination = "==1.7.1"
django-bitfield = "==1.9.6"
django-multiselectfield = "==0.1.8"
django-filter = "==2.2.0"
hashids = "==1.2.0"
django-recaptcha = "==2.0.5"
django-registration-redux = "==2.6"
django-fixture-media = "==0.1.4"
django-annoying = "==0.10.4"
django-extra-views = "==0.12.0"
django-braces = "==1.13.0"
django-taggit = "==1.1.0"
sqlparse = "==0.3.0"
django-loginas = "==0.3.6"
django-webpack-loader = "==0.6.0"
XlsxWriter = "==1.2.1"
jupyter_client = "==5.3.1"
webdavclient = "==1.0.8"
isoweek = "*"
django-subdomains = {git = "git://github.com/pacahon/django-subdomains.git",ref = "4096c2dc82f9f5e511e8c8f78d31e804ac028b5d"}
django-simple-menu = "*"
django-ckeditor = "==5.7.1"
rules = "*"
django-simple-history = "*"
django-static-compress = "==1.2.1"
django-environ = "*"
cryptography = "*"

[requires]
python_version = "3.6"
