[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pywatchman = "*"
colour-runner = "==0.1.1"
pylint-django = "*"
ipython = "*"
Werkzeug = ">=0.16.0"
# Coverage
coverage = "*"
django-coverage = "==1.2.4"
# Debug
ipdb = "==0.12.3"
pdbpp = "==0.10.2"
django-debug-toolbar = "==2.1"
django-debug-toolbar-template-timings = "==0.9"
djdt_flamegraph = "==0.2.12"
django-extensions = "==2.2.5"
# Fixtures
testfixtures = "==6.10.3"
factory_boy = "==2.12.0"
# Test framework
pytest = "==5.3.2"
pytest-django = ">=3.7.0"
pytest-cov = "*"
pytest-xdist = "*"
pytest-mock = "*"
pytest-pythonpath = "*"

[packages]
# Core
pytz = "==2019.3"
Django = "==2.2.9"
django-environ = "*"
rules = "*"
# DB
psycopg2-binary = "==2.8.4"
jsonfield = "==2.0.2"
django-prettyjson = "==0.4.1"
# Images
sorl-thumbnail = "==12.5.0"
python-magic = "==0.4.15"
Pillow = "==6.2.1"
# Forms
django-crispy-forms = "==1.8.1"
django-bootstrap3 = "==12.0.3"
django-formtools = "==2.2"
# Parsing
beautifulsoup4 = "==4.8.2"
# Translation
django-rosetta = "==0.9.3"
django-modeltranslation = "==0.14.1"
# AWS
boto3 = "*"
boto = "==2.49.0"
# Mailing
django-ses = "==0.8.13"
django-post_office = "==3.2.1"
# Markdown
hoep = {editable = true,git = "git://github.com/pacahon/Hoep.git",ref = "0d4c0507dcb34d1b63a099c8b08656b66394bc37"}
# Monitoring
sentry-sdk = "*"
newrelic = "*"
# Oauth2
social-auth-core = "==3.2.0"
social-auth-app-django = "==3.1.0"
# Oembed
micawber = "==0.5.1"
# Task manager
rq = "==1.2.0"
django-rq = "==2.2.0"
rq-scheduler = ">=0.9"
# Security
bleach = "==3.1.0"
cryptography = "*"
# API
djangorestframework = "==3.11.0"
rest-pandas = "==1.1.0"
# Misc
requests = "==2.22.0"
django-model-utils = "==4.0.0"
django-storages = "==1.8"
django-dbbackup = "==3.2.0"
django-import-export = "==2.0.0"
tablib = "==1.0.0"
nbconvert = "==5.6.1"
django-js-reverse = "==0.9.1"
numpy = "==1.18.1"
icalendar = "==4.0.4"
django-ical = "==1.7.0"
python-dateutil = "==2.8.1"
django-jinja = "==2.4.1"
python-ldap = "==3.2.0"
attrs = "==19.3.0"
django-choices = "==1.7.1"
django-vanilla-views = "==1.0.6"
django-autocomplete-light = "==3.5.0"
django-mptt = "==0.10.0"
django-bootstrap-pagination = "==1.7.1"
django-bitfield = "==1.9.6"
django-multiselectfield = "==0.1.11"
django-filter = "==2.2.0"
hashids = "==1.2.0"
django-recaptcha = "==2.0.5"
django-registration-redux = "==2.7"
django-fixture-media = "==0.1.4"
django-annoying = "==0.10.6"
django-extra-views = "==0.13.0"
django-braces = "==1.14.0"
django-taggit = "==1.2.0"
sqlparse = "==0.3.0"
django-loginas = "==0.3.8"
django-webpack-loader = "==0.6.0"
XlsxWriter = "==1.2.7"
jupyter_client = "==5.3.4"
webdavclient = "==1.0.8"
isoweek = "*"
django-subdomains = {git = "git://github.com/pacahon/django-subdomains.git",ref = "4096c2dc82f9f5e511e8c8f78d31e804ac028b5d"}
django-simple-menu = "*"
django-ckeditor = "==5.8.0"
django-simple-history = "*"
django-static-compress = "==1.2.1"

[requires]
python_version = "3.7"
