Django==1.6.1
Pillow==2.3.0
Unipath==1.0
coverage==3.7.1
django-coverage==1.2.4
django-crispy-forms==1.4.0
django-debug-toolbar==1.0.1
django-fixture-media==0.1.4
django-model-utils==2.0
django-rosetta==0.7.3
psycopg2==2.5.2
requests==2.2.0
six==1.5.2
sorl-thumbnail==11.12
sqlparse==0.1.11
