Django==1.6.1
Pillow==2.3.0
Unipath==1.0
beautifulsoup4==4.3.2
coverage==3.7.1
django-braces==1.3.1
django-coverage==1.2.4
django-crispy-forms==1.4.0
django-debug-toolbar==1.0.1
django-fixture-media==0.1.4
django-floppyforms==1.1.1
django-model-utils==2.0
django-rosetta==0.7.3
django-taggit==0.10
psycopg2==2.5.2
pylint-django==0.3
python-dateutil==2.2
pytz==2013.9
requests==2.2.0
six==1.5.2
slideshare==0.1dev
sorl-thumbnail==11.12.1b
sqlparse==0.1.11
testfixtures==3.0.2
yandexwebdav==0.2.11
