{% macro svg_inline(id, modifiers='') -%}
<svg aria-hidden="true" class="sprite-img _{{ id }}{% if modifiers %} {{ modifiers }}{% endif %}" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#{{ id }}"></use></svg>
{%- endmacro %}

{% macro video_iframe(url, modifiers='') -%}
<div class="video{% if modifiers %} {{ modifiers }}{% endif %}">
    <iframe class="embed _responsive" src="{{ url }}" width="560" height="315"  frameborder="0"  allowfullscreen></iframe>
</div>
{%- endmacro %}
