{% macro svg_image(id, modifiers='') -%}
<svg aria-hidden="true" class="sprite-img _{{ id }}{% if modifiers %} {{ modifiers }}{% endif %}" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#{{ id }}"></use></svg>
{%- endmacro %}

{% macro svg_icon(id, modifiers='') -%}
<svg class="sprite-img svg-icon _{{ id }}{% if modifiers %} {{ modifiers }}{% endif %}" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#{{ id }}"></use></svg>
{%- endmacro %}

{% macro video_iframe(url, modifiers='') -%}
<div class="video{% if modifiers %} {{ modifiers }}{% endif %}">
    <iframe class="embed _responsive" src="{{ url }}" width="560" height="315"  frameborder="0"  allowfullscreen></iframe>
</div>
{%- endmacro %}

{% macro scrollable(modifiers='mb-2') -%}
    <div class="scrollable{% if modifiers %} {{ modifiers }}{% endif %}">{{ caller() }}</div>
{%- endmacro %}
