{% if request.subdomain == LMS_SUBDOMAIN %}
    {% if request.user.is_authenticated %}
        {% set menu = csc_menu("menu_private", request) %}
    {% else %}
        {% set menu = [] %}
    {% endif %}
{% else %}
    {% set menu = csc_menu("menu_public", request) %}
{% endif %}
<nav class="navbar navbar-main{% if menu_theme %} {{ menu_theme }}{% endif %}">
    <div class="container">
        <button class="navbar-toggler hamburger hamburger--vortex" type="button"
                data-toggle="collapse" data-target="#top-menu-mobile" aria-controls="top-menu-mobile"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
        </button>
        <a class="navbar-logo" href="/" title="Computer Science Center">{{ macros.svg_inline('logo-csc') }}</a>

        <div class="menu-desktop-wrapper">
            <ul class="navbar-nav">
                {% for menu_item in menu -%}
                    <li class="nav-item">
                        <a class="nav-link {% if menu_item.selected %}_active{% endif %}" {% if menu_item.is_external %}target="_blank" rel="noopener"{% endif %} href="{{ menu_item.url }}">{{ menu_item.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
        </div>

        {% if not request.user.is_authenticated %}
            <a class="btn _outline _gray menu-btn-reg" href="{{ url('login', subdomain=request.subdomain) }}{% if not request.path.startswith("/login") %}?next={{ request.get_full_path()|urlencode}}{% endif %}">
                {{ macros.svg_inline('user-sign') }} Войти
            </a>
        {% else %}
            <a class="members-area" href="{{ url('index', subdomain=LMS_SUBDOMAIN) }}">{% trans %}Members Area{% endtrans %}</a>
            <div class="dropdown dropdown-user-menu">
                <button class="btn" type="button" id="userMenuButton" data-id="{{ request.user.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {%- with im = request.user.get_thumbnail("60x60", use_stub=False) -%}
                        {%- if im -%}
                            <img class="user-menu-img" src="{{ im.url }}" width="32" height="32" alt="{{ request.user.get_full_name() }}">
                        {%- else -%}
                            {{ macros.svg_inline('user-sign') }}
                        {%- endif -%}
                    {%- endwith %}
                </button>
                <div class="dropdown-menu _arrow-right" aria-labelledby="userMenuButton">
                    <a class="dropdown-item d-lg-none" href="{{ url('index', subdomain=LMS_SUBDOMAIN) }}">{% trans %}Members Area{% endtrans %}</a>
                    <a class="dropdown-item" href="{{ request.user.get_absolute_url() }}">Профиль</a>
                    {% if request.user.is_staff %}
                        <a class="dropdown-item" href="{{ url('staff:student_search', LMS_SUBDOMAIN) }}">Курирование</a>
                        <a class="dropdown-item" href="{{ url('stats:index', LMS_SUBDOMAIN) }}">Статистика</a>
                        <a class="dropdown-item" href="{{ url('admin:index') }}">Админ-панель</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url('logout') }}">Выйти</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="menu-mobile-wrapper collapse" id="top-menu-mobile">
        <ul class="container">
            {% for menu_item in menu -%}
                <li>
                    {%- if menu_item.children -%}
                        <a class="nav-link{% if menu_item.selected %} _active{% endif %}"
                           href="{{ menu_item.url }}"
                           data-toggle="collapse" aria-expanded="{% if menu_item.selected %}true{% else %}false{% endif %}"
                           data-target="#top-menu-item-{{ loop.index }}"
                           aria-controls="top-menu-item-{{ loop.index }}"
                        >{{ menu_item.title }} {{ macros.svg_inline('arrow-bottom') }}</a>
                        <div class="mobile-submenu collapse {% if menu_item.selected %}show{% endif %}" id="top-menu-item-{{ loop.index }}">
                            {% for item in menu_item.children -%}
                            <a class="mobile-submenu__item{% if item.is_external %} _external{% endif %}{% if item.selected %} _active{% endif %}" href="{{ item.url }}" {% if item.is_external %}target="_blank" rel="noopener"{% endif %}>{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    {%- else -%}
                        <a class="nav-link{% if menu_item.is_external %} _external{% endif %}{% if menu_item.selected %} _active{% endif %}" href="{{ menu_item.url }}" {% if menu_item.is_external %}target="_blank" rel="noopener"{% endif %}>{{ menu_item.title }}</a>
                    {%- endif -%}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

{%- for menu_item in menu -%}
    {%- if menu_item.selected and menu_item.children -%}
        <nav class="navbar navbar-submenu">
            <div class="container">
                <ul class="navbar-nav">
                    {% for second_level in menu_item.children %}
                        <li class="nav-item{% if second_level.selected %} _active{% endif %}">
                            <a class="nav-link{% if second_level.is_external %} _external{% endif %}" {% if second_level.is_external %}target="_blank" rel="noopener"{% endif %} href="{{ second_level.url }}">{{ second_level.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {%- endif -%}
{%- endfor -%}
