{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load user_thumbnail from user_thumbnail %}
{% load markdown from core_tags %}

{% block body_attrs %} data-init-section="lazy-img"{% endblock body_attrs %}

{% block content %}
    <div class="container">
        <h1 class="page-header">{% trans "Teachers" %}</h1>
        <div class="teachers-list">
            {% for user in object_list %}
            <div class="teachers-list-item">{% spaceless %}
                <a href="{{ user.teacher_profile_url }}">
                    {% if user.photo %}
                          {% user_thumbnail user user.ThumbnailSize.TEACHER_LIST as im %}
                            <img width="{{ im.width }}" height="{{ im.height }}"
                                    {% if forloop.counter < 12 %}
                                        src="{{ im.url }}"
                                    {% else %}
                                        class="lazy"
                                        src="{% if user.gender == "M" %}{% static "v1/img/icons/man.png" %}{% else %}{% static "v1/img/icons/woman.png" %}{% endif %}"
                                        data-original="{{ im.url }}"
                                    {% endif %}>
                          {% enduser_thumbnail %}
                    {% else %}
                        <img src="{% if user.gender == "M" %}{% static "v1/img/icons/man.png" %}{% else %}{% static "v1/img/icons/woman.png" %}{% endif %}" width="220" height="308" alt="">
                    {% endif %}
                    {{ user.first_name }} {{ user.patronymic }}<br>
                    {{ user.last_name }}
                </a>
                <div class="org">{{ user.workplace }}</div>
            </div>
            {% endspaceless %}{% endfor %}
        </div>
    </div>

{% endblock content %}
