{% extends "base.html" %}
{% load i18n %}
{% load user_thumbnail from user_thumbnail %}
{% load core_tags %}
{% load static %}
{% load markdown from core_tags %}
{% load render_bundle from webpack_loader %}
{% block title %}{{ profile_user.get_short_name }} - {% trans "Profile" %} {% trans "on site" %} Computer Science Club{% endblock title %}

{% block body_attrs %} data-init-sections="profile"{% endblock body_attrs %}

{% block javascripts %}
    <script type="text/javascript">
        window.profileAppInit = {{ initial|safe }};
        window.profileAppInit["preload"] = [
            "{% static "v1/js/vendor/FileAPI/FileAPI.min.js" %}"
        ];
    </script>
{% endblock javascripts %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-xs-3 profile-sidebar">
    <div class="text-center">
    <div class="thumbnail-inner">
        <div class="thumbnail-img">
            {% if profile_user.photo %}
                {% user_thumbnail profile_user profile_user.ThumbnailSize.BASE as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}"
                         height="{{ im.height }}">
                {% enduser_thumbnail %}
            {% else %}
                <img src="{% static "v1/img/center/profile_no_photo.png" %}">
            {% endif %}
        </div>

    {% if profile_user.pk == user.pk or user.is_curator %}
        <div class="photo-actions">
            <a href="#user-photo-upload">{% trans "Change photo" %}</a>
        </div>
    {% endif %}
    </div>
    </div>

    {% if user.is_authenticated %}
        <div class="clearfix"></div>
        <div class="list-group">
        {% if is_editing_allowed %}
            <a class="list-group-item" href="{{ profile_user.get_update_profile_url }}"><i class="fa fa-cog"></i> {% trans "Edit" %}</a>
        {% endif %}
        {% if has_curator_permissions %}
            <a href="{% url 'admin:users_user_change' profile_user.pk %}" target="_blank" class="list-group-item">
                <i class="fa fa-pencil-square-o"></i> {% trans "Edit in admin" %}
            </a>
        {% endif %}
        {% if has_curator_permissions and student_profile %}
            {% if has_curator_permissions and profile_user.studentinfo %}
                <a href="{% url 'student_info_update' profile_user.studentinfo.pk %}" class="list-group-item">{% trans "Edit info record" %}</a>
            {% endif %}
            {% if profile_user.pk == user.pk %}
                <a href="{% url 'auth:password_change' %}" class="list-group-item">{% trans "Change password" %}</a>
            {% endif %}
        {% endif %}
        </div>
    {% endif %}
</div>
<div class="col-xs-9 profile-body">
    <h2>{{ profile_user.get_full_name }}</h2>

    {% if profile_user.workplace %}
        <p>{{ profile_user.workplace }}</p>
    {% endif %}

    {% if profile_user.bio %}
        <div class="about-me">
            <div class="ubertext">
              {% markdown 3600 "user_bio" profile_user.pk profile_user.modified %}
                {{ profile_user.bio }}
              {% endmarkdown %}
            </div>
        </div>
    {% endif %}

    <ul class="list-unstyled">
    {% if student_profile %}
        {% if profile_user.enrollment_set.all %}
        <li>
        <h4>{% trans "Courses" %}</h4>
            <ul>
            {% for enrollment in profile_user.enrollment_set.all %}
            <li>
              <a href="{{ enrollment.course.get_absolute_url }}">{{ enrollment.course }}</a> ({{ enrollment.grade_honest|lower }})
            </li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    {% endif %}
    {% if profile_user.is_teacher %}
        <li>{% trans "teacher"|title %}{% if profile_user.teaching_set.all %}:{% endif %}
          <ul class="">
            {% for courseoffering in profile_user.teaching_set.all %}
            <li>
              <a href="{{ courseoffering.get_absolute_url }}">{{ courseoffering }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
    {% endif %}
    </ul>

    {% if profile_user.pk == user.pk %}
    <table class="table calc table-condensed table-striped">
        <thead>
        <tr>
            <th width="25%">{% trans ".iCal calendar" %}</th>
            <th>{% trans "Link" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{% trans "Classes" %}:</td>
          <td>
            <input type="text" value="http://{{ request.get_host }}{% url 'user_ical_classes' user.pk %}"
                   disabled="disabled">
          </td>
        </tr>
        <tr>
          <td>{% trans "Assignments" %}:</td>
          <td>
            <input type="text" value="http://{{ request.get_host }}{% url 'user_ical_assignments' user.pk %}"
                   disabled="disabled">
          </td>
        </tr>
        </tbody>
      </table>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="accounts">
        <h4>{% trans "Social accounts" %}</h4>
        <table class="table table-condensed table-striped">
        <tr>
            <td>Yandex</td>
            <td>{{ profile_user.yandex_login|default:"—" }}</td>
        </tr>
        <tr>

            <td>Github</td>
            <td>{% if profile_user.github_login %}
                  <a href="https://github.com/{{ profile_user.github_login }}" target="_blank">{{ profile_user.github_login }}</a>
                {% else %}
                  —
                {% endif %}
            </td>
        </tr>
        <tr>

            <td>Stepik</td>
            <td>{% if profile_user.stepic_id %}
                  <a href="https://stepik.org/users/{{ profile_user.stepic_id }}" target="_blank">{{ profile_user.stepic_id }}</a>
                {% else %}
                  —
                {% endif %}
            </td>
        </tr>
        </table>
    </div>
    {% endif %}

    {% if user.is_authenticated and profile_user.private_contacts.strip %}
        <div class="contact-info">
            <h4>{% trans "Contact information" %}:</h4>
            <div class="ubertext">
              {% markdown 3600 "user_private_contacts" profile_user.pk profile_user.modified %}{{ profile_user.private_contacts }}{% endmarkdown %}
            </div>
        </div>
    {% endif %}

    {% if a_ss %}
        <h4 class="_mtop-30">{% trans "Assignments" %}:
          <div class="btn-group pull-right assignment-list-control" role="group">
            <button type="button" class="btn btn-xs btn-default active current-semester">{{ current_semester }}</button>
          </div></h4>
        <table class="table table-condensed" id="assignments-table">
          <tr>
            <th>{% trans "Course offering" %}</th>
            <th>{% trans "Assignment" %}</th>
            <th>{% trans "Grade" %}</th>
          </tr>
          {% for a_s in a_ss %}
            <tr>
              <td>
                {% if a_s.hacky_co_change %}
                  <a href="{{ a_s.assignment.course.get_absolute_url }}">{{ a_s.assignment.course }}</a>
                {% else %}
                  <span style="color: #CCC">—〃—</span>
                {% endif %}
              </td>
              <td>
                <a href="{{ a_s.get_teacher_url }}">
                  {{ a_s.assignment.title }}
                </a>
              </td>
              <td>
                <span style="white-space: nowrap;"
                      class="badge assignment-status {{ a_s.state.css_class }}">
                  {{ a_s.state_display }}
                </span>
              </td>
            </tr>
          {% endfor %}
        </table>
    {% endif %}

    {% with borrows=profile_user.borrows.all %}
    {% if has_curator_permissions and borrows and request.site.domain == "compscicenter.ru" %}
        <h4 class="_mtop-30">{% trans "books" %}:</h4>
          <ul>
            {% for borrow in borrows %}
            <li><a href="{{ borrow.book.get_absolute_url }}">{{ borrow.book.title }}</a></li>
            {% endfor %}
          </ul>
    {% elif has_curator_permissions and borrows %}
        <h4 class="_mtop-30">{% trans "books" %}:</h4>
        Со списком книг можно ознакомиться на сайте центра.
    {% endif %}
    {% endwith %}

    </div>
</div>
</div>
    {% include "users/_user_detail_upload_photo.html" %}
{% endblock content %}
