<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Computer Science Center — объединённая инициатива Школы анализа данных, Computer Science клуба и JetBrains.">
    <meta name="google-site-verification" content="pBs4x-E9VGlX-gA7WxCNEqcYB0TYJCSmcZtSeLBpEgk"/>

    <link rel="shortcut icon" type="image/png" href="{{ static("v2/img/favicon.png") }}">
    <link href="{{ static("v2/dist/css/main.css") }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400&amp;subset=cyrillic" rel="stylesheet">

    {% block stylesheets %} {% endblock stylesheets %}

    <script type="text/javascript">
        window.__CSC__ = {
            notifications: {{ messages(request)|tojson }},
            sprites: ["{{ static("v2/dist/img/sprites/common.svg") }}"]
        };
    </script>
</head>

{% import "v2/_macros.jinja2" as macros %}
{% import "v2/components/menu/_macros.jinja2" as top_menu %}

<body {% block body_attrs %}{% endblock body_attrs %}>
<div class="svg-inline">{% block sprites %}{% endblock sprites %}</div>
{% block before_navbar_container %}{% endblock before_navbar_container %}
{% block menu %}
<div class="navbar-container">
    {% block top_banner %}
        {%- if is_admission_active -%}
            <div class="top-banner">
                <div class="container">
                    <div class="top-banner__text">
                        {{ macros.svg_inline('top-banner-kids') }} До 14 апреля открыт <a class="top-banner__link" href="#">приём заявок</a> на очное обучение в центре
                    </div>
                </div>
            </div>
        {%- endif -%}
    {% endblock top_banner %}
    {%- include "v2/layouts/_top_menu.jinja2" %}
</div>
{% if self.top_banner() %}<div class="top-banner-spacer"></div>{% endif %}
{% endblock menu %}
{% block after_navbar_container %}{% endblock after_navbar_container %}

{% block content %}place page content here{% endblock content %}

{% block footer -%}
<footer class="footer">
    <div class="container">
        <span class="footer__copyright">&copy; Computer Science Center, 2018</span>
        <div class="footer__contacts">
            <a href="/v2/pages/privacy/" class="footer__link">
                Конфиденциальность
            </a>
            <a href="mailto:info@compscicenter.ru" class="footer__link">
                info@compscicenter.ru
            </a>
            <div class="footer__social-media-icons">
                <a target="_blank" rel="noopener" href="https://vk.com/compscicenter" title="Computer Science Center on VK.com">{{ macros.svg_inline('vk') }}</a>
                <a target="_blank" rel="noopener" href="https://t.me/compscicenter_ru" title="Computer Science Center in Telegram">{{ macros.svg_inline('telegram') }}</a>
                <a target="_blank" rel="noopener" href="https://instagram.com/compscicenter" title="Computer Science Center on Instagram">{{ macros.svg_inline('instagram') }}</a>
                <a target="_blank" rel="noopener" href="https://twitter.com/compscicenter" title="Computer Science Center on Twitter">{{ macros.svg_inline('twitter') }}</a>
                <a target="_blank" rel="noopener" href="https://www.facebook.com/CSCenter" title="{{ _('Computer Science Center on Facebook') }}">{{ macros.svg_inline('facebook') }}</a>
                <a target="_blank" rel="noopener" href="https://www.youtube.com/c/compscicenterru" title="Computer Science Center on YouTube">{{ macros.svg_inline('youtube') }}</a>
            </div>
        </div>
    </div>
</footer>
{%- endblock footer %}

{{ render_bundle('common', config='V2') }}
{{ render_bundle('main', config='V2') }}
</body>
</html>