{
  "Statement": [
    {
      "Sid": "PermissionForObjectOperations",
      "Action": [
        "s3:DeleteObject",
        "s3:GetObject",
        "s3:GetObjectAcl",
        "s3:PutObject",
        "s3:PutObjectAcl"
      ],
      "Effect": "Allow",
      "Resource": "arn:aws:s3:::{{ item.item }}/*"
    },
    {
      "Sid": "PermissionForListObjects",
      "Action": [
        "s3:ListBucket"
      ],
      "Effect": "Allow",
      "Resource": "arn:aws:s3:::{{ item.item }}"
    }
  ]
}