{% extends "base.html" %}
{% load i18n %}
{% load core_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}


{% block content %}
<div class="container">
    <div class="row">
        <ol class="breadcrumb gray">
            <li class="active">Статистика</li>
        </ol>
        <div class="panel">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="{% url "stats:admission" %}"><h4>Набор</h4></a></li>
                    <li>
                        <a href="{% url "stats:learning" %}"><h4>Обучение</h4></a>
                        <ul>
                            <li>Слушатели курса</li>
                            <li>Сдача заданий</li>
                            <li>Время до дедлайна</li>
                            <li>Успеваемость</li>
                            <li>Соотношение среднего балла с проходным</li>
                            <li>Итоги</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

