{% extends "base.html" %}
{% load i18n %}
{% load core_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block stylesheets %}
     <link href="{% static "v1/css/vendor/c3.min.css" %}" rel="stylesheet">
     <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    <script charset="utf-8">
        var json_data = jQuery.parseJSON('{{ json_data|escapejs }}');
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-ru_RU.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static 'v1/js/vendor/reverse.js' %}"></script>
    {% render_bundle 'stats' 'js' %}

    {% include "stats/_filter_templates.html" %}
{% endblock javascripts %}

{% block content %}
<div class="container container-responsive" id="stats-page" data-entry="learning">
    <ol class="breadcrumb projects">
        <li class=""><a href="{% url "stats:index" %}">Статистика</a></li>
        <li class="active">Обучение</li>
    </ol>
    <form action="" method="GET" id="courses-filter-form">
        <div class="row">
            <div class="col-xs-3 form-group">
                <select class="form-control selectpicker" id="term-filter">
                    {% for year, group in terms %}
{#                        <optgroup label="{{ year }}">#}
                            {% for term in group %}
                                <option value="{{ term.pk }}"
                                        {% if data.selected.term_id == term.pk %}selected="selected"{% endif %}
                                        {% if courses|lookup:term.pk|length == 0 %}disabled{% endif %}>{{ term }}</option>
                            {% endfor %}
{#                        </optgroup>#}
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-7 form-group">
                <select name="course_session_id" class="form-control selectpicker" id="course-filter">
                    {% for co in courses|lookup:data.selected.term_id %}
                        <option {% if data.selected.course_session_id == co.pk %}selected="selected"{% endif %} value="{{ co.pk }}">{{ co.course__name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-2 form-group">
                <div class="controls">
                    <button disabled type="submit" class="btn btn-primary btn-block">Пересчитать</button>
                </div>
            </div>
        </div>
    </form>

    <div class="panel">
        <div class="panel-body">
            <h3>Слушатели</h3>
            <div class="row">
                  <div class="col-xs-6">
                      <div id="plot-participants-by-group"></div>
                  </div>
                  <div class="col-xs-6">
                      <div id="plot-participants-by-year"></div>
                  </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h3>Задания</h3>
            <h5 class="text-uppercase">Сдача заданий</h5>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-assignments-progress"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Время до дедлайна</h5>
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Учитываются только отправленные решения.
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-assignments-deadline"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Успеваемость</h5>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-assignments-results"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Соотношение среднего балла с проходным</h5>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-assignments-score"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h3>Итоги</h3>
            <div class="row">
                <div class="col-xs-6">
                    <div id="plot-enrollments-results"></div>
                </div>
            </div>

{#            <h3>Активность преподавателей</h3>#}
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-enrollments-results"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

