// CLUB main styles
@import "variables";
@import "../bootstrap.custom.scss";

@import "../jgrowl.customize.scss";
@import "../bootstrap.sweetalerts/sweet-alert-combine.scss";
@import "profile_page";
@import "../center/pages/login";
@import "../center/pages/courses_list_student.scss";
@import "../center/pages/_calendar";
@import "../center/pages/_assignments";
@import "../center/pages/gradebook.scss";
@import "../center/pages/course_offering";
@import "../center/pages/student_submission_comments";
@import "../center/pages/teachers_list";
@import "../center/components/buttons";
@import "../center/components/labels";
@import "../center/components/toolbars";
@import "../center/components/page_aside";
@import "../center/components/loading";
@import "../center/components/cropper";
@import "../center/components/lists";
@import "../center/components/panels";
@import "../center/components/breadcrumbs";
@import "../center/components/upload_photo";
@import "../center/components/editor";
@import "top_menu.scss";
// Make sure to run `grunt build` from `csc` dir until we replace grunt with webpack.
@import "./node_modules/magnific-popup/src/css/main.scss";

.bg-gray {
  background-color: $background-grey;
}
.bg-white {
  background-color: $background-white;
}

// index page
.font-bigger {
  font-size: 18px;
  line-height: 1.5;
}

table {
  th._language {
    width: 84px;
  }
}

#assignments-page {
  margin-top: 40px;

  .list-group-item {
    padding: 8px !important;
  }
}

.tab-content {
  padding: 10px 0;
}

// course offering detail page
.enroll-block {
  margin-bottom: 20px;
}

#index-notice {
  @extend .bg-info;
  text-align: center;
  font-size: 13px;
}

// profile overrides
.profile-sidebar {
  .thumbnail-inner {
    position: relative;
    height: 100%;
    line-height: 1;

    .photo-actions {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #000;
      background: rgba(29, 32, 34, .7);

      a {
        display: block;
        color: #fff;
        padding: 6px 15px;
        line-height: 1.2;
        @include transition(all 120ms ease-out);
        opacity: 0.75;
        font-size: 13px;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// teachers list customization
.teachers-list {
  .teachers-list-item {
    flex: 0 0 242px;
  }
}

// teacher detail hack
.profile-sidebar {
  .thumbnail {
    width: 170px;
  }
}

.banner {

  min-width: $min-width;
  min-height: 180px;
  padding-top: 19%;
  max-height: 360px;
  margin: -30px 0 20px;
  position: relative;

  #copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 10px;

    a {
      color: #fff;
    }
  }

  &._spb {
    background: url(../../img/club/banner_spbw.jpg) top center no-repeat;
    background-size: 100%;
  }

  &._kzn {
    background: url(../../img/club/banner_kazan.jpg) top center no-repeat;
    background-size: 100%;
  }
}

// index page ends

// international schools page
#international-schools {
  table {
    margin-top: 2px;

    th:first-child {
      width: 130px;
    }
  }
}

// Course offering page
#enroll-now {
  @extend .bg-info;
  font-size: 18px;
  line-height: 1.5;
  padding: 15px;
  margin-bottom: 20px;

  .btn {
    margin-top: 10px;
  }
}

// TODO: Rewrite it all with less

blockquote {
  font-size: 14px;
}

h1.bigger-margin {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}

h4.bigger-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h4.no-top-margin {
  margin-top: 0px !important;
}

.container {
  min-width: $min-width !important;
}

body {
  margin-bottom: 90px;
  /* min-height: 100%; */
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 940px;
  margin-bottom: 0;
  background-color: #E6E6E6;
  line-height: 55px;
  color: #9B9B9B;
  margin-top: 75px;

  .social {
    text-align: right;

    a {
      text-align: center;
      color: #9B9B9B;
      padding: 0 0 0 12px;

      &:hover {
        color: #777;
      }
    }

    i {
      vertical-align: middle;

      &.fa-twitter {
        position: relative;
        top: 2px;
      }

      &.fa-google {
        position: relative;
        top: 4px;
        left: -4px;
      }
    }
  }
}

.news-metainfo {
  color: #AAA;
  text-align: right;
}

.index-image-container {
  margin-top: -40px;
  background: url("") repeat-x;
  width: 920px !important;
  overflow-x: hidden;
}

.callout h1 {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  text-align: justify;
}

.callout p {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  font-weight: 200;
  font-size: 23px;
}

.callout-buttons {
  text-align: right;
}

.callout-buttons a {
  margin: 30px 15px;
}

.row.index-callout-buttons-row {
  margin-top: 225px;
}

.index-news {
  padding-left: 0px;
}

.index-news > li {
  position: relative;
  list-style: none;
}

.index-news span.date {
  position: absolute;
  margin-left: -160px;
  padding-right: 10px;
  width: 160px;
  text-align: right;
  font-size: 18px;
  color: #B5B5B5;
}

.col-container {
  width: 940px;
}

.columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 10px;
  column-fill: auto;
}

.user-tile {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  margin-bottom: 10px;
}

.user-tile .user-info h4 {
  margin-top: 0px;
}

.timetable .badge {
  color: black;
  border: 1px solid #D3D3D3;
  font-weight: normal;
  border-radius: 5px;
}

.timetable .badge.lecture {
  background-color: #F9F9F9;
}

.timetable .badge.seminar {
  background-color: #E9E9E9;
}

.timetable-header-row .center {
  text-align: center;
}

.timetable-header-row .center h2 {
  margin: 0px;
}

.timetable-main-row h4 {
  margin-top: 40px;
}

.center-aligned {
  text-align: center;
}

h2 small a {
  color: #999;
}

.h2-and-buttons h2 {
  float: left;
}

.h2-and-buttons .btn-toolbar {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.h2-and-buttons hr {
  clear: both;
}

.h2-and-buttons small {
  white-space: nowrap;
}

.btn {
  border-radius: 0px !important;
}

.badge {
  border-radius: 0px !important;
}

.badge.lecture, .badge.seminar {
  width: 6em;
}

.csc-well {
  background-color: #F1F1F1;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}

h5.assignment {
  font-weight: bold;
}

.assignment-attachment {
  color: #999;
}

.assignment-comment {
  .metainfo {
    color: #999;

    &.first {
      color: #888;
      font-weight: bold;
    }
  }

  .metainfo-holder {
    min-height: 20px;
  }

  hr {
    border-color: #CFCFCF;
  }
}

.comment-list {
  list-style: none;
  padding: 0px;
}

.comment-list li.student {
  margin-right: 80px;
  margin-left: 0px;
}

.comment-list li.teacher {
  margin-right: 0px;
  margin-left: 80px;
}

.marks-sheet-csv-link .reason {
  display: none;
}

.link-disabled {
  color: #CCC;
  text-decoration: none !important;
}

.link-disabled:hover {
  color: #CCC;
  text-decoration: none !important;
}

.link-disabled:active {
  color: #CCC;
  text-decoration: none !important;
}

.link-disabled:visited {
  color: #CCC;
  text-decoration: none !important;
}

.link-disabled .reason {
  opacity: 0;
  display: inline;
}

.link-disabled .reason.active {
  opacity: 1;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.assignment-status {
  //color: #fff;
  font-weight: normal;
  white-space: nowrap;

    &.not-checked {
      color: #000;
    }

    &.being-checked {
      color: #E9E9E9;
    }

    &.unsatisfactory {
      color: $color-red;
    }

    &.pass {
      color: $color-orange;

      &.__binary {
        color: $color-green;
      }
    }

    &.good {
      color: $color-yellow;
    }

    &.excellent {
      color: $color-green;
    }

  &.badge {
    color: #fff;
    border-radius: 5px;
    padding: 4px 6px;

    &.not-checked {
      color: #000;
      border: 1px solid #D3D3D3;
      background-color: #F9F9F9;
    }

    &.being-checked {
      background-color: #E9E9E9;
    }

    &.unsatisfactory {
      background-color: $color-red;
    }

    &.pass {
      background-color: $color-orange;

      &.__binary {
        background-color: $color-green;
        color: #fff;
      }
    }

    &.good {
      background-color: $color-yellow;
    }

    &.excellent {
      background-color: $color-green;
    }
  }
}









.assignment-date.tomorrow {
  color: #FF6B78;
}

.assignment-date.today {
  color: #FF6B78;
}

.assignment-date.day-after-tomorrow {
  color: #F39700;
}

tr.unread {
  background-color: #E2F9FF;
}

.list-unstyled.no-margin {
  margin-bottom: 0px !important;
}

#course-list > li:first-child {
  padding-left: 5px !important;
}

.semester-course-list ul {
  padding-left: 15px;
}

.input-grade {
  width: 100px !important;
}

.nobreak {
  white-space: nowrap;
}

.grade-cell {
  text-align: center;
}

.video-container {
  margin: auto;
  width: 250px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  margin-bottom: 30px;
  opacity: 0.65;
  position: relative;
}

.video-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 250px;
  height: 150px;
  opacity: 0.45;
  z-index: -5;
}

.video-container:hover {
  opacity: 1;
}

.video-inner {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
  font-size: 20px;
  color: #1F4C66;
}

.csc-well blockquote {
  border-left-color: #CFCFCF;
}

.student-comment-metainfo {
  color: #999;
  font-size: 0.75em;
}


// Teachers list
.teachers-list {

  margin-bottom: 20px;

  .col-xs-6 {
    img {
      float: left;
      margin: 0 10px 20px 0;
    }

    .ubertext {
      overflow: hidden;

      .h4 {
        color: $color-blue;
      }

      margin-left: 110px;
    }
  }
}

#teachers-detail {
  h2 {
    margin-bottom: 20px;
  }
}


// news page
div[id^="news-"] {
  &:target {
    // color - like on .unread
    background: $state-info-bg;
    box-shadow: none;
  }
}

h1.page-header {
  border: none;
  margin: 0 0 20px;
}

.nav-tabs.square {
  margin-bottom: 5px;
}