{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "css/vendor/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
{# FIXME: Repeated in interviews.html. Do something with that #}
    <script type="text/javascript" src="{% static "js/vendor/moment/moment-with-locales.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/bootstrap-datetimepicker.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datetimepicker({
                locale: 'ru',
                format: 'DD.MM.YYYY',
                stepping: 5,
                toolbarPlacement: "bottom",
                keyBinds: {
                    left: false,
                    right: false,
                    escape: function () {
                        this.hide();
                    },
                },
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        });
    </script>
{% endblock javascripts %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb projects">
        {% if not form.instance.pk %}
          <li class="active">Добавление нового занятия</li>
            {% else %}
            <li class="active">Редактирование занятия</li>
        {% endif %}
        </ol>
        {% if form.instance.course_offering.is_completed %}
            <div class="alert alert-block alert-warning">
                Курс завершён. Только кураторы могут изменить занятие.
            </div>
        {% endif %}
      {% crispy form form.helper %}
    </div>
  </div>
</div>
{% endblock content %}
