{% set request_user = request.user -%}

{% if request_user.is_curator %}
  <table class="table table-condensed table-striped">
    <tr>
      <td>Группы</td>
      <td>
        {% for group in profile_user.site_groups %}
          {{ group.get_role_display() }}{% if not loop.last %}<br>{% endif %}
        {% else %}
          нет указанных групп
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Успешно сдано курсов</td>
      <td>
        {{ stats.passed.total }}
      </td>
    </tr>
    <tr>
      <td>Записей за семестр [{{ current_semester }}]</td>
      <td>{{ stats.in_term.total }} (на курсы Клуба/Центра/ШАД)</td>
    </tr>
    {% if applicant_list %}
      <tr>
        <td>Анкеты</td>
        <td>
          {% for applicant in applicant_list %}
            <a target="_blank" href="{{ applicant.get_absolute_url() }}">#{{ applicant.pk }}</a>{% if not loop.last %}, {% endif %}
          {% else %}
            Анкеты не найдены
          {% endfor %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>Социальные сети</td>
      <td>
        {{ profile_user.social_networks|default("—", True) }}
      </td>
    </tr>
    <tr>
      <td>Anytask</td>
      <td>{% if profile_user.anytask_url %}
        <a href="{{ profile_user.anytask_url }}" target="_blank" rel="noopener">{{ profile_user.anytask_url }}</a>
      {% else %}
        —
      {% endif %}
      </td>
    </tr>
    <tr>
      <td>{% trans %}Badge number{% endtrans %}</td>
      <td>
        {{ profile_user.badge_number|default("—", True) }}
      </td>
    </tr>
  </table>

  {% if can_view_library %}
    <h4 class="_mtop-30">{% trans %}books{% endtrans %}:</h4>
    {% if borrowed_books %}
      <ul>
        {% for borrow in borrowed_books %}
          <li>
            <a href="{{ borrow.stock.get_absolute_url() }}">{{ borrow.stock.book.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      Нет одолженных книг.
    {% endif %}
  {% endif %}

  {% if is_certificates_of_participation_enabled %}
    <h4 class="_mtop-30">{% trans %}Student references{% endtrans %}:</h4>
    {% if certificates_of_participation %}
      <ul>
        {% for reference in certificates_of_participation %}

            <li>
             {% if is_yds_site %}{{ reference.created|date("d.m.Y") }}&nbsp;—&nbsp;[
              <a target="_blank" href="{{ reference.get_absolute_url() }}?style=shad_ru_with_courses">C курсами</a>,
              <a target="_blank" href="{{ reference.get_absolute_url() }}?style=shad_ru_without_courses">Без курсов</a>,
              <a target="_blank" href="{{ reference.get_absolute_url() }}?style=shad_en_with_courses">EN с курсами</a>,
              <a target="_blank" href="{{ reference.get_absolute_url() }}?style=shad_en_without_courses">EN без курсов</a>
             ]{% else %}
              <a target="_blank" href="{{ reference.get_absolute_url() }}?style=csc">{{ reference.created|date("d.m.Y") }}</a>
             {% endif %}
            </li>

        {% endfor %}
      </ul>
    {% endif %}
    <a href="{{ url('student_reference_add', user_id=profile_user.pk, subdomain=LMS_SUBDOMAIN) }}"
       class="btn btn-primary btn-outline">{% trans %}Create reference{% endtrans %}</a>
  {% endif %}

{% endif %}
