Добрый день.

Через три дня ({{ period_start }}) мы начнём принимать отчёты по практикам через форму <a href="{{ project_link }}">на сайте</a>. Отправить отчёт можно до {{ deadline }} включительно. Более подробно про практику и отчётные мероприятия читайте в гугл-документе:<br />https://docs.google.com/document/d/1ppuzoG2tJPUhIWy0oxoCOLxbpvnao1xLTJYtdFwgogw/edit?usp=sharing

Если у вас есть вопросы, задайте их, пожалуйста, на practice@compscicenter.ru.

Это письмо отправлено автоматически и не требует ответа.