{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/syntax-object-rest-spread"
    // FIXME: `transform-class-properties` included with preset-stage-2, but without spec=True. How to deal with it?
    // Allow class constants
    // ["transform-class-properties", {"spec": true}]
  ]
}