{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1>Очное обучение в CS центре</h1>
                <ul class="ui nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Санкт-Петербург</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новосибирск</a>
                    </li>
                </ul>
                <div class="mb-6">
                    <p>Студенты петербургского отделения&nbsp;CS центра учатся два или три года&nbsp;&mdash; по&nbsp;выбору
                        студента, заканчивают одну или несколько программ обучения и&nbsp;проходят любое количество
                        интересных курсов.</p>
                    <p>
                        Для выпуска нужно сдать двенадцать курсов и&nbsp;пройти три семестра практики или
                        научно-исследовательской работы. У&nbsp;каждой программы обучения есть базовые курсы, которые
                        нужно закончить для выпуска. Слушателям доступны некоторые заочные курсы ШАД и&nbsp;курсы
                        Computer Science клуба.
                    </p>
                </div>

                <h2>Программы обучения</h2>

                <div class="card _program-card">
                    <div class="card__img col-md-4">
                        <img src="/media/academic_disciplines/cs.png" alt="">
                    </div>
                    <div class="card__content col-md">
                        <div class="card__title">
                            <a href="/v2/pages/syllabus/on-campus/detail/">Computer Science</a>
                        </div>
                        <p class="card__subtitle">
                            Современная информатика
                        </p>
                        <p class="card__text">
                            Цель обучения на направлении Computer Science — подготовка специалистов по современной
                            информатике. Студенты направления изучают как теоретические основы информатики, так и
                            более
                            прикладные научные области.
                        </p>
                    </div>
                </div>
            <div class="card _program-card">
                <div class="card__img col-md-4">
                    <img src="/media/academic_disciplines/se.png" alt="">
                </div>
                <div class="card__content col-md">
                    <a href="#" class="card__title">Software Engineering</a>
                    <p class="card__subtitle">
                        Разработка ПО
                    </p>
                    <p class="card__text">
                        Знания и практический опыт, полученные на направлении Software Engineering, позволят выпускникам
                        стать квалифицированными специалистами как в разработке ПО, так и в научно-исследовательской
                        сфере.
                    </p>
                </div>
            </div>
            <div class="card _program-card">
                <div class="card__img col-md-4">
                    <img src="/media/academic_disciplines/ds.png" alt="">
                </div>
                <div class="card__content col-md">
                    <a href="#" class="card__title">Data Science</a>
                    <p class="card__subtitle">
                        Анализ данных
                    </p>
                    <p class="card__text">
                        Направление Data Science посути является отделеним Школы анализа данных Яндекса в
                        Санкт-Петербурге и в Новосибирске. Здесь ведётся подготовка специалистов в области обработки и
                        анализа данных и извлечения информации из интернета.
                    </p>
                </div>
            </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <aside>
                    <div class="card mb-4">
                        <div class="card__content text-small">
                            <div class="card__title">
                                <a href="">Заочное обучение</a>
                            </div>
                            CS центр предлагает всем желающим курсы заочного обучения
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card__content text-small">
                            <div class="card__title">
                                <a href="">Все курсы</a>
                            </div>
                            Курсы подготовлены сотрудниками Яндекса, JetBrains и&nbsp;других IT-компаний, преподавателями
                            ведущих вузов Петербурга и&nbsp;Новосибирска.
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </div>
{% endblock content %}
