{% extends "lms/layouts/v1_base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 h2-and-buttons">
        <h2>{% trans %}Student search{% endtrans %}</h2>
        <div class="btn-toolbar">
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <form class="user-search">
          <input type="hidden" id="ajax-uri" value="{{ json_api_uri }}">
          <div class="form-group">
            <label for="name">{% trans %}Name, full or partial{% endtrans %}</label>
            <input type="text" class="form-control" id="name"
                   autofocus autocomplete="off">
          </div>
          <div class="form-group">
            <label>Отделение</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              {% for branch_id, branch_name in branches.items() %}
                <label class="btn btn-default">
                  <input type="checkbox" name="branches"
                         value="{{ branch_id }}"
                         autocomplete="off">{{ branch_name }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %}Student|admission year{% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              {% for year in admission_years %}
                <label class="btn btn-default">
                  <input type="checkbox" name="year_of_admission"
                         value="{{ year }}"
                         autocomplete="off">{{ year }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %}CSCUser|Curriculum year{% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              {% for year in curriculum_years %}
                <label class="btn btn-default">
                  <input type="checkbox" name="year_of_curriculum"
                         value="{{ year }}"
                         autocomplete="off">{{ year }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %}Groups{% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              {% for type_id, type_name in types %}
                <label class="btn btn-default">
                  <input type="checkbox" name="type" value="{{ type_id }}" autocomplete="off">{{ _(type_name) }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %}Status{% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-default">
                <input type="checkbox" name="status"
                       value="studying" autocomplete="off">Учится
              </label>
              {% for status_id, status_name in status.items() %}
                <label class="btn btn-default">
                  <input type="checkbox" name="status"
                         value="{{ status_id }}"
                         autocomplete="off">{{ _(status_name) }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %}Graduation year{% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-default">
               <input type="checkbox" name="graduation_years"
                      value="0"
                      autocomplete="off"> {% trans %} Any {% endtrans %}
              </label>
              {% for year in graduation_years %}
                <label class="btn btn-default">
                  <input type="checkbox" name="graduation_years"
                         value="{{ year }}"
                         autocomplete="off">{{ year }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %}Passed courses{% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              {% for cnt in cnt_enrollments %}
                <label class="btn btn-default">
                  <input type="checkbox" name="cnt_enrollments"
                         value="{{ cnt }}"
                         autocomplete="off">{{ cnt }}
                </label>
              {% endfor %}
              <label class="btn btn-default">
                <input type="checkbox" name="cnt_enrollments"
                       value="42"
                       autocomplete="off">>12
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %}Areas of study{% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              {% for academic_discipline in academic_disciplines %}
                <label class="btn btn-default">
                  <input type="checkbox" name="academic_disciplines"
                         value="{{ academic_discipline.pk }}"
                         autocomplete="off">{{ academic_discipline.name }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>Магистратуры</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              {% for partner in partner_tags %}
                <label class="btn btn-default">
                  <input type="checkbox" name="partners"
                         value="{{ partner.pk }}"
                         autocomplete="off">{{ partner.name }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>Платное обучение</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              class StudentSearchCSVView(CuratorOnlyMixin, BaseFilterView):
                  context_object_name = "applicants"
              {% for value, label in is_paid_basis %}
                <label class="btn btn-default">
                  <input type="checkbox" name="is_paid_basis" value="{{ value }}" autocomplete="off">{{ label }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label>{% trans %} University graduation year for graduates without diploma {% endtrans %}</label><br>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
               <label class="btn btn-default">
                <input type="checkbox" name="uni_graduation_year"
                       value="0"
                       autocomplete="off"> {% trans %} Any {% endtrans %}
              </label>
              {% for year in uni_graduation_year %}
                <label class="btn btn-default">
                  <input type="checkbox" name="uni_graduation_year"
                         value="{{ year }}"
                         autocomplete="off">{{ year }}
                </label>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-4">
        <p id="user-num-container" style="display: none; font-weight: bold;"></p>
        <div id="user-table-container">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ render_bundle('supervising', config='V1', extension='js') }}
{% endblock javascripts %}
