{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load lookup call_method from core_tags %}
{% load l10n %}
{% load override_url %}


{% block body_attrs %} data-init-sections="gradebook"{% endblock body_attrs %}

{% block javascripts %}
    {% render_bundle "teaching" "js" %}
{% endblock javascripts %}


{% block content %}{% localize off %}
<div class="container container-wide">
    <form method="post" name="gradebook">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 h2-and-buttons">
              <h2>
                {% if request.resolver_match.url_name == 'gradebook' and 'teaching' in request.resolver_match.namespaces %}
                <a href="{% url 'teaching:gradebook_list' %}"><span class="fa fa-angle-left"></span></a>
                {% else %}
                <a href="{% url 'staff:gradebook_list' %}"><span class="fa fa-angle-left"></span></a>
                {% endif %}
                  {% trans "Marks sheet" %}<br><a class="small" href="{{ gradebook.course.get_absolute_url }}">{{ gradebook.course }}</a>
              </h2>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="submit" class="btn btn-primary pull-right" id="marks-sheet-save">{% trans "Save" %}</button>
                </div>
                <div class="btn-group">
                  <a href="{% if view.is_for_staff %}{% call_method gradebook.course 'get_gradebook_url' url_name='staff:gradebook' format='csv' %}{% else %}{% call_method gradebook.course 'get_gradebook_url' url_name='teaching:gradebook' format='csv' %}{% endif %}"
                     target="_blank"
                     class="btn btn-default marks-sheet-csv-link" role="button" data-toggle="tooltip"><i class="fa fa-download"></i> Сохранить .csv</a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default" data-toggle="dropdown"><i class="fa fa-upload"></i> Импорт <span class="caret"></span></a>
                  <ul class="dropdown-menu pull-right" role="menu">
                      <li role="presentation"><a href="#import-marks-csv-stepic" role="menuitem" data-toggle="modal">{% trans "By stepik.org ID" %}</a></li>
                      <li role="presentation"><a href="#import-marks-csv-yandex" role="menuitem" data-toggle="modal">{% trans "By Yandex login" %}</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Все ведомости&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
                      {% regroup course_offering_list by semester as co_by_semester %}
                      {% for cos in co_by_semester %}
                      <li role="presentation" class="dropdown-header">{{ cos.grouper }}</li>
                      {% for course in cos.list %}<li role="presentation">{% if view.is_for_staff %}
                          <a href="{% call_method course 'get_gradebook_url' url_name='staff:gradebook' %}">{{ course.meta_course }}</a>
                      {% else %}
                          <a role="menuitem" tabindex="-1" href="{{ course.get_gradebook_url }}">{{ course.meta_course }}</a>
                      {% endif %}</li>{% endfor %}
                      {% endfor %}
                    </ul>
                </div>
              </div>
              <hr>
            </div>
        </div>
        {% if gradebook.assignments %}
            <div class="gradebook__controls">
                <span class="scroll left">«</span><span class="scroll right">»</span>
            </div>
        {% endif %}
        <div class="gradebook-wrapper">
            <div id="gradebook-container">
                <div id="gradebook" style="width: {{ gradebook.get_table_width }}px;">
                    <div class="headers">
                        <div class="title __student">{% trans "Students" %}</div>
                        <div class="title __final_grade">{% trans "Grades" %}</div>
                        {% if gradebook.assignments %}
                            <div class="title __total_score">{% trans "Total" %}</div>
                        {% endif %}
                        {% for assignment in gradebook.assignments.values %}
                            <div class="title __assignment{% if gradebook.show_weight %}  __weight{% endif %}">
                                <a href="{{ assignment.get_teacher_url }}" title="{{ assignment.title }}">{{ assignment.title }}</a>{% if gradebook.show_weight %}<div class="assignment__weight">Вес: {{ assignment.weight }}</div>{% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="grid">
                        {% for student in gradebook.students.values %}{% spaceless %}
                            <div class="student{% if forloop.counter|divisibleby:2 %} even{% endif %}">
                               <a class="cell __student{% if forloop.counter|divisibleby:2 %} even{% endif %}" href="{{ student.get_absolute_url }}" title="{{ student.username }}">
                                   {{ student.get_abbreviated_short_name }}
                               </a>
                                <div class="cell __final_grade{% if forloop.counter|divisibleby:2 %} even{% endif %}">
                                    {% call_method form 'get_final_widget' student.enrollment_id %}
                                </div>
                                {% if gradebook.assignments %}
                                    <div class="cell __total_score{% if forloop.counter|divisibleby:2 %} even{% endif %}">{{ student.total_score }}</div>
                                {% endif %}
                                {% for student_progress in gradebook.submissions|lookup:student.index %}
                                    {% if student_progress %}
                                        {% if student_progress.assignment.is_online %}
                                            <div class="cell __assignment __score">
                                                <a href="{{ student_progress.get_teacher_url }}">{{ student_progress.get_state }}</a>
                                            </div>
                                        {% else %}
                                            {% call_method form 'get_assignment_widget' student_progress.id %}
                                        {% endif %}
                                    {% else %}
                                        <div class="cell __assignment __expelled"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endspaceless %}{% endfor %}
                    </div>

                    <div class="meta">
                        <div class="cell __student gray">{% trans "Students" %}:&nbsp;{{ gradebook.students|length }}</div>
                        <div class="cell __final_grade"></div>
                        {% if gradebook.assignments %}
                            <div class="cell __total_score"></div>
                        {% endif %}
                        {% for assignment in gradebook.assignments.values %}
                        <div class="cell __assignment __meta">{{ assignment.passing_score }}/{{ assignment.maximum_score }}</div>
                        {% endfor %}
                    </div>

                    {% if gradebook.assignments|length > 8 %}<div class="shadow"></div>{% endif %}
                </div>
            </div>
        </div>
    </form>
</div>

{% include "learning/gradebook/_modal_stepic.html" %}
{% include "learning/gradebook/_modal_yandex.html" %}

{% endlocalize %}
{% endblock content %}

