<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Набор в Computer Science Center</title>
    <script type="text/javascript">
        function closeAndUpdate() {
            if (window.opener) {
                window.opener.accessYandexLoginSuccess("{{ yandex_login }}");
                window.close();
            }
        }

        function closeAndShowError(error) {
            if (window.opener) {
                window.opener.accessYandexLoginError(error);
                window.close();
            }
        }

        {% if error %}
            closeAndShowError("{{ error }}");
        {% else %}
            closeAndUpdate();
        {% endif %}
    </script>
</head>
<body>
    Данное окно можно закрыть.
</body>
</html>