DEBUG=1
REVERSE_URL_SCHEME=http
DATABASE_URL=postgresql://csc:password@127.0.0.1:5432/cscdb
REDIS_HOST=127.0.0.1
DJANGO_SECRET_KEY=SET KEY ON PRODUCTION
DJANGO_ALLOWED_HOSTS=*
DJANGO_EMAIL_HOST=127.0.0.1
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_PORT=1025
# 0o755 is 493 with base 10
DJANGO_FILE_UPLOAD_DIRECTORY_PERMISSIONS=493
# 0o664 is 436 with base 10
DJANGO_FILE_UPLOAD_PERMISSIONS=436
NEWRELIC_ENV=development
HASHIDS_SALT=SET HASHIDS_SALT ON PRODUCTION
YANDEX_DISK_USERNAME=dummy_ya_username
YANDEX_DISK_PASSWORD=dummy_ya_password
SENTRY_DSN=