@import "jasny-bootstrap/scss/fileinput";

.form-group-5 > .form-group {
  margin-bottom: 5px;
}

.jasny.fileinput > .form-control {
  border-radius: 0;
}

.input-daterange {
  width: 100%;
  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  .input-group {
    float: left;
    width: 50%;
    &:first-child input, &:not(:last-child) input {
      border-radius: 0;
    }
    &:not(:first-child):not(:last-child) .input-group-addon {
      border-right-width: 0;
      border-left-width: 0;
      border-radius: 0;
    }
    &:last-child {
      .input-group-addon {
        border-left-width: 0;
        border-radius: 0;
      }
      input {
        border-radius: 0 3px 3px 0;
      }
    }
  }
  .input-group-addon {
    min-width: 16px;
    padding: 4px 12px;
    margin-right: -5px;
    margin-left: -5px;
    line-height: 1.57142857;
    border-width: 1px 0;
    &:first-child {
      border-left-width: 1px;
    }
    &:last-child {
      border-right-width: 1px;
    }
  }
}

.clearablefileinput {
  @extend .form-control;
}