@import "./jgrowl.variables";
@import "./jgrowl.core";

.jGrowl {
  color: #fff;
  font-size: 14px;
}

.jGrowl-notification {
  border-color: transparent;
  padding: 15px 20px;
  width: 350px;
  border-radius: 4px;
}

.jGrowl-notification .jGrowl-close {
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  top: -4px;
  right: -6px;
  padding: 0 0 0 4px;
  position: relative;
  color: #000;
  opacity: .5;
  &:hover {
    opacity: .8;
  }
}

.jGrowl-closer {
  width: 350px;
  background: none;
  color: #000;
}