{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="_title">Computer Science Center</h1>
                <section class="content-block">
                    <p>Computer Science Center&nbsp;&mdash; это совместная инициатива <a href="http://compsciclub.ru/"
                                                                                         target="_blank">Computer
                        Science клуба</a> при ПОМИ&nbsp;РАН,
                        компании <a href="https://jetbrains.ru/" target="_blank">JetBrains</a> и&nbsp;<a
                                href="https://yandexdataschool.ru/" target="_blank">Школы анализа данных Яндекса</a>.
                    </p>
                    <figure class="figure">
                        <img src="/media/pages/text-page/lecture.jpg" class="figure-img img-fluid" alt="">
                        <figcaption class="figure-caption">Лекция в&nbsp;CS&nbsp;центре</figcaption>
                    </figure>
                    <p>Центр
                        предлагает двух- или трёхлетние вечерние
                        очные
                        курсы студентам из&nbsp;Санкт-Петербурга и&nbsp;Новосибирска по&nbsp;одному из&nbsp;трёх
                        направлений:
                    <ul>
                        <li><a href="">Анализ данных</a></li>
                        <li><a href="">Разработка ПО</a></li>
                        <li><a href="">Современная информатика</a></li>
                    </ul>
                    Для тех, кто не&nbsp;может учиться очно, Центр готовит
                    <a href="">онлайн-курсы</a> по&nbsp;математике и&nbsp;программированию.</p>
                </section>
                <section class="content-block">
                    <h2>Цели</h2>
                    <p>Основная цель&nbsp;CS центра&nbsp;&mdash; дать возможность желающим получить востребованные
                        современной наукой и
                        промышленностью знания в&nbsp;дополнение к&nbsp;университетскому образованию. За&nbsp;годы
                        существования
                        глобальная
                        цель осталась прежней, но&nbsp;разделилась на&nbsp;несколько более конкретных.</p>
                    <ol>
                        <li>Отбирать мотивированных студентов и&nbsp;молодых специалистов и&nbsp;за&nbsp;два-три года
                            давать им
                            теоретическую и&nbsp;практическую базу для научной работы или промышленного
                            программирования.
                        </li>
                        <li>Искать и&nbsp;находить специалистов в&nbsp;различных областях и&nbsp;давать им&nbsp;возможность
                            передавать
                            знания
                            другим.
                        </li>
                        <li>Распространять эти знания не&nbsp;только на&nbsp;учащихся из&nbsp;Санкт-Петербурга или
                            Новосибирска, но&nbsp;и
                            всем
                            желающим в&nbsp;онлайн-формате.
                        </li>
                    </ol>
                    <figure class="figure">
                        <img src="/media/pages/text-page/alumni_2018.jpg" class="figure-img img-fluid" alt="">
                        <figcaption class="figure-caption">Выпускники 2018-го года</figcaption>
                    </figure>
                    <p>CS центр идёт к своим целям, но их содержание всё время меняется: нужно каждый год обновлять
                        программу и
                        состав курсов, раз в семестр искать проекты для практики или для научно-исследовательской
                        работы,
                        постоянно искать новых преподавателей. Так появляется ещё одна цель CS центра — делать
                        предлагаемое
                        образование актуальным и не останавливаться.</p>
                </section>
                <section class="content-block">
                    <h2>История</h2>
                    <p>Computer Science Center создан в&nbsp;Санкт-Петербурге в&nbsp;2011 году на&nbsp;базе <a
                            href="http://amse.ru/"
                            target="_blank">Академии
                        современного
                        программирования</a> и&nbsp;<a href="http://compsciclub.ru/" target="_blank">Computer Science
                        клуба</a> в
                        сотрудничестве со
                        <a href="https://yandexdataschool.ru/" target="_blank">Школой анализа данных</a>.
                    </p>
                    <p>
                        После создания&nbsp;CS центра Академия современного программирования стала его частью. CS&nbsp;клуб
                        продолжает
                        существовать как самостоятельная активность: курсы Клуба открыты для всех желающих, а&nbsp;для
                        студентов
                        Центра они входят в&nbsp;программу обучения как курсы по&nbsp;выбору.</p>
                    <figure class="figure">
                        <img src="/media/pages/text-page/open.jpg" class="figure-img img-fluid" alt="">
                        <figcaption class="figure-caption">Открытие CS центра в 2011-м году. Фото из архива.
                        </figcaption>
                    </figure>
                </section>
                <section class="content-block">
                    <h3>Центр был создан при активном участии учредителей</h3>
                    <ul>
                        <li><a href="http://www.linkedin.com/in/yaivanov" target="_blank">Андрей Иванов</a> (<a
                                href="http://jetbrains.ru/">JetBrains</a>, <a href="http://mit.spbau.ru/">СПбАУ РАН</a>);
                        </li>
                        <li><a href="http://halgebra.math.msu.su/wiki/doku.php/staff:bunina">Елена Бунина</a> (<a
                                href="https://yandex.ru/company/" target="_blank">Яндекс</a>, <a
                                href="http://yandexdataschool.ru/" target="_blank">ШАД</a>, <a href="http://msu.ru/"
                                                                                               target="_blank">МГУ</a>);
                        </li>
                        <li><a href="https://logic.pdmi.ras.ru/~kulikov/" target="_blank">Александр Куликов</a> (<a
                                href="http://www.pdmi.ras.ru/pdmi/index.php" target="_blank">ПОМИ РАН</a>, <a
                                href="https://compsciclub.ru/" target="_blank">CS&nbsp;клуб</a>);
                        </li>
                        <li><a href="https://logic.pdmi.ras.ru/~smal/" target="_blank">Александр Смаль</a> (<a
                                href="http://www.pdmi.ras.ru/pdmi/index.php">ПОМИ РАН</a>, <a
                                href="http://mit.spbau.ru/"
                                target="_blank">СПбАУ РАН</a>);
                        </li>
                        <li><a href="https://logic.pdmi.ras.ru/~hirsch/" target="_blank">Эдуард Гирш</a> (<a
                                href="http://www.pdmi.ras.ru/pdmi/index.php" target="_blank">ПОМИ РАН</a>);
                        </li>
                        <li><a href="" target="_blank">Евгения Куликова</a> (<a
                                href="https://yandex.ru/company/" target="_blank">Яндекс</a>).
                        </li>
                    </ul>
                </section>
                <section class="content-block">
                    <h3>С&nbsp;момента создания основную поддержку центру оказывают</h3>
                    <ul>
                        <li><a href="https://yandex.ru/company/" target="_blank">Яндекс</a>;</li>
                        <li><a href="http://jetbrains.ru/" target="_blank">JetBrains</a>;</li>
                        <li>Антон Лиходедов и&nbsp;Юрий Богданов.</li>
                    </ul>
                </section>
                <p>Отдельная благодарность Якову Зайцеву, подарившему&nbsp;CS&nbsp;центру более 100&nbsp;книг.</p>
            </div>

            <div class="col-lg-3 offset-lg-1">
                <aside>
                    <div class="text-note">
                        <a href="#">Как поступить</a>
                        <p class="_text">Обучение в&nbsp;центре бесплатное. Набор учащихся проходит по&nbsp;конкурсу раз
                            в
                            год.</p>
                    </div>
                    <div class="text-note">
                        <a href="#">Адреса аудиторий</a>
                    </div>
                    <div class="card">
                        <img class="card-img" src="/media/pages/text-page/info-card-image.svg" alt="">
                        <div class="card-body">
                            Учиться в&nbsp;центре могут студенты вузов, аспиранты и&nbsp;молодые специалисты. Главное
                            &mdash;
                            живой интерес к&nbsp;учебе, готовность развиваться в&nbsp;выбранном направлении и&nbsp;делать
                            это по&nbsp;будним
                            вечерам
                            и
                            выходным.
                        </div>
                    </div>
                    <div class="testimonial _bubble">
                        <div class="testimonial__quote">
                            <div class="testimonial__text">
                                CSCenter&nbsp;&mdash; явление, которое наполняет чувством искренней гордости за&nbsp;свою
                                страну. В&nbsp;его
                                основе
                                заложены справедливость, свободный дух
                            </div>
                        </div>
                        <img class="img-rounded" src="/media/pages/index/student.png" width="50" height="50">
                        <div class="testimonial__author">
                            <a href="#">Евгений Игоревич Викулов</a>
                            <span>Выпуск 2017, Разработка ПО, Современная информатика</span>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock content %}
