{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="_title">Computer Science Center</h1>
            <section class="content-block">
                <h2>О центре</h2>
                <p>Computer Science Center – это совместная инициатива <a href="http://compsciclub.ru/" target="_blank">Computer
                    Science клуба</a> при ПОМИ РАН,
                    компании <a href="https://jetbrains.ru/" target="_blank">JetBrains</a> и <a
                            href="https://yandexdataschool.ru/" target="_blank">Школы анализа данных Яндекса</a>. Центр
                    предлагает двух- или трёхлетние* вечерние
                    очные
                    курсы студентам из Санкт-Петербурга и Новосибирска по одному из трёх направлений: анализ данных,
                    разработка ПО или современная информатика**. Для тех, кто не может учиться очно, Центр готовит
                    онлайн-курсы по математике и программированию.</p>
                <p>Сначала поступить на очное обучение в Computer Science Center можно было только в Санкт-Петербурге. С
                    2017 года такая возможность есть и в Новосибирске — компании Яндекс и JetBrains запустили новое
                    отделение Центра. До этого в Новосибирске действовал филиал Школы анализа данных Яндекса. Теперь в
                    качестве новосибирского филиала Школы можно рассматривать направление анализа данных в CS центре.
                </p>
                <p>
                    <small class="text-muted">* Обучение в Новосибирске рассчитано ровно на два года.</small></br>
                    <small class="text-muted">** Направление Computer Science представлено только в Санкт-Петербурге.</small>
                </p>
            </section>
            <section class="content-block">
                <h2>Цели</h2>
                <p>Основная цель CS центра – дать возможность желающим получить востребованные современной наукой и
                    промышленностью знания в дополнение к университетскому образованию. За годы существования глобальная
                    цель осталась прежней, но разделилась на несколько более конкретных.</p>
                <ol>
                    <li>Отбирать мотивированных студентов и молодых специалистов и за два-три года давать им
                        теоретическую и
                        практическую базу для научной работы или промышленного программирования.
                    </li>
                    <li>Искать и находить специалистов в различных областях и давать им возможность передавать знания
                        другим.
                    </li>
                    <li>Распространять эти знания не только на учащихся из Санкт-Петербурга или Новосибирска, но и всем
                        желающим в онлайн-формате.
                    </li>
                </ol>
                <p>CS центр идёт к своим целям, но их содержание всё время меняется: нужно каждый год обновлять
                    программу и
                    состав курсов, раз в семестр искать проекты для практики или для научно-исследовательской работы,
                    постоянно искать новых преподавателей. Так появляется ещё одна цель CS центра — делать предлагаемое
                    образование актуальным и не останавливаться.</p>
                <figure class="figure">
                    <img src="/media/pages/text-page/cs-lecture.png" class="figure-img img-fluid" alt="">
                    <figcaption class="figure-caption">Лекция в Computer Science Center</figcaption>
                </figure>
            </section>
            <section class="content-block">
                <h2>История</h2>
                <p>Computer Science Center создан в Санкт-Петербурге в 2011 году на базе <a href="http://amse.ru/" target="_blank">Академии современного
                    программирования</a> и <a href="http://compsciclub.ru/" target="_blank">Computer Science клуба</a> в сотрудничестве со
                    <a href="https://yandexdataschool.ru/" target="_blank">Школой анализа данных</a>.
                </p>
                <p>
                    После создания CS центра Академия современного программирования стала его частью. CS клуб продолжает
                    существовать как самостоятельная активность: курсы Клуба открыты для всех желающих, а для студентов
                    Центра они входят в программу обучения как курсы по выбору.</p>
            </section>
            <section class="content-block">
                <h3>Центр был создан при активном участии учредителей</h3>
                <ul>
                    <li><a href="http://www.linkedin.com/in/yaivanov" target="_blank">Андрей Иванов</a> (<a
                            href="http://jetbrains.ru/">JetBrains</a>, <a href="http://mit.spbau.ru/">СПбАУ РАН</a>);
                    </li>
                    <li><a href="http://halgebra.math.msu.su/wiki/doku.php/staff:bunina">Елена Бунина</a> (<a
                            href="https://yandex.ru/company/" target="_blank">Яндекс</a>, <a
                            href="http://yandexdataschool.ru/" target="_blank">ШАД</a>, <a href="http://msu.ru/"
                                                                                           target="_blank">МГУ</a>);
                    </li>
                    <li><a href="https://logic.pdmi.ras.ru/~kulikov/" target="_blank">Александр Куликов</a> (<a
                            href="http://www.pdmi.ras.ru/pdmi/index.php" target="_blank">ПОМИ РАН</a>, <a
                            href="https://compsciclub.ru/" target="_blank">CS клуб</a>);
                    </li>
                    <li><a href="https://logic.pdmi.ras.ru/~smal/" target="_blank">Александр Смаль</a> (<a
                            href="http://www.pdmi.ras.ru/pdmi/index.php">ПОМИ РАН</a>, <a href="http://mit.spbau.ru/"
                                                                                          target="_blank">СПбАУ РАН</a>);
                    </li>
                    <li><a href="https://logic.pdmi.ras.ru/~hirsch/" target="_blank">Эдуард Гирш</a> (<a
                            href="http://www.pdmi.ras.ru/pdmi/index.php" target="_blank">ПОМИ РАН</a>);</li>
                    <li><a href="" target="_blank">Евгения Куликова</a> (<a
                            href="https://yandex.ru/company/" target="_blank">Яндекс</a>).</li>
                </ul>
            </section>
            <section class="content-block">
                <h3>С момента создания основную поддержку центру оказывают</h3>
                <ul>
                    <li><a href="https://yandex.ru/company/" target="_blank">Яндекс</a>;</li>
                    <li><a href="http://jetbrains.ru/" target="_blank">JetBrains</a>;</li>
                    <li>Антон Лиходедов и Юрий Богданов.</li>
                </ul>
            </section>
            <p>Отдельная благодарность Якову Зайцеву, подарившему CS центру более 100 книг.</p>
        </div>
        <div class="col-lg-3 offset-lg-1">
            <div class="text-note">
                <a href="#">Для кого</a>
                <p class="_text">Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное – живой
                    интерес к учебе, готовность развиваться в выбранном направлении и делать это по будним вечерам и
                    выходным.</p>
            </div>
            <div class="text-note">
                <a href="#">Где и когда</a>
                <p class="_text">В Санкт-Петербурге обучение преимущественно в БЦ «Таймс». Часть занятий проходит на
                    базе Физико-математического лицея 239 и ПОМИ РАН.В Новосибирске — в учебных аудиториях НГУ.
                    Практически все занятия CS центра проходят по будням с 18:30.</p>
            </div>
            <div class="text-note">
                <a href="#">Как поступить</a>
                <p class="_text">Обучение в центре бесплатное. Набор учащихся проходит по конкурсу раз в год. В 2011
                    было набрано 93 человека, в 2012 – 75, в 2013 – 72, в 2014 – 102, в 2015 — 67, в 2016 — 66, в 2017 –
                    62 в Петербурге и 45 в Новосибирске. </p>
            </div>

            <div class="testimonial _bubble">
                <div class="testimonial__quote">
                    <div class="testimonial__text">
                        CSCenter — явление, которое наполняет чувством искренней гордости за свою страну. В его основе
                        заложены справедливость, свободный дух
                    </div>
                </div>
                <img class="img-rounded" src="/media/pages/index/student.png" width="50" height="50">
                <div class="testimonial__author">
                    <a href="#">Евгений Игоревич Викулов</a>
                    <span>Выпуск 2017, Разработка ПО, Современная информатика</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
