{% extends "v2/layouts/inner.jinja2" %}

{% block body_attrs %}class="_nofooter"{% endblock body_attrs %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block menu %}
    <div class="navbar-container">
        <nav class="navbar navbar-main{% if theme_class %} {{ theme_class }}{% endif %}">
            <div class="container">
                <a class="navbar-logo" href="/v2/pages/">{{ macros.svg_inline('logo-csc') }}</a>
                <div class="menu-desktop-wrapper">
                    <ul class="ui navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link _active" href="/v2/pages/about/">Выпускники 2018</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Статистика</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Фотографии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Отзывы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock menu %}

{% block content %}
    <div class="cover _green-gradient p-lg-10">
        <div class="container page-content text-center">
            <div class="cover-student-avatar mt-8 mb-4">
                <img class="img-fluid" src="/static/v2/img/placeholder/girl.png" alt="">
            </div>
            <p class="mb-1">Выпускница CS центра</p>
            <h1 class="mb-lg-0">Дарья Широкова</h1>
        </div>
    </div>
 <div class="container-fluid _dark">
    <div class="container page-content pt-10 pb-10">
        <div class="row content-center py-10">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card__content p-8">
                        <h2>Отзыв об учебе в CS центре</h2>
                        <p>В центр я шла, чтобы систематизированно учиться. Оказалось, что помимо этого в центре можно найти друзей, познакомиться с увлечёнными свои делом людьми и увидеть, что очень-очень многое возможно.
                        </p>
                        <ul>
                            <li>получить продвинутое, актуальное и системное образование, не испытывая ограничений и
                                неприятностей обычного университета;
                            </li>
                            <li>самостоятельно выбирать, чему учиться, из широкого набора доступных курсов;</li>
                            <li>попробовать несколько направлений и выбрать самое подходящее для себя, не только слушая
                                курсы, но и на практике: участвуя в проектах или научной работе;
                            </li>
                            <li>оказаться в сообществе прекрасных и мотивированных людей.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
    <div class="container page-content my-10">
        <h2 class="text-center m-0">История</h2>
        <div class="row content-center">
            <div class="col-lg-5 col-sm-8 col-10">
                <div class="timeline _person-history my-8">
                    <div class="timeline__element">
                        <div class="timeline__content">
                            <div class="timeline__date">20 мая 2017</div>
                            <p>Подала заявление</p>
                        </div>
                    </div>

                    <div class="timeline__element">
                        <div class="timeline__content">
                            <div class="timeline__date">31 мая 2017</div>
                            <p>Написала экзамен на 9/10</p>
                        </div>
                    </div>

                    <div class="timeline__element">
                        <div class="timeline__img">
                            <img class="img-fluid" src="/static/v2/img/placeholder/girl.png" alt="">
                        </div>
                        <div class="timeline__content">
                            <div class="timeline__date _important">10 июня 2017</div>
                            <h3>Зачислена в CSC и длинный заголовок на несколько строчек</h3>
                        </div>
                    </div>
                    <div class="timeline__element">
                        <div class="timeline__content">
                            <div class="timeline__date">Осень 2017</div>
                            <ul class="_unstyled">
                                <li><a href="#">Алгоритмы и структуры данных, часть 1</a> <p class="text-small">отлично</p>
                                </li>
                                <li><a href="#">Программирование на C++, часть 1</a> <p class="text-small">отлично</p>
                                </li>
                                <li><a href="#">Программирование на Java1</a> <p class="text-small">хорошо</p></li>
                            </ul>
                            <span class="timeline__label">Курсы ШАД</span>
                            <ul class="_unstyled">
                                <li><a href="#">Алгоритмы и структуры данных, часть 1</a> <p class="text-small">отлично</p>
                                </li>
                                <li><a href="#">Программирование на Java1</a> <p class="text-small">зачет</p></li>
                            </ul>
                            <span class="timeline__label">Научно-исследовательские работы</span>
                            <ul class="_unstyled">
                                <li><a href="#">Алгоритмы и структуры данных, часть 1</a> <p class="text-small">удовлетворительно</p>
                                </li>
                                <li><a href="#">Программирование на Java1</a> <p class="text-small">отлично</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="timeline__element">
                        <div class="timeline__content">
                            <span class="timeline__date">Весна 2018</span>
                            <ul class="_unstyled">
                                <li><a href="#">Алгоритмы и структуры данных, часть 2</a> <p class="text-small">отлично
                                </li>
                                <li><a href="#">Программирование на Java1</a> <p class="text-small">удовлетворительно</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="timeline__element _photo">
                        <div class="timeline__img">
                            <img class="img-fluid" src="/static/v2/img/placeholder/girl.png" alt="">
                        </div>
                        <div class="timeline__content">
                            <span class="timeline__date _important">Весна 2018</span>
                            <h3>Закончила обучение в CS центре</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid _dark">
        <div class="container pt-10 pb-10">
            <div class="row content-center pt-10 pb-6">
                <div class="col-lg-9 text-center">
                    <h2>Статистика и достижения</h2>
                    <div class="row mt-10">
                        <div class="col-sm-4 mb-4"><img src="/static/v2/img/pages/syllabus/distance/backend.svg"
                                                   alt="Бэкенд-разработчик">
                            <p class="mt-2">Курсов сдано</p>
                        </div>
                        <div class="col-sm-4 mb-4"><img src="/static/v2/img/pages/syllabus/distance/web-developer.svg"
                                                   alt="Веб-разработчик">
                            <p class="mt-2">Курсов не сдано</p>
                        </div>
                        <div class="col-sm-4 mb-4"><img src="/static/v2/img/pages/syllabus/distance/analytic.svg"
                                                   alt="Аналитик">
                            <p class="mt-2">Аналитик</p>
                        </div>
                        <div class="col-sm-4 mb-4"><img src="/static/v2/img/pages/syllabus/distance/backend.svg"
                                                        alt="Бэкенд-разработчик">
                            <p class="mt-2">Курсов сдано</p>
                        </div>
                        <div class="col-sm-4 mb-4"><img src="/static/v2/img/pages/syllabus/distance/web-developer.svg"
                                                        alt="Веб-разработчик">
                            <p class="mt-2">Курсов не сдано</p>
                        </div>
                        <div class="col-sm-4 mb-4"><img src="/static/v2/img/pages/syllabus/distance/analytic.svg"
                                                        alt="Аналитик">
                            <p class="mt-2">Аналитик</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container pt-10 pb-10">
            <div class="row content-center pt-10 pb-6">
                <div class="col-lg-9 text-center">
                    <h2>Особое достижение</h2>
                    <div class="row mt-10 content-center">
                        <div class="col-sm-4"><img class="w-100" src="/static/v2/img/pages/syllabus/distance/backend.svg"
                                                   alt="Бэкенд-разработчик">
                            <p class="mt-2">Курсов сдано</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
