{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <h1 class="text-center pb-10">Памятка поступающему в&nbsp;CS&nbsp;центр</h1>
        <div class="row text-center text-lg-left">
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/prepare.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Подготовьтесь</h2>
                        <p>Тест, экзамен и&nbsp;собеседования проходят в&nbsp;рамках <a
                                href="https://compscicenter.ru/enrollment/program/">программы
                            для поступления</a>. Посмотрите <a href="https://yadi.sk/d/PMdV1XwxUwNqGQ" target="_blank"
                                                               rel="noopener">материалы</a> прошлых лет.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/timing.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Рассчитайте время</h2>
                        <p>Чтобы качественно учиться в&nbsp;центре, нужно будет тратить примерно три вечера в&nbsp;неделю
                            на&nbsp;очные
                            занятия, один день на&nbsp;практику и&nbsp;один день на&nbsp;домашние задания.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center text-lg-left">
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/strength.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Рассчитайте силы</h2>
                        <p>В&nbsp;CS&nbsp;центре студентам предлагается практика, но&nbsp;практика подразумевает не&nbsp;только
                            возможность
                            научиться чему-то новому, но&nbsp;и&nbsp;ответственность перед руководителем.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/working.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Вы&nbsp;работаете?</h2>
                        <p>Совмещать обучение в&nbsp;CS центре с&nbsp;работой на&nbsp;полный рабочий день очень сложно.
                            Об&nbsp;этом говорит
                            опыт предыдущих лет и&nbsp;здравый смысл.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center text-lg-left">
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/magistr.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Идёте в&nbsp;магистратуру?</h2>
                        <p>Мы&nbsp;рекомендуем поступающим в&nbsp;магистратуру <a href="https://abit.ifmo.ru/program/11686/" target="_blank" rel="noopener">Университета ИТМО</a> на&nbsp;направление
                            &laquo;Разработка
                            программного обеспечения&raquo; обдумать целесообразность поступления в&nbsp;CS центр: наши
                            программы и
                            преподавательский состав сильно пересекаются.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/future.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Подумайте о&nbsp;будущем</h2>
                        <p>Мы&nbsp;не&nbsp;просим при поступлении окончательно определиться с&nbsp;продолжительностью
                            обучения или с
                            направлением, с&nbsp;которого вы&nbsp;планируете выпускаться, но&nbsp;у&nbsp;вас должны быть
                            сформулированные
                            мысли по&nbsp;этому поводу.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center text-lg-left">
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/assess.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Оцените курсы</h2>
                        <p>На&nbsp;этом сайте есть <a href="https://compscicenter.ru/videos/">коллекция видео</a> с&nbsp;занятий&nbsp;CS центра. Обратите на&nbsp;неё
                            внимание: просмотр
                            некоторых лекций может быть полезным для понимания уровня требуемых знаний или специфики
                            разных курсов.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-10">
                    <div class="col-lg-auto mb-4">
                        <img src="/static/v2/img/pages/helper/try.svg" alt="">
                    </div>
                    <div class="col-lg-7">
                        <h2>Обязательно пробуйте</h2>
                        <p>Не&nbsp;забывайте, что, если вы&nbsp;не&nbsp;поступили в&nbsp;этом году, у&nbsp;вас
                            освободилось много времени, чтобы
                            улучшить свои знания, определиться с&nbsp;направлением развития и&nbsp;поступить через
                            год.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}