{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <a href="/v2/pages/meta_course/">Страница курса</a><br>
        <a href="/v2/pages/course_detail/">Страница прочтения курса</a>
    </div>
{% endblock content %}