{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="_title">Computer Science Center</h1>
                <section class="content-block">
                    <h2>2018</h2>
                    <p>В 2018 году CS центр запустил полугодовые онлайн-программы для разработчиков по направлениям
                    </p>
                    <div class="csc-online-education">
                        <div class="row">
                            <div class="col-lg-3">
                                <a class="card" href="#">
                                    <div class="card-img-wrapper">
                                        <img src="/static/v2/img/pages/index/online_programs/algo.jpg"
                                             alt="Card image cap">
                                    </div>
                                    <div class="card-block">
                                        <h4 class="csc-online-education__card-title">Алгоритмы и эффективные
                                            вычисления</h4>
                                        <p class="csc-online-education__card-text">
                                            <small class="text-muted">Онлайн-программа</small>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a class="card" href="#">
                                    <div class="card-img-wrapper">
                                        <img src="/static/v2/img/pages/index/online_programs/math.jpg"
                                             alt="Card image cap">
                                    </div>
                                    <div class="card-block">
                                        <h4 class="csc-online-education__card-title">Математика для
                                            разработчика</h4>
                                        <p class="csc-online-education__card-text">
                                            <small class="text-muted">Онлайн-программа</small>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a class="card" href="#">
                                    <div class="card-img-wrapper">
                                        <img src="/static/v2/img/pages/index/online_programs/dev.jpg"
                                             alt="Card image cap">
                                    </div>
                                    <div class="card-block">
                                        <h4 class="csc-online-education__card-title">Разработка на C++, Java и
                                            Haskell</h4>
                                        <p class="csc-online-education__card-text">
                                            <small class="text-muted">Онлайн-программа</small>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Каждая программа состоит из трёх или четырёх онлайн-курсов от опытных разработчиков и учёных.
                        Курсы программ — отличная возможность подготовиться к собеседованию в IT-компанию или к
                        поступлению в Computer Science центр, где можно продолжить учёбу в более продвинутых областях,
                        например, анализ данных и машинное обучение.
                    </p>
                </section>
                <section class="content-block">
                    <h2>2017</h2>
                    <p>В 2017 году компании Яндекс и JetBrains открыли CS центр в Новосибирске, где до этого действовал
                        филиал Школы анализа данных Яндекса. Теперь в качестве новосибирского филиала Школы можно
                        рассматривать направление анализа данных в CS центре.
                    </p>
                    <div class=" card program-card">
                        <a class="_card-img cs col-sm-4"></a>
                        <div class="card-info col-sm">
                            <h3><a href="#" class="_card-eng-title">Computer Science</a></h3>
                            <p class="_translate">
                                Современная информатика
                            </p>
                            <p class="_card-description">
                                Цель обучения на направлении Computer Science — подготовка специалистов по современной
                                информатике. Студенты направления изучают как теоретические основы информатики, так и
                                более
                                прикладные научные области.
                            </p>
                        </div>
                    </div>
                    <div class="card program-card">
                        <a class="_card-img se col-sm-4"></a>
                        <div class="card-info col-sm">
                            <h3><a href="#" class="_card-eng-title">Software Engineering</a></h3>
                            <p class="_translate">
                                Разработка ПО
                            </p>
                            <p class="_card-description">
                                Знания и практический опыт, полученные на направлении Software Engineering, позволят
                                выпускникам
                                стать квалифицированными специалистами как в разработке ПО, так и в
                                научно-исследовательской
                                сфере.
                            </p>
                        </div>
                    </div>
                    <div class="card program-card">
                        <a class="_card-img ds col-sm-4"></a>
                        <div class="card-info col-sm">
                            <h3><a href="#" class="_card-eng-title">Data Science</a></h3>
                            <p class="_translate">
                                Анализ данных
                            </p>
                            <p class="_card-description">
                                Направление Data Science посути является отделеним Школы анализа данных Яндекса в
                                Санкт-Петербурге и в Новосибирске. Здесь ведётся подготовка специалистов в области
                                обработки и
                                анализа данных и извлечения информации из интернета.
                            </p>
                        </div>
                    </div>
                </section>
                <section class="content-block">
                    <h2>2016</h2>
                    <p>В 2015-2016 учебном году CS центр провёл конкурс открытых лекций. Участники попробовали себя в
                        роли лекторов и поделились знаниями со всеми желающими. Центр отвечал за организацию, а
                        участники — за содержание. По итогам голосования за самые интересные темы мы услышали восемь
                        лекций, а самыми понравившимися зрителям оказались «Введние в язык программирования Rust»,
                        «Разработка в стартапе» и «Как находят экзопланеты? Какие они? И где живут?».
                    </p>
                </section>
                <section class="content-block">
                    <h2>2015</h2>
                    <p>Онлайн-программа по основам программирования появилась в 2015 году и стала пробой переноса
                        полноценного центрового обучения в онлайн-формат. У студентов был год, чтобы пройти двенадцать
                        базовых курсов и погрузиться в новую для большинства область. На этом пути студентам помогали
                        ассистенты преподавателей и кураторы, они сдавали экзамены, учились по рекомендованной программе
                        и могли быть отчислены — всё почти как у очных студентов CS центра. Сейчас большая часть курсов
                        программы доступны на платформе Stepik без дедлайнов.
                    </p>
                </section>
                <section class="content-block">
                    <h2>2014</h2>
                    <p>Первый онлайн-курс CS центра появился в сентябре 2014 года на платформе Stepik. «Алгоритмы и
                        структуры данных» Александра Куликова собрал 15000 слушателей, 542 из которых успешно прошли
                        курс и получили сертификат об окончании. Курс по алгоритмам, как и большинство других
                        онлайн-курсов от преподавателей центра, основан на том, что читается очным студентам.
                    </p>
                </section>
                <section class="content-block">
                    <h2>2013</h2>
                    <p>Первый онлайн-курс CS центра появился в сентябре 2014 года на платформе Stepik. «Алгоритмы и
                        структуры данных» Александра Куликова собрал 15000 слушателей, 542 из которых успешно прошли
                        курс и получили сертификат об окончании. Курс по алгоритмам, как и большинство других
                        онлайн-курсов от преподавателей центра, основан на том, что читается очным студентам.
                    </p>
                    <figure class="figure">
                        <img src="/media/pages/history/alumni-2013.jpg" class="figure-img img-fluid" alt="">
                        <figcaption class="figure-caption">Выпускники 2013-го года</figcaption>
                    </figure>
                </section>
                <section class="content-block">
                    <h2>2011</h2>
                    <p>Computer Science Center создан в Санкт-Петербурге в 2011 году на базе Академии современного
                        программирования и Computer Science клуба в сотрудничестве со Школой анализа данных. После
                        создания CS центра Академия современного программирования стала его частью, CS клуб продолжает
                        существовать как самостоятельная активность: курсы Клуба открыты для всех желающих, а для
                        студентов центра они входят в программу обучения как курсы по выбору.
                        Центр был создан при активном участии учредителей: Андрей Иванов (JetBrains), Елена Бунина
                        (Яндекс, ШАД, МГУ), Александр Куликов (ПОМИ РАН, CS клуб), Александр Смаль (ПОМИ РАН), Эдуард
                        Гирш (ПОМИ РАН), Евгения Куликова (Яндекс).
                        С момента создания основную поддержку центру оказывают Яндекс, JetBrains, Антон Лиходедов и Юрий
                        Богданов.

                    </p>
                </section>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="sidebar-item">
                <div class="sticky">
                    <div class="timeline">
                        <a class="timeline__date active" href="">2018</a>
                        <a class="timeline__date" href="">2017</a>
                        <a class="timeline__date" href="">2016</a>
                        <a class="timeline__date" href="">2015</a>
                        <a class="timeline__date" href="">2014</a>
                        <a class="timeline__date" href="">2013</a>
                        <a class="timeline__date" href="">2012</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
