{% extends "v2/layouts/inner.jinja2" %}

{% set menu_theme="__transparent-theme" %}
{% set is_admission_active = True %}

{% block sprites %}
    <script type="text/javascript">
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/index.svg") }}");
    </script>
{% endblock sprites %}

{% block before_navbar_container %}<div class="cover cover-index-page">{% endblock before_navbar_container %}
{% block after_navbar_container %}
    <div class="container">
        <h1 class="cover__title">Знания, востребованные в&nbsp;науке и&nbsp;индустрии</h1>
        <p class="cover__text">Очные вечерние курсы в Санкт-Петербурге и в Новосибирске по трём направлениям: Computer Science, Data Science, Software Engineering. Заочное обучение для жителей других городов.</p>
        <div class="buttons">
            <a href="#study-areas" class="btn _big _primary _m-wide">Смотреть программы</a>
            <a href="/v2/pages/about/" class="btn _big _white _opacity-10 _m-wide">Узнать о центре</a>
        </div>
    </div>
</div> {# -- div.cover #}
{% endblock after_navbar_container %}

{% block content %}
<div class="csc-study-areas" id="study-areas">
    <div class="container">
        <h2 class="m-center">Очные курсы центра</h2>
        <p class="card-offline-course__text">
            Центр приглашает молодых специалистов, аспирантов, студентов средних и старших курсов технических
            специальностей пройти двух- или трёхлетние курсы по направлениям:
        </p>

        <div class="card-deck _three">
            <a href="#" class="card _study-area">
                <div class="card__content">
                    <div class="card-offline-course__icon">{{ macros.svg_inline('se') }}</div>
                    <h3 class="card__title">Software Engineering</h3>
                    <p class="card__subtitle">Разработка программного обеспечения</p>
                </div>
            </a>
            <a href="#" class="card _study-area">
                <div class="card__content">
                    <div class="card-offline-course__icon">{{ macros.svg_inline('ds') }}</div>
                    <h3 class="card__title">Data Science</h3>
                    <p class="card__subtitle">Анализ данных</p>
                </div>
            </a>
            <a href="#" class="card _study-area">
                <div class="card__content">
                    <div class="card-offline-course__icon">{{ macros.svg_inline('cs') }}</div>
                    <h3 class="card__title">Computer Science</h3>
                    <p class="card__subtitle">Современная информатика</p>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="about-csc">
    <div class="container">
        <div class="about-csc__cover">
            <div class="lazy-wrapper">
                <img src="" data-src="{{ static("v2/img/pages/index/cscenter_meetup-1136.jpg") }}"
                     data-srcset="{{ static("v2/img/pages/index/cscenter_meetup-1056.jpg") }} 1056w,
                             {{ static("v2/img/pages/index/cscenter_meetup-1408.jpg") }} 1408w,
                             {{ static("v2/img/pages/index/cscenter_meetup-1136@2x.jpg") }} 2272w"
                     alt="">
            </div>
            <div class="about-csc__description">
                <h1>О центре</h1>
                <p>
                    Computer Science Center&nbsp;существует, чтобы дать возможность талантливым студентам и&nbsp;выпускникам
                    развиваться в&nbsp;интересном им&nbsp;направлении.
                </p>
            </div>
            <a class="btn _big _primary about-csc_btn" href="/about/">Подробнее</a>
        </div>
        <div class="about-csc__organizers">
            <h3>Организаторы</h3>
            <p>CS Center — это совместная инициатива Школы анализа данных, Computer Science клуба и JetBrains.</p>
            <div class="col-12">
                <a target="_blank" rel="noopener" href="https://jetbrains.ru/students" title="JetBrains">{{ macros.svg_inline('logo-jetbrains') }}</a>
                <a target="_blank" rel="noopener" href="https://yandexdataschool.ru/" title="Яндекс ШАД">{{ macros.svg_inline('logo-shad') }}</a>
                <a target="_blank" rel="noopener" href="http://239.ru/" title="ФМЛ №239">{{ macros.svg_inline('logo-fml239') }}</a>
                <a target="_blank" rel="noopener" href="https://compsciclub.ru/" title="Computer Science Club">{{ macros.svg_inline('logo-csclub') }}</a>
            </div>
        </div>
    </div>
</div>

<div class="csc-online-education">
    <div class="container">
        <h2 class="text-center">Онлайн-образование</h2>

        <div class="card-deck _online-education">

            <a class="card _no-border" href="#">
                <div class="card__img _darken">
                    <img src="/static/v2/img/pages/index/online_programs/algo.jpg" alt="Card image cap">
                </div>
                <div class="card__content">
                    <h4 class="card__title">Алгоритмы и эффективные вычисления</h4>
                    <div class="card__subtitle">Онлайн-программа</div>
                </div>
            </a>

            <a class="card _no-border" href="#">
                <div class="card__img _darken">
                    <img src="/static/v2/img/pages/index/online_programs/math.jpg" alt="Card image cap">
                </div>
                <div class="card__content">
                    <h4 class="card__title">Математика для разработчика</h4>
                    <small class="card__subtitle">Онлайн-программа</small>
                </div>
            </a>

            <a class="card _no-border" href="#">
                <div class="card__img _darken">
                    <img src="/static/v2/img/pages/index/online_programs/dev.jpg" alt="Card image cap">
                </div>
                <div class="card__content">
                    <h4 class="card__title">Разработка на C++, Java и Haskell</h4>
                    <div class="card__subtitle">Онлайн-программа</div>
                </div>
            </a>

            <a class="card _no-border" href="#">
                <div class="card__img _darken">
                    <img src="/media/online_courses/15b5d7fa0dc91619222db27e7f671064.png" alt="Card image cap">
                </div>
                <div class="card__content">
                    <h4 class="card__title">Программирование на Java Script</h4>
                    <div class="card__subtitle">Онлайн-курс</div>
                </div>
            </a>

            <a class="card _no-border" href="#">
                <div class="card__img _darken">
                    <img src="/media/online_courses/python-yandex-2_1.png" alt="Card image cap">
                </div>
                <div class="card__content">
                    <h4 class="card__title">Основы программирования</h4>
                    <div class="card__subtitle">Онлайн-программа</div>
                </div>
            </a>

            <a class="card _no-border" href="#">
                <div class="card__img _darken">
                    <img src="/media/online_courses/HlrWMsXhcgA.jpg" alt="Card image cap">
                </div>
                <div class="card__content">
                    <h4 class="card__title">Основы программирования</h4>
                    <div class="card__subtitle">Онлайн-программа</div>
                </div>
            </a>
        </div>
        <div class="text-center">
            <a href="" class="btn _small _rounded _outline _gray">Все материалы</a>
        </div>
    </div>
</div>

<div class="csc-student-reviews">
    <div class="container">
        <h2 class="text-center">Отзывы студентов</h2>
        <div class="card-columns _testimonials">
            <div class="card">
                <div class="card__content _middle">
                    <div class="author _testimonial">
                        <img class="author__img" width="74" height="74" src="/media/pages/index/student.png" alt="">
                        <div class="author__details">
                                <h4>Евгений Игоревич Викулов</h4>
                                <span>Выпуск 2017, Разработка ПО</span>
                        </div>
                        <div class="author__testimonial">
                            <p>CS центр — это место, где сбываются мечты. Настоящая кладовая
                                знаний, где каждому
                                открыт
                                путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                                живое
                                общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                                руководители практик, кураторы, студенты – благодаря всем им в CS центре
                                образуется
                                невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                                Здесь
                                очень круто и увлекательно!
                                <ul>
                                    <li>огромный выбор направлений, в которых интересно развиваться,</li>
                                    <li>преподаватели, на пары к которым действительно хочется ходить,</li>
                                    <li>интересные темы практик (последняя переросла в мой диплом),</li>
                                    <li>умнейшие люди, общаясь с которыми, хочется идти и развиваться дальше.</li>

                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__content _middle">
                    <div class="author _testimonial">
                        <img class="author__img" src="/media/pages/index/student.png" alt="">
                        <div class="author__details">
                            <h4>Евгений Игоревич Викулов</h4>
                            <span>Выпуск 2017, Разработка ПО</span>
                        </div>
                        <div class="author__testimonial">
                            <p>CS центр — это место, где сбываются мечты. Настоящая кладовая
                                знаний, где каждому
                                открыт
                                путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                                живое
                                общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                                руководители практик, кураторы, студенты – благодаря всем им в CS центре
                                образуется
                                невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                                Здесь
                                очень круто и увлекательно!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__content _middle">
                    <div class="author _testimonial">
                        <img class="author__img" src="/media/pages/index/student.png" alt="">
                        <div class="author__details">
                            <h4>Евгений Игоревич Викулов</h4>
                            <span>Выпуск 2017, Разработка ПО</span>
                        </div>
                        <div class="author__testimonial">
                            И даже в трудный час, когда уж неизбежен крах,
                            Твой взор серьезный скажет, чтобы плечи я расправил.
                            Мне сил и воли придает лишь твое имя на устах,
                            Лишь ты меня ведёшь вперёд, лишь ты - Грудинин Павел.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__content _middle">
                    <div class="author _testimonial">
                        <img class="author__img" src="/media/pages/index/student.png" alt="">
                        <div class="author__details">
                            <h4>Евгений Игоревич Викулов</h4>
                            <span>Выпуск 2017, Разработка ПО</span>
                        </div>
                        <div class="author__testimonial">
                            И даже в трудный час, когда уж неизбежен крах,
                            Твой взор серьезный скажет, чтобы плечи я расправил.
                            Мне сил и воли придает лишь твое имя на устах,
                            Лишь ты меня ведёшь вперёд, лишь ты - Грудинин Павел.
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="text-center">
            <a href="" class="btn _small _rounded _outline _gray">Все отзывы</a>
        </div>
    </div>
</div>

<div class="social-media-posts">
    <div class="container">
        <h2 class="m-center">#compscicenter</h2>

        <div class="row">
            <div class="col-lg-6">
                <a href="#" target="_blank" rel="noopener"
                   class="social-media social-media--instagram social-media--full-size">
                    <img class="social-media__icon"
                         src="/static/v2/img/pages/index/social-media-posts/instagram.svg" width="34" alt="">
                    <p class="social-media__text">На Новый год студенты Центра обмениваются подарками в рамках
                        «Тайного Санты» — игры,
                        когда каждый дарит кому-то подарок, но получатель подарка не знает, кто же его Санта. У
                        нас всегда есть специальная ёлочка, обрастающая подарками. Посмотрите, как она
                        наполнилась в Новосибирске. И там обмен уже произошёл :)</p>
                    <p class="social-media__date social-media__date--light">26 дек</p>
                </a>
            </div>

            <div class="col-lg-6">
                <a href="#" target="_blank" rel="noopener"
                   class="social-media social-media--vk social-media--half-size">
                    <img class="social-media__icon" src="/static/v2/img/pages/index/social-media-posts/vk.svg"
                         width="40" alt="">
                    <p class="social-media__text social-media__text--dark">На Новый год студенты Центра
                        обмениваются
                        подарками в
                        рамках
                        «Тайного Санты» — игры,
                        когда каждый дарит</p>
                    <p class="social-media__date">26 дек</p>
                </a>

                <a href="" target="_blank" rel="noopener"
                   class="social-media social-media--vk social-media--half-size">
                    <img class="social-media__icon" src="/static/v2/img/pages/index/social-media-posts/vk.svg"
                         width="40" alt="">
                    <p class="social-media__text social-media__text--dark">На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                        обмениваются
                        подарками в рамках «Тайного Санты» — игры, да каждый дарит</p>
                    <p class="social-media__date">26 дек</p>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}