{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="mb-4">Политика в&nbsp;отношении обработки персональных данных пользователей</h1>
                <p class="mb-2">(для сетевой формы реализации образовательных программ)</p>
                <p class="text-muted text-small">Редакция от&nbsp;14.03.2019&nbsp;г.</p>
                <section class="content-block mt-10">
                    <h2>Общие положения</h2>
                    <p>Настоящая политика обработки персональных данных (далее&nbsp;&mdash; &laquo;Политика&raquo;)
                        разработана АНО ДПО
                        &laquo;Научно-исследовательский и&nbsp;образовательный центр &laquo;ДжетБрейнс&raquo; и&nbsp;АНО
                        ДПО &laquo;ШАД&raquo; (совместно
                        именуемых &laquo;Операторы&raquo;, а&nbsp;по&nbsp;отдельности каждый из&nbsp;них&nbsp;&mdash;
                        &laquo;Оператор&raquo;), в&nbsp;соответствии с
                        требованиями Федерального закона от&nbsp;27.07.2006&nbsp;г. &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных
                        данных&raquo; и&nbsp;определяет
                        порядок обработки персональных данных и&nbsp;меры по&nbsp;обеспечению безопасности персональных
                        данных
                        Пользователей Веб-сайта.</p>
                    <ul>
                        <li>Политика разработана Операторами для целей осуществления ими своей уставной деятельности (с
                            учетом условий договора о&nbsp;сетевой форме реализации образовательных программ &#8470;&nbsp;2365
                            от
                            14.03.2019
                            г.), и&nbsp;нацелена на&nbsp;строгое соблюдение прав и&nbsp;свобод человека и&nbsp;гражданина
                            при обработке его
                            персональных данных, в&nbsp;том числе защиту прав на&nbsp;неприкосновенность частной жизни,
                            личную и
                            семейную тайну.
                        </li>
                        <li>Политика применяется ко&nbsp;всем персональным данным, которые Операторы получили или могут
                            получить о&nbsp;лицах, изъявивших желание подать с&nbsp;помощью функционала Веб-сайта заявку
                            на
                            обучение
                            по&nbsp;совместно реализуемым Операторами образовательным программам, а&nbsp;также о&nbsp;любых
                            посетителях
                            Веб-сайта (далее&nbsp;&mdash; &laquo;Пользователь&raquo;/ &laquo;Пользователи&raquo;) в&nbsp;порядке
                            и&nbsp;в&nbsp;объемах, установленных
                            Политикой.
                        </li>
                        <li>Текст Политики постоянно доступен Пользователям в&nbsp;разделе сайта в&nbsp;сети Интернет
                            <a href="https://compscicenter.ru/policy" target="_blank"
                               rel="noopener">https://compscicenter.ru/policy</a></li>
                    </ul>
                    <h2>Основные понятия, используемые в&nbsp;Политике</h2>
                    <ol>
                        <li>Автоматизированная обработка персональных данных&nbsp;&mdash; обработка персональных данных
                            с
                            помощью
                            средств вычислительной техники;
                        </li>
                        <li>Блокирование персональных данных&nbsp;&mdash; временное прекращение обработки персональных
                            данных
                            (за
                            исключением случаев, если обработка необходима для уточнения персональных данных);
                        </li>
                        <li>Веб-сайт&nbsp;&mdash; совокупность графических и&nbsp;информационных материалов, а&nbsp;также
                            программ для
                            ЭВМ и
                            баз данных, обеспечивающих их&nbsp;доступность в&nbsp;сети интернет по&nbsp;сетевому адресу
                            <a href="https://compscicenter.ru" target="_blank"
                               rel="noopener">https://compscicenter.ru</a>;
                        </li>
                        <li>Информационная система персональных данных&nbsp;&mdash; совокупность содержащихся в&nbsp;базах
                            данных
                            персональных данных, и&nbsp;обеспечивающих их&nbsp;обработку информационных технологий и
                            технических
                            средств;
                        </li>
                        <li>Обезличивание персональных данных&nbsp;&mdash; действия, в&nbsp;результате которых
                            невозможно определить
                            без
                            использования дополнительной информации принадлежность персональных данных конкретному
                            Пользователю или иному субъекту персональных данных;
                        </li>
                        <li>Обработка персональных данных&nbsp;&mdash; любое действие (операция) или совокупность
                            действий
                            (операций), совершаемых с&nbsp;использованием средств автоматизации или без использования
                            таких
                            средств с&nbsp;персональными данными, включая сбор, запись, систематизацию, накопление,
                            хранение,
                            уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
                            предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
                            данных;
                        </li>
                        <li>Персональные данные&nbsp;&mdash; любая информация, относящаяся прямо или косвенно к&nbsp;определенному
                            или
                            определяемому Пользователю;
                        </li>
                        <li>Предоставление персональных данных&nbsp;&mdash; действия, направленные на&nbsp;раскрытие
                            персональных
                            данных
                            определенному лицу или определенному кругу лиц;
                        </li>
                        <li>Распространение персональных данных&nbsp;&mdash; любые действия, направленные на&nbsp;раскрытие
                            персональных
                            данных неопределенному кругу лиц (передача персональных данных) или на&nbsp;ознакомление с
                            персональными данными неограниченного круга лиц, в&nbsp;том числе обнародование персональных
                            данных в
                            средствах массовой информации, размещение в&nbsp;информационно-телекоммуникационных сетях
                            или
                            предоставление доступа к&nbsp;персональным данным каким-либо иным способом;
                        </li>
                        <li>Трансграничная передача персональных данных&nbsp;&mdash; передача персональных данных на&nbsp;территорию
                            иностранного государства органу власти иностранного государства, иностранному
                            физическому или
                            иностранному юридическому лицу;
                        </li>
                        <li>Уничтожение персональных данных&nbsp;&mdash; любые действия, в&nbsp;результате которых
                            персональные
                            данные
                            уничтожаются безвозвратно с&nbsp;невозможностью дальнейшего восстановления содержания
                            персональных
                            данных в&nbsp;информационной системе персональных данных&nbsp;и (или) результате которых
                            уничтожаются
                            материальные носители персональных данных.
                        </li>
                        <li>Файлы &laquo;cookie&raquo;&nbsp;&mdash; небольшие фрагменты данных, которые отправляются
                            веб-сервером и
                            хранятся на
                            компьютере Пользователя, посещающего Веб-сайт, в&nbsp;том числе информация о&nbsp;логине и&nbsp;пароле,
                            индивидуальных настройках Пользователя, статистике посещений и&nbsp;т.д.
                        </li>
                    </ol>
                    <h2>Объем и&nbsp;содержание обрабатываемых Персональных данных</h2>
                    <p>Оператор может обрабатывать следующие Персональные данные Пользователя:</p>
                    <ul>
                        <li>Фамилия, имя, отчество;</li>
                        <li>Электронный адрес;</li>
                        <li>Номера телефонов;</li>
                        <li>Город проживания;</li>
                        <li>Сведения об&nbsp;образовании;</li>
                        <li>Сведения о&nbsp;занятости;</li>
                        <li>Сведения о&nbsp;наличии опыта работы&nbsp;и (или) уровне знаний по&nbsp;специальности.</li>
                        <li>Также на&nbsp;Веб-сайте происходит сбор и&nbsp;обработка обезличенных данных Пользователей
                            (в&nbsp;т.ч.
                            файлов &laquo;cookie&raquo;) с&nbsp;помощью сервисов интернет-статистики (&laquo;Яндекс
                            Метрика&raquo; и&nbsp;&laquo;Гугл Аналитика&raquo;
                            и
                            других).
                        </li>
                    </ul>
                    <h2>Цели обработки персональных данных</h2>
                    <p>Операторы осуществляют обработку Персональных данных Пользователей исключительно для целей,
                        предусмотренных настоящей Политикой, а&nbsp;именно для:</p>
                    <ul>
                        <li>Получения и&nbsp;обработки заявок на&nbsp;обучение (анкет на&nbsp;поступление) по&nbsp;образовательным
                            программам,
                            совместно реализуемых Операторами, с&nbsp;использованием функционала Веб-сайта;
                        </li>
                        <li>Получения и&nbsp;обработки результатов пройденных Пользователями для поступления на
                            образовательные
                            программы онлайн-тестов, совместно реализуемых Операторами, с&nbsp;использованием
                            функционала
                            Веб-сайта;
                        </li>
                        <li>Поддержания связи между Пользователем и&nbsp;Операторами, предоставления Пользователю
                            консультаций
                            по&nbsp;вопросам оказания Операторами услуг;
                        </li>
                        <li>Направления Пользователю сообщений информационного, рекламного (маркетингового) характера;
                        </li>
                        <li>Проведения статистических и&nbsp;иных исследований Операторами на&nbsp;основе обезличенных
                            персональных
                            данных Пользователей для целей усовершенствования системы работы Веб-сайта, качества работы
                            Операторов, определения востребованности услуг, планируемых к&nbsp;запуску.
                        </li>
                    </ul>

                    <h2>Порядок и&nbsp;условия обработки Персональных данных</h2>
                    <ul>
                        <li>Обработка Персональных данных Пользователя включает совершение Операторами следующих
                            действий:
                            сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение),
                            извлечение, использование, обезличивание, блокирование, удаление, уничтожение.
                        </li>
                        <li>Персональные данные предоставляются Пользователем путем заполнения им&nbsp;специальных форм
                            сбора
                            Персональных данных, размещенных на&nbsp;Веб-сайте, в&nbsp;объемах необходимых для целей
                            реализации
                            целей,
                            предусмотренных&nbsp;ст.&nbsp;4&nbsp;настоящей Политики.
                        </li>
                        <li>Предоставлением Персональных данных Пользователь подтверждает, что он&nbsp;является
                            дееспособным
                            лицом, а&nbsp;предоставляемая информация является достоверной, полной и&nbsp;актуальной,
                            предоставление
                            информации не&nbsp;нарушает прав третьих лиц.
                        </li>
                        <li>Пользователь должен поддерживать предоставленные Персональные данные в&nbsp;актуальном
                            состоянии.
                            В
                            случае изменения ранее предоставленных Персональных данных, а&nbsp;также в&nbsp;случае
                            выявления в&nbsp;них
                            неточностей, Пользователь должен актуализировать их&nbsp;самостоятельно, путем направления
                            уведомления на&nbsp;адрес электронной почты <a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a> с&nbsp;пометкой &laquo;Актуализация
                            персональных данных&raquo;.
                        </li>
                        <li>Операторы имеют право по&nbsp;собственной инициативе направлять Пользователю запросы с&nbsp;целью
                            подтверждения ранее предоставленных Пользователем Персональных данных.
                        </li>
                        <li>Пользователь имеет право на&nbsp;получение информации, касающейся обработки его Персональных
                            данных, за&nbsp;исключением случаев, когда указанное право ограничено действующим
                            законодательством
                            РФ.
                        </li>
                        <li>Безопасность Персональных данных, которые обрабатываются соответствующим Оператором,
                            обеспечивается путем реализации правовых, организационных и&nbsp;технических мер,
                            необходимых для
                            выполнения в&nbsp;полном объеме требований действующего законодательства в&nbsp;области
                            защиты
                            персональных данных. Каждый из&nbsp;Операторов осуществляет контроль за&nbsp;соблюдением
                            требований
                            настоящей Политики, за&nbsp;применением организационных и&nbsp;технических мер, направленных
                            на
                            обеспечение безопасности Персональных данных при их&nbsp;обработке, в&nbsp;том числе
                            контроль за
                            отсутствием фактов несанкционированного доступа к&nbsp;Персональным данным Пользователей.
                        </li>
                        <li>Срок обработки персональных данных является неограниченным. Пользователь может в&nbsp;любой
                            момент
                            отозвать свое согласие на&nbsp;обработку Персональных данных, направив уведомление
                            посредством
                            электронной почты на&nbsp;электронный адрес <a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a> с&nbsp;пометкой &laquo;Отзыв
                            согласия на
                            обработку персональных данных&raquo;.
                        </li>
                        <li>Хранение Персональных данных Пользователя осуществляется до&nbsp;момента получения отзыва
                            согласия
                            Пользователя на&nbsp;обработку Персональных данных (за&nbsp;исключением случаев, когда
                            Операторы имеют
                            право осуществлять обработку Персональных данных без получения такого согласия), до&nbsp;момента
                            удаления, в&nbsp;зависимости от&nbsp;того, что произошло раньше: в&nbsp;связи с&nbsp;достижением
                            целей их
                            обработки,
                            получением заявления Пользователя об&nbsp;удалении Персональных данных, прекращением
                            деятельности
                            соответствующего Оператора, а&nbsp;также по&nbsp;иным основаниям, предусмотренным
                            действующим
                            законодательством.
                        </li>
                        <li>Персональные данные Пользователя не&nbsp;могут передаваться третьим лицам до&nbsp;момента
                            получения на
                            совершение таких действий согласия Пользователя, за&nbsp;исключением случаев, когда
                            обязанность
                            по
                            такой передаче прямо предусмотрена действующим законодательством РФ.
                        </li>
                        <li>Оператор обрабатывает обезличенные данные о&nbsp;Пользователе в&nbsp;случае, если это
                            разрешено в
                            настройках браузера Пользователя (включено сохранение файлов &laquo;cookie&raquo; и&nbsp;использование
                            технологии
                            JavaScript).
                        </li>
                        <li>Обезличенные Персональные данные Пользователей, собираемые с&nbsp;помощью сервисов
                            интернет-статистики, служат для сбора информации о&nbsp;действиях Пользователей на&nbsp;сайте,
                            улучшения
                            качества сайта и&nbsp;его содержания.
                        </li>
                    </ul>

                    <h2>Трансграничная передача Персональных данных</h2>
                    <ul>
                        <li>Оператор до&nbsp;начала осуществления трансграничной передачи Персональных данных обязан
                            убедиться
                            в&nbsp;том, что иностранным государством, на&nbsp;территорию которого предполагается
                            осуществлять
                            передачу
                            Персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
                        </li>
                        <li>Трансграничная передача Персональных данных на&nbsp;территории иностранных государств, не
                            отвечающих вышеуказанным требованиям, может осуществляться только в&nbsp;случае наличия
                            согласия
                            в
                            письменной форме субъекта персональных данных на&nbsp;трансграничную передачу его
                            Персональных
                            данных
                            и/или исполнения договора, стороной которого является субъект персональных данных.
                        </li>
                    </ul>

                    <h2>Согласие Пользователя на&nbsp;обработку Персональных данных</h2>
                    <ul>
                        <li>Согласие на&nbsp;обработку Персональных данных может быть предоставлено Пользователем или
                            его
                            представителем, действующим на&nbsp;основании надлежащим образом оформленных полномочий. В&nbsp;случае
                            получения согласия на&nbsp;обработку Персональных данных от&nbsp;представителя Пользователя
                            полномочия
                            данного представителя на&nbsp;дачу согласия от&nbsp;имени Пользователя должны быть
                            проверены.
                        </li>
                        <li>Пользователь настоящим принимает условия Политики и&nbsp;предоставляет Операторам
                            информированное,
                            осознанное согласие на&nbsp;обработку своих Персональных данных на&nbsp;условиях,
                            предусмотренных
                            Политикой и&nbsp;действующим законодательством РФ.
                        </li>
                        <li>При подаче Пользователем заявок на&nbsp;обучение (заполнении анкет на&nbsp;поступление) по
                            образовательным программам, совместно реализуемых Операторами, согласие Пользователя на
                            обработку его Персональных данных подтверждается путем проставления им&nbsp;в&nbsp;галочки в&nbsp;графе
                            &laquo;Настоящим Я&nbsp;подтверждаю свое согласие на&nbsp;обработку Оператором моих
                            персональных данных в
                            соответствии с&nbsp;Политикой в&nbsp;отношении обработки персональных данных Пользователей
                            (для
                            сетевой
                            формы реализации образовательных программ), расположенной по
                            адресу <a href="https://compscicenter.ru/policy" target="_blank"
                                      rel="noopener">https://compscicenter.ru/policy</a>, а&nbsp;также гарантирую
                            достоверность представленных
                            мной
                            данных&raquo;, а&nbsp;также кнопки &laquo;Подать заявку&raquo;, за&nbsp;исключением случаев,
                            предусмотренных&nbsp;п.&nbsp;4
                            настоящей
                            статьи.
                        </li>
                        <li>При любом использовании Веб-сайта, при котором данные автоматически передаются Оператору в
                            процессе его использования с&nbsp;помощью установленного на&nbsp;устройствах Пользователя
                            программного
                            обеспечения (данные о&nbsp;файлах &laquo;cookie&raquo;), согласие на&nbsp;обработку
                            указанных данных считается
                            предоставленным в&nbsp;момент начала использования Веб-сайта.
                        </li>
                    </ul>

                    <h2>Заключительные положения</h2>
                    <ul>
                        <li>Пользователь может получить любые разъяснения по&nbsp;интересующим его вопросам, касающимся
                            обработки Персональных данных, путем направления запроса на&nbsp;адрес электронной почты
                            <a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a>.
                        </li>
                        <li>Операторы оставляют за&nbsp;собой право без получения на&nbsp;то&nbsp;согласия Пользователя
                            или каких-либо
                            третьих лиц вносить изменения в&nbsp;Политику. Политика действует бессрочно до&nbsp;замены
                            ее&nbsp;новой
                            версией. Пользователь самостоятельно осуществляет отслеживание изменений, внесенных в
                            Политику.
                        </li>
                        <li>Новая редакция Политики вступает в&nbsp;силу с&nbsp;момента ее&nbsp;размещения по&nbsp;адресу,
                            предусмотренному
                            п.
                            3&nbsp;ст.&nbsp;1&nbsp;настоящей Политики. Продолжение использования Веб-сайта после
                            публикации новой
                            редакции
                            Политики означает согласие Пользователя с&nbsp;ее&nbsp;условиями.
                        </li>
                        <li>Операторы обязуются реагировать на&nbsp;любые обращения Пользователя в&nbsp;срок не&nbsp;позднее
                            30&nbsp;дней с
                            момента получения соответствующего обращения, если иные сроки не&nbsp;установлены
                            действующим
                            законодательством РФ.
                        </li>
                        <li>Во&nbsp;избежание сомнений адрес электронной почты <a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a> администрируется
                            АНО ДПО
                            &laquo;Научно-исследовательский и&nbsp;образовательный центр &laquo;ДжетБрейнс&raquo;.
                        </li>
                        <li>Во&nbsp;исполнение&nbsp;п.&nbsp;4, 6, 8&nbsp;ст.&nbsp;5&nbsp;настоящей Политики Операторы
                            самостоятельно осуществляют
                            обмен
                            всей полученной от&nbsp;Пользователя информацией об&nbsp;отзыве согласия на&nbsp;обработку
                            Персональных
                            данных,
                            о&nbsp;выявлении неточностей в&nbsp;предоставленных Пользователем Персональных данных и&nbsp;необходимости
                            их
                            актуализации, о&nbsp;получении запросов Пользователя на&nbsp;предоставление сведений об&nbsp;обработке
                            его
                            Персональных данных, и&nbsp;иного рода информацией, необходимой для реализации Операторами
                            положений
                            ст.&nbsp;4&nbsp;Политики, в&nbsp;срок не&nbsp;позднее дня, следующего за&nbsp;днем получения
                            соответствующей
                            информации.
                        </li>
                    </ul>

                    <h2>Сведения об&nbsp;Операторах</h2>
                    <ol>
                        <li>Автономная некоммерческая организация дополнительного профессионального образования
                            &laquo;Научно-исследовательский и&nbsp;образовательный центр &laquo;ДжетБрейнс&raquo;
                            ОГРН 1187800000134
                            ИНН 7814717551
                            Адрес местонахождения: 194100, РФ&nbsp;г. Санкт-Петербург, Кантемировская&nbsp;ул., д.2,
                            лит. А, оф.
                            201
                        </li>
                        <li>Автономная некоммерческая организация дополнительного профессионального образования &laquo;Школа
                            анализа данных&raquo;
                            ОГРН 1147799006123
                            ИНН 7704282033
                            Адрес местонахождения: 119021, г. Москва, ул. Тимура Фрунзе, д.&nbsp;11, корп.&nbsp;2
                        </li>
                    </ol>

                </section>
            </div>
        </div>
    </div>
{% endblock content %}