{% extends "v2/layouts/inner.jinja2" %}

{% block title %}Преподаватели CS центра{% endblock title %}

{% block sprites %}
    <script type="text/javascript">
        (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg")  }}");
    </script>
{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-12">
                <div id="Teachers" data-init='{{ app_data|tojson|safe }}' class="__react-root"></div>
            </div>
        </div>
    </div>
{% endblock content %}
