{% extends "v2/layouts/inner.jinja2" %}

{% block body_attrs %}class="_dark"{% endblock body_attrs %}

{% block content %}
        <div class="svg-inline">
        {% include "sprites/ui.svg" %}
        </div>
<div class="container page-content">
    <div class="row">
        <div class="col-lg-9 order-lg-1 order-2">


            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <a class="card _shadowed _video" href="#">
                        <div class="card__content">
                            <h4 class="card__title">Основы программирования на python</h4>
                            <div class="author">А. В. Гардер, С. И. Грязнов, М. Д. Кормышов, А. В. Смаль</div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <a class="card _shadowed _video" href="#">
                        <div class="card__content">
                            <h4 class="card__title">Основы перечислительной комбинаторики</h4>
                            <div class="author">А.А. Владыкин</div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <a class="card _shadowed _video" href="#">
                        <div class="card__content">
                            <h4 class="card__title">Java. Базовый курс</h4>
                            <div class="author">А.А. Владыкин</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-3 order-lg-2 order-0">
            <form class="ui form __no-border _right-side-filter" action="">
                <div class="field">
                    <div class="ui icon input">
                        <input type="search" placeholder="Поиск">
                        <i class="_search icon">{{ macros.svg_inline('search') }}</i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
