.container {
  width: 960px !important;
}

.logo-cell {
  position: relative;
}

.logo-container {
  position: absolute; z-index: 1000;
}

.header.lvl1 {
  width: 100%;
  height: 40px;
  background-color: #1F1F1F;
  color: white;
}

.header-lvl2-container {
  position: relative;
  height: 40px;
}

.header.lvl2 {
  width: 100%;
  height: 40px;
  color: white;
  display: none;
  position: absolute;
  z-index: -1;
}

.header.lvl2.current {
  display: block;
  z-index: 100;
}

.header ul {
  padding-left: 0px;
}

.header a {
  color: white;
}

.header a:hover {
  decoration: none;
}

.header li {
  list-style: none;
  float: left;
  line-height: 40px;
  padding: 0px 15px;
  font-family: sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

.header.lvl2 {
  background-color: #3F3F3F;
}
.header li:hover {
  background-color: #2F2F2F;
}
.header li.current {
  background-color: #222222; !important
}

.header.lvl2.for-students {
  background-color: #1C42A3;
}
.header.for-students li:hover {
  background-color: #2C52B3;
}
.header.for-students li.current {
  background-color: #1C42A3 !important;
}

.header.lvl2.for-teachers {
  background-color: #8657AB;
}
.header.for-teachers li:hover {
  background-color: #9667BB
}
.header.for-teachers li.current {
  background-color: #561788 !important;
}

.header.lvl2.for-staff {
  background-color: #C73827;
}
.header.for-staff li:hover {
  background-color: #EE8C80
}
.header.for-staff li.current {
  background-color: #E75847 !important;
}


.header li i {
  font-weight: normal;
}

.header .badge {
  background-color: transparent;
  border: 1px solid white;
}

.header .login {
  line-height: 40px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: right;
}

.news-metainfo {
  color: #AAA;
  text-align: right;
}

.index-image-container {
  padding: 30px 0px;
  text-align: center;
}

.index-social-icons-container {
  text-align: center;
}

.index-social-icons-container a {
  padding: 5px;
  margin: 8px;
}

.index-madeby-table td {
  padding: 10px;
}

.user-tile {
  width: 450px;
  margin: 10px;
  float: left;
}

.user-tile img {
  float: left;
}

.user-tile .user-info {
  float: left;
  padding: 10px;
}

.user-tile .user-info h4 {
  margin-top: 0px;
}