.panel-heading {
  position: relative;
  padding: 0;
}

.panel-title {
  padding: 20px;
  font-size: 1.8rem;

  &.no-collapse {
    &:before, &:after {
      display: none;
    }
  }
}

.panel-body {
  .h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
  }
}


.panel-footer {
    border-top: 1px solid transparent;
}


// Use with dark background
.page-inverse {
  .panel {
    border: 0;
  }

  .panel-heading {
    overflow: auto;
    padding: 20px;
  }
  .panel-body {
    padding: 30px;
  }
  .tab-content {
    .panel-body {
      padding: 10px;
    }
  }
  .panel-search-form {
    float: left;
  }
  .panel-title {
    text-transform: uppercase;
    float: left;
    padding: 29px 10px;
  }

  .panel-body {
    clear: both;
  }


  .table {
    th:last-child {
      text-align: right;
    }
    td {
      vertical-align: middle;
      padding: 16px 6px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        text-align: right;
        span {
          color: $color-grey;
        }
      }
      &.empty-results {
        text-align: left;
      }
    }
    tr {
      th:first-child {
        padding-left: 0 !important;
      }
      &:last-of-type td {
        border-bottom: 1px solid #e4eaec;
      }
    }
  }
}



.panel-bordered > {
  .panel-body.scrollable-horizontal > .scrollable-bar {
    -webkit-transform: translateY(-26px);
    -ms-transform: translateY(-26px);
    -o-transform: translateY(-26px);
    transform: translateY(-26px);
  }
  .panel-heading {
    position: relative;
    border-bottom: 1px solid #e4eaec;
    > .panel-title {
      padding: 20px;
    }
  }
  .panel-footer {
    padding-top: 15px;
    border-top: 1px solid #e4eaec;
  }
  .panel-body {
    padding-top: 30px;
  }
  .table > tbody:first-child > tr:first-child {
    td, th {
      border-top: 0;
    }
  }
}

.panel-actions {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  margin: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  a {
    color: inherit;
    &.dropdown-toggle {
      text-decoration: none;
    }
  }
  .dropdown, .dropdown-toggle {
    display: inline-block;
  }
  .panel-action {
    display: inline-block;
    padding: 8px 10px;

    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    &:hover, &:active {
      color: #526069;
    }
    &:focus {
      outline: 0;
    }
  }
  .progress {
    width: 100px;
    margin: 0;
  }
  .pagination {
    margin: 0;
  }
}
// Useful for links
ul.panel-actions {
  list-style: none;
  > li {
    display: inline-block;
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}



// Panel group, used for FAQ
.panel-group {
  .panel-heading {
    position: relative;
    padding: 0;
    border-bottom: 0;

    + .panel-collapse .panel-body {
      border-top-color: rgba(0, 0, 0, 0);
    }
  }


  .panel-title {
    position: relative;
    padding: 15px 30px;

    &:after, &:before {
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: 30px;
      font: normal normal normal 14px/1 FontAwesome;
    }

    &:focus, &:hover {
      text-decoration: none;
    }
  }

  .panel-body {
    padding: 15px 30px;
  }
}

.panel-group-continuous {
  .panel {
    border-radius: 0;

    + .panel {
      margin-top: 0;
      border-top: 1px solid #e4eaec;
    }

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }
}