<div class="page-content container mb-10">
    <h1>Horizontal Card</h1>
    <div class="card _horizontal">
        <div class="row no-gutters">
            <div class="col-md-5"
                 style="background-image:url('/static/v2/img/pages/index/cscenter_meetup-1056.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 196px">
            </div>
            <div class="col-md-7 d-flex">
                <div class="card__content">
                    <div class="announcement">
                        <div class="ui labels _circular mb-2">
                            <span class="ui label _blue" href="#">Курс</span>
                            <span class="ui label _gray" href="#">Бесплатно</span>
                        </div>
                        <h3>Введение в трансфинитные методы</h3>
                        <p>Лекция носит теоретический характер и&nbsp;ориентирована на&nbsp;студентов младших курсов
                            и&nbsp;не&nbsp;боящихся
                            трудностей школьников. Для понимания доклада нужно представлять, что&nbspтакое
                            многочлен, корень
                            многочлена, поле комплексных чисел, равномощные множества и&nbsp;мощность
                            континуума.</p>
                        <div class="grouped mb-4">
                            <div class="ui label _icon">
                                {{ macros.svg_inline('location') }}<span>Санкт-Петербург, БЦ «Таймс»</span>
                            </div>
                            <div class="ui label _icon">
                                {{ macros.svg_inline('calendar') }}<span>21 сентября в 20:00</span>
                            </div>
                            <div class="ui label _icon">
                                {{ macros.svg_inline('calendar') }}<span>21 сентября в 20:00 21 сентября в 20:00 21 сентября в 20:00 21 сентября в 20:00 21 сентября в 20:00 21 сентября в 20:00</span>
                            </div>
                            <div class="ui label _icon">
                                {{ macros.svg_inline('calendar') }}<span>21 сентября в 20:00</span>
                            </div>
                        </div>
                        <a href="#" class="btn _big _primary _m-wide">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-10">
    <div class="card _horizontal">
        <div class="row no-gutters">
            <div class="col-md-4"
                 style="background-image:url('/static/v2/img/pages/index/cscenter_meetup-1056.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 196px">
            </div>
            <div class="col-md-8 d-flex">
                <div class="card__content">
                    <div class="announcement">
                        <h3>Введение в трансфинитные методы</h3>
                        <p>Лекция носит теоретический характер и&nbsp;ориентирована на&nbsp;студентов младших
                            курсов </p>
                        <a href="#" class="btn _big _primary _m-wide">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-10">
    <div class="card _horizontal">
        <div class="row no-gutters">
            <div class="col-4"
                 style="background-image:url('/static/v2/img/pages/index/cscenter_meetup-1056.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 160px">
            </div>
            <div class="col-8 d-flex">
                <div class="card__content">
                    <div class="announcement">
                        <h3>Введение в трансфинитные методы</h3>
                        <p>Лекция носит теоретический характер</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-10">
    <div class="card _horizontal">
        <div class="row no-gutters">
            <div class="col-md-5"
                 style="background-image:url('/static/v2/img/pages/index/cscenter_meetup-1056.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 196px">
            </div>
            <div class="col-md-7 d-flex">
                <div class="card__content">
                    <div class="ui labels _circular mb-2">
                        <span class="ui label _blue" href="#">Курс</span>
                        <span class="ui label _gray" href="#">Бесплатно</span>
                    </div>
                    <div class="announcement">
                        <h3>Business Intelligence, Big Data и человеческое чутье: как строить системы
                            бизнес-аналитики</h3>
                        <p>Лекция носит теоретический характер и&nbsp;ориентирована на&nbsp;студентов младших курсов
                            и&nbsp;не&nbsp;боящихся
                            трудностей школьников. Для понимания доклада нужно представлять, что&nbspтакое
                            многочлен,
                            корень
                            многочлена, поле комплексных чисел, равномощные множества и&nbsp;мощность континуума.
                            Лекция
                            носит теоретический характер и&nbsp;ориентирована на&nbsp;студентов младших курсов и&nbsp;не&nbsp;боящихся
                            трудностей школьников. Для понимания доклада нужно представлять, что&nbspтакое
                            многочлен,
                            корень
                            многочлена, поле комплексных чисел, равномощные множества и&nbsp;мощность континуума.
                            Лекция
                            носит теоретический характер и&nbsp;ориентирована на&nbsp;студентов младших курсов и&nbsp;не&nbsp;боящихся
                            трудностей школьников. Для понимания доклада нужно представлять, что&nbspтакое
                            многочлен,
                            корень
                            многочлена, поле комплексных чисел, равномощные множества и&nbsp;мощность
                            континуума.</p>
                        <div class="grouped mb-4">
                            <div class="ui label _icon">
                                {{ macros.svg_inline('location') }}<span>Санкт-Петербург, БЦ «Таймс»</span>
                            </div>
                            <div class="ui label _icon">
                                {{ macros.svg_inline('calendar') }}<span>21 сентября в 20:00</span>
                            </div>
                        </div>
                        <a href="#" class="btn _big _primary _m-wide">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-10">
    <h2>With vertical img background</h2>
    <div class="card _horizontal">
        <div class="row no-gutters">
            <div class="col-md-3"
                 style="background-image:url('/static/v2/img/placeholder/boy.png'); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 196px">
            </div>
            <div class="col-md-9 d-flex">
                <div class="card__content">
                    <div class="announcement">
                        <h3>Введение в трансфинитные методы</h3>
                        <p>Лекция носит теоретический характер и&nbsp;ориентирована на&nbsp;студентов младших
                            курсов </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>