{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
<div class="container page-content">

<h2>User Card</h2>
<div class="row mb-10">
    <div class="col-4">
        <a href="#" class="card _user">
            <div class="card__img _m">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
            </div>
            <div class="card__title">Кaолосовский Михаил Сергеевич</div>
            <div class="card__subtitle">Преподаватель</div>
        </a>
    </div>
</div>

<h2>User Cards Deck</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-deck _six _users">
                <a href="#" class="card _user">
                    <div class="card__img _m">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Кaолосовский Кaолосовский Сергеевич</div>
                    <div class="card__subtitle">Преподаватель</div>
                </a>
                <a href="#" class="card _user">
                    <div class="card__img _m">
                    </div>
                    <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                    <div class="card__subtitle">Преподаватель</div>
                </a>
                <a href="#" class="card _user">
                    <div class="card__img _m">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                    <div class="card__subtitle">Преподаватель</div>
                </a>
                <a href="#" class="card _user">
                    <div class="card__img _m">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                    <div class="card__subtitle">Преподаватель</div>
                </a>
                <a href="#" class="card _user">
                    <div class="card__img _m">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                    <div class="card__subtitle">Преподаватель</div>
                </a>
                <a href="#" class="card _user">
                    <div class="card__img _m">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                    <div class="card__subtitle">Преподаватель</div>
                </a>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-lg-8">
        <div class="card-deck _four _users">
            <a href="#" class="card _user">
                <div class="card__img _m">
                    <img src="/media/pages/graduates-2018/student.jpg" alt="">
                </div>
                <div class="card__title">Кaолосовский Кaолосовский Сергеевич</div>
                <div class="card__subtitle">Преподаватель</div>
            </a>
            <a href="#" class="card _user">
                <div class="card__img _m">
                </div>
                <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                <div class="card__subtitle">Преподаватель</div>
            </a>
            <a href="#" class="card _user">
                <div class="card__img _m">
                    <img src="/media/pages/graduates-2018/student.jpg" alt="">
                </div>
                <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                <div class="card__subtitle">Преподаватель</div>
            </a>
            <a href="#" class="card _user">
                <div class="card__img _m">
                    <img src="/media/pages/graduates-2018/student.jpg" alt="">
                </div>
                <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                <div class="card__subtitle">Преподаватель</div>
            </a>
            <a href="#" class="card _user">
                <div class="card__img _m">
                    <img src="/media/pages/graduates-2018/student.jpg" alt="">
                </div>
                <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                <div class="card__subtitle">Преподаватель</div>
            </a>
            <a href="#" class="card _user">
                <div class="card__img _m">
                    <img src="/media/pages/graduates-2018/student.jpg" alt="">
                </div>
                <div class="card__title">Кaолосовский Михаил Сергеевич</div>
                <div class="card__subtitle">Преподаватель</div>
            </a>
        </div>
    </div>
</div>





</div>
{% endblock content %}
