{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Анкета на поступление в {{ super() }}{% endblock title %}

{% block sprites %}
    <script type="text/javascript">
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-md-8">
                <div class="mb-8">
                    <h1>Набор в CS центр {% if show_form %}открыт{% else %}закрыт{% endif %}</h1>
                    <p>
                        Мы предлагаем вечерние курсы по математике и программированию. Занятия проходят в Санкт-Петербурге и в Новосибирске.
                        Есть платное заочное обучение для жителей других городов. Студентом может стать каждый, кто пройдёт вступительные испытания.
                        Будьте готовы тратить на учёбу хотя бы 15 часов в неделю. Если вы увлечены компьютерными науками или программированием,
                        хотите развиваться в этих областях, любите учиться, то осваивать курсы и работать над проектами будет интересно и полезно.
                    </p>
                    <h3>Этапы приёмной кампании 2019</h3>
                    <ul>
                        <li>Анкета на сайте (открыта до 18:00 13 апреля по московскому времени).</li>
                        <li>Онлайн-тест.</li>
                        <li>Письменный экзамен для поступающих на очное отделение, онлайн-экзамен — на заочное.</li>
                        <li>Собеседование.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="card mb-4">
                    <div class="card__img">
                        <img  src="{{ static('v2/img/pages/enrollment/note.svg') }}" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__title"><a href="/enrollment/checklist/" target="_blank">Памятка для поступающих</a></div>
                        Советы от кураторов центра для желающих начать свое обучение в центре
                    </div>
                </div>
                {% if show_form %}
                    <div class="card mb-4">
                            <div class="card__header _dark">
                                <h4>Дни открытых дверей</h4>
                            </div>
                        <div class="card__content">
                            <p><b>29&nbsp;марта в&nbsp;15:00</b><br>в Новосибирскe</p>
                            <p><b>1&nbsp;апреля в&nbsp;17:00</b><br>в Санкт-Петербурге</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfm_VRbV923cleRPfJRsCEeej8ZiUvMWshVi4OqMhttKM9UeA/viewform" target="_blank" rel="noopener" class="btn _primary _m-wide mt-2">Регистрация</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if show_form %}
            <div class="row">
                <div class="col-12">
                    <div class="card _inverted">
                        <div class="card__header _big">
                            <h2>Анкета на поступление</h2>
                        </div>
                         <div class="card__content _big">
                            <div id="ApplicationForm" data-init='{{ app|tojson }}' class="__react-root"></div>
                         </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
