{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Анкета на поступление в {{ super() }}{% endblock title %}

{% block sprites %}
    <script type="text/javascript">
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}

{% set is_admission_disabled = True %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-md-8">
                <div class="mb-8">
                    <h1>Набор в CS центр {% if show_form %}открыт{% endif %}</h1>
                    <p>
                        Мы предлагаем вечерние курсы по математике и программированию. Занятия проходят в Санкт-Петербурге и в Новосибирске.
                        Студентом может стать каждый, кто пройдёт вступительные испытания.
                        Будьте готовы тратить на учёбу хотя бы 15 часов в неделю. Если вы увлечены компьютерными науками или программированием,
                        хотите развиваться в этих областях, любите учиться, то осваивать курсы и работать над проектами будет интересно и полезно.
                    </p>
                    <h3>Этапы приёмной кампании 2020</h3>
                    <ul>
                        <li>{% if show_form %}<a href="#application-form-anchor" class="_dashed">Анкета</a>{% else %}Анкета{% endif %} на сайте (открыта до 18:00 11 апреля по московскому времени).</li>
                        <li>Онлайн-тест.</li>
                        <li>Письменный экзамен.</li>
                        <li>Собеседование.</li>
                    </ul>
                    {% if not show_form %}
                        <div class="message _info">На данный момент приём анкет на поступление закрыт. Новый набор состоится весной 2021 года, следите за обновлениями в наших социальных сетях.</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="card mb-4">
                    <div class="card__img">
                        <img src="{{ static('v2/img/pages/application/telegram.svg') }}" alt="Наш телеграм-канал">
                    </div>
                    <div class="card__content">
                        <div class="card__title"><a href="https://tele.click/cscenter2020" target="_blank" rel="noopener">Телеграм-канал для поступающих</a></div>
                        <p>Задавайте вопросы про набор в&nbsp;CS центр</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card__img">
                        <img  src="{{ static('v2/img/pages/application/note.svg') }}" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__title"><a href="/enrollment/checklist/" target="_blank">Памятка для поступающих</a></div>
                        <span>Советы от кураторов центра для желающих начать свое обучение в центре</span>
                    </div>
                </div>
            </div>
        </div>
        {% if show_form %}
            <div class="row">
                <div class="col-12">
                    <a id="application-form-anchor"></a>
                    <div class="card _inverted">
                        <div class="card__header _big">
                            <h2>Анкета на поступление</h2>
                        </div>
                         <div class="card__content _big">
                            <div id="ApplicationForm" data-init='{{ app|tojson }}' class="__react-root"></div>
                         </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
