{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
{% load override_url %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}

<div class="projects-list-page">
    <ol class="breadcrumb projects">
      <li class="active">Проекты, {{ current_term }}</li>
    </ol>
    {% if user.is_curator %}
    {% crispy filter.form %}<br>
    {% endif %}

    <div class="panel">
        <div class="panel-body">
            {% if projects %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Участники</th>
                        <th>Руководители</th>
                        <th>Проверяют</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                            </td>
                            <td>
                                {% for student in project.students.all %}
                                    <a class="nowrap" href="{{ student.get_absolute_url }}">{{ student.get_short_name }}</a><br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for s in project.supervisors.all %}{{ s.full_name }}<br>{% endfor %}
                            </td>
                            <td>
                                {% for reviewer in project.reviewers.all %}
                                    {{ reviewer.get_short_name }}<br>
                                    {% empty %}
                                    {% if project.is_active %}
                                        <form method="post" action="{% url 'projects:reviewer_project_enroll' pk=project.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-block btn-primary btn-outline btn-sm">Следить за проектом</button>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if is_paginated %}
                    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" last_label="<i class='fa fa-angle-double-right'></i>" first_label="<i class='fa fa-angle-double-left'></i>" %}
                {% endif %}
            {% else %}
                <div class="projects-empty-list">Проекты не найдены.</div>
            {% endif %}
        </div>
    </div>

  </div>
{% endblock content %}
