{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load markdown call_method from core_tags %}
{% load cache %}
{% load override_url %}
{% load tz %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}{% localtime off %}
<div class="container">
    <ol class=" breadcrumb projects">
        <li class="active">{% if project.is_external %}Внешний{% else %}Внутренний{% endif %} проект / {{ project.semester }}
            {% if request.user.is_curator %} <a href="{% url "admin:projects_project_change" object_id=project.pk %}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>{% endif %}</li>
    </ol>
    {% if project.is_active %}
        {% if request.user.is_project_reviewer or request.user.is_curator %}
        <nav>
            <ul class="pager pager-square __projects">
                <li class="previous">
                    <a href="{{ project.get_prev_project_url }}"><span aria-hidden="true">←</span> Предыдущий проект</a>
                </li>
                <li class="next">
                    <a href="{{ project.get_next_project_url }}">Следующий проект <span aria-hidden="true">→</span></a>
                </li>
            </ul>
        </nav>
        {% endif %}
    {% endif %}
    <div id="project-detail-page">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="project-name">{{ project.name }}</h2>
                {% if project.description %}
                    <div class="ubertext">
                    {% markdown 3600 "project_detail_description" project.pk project.modified %}
                        {{ project.description  }}
                    {% endmarkdown %}
                    </div>
                {% endif %}

                {% if project.supervisor_presentation %}
                    <h4>Презентация руководителя</h4>
                    <object data="{{ project.supervisor_presentation.url|urlencode }}" type="application/pdf" width="100%" height="500">
                    Ваш браузер не поддерживает встроенный просмотр PDF. Пожалуйста, скачайте файл для просмотра: <a href="{{ project.supervisor_presentation.url }}">Скачать PDF</a>.
                    </object>
                {% endif %}

                {% if can_view_report and reporting_periods %}
                    <h4>Отчеты</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="active">
                            <th>ФИО</th>
                            <th>Статус</th>
                            <th>Отправлен</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for ps in project.projectstudent_set.all %}
                        {% for reporting_period in reporting_periods %}
                            <tr>
                                <td class="nowrap">{{ ps.student.get_short_name }}</td>
                                {% call_method ps "get_report" reporting_period as report %}
                                {% if report %}
                                    <td>{{ report.get_status_display }}</td>
                                    <td {% if report.created_local.date > reporting_period.end_on %} class="text-danger"{% endif %}>
                                        {{ report.created_local|date:"d.m.Y H:i" }}
                                    </td>
                                    <td>
                                        {% if report.status == 'sent' %}
                                            {% if request.user.is_curator %}
                                                <a href="{{ report.get_absolute_url }}">Оценить отчет</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ report.get_absolute_url }}">Смотреть отчет</a>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td>Не отправлен</td>
                                    <td colspan="2">Отчетный период: {{ reporting_period.start_on|date:"d E" }} &mdash; {{ reporting_period.end_on|date:"d E" }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                {% endif %}

                {% if request.user.is_curator %}
                    <h4>Оценки <i class="fa fa-user-secret" aria-hidden="true"></i></h4>
                    <form action="{% url 'projects:project_results_update' pk=project.pk %}" method="post">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="active">
                                <th>Участник</th>
                                {% for reporting_period in reporting_periods %}
                                    <th>Отчет{% if forloop.counter > 1 %}&nbsp;{{ forloop.counter }}{% endif %}</th>
                                {% endfor %}
                                <th>През.</th>
                                <th>Рук.</th>
                                <th>Сумма</th>
                                <th>Итог</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% csrf_token %}
                                {{ results_formset.management_form }}
                                {% if results_formset.errors %}
                                    <p class="errornote">{% if results_formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>
                                    {{ results_formset.non_form_errors }}
                                {% endif %}
                                {% for form in results_formset %}
                                    {% with ps=form.instance %}
                                    <tr>
                                        <td>{{ ps.student.get_short_name }}</td>
                                        {% for reporting_period in reporting_periods %}
                                            {% call_method ps "get_report" reporting_period as report %}
                                            <td>{% if report %}{{ report.final_score|default_if_none:"-" }}{% else %}-{% endif %}</td>
                                        {% endfor %}
                                        <td>{% if ps.presentation_grade != None %}{{ ps.presentation_grade }}{% else %}-{% endif %}</td>
                                        <td>{% if ps.supervisor_grade != None %}{{ ps.supervisor_grade }}{% else %}-{% endif %}</td>
                                        <td>{{ ps.total_score }}</td>
                                        <td>
                                            {{ form.final_grade }}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">Сохранить оценки</button>
                    </form>

                    <h4>Отзывы руководителей <i class="fa fa-user-secret" aria-hidden="true"></i></h4>
                    {% for ps in project.projectstudent_set.all %}
                        <b>Студент</b>: {{ ps.student.get_short_name }}<br>
                        <b>Отзыв</b>: {{ ps.supervisor_review|default:"не прислали"|linebreaksbr }}<br><br>
                    {% endfor %}
                {% endif %}

                {% if reporting_periods and project_student %}
                    <h3>Отчет{% if reporting_periods.length > 1 %}ы{% endif %}</h3>
                    <div class="panel-group">
                        {% for reporting_period in reporting_periods %}
                            {% call_method project_student "get_report" reporting_period as report %}
                            <div class="panel panel-default">
                                {# hidden ubertext doesn't reflow properly. HACK IT to be always visible #}
                                <a class="panel-heading" href="#report-{{ reporting_period.id }}-{{ project_student.id }}" aria-expanded="{% if forloop.first or not report %}true{% else %}false{% endif %}">
                                    Отчетный период {{ reporting_period.start_on|date:"j E" }} &mdash; {{ reporting_period.end_on|date:"j E" }}
                                </a>
                                <div class="panel-collapse {% if not forloop.first and report %}collapse{% endif %}" id="report-{{ reporting_period.id }}-{{ project_student.id }}" aria-expanded="{% if forloop.first or not report %}true{% else %}false{% endif %}">
                                    <div class="panel-body p-20">
                                        {% if report %}
                                                <dl class="dl-horizontal m-0">
                                                    <dt>Отправлен</dt><dd>{{ report.created|date:"d.m.Y H:i" }} <a href="{{ report.get_absolute_url }}">Смотреть отчет</a></dd>
                                                    <dt>Статус</dt><dd>{{ report.get_status_display }}</dd>
                                                    <dt>Финальный балл</dt><dd>{{ report.final_score|default_if_none:"-" }}</dd>
                                                </dl>
                                        {% elif project.is_active and can_send_report %}
                                            {% call_method reporting_period "is_started" project as reporting_period_is_started %}
                                            {% if not reporting_period_is_started %}
                                                Форма отправки отчета появится после начала отчетного периода.
                                            {% else %}
                                                <p class="text-muted">Отправьте отчет до {{ reporting_period.end_on|date:"j E" }} включительно.</p>
                                                {% crispy reporting_period.get_report_form %}
                                            {% endif %}
                                        {% else %}
                                            Отчет не был отправлен.
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}

            </div>
            <div class="col-xs-4">
                <div class="links">
                    {% if can_enroll %}
                        {% if project.is_active and not you_enrolled %}
                            <form method="post" action="{% url 'projects:reviewer_project_enroll' pk=project.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-block btn-wide btn-primary">Следить за проектом</button>
                            </form>
                        {% elif project.is_active %}
                            <div class="you-enrolled">Вы подписаны на проект</div>
                        {% endif %}
                    {% endif %}
                </div>

                {% if request.user.is_project_reviewer or request.user.is_curator %}
                    {% if  project.reviewers.all %}
                    <div class="reviewers-list">
                        <h5>Проверяющие:</h5>
                        {% for reviewer in project.reviewers.all %}
                            {{ reviewer }}<br>
                        {% endfor %}
                    </div>
                        {% endif %}
                {% endif %}
                <div class="card">
                    <div class="card-header ch-alt p-15">Руководители</div>
                    <div class="card-body p-15">
                        {% for s in project.supervisors.all %}
                            {{ s.full_name }}
                            <div class="text-muted">{{ s.workplace }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% if project.supervisor_presentation or project.presentation %}
                <div class="card">
                    <div class="card-header ch-alt p-15">Презентации</div>
                    <div class="card-body p-15">
                        {% if project.supervisor_presentation %}
                        <a class="presentation-link" href="{{ project.supervisor_presentation.url }}"><i class="fa fa-file "></i> Презентация руководителя</a><br>
                        {% endif %}
                        {% if project.presentation %}
                            <a class="presentation-link" href="{{ project.presentation.url }}"><i class="fa fa-file "></i> Презентация участников</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="card">
                    <div class="card-header ch-alt p-15">Участники проекта</div>
                    <div class="card-body p-15">
                        {% for ps in project.projectstudent_set.all %}
                            <a href="{{ ps.student.get_absolute_url }}" class="profile-link">{{ ps.student.get_abbreviated_name }}</a><br>
                        {% empty %}
                            Нет участников
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endlocaltime off %}{% endblock content %}
