{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
{% load override_url %}
{% load tz %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}
{% localtime off %}
<div class="projects-list-page">
    <ol class="breadcrumb projects">
      <li class="active">Отчеты, {{ current_term }}</li>
    </ol>
    <div class="deadlines">
        Период отправки отчета{% if current_term.report_starts_at %}: {{ current_term.report_starts_at|date:"d E" }} &mdash; {{ current_term.report_ends_at|date:"d E Y" }} г.{% else %} не указан.{% endif %}
        {% if request.user.is_curator and not request.user.is_project_reviewer %}
            <br><span class="text-danger">Внимание!</span> Уведомления не будут приходить на почту, если не добавить себе группу "Project reviewer".
        {% endif %}
    </div>
    <div class="panel">
        <div class="panel-body">
            {% if projects %}
            <table class="table">
                <thead>
                <tr>
                    <th style="width:50%;">Проект</th>
                    <th>Участник</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    {% for ps in project.projectstudent_set.all %}
                        <tr>
                            <td>
                                {% if forloop.first %}
                                    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                                {% else %}
                                    <span style="color: #CCC">—〃—</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ ps.student.get_absolute_url }}" class="profile-link">{{ ps.student.get_full_name }}</a>
                            </td>
                            <td>{{ ps.report.get_status_display }}{% if ps.report and ps.report.is_completed %}{% spaceless %}
                                <br>({% blocktrans count counter=ps.report.final_score trimmed %}
                                    {{ counter }} point
                                    {% plural %}
                                    {{ counter }} points
                                {% endblocktrans %})
                                {% endspaceless %}{% endif %}</td>
                            <td>
                                {% if ps.report and ps.report.status == 'sent' %}
                                    {% if not request.user.is_curator %}
                                        <span class="text-muted">Проверка куратором</span>
                                    {% else %}
                                        <a {% if ps.report.created_local.date > project.semester.report_ends_at %}class="text-danger"{% endif %}
                                           href="{{ ps.get_report_url }}">Оценить отчет</a>
                                    {% endif %}
                                {% elif ps.report %}
                                    <a {% if ps.report.created.date > project.semester.report_ends_at %}class="text-danger"{% endif %}
                                       href="{{ ps.get_report_url }}">Перейти к отчету
                                    </a>
                                {% elif project.is_active %}<span class="text-muted">Не&nbsp;отправлен</span>
                                {% elif project.report_period_ended %}<span class="text-danger">Отчет не сдан</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                {% endfor %}
                </tbody>
            </table>

            {% if is_paginated %}
                {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" last_label="<i class='fa fa-angle-double-right'></i>" first_label="<i class='fa fa-angle-double-left'></i>" %}
            {% endif %}
            {% else %}
                <div class="projects-empty-list">В данный момент вы не подписаны ни на один проект. Список проектов текущего семестра можно найти <a href="{% url "projects:current_term_projects" %}">здесь</a>.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endlocaltime off %}
{% endblock content %}
