{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load core_tags %}
{% load projects_tags %}
{% load static %}
{% load tz %}
{% load user_thumbnail from user_thumbnail %}

{% block hightlight_styles %}
<link href="{% static "v1/css/vendor/highlight-styles/github.css" %}" rel="stylesheet">
{% endblock hightlight_styles %}

{% block content %}{% localtime off %}
    {% with student=report.project_student.student project=report.project_student.project %}

<div class="container" id="project-report-detail-page">

  <div class="row">
    <div class="col-xs-12">
      <h2 class="content-title">{{ project.name }}</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">

    <div class="panel-group">
        <div class="c-project-description panel">
            <div class="panel-heading">Цели и задачи проекта</div>
            <div class="panel-collapse collapse" id="project-description" aria-expanded="false">
                <div class="panel-body">
                    {% markdown 3600 "project_detail_description" project.pk project.modified %}
                            {{ project.description|default:"Описание проекта не найдено." }}
                    {% endmarkdown %}
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header ch-alt __report-text">Текст отчета  {% if request.user.is_curator %} <a href="{% url "admin:projects_report_change" report.pk %}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>{% endif %}</div>
        <div class="card-body card-padding">
            <div class="ubertext">
            {% markdown 3600 "report_detail" report.pk report.modified %}
                {{ report.text }}
            {% endmarkdown %}
            </div>
              {% if report.file %}
              <span class="assignment-attachment"><i class="fa fa-file"></i></span> <a href="{{ report.file_url }}">{{ report.file_name }}</a>
              {% endif %}
        </div>
    </div>

        <ul class="comment-list">
            {% for comment in comments %}
            <li class="{% if comment.author == student %}student{% else %}reviewer{% endif %}">
              <div class="csc-well assignment-comment">
                <h5 class="assignment">{{ comment.author.get_full_name }}</h5>
                <div class="ubertext">
                  {% markdown 3600 "assignment_comment" comment.pk comment.modified %}
                    {{ comment.text }}
                  {% endmarkdown %}
                </div>
                <div class="metainfo-holder">
                  {% if comment.attached_file %}
                      <span class="assignment-attachment"><i class="fa fa-file"></i></span> <a href="{{ comment.attached_file_url }}">{{ comment.attached_file_name }}</a>

                  {% endif %}
                  <span class="metainfo pull-right">{{ comment.created|timezone:project.get_city_timezone|date:"d.m.Y H:i" }}</span>
                </div>
              </div>
            </li>
            {% endfor %}
        </ul>

        {% if can_comment %}
        <div class="csc-well">
            {% crispy new_comment_form new_comment_form.helper %}
        </div>
        {% endif %}

        {% if user.is_curator %}
            <div class="card">
                <div class="card-header ch-alt"><h2>Оценка куратора</h2></div>
                <div class="card-body card-padding -preliminary-scores">
                    {% if can_assess %}
                        {% crispy report_curator_assessment_form %}
                    {% else %}
                    <ul class="list-unstyled">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">Жизнь в репозитории</h4>
                            <p class="list-group-item-text">{{ report.get_score_activity_display|default:"Нет оценки" }}</p>
                        </li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">Качество отчета</h4>
                            <p class="list-group-item-text">{{ report.get_score_quality_display|default:"Нет оценки" }}</p>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if request.user.is_curator and report.status != report.SENT %}
            <h3>Проверка отчета</h3>
            <div class="panel-group">
            {% for review in reviews %}
                <div class="panel panel-default">
                    <a class="panel-heading" href="#project-review-{{ review.pk }}">
                        {{ review.reviewer }} / <b>{% if review.is_completed %}Завершена{% else %}Не завершена{% endif %}</b>
                    </a>
                    <div class="panel-collapse collapse" id="project-review-{{ review.pk }}" aria-expanded="false">
                        <div class="panel-body -preliminary-scores">
                            {% include "learning/projects/_report_preliminary_assessment.html" %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for reviewer in without_reviews %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title no-collapse">
                            {{ reviewer }} / <b>Не оценивал{% if reviewer.gender == reviewer.GENDER_FEMALE %}а{% endif %}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        {% if is_reviewer and report.review_state and not review_form.instance.is_completed %}
            <a href="#review-form" data-toggle="collapse" aria-expanded="{% if has_errors %}true{% else %}false{% endif %}" class="collapse-link">
                Оценить работу
            </a>
            <div class="panel-collapse">
                <div class="{% if not has_errors %}collapse {% endif %}csc-well" id="review-form">
                    {% crispy review_form %}
                </div>
            </div>
        {% elif is_reviewer and not user.is_curator and review_form.instance.is_completed %}
            <div class="card">
                <div class="card-header ch-alt"><h2>Ваша итоговая оценка</h2></div>
                <div class="card-body card-padding -preliminary-scores">
                    {% include "learning/projects/_report_preliminary_assessment.html" with review=own_review %}
                </div>
            </div>
        {% endif %}

        {% if request.user.is_curator and report.summarize_state %}
            <div class="csc-well" id="report-summarize-form">
                <span href="#report-summarize-form" class="collapse-link" style="border: none;">Подвести итоги&nbsp;({% blocktrans count counter=report_summary_form.instance.calculate_final_score trimmed %}
                                    {{ counter }} point
                                    {% plural %}
                                    {{ counter }} points
                                {% endblocktrans %})</span>
                {% crispy report_summary_form %}
            </div>
        {% elif report.is_completed  %}
            {% if request.user.is_curator or is_author %}
            <div class="card">
                <div class="card-header ch-alt"><h2>Итоги проверки</h2></div>
                <div class="card-body card-padding -preliminary-scores">
                    <ul class="list-unstyled">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">Суммарный балл &mdash; {{ report.final_score }}</h4>
                            <p class="list-group-item-text">{{ report.final_score_note }}</p>
                        </li>
                    </ul>

                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="col-xs-3">
        {% if request.user.is_curator %}
            <h5>Статус отчета</h5>
            {% crispy report_status_change %}
        {% elif is_reviewer %}
            <h5>Статус отчета</h5>
            {{ report.get_status_display }}
        {% endif %}
        <h5>{% if project.is_external %}Внешний{% else %}Внутренний{% endif %} проект</h5>
        {{ project.semester }}
        {% if is_reviewer or user.is_curator %}
            <h5>Название проекта</h5>
            <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        {% endif %}
        <h5>Руководители</h5>
        {% for s in project.supervisors.all %}{{ s }}<br>{% endfor %}
        {% if report.is_completed %}
            <h5>Суммарный балл за отчет</h5>
            {{ report.final_score }}
        {% endif %}
        {% if report.project_student.final_grade != report.project_student.GRADES.NOT_GRADED %}
            <h5>Итоговая оценка</h5>
            <span style="white-space: nowrap;" class="badge assignment-status {{ report.project_student.final_grade|to_css }}">
             {{ report.project_student.final_grade_display }}
            </span>
        {% endif %}
        <h5>Презентации</h5>
        {% if project.supervisor_presentation or project.presentation %}
            {% if project.supervisor_presentation %}
                <a class="presentation-link" href="{{ project.supervisor_presentation.url }}"><i class="fa fa-file "></i> Презентация руководителя</a><br>
            {% endif %}
            {% if project.presentation %}
                <a class="presentation-link" href="{{ project.presentation.url }}"><i class="fa fa-file "></i> Презентация участников</a>
            {% endif %}
        {% else %}
            Не предоставлены
        {% endif %}
        <h5>{% if student.is_volunteer %}{% trans "Volunteer" %}{% else %}{% trans "Student" %}{% endif %}</h5>
        <ul class="list-unstyled o-users-vlist-with-photo">
                <li>
                    <a href="{{ student.get_absolute_url }}">
                    {% if student.photo %}
                        {% user_thumbnail student student.ThumbnailSize.SQUARE_SMALL as im %}
                            <img alt="{{ student.get_full_name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% enduser_thumbnail %}
                    {% else %}
                        <div class="square-photo-stub" data-toggle="tooltip" data-placement="top" title="{{ student.get_full_name }}">{{ student.first_name|slice:":1" }}{{ student.last_name|slice:":1" }}</div>
                    {% endif %}
                    {{ student.get_full_name }}
                    </a>
                </li>
        </ul>
        <h5>Проверяющие</h5>
        <ul class="list-unstyled o-users-vlist-with-photo">
            {% for reviewer in reviewers %}
                <li>
                    {% if reviewer.photo %}
                        {% user_thumbnail reviewer reviewer.ThumbnailSize.SQUARE_SMALL use_stab=False as im %}
                            <img alt="{{ reviewer.get_full_name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% enduser_thumbnail %}
                    {% else %}
                        <div class="square-photo-stub" data-toggle="tooltip" data-placement="top" title="{{ reviewer.get_full_name }}">{{ reviewer.first_name|slice:":1" }}{{ reviewer.last_name|slice:":1" }}</div>
                    {% endif %}
                    {{ reviewer.get_full_name }}
                </li>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
    {% endwith %}

    <script type="text/javascript">
{#    TODO: append instead of replace #}
        CSC.config.localStorage.hashes = {{ clean_comments_json|safe }};
    </script>
{% endlocaltime off %}{% endblock content %}
