{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}
<div class="projects-list-page">
    <ol class="container breadcrumb projects">
        <li class="active">Проекты</li>
    </ol>
    <div class="panel">
        <div class="panel-body">
            {% if projects %}
            <table class="table">
                <thead>
                <tr>
                    <th class="name">Название</th>
                    <th width="10%">Балл за отчет</th>
                    <th width="10%">Итог</th>
                    <th width="15%">Семестр</th>
                </tr>
                </thead>
                <tbody>
                {% for ps in projects %}
                    {% with project=ps.project student=ps.student %}
                    <tr>
                        <td>
                            <a href="{% url "projects:student_project_detail" project.pk %}">{{ project.name }}</a><br>
                            Руководители: {{ project.supervisor }}
                        </td>
                        <td>{{ ps.report.final_score|default:"-" }}</td>
                        <td>
                            <span style="white-space: nowrap;" class="badge assignment-status {{ ps.final_grade|to_css }}">{{ ps.final_grade_display }}</span>
                        </td>
                        <td>{{ project.semester }}</td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>

            {% else %}
                <div class="enrolled-empty-list">Проекты не найдены.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
