{% macro common_cors_headers() %}
    # As of Nginx 1.7.5, add_header supports an "always" parameter which
    # allows CORS to work if the backend returns 4xx or 5xx status code.
    add_header Access-Control-Allow-Origin "$cors_origin_header" always;
    add_header Access-Control-Allow-Credentials "$cors_allow_credentials";
{% endmacro %}

