upstream django_{{ csclub_user }} {
    server unix:///tmp/uwsgi_{{ csclub_user }}.socket;
}

server {
    listen 80;
    server_name www.compsciclub.ru;
    return 301 http://compsciclub.ru$request_uri;
}

server {
    listen 80;
    server_name compsciclub.ru;
    charset utf-8;
    client_max_body_size 42m;

    location /media  {
        alias /shared/media;
        access_log off;
        tcp_nodelay off;
        # gzip_static on;
        gzip on;
        expires 6h;
        add_header Cache-Control public,max-age=21600;
    }

    location /static {
        alias /home/{{ csclub_user }}/site/repo/cscsite/static;
        access_log off;
        tcp_nodelay off;
        # FIXME(Dmitry): do this statically
        # gzip_static on;
        gzip on;
        expires 6h;
        add_header Cache-Control public,max-age=21600;
    }

    # Django
    location / {
        gzip on;
        uwsgi_pass django_{{ csclub_user }};
        include uwsgi_params;
    }
}
