#!upstart

description "Run the django-rq consumer task for redis task jobs"

start on runlevel [2345]
stop on runlevel [016]

setuid {{ cscenter_user }}
setgid {{ cscenter_user }}


exec /home/{{ cscenter_user }}/site/env/bin/python /home/{{ cscenter_user }}/site/repo/cscsite/manage.py rqworker high default --settings={{ cscenter_user }}.settings.production --pythonpath='/home/{{ cscenter_user }}/site/repo/cscsite' >> /home/{{ cscenter_user }}/site/logs/redis_queue_workers.log 2>&1

respawn
respawn limit 10 5