[Unit]
Description="Django redis queue worker"
After=network.target
Requires=redis.service postgresql.service
# Propagates restart/stop to this service if event occurred on target unit
PartOf={{ rq_workers_target_service_name }}.target

[Service]
Type=simple
User={{ site_user }}
Group={{ site_user_group }}
KillSignal=SIGTERM
Restart=always
Environment=DJANGO_SETTINGS_MODULE={{ app_settings }}.settings.{{ app_environment }}
ExecStart={{ virtualenv_root }}/bin/python {{ repo_root }}/manage.py rqworker {{ worker_name }} --pythonpath='{{ repo_root }}/{{ apps_dir_name }}'

[Install]
WantedBy=multi-user.target