.profile-body {
    margin-top: 60px;
    color: #414141;

    h2 {
        margin-top: 0;
    }

    .about-me {
        margin: 20px 0;
    }

    .review, .accounts, .contact-info {
        margin-top: 40px;
    }

    .calc {
        margin-top: 40px;

        input {
            width: 100%;
        }
    }

    ._mtop-30 {
        margin-top: 30px;
    }
}

.profile-sidebar {
    margin-top: 60px;

    .list-group {
        margin-bottom: 10px;

        .list-group-item {
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            padding: 7px 10px;

            &:first-child {
                border-top: 0;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }


    h5 {
        font-weight: normal;
    }


}