@import "jgrowl/jgrowl.less";

/* jGrowl overrides */
.jGrowl {
  color: #000;
}
.jGrowl-notification {
  background-color: #A6A8CD;
  border-color: #A6A8CD;
}
.jGrowl-closer { background-color: #fff;}