{% macro svg_inline(id, class='') -%}
<svg class="sprite-img {% if class %}{{ class }}{% else %}_{{ id }}{% endif %}" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#{{ id }}"></use></svg>
{%- endmacro %}