{% macro svg_inline(id, modifiers='') -%}
<svg class="sprite-img _{{ id }}{% if modifiers %} {{ modifiers }}{% endif %}" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#{{ id }}"></use></svg>
{%- endmacro %}

{% macro video_iframe(url="https://www.youtube.com/embed/A3SomwRa5iw", attrs={}) -%}
<div class="video">
    <iframe class="embed _responsive" src="{{ url }}" frameborder="0" allowfullscreen {% for k,v in attrs.items() %}{{ k }}={{ v }} {% endfor %}></iframe>
</div>
{%- endmacro %}
