{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load chunks from core_tags %}

{% block content %}

{# FIXME: move all css after approval, this page - just a prototype #}
<div id="courses-new">
    <div class="container">
        {% for autumn_spring in semester_list %}
            <div class="academic-year-wrapper">
                <h2 style="font-size: 36px; line-height: normal; margin: 0; font-weight: bold;" >{{ autumn_spring.0.year }}...{{ autumn_spring.1.year }}</h2>
                {% for semester in autumn_spring reversed %}
                    <div class="term-wrapper" style="">
                    <h3 style="letter-spacing: 1px; font-size: 21px; font-weight: bold; text-transform: uppercase; margin: 18px 0 0;">{{ semester.get_type_display }}</h3>

                    {% for row in semester.courseofferings|chunks:3 %}
                        <div class="row" style="margin-bottom: 10px;">
                            {% for course_offering in row %}
                                    <div class="col-xs-4">
                                        <div style="margin: 15px 0 0 0; color: #333; font-weight: 600; font-size: 8px; letter-spacing: 1px;">
                                            {% if request.site.domain == "compscicenter.ru" and course_offering.is_open %}
                                                <span style="">КУРС CS КЛУБА</span>
                                            {% endif %}
                                            {% if course_offering.is_published_in_video %}
                                                {% if request.site.domain == "compscicenter.ru" and course_offering.is_open %}·{% endif %}
                                                <span style="">ВИДЕО<span style="color: #4F86A0">&#x25B7;</span></span>
                                            {% endif %}&nbsp;
                                        </div>
                                        <a style="line-height: 1.2; color: #4f86a0; font-size: 18px; margin-bottom: 5px; display: inline-block;" href="{{ course_offering.get_absolute_url }}">{{ course_offering.course.name }}</a><br>
                                        {% for teacher in course_offering.teachers.all %}
                                            <a style="font-style: italic; white-space: nowrap; margin-right: 10px; font-size: 14px; color: #333;" href="{{ teacher.teacher_profile_url }}" style="">{{ teacher.get_abbreviated_name }}</a>
                                        {% endfor %}
                                    </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
    <style>
        .nav-pills.__test li {
            margin-right: 10px;
        }
        .nav-pills.__test a {
            border: 1px solid #4f86a0;
            color: #000;
            font-size: 14px;
            border-radius: 10px;
            padding: 8px 15px;
        }
        .nav-pills.__test a:hover {
            background-color: #edf3f5;
        }
        .nav-pills.__test li.active a {
            background-color: #4f86a0;
        }
        .term-wrapper {
            border-bottom: 1px solid #e6e6e6;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }
        .academic-year-wrapper .term-wrapper:last-child {
            border-color: #a7c2cf;
        }
        .academic-year-wrapper:last-child .term-wrapper:last-child{
            border-bottom: none;
        }
    </style>
{% endblock content %}
