{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        {% with course=enrollment.course %}
        <h2 class="course-main-title mb-20">
            {{ course.meta_course.name }}<br>
            <small>{% if course.is_correspondence %}{% trans "Online Course" %}{% else %}{{ course.city.name }}{% endif %} / {{ course.semester }}</small>
        </h2>
        {% endwith %}
        <form action="" method="post">{% csrf_token %}
            <div id="div_id_reason" class="form-group">
                <label for="id_reason" class="control-label">
                {% blocktrans %}Why did you decide to unenroll in the course?{% endblocktrans %}
                </label>
                <div class="controls ">
                    <textarea name="reason" cols="40" rows="10" class="textarea form-control" id="id_reason"></textarea>
                </div>
            </div>
            <input type="submit" class="btn btn-danger" value="{% trans "To leave the course" %}" />
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" onclick="history.back();">
                {% trans "Cancel" %}
            </a>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
