{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        {% with course_offering=form.course_offering %}
        <h2 class="course-main-title mb-20">
            {{ course_offering.meta_course.name }}<br>
            <small>{% if course_offering.is_correspondence %}{% trans "Online Course" %}{% else %}{{ course_offering.city.name }}{% endif %} / {{ course_offering.semester }}</small>
        </h2>
        {% endwith %}
        {% crispy form %}
    </div>
  </div>
</div>
{% endblock content %}
