{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        {% with course=form.course %}
        <h2 class="course-main-title mb-20">
            {{ course.meta_course.name }}<br>
            <small>{% if course.is_correspondence %}{% trans "Online Course" %}{% else %}{{ course.city.name }}{% endif %} / {{ course.semester }}</small>
        </h2>
        {% endwith %}
        {% crispy form %}
    </div>
  </div>
</div>
{% endblock content %}
