{% extends "base.html" %}
{% load i18n %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}
<div class="container _students-courses-list">
    <div class="nav-tabs-inverse">
        <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a data-toggle="tab" href="#current" aria-controls="current" role="tab" aria-expanded="true">{{ current_term }}</a>
            </li>
            {% if archive_enrolled %}
            <li role="presentation">
                <a data-toggle="tab" href="#archive" aria-controls="archive" role="tab" aria-expanded="false">Пройденные курсы</a>
            </li>
            {% endif %}
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="current" role="tabpanel">
            {% if ongoing_enrolled or ongoing_rest %}

          <table class="table" width="100%">
            <thead>
                <th></th>
                <th class="actions"></th>
            </thead>
            <tbody>
            {% for course_offering in ongoing_enrolled %}
            <tr class="{{ course_offering.has_unread|yesno:"unread,noop" }}">
                <td>
                <a href="{{ course_offering.get_absolute_url }}" class="title">{{ course_offering.meta_course.name }}</a> &nbsp;
                  <span class="badge assignment-status {{ course_offering.grading_type_css_mixin }} {{ course_offering.enrollment.grade }}">{{ course_offering.enrollment.grade_honest }}</span><br>
              {% trans "Professors" %}:
                {% for teacher in course_offering.teachers.all %}
                <a href="{% url 'teacher_detail' teacher.pk %}">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>
                    {% if course_offering.survey_url %}<a class=" btn btn-sm btn-block btn-success" href="{{ course_offering.survey_url }}" target="_blank">{% trans "Start survey!" %}</a>{% endif %}
                    {% if course_offering.enrollment_is_open %}
                    <a href="{{ course_offering.get_unenroll_url }}?back=course_list_student"
                       class=" btn btn-sm btn-block btn-warning">{% trans "Leave course" %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            {% for course_offering in ongoing_rest %}
            <tr class="{{ course_offering.has_unread|yesno:"unread,noop" }}">
              <td>
                <a class="title" href="{{ course_offering.get_absolute_url }}">
                    {{ course_offering.meta_course.name }}</a>{% if request.site.domain == "compscicenter.ru" and course_offering.is_open %}<span>, курс CS клуба</span>{% endif %}<br>
              {% trans "Professors" %}:
                {% for teacher in course_offering.teachers.all %}
                <a href="{% url 'teacher_detail' teacher.pk %}">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </td>
              <td>
                  {% if course_offering.enrollment_is_open %}

                <form method="post" action="{{ course_offering.get_enroll_url }}">
                {% csrf_token %}
                <input type="hidden" name="course_offering_pk" value="{{ course_offering.pk }}">
                <input type="hidden" name="back" value="course_list_student">
                <button type="submit" class="btn btn-default btn-sm btn-block">
                  {% trans "Enroll" %}
                </button>
              </form>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
            {% else %}
                Список курсов на <b>{{ current_term|lower }}</b> пуст.
            {% endif %}
          </div>

      {% if archive_enrolled %}
          <div class="tab-pane" id="archive" role="tabpanel">
          <table class="table _archive" width="100%">
            <thead>
              <th></th>
              <th width="10%">{% trans "Grade" %}</th>
              <th width="15%">{% trans "Semester" %}</th>
            </thead>
            <tbody>
            {% for course_offering in archive_enrolled %}
                <tr class="{{ course_offering.has_unread|yesno:"unread,noop" }}">
                  <td>
                    <a href="{{ course_offering.get_absolute_url }}">{{ course_offering.meta_course.name }}</a>
                  </td>
                  <td><span class="badge assignment-status {{ course_offering.grading_type_css_mixin }} {{ course_offering.enrollment.grade }}">{{ course_offering.enrollment.grade_honest }}</span></td>
                  <td>{{ course_offering.semester }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
      {% endif %}
    </div>
    </div>
</div>

{% endblock content %}
