{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  {% if semester_list %}
  <div class="row">
    <div class="col-xs-12">
        {% if request.site.domain == "compsciclub.ru" %}<h1 class="page-header">{% trans "Courses" %}</h1>{% endif %}
    {% for autumn_spring in semester_list %}
      {% if forloop.counter == 2 %}
      {% endif %}
      <table class="table table-stripped __courses">
        <tr>
        {% for semester in autumn_spring %}
          <th width="50%">{% if semester %}{{ semester|title }}{% endif %}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for semester in autumn_spring %}
          <td class="semester-course-list">
            <ul>
            {% for course_offering in semester.courseofferings %}
              <li>
                <a href="{{ course_offering.get_absolute_url }}">{{ course_offering.course.name }}</a>
                {% if request.site.domain == "compscicenter.ru" and course_offering.is_open and course_offering.teachers.all|length == 1 %}<span class="text-nowrap">{% endif %}({% for teacher in course_offering.teachers.all %}{% if request.site.domain == "compscicenter.ru" and course_offering.is_open and course_offering.teachers.all|length != 1 and forloop.last %}<span class="text-nowrap">{% endif %}<a href="{{ teacher.teacher_profile_url }}" style="white-space:nowrap;color: #333;">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}){% if request.site.domain == "compscicenter.ru" and course_offering.is_open %}&nbsp;<sup class="text-nowrap">Курс CS клуба</sup>{% endif %}
                  {% if request.site.domain == "compscicenter.ru" and course_offering.is_open and course_offering.teachers.all|length == 1 %}</span>{% endif %}
              </li>
            {% endfor %}
            </ul>
          </td>
        {% endfor %}
        </tr>
      </table>
    {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 center-aligned">
      <h4>{% trans "No courses yet" %}</h4>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
