.announcement__detail {
  display: inline-table;
  margin: 0 spacer("2x") spacer("2x") 0;

  .sprite-img {
    fill: $gray-light;
    margin-right: spacer("1x");
    width: 1.2em;
    height: 1.2em;
    display: table-cell;
    vertical-align: top; //For Safari and IE
  }

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

.announcement {
  h1,
  .h1 {
    margin-bottom: spacer("2x");
  }
}
