.announcement__detail {
  display: inline-table;
  margin-right: spacer("4x");

  .sprite-img {
    fill: $gray-light;
    margin-right: spacer("1x");
    width: 1em;
    height: 1em;
    display: table-cell;
  }

  span {
    display: table-cell;
  }
}

.announcement {
  h1,
  .h1 {
    margin-bottom: spacer("2x");
  }
}
