.external-links {
  svg + span {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline;
    }
  }

  svg {
    &:hover {
      fill: $blue;
    }
  }

  .sprite-img {
    margin-right: spacer("1x");
  }
}
