{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Программа для поступления в CS центр{% endblock title %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="_title">Темы и требования для вступительных испытаний</h1>
        </div>
        <div class="col-lg-8">
            <h2>Математика</h2>
            <h3>Математический анализ</h3>
            <p>
                Предел, обозначения O() и o(), умение корректно доказывать и применять асимптотические
                оценки,
                при необходимости переформулируя в «терминах эпсилон и дельта», непрерывность,
                производная,
                первообразная, дифференциал, нахождение экстремума функции от одной и от многих
                переменных,
                формула Тейлора.
            </p>
            <h3>Дискретная математика и математическая логика</h3>
            <p>
                Отображения и отношения и их свойства, транзитивное замыкание отношения,
                эквивалентность, отношения
                порядка, логика высказываний, кванторы, метод математической индукции, основные понятия теории
                графов, лемма о рукопожатиях, критерий двудольности, оценки числа ребер, характеризация
                деревьев.
            </p>
            <h3>Алгебра и теория чисел</h3>
            <p>
                Группы, поля, кольца, факторизация, идеал, сравнения, алгоритм Евклида, теоремы Эйлера и Ферма,
                кольцо многочленов, число корней многочлена, линейные пространства и операторы, базис,
                размерность,
                ранг, собственные числа и собственные векторы, характеристический многочлен.
            </p>
            <h3>Теория вероятностей</h3>
            <p>
                Зависимые и независимые события, условные вероятности, формула полной вероятности,
                математическое
                ожидание, второй момент, неравенства Маркова и Чебышёва.
            </p>
        </div>




        <div class="col-lg-3 offset-lg-1">
            <div class="card mb-4">
                <div class="card__header _dark">
                    <h4 class="card__title">Список литературы</h4>
                </div>
                <div class="card__content text-small">
                    <ul class="ml-6">
                        <li>И. В. Романовский. Дискретный анализ</li>
                        <li>А. Шень. Начала теории множеств. Математическая логика и теория алгоритмов
                        </li>
                        <li>Н. Б. Алфутова, А. В. Устинов. Алгебра и теория чисел для
                            математических
                            школ
                        </li>
                        <li>Б. М. Давидович, П. Е. Пушкарь, Ю. В. Чеканов. Математический
                            анализ в 57-й школе.
                            Четырехгодичный курс
                        </li>
                        <li>А. И. Кострикин. Введение в алгебру (в 3 частях)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Алгоритмы и структуры данных</h2>
            <h3>Оценка алгоритмов</h3>
            <p>Мы рассчитываем, что вы понимаете, какое количество операций и объём дополнительной
                памяти необходимы
                для обсуждаемых алгоритмов и из каких соображений это получается.</p>
            <h3>Простейшие алгоритмы</h3>
            <p>Поиск заданного элемента, наибольшего элемента, сортировка вставкой, сортировка пузырьком, быстрая
                сортировка, иерархические сортировки.</p>
            <h3>Простейшие структуры данных</h3>
            <p>Массив, список, стек, очередь.</p>
        </div>
        <div class="col-lg-3 offset-lg-1">
            <div class="card mb-4">
                <div class="card__header _dark">
                    <h4 class="card__title">Список литературы</h4>
                </div>
                <div class="card__content text-small">
                    <ul class="ml-6 mb-0">
                        <li>А. Шень. Программирование. Теоремы и задачи</li>
                        <li>Н. Вирт. Алгоритмы и структуры данных</li>
                        <li>Т. Кормен, Ч. Лейзерсон, Р. Ривест. Алгоритмы: построение и анализ
                        </li>
                    </ul>
                </div>




            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Программирование</h2>
            <p>Знание базовых принципов одного из «традиционных» (C, C++, Java, Python и др.)
                языков
                программирования:
                основы синтаксиса, переменные, условные выражения, циклы, массивы, функции, рекурсия, динамическая
                память, стек.</p>
            <p>Умение написать код для перечисленных выше элементарных алгоритмов.</p>
        </div>
        <div class="col-lg-3 offset-lg-1">
            <div class="card mb-4">
                <div class="card__header _dark">
                    <h4 class="card__title">Список литературы</h4>
                </div>
                <div class="card__content text-small">
                    <ul class="ml-6 mb-0">
                        <li>Брайан Керниган, Деннис Ритчи. Язык программирования C</li>
                        <li>Герберт Шилдт. С++ для начинающих. Шаг за шагом</li>
                        <li>Герберт Шилдт. Java. Руководство для начинающих
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
