{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Программа для поступления в CS центр{% endblock title %}

{% block content %}
  <div class="container page-content">
    <div class="row mb-8">
      <div class="col-lg-8">
        <h1 class="_title">Темы и&nbsp;требования для вступительных испытаний</h1>
      </div>
      <div class="col-lg-8 mt-4">
        <h2>Математика</h2>
        <h3>Математический анализ</h3>
        <ol>
          <li><b>Предел и&nbsp;непрерывность:</b> предел последовательности, предел рекурентно заданной последовательности, предел функции,
            непрерывность функции, обозначения O() и&nbsp;o(), умение корректно доказывать и&nbsp;применять асимптотические оценки, при
            необходимости переформулируя в&nbsp;&laquo;терминах эпсилон и&nbsp;дельта&raquo;
          </li>
          <li><b>Дифференцирование:</b> производная функции одной/нескольких переменных, частная производная, производная неявно заданной
            функции, геометрический и&nbsp;физический смыслы производной, дифференциал
          </li>
          <li><b>Применение производных к&nbsp;исследованию функций:</b> формула Тейлора, нахождение экстремума функции от&nbsp;одной и&nbsp;от&nbsp;многих
            переменных
          </li>
          <li><b>Интегрирование:</b> неопределенный интеграл, определенный интеграл, кратные интегралы, повторные интегралы, геометрический
            смысл интеграла
          </li>
          <li><b>Ряды:</b> числовые ряды, функциональные последовательности и&nbsp;ряды, степенные ряды, ряд Фурье, сходимость рядов</li>
        </ol>
        <h3>Дискретная математика и&nbsp;математическая логика</h3>
        <ol>
          <li><b>Теория множеств:</b> отображения множеств и&nbsp;их&nbsp;свойства, отношения множеств и&nbsp;их&nbsp;свойства,
            транзитивное замыкание отношения,
            эквивалентность, отношения порядка
          </li>
          <li><b>Логика высказываний:</b> логические операции, кванторы</li>
          <li><b>Метод математической индукции</b></li>
          <li><b>Комбинаторика:</b> перестановки, размещения, сочетания, бином Ньютона</li>
          <li><b>Теория графов:</b> основные понятия теории графов, лемма о&nbsp;рукопожатиях, критерий двудольности, оценки числа ребер,
            характеризация деревьев.
          </li>
        </ol>
        <h3>Алгебра и&nbsp;теория чисел</h3>
        <ol>
          <li><b>Основные алгебраические структуры:</b> группы, поля, кольца</li>
          <li><b>Основы теории чисел:</b> НОК и&nbsp;НОД, алгоритм Евклида, простые числа, сравнение по&nbsp;модулю, теоремы Эйлера и&nbsp;Ферма
          </li>
          <li><b>Многочлены:</b> степень многочлена, число корней многочлена, теорема Безу, факторизация многочленов</li>
          <li><b>Линейные пространства и&nbsp;операторы:</b> базис, размерность, линейная зависимость векторов</li>
          <li><b>Матрицы:</b> определитель, ранг, собственные числа и&nbsp;собственные векторы, характеристический многочлен</li>
        </ol>
        <h3>Теория вероятностей</h3>
        <ol>
          <li><b>Случайные события:</b> классическое определение вероятностей, геометрическая вероятность, зависимые и&nbsp;независимые
            события,
            условные вероятности, формула полной вероятности, формула Байеса.
          </li>
          <li><b>Случайные величины и&nbsp;их&nbsp;распределения:</b> дискретные и&nbsp;непрерывные случайные величины, математическое
            ожидание, дисперсия,
            моменты случайных величин, неравенства Маркова и&nbsp;Чебышёва.
          </li>
        </ol>
      </div>

      <div class="col-lg-3 mt-4 offset-lg-1">
        <div class="card mb-4">
          <div class="card__header grey-bg">
            <h4 class="card__title">Рекомендованная литература:</h4>
          </div>
          <div class="card__content text-small">
            <ul class="ml-6">
              <li>Б.&nbsp;М.&nbsp;Давидович, П.&nbsp;Е. Пушкарь, Ю.&nbsp;В.&nbsp;Чеканов. &laquo;Математический анализ в&nbsp;57-й школе.
                Четырехгодичный курс&raquo;
              </li>
              <li>И.&nbsp;В.&nbsp;Романовский. &laquo;Дискретный анализ&raquo;</li>
              <li>А.&nbsp;Шень. Начала теории множеств. &laquo;Математическая логика и&nbsp;теория алгоритмов&raquo;</li>
              <li>Н.&nbsp;Б.&nbsp;Алфутова, А.&nbsp;В. Устинов. &laquo;Алгебра и&nbsp;теория чисел для математических школ&raquo;</li>
              <li>Александр Шень. &laquo;Вероятность: примеры и&nbsp;задачи&raquo;</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card__header grey-bg">
            <h4 class="card__title">Курсы на&nbsp;Stepik:</h4>
          </div>
          <div class="card__content text-small">
            <ul class="ml-6">
              <li><a href="https://stepik.org/course/95/" target="_blank" rel="nofollow noopener">Введение в&nbsp;математический
                анализ</a></li>
              <li><a href="https://stepik.org/course/91/" target="_blank" rel="nofollow noopener">Ликбез по&nbsp;дискретной
                математике</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-8">
      <div class="col-lg-8">
        <h2>Алгоритмы и&nbsp;структуры данных</h2>
        <h3>Оценка алгоритмов</h3>
        <p>Мы&nbsp;рассчитываем, что вы&nbsp;понимаете, какое количество операций и&nbsp;объём дополнительной памяти необходимы для
          обсуждаемых
          алгоритмов и&nbsp;из&nbsp;каких соображений это получается. А&nbsp;также можете выразить сложность алгоритмов в&nbsp;терминах
          O(N).</p>
        <h3>Простейшие алгоритмы</h3>
        <ol>
          <li><b>Поиск элемента в&nbsp;массиве:</b> линейный поиск, бинарный поиск, поиск наибольшего/наименьшего элемента</li>
          <li><b>Cортировки:</b> вставкой, пузырьком, быстрая сортировка, иерархические сортировки</li>
          <li><b>Основные подходы к&nbsp;решению задач:</b> полный перебор, жадные алгоритмы</li>
        </ol>
        <h3>Простейшие структуры данных</h3>
        <p>Массив, список, стек, очередь.</p>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="card mb-4">
          <div class="card__header grey-bg">
            <h4 class="card__title">Рекомендованная литература:</h4>
          </div>
          <div class="card__content text-small">
            <ul class="ml-6 mb-0">
              <li>Дасгупта&nbsp;С., Пападимитриу&nbsp;Х., Вазирани У. &laquo;Алгоритмы&raquo;</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card__header grey-bg">
            <h4 class="card__title">Курсы на&nbsp;Stepik:</h4>
          </div>
          <div class="card__content text-small">
            <ul class="ml-6 mb-0">
              <li><a href="https://stepik.org/course/217/" target="_blank" rel="nofollow noopener">Алгоритмы: теория и&nbsp;практика.
                Методы</a></li>
              <li><a href="https://stepik.org/course/1547/" target="_blank" rel="nofollow noopener">Алгоритмы: теория и&nbsp;практика.
                Структуры данных</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-8">
      <div class="col-lg-8">
        <h2>Программирование</h2>
        <p>Знание базовых принципов одного из&nbsp;&laquo;традиционных&raquo; (Python, Java, C, C++&nbsp;и&nbsp;др.) языков
          программирования: основы синтаксиса,
          переменные, условные выражения, циклы, массивы, функции, рекурсия, динамическая память, стек.</p>
        <p>Умение написать код для перечисленных выше элементарных алгоритмов.</p>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="card mb-4">
          <div class="card__header grey-bg">
            <h4 class="card__title">Рекомендованная литература:</h4>
          </div>
          <div class="card__content text-small">
            <ul class="ml-6 mb-0">
              <li>Лутц Марк. &laquo;Изучаем Python&raquo;</li>
              <li>Герберт Шилдт. &laquo;Java. Руководство для начинающих&raquo;</li>
              <li>Герберт Шилдт. &laquo;С++&nbsp;для начинающих. Шаг за&nbsp;шагом&raquo;</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card__header grey-bg">
            <h4 class="card__title">Курсы на&nbsp;Stepik:</h4>
          </div>
          <div class="card__content text-small">
            <ul class="ml-6 mb-0">
              <li><a href="https://stepik.org/course/187/" target="_blank" rel="nofollow noopener"> Java. Базовый курс</a></li>
              <li><a href="https://stepik.org/course/363/" target="_blank" rel="nofollow noopener">Введение в&nbsp;программирование
                (C++)</a></li>
              <li><a href="https://stepik.org/course/7/" target="_blank" rel="nofollow noopener">Программирование на&nbsp;языке C++</a>
              </li>
              <li><a href="https://stepik.org/course/67/" target="_blank" rel="nofollow noopener">Программирование на&nbsp;Python</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
