$footer-mobile-height: 144px;
$footer-height: 88px;

@mixin append-hr-to-container() {
  .container::after {
    content: "";
    margin: #{2 * $hr-margin-y} 0;
    border-top: $hr-border-width solid $hr-border-color;
    display: block;
  }
}


html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-mobile-height;
  @include media-breakpoint-up(lg) {
    margin-bottom: $footer-height;
  }
}

.cover {
  position: relative;
  background: #201f20 no-repeat;
  background-size: cover;
  color: $white;
  padding: 56px 0 96px;
  text-align: center;
  @include font-smoothing();
  @include media-breakpoint-up(lg) {
    text-align: left;
    padding-top: 0;
  }

  nav {
    z-index: 5;
  }
}

.cover-index-page {
  background-image: url("/static/v2/img/pages/index/bg-main-page.jpg");
}

.cover__title {
  padding: 56px 0 0;
  max-width: 900px;
  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }
}

.cover__text {
  margin-bottom: 56px;
  max-width: 900px;
}

// Footer styles
.footer {
  overflow: hidden;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: $footer-mobile-height;
  @include media-breakpoint-up(lg) {
    height: $footer-height;
  }

  > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: spacer("8x");
    color: $gray-darker;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    @include font-smoothing();

    &::before {
      content: "";
      width: 100%;
      display: block; //for old browsers
      border-top: $hr-border-width solid $hr-border-color;
      margin-bottom: spacer("8x");
    }
  }

  .sprite-img {
    fill:$gray;
    transition: $transition-base;
  }
}

.footer__copyright {
  @include make-col(12);
  text-align: center;
  display: block;
  @include media-breakpoint-up(md) {
    @include make-col(6);
    text-align: left;
    float: left; //for old browsers
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(6);
    flex-direction: row;
    justify-content: flex-end;
  }
}

.footer__social-media-icons {
  a {
    margin: spacer("1x");
    @include media-breakpoint-up(md) {
      margin: 0 0 0 spacer("1x");
    }
  }
  margin: spacer("2x");
  @include media-breakpoint-up(md) {
    margin: 0;
  }
}

.footer__email {
  margin: 0;
  @include media-breakpoint-up(md) {
    margin-right: spacer("3x");
  }
}

.content-block {
  .figure {
    display: block;
    margin-bottom: spacer("6x");
  }
}