{% extends "lms/layouts/v2_base.html" %}
{% block title %}Набор в ШАД — 2025{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
  <div class="svg-inline">{% block sprites %}{% endblock sprites %}</div>
  <div class="container page-content">
      <div class="row">
        <div class="col-12">
          <a id="application-form-anchor"></a>
          <div class="card _inverted">
            <div class="card__header _big">
              <h2>Анкета на поступление</h2>
            </div>
            <div class="card__content _big">
              {% if show_form %}
                <div class="card__title">
                    <h2 class="mb-3">Набор в ШАД — 2025</h2>
                </div>
                <div id="YDSApplicationForm" data-init='{{ app|tojson }}' class="__react-root"></div>
              {% else %}
                <div class="card__title">
                    <h2 class="mb-3">Новый набор стартует в апреле 2026 года.</h2>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
{% block footer %}{% endblock %}
