---
- name: Create dir for nginx crypto stuff
  file:
    path: "{{ nginx_tls_path }}"
    state: directory
  tags:
    - tls

- name: Ensure all nginx crypto materials are present
  copy:
    src: "{{ item.from }}"
    dest: "{{ nginx_tls_path }}/{{ item.to }}"
    mode: 0400
  with_items:
    - from: cscweb_tls_dhparam.pem
      to: dhparam.pem
  tags:
    - tls

- name: Copy nginx config
  template:
    src: nginx.conf.tmpl
    dest: "/etc/nginx/sites-available/{{ item.site_user }}.conf"
  with_items: "{{ available_sites }}"
  tags:
    - nginx

- name: Remove default nginx config
  file: path=/etc/nginx/sites-enabled/default state=absent
  notify: reload nginx

- name: Symlink nginx config
  file:
    src: "/etc/nginx/sites-available/{{ item.site_user }}.conf"
    dest: "/etc/nginx/sites-enabled/{{ item.site_user }}.conf"
    state: link
  notify: restart nginx
  with_items: "{{ available_sites }}"
  tags:
    - nginx

- name: Nginx status
  stat: path=/etc/init.d/nginx
  register: nginx_status
  tags:
    - tls

- name: Configure https connection
  include: certbot.yml
  when: nginx_status.stat.exists
  tags:
    - tls