<div class="page-dimmer _center show">
    <div class="modal" id="exampleModalImage" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close _white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">{{ macros.svg_icon('cross') }}</span>
        </button>
        <div class="modal__header cover _green-gradient">
            <div class="cover__content">
                <h1 class="mb-2">Поздравляем!</h1>
            </div>
        </div>
        <div class="modal__content text-center">
            <p>Вы сделали что-то крутое или может быть достигли каких-то успехов, с чем мы вас и
                поздравляем.</p>
        </div>
    </div>
</div>