<div class="page-dimmer visible">
    <div class="modal _large" id="exampleModalBasicLg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal__content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">{{ macros.svg_icon('cross') }}</span>
            </button>
            <div class="modal__title">Модальное окно</div>
            <p>Мы вас оповещаем, что что-то произошло. Извините, но никаких вариантов, кроме как закрыть это
                окно у вас нет :(</p>
            <figure>
                <img class="img-fluid figure-img" src="/media/pages/graduates-2019/joint-photo-2.jpg" alt="">
            </figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur commodi deserunt enim
                inventore ipsa iste itaque iusto libero, minima, obcaecati qui quis suscipit tenetur vel vitae
                voluptate? Consequuntur, sapiente.</p>
        </div>
    </div>
</div>