<div class="page-dimmer _center visible">
    <div class="modal _small" id="exampleModalBasicSm" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">{{ macros.svg_icon('cross') }}</span>
        </button>
        <div class="modal__content p-10">
            <div class="modal__title">Модальное окно</div>
            <p>Мы вас оповещаем, что что-то произошло. Извините, но никаких вариантов, кроме как закрыть это
                окно у вас нет :(</p>
        </div>
    </div>
</div>