{% extends "v2/layouts/inner.jinja2" %}
{% block sprites %}{% include "sprites/ui.svg" %}{% endblock sprites %}

{% block content %}
    {% include "v2/components/modals/_complex.jinja2" %}
{% endblock content %}
