{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock title %}
{% block body_attrs %} class="sign-in"{% endblock body_attrs %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-box panel panel-body panel-default">
                <form id="sign-in" method="POST">
                    {% block form_legend %}
                        {% if has_next %}
                            {% if user.is_authenticated %}
                                <p>У вас недостаточно прав для просмотра данной страницы.
                                    Чтобы продолжить, пожалуйста, войдите под аккаунтом с достаточным уровнем прав.</p>
                            {% else %}
                                <p>Войдите на сайт, чтобы продолжить.</p>
                            {% endif %}
                        {% endif %}
                    {% endblock form_legend %}
                    {% csrf_token %}

                    <label for="{{ form.username.id_for_label }}">
                        <input class="form-control" type="text" name="{{ form.username.name }}" required="" class="form-control" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}
                               placeholder="{{ form.username.label }}" id="{{ form.username.id_for_label }}" tabindex="3">
                        <span class="error-message">{{ form.username.errors }}</span>
                    </label>
                    <label for="{{ form.password.id_for_label }}" class="password-block">
                        <input class="form-control" type="password" name="{{ form.password.name }}" required="" {% if form.username.value %}value="{{ form.password.value }}"{% endif %}
                               placeholder="{{ form.password.label }}" id="{{ form.password.id_for_label }}" tabindex="4"
                               autocomplete="off">
                        <a class="forgot" title="{% trans "Password Reset" %}" href="{% url 'password_reset' %}" tabindex="5">{% trans "Forgot?" %}</a>
                        <span class="error-message">{{ form.password.errors }}{% for error in form.non_field_errors  %}{{ error }}<br>{% endfor %}</span>
                    </label>
                    <input type="submit" class="btn btn-primary sign-up-in" value="{% trans "Sign in" %}" tabindex="6">
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
