{% extends "cscenter/layouts/base.html" %}

{% block title %}Отзывы выпускников - {{ super() }}{% endblock title %}

{% block body_attrs %}class="_dark" data-init-sections="testimonials"{% endblock body_attrs %}

{% block content %}
    <style type="text/css">
        .grid-sizer,
        .grid-item {
            width: 50%;
        }
        .grid-item {
            padding-left: .5rem;
            padding-right: .5rem;
        }
        @media (max-width: 992px) {
            .grid-item {
                width: 100%;
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
    </style>
    <script type="text/javascript">
        document.body.className += " _loading _fullscreen";
    </script>
    <div class="container page-content">
        <h1>Выпускники о CS центре</h1>

        <div class="row" id="masonry-grid">
            {% for student in testimonials %}
                <div class="grid-item">
                    {{ macros.testimonial_card(student) }}
                </div>
            {% endfor %}
            <div class="grid-sizer"></div>
        </div>
        {% if is_paginated %}
            {% set p = pagination(page_obj, request) %}
            {% if p.page_urls %}
                <nav aria-label="Page Navigation">
                  <ul class="pagination">
{#                    {% if p.first_page_url %}<li class="page-item"><a class="page-link" href="{{ p.first_page_url }}" tabindex="-1"><<</a></li>{% endif %}#}
                    {% for page_num, url in p.page_urls %}
                        <li class="page-item{% if page_obj.number == page_num %} active{% endif %}"><a class="page-link" href="{{ url }}">{{ page_num }}</a></li>
                    {% endfor %}
{#                    {% if p.last_page_url %}<li class="page-item"><a class="page-link" href="{{ p.last_page_url }}" tabindex="-1">>></a></li>{% endif %}#}
                  </ul>
                </nav>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
