{% extends "cscenter/layouts/base.html" %}

{% block title %}Отзывы выпускников - {{ super() }}{% endblock title %}

{% block body_attrs %}class="_dark"{% endblock body_attrs %}

{% block content %}
    <style type="text/css">
        #masonry-grid {
            display: flex;
            flex-wrap: wrap;
            margin-left: -.5rem;
            margin-right: -.5rem;
        }
        .grid-sizer,
        .grid-item {
            width: 50%;
        }
        .grid-item {
            padding-left: .5rem;
            padding-right: .5rem;
        }
        @media (max-width: 992px) {
            .grid-item {
                width: 100%;
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
    </style>
    <div class="container page-content">
        <div id="Testimonials" data-init='{{ app_data|tojson|safe }}' class="__react-root"></div>
    </div>
{% endblock content %}
