{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} data-init-sections="datetimepicker"{% endblock body_attrs %}


{% block stylesheets %}
    <link href="{% static "v1/css/vendor/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    {% render_bundle 'teaching' 'js' %}
{% endblock javascripts %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb projects">
        {% if not form.instance.pk %}
          <li class="active">Добавление нового занятия</li>
            {% else %}
            <li class="active">Редактирование занятия</li>
        {% endif %}
        </ol>
        {% if not form.instance.pk and form.instance.course.is_completed and not user.is_curator %}
            <div class="alert alert-block alert-warning">
                Курс завершён. Если по какой-то причине вам необходимо добавить новое занятие - обратитесь, пожалуйста, к кураторам.
            </div>
        {% else %}
            {% crispy form form.helper %}
        {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
