{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load htmlpage_url %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="news">
          <h1>{% trans "Latest News" %}</h1>
            {% if news_objects %}
                {% for news in news_objects %}
                    <article>
                        <div class="post-date">
                        {{ news.created|date }}{% comment %} | <a href="">Melissa Sing </a> <!--  <span><a href="">11 Comments</a></span> -->{% endcomment %}
                        </div>    
                        <h2><a href="{% url 'news_detail' slug=news.slug %}">{{ news.title }}</a></h2>
                        <p class="lead">{{ news.text.excerpt|safe }} {% if news.text.has_more %}<br><a href="{% url 'news_detail' slug=news.slug %}">{% trans "Read more" %}</a>
                        {% endif %}</p>
                    </article>
                {% endfor %}
                <a href="{% url 'news_list' %}"><h4 class="bigger-margin">{% trans "All news" %}</h4></a>
            {% else %}
                <p>{% trans "No news yet" %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
