{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load htmlpage_url %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="banner _{{ request.city_code|slugify }}">{% if request.city_code == 'spb' %}<div id="copyright">{% trans "Author photo" %}: <a target="_blank" href="https://commons.wikimedia.org/wiki/User:Andrey.Salnikov">{% trans "Andrey Salnikov" %}</a></div>{% endif %}</div>


<div class="container">
  <div class="font-bigger">
  {% if request.city_code == 'spb' %}
      {% blocktrans %}
      The main goal of the Club is to provide undergraduate and graduate students, as well as professionals, access to high quality education in the area of Computer Science. Attendance is open to everyone and is free of charge.
    {% endblocktrans %}
  {% else %}
      {% blocktrans %}
      The main goal of the Club is to provide undergraduate and graduate students, as well as professionals, access to high quality education in the area of Computer Science. Attendance is open to everyone and is free of charge.
      {% endblocktrans %}
  {% endif %}
  </div>
  {% if courses %}
  <h1>{% trans "Courses" %}: {{ featured_term }}</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans "Course name" %}</th>
                <th>{% trans "Teachers" %}</th>
                <th>{% trans "Next lecture" %}</th>
                <th class="_language">{% trans "Language" %}</th>
            </tr>
        </thead>
        <tbody>
              {% for course_offering in courses %}
                <tr>
                  <td><a href="{{ course_offering.get_absolute_url }}">{{ course_offering.meta_course.name }}</a></td>
                  <td>{% for teacher in course_offering.teachers.all %}<a href="{{ teacher.teacher_profile_url }}" style="white-space:nowrap;">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                  <td>
                    {% if course_offering.classes %}
                      {% with class=course_offering.classes|first %}
                      <a href="{{ class.get_absolute_url }}">{{ class.date|date:"l, d E" }}, {{ class.starts_at }}</a>
                      {% endwith %}
                    {% else %}
                      {% if course_offering.is_completed %}
                        {% trans "The course is completed" %}
                      {% else %}
                        {% trans "To be announced" %}
                      {% endif %}
                    {% endif %}
                  </td>
                  <td>{% if course_offering.language == 'ru' %}{% trans "Russian" %}{% else %}{% trans "English" %}{% endif %}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      {% if LANGUAGE_CODE == 'ru' %}
          <div class="font-bigger">
          Если вы не нашли интересный курс выше, смотрите видеозаписи прошлых лет (раздел <a href="/courses/">Курсы</a>) или онлайн-курсы <a href="https://compscicenter.ru/online/">Computer Science центра</a>.
          {% if request.city_code == 'spb' %}
              Систематическое двухлетнее образование по теоретической информатике, программированию и анализу данных можно получить в <a href="https://compscicenter.ru/">Computer Science центре</a>.
          {% else %}
              Систематическое двухлетнее образование по теоретической информатике, программированию и анализу данных можно получить в <a href="https://yandexdataschool.ru/">Школе анализа данных Яндекса</a>.
          {% endif %}
          </div>
      {% endif %}
  {% endif %}
</div>
{% endblock content %}
