{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load htmlpage_url %}

{% block content %}
<div class="banner _{{ request.city.code|slugify }}"></div>


<div class="container">
  {% if request.city.code == 'RU SPB' %}
  <div class="font-bigger">
Основная <strong>цель клуба</strong> — познакомить студентов с
классическими результатами, современным положением дел и открытыми
задачами в различных областях Computer Science. Лекции читаются
местными и приглашёнными преподавателями в Мраморном зале ПОМИ РАН
(Фонтанка, 27). Вход на лекции свободный, регистрация и оплата не
требуются. Приглашаются все желающие.
  </div>
  {% endif %}
  <h1>{% trans "Courses" %} &mdash; {{ current_semester }}</h1>
  {% if courses %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Teachers" %}</th>
                <th>{% trans "Next lecture" %}</th>
                <th class="_language">{% trans "Language" %}</th>
            </tr>
        </thead>
        <tbody>
              {% for course_offering in courses %}
                <tr>
                  <td><a href="{{ course_offering.get_absolute_url }}">{{ course_offering.course.name }}</a></td>
                  <td>{% for teacher in course_offering.teachers.all %}<a href="{{ teacher.teacher_profile_url }}" style="white-space:nowrap;">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                  <td>
                    {% if course_offering.classes %}
                      {% with class=course_offering.classes|first %}
                      <a href="{{ class.get_absolute_url }}">{{ class.date|date:"l, d E" }}, {{ class.starts_at }}</a>
                      {% endwith %}
                    {% else %}
                      {% trans "To be announced." %}
                    {% endif %}
                  </td>
                  <td>{{ course_offering.language }}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
  {% else %}
      <p>{% trans "No active courses" %}</p>
  {% endif %}
</div>
{% endblock content %}
