{% extends "v2/layouts/inner.jinja2" %}

{% block body_attrs %}class="_dark"{% endblock body_attrs %}
{% block sprites %}
    <script type="text/javascript">
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/index.svg") }}");
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/ui.svg") }}");
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/common.svg") }}");
    </script>
{% endblock sprites %}
{% block content %}
    <div class="container page-content p-xs-0">
        <div class="row no-gutters">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card__content _big _courses-filter">
                        <h1>Курсы центра</h1>
                        <form action="">
                            <div class="row">
                                <div class="field col-12 col-lg-9 mb-lg-0">
                                    <div class="ui icon input">
                                        <input type="input" placeholder="Поиск по названию курса">
                                        <i class="_search icon">{{ macros.svg_icon('search') }}</i>
                                    </div>
                                </div>
                                <div class="field col-12 col-md-6 d-lg-none">
                                    <div class="ui input">
                                        <input type="input" placeholder="Санкт-Петербург">
                                    </div>
                                </div>
                                <div class="field col-12 col-md-6 d-lg-none">
                                    <div class="ui input">
                                        <label for="">Год</label>
                                        <input type="input" placeholder="2018/2019">
                                    </div>
                                </div>
                                <div class="col-12 d-lg-none">
                                    <label class="title-label d-block mb-0">Семестр</label>
                                    <div class="grouped inline">
                                        <label class="ui option checkbox">
                                            <input type="checkbox" class="control__input">
                                            <span class="control__indicator"></span>
                                            <span class="control__description">Осенний</span>
                                        </label>
                                        <label class="ui option checkbox">
                                            <input type="checkbox" class="control__input">
                                            <span class="control__indicator"></span>
                                            <span class="control__description">Весенний</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card__content p-0">
                        <div class="table _mobile _courses">
                            <div class="table__row _head">
                                <div class="table__cell">Название</div>
                                <div class="table__cell">Преподаватели</div>
                                <div class="table__cell">Материалы</div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell"><a
                                        href="https://compscicenter.ru/courses/csseminar/2019-spring/" class="__course">Computer
                                    Science семинар</a></div>
                                <div class="table__cell _teachers">
                                    <a href="https://compscicenter.ru/teachers/5545/">A.&nbsp;Lubotzky</a>,
                                    <a href="https://compscicenter.ru/teachers/5442/">Y.&nbsp;Dodis</a>,
                                    <a href="https://compscicenter.ru/teachers/5198/">А.&nbsp;Крайнов</a>
                                </div>
                                <div class="table__cell _icons">
                                    {{ macros.svg_icon('video') }}
                                    {{ macros.svg_icon('video') }}
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell"><a
                                        href="https://compscicenter.ru/courses/deep-learning-simplified/nsk/2019-spring/"
                                        class="__course">Deep Learning на пальцах</a></div>
                                <div class="table__cell _teachers">
                                    <a href="https://compscicenter.ru/teachers/5228/">С.&nbsp;М.&nbsp;Козлов</a>,
                                    <a href="https://compscicenter.ru/teachers/3297/">К.&nbsp;В.&nbsp;Бродт</a>,
                                    <a href="https://compscicenter.ru/teachers/3402/">М.&nbsp;И.&nbsp;Вахрушев</a>
                                </div>
                                <div class="table__cell _icons">
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell"><a
                                        href="https://compscicenter.ru/courses/algorithms-2/2019-spring/">Алгоритмы и
                                    структуры данных, часть 2</a></div>
                                <div class="table__cell _teachers">
                                    <a href="https://compscicenter.ru/teachers/5506/">А.&nbsp;Мишунин</a>,
                                    <a href="https://compscicenter.ru/teachers/560/">С.&nbsp;И.&nbsp;Грязнов</a>,
                                    <a href="https://compscicenter.ru/teachers/4050/">А.&nbsp;В.&nbsp;Гардер</a>,
                                    <a href="https://compscicenter.ru/teachers/1645/">М.&nbsp;Д.&nbsp;Кормышов</a>,
                                    <a href="https://compscicenter.ru/teachers/32/">А.&nbsp;В.&nbsp;Смаль</a>
                                </div>
                                <div class="table__cell _icons"></div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell"><a href="#">Анализ булевых функций</a></div>
                                <div class="table__cell _teachers">
                                    <a href="https://compscicenter.ru/teachers/818/">В.&nbsp;В.&nbsp;Подольский</a>
                                </div>
                                <div class="table__cell _icons">
                                    {{ macros.svg_icon('video') }}
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell"><a href="#">Анализ данных на Python в примерах и задачах. Часть&nbsp;1</a>
                                </div>
                                <div class="table__cell _teachers">
                                    <a href="https://compscicenter.ru/teachers/1716/">И.&nbsp;А.&nbsp;Рябцев</a>,
                                    <a href="https://compscicenter.ru/teachers/618/">В.&nbsp;Л.&nbsp;Аббакумов</a>
                                </div>
                                <div class="table__cell _icons">
                                    {{ macros.svg_icon('video') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <form class="ui form pl-6 mt-10 ml-lg-4 d-none d-lg-block" action="">
                    <div class="grouped mb-6">
                        <h4>Отделение</h4>
                        <label class="ui option radio">
                            <input type="radio" class="control__input" name="place" value="Saint-Petersburg">
                            <span class="control__indicator"></span>
                            <span class="control__description">Санкт-Петербург</span>
                        </label>
                        <label class="ui option radio">
                            <input type="radio" class="control__input" name="place" value="Novosibirsk">
                            <span class="control__indicator"></span>
                            <span class="control__description">Новосибирск</span>
                        </label>
                        <label class="ui option radio">
                            <input type="radio" class="control__input" name="place" value="Online">
                            <span class="control__indicator"></span>
                            <span class="control__description">Заочное обучение</span>
                        </label>
                    </div>
                    <div class="field mb-6">
                        <div class="ui input">
                            <label for="">Год</label>
                            <input placeholder="2018/2019">
                        </div>
                    </div>
                    <div class="grouped mb-6">
                        <h4>Семестр</h4>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Осенний</span>
                        </label>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Весенний</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
