{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-md-8">
                <section class="content-block">
                    <h1>Набор в CS центр на новый учебный год</h1>
                    <p>Computer Science Center приглашает студентов средних и старших курсов технических вузов пройти
                        двух- или трёхлетние курсы по направлениям Анализ данных, Современная информатика и Разработка
                        ПО. За время обучения выпускники сдают двенадцать курсов, из которых минимум пять — по выбору
                        студента, и проходят три семестра практики или научно-исследовательской работы.
                    </p>
                    <h3>Этапы приёмной кампании 2018</h3>
                    <ul>
                        <li>Анкета на сайте (открыта до 18:00 14 апреля по московскому времени).</li>
                        <li>Онлайн-тест</li>
                        <li>Письменный экзамен</li>
                        <li>Собеседование</li>
                    </ul>
                </section>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="card mb-4">
                    <img class="card__img" src="{{ static('v2/img/pages/enrollment/note.svg') }}" alt="">
                    <div class="card__content">
                        <div class="card__title">
                            <a href="">Памятка для поступающих</a>
                        </div>
                        Советы от кураторов центра для желающих начать свое обучение в центре
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card _form">
                    <form action="">
                        <div class="card__title _inverted">
                            <h2>Анкета на поступление</h2>
                        </div>
                        <div class="card__content">
                            <div class="form-section">
                                <div class="card__title _subtitle">
                                    <h3>Личная информация</h3>
                                </div>

                                <div class="row">
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <label for="">Фамилия</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <label for="">Имя</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <label for="">Отчество</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <label for="">Электронная почта</label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <label for="">Телефон</label>
                                            <input type="text" placeholder="+7">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-section">
                                <div class="card__title _subtitle">
                                    <h3>Аккаунты</h3>
                                </div>
                                <div class="row">
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <label for="">ID на Stepik.org</label>
                                            <input type="text" placeholder="ХХХХ">
                                        </div>
                                        <div class="help-text">
                                            https://stepik.org/users/XXXX, XXXX - это ваш ID
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <label for="">Логин на GitHub</label>
                                            <input type="text" placeholder="ХХХХ">
                                        </div>
                                        <div class="help-text">
                                            https://github.com/XXXX, логин — это XXXX
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="grouped">
                                            <label class="title-label">Доступ к данным на Яндексе
                                                <a class="tooltip__icon" data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Вступительный тест организован в системе Яндекс.Контест. Чтобы выдать права участника и затем сопоставить результаты с анкетами, нам нужно знать ваш логин на Яндексе без ошибок, учитывая все особенности, например, вход через социальные сети. Чтобы всё сработало, поделитесь с нами доступом к некоторым данным из вашего Яндекс.Паспорта: логин и ФИО.">
                                                    ?
                                                </a>
                                            </label>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input" checked>
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Разрешить доступ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-section">
                                <div class="card__title _subtitle">
                                    <h3>Образование и опыт</h3>
                                </div>
                                <div class="row">
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <input type="text" placeholder="Вуз, где вы учились или который закончили">
                                        </div>
                                        <div class="help-text">
                                            Университет (и иногда факультет), в котором вы учитесь
                                            или который закончили
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <input type="text" placeholder="Факультет, специальность или кафедра">
                                        </div>
                                        <div class="help-text">
                                            Факультет, специальность или кафедра
                                        </div>
                                    </div>
                                    <div class="field col-lg-4">
                                        <div class="ui input">
                                            <input type="text" placeholder="Курс">
                                        </div>
                                    </div>
                                    <div class="field col-lg-12">
                                        <label>Вы сейчас работаете?</label>
                                        <div class="grouped inline">
                                            <label class="ui option radio">
                                                <input type="radio" name="work" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Да</span>
                                            </label>
                                            <label class="ui option radio">
                                                <input type="radio" name="work" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Нет</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field col-lg-8">
                                        <div class="ui input">
                                            <label>Расскажите об опыте программирования и исследований</label>
                                            <small class="mb-2">Напишите здесь о том, что вы делаете на работе, и о
                                                своей нынешней дипломной или курсовой работе. Здесь стоит рассказать о
                                                студенческих
                                                проектах, в которых вы участвовали, или о небольших личных проектах,
                                                которые вы делаете дома для своего удовольствия
                                            </small>
                                            <textarea rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="field col-lg-8">
                                        <div class="ui input">
                                            <label>Вы проходили какие-нибудь онлайн-курсы? Какие? Какие удалось
                                                закончить?</label>
                                            <small class="mb-2">Приведите ссылки на курсы или их названия и платформы,
                                                где вы их проходили. Расскажите о возникших трудностях. Что понравилось,
                                                а что не понравилось в таком формате обучения?
                                            </small>
                                            <textarea rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-section">
                                <div class="card__title _subtitle">
                                    <h3>Обучение в центре</h3>
                                </div>
                                <div class="row">
                                    <div class="field col-lg-12">
                                        <label>Выберите отделение, в котором собираетесь учиться
                                        </label>
                                        <div class="grouped inline">
                                            <label class="ui option radio">
                                                <input type="radio" name="filial" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Санкт-Петербург</span>
                                            </label>
                                            <label class="ui option radio">
                                                <input type="radio" name="filial" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Новосибирск</span>
                                            </label>
                                            <label class="ui option radio">
                                                <input type="radio" name="filial" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Заочное</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field col-12">
                                        <div class="grouped">
                                            <label class="title-label">Какие направления обучения из трех вам интересны
                                                в CS центре?</label>
                                            <small class="mb-2">Мы не просим поступающих сразу определиться с
                                                направлением обучения. Вам предстоитсделать этот выбор через год-полтора
                                                после поступления. Сейчас мы предлагаем указать одно или несколько
                                                направлений, скажутся вам интересными.
                                            </small>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Анализ данных</span>
                                            </label>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Современная информатика</span>
                                            </label>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Разработка ПО</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field col-lg-8">
                                        <div class="ui input">
                                            <label>Почему вы хотите учиться в CS центре? Что вы ожидаете от
                                                обучения?</label>
                                            <textarea rows="6" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="field col-lg-8">
                                        <div class="ui input">
                                            <label>Что нужно для выпуска из CS центра? Оцените вероятность, что вы
                                                сможете это сделать.</label>
                                            <textarea rows="6" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="field col-lg-8">
                                        <div class="ui input">
                                            <label>Напишите любую дополнительную о себе</label>
                                            <textarea rows="6" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="field col-12">
                                        <div class="grouped">
                                            <label class="title-label">Откуда вы узнали о CS центре?</label>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Плакат/листовка в университете</span>
                                            </label>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Пост в соц. сетях</span>
                                            </label>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">От друзей</span>
                                            </label>
                                            <label class="ui option checkbox">
                                                <input type="checkbox" class="control__input">
                                                <span class="control__indicator"></span>
                                                <span class="control__description">Другое</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <p>Нажимая «Подать заявку», вы соглашаетесь на передачу данных CS центру и на получение
                                    писем по поводу приемной компании.</p>
                                <div class="field col-lg-auto">
                                    <div class="ui input">
                                        <a href="" class="btn _primary _m-wide">Добавить пользователя</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


{% endblock content %}
