{% extends "v2/layouts/inner.jinja2" %}


{% block title %}Вопросы и ответы{% endblock title %}

{% block body_attrs %}class="_dark" data-init-sections="collapsible"{% endblock body_attrs %}

{% block content %}
    <div class="container page-content">
        <h1 class="text-center">Вопросы и ответы</h1>
        <div class="row content-center">
            <div class="col-lg-10">
                <div class="collapsible">
                    <div class="card _qa mb-4">
                        <button class="btn card__header" id="question-1"
                                aria-expanded="false" href="#answer-1">
                            {{ macros.svg_icon('border-arrow-right') }}Где, по
                            каким дням
                            и во сколько проходят занятия в центре?
                        </button>
                        <div class="collapse" id="answer-1" aria-expanded="true">
                            <div class="card__content">Место проведения занятий CS
                                центра в
                                Санкт-Петербурге — БЦ «Таймс», в Новосибирске — учебные
                                аудитории нового корпуса Новосибирского государственного
                                университета (НГУ). Обычно занятия проходят по будням: с
                                18:30
                                до 20:00 — первая пара и с 20:00 до 21:30 — вторая.
                                Система
                                выбора курсов гибкая, поэтому студенты могут выбрать не
                                только
                                интересные, но и удобные в плане расписания предметы.
                            </div>
                        </div>
                    </div>
                    <div class="card _qa mb-4">
                        <button class="btn card__header" id="question-1"
                                aria-expanded="false" href="#answer-1">
                            {{ macros.svg_icon('border-arrow-right') }}Можно ли
                            посещать лекции без поступления в качестве вольного
                            слушателя?
                        </button>
                        <div class="collapse" id="answer-1" aria-expanded="true">
                            <div class="card__content">
                                Многие курсы CS центра закрытые, их могут посещать
                                только студенты центра. Мы проводим открытые лекции и
                                публикуем видеозаписи очных занятий. Курсы, которые
                                проходят в рамках CS клуба, открыты для всех. Расписание
                                занятий в CS клубе
                            </div>
                        </div>
                    </div>
                    <div class="card _qa">
                        <button class="btn card__header" id="question-1"
                                aria-expanded="false" href="#answer-1">
                            {{ macros.svg_icon('border-arrow-right') }}Что делать, если я не нашёл своего вопроса в
                            списке?
                        </button>
                        <div class="collapse" id="answer-1" aria-expanded="true">
                            <div class="card__content">
                                Напишите нам на <a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
