<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Computer Science Center{% endblock title %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Computer Science Center — объединённая инициатива Школы анализа данных, Computer Science клуба и JetBrains.">
    <meta name="google-site-verification" content="pBs4x-E9VGlX-gA7WxCNEqcYB0TYJCSmcZtSeLBpEgk"/>

    <link rel="shortcut icon" type="image/png" href="{{ static("v2/img/favicon.png") }}">
    <link href="{{ static("v2/dist/css/main.css") }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400&amp;subset=cyrillic" rel="stylesheet">

    {% block stylesheets %} {% endblock stylesheets %}
</head>

{% import "v2/_macros.jinja2" as macros %}

<body>
    <div class="svg-inline">{% include "sprites/index.svg" %}</div>

<div class="cover">

    <div class="navbar-container">

        <div class="top-banner">
            <div class="container">
                <div class="top-banner__text">
                    {{ macros.svg_inline('top-banner-kids') }} До 14 апреля открыт <a class="top-banner__link" href="/application/">приём заявок</a> на очное обучение в центре
                </div>
            </div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">{{ macros.svg_inline('logo-csc') }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#topMainMenu" aria-controls="topMainMenu"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="topMainMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">О центре</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Курсы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Онлайн</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Лекторий</a>
                        </li>
                        <li class="nav-item navbar-last-item">
                            <a class="nav-link" href="#">Поступление</a>
                        </li>
                    </ul>
                </div>

{#                <a class="btn btn--outline btn--reg" href="#">#}
{#                    Войти <div class="btn-reg--icon"></div>#}
{#                </a>#}

                <div class="dropdown">
                    <button class="btn _user-menu-btn" type="button" id="userMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Святослав</span><img class="user-menu-img" src="/media/pages/index/student.png" alt="">
                    </button>
                    <div class="dropdown-menu _user-menu" aria-labelledby="userMenuButton">
                        <a class="dropdown-item" href="#">Обучение</a>
                        <a class="dropdown-item" href="#">Проекты</a>
                        <a class="dropdown-item" href="#">Курирование</a>
                        <a class="dropdown-item" href="#">Админ-панель</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Выйти</a>
                    </div>
                </div>

            </div>
        </nav>

    </div>


    <div class="container">
        <h1 class="cover__title">Знания, востребованные в&nbsp;науке и&nbsp;индустрии</h1>
        <p class="cover__text">Двух- или трёхлетние очные вечерние курсы в Санкт-Петербурге и в Новосибирске по трём направлениям: Computer Science, Data Science, Software Engineering.</p>
        <a href="#offline-courses" class="btn btn--big btn--green">Смотреть программы</a>
        <a class="btn btn--big btn--white">Узнать о центре</a>
    </div>
</div>


<div class="csc-offline-courses" id="offline-courses">
    <div class="container">
        <h2>Очные курсы центра</h2>
        <p class="card-offline-course__text">
            Центр приглашает молодых специалистов, аспирантов, студентов средних и старших курсов технических специальностей пройти двух- или трёхлетние курсы по направлениям:
        </p>

        <div class="card-deck">
            <a href="#" class="card card-offline-course">
                <div class="card-block">
                    <div class="card-offline-course__icon">{{ macros.svg_inline('se') }}</div>
                    <h3 class="card-offline-course__card-title">Software Engineering</h3>
                    <p class="card-offline-course__card-text">Разработка программного обеспечения</p>
                </div>
            </a>

            <a href="#" class="card card-offline-course">
                <div class="card-block">
                    <div class="card-offline-course__icon">{{ macros.svg_inline('ds') }}</div>
                    <h3 class="card-offline-course__card-title">Data Science</h3>
                    <p class="card-offline-course__card-text">Анализ данных</p>
                </div>
            </a>

            <a href="#" class="card card-offline-course">
                <div class="card-block">
                    <div class="card-offline-course__icon">{{ macros.svg_inline('cs') }}</div>
                    <h3 class="card-offline-course__card-title">Computer Science</h3>
                    <p class="card-offline-course__card-text">Современная информатика</p>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="about-csc">
    <div class="container">
        <h2>О центре</h2>
        <div class="row">
            <div class="about-csc__img"></div>
            <div class="about-csc__description">
                <p>
                    Computer Science Center — объединённая инициатива Школы анализа данных, Computer Science клуба и
                    JetBrains. Мы существуем, чтобы дать возможность талантливым студентам и выпускникам развиваться
                    в интересном им направлении.
                </p>
                <a class="btn btn--small btn--outline_gray" href="#">Подробнее</a>

                <h4>Организаторы</h4>
                <div class="supported-by">
                    <a href="#" title="JetBrains">{{ macros.svg_inline('logo-jetbrains') }}</a>
                    <a href="#" title="Яндекс ШАД">{{ macros.svg_inline('logo-shad') }}</a>
                    <a href="#" title="ФМЛ №239">{{ macros.svg_inline('logo-fml239') }}</a>
                    <a href="#" title="Computer Science Club">{{ macros.svg_inline('logo-csclub') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="csc-online-education">
    <div class="container">
        <h2 class="text-center">Онлайн-образование</h2>

        <div class="card-deck">

            <a class="responsive-card" href="#">
                <div class="card-img-wrapper">
                    <img src="/static/v2/img/pages/index/online_programs/algo.png" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="csc-online-education__card-title">Алгоритмы и эффективные вычисления</h4>
                    <p class="csc-online-education__card-text">
                        <small class="text-muted">Онлайн-программа</small>
                    </p>
                </div>
            </a>

            <a class="responsive-card" href="#">
                <div class="card-img-wrapper">
                    <img src="/static/v2/img/pages/index/online_programs/math.png" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="csc-online-education__card-title">Математика для разработчика</h4>
                    <p class="csc-online-education__card-text">
                        <small class="text-muted">Онлайн-программа</small>
                    </p>
                </div>
            </a>

            <a class="responsive-card" href="#">
                <div class="card-img-wrapper">
                    <img src="/static/v2/img/pages/index/online_programs/dev.png" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="csc-online-education__card-title">Разработка на C++, Java и Haskell</h4>
                    <p class="csc-online-education__card-text">
                        <small class="text-muted">Онлайн-программа</small>
                    </p>
                </div>
            </a>

            <a class="responsive-card" href="#">
                <div class="card-img-wrapper">
                    <img src="/media/online_courses/15b5d7fa0dc91619222db27e7f671064.png" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="csc-online-education__card-title">Программирование на Java
                        Script</h4>
                    <p class="csc-online-education__card-text">
                        <small class="text-muted">Онлайн-курс</small>
                    </p>
                </div>
            </a>

            <a class="responsive-card" href="#">
                <div class="card-img-wrapper">
                    <img src="/media/online_courses/python-yandex-2_1.png" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="csc-online-education__card-title">Основы программирования</h4>
                    <p class="csc-online-education__card-text">
                        <small class="text-muted">Онлайн-программа</small>
                    </p>
                </div>
            </a>

            <a class="responsive-card" href="#">
                <div class="card-img-wrapper">
                    <img src="/media/online_courses/HlrWMsXhcgA.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="csc-online-education__card-title">Основы программирования</h4>
                    <p class="csc-online-education__card-text">
                        <small class="text-muted">Онлайн-программа</small>
                    </p>
                </div>
            </a>
        </div>
        <div class="text-center">
            <a href="" class="btn btn--small btn--outline_gray">Все материалы</a>
        </div>
    </div>
</div>

<div class="csc-student-reviews __dark">
    <div class="container">
        <h2 class="text-center">Отзывы студентов</h2>
        <div class="card-columns">
            <div class="card">
                <div class="testimonial">
                    <img src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <h4 class="testimonial__name">Евгений Игоревич Викулов</h4>
                        <span>Выпуск 2017, Разработка ПО</span>
                        <p class="testimonial__text">CS центр — это место, где сбываются мечты. Настоящая кладовая
                            знаний, где каждому
                            открыт
                            путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                            живое
                            общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                            руководители практик, кураторы, студенты – благодаря всем им в CS центре
                            образуется
                            невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                            Здесь
                            очень круто и увлекательно!
                        <ul>
                            <li>огромный выбор направлений, в которых интересно развиваться,</li>
                            <li>преподаватели, на пары к которым действительно хочется ходить,</li>
                            <li>интересные темы практик (последняя переросла в мой диплом),</li>
                            <li>умнейшие люди, общаясь с которыми, хочется идти и развиваться дальше.</li>

                        </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="testimonial">
                    <img src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <h4 class="testimonial__name">Евгений Игоревич Викулов</h4>
                        <span>Выпуск 2017, Разработка ПО</span>
                        <p class="testimonial__text">CS центр — это место, где сбываются мечты. Настоящая кладовая
                            знаний, где каждому
                            открыт
                            путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                            живое
                            общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                            руководители практик, кураторы, студенты – благодаря всем им в CS центре
                            образуется
                            невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                            Здесь
                            очень круто и увлекательно!</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="testimonial">
                    <img src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <h4 class="testimonial__name">Евгений Игоревич Викулов</h4>
                        <span>Выпуск 2017, Разработка ПО</span>
                        <div class="testimonial__text">
                            И даже в трудный час, когда уж неизбежен крах,
                            Твой взор серьезный скажет, чтобы плечи я расправил.
                            Мне сил и воли придает лишь твое имя на устах,
                            Лишь ты меня ведёшь вперёд, лишь ты - Грудинин Павел.
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="testimonial">
                    <img src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <h4 class="testimonial__name">Евгений Игоревич Викулов</h4>
                        <span>Выпуск 2017, Разработка ПО</span>
                        <p class="testimonial__text">CS центр — это место, где сбываются мечты. Настоящая кладовая
                            знаний, где каждому открыт
                            путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                            живое общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                            руководители практик, кураторы, студенты – благодаря всем им в CS центре
                            образуется
                            невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                            Здесь очень круто и увлекательно!<br>
                            Я на выборы обычно не хожу, но в этот раз пойду голосовать за Грудинина. Кандидат от народа!
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <div class="text-center">
            <a href="" class="btn btn--small btn--outline_gray">Все отзывы</a>
        </div>
    </div>
</div>

<div class="social-media-posts">
    <div class="container">
        <h2>#compscicenter</h2>

            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <a href="#" target="_blank" rel="noopener" class="social-media social-media--instagram social-media--full-size">
                            <img class="social-media__icon" src="/static/v2/img/pages/index/social-media-posts/instagram.svg" width="34" alt="">
                            <p class="social-media__text">На Новый год студенты Центра обмениваются подарками в рамках
                                «Тайного Санты» — игры,
                                когда каждый дарит кому-то подарок, но получатель подарка не знает, кто же его Санта. У
                                нас всегда есть специальная ёлочка, обрастающая подарками. Посмотрите, как она
                                наполнилась в Новосибирске. И там обмен уже произошёл :)</p>
                            <p class="social-media__date social-media__date--light">26 дек</p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <a href="#" target="_blank" rel="noopener" class="social-media social-media--vk social-media--half-size">
                            <img class="social-media__icon" src="/static/v2/img/pages/index/social-media-posts/vk.svg" width="40" alt="">
                            <p class="social-media__text social-media__text--dark">На Новый год студенты Центра
                                обмениваются
                                подарками в
                                рамках
                                «Тайного Санты» — игры,
                                когда каждый дарит</p>
                            <p class="social-media__date">26 дек</p>
                        </a>
                    </div>

                    <div class="row">
                        <a href="" target="_blank" rel="noopener"
                           class="social-media social-media--vk social-media--half-size">
                            <img class="social-media__icon" src="/static/v2/img/pages/index/social-media-posts/vk.svg" width="40" alt="">
                            <p class="social-media__text social-media__text--dark">На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит На Новый год студенты Центра
                                обмениваются
                                подарками в рамках «Тайного Санты» — игры, да каждый дарит</p>
                            <p class="social-media__date">26 дек</p>
                        </a>
                    </div>
{#                    <div class="row">#}
{#                        <div class="social-media social-media--twitter social-media--small">#}
{#                            <img class="social-media__icon"#}
{#                                 src="/static/v2/img/pages/index/social-media-posts/twitter.svg"#}
{#                                 width="40px" alt="">#}
{#                            <p class="social-media__text social-media__text--dark">CS центр теперь и в Новосибирске:#}
{#                                compscicenter.ru/open-nsk/ </p>#}
{#                            <p class="social-media__date">26 дек</p>#}
{##}
{#                        </div>#}
{##}
{##}
{#                        <div class="social-media social-media--youtube social-media--small">#}
{#                            <img class="social-media__icon"#}
{#                                 src="/static/v2/img/pages/index/social-media-posts/youtube.svg"#}
{#                                 width="40px" alt="">#}
{#                            <p class="social-media__text">CS центр теперь и в Новосибирске:#}
{#                                compscicenter.ru/open-nsk/ </p>#}
{#                            <p class="social-media__date social-media__date--light">26 дек</p>#}
{##}
{#                        </div>#}
{##}
{##}
{#                    </div>#}

                </div>
        </div>
    </div>
</div>

<footer class="footer container">
    <span class="footer__copyright">&copy; Computer Science Center, 2018</span>
    <div class="footer__contacts">
        <a href="" class="footer__email">
            info@compscicenter.ru
        </a>
        <div class="footer__social-media-icons">
            <a href="">{{ macros.svg_inline('vk') }}</a>
            <a href="">{{ macros.svg_inline('instagram') }}</a>
            <a href="">{{ macros.svg_inline('twitter') }}</a>
            <a href="">{{ macros.svg_inline('facebook') }}</a>
            <a href="">{{ macros.svg_inline('youtube') }}</a>
        </div>
    </div>
</footer>
    {{ render_bundle('manifest', config='V2') }}
    {{ render_bundle('main', config='V2') }}

</body>
</html>