{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
<div class="container page-content">
    <div class="row content-center">
        <div class="team-title col-sm-10">
            <h1>Совет центра</h1>
            <p>Совет отвечает за содержание учебного процесса и развитие центра. Цель Совета — сделать
                так, чтобы каждому студенту центра было полезно и интересно учиться, а ряды преподавателей и выпускников
                пополнялись из года  в год. Совет также активно занимается онлайн-образованием и
                расширением деятельности  CS-центра за пределы Санкт-Петербурга.</p>
        </div>
        <div class="team-row">
            <div class="member">
                <img src="/media/pages/team/kylikova.png" alt="">
                <h3><a href="http://logic.pdmi.ras.ru/~kulikov/">Александр Куликов</a></h3>
                <p>ПОМИ РАН, CS клуб</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/kylikovae.png" alt="">
                <h3><a href="https://www.linkedin.com/pub/evgenia-kulikova/30/219/774">Евгения Куликова</a></h3>
                <p>Яндекс</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/ivanova.png" alt="">
                <h3><a href="http://www.linkedin.com/in/yaivanov">Андрей Иванов</a></h3>
                <p>JetBrains, СПбАУ РАН</p>
            </div>
        </div>
    </div>
    <div class="row content-center">
        <div class="team-title col-sm-10">
            <h2>Кураторы в Санкт-Петербурге</h2>
            <p>Кураторы CS центра в Санкт-петербурге. Организуют учебный процесс, курируют онлайн курсы и проектные
                работы студентов. Проводят прием новых студентов, а также отчетные мероприятия и выпуской.</p>
        </div>
        <div class="team-row">
            <div class="member">
                <img src="/media/pages/team/artamonovae.png" alt="">
                <h3>Екатерина Артамонова</h3>
                <p>Куратор практических работ</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/lebedevae.png" alt="">
                <h3>Екатерина Лебедева</h3>
                <p>Куратор</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/smolnikovak.png" alt="">
                <h3>Кристина Смольникова</h3>
                <p>Куратор онлайн-курсов</p>
            </div>
        </div>
    </div>
    <div class="row content-center">
        <div class="team-title col-sm-10">
            <h2>Команда в Новосибирске</h2>
            <p>Организаторы курсов CS центра в Новосибирске.</p>
        </div>
        <div class="team-row">
            <div class="member">
                <img src="/media/pages/team/mojinaa.png" alt="">
                <h3>
                    Алина Можина</h3>
                <p>Куратор</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/avdushenkoa.png" alt="">
                <h3>Александр Авдюшенко</h3>
                <p>Куратор</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/mikhaylovaa.png" alt="">
                <h3>Александра Михайлова</h3>
                <p>Оператор и монтажер</p>
            </div>
        </div>
    </div>
    <div class="row content-center">
        <div class="team-title col-sm-10">
            <h2>Техническая поддержка</h2>
        </div>
        <div class="team-row">

            <div class="member">
                <img src="/media/pages/team/belozerova.png" alt="">
                <h3>
                    Алексей Белозёров</h3>
                <p>Оператор и монтажер</p>
            </div>

            <div class="member">
                <img src="/media/pages/team/zherevchuk_sv.png" alt="">
                <h3>Сергей Жеревчук</h3>
                <p>Разработчик</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/mikhaylovs.png" alt="">
                <h3>Святослав Михайлов</h3>
                <p>Дизайнер</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
