.ui.option {
  &.checkbox {
    .control__input {
      &:checked ~ .control__indicator {
        background: $control-checked-bg url("/static/v2/img/icons/checkmark.svg") no-repeat center;
        background-size: 135%;
      }
    }

    &.disabled {
      .control__input {
        &:checked ~ .control__indicator {
          background: $control-disabled-bg url("/static/v2/img/icons/checkmark.svg") no-repeat center;
        }
      }
    }
  }
}
