.custom-radiobtn {
  display: flex;
  align-items: flex-start;
  margin: 0 0 15px 0;
  &.fill-radiobtn {

    &:hover .fill-control-indicator {
       border: $control-border-width solid $control-bg-hover;
    }
    &:hover .fill-control-description {
      color: $input-color;
    }

    .fill-control-indicator {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      transition: .3s;
      background-color: $control-bg;
      border: $control-border-width solid $control-border-color;
    }

    .fill-control-input {
      display: none;
      &:checked ~ .fill-control-indicator {
        background-color: $control-checked-bg;
        border:$border-width solid $control-checked-bg;
      }
      &:checked ~ .fill-control-description {
        color: $input-color;
      }
    }

    .fill-control-description {
      margin: 0 0 0 30px;
      display: inline-block;
      line-height: 1.375;
      font-size: $font-size-content-base;
      color: $control-color;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.custom-radiobtn.fill-radiobtn.disabled {
  .fill-control-indicator {
    opacity: .6;
    background: $control-disabled-bg;
    border: $border-width solid $control-disabled-bg;
    &:hover .fill-control-indicator {
      border: $border-width solid $control-disabled-bg;
    }
  }
  .fill-control-description {
    opacity: .6;
  }
}

.radiobtn-group {
  display: inline-flex;
  flex-flow: column;
  max-width: 100%;
}

.custom-radiobtn.fill-radiobtn, .custom-radiobtn.fill-radiobtn.disabled {
  .fill-control-input {
    &:checked ~ .fill-control-indicator:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $white;
    }
  }
}

