{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load core_tags %}

{% block content %}
    {% with student=certificate_of_participation.student_profile.user %}
    <page size="A4">
        <img src="{% static "v1/img/top_reference.png" %}" id="reference-page-header">
        <div id="reference-page-request">{% trans "Reference|Detail|request" %}</div>
        <div id="reference-page-body">
            <div class="title">{% trans "Reference|Detail|title" %}</div>
            Подтверждаю, что {{ student.get_full_name }} является {% if student.gender == student.GENDER_MALE %}студентом{% else %}студенткой{% endif %}
            Computer Science центра с сентября {{ certificate_of_participation.student_profile.year_of_admission }} года. За время обучения {{ student.first_name }} {{ student.patronymic }}
            успешно сдал{% if student.gender == student.GENDER_FEMALE %}а{% endif %} следующие курсы:
            <ol>
                {% for course_id, enrollment in user_enrollments.items %}
                    <li>
                        {{ enrollment.course }}
                      ({{ enrollment.grade_honest|lower }})
                    </li>
                {% endfor %}
                {% for shad in shads %}
                    <li>
                    {{ shad.name }} ({{ shad.grade_display|lower }})
                    </li>
                {% endfor %}
            </ol>
            <div id="reference-page-note">
                {{ certificate_of_participation.note }}
            </div>
        </div>
        <div id="reference-page-curator-signature">
            <div class="left">
                {{ certificate_of_participation.signature }}
            </div>
            <div class="cursive"></div>
        </div>
        <div id="reference-page-date-line">
            <div class="left">
                {% trans "Reference|Detail|signature" %}
            </div>
            <div class="date">{{ certificate_of_participation.created|date:"d.m.Y" }}</div>
        </div>
        <div id="reference-page-footer">
            <div class="title">{% trans "Reference|Detail|info" %}:</div>
            https://compscicenter.ru
            <div class="email">info@compscicenter.ru</div>
        </div>
    </page>
    {% endwith %}
{% endblock content %}