{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load core_tags %}

{% block content %}
    {% with student=certificate_of_participation.student_profile.user %}
      <page size="A4" id="reference-yds-page" xmlns="http://www.w3.org/1999/html">
        <img src="{% static "v1/img/shad_top_reference.png" %}" id="reference-page-header">
        <div id="reference-yds-page-body">
          <p class="text-justify">
            Настоящим подтверждаем, что
            {{ student.get_full_name }} сдал{% if student.gender == student.GENDER_FEMALE %}а{% endif %} следующие курсы в
            Школе анализа данных:</p>
            <table class="table table-condensed table-bordered p-0">
              <thead>
                <tr>
                  <th>Курс</th>
                  <th>Оценка</th>
                </tr>
              </thead>
              <tbody>
                {% for course_id, enrollment in user_enrollments.items %}
                    <tr>
                      <td>{{ enrollment.course }}</td>
                      <td>{{ enrollment.grade_honest }}</td>
                    </tr>
                {% endfor %}
                {% for shad in shads %}
                    <tr>
                      <td>{{ shad.name }}</td>
                      <td>{{ shad.grade_display }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            <div id="reference-yds-page-note">
                {{ certificate_of_participation.note }}
            </div>
        </div>
        <div id="reference-yds-page-ru-curator-signature">
            <div class="date mb-10">{{ certificate_of_participation.created|date:"d E Y" }}</div>
            <div class="left">
                <p>
                  <b>Куратор</b><br>
                  <span style="float: left;">По доверенности от 15 августа 2022 г.</span>
                  <span style="float: right;"><b>Есенина А. И.</b></span>
                </p>
            </div>
            <img id="reference-yds-page-stamp" src="{% static "v1/img/stamp-signature-shad.png" %}">
        </div>

    </page>
    {% endwith %}
{% endblock content %}
