{% load i18n %}

<div class="onlinecourses-list__item">
    <div class="row">
        <h3>{{ online_course.name }} / {{ online_course.teachers|safe }}</h3>
        <div class="onlinecourses-list__item-left">
            {% if online_course.photo %}<img src="{{ online_course.photo.url }}">{% endif %}
        </div>
        <div class="onlinecourses-list__item-right">
            <h2><small>{% if online_course.start %}{{ online_course.start|date:"d E Y" }} — {{ online_course.end|date:"d E Y" }}{% endif %}</small></h2>
            <div>
                <p>{{ online_course.description|safe|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="onlinecourses-list__item-left">
            <a class="btn btn-primary btn-block" href="{{ online_course.link|safe }}" role="button">{% trans "Go to course" %}</a>
        </div>
        <div class="onlinecourses-list__item-right _collaboration">
            {% if online_course.is_au_collaboration %}{% trans "The course was developed in collaboration with the <a href='http://mit.spbau.ru/'>Academic University</a>." %}{% endif %}
        </div>
    </div>
</div>


