{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    <link href="{% static "v1/css/vendor/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block body_attrs %} data-init-sections="assignmentForm"{% endblock body_attrs %}

{% block javascripts %}
    {% render_bundle 'teaching' 'js' %}
{% endblock javascripts %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {% crispy form form.helper %}
    </div>
  </div>
</div>
{% endblock content %}
