{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load core_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} class="gray" data-init-section="submissions"{% endblock body_attrs %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
{% endblock stylesheets %}

{% block javascripts %}
    {% render_bundle 'forms' 'js' %}
    {% render_bundle 'teaching' 'js' %}
{% endblock javascripts %}

{% block content %}
{% localtime off %}
<div class="container" id="assignments-page">
<div class="row">

<div class="col-xs-3">
    <h5>ПОКАЗАТЬ</h5>
    <div class="list-group inverse">
      {% for code, name in filter_by_grades %}
          <a href="{%  url "assignment_list_teacher" %}?term={{ query.term }}&course={{ query.course_slug }}&grades={{ code }}&comment={{ query.comment }}&assignment={{ query.assignment.pk }}"
             class="list-group-item{% if code == query.grades %} active{% endif %}">
              {{ name }}</a>
      {% endfor %}
    </div>

    <h5>ПОСЛЕДНИЙ КОММЕНТАРИЙ</h5>
    <div class="list-group inverse">
      {% for code, comment in filter_by_comments %}
          <a href="{% url "assignment_list_teacher" %}?term={{ query.term }}&course={{ query.course_slug }}&grades={{ query.grades }}&comment={{ code }}&assignment={{ query.assignment.pk }}"
             class="list-group-item{% if code == query.comment %} active{% endif %}">{{ comment|safe }}</a>
      {% endfor %}
    </div>

    {% if course_offerings %}
        <h5>КУРС</h5>
        <div class="list-group inverse">
          {% for co in course_offerings %}
            <a href="{% url "assignment_list_teacher" %}?term={{ co.semester.slug }}&course={{ co.course.slug }}&grades={{ query.grades }}&comment={{ query.comment }}"
               data-slug="{{ co.course.slug }}" class="list-group-item{% if co.course.slug == query.course_slug %} active{% endif %}" title="{{ co.course.name }}">{{ co.course.name }}</a>
          {% endfor %}
        </div>
    {% endif %}

    {% if all_terms %}
        <h5>СЕМЕСТР</h5>
        <div class="list-group inverse">
          {% for term in all_terms %}
            <a href="{% url "assignment_list_teacher" %}?term={{ term.slug }}&grades={{ query.grades }}&comment={{ query.comment }}"
               class="list-group-item{% if term.slug == query.term %} active{% endif %}">{{ term }}</a>
          {% endfor %}
        </div>
    {% endif %}
</div>

<div class="col-xs-9">
    {% if assignments %}
        <div class="filters">
            <form action="{{ query.form_url }}" method="GET">
                <input type="hidden" name="assignments" value="" />
                <select id="assignments-select">
                    {% for assignment in assignments %}
                        <option {% if assignment.pk == query.assignment.pk %}selected{% endif %} value="{{ assignment.pk }}">{{ assignment.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id="assignments-select-button">Показать</button>
                <div class="loading"><i class="fa fa-spinner fa-pulse"></i></div>
            </form>
        </div>
    {% endif %}
    <ol class="breadcrumb gray">
        <li class="active">Выполнение заданий</li>
    </ol>
    <div class="clearfix"></div>

    {% if query.assignment %}
    <div class="panel">
        <div class="panel-body">
            <b>{% trans "Deadline" %}</b>: <span class="assignment-date {{ query.assignment.deadline_at_local|date_soon_css }}">{{ query.assignment.deadline_at_local|naturalday:"d E" }} {{ query.assignment.deadline_at_local|time:"H:i" }}</span>
            <div class="pull-right"><a href="{% url 'assignment_detail_teacher' query.assignment.pk %}">Страница задания</a></div>
        </div>
    </div>
    {% endif %}

    <div class="assignments-inner">
    {% if query.assignment and student_assignment_list %}
      <table class="table" width="100%">
        <thead>
        <tr>
            <th >{% trans "Student" %}</th>
            <th width="10%">{% trans "Grade" %}</th>
        </tr>
        </thead>
        {% for s_a in student_assignment_list %}
            <tr class="{{ s_a.has_unread|yesno:"unread,noop" }}">
                <td>
                    <a{% if s_a.student_id not in enrollments %} style="text-decoration: line-through;"{% endif %} href="{{ s_a.get_teacher_url }}">{{ s_a.student.get_short_name }}</a>
                    {% if s_a.student.is_volunteer %} <span class="text-muted">{% trans "Volunteer" %}</span>{% endif %}
                    {% if s_a.student_id not in enrollments %}<span class="text-muted">покинул{% if s_a.student.gender == 'F' %}а{% endif %} курс</span>{% endif %}
{#                    {% if not s_a.has_unread %}<a href="#" style="color:#777;" class="mark-as-unread pull-right"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>{% endif %}#}
                </td>
                <td>
                    <span class="assignment-status {{ s_a.state|to_css }}">{{ s_a.state_short }}</span>
                </td>
            </tr>
        {% endfor %}
      </table>
    {% elif assignments %}
        <div style="padding: 5px;">Задайте другие критерии поиска.</div>
    {% else %}
        <div style="padding: 5px;">Занятия, на которые вы подписаны, не найдены.</div>
    {% endif %}
    </div>
</div>

</div>
</div>
{% endlocaltime %}
{% endblock content %}
