{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load core_tags %}

{% block content %}
{% localtime off %}
<div class="container">
  {% if assignment_list_open %}
  <div class="row">
    <div class="col-xs-12">
      <h3>{% trans "Open assignments" %}</h3>
      <table class="table" width="100%">
        <thead>
          <th width="10%">{% trans "Deadline" %}</th>
          <th></th>
          <th width="20%">{% trans "Course" %}</th>
          <th width="15%">{% trans "State" %}</th>
          <th width="5%">{% trans "Online" %}</th>
        </thead>
        {% for a_s in assignment_list_open %}
        <tr class="{{ a_s.has_unread|yesno:"unread,noop" }}">
          <td>
              {% call_method a_s.assignment "deadline_at_local" tz_override as assignment_deadline_at_local %}
            <div class="assignment-date {{ assignment_deadline_at_local|date_soon_css }}">
              <span class="nowrap">
                {{ assignment_deadline_at_local|naturalday:"d E Y" }}
              </span><br>
              {{ assignment_deadline_at_local|time:"H:i" }}
            </div>
          </td>
          <td>
            <a href="{{ a_s.get_student_url }}">
              {{ a_s.assignment.title }}
            </a>
          </td>
          <td>
            <a href="{{ a_s.assignment.course.get_absolute_url }}">
              {{ a_s.assignment.course.meta_course.name }}
            </a>
          </td>
          <td>
            <span style="white-space: nowrap;"
                  class="badge assignment-status {{ a_s.state|to_css }}">
              {{ a_s.state_display }}
            </span>
          </td>
          <td>
            {{ a_s.assignment.is_online|yesno:_("Yes,No") }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  {% if assignment_list_archive %}
  <div class="row">
    <div class="col-xs-12">
      <h3>{% trans "Archive" %}</h3>
      <table class="table" width="100%">
        <thead>
          <th width="10%">{% trans "Deadline" %}</th>
          <th></th>
          <th width="20%">{% trans "Course" %}</th>
          <th width="15%">{% trans "State" %}</th>
          <th width="5%">{% trans "Online" %}</th>
        </thead>
        {% for a_s in assignment_list_archive %}
        <tr class="{{ a_s.has_unread|yesno:"unread,noop" }}">
          <td>
              <div class="assignment-date">
                    {% call_method a_s.assignment "deadline_at_local" tz_override as assignment_deadline_at_local %}
                    <span class="nowrap">{{ assignment_deadline_at_local|naturalday:"d E Y" }}</span><br>
                    {{ assignment_deadline_at_local|time:"H:i" }}
              </div>
          </td>
          <td>
            <a href="{{ a_s.get_student_url }}">{{ a_s.assignment.title }}</a>
          </td>
          <td>
            <a href="{{ a_s.assignment.course.get_absolute_url }}">
              {{ a_s.assignment.course.meta_course.name }}
            </a>
          </td>
          <td>
            <span style="white-space: nowrap;"
                  class="badge assignment-status {{ a_s.state|to_css }}">
              {{ a_s.state_display }}
            </span>
          </td>
          <td>
            {{ a_s.assignment.is_online|yesno:_("Yes,No") }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% if not assignment_list_open and not assignment_list_archive %}
<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 center-aligned">
      <h4>{% trans "No assignments yet" %}</h4>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>
{% endif %}
{% endlocaltime %}
{% endblock content %}
