{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        {% trans "Assignments" %}
      </h2>
      <div class="btn-toolbar">
      </div>
      <hr>
    </div>
  </div>
  {% if assignment_list_open %}
  <div class="row">
    <div class="col-xs-12">
      <h3>{% trans "Open assignments" %}</h3>
      <table class="table" width="100%">
        <thead>
          <th width="10%">
            {% trans "Deadline" %}
          </th>
          <th></th>
          <th width="25%">
            {% trans "Course" %}
          </th>
          <th width="15%">
            {% trans "State" %}
          </th>
          <th width="5%">
            {% trans "Online" %}
          </th>
        </thead>
        {% for a_s in assignment_list_open %}
        <tr>
          <td>
            <span style="white-space: nowrap;">{{ a_s.assignment.deadline|naturalday:"d E Y" }}</span><br>
            {{ a_s.assignment.deadline|time:"H:i" }}
          </td>
          <td>
            <a href="{% url 'assignment_detail_student' a_s.pk %}">
              {{ a_s.assignment.title }}
            </a>
          </td>
          <td>
            <a href="{{ a_s.assignment.course_offering.get_absolute_url }}">
              {{ a_s.assignment.course_offering.course.name }}
            </a>
          </td>
          <td>
            <span style="white-space: nowrap;">
              {{ a_s.status_display }}
            </span>
          </td>
          <td>
            {% if a_s.assignment.is_online %}
            {% trans "Yes" %}
            {% else %}
            {% trans "No" %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
  {% if assignment_list_archive %}
  <div class="row">
    <div class="col-xs-12">
      <h3>{% trans "Archive" %}</h3>
      <table class="table" width="100%">
        <thead>
          <th width="10%">
            {% trans "Deadline" %}
          </th>
          <th></th>
          <th width="25%">
            {% trans "Course" %}
          </th>
          <th width="15%">
            {% trans "State" %}
          </th>
          <th width="5%">
            {% trans "Online" %}
          </th>
        </thead>
        {% for a_s in assignment_list_archive %}
        <tr>
          <td>
            <span style="white-space: nowrap;">{{ a_s.assignment.deadline|naturalday:"m E Y" }}</span><br>
            {{ a_s.assignment.deadline|time:"H:i" }}
          </td>
          <td>
            <a href="{% url 'assignment_detail_student' a_s.pk %}">
              {{ a_s.assignment.title }}
            </a>
          </td>
          <td>
            <a href="{{ a_s.assignment.course_offering.get_absolute_url }}">
              {{ a_s.assignment.course_offering.course.name }}
            </a>
          </td>
          <td>
            <span style="white-space: nowrap;">{{ a_s.status_display }}</span>
          </td>
          <td>
            {% if a_s.assignment.is_online %}
            {% trans "Yes" %}
            {% else %}
            {% trans "No" %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% if not assignment_list_open and not assignment_list_archive %}
<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 center-aligned">
      <h4>{% trans "No assignments yet" %}</h4>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
