{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% regroup object_list by date|date:"l, d E Y" as classes_by_day %}
<div class="container" id="calendar-container">
  <div class="row timetable-header-row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{{ month_date|date:"F Y" }}</h2>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a href="?year={{ prev_date|date:"Y" }}&month={{ prev_date|date:"m" }}" role="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
          <a href="?year={{ next_date|date:"Y" }}&month={{ next_date|date:"m" }}" role="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
        </div>
        {% if user_type != 'full' and user_type != 'public_full' %}
          <div class="btn-group">
            <a href="{% if user_type == 'teacher' %}
                     {% url 'timetable_teacher' %}
                     {% else %}
                     {% url 'timetable_student' %}
                     {% endif %}"
               role="button"
               class="btn btn-default">{% trans 'List' %}</a>
            <a href="{% if user_type == 'teacher' %}
                     {% url 'calendar_teacher' %}
                     {% else %}
                     {% url 'calendar_student' %}
                     {% endif %}"
               role="button"
               class="btn btn-default active">{% trans 'Calendar' %}</a>
          </div>
        {% endif %}
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <div class="event-types">
    Типы событий: <span class="lecture">Лекция</span> <span class="seminar">Семинар</span>

    </div>
      <table class="table table-bordered calendar">
        <tr>
          <th>{% trans "Monday" %}</th>
          <th>{% trans "Tuesday" %}</th>
          <th>{% trans "Wednesday" %}</th>
          <th>{% trans "Thursday" %}</th>
          <th>{% trans "Friday" %}</th>
          <th>{% trans "Saturday" %}</th>
          <th>{% trans "Sunday" %}</th>
        </tr>
        {% for week_num, week in month %}
        <tr id="week_{{week_num}}">
          {% for day, events, in_semester, is_today in week %}
          <td class="{{ in_semester|yesno:'in-semester,not-in-semester' }} {{ is_today|yesno:'today,' }}">
            {% if forloop.first %}
            <div class="week-num-container">
              <div class="week-num">
                {% if user_type != 'public_full' %}
                  <a href="{% if user_type == 'teacher' %}{% url 'timetable_teacher' %}{% else %}{% url 'timetable_student' %}{% endif %}?year={{ month_date|date:"Y" }}&week={{ week_num }}">{{ week_num }}</a>
                {% else %}
                  {{ week_num }}
                {% endif %}
              </div>
            </div>
            {% endif %}
            <div class="cell">
              <div class="day">
                {{ day|date:"j" }}
              </div>
              {% for event in events %}
              <div class="event {{ event.type }}" title="{{ event.name }}">
                <a href="{{ event.get_absolute_url }}">{{ event.starts_at|time:"H:i" }}–{{ event.ends_at|time:"H:i" }}
                  {% if event.type == "noncourse" %}
                  {{ event.name }}
                  {% else %}
                  {{ event.course_offering.course.name }}
                  {% endif %}
                </a>
              </div>
              {% endfor %}
            </div>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
