{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2 class="content-title">{% trans "Videos" %}</h2>
      <hr>
    </div>
  </div>
  {% if course_list_chunks %}
  {% for chunk in course_list_chunks %}
  <div class="row">
    {% for co in chunk %}{% if co %}
    <div class="col-xs-4">
      <a href="{{ co.get_absolute_url }}">
        <div class="video-container">
          <div class="video-bg" style="background-image:url('{% static "img/video_mini.png" %}');">
          </div>
          <span class="video-inner">
            {{ co.course.name }},<br> {{ co.semester}}
          </span>
        </div>
      </a>
    </div>
    {% endif %}{% endfor %}
  </div>
  {% endfor %}
  {% endif %}
</div>
{% if not course_list_chunks %}
<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 center-aligned">
      <h4>{% trans "No videos yet" %}</h4>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
