{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        {{ object.name }}
      </h2>
      <hr>
      <div class="ubertext">
        {{ object.description }}
      </div>
      <hr>
      <h4>{% trans 'Course offerings and professors:' %}</h4>
      <ul>
      {% for offering in offerings %}
      <li>
        {{ offering.semester }} ({{ offering.teachers.all|join:", " }})
      </li>
      {% empty %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
