{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped" width="100%">
        <thead>
          <th>{% trans "Course" %}</th><th>{% trans "Active-masculine" %}</th>
        </thead>
        <tbody>
          {% for course in object_list %}
          <tr>
            <td>
              <a href="{% url 'course_edit' course.pk %}">
                {{ course.name }}
              </a>
            </td>
            <td>
              {% if course.ongoing %}
              {% trans "Yes" %}
              {% else %}
              {% trans "No" %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
