{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        {{ course_class.name }} <small><a href="{{ course_class.course_offering.get_absolute_url }}">{{ course_class.course_offering.course.name }}</a></small>
      </h2>
      {% if user.is_curator or user.is_teacher and is_actual_teacher %}
      <div class="btn-toolbar">
        <a href="{% url 'course_class_edit' course_class.course_offering.course.slug course_class.course_offering.semester.slug course_class.pk %}" class="btn btn-primary" role="button">{% trans "Edit" %}</a>
        <a href="{% url 'course_class_delete' course_class.course_offering.course.slug course_class.course_offering.semester.slug course_class.pk %}" class="btn btn-danger" role="button">{% trans "Delete" %}</a>
      </div>
      {% endif %}
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <tr>
          <td>{% trans "What" %}:</td>
          <td>{{ course_class.type_display }}</td>
        </tr>
        <tr>
          <td>{% trans "When" %}:</td>
          <td>{{ course_class.date|date:"l, d E Y" }}, {{ course_class.starts_at|time:"H:i" }}–{{ course_class.ends_at|time:"H:i" }}</td>
        </tr>
        <tr>
          <td>{% trans "Where" %}:</td>
          <td><a href="{% url 'venue_detail' course_class.venue.pk %}">{{ course_class.venue.name }}</a></td>
        </tr>
        {% if course_class.slides %}
        <tr>
          <td>{% trans "Slides" %}:</td>
          <td id="slides"><a href="{{ course_class.slides.url }}">{{ course_class.slides_file_name }}</a></td>
        </tr>
        {% endif %}
      </table>

      {% if course_class.description %}
      <h4 class="bigger-margin">{% trans "Description" %}</h4>
      <div class="ubertext">
        {{ course_class.description|safe }}
      </div>
      {% endif %}

      {% if course_class.video %}
      <h4 class="bigger-margin" id="video">{% trans "Video" %}</h4>
      <div class="ubertext">
        {{ course_class.video|safe }}
      </div>
      {% endif %}

      {% if course_class.other_materials %}
      <h4 class="bigger-margin" id="other_materials">{% trans "Materials" %}</h4>
      <div class="ubertext">
        {{ course_class.other_materials|safe }}
      </div>
      {% endif %}

      {% if attachments %}
      <h4 class="bigger-margin" id="attachments">{% trans "Attached files" %}</h4>
      <ul class="list">
        {% for attachment in attachments %}
        <li>
          <span class="assignment-attachment">
            <i class="fa fa-file"></i>
            <a href="{{ attachment.material.url }}">
              {{ attachment.material_file_name }}
            </a>
          </span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
