{% extends "base.html" %}
{% load tz %}
{% load i18n %}
{% load thumbnail %}
{% load markdown from core_tags %}
{% load render_bundle from webpack_loader %}
{% load userpreview from custom_thumbnail %}

{% block javascripts %}
    {% if user.is_curator %}{% render_bundle "supervising" "js" %}{% endif %}
{% endblock javascripts %}

{% block title %}{{ course_offering.course.name }}, {{ course_offering.semester }}{% endblock title %}

{% block content %}{% localtime off %}
<div class="container" id="course-offering-detail-page" data-id="{{ course_offering.pk }}">
    <div class="row">
        <div class="col-xs-9">
            <h2 class="course-main-title">
            {{ course_offering.course.name }}{% if request.user.is_curator %} <a href="{% url "admin:learning_courseoffering_change" course_offering.pk %}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>{% endif %}<br>
              <small>{{ course_offering.city.name }} / {{ course_offering.semester }}, <a href="{% url 'course_detail' course_offering.course.slug %}">посмотреть все семестры</a></small>
            </h2>

            {% if request.site.domain == 'compsciclub.ru' and not user.is_authenticated %}
                <div id="enroll-now">
                      {% blocktrans %}
                        Enroll in the course to get notifications and to be able to submit home assignments.<br>
                        <a class="btn btn-success" href="/register/">Register to enroll now</a> <a class="btn btn-success" href="/login/">Login</a>
                      {% endblocktrans %}
                </div>
            {% endif %}

            <ul class="nav nav-tabs square" role="tablist" id="course-offering-detail-page__tablist">
                {% for tab in tabs.values %}
                    {% if tab.visible %}
                        <li role="presentation" {% if tab.target == active_tab %}class="active"{% endif %}>
                            <a role="tab"
                               aria-expanded="{% if tab.target == active_tab %}true{% else %}false{% endif %}"
                               aria-controls="course-{{ tab.target }}"
                               data-toggle="tab"
                               data-target="#course-{{ tab.target }}"
                               data-has-unread="{% if tab.unread_cnt > 0 %}true{% else %}false{% endif %}"
                               href="{{ course_offering.get_absolute_url }}{{ tab.target }}/">
                                {{ tab.name }}{% if tab.unread_cnt > 0 %} <span class="badge badge-success">+{{ tab.unread_cnt }}</span>{% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% with tab=tabs.about %}
                <div class="tab-pane {% if tab.target == active_tab %}active{% endif %}" role="tabpanel" id="course-about">
                    <div class="ubertext course-description">
                    {% if course_offering.description %}
                      {% markdown 3600 "course_offering_description" course_offering.pk course_offering.modified %}
                        {{ course_offering.description }}
                      {% endmarkdown %}
                    {% else %}
                      {% markdown 3600 "course" course_offering.course.pk course_offering.course.modified %}
                        {{ course_offering.course.description }}
                      {% endmarkdown %}
                    {% endif %}
                    </div>
                </div>
                {% endwith %}

                {% with tab=tabs.contacts %}
                {% if tab.visible %}
                    <div class="tab-pane {% if tab.target == active_tab %}active{% endif %}" role="tabpanel" id="course-contacts">
                    {% for course_teacher in contacts %}
                        {% with user_object=course_teacher.teacher %}
                            <h4>{{ user_object.get_full_name }}</h4>
                            {% markdown 3600 "user_private_contacts" user_object.pk user_object.modified %}
                            {{ user_object.private_contacts }}{% endmarkdown %}
                        {% endwith %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

                {% with tab=tabs.reviews %}
                {% if tab.visible %}
                    <div class="tab-pane {% if tab.target == active_tab %}active{% endif %}" role="tabpanel" id="course-reviews">
                        {% for co in course_reviews %}
                            <h4>{{ co.semester|title }}</h4>
                              {% markdown 3600 "course_offering_reviews" co.pk co.modified %}
                                {{ co.reviews }}
                              {% endmarkdown %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

                {% with tab=tabs.classes %}
                {% if tab.visible %}
                    <div class="tab-pane {% if tab.target == active_tab %}active{% endif %}" role="tabpanel" id="course-classes">
                      <table class="table timetable" width="100%">
                        <thead>
                        <tr>
                          <th class="nobreak">{% trans "Date and time" %}</th>
                          <th>{% trans "Class|Name" %}</th>
                          <th style="min-width: 140px;">{% trans "Venue|short" %}</th>
                          <th style="width: 110px;">{% trans "Materials" %}</th>
                        </tr>
                        </thead>
                        {% for class in classes %}
                        <tr>
                            <td>{{ class.date|date:"d E" }}<br><span class="text-muted">{{ class.starts_at|time:"H:i" }}–{{ class.ends_at|time:"H:i" }}</span></td>
                          <td>
                            <a href="{{ class.get_absolute_url }}">
                              {{ class.name }}</a><span class="text-muted">, {% if class.type == 'lecture'%}{% trans 'Lecture'|lower %}{% else %}{% trans 'Seminar'|lower %}</span>{% endif %}
                          </td>
                          <td>
                            <a href="{% url 'venue_detail' class.venue.pk %}">
                              {{ class.venue }}
                            </a>
                          </td>
                          <td>
                            {{ class.materials_str|safe }}
                          </td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                {% endif %}
                {% endwith %}

                {% with tab=tabs.assignments %}
                {% if tab.visible %}
                    <div class="tab-pane {% if tab.target == active_tab %}active{% endif %}" role="tabpanel" id="course-assignments">
                        <table class="table timetable">
                        <thead>
                            <tr>
                              <th>{% trans "Deadline" %}</th>
                              <th>{% trans "Title" %}</th>
                              <th class="nobreak">Через сайт</th>
                              <th style="width: 110px;">Файлы</th>
                            </tr>
                        </thead>
                        {% for assignment in assignments %}
                            <tr>
                                <td>
                                    <div class="assignment-deadline">
                                        {{ assignment.deadline_at_local|date:"d E" }}<br>
                                        <span class="text-muted">{{ assignment.deadline_at_local|time:"H:i" }}</span>
                                    </div>
                                </td>
                                <td>
                                    {% if assignment.magic_link %}
                                        <a  href="{{ assignment.magic_link }}">{{ assignment.title }}</a>
                                    {% else %}
                                        <div>{{ assignment.title }}</div>
                                    {% endif %}
                                </td>
                                <td>{{ assignment.is_online|yesno:_("Yes,No") }}</td>
                                <td>
                                    {% for attachment in assignment.assignmentattachment_set.all %}
                                        <a href="{{ attachment.file_url }}">{{ attachment.file_ext }}</a>{% if not forloop.last %}, {% endif %}
                                        {% empty %}
                                            Нет
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                      </table>
                    </div>
                {% endif %}
                {% endwith %}

                {% with tab=tabs.news %}
                    {% if tab.visible %}
                        <div class="tab-pane {% if tab.target == active_tab %}active{% endif %}" role="tabpanel" id="course-news">
                        {% with course_news=news %}
                        {% for news in course_news %}
                            <div class="panel bg-gray" id="news-{{ news.pk }}">
                                <div class="panel-body">
                                    <div class="date">{{ news.created_local|date:"d E Y" }}</div>
                                    <h4>{{ news.title }}{% if user.is_curator or user.is_teacher and is_actual_teacher %} <a href="#news-{{ news.pk }}"><i class="fa fa-link" aria-hidden="true"></i></a>{% endif %}</h4>
                                    <div class="ubertext shorten">
                                    {% markdown 3600 "co_news_text" news.pk news.modified %}
                                      {{ news.text }}
                                    {% endmarkdown %}
                                    </div>
                                </div>
                                {% if user.is_curator or user.is_teacher and is_actual_teacher %}
                                    <div class="panel-footer">
                                        {% if user.is_curator %}<a class="show_unread_notifications" title="Показать, кто не прочитал новость на сайте" href="{{ news.get_stats_url }}"><i class="fa fa-table" aria-hidden="true"></i></a>{% endif %}
                                        <a class="pull-right" href="{{ news.get_delete_url }}">{% trans "delete" %}</a>
                                        <a class="__pr5 pull-right" href="{{ news.get_update_url }}">{% trans "edit" %}</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% endwith %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
    </div>

    <div class="col-xs-3">
    {% if user.is_authenticated %}
        <div class="o-buttons-vertical">
            {% if user.is_curator or user.is_teacher and is_actual_teacher %}
              <a href="{{ course_offering.get_create_assignment_url }}" class="btn btn-primary btn-outline btn-block" role="button">{% trans "Add assignment" %}</a>
              <a href="{{ course_offering.get_create_news_url }}" class="btn btn-primary btn-outline btn-block" role="button">{% trans "Add news" %}</a>
              <a href="{{ course_offering.get_create_class_url }}" class="btn btn-primary btn-outline btn-block">{% trans 'Add class' %}</a>
              <a href="{{ course_offering.get_update_url }}" class="btn btn-primary btn-outline btn-block" role="button">{% trans "Edit description" %}</a>
            {% endif %}
            {% if request.user.is_active_student and course_offering.enrollment_is_open and course_offering.get_city == user_city %}
                {% if is_enrolled %}
                    <a href="{{ course_offering.get_unenroll_url }}"
                       class="btn btn-danger btn-block">{% trans "Unenroll from the course" %}
                    </a>
                {% else %}
                    <form method="post" class="btn-block"
                          action="{{ course_offering.get_enroll_url }}">
                        {% csrf_token %}
                        <input type="hidden" name="course_offering_pk" value="{{ course_offering.pk }}">
                        <button type="submit"
                                {% if course_offering.is_capacity_limited and course_offering.places_left == 0 %}disabled{% endif %}
                                class="btn btn-primary btn-block">
                            {% trans "Enroll in the course" %}
                            {% if course_offering.is_capacity_limited and course_offering.places_left > 0 %}
                                <br><small>{% trans "Places available" %}: {{ course_offering.places_left }}</small>
                            {% elif course_offering.is_capacity_limited %}
                                <br><small>{% trans "No places available" %}</small>
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            {% endif %}
            {% if course_offering.survey_url %}
                {% if is_enrolled or user.is_curator %}
                    <a class=" btn btn-default btn-block btn-success"
                       href="{{ course_offering.survey_url }}"
                       target="_blank">{% trans "Start survey" %}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
        <div class="o-users-vlist">
            <ul class="list-unstyled">
                {% for course_teacher in teachers.lecturers %}
                    {% with teacher=course_teacher.teacher %}
                    <li>
                        <a href="{% url 'teacher_detail' teacher.pk %}">
                            {% if teacher.photo %}
                                {% userpreview teacher "170x238" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"><br>
                                    {% empty %}
                                {% enduserpreview %}
                            {% endif %}
                            {{ teacher.get_full_name }}
                        </a>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
        {% if teachers.others %}
            <div class="o-users-vlist">
                <h4 class="text-center">{% if course_offering.is_completed %}Помогали{% else %}Помогают{% endif %} с заданиями</h4>
                <ul class="list-unstyled">
                    {% for course_teacher in teachers.others %}
                        {% with teacher=course_teacher.teacher %}
                        <li>
                            <a href="{% url 'teacher_detail' teacher.pk %}">{{ teacher.get_full_name }}</a>
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
  </div>
</div>

{% include "_modal.html" %}
{% endlocaltime off %}
{% endblock content %}
