{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        {{ course.name }}
      </h2>
      <hr>
      <div class="ubertext">
        {{ course.description|safe }}
      </div>
      <hr>
      <h4>{% trans 'Course offerings:|course-singular' %}</h4>
      <ul>
      {% for offering in offerings %}
      <li>
        <a href="{% url 'course_offering_detail' course.slug offering.semester.slug %}">{{ offering.semester }}</a>
      </li>
      {% empty %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
