{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load markdown from core_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        <a href="{% url 'course_detail' course_offering.course.slug %}"><span class="fa fa-angle-left"></span></a>
        {{ course_offering.course.name }}
        <small>{{ course_offering.semester }}</small>
      </h2>
      <div class="btn-toolbar">
        {% if user.is_curator or user.is_teacher and is_actual_teacher %}
        <div class="btn-group">
          <a href="{% url 'assignment_add' course_offering.course.slug course_offering.semester.slug %}" class="btn btn-primary btn-outline" role="button">
            {% trans "Add assignment" %}
          </a>
        </div>
        <div class="btn-group">
          <a href="{% url 'course_offering_news_create' course_offering.course.slug course_offering.semester.slug %}" class="btn btn-primary btn-outline" role="button">
            {% trans "Add news" %}
          </a>
        </div>
        <div class="btn-group">
          <a href="{% url 'course_class_add' course_offering.course.slug course_offering.semester.slug %}" class="btn btn-primary btn-outline">{% trans 'Add class' %}</a>
        </div>
        <div class="btn-group">
          <a href="{% url 'course_offering_edit_descr' course_offering.course.slug course_offering.semester.slug %}" class="btn btn-primary btn-outline" role="button">
            {% trans "Edit description" %}
          </a>
        </div>
        {% endif %}
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      {% if request.site.domain == 'compsciclub.ru' and not user.is_authenticated %}
        <div id="enroll-now">
              {% blocktrans %}
                Enroll in the course to get notifications and to be able to submit home assignments.<br>
                <a class="btn btn-success" href="/register/">Register to enroll now</a>
              {% endblocktrans %}
        </div>
      {% endif %}
      <div class="ubertext">
        {% if course_offering.description %}
          {% markdown 3600 "course_offering_description" course_offering.pk course_offering.modified %}
            {{ course_offering.description }}
          {% endmarkdown %}
        {% else %}
          {% markdown 3600 "course" course_offering.course.pk course_offering.course.modified %}
            {{ course_offering.course.description }}
          {% endmarkdown %}
        {% endif %}
      </div>
    </div>
    <div class="col-xs-4">
        {% if request.user.is_student and course_offering.is_ongoing %}
            <div class="enroll-block">
                {% if is_enrolled %}
                    <a href="{% url 'course_offering_unenroll' course_offering.course.slug course_offering.semester.slug %}"
                       class="btn btn-danger btn-block">
                        {% trans "Unenroll from the course" %}
                    </a>
                {% else %}
                    <form method="post"
                          action="{% url 'course_offering_enroll' course_offering.course.slug course_offering.semester.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="course_offering_pk"
                               value="{{ course_offering.pk }}">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% trans "Enroll in the course" %}
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
        <div class="course-offering-profs">
            <h4>Преподаватели:</h4>
            <ul class="list-unstyled">
                {% for teacher in course_offering.teachers.all %}
                    <li>
                        <a href="{% url 'teacher_detail' teacher.pk %}">
                            {% if teacher.photo %}
                                {% thumbnail teacher.photo "60x60" crop="center" as im %}
                                    <img src="{{ im.url }}"
                                         width="{{ im.width }}"
                                         height="{{ im.height }}">
                                {% endthumbnail %}
                            {% endif %}
                            {{ teacher.get_full_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if course_offering.survey_url %}
                {% if is_enrolled or user.is_curator %}
                    <a class=" btn btn-default btn-block btn-success"
                       href="{{ course_offering.survey_url }}"
                       target="_blank">{% trans "Start survey" %}</a>
                {% endif %}
            {% endif %}

        </div>
    </div>
  </div>

  {% if course_offering.courseclass_set.all %}
  <div class="row">
    <div class="col-xs-12">
      <h3>{% trans "Classes" %}</h3>

      <table class="table timetable" width="100%">
        <thead>
          <th width="10%">{% trans "Date" %}</th>
          <th width="12%">{% trans "Time" %}</th>
          <th style="width: 100%;">{% trans "Class|Name" %}</th>
          <th style="min-width: 110px;">{% trans "Venue|short" %}</th>
          <th width="10%"></th>
          <th style="max-width: 160px;">{% trans "Materials" %}</th>
        </thead>
        {% for class in course_offering.courseclass_set.all reversed %}
        <tr>
          <td>{{ class.date|date:"d.m.Y" }}</td>
          <td class="nobreak">{{ class.starts_at|time:"H:i" }}–{{ class.ends_at|time:"H:i" }}</td>
          <td>
            <a href="{% url 'class_detail' class.course_offering.course.slug class.course_offering.semester.slug class.pk %}">
              {{ class.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'venue_detail' class.venue.pk %}">
              {{ class.venue }}
            </a>
          </td>
          <td>
            {% if class.type == 'lecture'%}
            <span class="badge lecture">{% trans 'Lecture' %}</span>
            {% else %}
            <span class="badge seminar">{% trans 'Seminar' %}</span>
            {% endif %}
          </td>
          <td>
            {{ class.materials_str|safe }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  {% if user.is_authenticated %}
    {% if user.is_student or is_actual_teacher or user.is_curator %}
      {% if course_offering.assignment_set.all %}
      <div class="row">
        <div class="col-xs-12">
          <h3>{% trans "Assignments" %}</h3>
          <ul>
            {% for assignment in assignments %}
              <li>
                {% if assignment.magic_link %}
                <a href="{{ assignment.magic_link }}">
                  {{ assignment.title }}
                </a>
                {% else %}
                {{ assignment.title }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endif%}

  {% if can_view_news and course_offering.courseofferingnews_set.all %}
  <div class="row">
    <div class="col-xs-12">
      <h3>{% trans "News" %}</h3>
      {% for news in course_offering.courseofferingnews_set.all %}
      <h4><small>{{ news.created|date }}</small> {{ news.title }}</h4>
      <div class="ubertext shorten">
        {% markdown 3600 "co_news_text" news.pk news.modified %}
          {{ news.text }}
        {% endmarkdown %}
      </div>
      <p class="news-metainfo">
        {% if user.is_curator or user.is_teacher and is_actual_teacher %}
        <a href="{% url 'course_offering_news_update' course_offering.course.slug course_offering.semester.slug news.pk %}">{% trans "edit" %}</a>
        <a href="{% url 'course_offering_news_delete' course_offering.course.slug course_offering.semester.slug news.pk %}">{% trans "delete" %}</a>
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
{% endblock content %}
