{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        <a href="{% url 'course_detail' course_offering.course.slug %}"><span class="fa fa-angle-left"></span></a>
        {{ course_offering.course.name }}
        <small>{{ course_offering.semester }}</small>
      </h2>
      <div class="btn-toolbar">
        {% if request.user.is_teacher %}
        <div class="btn-group">
          <a href="{% url 'course_offering_news_create' course_offering.course.slug course_offering.semester.slug %}" class="btn btn-primary" role="button">
            {% trans "Add news" %}
          </a>
        </div>
        <div class="btn-group">
          <a href="{% url 'course_offering_edit_descr' course_offering.course.slug course_offering.semester.slug %}" class="btn btn-primary" role="button">
            {% trans "Edit" %}
          </a>
        </div>
        {% endif %}
        {% if request.user.is_student and course_offering.is_ongoing %}
        <div class="btn-group">
          {% if is_enrolled%}
          <form method="post" action="{% url 'course_offering_unenroll' course_offering.course.slug course_offering.semester.slug %}">
            {% csrf_token %}
            <input type="hidden" name="course_offering_pk" value="{{ course_offering.pk }}">
            <button type="submit" class="btn btn-danger">
              {% trans "Unenroll" %}
            </button>
          </form>
          {% else %}
          <form method="post" action="{% url 'course_offering_enroll' course_offering.course.slug course_offering.semester.slug %}">
            {% csrf_token %}
            <input type="hidden" name="course_offering_pk" value="{{ course_offering.pk }}">
            <button type="submit" class="btn btn-primary">
              {% trans "Enroll" %}
            </button>
          </form>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <ul>
        {% for teacher in course_offering.teachers.all %}
        <li class="list-unstyled">
          <a href="{% url 'teacher_detail' teacher.pk %}">
            {{ teacher.get_full_name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-8">
      {% if course_offering.description %}
      <div class="ubertext">
        {{ course_offering.description|safe }}
      </div>
      {% else %}
      <div class="ubertext">
        {{ course_offering.course.description|safe }}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>{% trans "Classes" %}</h4>
      {% if course_offering.courseclass_set.all %}
      <ul class="list-unstyled">
        {% for class in course_offering.courseclass_set.all reversed %}
        <li>
          {{ class.date|date:"d.m:" }}
          <a href="{% url 'class_detail' course_offering.course.slug course_offering.semester.slug class.pk %}">
            {{ class.name }}
            </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="col-xs-8">
      {% for news in course_offering.courseofferingnews_set.all %}
      <h4>{{ news.title }}</h4>
      <div class="ubertext">
        {{ news.text|safe }}
      </div>
      <p class="news-metainfo">
        {% if request.user.is_teacher %}
        <a href="{% url 'course_offering_news_update' course_offering.course.slug course_offering.semester.slug news.pk %}">{% trans "edit" %}</a>
        <a href="{% url 'course_offering_news_delete' course_offering.course.slug course_offering.semester.slug news.pk %}">{% trans "delete" %}</a>
        {% endif %}
        {{ news.created|date }}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
