{% extends "base.html" %}
{% load i18n %}
{% load getbykey %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{% trans "Marks sheet" %}</h2>
      <div class="btn-toolbar">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form method="post">{% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right" id="marks-sheet-save">{% trans "Save" %}</button>
        {% for offering, header, by_student in structured %}
        <h3>{{ offering }}</h3>
        <div class="marks-table-container">
          <table class="marks-table">
            <tr>
              <td></td>
              {% for assignment in header %}
              <td class="header header-vert">
                <div class="inner">
                  {{ assignment.title }}
                </div>
              </td>
              {% endfor %}
            </tr>
            {% for student, final_grade, by_assignment in by_student %}
            <tr>
              <td class="header header-horiz">{{ student.get_full_name }}</td>
              {% for assignment, cell in by_assignment.iteritems %}
              <td class="content">
                {% if assignment.is_online %}
                <a href="{% url 'a_s_detail_teacher' cell.pk %}">
                  {{ cell.status_short|safe }}
                </a>
                {% else %}
                <span class="marks-sheet-form-cell">
                  {{ cell }}
                </span>
                {% endif %}
              </td>
              {% endfor %}
              <td>
                <span class="marks-sheet-form-cell">
                  {{ final_grade }}
                </span>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
