{% extends "base.html" %}
{% load i18n %}
{% load getbykey %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{% trans "Marks sheet" %}</h2>
      <div class="btn-toolbar">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form method="post">{% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right" id="marks-sheet-save">{% trans "Save" %}</button>
        <div class="marks-table-container">
          <table class="marks-table">
            <tr>
              <td></td>
              {% for course in header %}
              <td class="marks-header marks-header-vert">
                <div class="inner">
                  <a href="{{ course.get_absolute_url }}">
                    {{ course }}
                  </a>
                </div>
              </td>
              {% endfor %}
            </tr>
            {% for student, overall_grade, by_course in structured %}
            <tr>
              <td class="marks-header marks-header-horiz">
                <a href="{{ student.get_absolute_url }}">
                  {{ student.get_full_name }}
                </a>
              </td>
              {% for course, cell in by_course.iteritems %}
              <td class="content {{ cell.enrolled|yesno:'enrolled,noop'}}">
                {{ cell.grade }}
              </td>
              {% endfor %}
              <td>
                <span class="marks-sheet-form-cell">
                  {{ overall_grade }}
                </span>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
