{% extends "base.html" %}

{% load pipeline %}
{% load staticfiles %}
{% load i18n %}

{% block stylesheets %}
    <link href="{% static "css/vendor/fileinput/fileinput.min.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="container container-responsive">
  <form method="post">{% csrf_token %}
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        {% if request.resolver_match.url_name == 'markssheet_teacher' %}
        <a href="{% url 'markssheet_teacher_dispatch' %}"><span class="fa fa-angle-left"></span></a>
        {% else %}
        <a href="{% url 'course_markssheet_staff_dispatch' %}"><span class="fa fa-angle-left"></span></a>
        {% endif %}
        {% trans "Marks sheet" %}
        <small>{{ course_offering }}</small>
      </h2>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary pull-right" id="marks-sheet-save">{% trans "Save" %}</button>
        </div>
        <div class="btn-group">
          <a href="{% url 'markssheet_teacher_csv' course_offering.course.slug course_offering.semester.slug %}"
             target="_blank"
             class="btn btn-default marks-sheet-csv-link" role="button"><i class="fa fa-download"></i></a>
        </div>
        <div class="btn-group">
          <a class="btn btn-default" data-toggle="dropdown"><i class="fa fa-upload"></i> Импорт <span class="caret"></span></a>
          <ul class="dropdown-menu pull-right" role="menu">
              <li role="presentation"><a href="#import-marks-csv-stepic" role="menuitem" data-toggle="modal">{% trans "From Stepic" %}</a></li>
              <li role="presentation"><a href="#import-marks-csv-yandex" role="menuitem" data-toggle="modal">{% trans "From Yandex" %}</a></li>
          </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              {% trans "Courses" %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
              {% regroup course_offering_list by semester as co_by_semester %}
              {% for cos in co_by_semester %}
              <li role="presentation" class="dropdown-header">{{ cos.grouper }}</li>
              {% for co in cos.list %}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'markssheet_teacher' co.course.slug co.semester.year co.semester.type %}">{{ co.course }}</a></li>
              {% endfor %}
              {% endfor %}
            </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="offering">
        <div class="marks-table-container-outer">
          <div class="marks-table-container-inner">
              <table class="marks-table teacher">
                  <thead>
                  <tr>
                      <th class="rotate"></th>
                      {% for assignment_id, assignment_student in header.iteritems %}
                          <th class="rotate">
                              <div>
                                  <span>
                                  <a href="{% url 'assignment_detail_teacher' assignment_id %}">
                                      {{ assignment_student.assignment__title }}
                                  </a>
                                  </span>
                              </div>
                          </th>
                      {% endfor %}
                      <th class="rotate">{% if header %}<div><span>{% trans "Total score" %}</span></div>{% endif %}</th>
                      <th></th>
                  </tr>
                  </thead>

                  <tfoot>
                  <tr>
                      <td></td>
                      {% for assignment_id, assignment_student in header.iteritems %}
                          <td>{{ assignment_student.assignment__grade_min }}–{{ assignment_student.assignment__grade_max }}</td>
                      {% endfor %}
                  </tr>
                  </tfoot>

                  <tbody>
                  {% for student, by_assignment, total_score, final_grade in structured %}
                      <tr>
                          <td class="marks-header marks-header-horiz">
                              <a href="{{ student.get_absolute_url }}">
                                  {% if student.last_name %}
                                      {{ student.last_name }}&nbsp;{{ student.first_name|first }}.
                                  {% else %}
                                      {{ student.username }}
                                  {% endif %}
                              </a>
                          </td>
                          {% for assignment_id, assignment_student in by_assignment.iteritems %}
                              <td class="content">
                                  {% if assignment_student.assignment__is_online %}
                                      <a href="{% url 'a_s_detail_teacher' assignment_student.pk %}">{{ assignment_student.form_field }}</a>
                                  {% else %}
                                      {{ assignment_student.form_field|safe }}
                                  {% endif %}
                              </td>
                          {% endfor %}
                          <td>{% if header %}{{ total_score }}{% endif %}</td>
                          <td>
                  <span class="marks-sheet-form-cell final-grade-cell">
                    {{ final_grade }}
                  </span>
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>

{% include "learning/_markssheet_teacher_modal_stepic.html" %}
{% include "learning/_markssheet_teacher_modal_yandex.html" %}


{% endblock content %}

{% block javascripts %}
    {% javascript 'fileinput' %}
{% endblock javascripts %}


