{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{% trans "Marks sheet" %}</h2>
      <div class="btn-toolbar">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% trans "CSCUser|enrollment year" %}:
      <div class="btn-group pull-right" role="group">
        <a href="{% url 'markssheet_staff' %}"
           class="btn btn-default {% if not current_year %}disabled{% endif %}">
          {% trans "All" %}
        </a>
        {% for year in enrollment_years %}
        <a href="?enrollment_year={{ year }}"
           class="btn btn-default {% if current_year == year %}disabled{% endif %}">
          {{ year }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="marks-table-container-outer">
        <div class="marks-table-container-inner">
          <table class="marks-table staff">
            <tr>
              <td></td>
              {% for course in header %}
              <td class="marks-header marks-header-vert">
                <div class="inner">
                  <a href="{{ course.get_absolute_url }}">
                    {{ course }}
                  </a>
                </div>
              </td>
              {% endfor %}
            </tr>
            {% for student, by_course in structured %}
            <tr>
              <td class="marks-header marks-header-horiz">
                <a href="{{ student.get_absolute_url }}">
                  {% if student.last_name %}
                  {{ student.last_name}}&nbsp;{{ student.first_name|first }}.
                  {% else %}
                  {{ student.username }}
                  {% endif %}
                </a>
              </td>
              {% for course, cell in by_course.iteritems %}
              <td class="content {{ cell.enrolled|yesno:'enrolled,noop'}}">
                {{ cell.grade }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
