{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container" id="onlinecourses-list">
    {% if recent_courses or self_paced_courses %}
        {% for online_course in recent_courses %}
            {% include "learning/_onlinecourse_list__row.html" %}
        {% endfor %}
        {% for online_course in self_paced_courses %}
            {% include "learning/_onlinecourse_list__row.html" %}
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-xs-12">
              {% trans "No online courses for now" %}
            </div>
        </div>
    {% endif %}


    {% if archive_courses %}
        <a href="#onlinecourses-earlier" data-toggle="collapse" aria-expanded="false" class="collapse-link">Прошедшие курсы</a><br>
        <div class="panel-collapse ">
            <div class="collapse" id="onlinecourses-earlier">
            {% for online_course in archive_courses %}
                {% include "learning/_onlinecourse_list__row.html" %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}



