{% for field in applicant_form %}
    <dt>{{ field.label_tag }}</dt>
    {% if field.name == 'course' %}
        <dd>{{ applicant_form.instance.get_course_display }}</dd>
    {% elif field.name == 'university' %}
        <dd>{% if applicant_form.instance.university_other %}{{ applicant_form.instance.university_other }}{% else %}{{ applicant_form.instance.university.name }}{% endif %}</dd>
    {% else %}
        <dd>{% if field.value %}{{ field.value|linebreaks }}{% else %}<не указано>{% endif %}</dd>
    {% endif %}
{% endfor %}