{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}

{% block body_class %} gray{% endblock body_class %}

{% block content %}
<div class="admission-list-page">
    {% crispy filter.form %}

    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Результаты тестирования и экзамена</h3>
        </div>

        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Поступающий</th>
                <th>Набор</th>
                <th>Направление</th>
                <th>Тест</th>
                <th>Экзамен</th>
              </tr>
            </thead>
            <tbody>
                {% for applicant in applicants %}
                    <tr>
                        <td class="applicant">
                            <a href="{%  url "admission_applicant_detail" applicant.pk %}">{{ applicant.get_full_name }}</a><br>
                            {{ applicant.university }}
                            {% if applicant.course %}<br><b>Курс</b>: {{ applicant.course }}{% endif %}
                        </td>
                        <td>{{ applicant.campaign.code }}</td>
                        <td>{{ applicant.preferred_study_programs }}</td>
                        <td>{% if applicant.online_test %}{{ applicant.online_test.score }}{% else %}-{% endif %}</td>
                        <td>{% if applicant.exam %}{{ applicant.exam.score }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

        {% if is_paginated %}
            {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" last_label="<i class='fa fa-angle-double-right'></i>" first_label="<i class='fa fa-angle-double-left'></i>" %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
