{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block title %}Анкета на поступление - CSC{% endblock title %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{% endblock stylesheets %}

{% block javascripts %}
     {% render_bundle 'forms' 'js'  %}
    <script type="text/javascript" >
        $('select.select').selectpicker();
    </script>
{% endblock javascripts %}


{% block content %}
    <div class="container" id="application-form">
    <div class="card">
        {% if wizard.steps.current == 'spb' %}
            <div class="card-header"><h2>Анкета для Санкт-Петербурга</h2></div>
        {% elif wizard.steps.current == 'nsk' %}
            <div class="card-header"><h2>Анкета для Новосибирска</h2></div>
        {% endif %}
        <div class="card-body card-padding">
{#           <div class="progress">#}
{#             <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 20%;">#}
{#               Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}#}
{#             </div>#}
{#           </div>#}

{#<div class="steps steps-sm row" data-plugin="matchHeight" data-by-row="true" role="tablist">#}
{#                <div class="step col-md-4 {% if wizard.steps.step1 == 1 %}current{% else %}done{% endif %}" role="tab" aria-expanded="true">#}
{#                <span class="step-number">1</span>#}
{#                  <div class="step-desc">#}
{#                    <span class="step-title">Город поступления</span>#}
{#                    <p>Выберите город и укажите основную информацию о себе</p>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="step col-md-4 {% if wizard.steps.step1 == 2 %}current{% elif wizard.steps.step1 == 3 %}done{% else %}{% endif %}" data-target="#exampleBilling" role="tab" aria-expanded="false">#}
{#                  <div class="step-desc">#}
{#                    <span class="step-title">Анкета</span>#}
{#                    <p>Внимательно заполните поля для выбранного города</p>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="step col-md-4 {% if wizard.steps.step1 == 3 %}done{% else %}{% endif %}" data-target="#exampleGetting" role="tab" aria-expanded="false">#}
{#                  <div class="step-desc">#}
{#                    <span class="step-title">Подтверждение</span>#}
{#                    <p>Перед отправкой проверьте, правильно ли введены данные</p>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}


            <div class="row">
                {{ view.step1 }}
                <div class="col-xs-12">
                <form action="" method="post">{% csrf_token %}
                <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {% crispy form %}
                    {% endfor %}
                {% else %}
                    {% crispy wizard.form %}
                {% endif %}
                </table>

                {% if wizard.steps.current == 'spb' or wizard.steps.current == 'nsk' %}
                    <p class="margin-top-10">Нажимая <b>«Подать заявку»</b>, вы соглашаетесь на передачу данных CS центру и на получение писем по поводу приёмной кампании.</p>
                {% endif %}

                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" class="btn btn-default" value="{{ wizard.steps.prev }}">Предыдущий шаг</button>
                {% endif %}

                {% if wizard.steps.current == 'spb' or wizard.steps.current == 'nsk' %}
                    <input type="submit" class="btn btn-primary" value="Подать заявку"/>
                {% else %}
                    <input type="submit" class="btn btn-default" value="Следующий шаг"/>
                {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}