{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block body_class %} gray{% endblock body_class %}

{% block content %}
<div class="admission-list-page">
    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Собеседования</h3>
          <ul class="panel-info">
              {% if today %}
                <li>
                  <div class="num text-success">{{ today }}</div>
                  <p>Сегодня</p>
                </li>
              {% endif %}
            <li>
              <div class="num text-info">{{ total }}</div>
              <p>На очереди</p>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Время</th>
                <th>Поступающий</th>
                <th>Собеседующие</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for interview in interviews %}
                    <tr>
                        <td class="date">

                            <div class="time">{{ interview.date|date:"H:m" }}</div>
                            {{ interview.date|date:"d E" }}
                        </td>
                        <td class="applicant">
                            <a href="{{ interview.get_absolute_url }}">{{ interview.applicant.get_full_name }}</a>
                        </td>
                        <td class="members">
                            <ul>
                                {% for interviewer in interview.interviewers.all %}
                                <li>
                                    {% if interviewer.photo %}
                                        {% thumbnail interviewer.photo "100x100" crop="center" as im %}
                                            <img alt="{{ interviewer.get_full_name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <div class="square" data-toggle="tooltip" data-placement="top" title="{{ interviewer.get_full_name }}">{{ interviewer.last_name|slice:":1" }}{{ interviewer.first_name|slice:":1" }}</div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="actions">
                            <button data-url="panel.tpl" data-toggle="slidePanel"
                                    type="button" class="btn btn-outline btn-success ">
                                Achievements
                            </button>
                            <div class="table-content">
                                <i class="icon wb-menu" data-url="panel.tpl"
                                   data-toggle="slidePanel"></i>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td colspan="4">Нет назначенных интервью.</td>
                    </tr>
                {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
