{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap_pagination %}
{% load static %}
{% load floatdot from core_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Собеседования - CSC{% endblock title %}

{% block body_class %} gray{% endblock body_class %}

{% block stylesheets %}
    <link href="{% static "css/vendor/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{% endblock stylesheets %}

{% block javascripts %}
    {% render_bundle 'forms' 'js' %}

    <script type="text/javascript" defer>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(function () {
            $('#id_date').datetimepicker({
                locale: 'ru',
                format: 'DD.MM.YYYY',
                stepping: 5,
                toolbarPlacement: "bottom",
                keyBinds: {
                    left: false,
                    right: false,
                    escape: function () {
                        this.hide();
                    },
                },
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        });
    </script>
{% endblock javascripts %}

{% block content %}
<div class="admission-list-page">
    {% crispy filter.form %}
    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
              {{ results_title }} / {{ paginator.count }}
          </h3>
          <ul class="panel-info">
              {% if today %}
                <li>
                  <div class="num text-success">{{ today }}</div>
                  <p>На очереди</p>
                </li>
              {% endif %}
          </ul>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                  <th>Время</th>
                  <th>Поступающий</th>
                  <th>Собеседующие</th>
                  <th>{% if not filter.form.status.value or filter.form.status.value == "completed" or filter.form.status.value == "agreed" %}Средний&nbsp;балл{% endif %}</th>
              </tr>
            </thead>
            <tbody>
                {% for interview in interviews %}
                    <tr>
                        <td class="date">

                            <div class="time">{{ interview.date|date:"H:i" }}</div>
                            {{ interview.date|date:"d E" }}
                        </td>
                        <td class="applicant">
                            <a href="{{ interview.get_absolute_url }}">{{ interview.applicant.get_full_name }}</a>
                        </td>
                        <td class="members">
                            <ul>
                                {% for interviewer in interview.interviewers.all %}
                                <li>
                                    {% if interviewer.photo %}
                                        {% thumbnail interviewer.photo "100x100" crop="center top" cropbox=interviewer.photo_thumbnail_cropbox as im %}
                                            <a target="_blank" href="{{ interviewer.get_absolute_url }}">
                                                <img data-toggle="tooltip" data-placement="top" title="{{ interviewer.get_full_name }}" alt="{{ interviewer.get_full_name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                            </a>
                                        {% endthumbnail %}
                                    {% else %}
                                        <div class="square" data-toggle="tooltip" data-placement="top" title="{{ interviewer.get_full_name }}">{{ interviewer.first_name|slice:":1" }}{{ interviewer.last_name|slice:":1" }}</div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% if interview.status == "completed" %}
                                {{ interview.average|floatdot:2 }}
                            {% elif not filter.form.status.value or filter.form.status.value == "agreed" %}
                                <span>{{ interview.get_status_display }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td colspan="4" class="empty-results">Измените параметры поиска.</td>
                    </tr>
                {% endfor %}

            </tbody>
          </table>

            {% if is_paginated %}
                {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" last_label="<i class='fa fa-angle-double-right'></i>" first_label="<i class='fa fa-angle-double-left'></i>" %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
