{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block title %}Тренировка (набор 2018) - CSC{% endblock title %}

{% block content %}
    <div class="container" id="application-form">
    <div class="card">
        <div class="card-body card-padding">
            <p>Тестирование проводится на базе <a href="https://contest.yandex.ru/about/">Яндекс.Контеста</a>.</p>
            <p>Нажмите "Вход через Яндекс.Паспорт", чтобы мы имели возможность посмотреть ваш логин на яндексе и зарегистрировать на контест.</p>
            <a class="btn btn-yellow" href="/admission-2018/testing/auth/">Вход через Яндекс.Паспорт</a><br>
            <p>После того, как вы успешно справитесь с этим шагом, мы попросим ещё немного информации о вас.</p>
        </div>
    </div>
    </div>
{% endblock %}