{% extends "base.html" %}

{% load i18n %}
{% load markdown from core_tags %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="content-title">{{ survey.course_offering }}</h2>
    <h3 class="mb-20">{{ survey.course_offering.city }} / {{ survey.get_type_display }} опрос</h3>
    <div>Всего отзывов: {{ total_submissions }}</div>
    {% for field, values in data.items %}
        <h4>{{ field.label }}{% if field.required %}<span class="asterisk">*</span>{% endif %}</h4>
        {% if field.field_type == field.TYPES.RADIO_MULTIPLE %}
            {% for value, answers, percantage in values %}
                {{ value }} &mdash; {{ answers}} [{{ percantage }}]<br>
            {% endfor %}
        {% else %}
            {% if values %}
                <ul>
                    {% for v in values %}
                    <li>{{ v|linebreaksbr }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                Нет ответов.
            {% endif %}

        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
