{% extends "base.html" %}

{% load i18n %}
{% load markdown from core_tags %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="content-title">{{ survey.course_offering }}<br><small>{{ survey.course_offering.city }} / {{ survey.get_type_display }} опрос</small></h2>
    <div>Всего отзывов: {{ total_submissions }}</div>
    {% for field, stats in data.items %}
        {% if field.field_type == field.TYPES.RADIO_MULTIPLE or field.field_type == field.TYPES.CHECKBOX_MULTIPLE or field.field_type == field.TYPES.CHECKBOX_MULTIPLE_WITH_NOTE %}
            <h4>{{ field.label }}{% if field.required %}<span class="asterisk">*</span>{% endif %}</h4>
            {% for item in stats.choices %}
                {{ item.value }} &mdash; {{ item.answers}}/{{ item.total }} [{{ item.percentage }}%]<br>
            {% endfor %}
            {% if stats.notes %}
                <ul>
                    {% for note, choices in stats.notes %}
                    <li>{{ note|linebreaksbr }}{% if choices %} ({{ choices }}){% endif %}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            {% if stats %}
                <h4>{{ field.label }}{% if field.required %}<span class="asterisk">*</span>{% endif %}</h4>
                <ul>
                    {% for v in stats %}
                    <li>{{ v|linebreaksbr }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
