{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Видеозаписи лекций {{ super() }}{% endblock title %}

{% block body_attrs %}class="_dark"{% endblock body_attrs %}

{% block sprites %}
    <script type="text/javascript">
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}

{% block content %}
<div class="container page-content">
    <h1>Видеозаписи лекций</h1>
    <div id="CourseVideos" data-init='{{ app_data|tojson|safe }}' class="__react-root"></div>
</div>
{% endblock content %}