{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Вопросы и ответы{% endblock title %}

{% block body_attrs %}class="_dark" data-init-sections="collapsible"{% endblock body_attrs %}

{% block content %}
    <div class="container page-content">
        <h1 class="text-center">Вопросы и ответы</h1>
        <div class="row content-center">
            <div class="col-lg-10">
                <div class="collapsible">
                    {% for qa in faq %}
                        <div class="card _qa mb-4">
                            <button class="btn btn-link card__header" id="question-{{ qa.pk }}" aria-expanded="false">
                                {{ macros.svg_icon('border-arrow-right') }}{{ qa.question }}
                            </button>
                            <div class="collapse" id="answer-{{ qa.pk }}" aria-expanded="true">
                                <div class="card__content">{{ qa.answer|safe }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
