{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Эндаумент-фонд Computer Science центра{% endblock title %}

{% block opengraph %}
  <meta property="og:image" content="https://compscicenter.ru/static/v2/img/pages/endowment/og-endowment.jpg">
{% endblock opengraph %}

{% block body_attrs %}data-init-sections="collapsible,endowment"{% endblock body_attrs %}

{% block sprites %}
  <script type="text/javascript">
    (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg")  }}");
  </script>
{% endblock sprites %}

{% block content %}
  <div class="py-10">
    <div class="container py-4 py-lg-10">
      <div class="row">
        <div class="col-lg-7 d-md-flex mb-8 mb-md-0">
          <div>
            <h1>Эндаумент-фонд<br>Computer Science центра</h1>
            <p class="mb-6 text-muted">Целевой фонд объединённой инициативы Школы анализа данных Яндекса, Computer Science клуба и&nbsp;JetBrains.
              Его задача&nbsp;&mdash; поддержать дополнительное образование в&nbsp;сферах Data Science, Software Engineering, Robotics и&nbsp;Computer
              Science.</p>
            <div class="buttons">
              <a href="#donation" class="btn _big _primary _m-wide mb-4 mb-md-8 mb-lg-0">Поддержать</a>
              <a href="/history/" target="_blank" class="btn _big _gray _outline _m-wide mb-md-8  mb-lg-0">О центре</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-8 mb-lg-0 pl-lg-10">
          <div class="card _inverted endowment-stats p-2 p-md-0">
            <div class="card__content _big">
              <h2 class="mb-1">Состояние фонда</h2>
              <p class="text-small text-muted">на 18 октября 2021 года</p>
              <p class="ui digits mb-1">162 460 ₽</p>
              <p class="text-muted">общий объём капитала фонда</p>
              <p class="ui digits mb-1">42 человека</p>
              <p class="text-muted">уже поддержали фонд</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center grey-bg">
    <div class="container py-10">
      <div class="row content-center py-10">
        <div class="col-12">
          <h2>Как работает эндаумент</h2>
          <p>Главное отличие эндаумент-фонда в&nbsp;том, что деньги доноров не&nbsp;расходуются, а&nbsp;непрерывно инвестируются.</p>

          <div class="row">
            <div class="col-md-6 col-lg-3">
              <img src="/static/v2/img/pages/endowment/step-1.svg" width="124" height="124" alt="">
              <p class="text-small px-6">Вы делаете взнос</p>
            </div>
            <div class="col-md-6 col-lg-3">
              <img src="/static/v2/img/pages/endowment/step-2.svg" width="124" height="124" alt="">
              <p class="text-small px-10">Мы передаём его управляющей компании</p>
            </div>
            <div class="col-md-6 col-lg-3">
              <img src="/static/v2/img/pages/endowment/step-3.svg" width="124" height="124" alt="">
              <p class="text-small px-6">Управляющая компания инвестирует средства на рынке ценных бумаг</p>
            </div>
            <div class="col-md-6 col-lg-3">
              <img src="/static/v2/img/pages/endowment/step-4.svg" width="124" height="124" alt="">
              <p class="text-small px-6">Доходы от инвестиций регулярно поступают на&nbsp;поддержку Центра.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-10">
    <h2 class="my-10 pb-8 text-center">Зачем Центру ваша поддержка</h2>
    <div class="row">
      <div class="col-md-6 col-lg-4 pl-10 mb-10">
        <img class="mb-4" src="/static/v2/img/pages/endowment/endowment-why-1.svg" alt="" width="280" height="260">
        <h3>Чтобы создавать новые образовательные материалы</h3>
        <p>Средства инвестиций пойдут на&nbsp;проведение очных учебных курсов, запись онлайн-курсов и&nbsp;регулярное обновление
          программы.</p>
      </div>
      <div class="col-md-6 col-lg-4 pl-10 mb-10">
        <img class="mb-4" src="/static/v2/img/pages/endowment/endowment-why-2.svg" alt="" width="280" height="260">
        <h3>Чтобы сделать курсы доступнее</h3>
        <p>Мы хотим добавлять новые специализации, расширять географию и&nbsp;работать с&nbsp;новыми вузами. Записывать онлайн-курсы,
          доступные всем
          желающим, без поступления в&nbsp;Центр.</p>
      </div>
      <div class="col-md-6 col-lg-4 pl-10 mb-10">
        <img class="mb-4" src="/static/v2/img/pages/endowment/endowment-why-3.svg" alt="" width="280" height="260">
        <h3>Чтобы сделать жизнь студентов немного удобнее</h3>
        <p>Центру важно иметь лицензии и&nbsp;подписки на&nbsp;все необходимые сервисы и&nbsp;современное ПО. Покупать технику, арендовать
          и&nbsp;ремонтировать
          учебные студии. Разрабатывать свою LMS&nbsp;&mdash; систему администрирования образовательного процесса, полностью учитывающую
          особенности Центра.</p>
      </div>
      <div class="col-md-6 col-lg-4 pl-10 mb-10">
        <img class="mb-4" src="/static/v2/img/pages/endowment/endowment-why-4.svg" alt="" width="280" height="260">
        <h3>Чтобы развивать сообщество</h3>
        <p>Для поддержки духа профессионального сообщества важно проводить соревнования, школы и&nbsp;конференции. И&nbsp;иметь возможность
          дарить
          участникам сувениры.</p>
      </div>
      <div class="col-md-6 col-lg-4 pl-10 mb-10">
        <img class="mb-4" src="/static/v2/img/pages/endowment/endowment-why-5.svg" alt="" width="280" height="260">
        <h3>Чтобы о&nbsp;Центре узнало ещё больше человек</h3>
        <p>Мы хотим рассказывать о&nbsp;жизни центра и&nbsp;успехах учеников и&nbsp;преподавателей: развивать социальные сети Центра,
          создавать материалы
          и&nbsp;публиковать их в&nbsp;ведущих СМИ. </p>
      </div>
    </div>
  </div>
  <div class="grey-bg" id="donation">
    <div class="container py-10">
      <div class="row">
        <div class="col-md-5"><img class="img-fluid px-10 px-md-0" src="/static/v2/img/pages/endowment/endowment-thanks.svg" alt=""></div>
        <div class="col-md-7 pl-lg-10 pt-8 pt-md-0 text-center text-md-left" style="align-self: center">
          <h2 class="h1">Поддержите нас</h2>
          <p class="mb-8">Даже небольшое регулярное пожертвование поможет нашей работе</p>
          <a href="https://legacy-ef.com/?donateTo=2848" target="_blank" rel="nofollow noopener"
             class="btn _big _primary _m-wide mb-8 mb-md-0">Поддержать</a>
          <p class="text-small text-muted mt-1">Вы будете перенаправлены на сервис, предоставленный <a href="https://legacy-ef.com"
                                                                                                       target="_blank" rel="nofollow">Legacy
            Endowment Services</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-10 my-10">
    <h2 class="text-center">Совет эндаумента</h2>
    <div class="glide">
      <div class="glide__arrows text-center mt-8 mb-8" data-glide-el="controls">
        <button class="btn _extra-small _gray _outline _rounded" data-glide-dir="<">{{ macros.svg_icon('arrow-left') }}</button>
        <button class="btn _extra-small _gray _outline _rounded" data-glide-dir=">">{{ macros.svg_icon('arrow-right') }}</button>
      </div>
      <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
          <div class="glide__slide card px-8 _no-border">
            <div class="card__img">
              <img src="/static/v2/img/pages/endowment/bogdanov_y.png" alt="Юрий Богданов">
            </div>
            <div class="card__title text-center mt-4">Юрий Богданов</div>
          </div>
          <div class="glide__slide card px-8 _no-border">
            <div class="card__img">
              <img src="/static/v2/img/pages/endowment/bynina_e.png" alt="Елена Бунина">
            </div>
            <div class="card__title text-center mt-4">Елена Бунина</div>
          </div>
          <div class="glide__slide card px-8 _no-border">
            <div class="card__img">
              <img src="/static/v2/img/pages/endowment/ivanov_a.png" alt="Андрей Иванов">
            </div>
            <div class="card__title text-center mt-4">Андрей Иванов</div>
          </div>
          <div class="glide__slide card px-8 _no-border text-center text-md-left">
            <div class="card__img">
              <img src="/static/v2/img/pages/endowment/lihodedov_a.png" alt="Антон Лиходедов">
            </div>
            <div class="card__title text-center mt-4">Антон Лиходедов</div>
          </div>
          <div class="glide__slide card px-8 _no-border">
            <div class="card__img">
              <img src="/static/v2/img/pages/endowment/pratusevich_m.png" alt="Максим Пратусевич">
            </div>
            <div class="card__title text-center mt-4">Максим Пратусевич</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-bg py-10">
    <div class="container py-10">
      <div class="row content-center text-white">
        <div class="col-lg-10 text-center">
          <h2>Партнёры фонда</h2>
          <a href="https://legacy-ef.com" target="_blank" rel="nofollow"><img class="mt-4 mb-8"
                                                                              src="/static/v2/img/pages/endowment/logo-legacy.svg"
                                                                              alt="Логотип сервиса Legacy"></a>
          <p class="text-white-50">Мы&nbsp;пользуемся помощью в&nbsp;ведении дел эндаумента по&nbsp;юридическим, бухгалтерским и&nbsp;налоговым
            вопросам&nbsp;&mdash; сервисом
            <a class="link-theme-dark" href="https://legacy-ef.com" target="_blank" rel="nofollow">Legacy</a>. На&nbsp;платформе Legacy
            созданы десяток
            эндаумент-фондов известных в&nbsp;России образовательных учреждений.</p>
          <p class="text-white-50">Сервис принимает пожертвования и&nbsp;передаёт профессиональной управляющей компании для инвестирования.
            Раз в
            год, полгода или месяц доход от&nbsp;инвестиций в&nbsp;виде пожертвования перечисляется в&nbsp;CS центр по&nbsp;бессрочному
            договору с&nbsp;Legacy. Сервис
            не&nbsp;берёт себе процент от&nbsp;дохода&nbsp;&mdash; у&nbsp;него есть свой эндаумент на&nbsp;поддержку сервиса.</p>
          <p class="text-white-50">Наша ближайшая цель&nbsp;&mdash; собрать 3&nbsp;миллиона рублей до&nbsp;сентября 2022&nbsp;года. По&nbsp;закону
            эндаумент-фонд считается
            сформированным, если эту сумму удалось собрать за&nbsp;первый год. Далее фонд станет бессрочным.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grey-bg py-10">
    <div class="container py-10">
      <h2 class="text-center mb-10 pb-8">Вопросы и ответы</h2>
      <div class="row content-center">
        <div class="col-lg-10">
          <div class="collapsible">
            <div class="card _qa mb-4">
              <button class="btn card__header" id="question-1"
                      aria-expanded="false" aria-controls="answer-1">
                {{ macros.svg_icon('border-arrow-right') }}Как проверить, на что центр потратил деньги?
              </button>
              <div class="collapse" id="answer-1" aria-expanded="true" role="region" aria-labelledby="question-1">
                <div class="card__content">Работа эндаумент-фондов в России регулируется ФЗ-275 от 30 декабря 2006 года. Согласно этому
                  закону, можно тратить только доход от собранного капитала и только на зафиксированные при создании фонда цели. Раз в
                  полгода или по требованию доноров мы будем выкладывать в открытый доступ на данной странице финансовый отчёт об
                  использовании полученных средств.
                </div>
              </div>
            </div>
            <div class="card _qa mb-4">
              <button class="btn card__header" id="question-2"
                      aria-expanded="false" aria-controls="answer-2">
                {{ macros.svg_icon('border-arrow-right') }}Почему важны даже небольшие пожертвования?
              </button>
              <div class="collapse" id="answer-2" aria-expanded="true" role="region" aria-labelledby="question-2">
                <div class="card__content">
                  Мы будем очень рады, если вы сможете сделать крупное пожертвование. Но даже 1000 рублей от тысячи человек — уже миллион.
                  Если часть небольших пожертвований при этом регулярные, они складываются в заметную поддержку.
                </div>
              </div>
            </div>
            <div class="card _qa mb-4">
              <button class="btn card__header" id="question-3"
                      aria-expanded="false" aria-controls="answer-3">
                {{ macros.svg_icon('border-arrow-right') }}Как получить налоговый вычет за благотворительность?
              </button>
              <div class="collapse" id="answer-3" aria-expanded="true" role="region" aria-labelledby="question-3">
                <div class="card__content">
                  <p>Если вы платите налоги в России, нужно подать декларацию по форме 3-НДФЛ по окончании года. Затем обратиться в местный
                    налоговый орган с заполненной декларацией и копиями платёжных документов, подтверждающих перечисление денежных средств
                    на
                    благотворительные цели. Через четыре месяца после заявления вам вернутся 13% от вашего пожертвования.</p>
                  <p>Подробную инструкцию можно найти на сайте ФНС: <a href="https://nalog.gov.ru" target="_blank" rel="nofollow noopener">nalog.gov.ru</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card _qa mb-4">
              <button class="btn card__header" id="question-4"
                      aria-expanded="false" aria-controls="answer-4">
                {{ macros.svg_icon('border-arrow-right') }}Можно ли перевести деньги из-за границы?
              </button>
              <div class="collapse" id="answer-4" aria-expanded="true" role="region" aria-labelledby="question-4">
                <div class="card__content">
                  <p>Да, до 100 тысяч рублей в сутки можно перевести через платёжную форму по кнопке «Оформить пожертвование». Конвертация
                    идёт
                    по курсу Альфа-Банка на день проведения операции.</p>
                  <p>Если вы планируете пожертвовать более крупную сумму, можно разбить её на несколько платежей либо заключить договор
                    пожертвования в письменной форме. Напишите нам на <a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a>,
                    если
                    второй вариант для вас предпочтителен.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

