{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}История {{ super() }}{% endblock title %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="_title">Computer Science Center</h1>
                <div class="mb-8">
                    <h2 id="2018">2018</h2>
                    <p>В 2018 году CS центр запустил полугодовые онлайн-программы для разработчиков по направлениям
                    </p>
                        <div class="card-deck _three">
                            <a class="card _no-border" href="https://code.stepik.org/algo/" target="_blank" rel="noopener">
                                <div class="card__img _darken">
                                    <img src="{{ static("v2/img/pages/index/online_programs/algo.jpg") }}"
                                         alt="Алгоритмы и эффективные вычисления">
                                </div>
                                <div class="card__content">
                                    <h4 class="card__title">Алгоритмы и эффективные вычисления</h4>
                                    <div class="card__subtitle">Онлайн-программа</div>
                                </div>
                            </a>
                            <a class="card _no-border" href="https://code.stepik.org/math/" target="_blank" rel="noopener">
                                <div class="card__img _darken">
                                    <img src="{{ static("v2/img/pages/index/online_programs/math.jpg") }}"
                                         alt="Математика для разработчика">
                                </div>
                                <div class="card__content">
                                    <h4 class="card__title">Математика для разработчика</h4>
                                    <small class="card__subtitle">Онлайн-программа</small>
                                </div>
                            </a>
                            <a class="card _no-border" href="https://code.stepik.org/dev/" target="_blank" rel="noopener">
                                <div class="card__img _darken">
                                    <img src="{{ static("v2/img/pages/index/online_programs/dev.jpg") }}"
                                         alt="Разработка на C++, Java и Haskell">
                                </div>
                                <div class="card__content">
                                    <h4 class="card__title">Разработка на C++, Java и Haskell</h4>
                                    <div class="card__subtitle">Онлайн-программа</div>
                                </div>
                            </a>
                        </div>

                    <p>
                        Каждая программа состоит из трёх или четырёх онлайн-курсов от опытных разработчиков и учёных.
                        Курсы программ — отличная возможность подготовиться к собеседованию в IT-компанию или к
                        поступлению в Computer Science центр, где можно продолжить учёбу в более продвинутых областях,
                        например, анализ данных и машинное обучение.
                    </p>
                </div>
                <section class="content-block">
                    <h2 id="2017">2017</h2>
                    <p>В 2017 году компании Яндекс и JetBrains открыли CS центр в Новосибирске, где до этого действовал
                        филиал Школы анализа данных Яндекса. Теперь в качестве новосибирского филиала Школы можно
                        рассматривать направление анализа данных в CS центре.
                    </p>
                    <div class="card-deck">
                        <div class="card _program-card">
                            <div class="card__img cs col-md-4"></div>
                            <div class="card__content col-md">
                                <a href="https://compscicenter.ru/syllabus/" target="_blank" rel="noopener" class="card__title">Computer Science</a>
                                <p class="card__subtitle">Современная информатика</p>
                                <p class="card__text">
                                    Цель обучения на направлении Computer Science — подготовка специалистов по
                                    современной  информатике. Студенты направления изучают как теоретические основы информатики, так
                                    и более прикладные научные области.
                                </p>
                            </div>
                        </div>
                        <div class="card _program-card">
                            <div class="card__img se col-md-4"></div>
                            <div class="card__content col-md">
                                <a href="https://compscicenter.ru/syllabus/" target="_blank" rel="noopener" class="card__title">Software Engineering</a>
                                <p class="card__subtitle">Разработка ПО</p>
                                <p class="card__text">
                                    Знания и практический опыт, полученные на направлении Software Engineering, позволят
                                    выпускникам  стать квалифицированными специалистами как в разработке ПО, так и в
                                    научно-исследовательской сфере.
                                </p>
                            </div>
                        </div>
                        <div class="card _program-card">
                            <div class="card__img ds col-md-4"></div>
                            <div class="card__content col-md">
                                <a href="https://compscicenter.ru/syllabus/" target="_blank" rel="noopener" class="card__title">Data Science</a>
                                <p class="card__subtitle">Анализ данных</p>
                                <p class="card__text">
                                    Направление Data Science посути является отделеним Школы анализа данных Яндекса в
                                    Санкт-Петербурге и в Новосибирске. Здесь ведётся подготовка специалистов в области
                                    обработки и
                                    анализа данных и извлечения информации из интернета.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content-block">
                    <h2 id="2016">2016</h2>
                    <p>В 2015-2016 учебном году CS центр провёл конкурс открытых лекций. Участники попробовали себя в
                        роли лекторов и поделились знаниями со всеми желающими. Центр отвечал за организацию, а
                        участники — за содержание. По итогам голосования за самые интересные темы мы услышали восемь
                        лекций, а самыми понравившимися зрителям оказались «Введние в язык программирования Rust»,
                        «Разработка в стартапе» и «Как находят экзопланеты? Какие они? И где живут?».
                    </p>
                    <div class="card-deck _three">
                        <a class="card _shadowed _video" href="https://open.compscicenter.ru/archive/rust/" target="_blank" rel="noopener">
                            <div class="card__content">
                                <h4 class="card__title">Введение в язык программирования Rust</h4>
                            </div>
                            <div class="card__content _meta">
                                <div class="author">Алексей Кладов</div>
                            </div>
                        </a>
                        <a class="card _shadowed _video" href="https://open.compscicenter.ru/archive/startup/" target="_blank" rel="noopener">
                            <div class="card__content">
                                <h4 class="card__title">Разработка в стартапе</h4>
                            </div>
                            <div class="card__content _meta">
                                <div class="author">Евгений Баталов</div>
                            </div>
                        </a>
                        <a class="card _shadowed _video" href="https://open.compscicenter.ru/archive/exoplanets/" target="_blank" rel="noopener">
                            <div class="card__content">
                                <h4 class="card__title">Как находят экзопланеты? Какие они? И где живут?</h4>
                            </div>
                            <div class="card__content _meta">
                                <div class="author">Мария Боруха</div>
                            </div>
                        </a>
                    </div>
                </section>
                <section class="content-block">
                    <h2 id="2015">2015</h2>
                    <p><a href="https://code.stepik.org/basics/" target="_blank" rel="noopener">Онлайн-программа</a>
                        по основам программирования появилась в 2015 году и стала пробой переноса
                        полноценного центрового обучения в онлайн-формат. У студентов был год, чтобы пройти двенадцать
                        базовых курсов и погрузиться в новую для большинства область. На этом пути студентам помогали
                        ассистенты преподавателей и кураторы, они сдавали экзамены, учились по рекомендованной программе
                        и могли быть отчислены — всё почти как у очных студентов CS центра. Сейчас большая часть курсов
                        программы доступны на платформе Stepik без дедлайнов.
                    </p>
                </section>
                <section class="content-block">
                    <h2 id="2014">2014</h2>
                    <p>Первый онлайн-курс CS центра появился в сентябре 2014 года на платформе Stepik. «Алгоритмы и
                        структуры данных» Александра Куликова собрал 15000 слушателей, 542 из которых успешно прошли
                        курс и получили сертификат об окончании. Курс по алгоритмам, как и большинство других
                        онлайн-курсов от преподавателей центра, основан на том, что читается очным студентам.
                    </p>
                </section>
                <section class="content-block">
                    <h2 id="2013">2013</h2>
                    <p>Первый выпускной прошёл в 2013 году, выпуск составил 22 человека. Ребята продолжают участвовать в
                        жизни CS центра: предлагают проекты и становятся преподавателями.
                    </p>
                    <figure class="figure">
                        <img src="{{ static("v2/img/pages/history/alumni-2013.jpg") }}" class="figure-img img-fluid" alt="">
                        <figcaption class="figure-caption">Выпускники 2013-го года</figcaption>
                    </figure>
                </section>
                <section class="content-block">
                    <h2 id="2011">2011</h2>
                    <p>Computer Science Center создан в Санкт-Петербурге в 2011 году на базе Академии современного
                        программирования и Computer Science клуба в сотрудничестве со Школой анализа данных. После
                        создания CS центра Академия современного программирования стала его частью, CS клуб продолжает
                        существовать как самостоятельная активность: курсы Клуба открыты для всех желающих, а для
                        студентов центра они входят в программу обучения как курсы по выбору.
                        Центр был создан при активном участии учредителей: Андрей Иванов (JetBrains), Елена Бунина
                        (Яндекс, ШАД, МГУ), Александр Куликов (ПОМИ РАН, CS клуб), Александр Смаль (ПОМИ РАН), Эдуард
                        Гирш (ПОМИ РАН), Евгения Куликова (Яндекс).
                        С момента создания основную поддержку центру оказывают Яндекс, JetBrains, Антон Лиходедов и Юрий
                        Богданов.
                    </p>
                </section>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="sidebar-item">
                <div class="sticky">
                    <div class="timeline">
                        <a class="timeline__date active" href="#2018">2018</a>
                        <a class="timeline__date" href="#2017">2017</a>
                        <a class="timeline__date" href="#2016">2016</a>
                        <a class="timeline__date" href="#2015">2015</a>
                        <a class="timeline__date" href="#2014">2014</a>
                        <a class="timeline__date" href="#2013">2013</a>
                        <a class="timeline__date" href="#2011">2011</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
