{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}История {{ super() }}{% endblock title %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="_title">Computer Science Center</h1>
                <div class="mb-8">
                    <h2 id="2018">2018</h2>
                    <p>В 2018 году&nbsp;CS центр запустил полугодовые онлайн-программы для разработчиков по&nbsp;направлениям</p>
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="card-deck _three">
                                <a class="card _no-border" href="https://code.stepik.org/algo/" target="_blank" rel="noopener">
                                    <div class="card__img _darken">
                                        <img src="{{ static('v2/img/pages/index/online_programs/algo.jpg') }}"
                                             alt="Алгоритмы и&nbsp;эффективные вычисления">
                                    </div>
                                    <div class="card__content">
                                        <h4 class="card__title">Алгоритмы и&nbsp;эффективные вычисления</h4>
                                        <div class="card__subtitle">Онлайн-программа</div>
                                    </div>
                                </a>
                                <a class="card _no-border" href="https://code.stepik.org/math/" target="_blank" rel="noopener">
                                    <div class="card__img _darken">
                                        <img src="{{ static('v2/img/pages/index/online_programs/math.jpg') }}"
                                             alt="Математика для разработчика">
                                    </div>
                                    <div class="card__content">
                                        <h4 class="card__title">Математика для разработчика</h4>
                                        <small class="card__subtitle">Онлайн-программа</small>
                                    </div>
                                </a>
                                <a class="card _no-border" href="https://code.stepik.org/dev/" target="_blank" rel="noopener">
                                    <div class="card__img _darken">
                                        <img src="{{ static('v2/img/pages/index/online_programs/dev.jpg') }}"
                                             alt="Разработка на&nbsp;C++, Java и&nbsp;Haskell">
                                    </div>
                                    <div class="card__content">
                                        <h4 class="card__title">Разработка на&nbsp;C++, Java и&nbsp;Haskell</h4>
                                        <div class="card__subtitle">Онлайн-программа</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Каждая программа состоит из&nbsp;трёх или четырёх онлайн-курсов от&nbsp;опытных разработчиков и&nbsp;учёных.
                        Курсы программ&nbsp;&mdash; отличная возможность подготовиться к&nbsp;собеседованию в&nbsp;IT-компанию
                        или к поступлению в&nbsp;Computer Science центр, где можно продолжить учёбу в&nbsp;более продвинутых
                        областях, например, анализ данных и&nbsp;машинное обучение.
                    </p>
                </div>
                <section class="content-block">
                    <h2 id="2017">2017</h2>
                    <p>В&nbsp;2017 году компании Яндекс и&nbsp;JetBrains открыли&nbsp;CS центр
                        в&nbsp;<a href="https://compscicenter.ru/syllabus/" target="_blank" rel="noopener">Новосибирске</a>,
                        где до&nbsp;этого действовал филиал Школы анализа данных Яндекса. Теперь в&nbsp;качестве новосибирского филиала Школы можно
                        рассматривать направление анализа данных в&nbsp;CS центре.
                    </p>
                    <figure class="figure">
                        <img src="{{ static("v2/img/pages/history/nsk-2017.jpg") }}" class="figure-img img-fluid"
                             alt="Открытие CS&nbsp;центра в&nbsp;Новосибирске">
                        <figcaption class="figure-caption">Открытие CS&nbsp;центра в&nbsp;Новосибирске</figcaption>
                    </figure>
                </section>
                <div class="mb-8">
                    <h2 id="2016">2016</h2>
                    <p>В&nbsp;2015-2016 учебном году&nbsp;CS центр провёл конкурс открытых лекций. Участники попробовали
                        себя в роли лекторов и&nbsp;поделились знаниями со&nbsp;всеми желающими. Центр отвечал за&nbsp;организацию,
                        а участники&nbsp;&mdash; за&nbsp;содержание. По&nbsp;итогам голосования за&nbsp;самые интересные
                        темы мы&nbsp;услышали восемь
                        лекций, а&nbsp;самыми понравившимися зрителям оказались &laquo;Введение в&nbsp;язык
                        программирования Rust&raquo;,
                        &laquo;Разработка в&nbsp;стартапе&raquo; и&nbsp;&laquo;Как находят экзопланеты? Какие они? И&nbsp;где
                        живут?&raquo;.
                    </p>
                    <div class="card-deck _three">
                        <a class="card _shadowed _video" href="https://open.compscicenter.ru/archive/rust/" target="_blank" rel="noopener">
                            <div class="card__content">
                                <h4 class="card__title">Введение в&nbsp;язык программирования Rust</h4>
                            </div>
                            <div class="card__content _meta">
                                <div class="author">Алексей Кладов</div>
                            </div>
                        </a>
                        <a class="card _shadowed _video" href="https://open.compscicenter.ru/archive/startup/" target="_blank" rel="noopener">
                            <div class="card__content">
                                <h4 class="card__title">Разработка в&nbsp;стартапе</h4>
                            </div>
                            <div class="card__content _meta">
                                <div class="author">Евгений Баталов</div>
                            </div>
                        </a>
                        <a class="card _shadowed _video" href="https://open.compscicenter.ru/archive/exoplanets/" target="_blank" rel="noopener">
                            <div class="card__content">
                                <h4 class="card__title">Как находят экзопланеты? Какие они? И&nbsp;где живут?</h4>
                            </div>
                            <div class="card__content _meta">
                                <div class="author">Мария Боруха</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mb-8">
                    <h2 id="2015">2015</h2>
                    <p>Онлайн-программа по&nbsp;основам программирования появилась в&nbsp;2015 году и&nbsp;стала пробой переноса
                        полноценного центрового обучения в&nbsp;онлайн-формат. У&nbsp;студентов был год, чтобы пройти
                        двенадцать базовых курсов и&nbsp;погрузиться в&nbsp;новую для большинства область. На&nbsp;этом пути
                        студентам помогали ассистенты преподавателей и&nbsp;кураторы, они сдавали экзамены, учились по&nbsp;рекомендованной
                        программе и&nbsp;могли быть отчислены&nbsp;&mdash; всё почти как у&nbsp;очных студентов&nbsp;CS центра.
                        Сейчас большая часть курсов программы доступны на&nbsp;платформе Stepik без дедлайнов.
                    </p>
                </div>
                <div class="mb-8">
                    <h2 id="2014">2014</h2>
                    <p>Первый онлайн-курс CS&nbsp;центра появился в&nbsp;сентябре 2014 года на&nbsp;платформе Stepik.
                        &laquo;Алгоритмы и структуры данных&raquo; Александра Куликова собрал 15000&nbsp;слушателей, 542 из&nbsp;которых
                        успешно прошли курс и&nbsp;получили сертификат об&nbsp;окончании. Курс по&nbsp;алгоритмам, как и&nbsp;большинство
                        других онлайн-курсов от&nbsp;преподавателей центра, основан на&nbsp;том, что читается очным студентам.
                    </p>
                </div>
                <div class="mb-8">
                    <h2 id="2013">2013</h2>
                    <p>Первый выпускной прошёл в&nbsp;2013&nbsp;году, выпуск составил 22&nbsp;человека. Ребята
                        продолжают участвовать в
                        жизни&nbsp;CS центра: предлагают проекты и&nbsp;становятся преподавателями.
                    </p>
                    <figure class="figure">
                        <img src="{{ static("v2/img/pages/history/alumni-2013.jpg") }}" class="figure-img img-fluid" alt="Выпускники 2013-го года">
                        <figcaption class="figure-caption">Выпускники 2013-го года</figcaption>
                    </figure>
                </div>
                <div class="mb-8">
                    <h2 id="2011">2011</h2>
                    <p>
                        Computer Science Center создан в&nbsp;Санкт-Петербурге в&nbsp;2011 году на&nbsp;базе Академии
                        современного программирования и&nbsp;<a href="https://compsciclub.ru/" target="_blank" rel="noopener">Computer Science клуба</a>
                        в&nbsp;сотрудничестве со&nbsp;<a href="https://yandex.ru/company/" target="_blank" rel="noopener">Школой анализа данных</a>. После
                        создания&nbsp;CS центра Академия современного программирования стала его частью, CS&nbsp;клуб продолжает
                        существовать как самостоятельная активность: курсы Клуба открыты для всех желающих, а&nbsp;для
                        студентов центра они входят в&nbsp;программу обучения как курсы по&nbsp;выбору.
                    </p>
                    <h3>Центр был создан при активном участии учредителей</h3>
                    <ul>
                        <li>
                            <a href="http://www.linkedin.com/in/yaivanov" target="_blank" rel="noopener">Андрей Иванов</a> (<a href="http://jetbrains.ru/" target="_blank" rel="noopener">JetBrains</a>);
                        </li>
                        <li>
                            <a href="http://halgebra.math.msu.su/wiki/doku.php/staff:bunina" target="_blank" rel="noopener">Елена Бунина</a> (<a href="https://yandex.ru/company/" target="_blank" rel="noopener">Яндекс</a>, <a href="http://yandexdataschool.ru/" target="_blank" rel="noopener">ШАД</a>, <a href="http://msu.ru/" target="_blank" rel="noopener">МГУ</a>);
                        </li>
                        <li>
                            <a href="https://logic.pdmi.ras.ru/~kulikov/" target="_blank" rel="noopener">Александр Куликов</a> (<a href="http://www.pdmi.ras.ru/pdmi/index.php" target="_blank" rel="noopener">ПОМИ РАН</a>, <a href="https://compsciclub.ru/" target="_blank" rel="noopener">CS&nbsp;клуб</a>);
                        </li>
                        <li>
                            <a href="https://logic.pdmi.ras.ru/~smal/" target="_blank" rel="noopener">Александр Смаль</a> (<a href="http://www.pdmi.ras.ru/pdmi/index.php" target="_blank" rel="noopener">ПОМИ РАН</a>, <a href="http://mit.spbau.ru/" target="_blank" rel="noopener">СПбАУ РАН</a>);
                        </li>
                        <li>
                            <a href="https://logic.pdmi.ras.ru/~hirsch/" target="_blank" rel="noopener">Эдуард Гирш</a> (<a href="http://www.pdmi.ras.ru/pdmi/index.php" target="_blank" rel="noopener">ПОМИ РАН</a>);
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/evgenia-kulikova-77421930" target="_blank" rel="noopener">Евгения Куликова</a> (<a href="https://yandex.ru/company/" target="_blank" rel="noopener">Яндекс</a>).
                        </li>
                    </ul>
                    <p>
                    С&nbsp;момента создания основную поддержку центру оказывают Яндекс, JetBrains, Антон Лиходедов и&nbsp;Юрий
                    Богданов. Отдельная благодарность Якову Зайцеву, подарившему&nbsp;CS центру более 100&nbsp;книг.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="sidebar-item">
                <div class="sticky">
                    <div class="timeline">
                        <a class="timeline__date" href="#2018">2018</a>
                        <a class="timeline__date" href="#2017">2017</a>
                        <a class="timeline__date" href="#2016">2016</a>
                        <a class="timeline__date" href="#2015">2015</a>
                        <a class="timeline__date" href="#2014">2014</a>
                        <a class="timeline__date" href="#2013">2013</a>
                        <a class="timeline__date" href="#2011">2011</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
