{% extends "compscicenter_ru/layouts/base.html" %}

{% set menu_theme="__transparent-theme" %}
{% set is_admission_active = True %}

{% block sprites %}
    <script type="text/javascript">
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/index.svg") }}");
    </script>
{% endblock sprites %}

{% block before_navbar_container %}<div class="cover cover-index-page">{% endblock before_navbar_container %}
{% block after_navbar_container %}
    <div class="container">
        <h1 class="cover__title">Знания, востребованные в&nbsp;науке и&nbsp;индустрии</h1>
        <p class="cover__text">
            Очные вечерние курсы в Санкт-Петербурге и в Новосибирске по трём направлениям: Computer Science,
            Data Science, Software Engineering. Заочное обучение для жителей других городов.
        </p>
        <div class="buttons">
            <a href="{{ url('on_campus_programs') }}" class="btn _big _primary _m-wide">Смотреть программы</a>
            <a href="{{ url('history') }}" class="btn _big _white _opacity-10 _m-wide">Узнать о центре</a>
        </div>
    </div>
</div> {# -- div.cover #}
{% endblock after_navbar_container %}

{% block content %}
    <div class="csc-study-areas" id="study-areas">
        <div class="container">
            <h2 class="m-center">Очные курсы центра</h2>
            <p class="card-offline-course__text">
                Центр приглашает молодых специалистов, аспирантов, студентов средних и старших курсов технических специальностей пройти двух- или трёхлетние курсы по направлениям:
            </p>

            <div class="card-deck _three">
                <a href="{{ url('on_campus_program_detail', discipline_code='se') }}" class="card _study-area">
                    <div class="card__content">
                        <div class="card-offline-course__icon">{{ macros.svg_inline('se') }}</div>
                        <h3 class="card__title">Software Engineering</h3>
                        <p class="card__subtitle">Разработка программного обеспечения</p>
                    </div>
                </a>

                <a href="{{ url('on_campus_program_detail', discipline_code='ds') }}" class="card _study-area">
                    <div class="card__content">
                        <div class="card-offline-course__icon">{{ macros.svg_inline('ds') }}</div>
                        <h3 class="card__title">Data Science</h3>
                        <p class="card__subtitle">Анализ данных</p>
                    </div>
                </a>

                <a href="{{ url('on_campus_program_detail', discipline_code='cs') }}" class="card _study-area">
                    <div class="card__content">
                        <div class="card-offline-course__icon">{{ macros.svg_inline('cs') }}</div>
                        <h3 class="card__title">Computer Science</h3>
                        <p class="card__subtitle">Современная информатика</p>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="about-csc">
        <div class="container">
            <div class="about-csc__cover">
                <div class="lazy-wrapper">
                    <img data-src="{{ static("v2/img/pages/index/cscenter_meetup-1136.jpg") }}"
                         data-srcset="{{ static("v2/img/pages/index/cscenter_meetup-1056.jpg") }} 1056w,
                                      {{ static("v2/img/pages/index/cscenter_meetup-1408.jpg") }} 1408w,
                                      {{ static("v2/img/pages/index/cscenter_meetup-1136@2x.jpg") }} 2272w"
                         alt="">
                </div>
                <div class="about-csc__description">
                    <h1>О центре</h1>
                    <p>
                        Computer Science Center&nbsp;существует, чтобы дать возможность талантливым студентам и&nbsp;выпускникам
                        развиваться в&nbsp;интересном им&nbsp;направлении.
                    </p>
                </div>
                <a class="btn _big _primary about-csc_btn" href="{{ url('history') }}">Подробнее</a>
            </div>
            <div class="about-csc__organizers">
                <h3>Организаторы</h3>
                <p>CS центр — это совместная инициатива Школы анализа данных, Computer Science клуба и JetBrains.</p>
                <div class="col-12">
                    <a target="_blank" rel="noopener" href="https://jetbrains.ru/students" title="JetBrains">{{ macros.svg_inline('logo-jetbrains') }}</a>
                    <a target="_blank" rel="noopener" href="https://yandexdataschool.ru/" title="Яндекс ШАД">{{ macros.svg_inline('logo-shad') }}</a>
                    <a target="_blank" rel="noopener" href="http://239.ru/" title="ФМЛ №239">{{ macros.svg_inline('logo-fml239') }}</a>
                    <a target="_blank" rel="noopener" href="https://compsciclub.ru/" title="Computer Science Club">{{ macros.svg_inline('logo-csclub') }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="csc-online-education">
        <div class="container">
            <h2 class="text-center">Онлайн-обучение</h2>
            <div class="card-deck _online-education">
                {% for course in courses %}
                    <a class="card _no-border" href="{{ course.link }}" target="_blank" rel="noopener">
                        {% if course.avatar_url -%}
                            <div class="card__img _darken"><img src="{{ course.avatar_url }}" alt="{{ course.name }}"></div>
                        {%- endif %}
                        <div class="card__content">
                            <h4 class="card__title">{{ course.name }}</h4>
                            <div class="card__subtitle">{{ course.tag }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="text-center">
                <a href="{{ url('online_courses:list') }}" class="btn _outline _gray _small">Все материалы</a>
            </div>
        </div>
    </div>

    <div class="csc-student-reviews __dark">
        <div class="container">
            <h2 class="text-center">Отзывы студентов</h2>
            <div class="card-columns _testimonials">
                {% for student in testimonials %}
                    {{ macros.testimonial_card(student) }}
                {% endfor %}

                <a href="{{ url('testimonials') }}" class="btn _small _outline _gray mt-3">Все отзывы</a>
            </div>
        </div>
    </div>


    <div class="social-media-posts">
        <div class="container">
            <h2 class="m-center">#compscicenter</h2>

            <div class="row">
                {% if instagram_posts %}
                    <div class="col-lg-6">
                        {% for post in instagram_posts %}
                            <a href="{{ post.post_url }}" target="_blank" rel="noopener" class="social-media social-media--instagram social-media--full-size" style="background-image:url('{{ post.thumbnail }}')">
                                <img class="social-media__icon" src="{{ static('v2/img/pages/index/social-media-posts/instagram.svg') }}" width="34" alt="">
                                <div class="social-media__text">{{ post.text }}</div>
                                <p class="social-media__date social-media__date--light">{{ post.date|date("j b") }}</p>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="col-lg-6">
                    {% if vk_news %}
                        {% for post in vk_news %}
                            <a href="{{ post.post_url }}" target="_blank" rel="noopener" class="social-media social-media--vk social-media--half-size">
                                <img class="social-media__icon" src="{{ static('v2/img/pages/index/social-media-posts/vk.svg') }}" width="40" alt="">
                                <div class="social-media__text social-media__text--dark">{{ post.text }}</div>
                                <p class="social-media__date">{{ post.date|date("j b") }}</p>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
