{% extends "compscicenter_ru/layouts/base.html" %}
{% import "compscicenter_ru/announcements/macros.jinja2" as announcement_macros %}
{% import "compscicenter_ru/macros/_cards.jinja2" as macros_cards %}
{% set menu_theme="__transparent-theme" %}

{% block sprites %}
  <script type="text/javascript">
    window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/index.svg") }}");
  </script>
{% endblock sprites %}

{% block before_navbar_container %}
  <div class="cover cover-index-page">{% endblock before_navbar_container %}
{% block after_navbar_container %}
  <div class="container">
    <img class="img-fluid d-md-none pt-6 px-8 px-md-0" src="/static/v2/img/pages/index/mascots-mobile.svg" alt="" />
    <h1 class="cover__title pt-6 pt-md-10">Знания, востребованные в&nbsp;науке и&nbsp;индустрии</h1>
    <p class="cover__text">
      Вечерние курсы в&nbsp;Санкт-Петербурге и&nbsp;в&nbsp;Новосибирске по&nbsp;четырём направлениям: Computer
      Science, Data Science, Robotics, Software Engineering. Дистанционное обучение и&nbsp;онлайн-курсы для жителей других городов.
      Школа по&nbsp;управлению продуктами.
    </p>
    <div class="ui buttons">
      <a href="{{ url('application:form') }}" class="btn _big _primary _m-wide">Поступить</a>
      <a href="{{ url('teachers') }}" class="btn _big _white _opacity-10 _m-wide">О центре</a>
    </div>
  </div>
  </div> {# -- div.cover #}
{% endblock after_navbar_container %}

{% block content %}
  {% if announcements %}
    <script type="text/javascript">
      (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg")  }}");
    </script>
    {% with %}
      {% if announcements|length % 2 == 0 %}
        {% set card_type = "v2" %}
      {% elif announcements|length % 3 == 0 %}
        {% set card_type = "v3" %}
      {% else %}
        {% set card_type = "h" %}
      {% endif %}
      <div class="py-6">
        <div class="container py-10">
          <h2 class="text-center mb-10">Мероприятия</h2>
          <div class="card-deck{% if card_type == 'v2' %} _two{% elif card_type == 'v3' %} _three{% endif %}">
            {% for announcement in announcements %}
              {% if card_type == 'h' %}
                {{ announcement_macros.announcement_horizontal(announcement) }}
              {% else %}
                {{ announcement_macros.announcement_vertical(announcement, card_type=card_type) }}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endwith %}
  {% endif %}

  <div class="grey-bg py-6">
    <div class="container py-10">
      <h2 class="text-left text-sm-center mb-10">Обучение в&nbsp;CS&nbsp;центре</h2>
      <div class="row">
        <div class="col-sm-6 col-lg-4 pr-sm-8 mb-8">
          {{ macros.svg_image('graduate') }}
          <h3 class="mt-4">Направления обучения</h3>
          <p>Студенты могут выпуститься из&nbsp;CS&nbsp;центра по&nbsp;одному из&nbsp;четырёх направлений: Data
            Science, Software Engineering, Robotics, Computer Science.</p>
        </div>
        <div class="col-sm-6 col-lg-4 pr-sm-8 mb-8">
          {{ macros.svg_image('courses') }}
          <h3 class="mt-4">Большой выбор курсов</h3>
          <p>Для выпуска нужно сдать двенадцать курсов за&nbsp;два или три года. Несколько обязательных для
            выбранного направления и&nbsp;минимум пять на&nbsp;выбор из&nbsp;всех остальных.</p>
        </div>
        <div class="col-sm-6 col-lg-4 pr-sm-8 mb-8">
          {{ macros.svg_image('practice') }}
          <h3 class="mt-4">Практика или научная работа</h3>
          <p>За&nbsp;время обучения студенты три семестра выполняют практику или научно-исследовательскую
            работу под руководством опытного наставника.</p>
        </div>
      </div>
    </div>
  </div>

  {%- set courses = [
    {
        "course_title": "Алгоритмы и&nbsp;структуры данных",
        "course_slug": "algorithms-1",
        "image_url": "v2/img/pages/index/offline-courses/algorithms-index.jpg",
    },
    {
        "course_title": "Анализ изображений и&nbsp;видео",
        "course_slug": "images-and-video-1",
        "image_url": "v2/img/pages/index/offline-courses/images-and-video-index.jpg",
    },
    {
        "course_title": "Асимптотический анализ и&nbsp;теория вероятностей",
        "course_slug": "prob-theory",
    },
    {
        "course_title": "Вычисления на&nbsp;видеокартах",
        "course_slug": "video_cards_computation",
    },
    {
        "course_title": "Машинное обучение",
        "course_slug": "machine-learning-1",
        "image_url": "v2/img/pages/index/offline-courses/machine-learning-index.jpg",
    },
    {
        "course_title": "Основы дискретной математики",
        "course_slug": "discrete-math",
    },
    {
        "course_title": "Параллельное программирование",
        "course_slug": "hp-course",
    },
    {
        "course_title": "Программирование на&nbsp;C++",
        "course_slug": "cpp-1",
        "image_url": "v2/img/pages/index/offline-courses/cpp-index.jpg",
    },
    {
        "course_title": "Программирование на&nbsp;Java",
        "course_slug": "java",
    },
    {
        "course_title": "Программирование на&nbsp;Kotlin",
        "course_slug": "kotlinprogramming",
    },
    {
        "course_title": "Программирование на&nbsp;Python",
        "course_slug": "python",
    },
    {
        "course_title": "Функциональное программирование",
        "course_slug": "func-prog",
    }
  ] -%}

  <div class="py-6">
    <div class="container py-10">
      <h2 class="text-left text-sm-center mb-10">Очные курсы центра</h2>
      <div class="row">
        <div class="col-12">
          <div class="card-deck _six">
            {% for row in courses %}
              {{ macros_cards.meta_course_card(row["course_title"], row["course_slug"], row["image_url"], row.get("image_title", "")) }}
            {% endfor %}
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <a href="/courses/" class="btn _big _outline _gray _m-wide">Все курсы центра</a>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg py-6">
    <div class="container py-10">
      <h2 class="h1 theme-dark mb-10">Очное обучение в центре</h2>
      <div class="row">
        <div class="col-sm-6 col-md-5 mb-8">
          <div class="card _no-border theme-dark">
            <div class="card__img">
              <img class="img-fluid" src="{{ static("v2/img/pages/index/about-csc/curators.jpg") }}"
                   alt="Кураторы CS центра">
            </div>
            <div class="card__content">
              <div class="card__title mb-4">Заботливые кураторы</div>
              Команда CS&nbsp;центра чутко следит за&nbsp;процессом обучения и&nbsp;всегда готова помочь
              каждому студенту.
            </div>
            <div class="card__content _meta">
              <a href="/team/" target="_blank" class="btn _small _rounded _outline _gray">Команда центра</a>
            </div>

          </div>
        </div>
        <div class="col-sm-6 col-md-5 mb-8 offset-md-1">
          <div class=" card _no-border theme-dark">
            <div class="card__img">
              <img class="img-fluid" src="{{ static("v2/img/pages/index/about-csc/teachers.jpg") }}" alt="">
            </div>
            <div class="card__content">
              <div class="card__title mb-4">Увлечённые преподаватели</div>
              Мы ценим наших преподавателей — заслуженных деятелей науки и&nbsp;успешных специалистов в&nbsp;области.
              Им действительно важно научить.
            </div>
            <div class="card__content _meta">
              <a href="/teachers/" target="_blank" class="btn _small _rounded _outline _gray">Преподаватели</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 mb-8">
          <div class=" card _no-border theme-dark">
            <div class="card__img">
              <img class="img-fluid" src="{{ static("v2/img/pages/index/about-csc/holidays.jpg") }}"
                   alt="Студенческий праздник в CS центре">
            </div>
            <div class="card__content">
              <div class="card__title mb-4">Студенческие мероприятия</div>
              В центре получают не&nbsp;только знания, но и&nbsp;знакомятся с&nbsp;людьми, близкими по&nbsp;духу
              и&nbsp;увлечениям.
            </div>
            <div class="card__content _meta">
              <a href="https://www.instagram.com/compscicenter/" rel="nofollow noopener" target="_blank"
                 class="btn _small _rounded _outline _gray">Наш инстаграм</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 mb-8 offset-md-1">
          <div class=" card _no-border theme-dark">
            <div class="card__img">
              <img class="img-fluid" src="{{ static("v2/img/pages/index/about-csc/graduation.jpg") }}"
                   alt="Выпускной в CS центре">
            </div>
            <div class="card__content">
              <div class="card__title mb-4">Выпускной</div>
              Ежегодный выпускной — праздник для студентов, преподавателей и&nbsp;организаторов.
              Подводим итоги года в&nbsp;неучебной обстановке.
            </div>
            <div class="card__content _meta">
              <a href="/alumni/" target="_blank" class="btn _small _rounded _outline _gray">Выпускники</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-4 pb-8">
    <div class="about-csc__organizers my-10">
      <div class="row">
        <div class="col-md-auto mb-10">
          <h3>Организаторы</h3>
          <a target="_blank" href="https://jetbrains.ru/students"
             title="JetBrains">{{ macros.svg_image('logo-jetbrains') }}</a>
          <a target="_blank" href="https://yandexdataschool.ru/"
             title="Яндекс ШАД">{{ macros.svg_image('logo-shad') }}</a>
          <a target="_blank" href="https://compsciclub.ru/"
             title="Computer Science Club">{{ macros.svg_image('logo-csclub') }}</a>
        </div>
        <div class="col-md-auto offset-lg-1 mb-10">
          <h3>Спонсоры</h3>
          <a target="_blank" href="https://jetbrains.ru/students"
             title="JetBrains">{{ macros.svg_image('logo-jetbrains') }}</a>
          <a target="_blank" href="https://yandex.ru/"
             title="Яндекс">{{ macros.svg_image('logo-yandex') }}</a>
          <a target="_blank" href="https://www.gazprom-neft.ru/"
             title="Газпромнефть">{{ macros.svg_image('logo-gazprom') }}</a>
        </div>
        <div class="col-12">
          <h3>Сотрудничество</h3>
          <a target="_blank" href="http://239.ru/"
             title="ФМЛ №239">{{ macros.svg_image('logo-fml239') }}</a>
          <a href="/partners/itmo/"
             title="Университет ИТМО">{{ macros.svg_image('logo-itmo') }}</a>
          <a href="/partners/mkn-spbgu/"
             title="Факультет математики и компьютерных наук СПБГУ">{{ macros.svg_image('logo-mkn') }}</a>
          <a target="_blank" href="https://www.nsu.ru/n/"
             title="Новосибирский Государственный Университет">{{ macros.svg_image('logo-ngu') }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grey-bg py-6">
    <div class="container py-10">
      <div class="card _no-border _horizontal">
        <div class="row no-gutters">
          <div class="col-md-5" style="background-image:url('/static/v2/img/pages/index/endowment-thanks.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 272px"></div>
          <div class="col-md-7 d-flex">
            <div class="card__content">
              <div class="announcement">
                <h3 class="h2">Эндаумент-фонд CS&nbsp;центра</h3>
                <p>Ваша поддержка поможет CS&nbsp;центру создавать новые образовательные материалы, расширять географию и&nbsp;делать курсы
                  доступнее, развивать профессиональное сообщество.
                </p>
                <a href="/fund/" class="btn _big _primary _m-wide">Поддержать CS центр</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="csc-online-education py-6">
    <div class="container py-10">
      <h2 class="text-center mb-10">Онлайн-образование</h2>
      <div class="card-deck _online-education">
        {% for course in online_courses %}
          <a class="card _horizontal-mobile _no-border" href="{{ course.link }}" target="_blank">
            {% if course.avatar_url -%}
              <div class="card__img _darken"><img src="{{ course.avatar_url }}" alt="{{ course.name }}"></div>
            {%- endif %}
            <div class="card__content">
              <h4 class="card__title">{{ course.name }}</h4>
              <div class="card__subtitle">{{ course.tag }}</div>
            </div>
          </a>
        {% endfor %}
      </div>

      <div class="text-center">
        <a href="{{ url('online_courses:list') }}" class="btn _outline _rounded _gray _small">Все материалы</a>
      </div>
    </div>
  </div>

  <div class="csc-student-reviews grey-bg py-6">
    <div class="container py-10">
      <h2 class="text-center mb-10">Отзывы студентов</h2>
      <div class="card-columns _testimonials">
        {% for graduate_profile in testimonials %}
          {{ macros_cards.testimonial_card(graduate_profile) }}
        {% endfor %}

        <a href="{{ url('testimonials') }}" class="btn _small _outline _rounded _gray mt-3">Все отзывы</a>
      </div>
    </div>
  </div>

{% endblock content %}
