{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Онлайн-курсы {{ super() }}{% endblock title %}

{% block body_attrs %}class="_dark"{% endblock body_attrs %}

{% block sprites %}
    <script type="text/javascript">
        window.__CSC__.sprites.push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}

{% block content %}
<div class="container page-content online-courses" id="online-courses-page">
    <h1 class="text-center">Онлайн-курсы</h1>
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="field">
                <div class="ui icon input">
                    <input autocomplete="off" class="search" name="search" type="text" placeholder="Поиск">
                    <i class="_search icon">{{ macros.svg_icon('search') }}</i>
                </div>
            </div>
        </div>
    </div>
    <div class="row online-courses-list">
        {% for online_course in online_courses %}
        <div class="offset-2 offset-md-0 col-8 col-md-4 col-lg-3 mb-8">
            <div class="card _shadowed">
                {% if online_course.photo %}
                <a class="card__img" href="{{ online_course.link }}" title="{{ online_course.name }}" rel="noopener" target="_blank"><img src="{{ online_course.photo.url }}" alt=""></a>
                {% endif %}
                <div class="card__content">
                    <a class="h4 mb-1 course-title" href="{{ online_course.link }}" title="{{ online_course.name }}" rel="noopener" target="_blank">{{ online_course.name }}</a>
                    <div class="author">{{ online_course.teachers }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12 text-center d-none" id="empty-results">
            Курсы не найдены :(
        </div>
    </div>
</div>

{# FIXME: Temporary solution before implementing tags support #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script type="text/javascript">
    var onlineCoursesList = new List('online-courses-page', {
        listClass: 'online-courses-list',
        valueNames: ['course-title'],
        page: {{ online_courses| length }}
    });
    onlineCoursesList.on('updated', function(list) {
      if (list.matchingItems.length === 0) {
          document.getElementById("empty-results").classList.remove("d-none");
      } else {
          document.getElementById("empty-results").classList.add("d-none");
      }
    });
</script>
{% endblock content %}