{% extends "compscicenter_ru/layouts/base.html" %}

{% block body_attrs %}data-init-sections="collapsible" style="padding-top:0; margin-bottom:0;"{% endblock body_attrs %}

{% block sprites %}
    <script type="text/javascript">
        (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}

{% block menu %}{% endblock menu %}

{% block content %}
<div class="cover _green-gradient">
    <div class="container py-10 text-left">
        <a href="https://compscicenter.ru/"
           class="btn _extra-small _light _outline _rounded mb-8 mb-md-0">
            {{ macros.svg_icon('arrow-left') }}
            <span>Сайт CS центра</span>
        </a>
        <div class="row text-center text-md-left">
            <div class="col-md-6 order-1 order-md-0 d-md-flex" style="align-items: center">
                <h1 style="display: inline-table">Опыт Computer Science Center в&nbsp;организации
                    очного обучения онлайн</h1></div>
            <div class="col-md-6"><img class="img-fluid" src='{{ static("v2/img/pages/stayhome/online.svg") }}' alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container my-10">
        <div class="row">
            <div class="col-lg-10">
                <div class="py-8">
                    <p class="h3">Перед образовательными проектами&nbsp;и, прежде всего, перед преподавателями
                        встала задача временно перевести очное обучение в&nbsp;онлайн-формат. CS&nbsp;центр делится
                        своим опытом.</p>
                    <p>Главное, что вам понадобится,&nbsp;&mdash; электронная почта, доступ к&nbsp;интернету
                        и&nbsp;список электронных адресов студентов. Несколько приложений сделают доступ
                        к&nbsp;студентам проще. Все они бесплатные, но&nbsp;есть дополнительные опции.
                        Из&nbsp;оборудования достаточно веб-камеры, но&nbsp;подойдёт и&nbsp;просто телефон.</p>
                </div>
                <h2>Процесс</h2>
                <div class="collapsible">
                    <div class="card _qa mb-4">
                        <button aria-expanded="false" class="btn card__header"
                                id="question-1">{{ macros.svg_icon('border-arrow-right') }}Как провести занятие?
                        </button>
                        <div aria-expanded="true" class="collapse" id="answer-1">
                            <div class="card__content mb-4">
                                <p><b>Инструменты:</b> <a
                                        href="https://support.google.com/youtube/topic/9257891?hl=ru&ref_topic=9257610"
                                        target="_blank">YouTube-трансляции</a>,
                                    <a href="https://zoom.us/" target="_blank">Zoom</a>, видеозапись лекции, календарь.
                                </p>
                                <p>Заменить очные занятия&nbsp;&mdash; это, пожалуй, самое сложное в&nbsp;переводе учёбы
                                    в&nbsp;онлайн. Важно сохранить общение лектора с&nbsp;аудиторией. Студенты забывают
                                    включать микрофон и&nbsp;пишут вопросы в&nbsp;чате, преподаватель не&nbsp;успевает
                                    их&nbsp;вовремя прочитать&nbsp;&mdash; вначале непривычно всем. Мы&nbsp;провели
                                    неделю
                                    в&nbsp;таком формате, и&nbsp;вот какие удобные варианты нашли.</p>
                                <figure>
                                    <a href='{{ static("v2/img/pages/stayhome/table.jpg") }}' target="_blank"><img class="img-fluid"
                                                                             src='{{ static("v2/img/pages/stayhome/table.jpg") }}'
                                                                             alt="Варианты проведения онлайн-занятий">
                                    </a>
                                </figure>
                                <p><b>Совет преподавателям.</b> Чтобы студенты не&nbsp;забыли о&nbsp;лекции,
                                    а&nbsp;вы&nbsp;не&nbsp;утонули в&nbsp;ссылках, создайте календарь курса и&nbsp;добавляйте
                                    туда занятия с&nbsp;темами и&nbsp;ссылкой, по&nbsp;которой можно присоединиться
                                    к&nbsp;вебинару или посмотреть трансляцию.</p>
                                <p><b>Совет студент_кам.</b> Даже если вы&nbsp;сидите дома, вы&nbsp;находитесь
                                    на&nbsp;занятии. Тут работают обычные правила: нужно быть открытым к&nbsp;общению,
                                    одетым
                                    так, как&nbsp;бы вы&nbsp;сидели на&nbsp;занятии. Включайте и&nbsp;выключайте
                                    микрофон,
                                    когда нужно.</p>
                                <h3 class="mt-6">Пошаговая инструкция для занятия в&nbsp;Zoom с&nbsp;веб-камеры
                                    ноутбука</h3>
                                <ol>
                                    <li>Зарегистрируйте аккаунт в&nbsp;Zoom и&nbsp;поставьте приложение.</li>
                                    <li><p>Запланируйте конференцию на&nbsp;время, когда нужно проводить занятие.
                                        </p>
                                        <figure>
                                            <a href='{{ static("v2/img/pages/stayhome/zoom-screen.jpg") }}' target="_blank">
                                                <img class="img-fluid" src='{{ static("v2/img/pages/stayhome/zoom-screen.jpg") }}' alt="Zoom screenshot"></a>
                                        </figure>
                                        <p>
                                            Если вы&nbsp;используете бесплатный аккаунт, ваша
                                            конференция
                                            может длиться только 40&nbsp;минут и&nbsp;включать до&nbsp;100&nbsp;участников.
                                            Так что
                                            для длинной лекции сделайте две ссылки. Перерыв тоже может быть полезен. :)
                                            За&nbsp;$14.99/месяц можно снять ограничение на&nbsp;время.
                                        </p>
                                    </li>
                                    <li>Отправьте ссылки на&nbsp;конференции студентам. Вы&nbsp;можете разослать
                                        приглашение
                                        в календаре, а&nbsp;можете просто отправить ссылки письмом. Напомните студентам
                                        установить приложение. Вот пример такого письма:
                                        <blockquote class="mt-4 mb-8 text-small">
                                            <p>Здравствуйте.</p>

                                            <p>Следующее занятие пройдёт в&nbsp;Zoom. Присоединяйтесь по&nbsp;ссылке:
                                                &lt;ссылка
                                                на&nbsp;конференцию&gt;. Можно пользоваться приложением или
                                                присоединяться
                                                прямо из&nbsp;браузера.</p>

                                            <p>Познакомьтесь, пожалуйста, с&nbsp;этой системой и&nbsp;протестируйте
                                                конференции, чтобы к&nbsp;занятию вы&nbsp;знали, как включить или
                                                отключить
                                                у&nbsp;себя звук и&nbsp;видео, как писать в&nbsp;чате.</p>
                                        </blockquote>
                                    </li>
                                    <li>Перед лекцией откройте все слайды и&nbsp;приложения, которые будете показывать.
                                        Налейте стакан воды, проверьте, что наушники подключены и&nbsp;работают, ноутбук
                                        включён
                                        в&nbsp;розетку. Закройте лишние приложения, чтобы они вас не&nbsp;отвлекали.
                                    </li>
                                    <li>Студенты подключатся к&nbsp;занятию. Дайте им&nbsp;минут пять на&nbsp;сборы
                                        и&nbsp;начинайте. Вот несколько полезных функций, которые могут пригодиться
                                        в&nbsp;процессе.

                                        <p>
                                            Вот несколько полезных функций, которые могут пригодиться в&nbsp;процессе.
                                            <figure>
                                                <a href='{{ static("v2/img/pages/stayhome/zoom-toolbar.jpg") }}' target="_blank">
                                                <img class="img-fluid"
                                                     src='{{ static("v2/img/pages/stayhome/zoom-toolbar.jpg") }}'
                                                     alt="Zoom toolbar">
                                                </a>
                                            </figure>
                                        </p>
                                        <ul>
                                            <li><b>Запись конференции.</b> Нажмите на&nbsp;кнопку &laquo;Запись&raquo;.
                                                В&nbsp;процессе
                                                можно будет остановить или начать снова. Когда занятие закончится,
                                                программа создаст файлы и&nbsp;покажет&nbsp;их.
                                            </li>
                                            <li>
                                                <b>Отключить микрофоны у&nbsp;всех слушателей.</b> Это можно сделать из&nbsp;окна
                                                &laquo;Участники&raquo;. Если у&nbsp;вас много слушателей, иногда оно
                                                того
                                                стоит.
                                            </li>
                                            <li>
                                                <b>Поднять руку.</b> Участники конференции могут &laquo;поднять руку&raquo;,
                                                нажав
                                                на&nbsp;кнопку в&nbsp;окне чата. Организатор увидит значок руки возле
                                                этого
                                                пользователя в&nbsp;списке участников и&nbsp;на&nbsp;панели с&nbsp;видео.
                                            </li>
                                            <li>
                                                <b>Показать экран приложения.</b> Нажмите на&nbsp;кнопку &laquo;Демонстрация
                                                экрана&raquo;
                                                и&nbsp;выберите приложение, которое хотите показывать. Это очень
                                                полезно,
                                                когда вы&nbsp;хотите показать слайды или код. Если у&nbsp;студента есть
                                                вопрос по&nbsp;слайдам или коду, может быть полезно передать ему
                                                управление
                                                вашим экраном&nbsp;&mdash; так получится указать на&nbsp;конкретное
                                                место и&nbsp;сократить
                                                время на&nbsp;объяснение.
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="card _qa mb-4">
                        <button aria-expanded="false" class="btn card__header"
                                id="question-2">{{ macros.svg_icon('border-arrow-right') }}Как организовать сдачу
                            заданий?
                        </button>
                        <div aria-expanded="true" class="collapse" id="answer-2">
                            <div class="card__content mb-4">
                                <p><b>Инструменты:</b> LMS CS&nbsp;центра, <a href="https://contest.yandex.ru/about/"
                                                                              target="_blank">Яндекс. Контест</a>,
                                    <a href="https://stepik.org/new-course" target="_blank">Stepik</a>, <a
                                            href="https://www.gerritcodereview.com/" target="_blank">Gerrit</a>,
                                    электронная
                                    почта.</p>
                                <p>Студенты CS&nbsp;центра сдают домашние задания онлайн. Мы&nbsp;используем свой сайт
                                    для
                                    общения между студентом и&nbsp;преподавателем, для отправки решений задач, файлов
                                    с&nbsp;кодом, для ведомостей и&nbsp;учёта всего, что возможно. Если у&nbsp;вас нет
                                    такого
                                    инструмента под рукой, его заменит обычная электронная почта. Студенты пришлют
                                    решение&nbsp;&mdash; вы&nbsp;прочитаете и&nbsp;ответите. По&nbsp;итогам диалога
                                    выставите
                                    оценку.</p>
                                <p>Многие задания на&nbsp;программирование поддаются автоматической проверке.
                                    Мы&nbsp;используем платформу Яндекс. Контест для курса по&nbsp;алгоритмам
                                    и&nbsp;онлайн-курсы на&nbsp;Stepik для некоторых других. Обе системы позволяют
                                    настроить
                                    тестирование решений и&nbsp;уменьшить нагрузку на&nbsp;проверяющих. Для наглядного
                                    code
                                    review преподаватели центра пользуются системой Gerrit.</p>
                                <p><b>Совет преподавателям.</b> Заведите отдельный адрес для курса. Расскажите студентам
                                    о&nbsp;формате, в&nbsp;котором стоит отправлять решения. Например, попросите указать
                                    в&nbsp;теме письма номер домашнего задания и фамилию студента.</p>
                                <p><b>Совет студент_кам.</b> Старайтесь обойтись без фотографий листочков
                                    с&nbsp;рукописным решением. Если не получается набрать текстом, используйте LaTex,
                                    а&nbsp;преподавателю пришлите готовый PDF. Если не знаете, как начать работать
                                    с&nbsp;LaTex, загляните в&nbsp;<a href="https://papeeria.com/" target="_blank">Papeeria</a>.
                                </p>
                                <h3 class="mt-6">Пошаговая инструкция</h3>
                                <ol>
                                    <li>Зарегистрируйте электронную почту с&nbsp;названием курса. Например, для курса
                                        по&nbsp;алгоритмам в&nbsp;CS центре мы&nbsp;бы выбрали логин algorithms-csc.
                                        Используйте
                                        почтовый сервис, к&nbsp;которому привыкли.
                                    </li>
                                    <li>Любым доступным способом расскажите студентам, что все письма с&nbsp;вопросами
                                        и&nbsp;все задания нужно прислыать на&nbsp;этот адрес. Можно прямо с&nbsp;него
                                        разослать
                                        эту информацию. Добавьте студентов в&nbsp;скрытую копию&nbsp;&mdash; так письмо
                                        уйдёт как
                                        рассылка&nbsp;и, если кто-то ответит, ответит только вам.
                                    </li>
                                    <li>На&nbsp;каждое задание создавайте отдельную папку. Укажите название задания
                                        и&nbsp;дедлайн. Если студентов немного, до&nbsp;десяти, вам может быть удобнее
                                        делать
                                        папку на&nbsp;студента&nbsp;&mdash; рассмотрите такой вариант. Сделайте папку
                                        для
                                        вопросов.
                                    </li>
                                    <li>Перед отправкой первого задания придумайте формат для темы письма, вставляйте
                                        его
                                        в&nbsp;каждое условие. Возможный вариант: &laquo;Название задания&nbsp;/
                                        ФИ&nbsp;студент_ки&raquo;. У&nbsp;вас получится, что у&nbsp;каждого студента
                                        на&nbsp;каждое задание будет своя цепочка писем. По&nbsp;итогам обсуждения
                                        появится
                                        оценка.
                                    </li>
                                    <li>Когда студенты присылают задание, перемещайте их&nbsp;в&nbsp;соответствующую
                                        папку,
                                        даже если не&nbsp;можете проврить прямо сейчас.
                                    </li>
                                    <li>Постарайтесь поддерживать Inbox пустым. Работайте внутри папок.</li>
                                    <li>Используйте теги или лейблы, чтобы помечать статусы сдачи заданий. Например,
                                        можно
                                        использовать такой список: не&nbsp;проверено, на&nbsp;обсуждении, проверено.
                                        &laquo;Проверено&raquo; можно расширить и&nbsp;прямо здесь записать оценку или
                                        балл.
                                    </li>
                                    <li>Для наглядности переносите оценки и&nbsp;баллы в&nbsp;сводную таблицу.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="card _qa mb-4">
                        <button aria-expanded="false" class="btn card__header"
                                id="question-3">{{ macros.svg_icon('border-arrow-right') }}Как вести учёт успеваемости?
                        </button>
                        <div aria-expanded="true" class="collapse" id="answer-3">
                            <div class="card__content mb-4">
                                <p><b>Инструменты:</b> LMS CS&nbsp;центра, <a href="https://www.google.ru/sheets/about/"
                                                                              target="_blank">Google Таблицы</a>.</p>
                                <p>Учёт оценок мы&nbsp;тоже ведём на&nbsp;своём сайте, но&nbsp;так было не&nbsp;всегда.
                                    Обычно преподаватели выставляют оценки, а&nbsp;потом на&nbsp;них смотрит кто-то ещё:
                                    это
                                    может быть только куратор, а&nbsp;может быть весь курс. На&nbsp;помощь приходят
                                    онлайн-таблицы. В&nbsp;таблицу можно записать всех студентов, проставить оценки
                                    за&nbsp;задания, а&nbsp;потом применить ко&nbsp;всем хитрую формулу&nbsp;&mdash;
                                    и&nbsp;вот оценка за&nbsp;курс готова.</p>
                                <p><b>Совет преподавателям.</b> Внимательно указывайте настройки доступа: студентам вряд&nbsp;ли
                                    нужны права на редактирование. Возможно, вы&nbsp;и&nbsp;показывать им&nbsp;документ
                                    не&nbsp;захотите, тогда уберите доступ к&nbsp;нему по&nbsp;ссылке.</p>
                                <p><b>Совет студент_кам.</b> Когда вам открыли доступ к&nbsp;ведомости, смотрите в&nbsp;первую
                                    очередь на&nbsp;свои оценки и&nbsp;не&nbsp;сравнивайте себя с&nbsp;другими.
                                    Улучшайте свои
                                    результаты и&nbsp;идите к&nbsp;собственным целям.</p>

                                <h3 class="mt-6">Пошаговая инструкция создания Google Таблицы для ведомости курса</h3>
                                <ol class="mb-4">
                                    <li>Зайдите на&nbsp;стартовую страницу Google Таблиц. Вам нужно будет войти в&nbsp;свой
                                        аккаунт в&nbsp;Google.
                                    </li>
                                    <li>Нажмите &laquo;Все шаблоны&raquo;.</li>
                                    <li>Пролистайте до&nbsp;блока &laquo;Образование&raquo; и&nbsp;выберите шаблон
                                        &laquo;Учёт успеваемости&raquo;.
                                    </li>
                                    <li>Переименуйте таблицу&nbsp;&mdash; укажите название курса.</li>
                                    <li>Во&nbsp;вкладке &laquo;Оценки&raquo; запишите ФИО студентов.</li>
                                </ol>
                                <p>Эта таблица подразумевает, что студенты сдают задания и&nbsp;получают за&nbsp;них
                                    баллы. В&nbsp;итоге есть максимально возможное количество баллов и&nbsp;набранное
                                    студентом. Оценка за&nbsp;курс зависит от&nbsp;того, сколько процентов от&nbsp;максимума
                                    набрал студент. </p>
                                <p>Во&nbsp;вкладке &laquo;Сводка&raquo; можно уточнить систему оценок: проставьте
                                    проценты рядом со&nbsp;значениями&nbsp;&mdash; по&nbsp;ним будет выставляться
                                    отметка во&nbsp;вкладке &laquo;Оценки&raquo;.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="card _qa mb-4">
                        <button aria-expanded="false" class="btn card__header"
                                id="question-4">{{ macros.svg_icon('border-arrow-right') }}Как общаться преподавателям и&nbsp;студентам
                            друг с
                            другом?
                        </button>
                        <div aria-expanded="true" class="collapse" id="answer-4">
                            <div class="card__content mb-4">
                                <p><b>Инструменты:</b> <a href="https://slack.com/intl/en-ru/" target="_blank">Slack</a>,
                                    <a href="https://www.jetbrains.com/ru-ru/youtrack/" target="_blank">YouTrack</a>,
                                    электронная почта.</p>
                                <p>Вопросы у&nbsp;студентов возникают не&nbsp;только во&nbsp;время лекций. Отвечать
                                    на&nbsp;них или нет, решает преподаватель. Мы&nbsp;предлагаем всем преподавателям
                                    в&nbsp;начале семестра завести канал курса в&nbsp;Slack &mdash; здесь студенты могут
                                    сами
                                    отвечать на&nbsp;вопросы своих коллег, при этом один вопрос зададут, скорее всего,
                                    один
                                    раз. Удобно и&nbsp;для стеснительных слушателей: когда вопросы есть,
                                    но&nbsp;их&nbsp;неудобно задать, может спросить кто-нибудь другой. В&nbsp;Slack
                                    можно
                                    написать и&nbsp;лично преподавателю.</p>
                                <p>Мы&nbsp;используем баг-трекер для ответов на&nbsp;вопросы в&nbsp;онлайн-программе.
                                    Стараемся убрать общение между преподавателями и&nbsp;студентами по&nbsp;электронной
                                    почте
                                    из&nbsp;нашего процесса, но&nbsp;кому-то это может подойти. Базовая версия Slack
                                    не&nbsp;хранит всю историю сообщений.</p>
                                <p><b>Совет преподавателям.</b> Заранее объявите свой &laquo;график&raquo;, когда вы&nbsp;онлайн.
                                    Он&nbsp;не&nbsp;должен быть точным, например, можно сказать, что отвечаете по&nbsp;будням.
                                    А&nbsp;можно явно отметить, что в&nbsp;последний день перед дедлайном
                                    по&nbsp;заданию&nbsp;&mdash; в&nbsp;субботу&nbsp;&mdash; вы&nbsp;отдыхаете и&nbsp;все
                                    вопросы нужно задать&nbsp;до.</p>
                                <p><b>Совет студент_кам.</b> Участвуйте: спрашивайте и&nbsp;отвечайте. Но&nbsp;помните про
                                    границу между помощью с материалом и&nbsp;подсказками по&nbsp;домашнему заданию.
                                    Оставьте
                                    другим удовольствие самостоятельно прийти к&nbsp;ответу.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="card _qa mb-4">
                        <button aria-expanded="false" class="btn card__header"
                                id="question-5">{{ macros.svg_icon('border-arrow-right') }}Как общаться организаторам
                            и&nbsp;студентам?
                        </button>
                        <div aria-expanded="true" class="collapse" id="answer-5">
                            <div class="card__content mb-4">
                                <p><b>Инструменты:</b> гугл-группа, электронная почта.</p>
                                <p>В&nbsp;CS&nbsp;центре к&nbsp;каждому студенту персональный подход, поэтому без
                                    общения
                                    кураторов и&nbsp;студентов по электронной почте не&nbsp;обойтись. Для рассылки
                                    важных
                                    новостей по&nbsp;всем студентам мы&nbsp;используем гугл-группы. У&nbsp;каждого
                                    набора своя
                                    рассылка, но&nbsp;чаще всего мы&nbsp;отправляем одну и&nbsp;ту&nbsp;же новость на
                                    всех.
                                    Гугл-группы по&nbsp;годам делают проще управление участниками.</p>
                                <p><b>Совет преподавателям.</b> Для важных сообщений о&nbsp;курсе вы&nbsp;можете создать
                                    гугл-группу курса и использовать её&nbsp;для новостей. Например, рассказать об&nbsp;отмене
                                    занятия, выслать условие задания или поделиться новой видеозаписью лекции.</p>
                                <p><b>Совет студент_кам.</b> При вступлении в&nbsp;группу укажите в&nbsp;настройках, что
                                    вы&nbsp;хотите получать все сообщения сразу, как только они появляются. Иначе вам
                                    будет
                                    приходит сводка раз в&nbsp;день, а&nbsp;то и&nbsp;реже. Поверьте, вы&nbsp;не&nbsp;хотите
                                    пропустить новость о&nbsp;переносе занятия, да&nbsp;и&nbsp;дополнительные пять часов
                                    на&nbsp;задание никогда не&nbsp;лишние.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="card _qa mb-4">
                        <button aria-expanded="false" class="btn card__header"
                                id="question-6">{{ macros.svg_icon('border-arrow-right') }}Как настроить личный
                            образовательный
                            процесс?
                        </button>
                        <div aria-expanded="true" class="collapse" id="answer-6">
                            <div class="card__content mb-4">
                                <p><b>Инструменты:</b> календарь, <a href="https://trello.com/"
                                                                     target="_blank">Trello</a>, электронная почта.</p>
                                <p>Постарайтесь структурировать процесс и&nbsp;информацию. Не&nbsp;полагайтесь
                                    на&nbsp;записи по&nbsp;ходу конспекта. Помните школьный дневник? Он&nbsp;был
                                    не&nbsp;просто так.</p>
                                <p><b>Вам точно понадобится расписание.</b> Его можно настроить в&nbsp;любом
                                    приложении-календаре. Заведите календарь всех занятий, вносите в&nbsp;отдельный
                                    календарь дедлайны. Не&nbsp;игнорируйте поле для описания: оно отлично подходит для
                                    ссылок и&nbsp;заметок. В&nbsp;календаре можно устанавливать напоминания. </p>
                                <p><b>Организуйте систему тегов и&nbsp;папок</b>, если общаетесь по&nbsp;поводу курсов в&nbsp;электронной
                                    почте. Архивируйте завершённые переписки, например, когда задание сдано и&nbsp;доделок
                                    не&nbsp;требуется. Преподаватели могут создать папки по&nbsp;студентам, студенты&nbsp;&mdash;
                                    по&nbsp;курсам. Тегами можно отмечать, на&nbsp;какую оценку идёт студент или в&nbsp;какой
                                    стадии проверка задания.</p>
                                <p><b>Доска с&nbsp;задачами.</b> Календарь показывает вам крайний срок сдачи задания, но&nbsp;вы&nbsp;можете
                                    установить свой: лучше сдать раньше и&nbsp;иметь больше времени на&nbsp;исправления.
                                    Заведите доску в&nbsp;Trello: так вы&nbsp;сможете видеть на&nbsp;одном экране, какие
                                    задания в&nbsp;процессе, а&nbsp;к&nbsp;каким вы&nbsp;ещё не&nbsp;приступили.
                                    Добавляйте в&nbsp;Trello не&nbsp;только сами задания, но&nbsp;и&nbsp;личные задачи.
                                    Например, &laquo;разобраться с&nbsp;темой подробнее&raquo;, &laquo;спросить у&nbsp;преподавателя
                                    про...&raquo; и&nbsp;прочее.</p>
                                <figure>
                                    <a href='{{ static("v2/img/pages/stayhome/trello-screen.jpg") }}' target="_blank">
                                    <img class="img-fluid" src='{{ static("v2/img/pages/stayhome/trello-screen.jpg") }}'
                                         alt="Trello screenshot">
                                    </a>
                                </figure>
                                <p><b>Попробуйте технику Pomodoro.</b> Отключите на&nbsp;25&nbsp;минут всё, что может отвлечь,
                                    и&nbsp;погрузитесь в&nbsp;сфокусированную работу: чтение, письмо, решение задачи.
                                    Используйте обычные часы или <a href="https://tomato-timer.com/" target="_blank">pomodoro-таймер</a>.&nbsp;25&nbsp;минут&nbsp;&mdash; это
                                    стандартное время, в&nbsp;течение которого человек способен сфокусироваться, но&nbsp;вы&nbsp;можете
                                    адаптировать его под себя: сделать отрезок короче или длиннее. В&nbsp;конце сессии
                                    придумайте короткое вознаграждение: разомнитесь, выпейте чашку кофе, зайдите на&nbsp;любимый
                                    сайт в&nbsp;интернете. </p>
                                <p><b>Пользуйтесь разными ресурсами для обучения</b>, не&nbsp;ограничивайтесь лекциями и&nbsp;конспектами.
                                    Не&nbsp;стесняйтесь задавать вопросы преподавателям во&nbsp;время или после лекций,
                                    просите совета у&nbsp;сокурсников, если зашли в&nbsp;тупик, разбирайте задачи
                                    вместе, если курс это позволяет. Постарайтесь не&nbsp;забывать заботиться о&nbsp;себе
                                    и&nbsp;не&nbsp;жертвуйте сном ради учёбы: это сказывается на&nbsp;ваших когнитивных
                                    способностях.</p>
                                <p>Если у&nbsp;вас есть вопросы по&nbsp;настройке процесса, напишите нам на&nbsp;<a
                                        href="mailto:info@compscicenter.ru">info@compscicenter.ru</a>&nbsp;&mdash;
                                    мы&nbsp;попробуем помочь.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-8 text-center text-md-left">
                    <div class="col-12 col-md-auto pb-4 pb-md-0">
                        <img src="{{ static('v2/img/pages/stayhome/pencil.svg')}}" alt="Pencil" width="32" height="32">
                    </div>
                    <div class="col pl-2">
                        <p class="h4">Если у&nbsp;вас есть вопросы по&nbsp;настройке процесса, напишите нам
                        на&nbsp;<a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a>&nbsp;&mdash;
                        мы&nbsp;попробуем помочь.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid _dark text-center">
    <div class="container py-10">
        <div class="row content-center py-10">
            <div class="col-12">
                <h2 class="h1">Материалы CS центра онлайн</h2>
                <div class="row content-center">
                    <div class="col-md-10">
                        <p>Используйте доступные в&nbsp;интернете курсы и&nbsp;видеозаписи лекций, дополняйте
                            семинарами и&nbsp;добавляйте
                            к&nbsp;ним свои задания. Что есть в&nbsp;коллекции центра, что может помочь
                            преподавателям
                            математики и&nbsp;программирования?</p>
                    </div>
                </div>

                <div class="card-deck _three pt-8">
                    <a href="https://compscicenter.ru/videos/?types=course" target="_blank" class="card _shadowed">
                        <div class="card__header">
                            <div class="cover__content px-8 pt-8 pb-0">
                                <img src="{{ static('v2/img/pages/stayhome/star.svg')}}" alt="Star" width="80" height="80">
                            </div>
                        </div>
                        <div class="card__content pb-8">
                            <h3 class="h2">Видеозаписи очных курсов</h3>
                        </div>
                    </a>
                    <a href="https://stepik.org/org/compscicenter" target="_blank" rel="noopener" class="card _shadowed">
                        <div class="card__header">
                            <div class="cover__content px-8 pt-8 pb-0">
                                <img src="{{ static('v2/img/pages/stayhome/star.svg')}}" alt="Star" width="80" height="80">
                            </div>
                        </div>
                        <div class="card__content pb-8">
                            <h3 class="h2">Онлайн-курсы центра </h3>
                        </div>
                    </a>
                    <a href="https://compscicenter.ru/videos/?types=lecture" target="_blank" class="card _shadowed">
                        <div class="card__header">
                            <div class="cover__content px-8 pt-8 pb-0">
                                <img src="{{ static('v2/img/pages/stayhome/star.svg')}}" alt="Star" width="80" height="80">
                            </div>
                        </div>
                        <div class="card__content pb-8">
                            <h3 class="h2">Открытые лекции на&nbsp;разные темы</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}