{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Команда {{ super() }}{% endblock title %}

{% macro person_card(name, member_of, position, image_url='', page_url='' ) %}
  {% if page_url %}
    <a href="{{ page_url }}" target="_blank" rel="noopener nofollow" class="card _user mb-6" itemscope itemtype="https://schema.org/Person">
  {% else -%}
    <div class="card _user mb-6" itemscope itemtype="https://schema.org/Person">
  {% endif -%}
  <div class="card__img">
    <img src="{{ static(image_url) }}" alt="{{ name }}" itemprop="image">
  </div>
  <div class="card__title" itemprop="name">
    {{ name }}
  </div>
  {% if member_of %}
    <div class="card__subtitle" itemprop="memberOf">
      {{ member_of }}
    </div>
  {% endif -%}
  {% if position %}
    <div class="card__subtitle" itemprop="jobTitle">
      {{ position }}
    </div>
  {% endif -%}
  {% if page_url %}
    </a>
  {% else -%}
    </div>
  {% endif -%}
{%- endmacro %}

{% set council = [
  {
    "name": "Андрей Иванов",
    "member_of": "JetBrains",
    "image_url": "v2/img/pages/team/ivanov_a.jpg"
  },
  {
    "name": "Александр Куликов",
    "member_of": "ПОМИ РАН, CS клуб",
    "image_url": "v2/img/pages/team/kylikov_a.jpg",
    "page_url": "http://logic.pdmi.ras.ru/~kulikov/"
  },
  {
    "name": "Евгения Куликова",
    "member_of": "Яндекс",
    "image_url": "v2/img/pages/team/kylikova_e.jpg"
  }
] %}

{% set employees_spb = [
  {
    "name": "Александр Авдюшенко",
    "image_url": "v2/img/pages/team/avdushenko_a.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Екатерина Артамонова",
    "image_url": "v2/img/pages/team/artamonova_e.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Алексей Белозёров",
    "image_url": "v2/img/pages/team/belozerov_a.jpg",
    "job_title": "Оператор и монтажёр"
  },
  {
    "name": "Матвей Брыксин",
    "image_url": "v2/img/pages/team/bryksin_m.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Сергей Жеревчук",
    "image_url": "v2/img/pages/team/zherevchuk_sv.jpg",
    "job_title": "Разработчик"
  },
  {
    "name": "Андрей Комендантов",
    "image_url": "v2/img/pages/team/komendantov_a.jpg",
    "job_title": "Разработчик"
  },
  {
    "name": "Мария Конопелько",
    "image_url": "v2/img/pages/team/konopelko_m.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Екатерина Лебедева",
    "image_url": "v2/img/pages/team/lebedeva_ekaterina.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Святослав Михайлов",
    "image_url": "v2/img/pages/team/mikhaylov_s.jpg",
    "job_title": "Дизайнер"
  },
  {
    "name": "Екатерина Михайлова",
    "image_url": "v2/img/pages/team/mikhaylova_e.jpg",
    "job_title": "Дизайнер"
  },
  {
    "name": "Альбина Нуртдинова",
    "image_url": "v2/img/pages/team/nurtdinova_a.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Вера Оленникова",
    "image_url": "v2/img/pages/team/olennikova_v.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Кристина Смольникова",
    "image_url": "v2/img/pages/team/smolnikova_k.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Екатерина Широкова",
    "image_url": "v2/img/pages/team/shirokova_e.jpg",
    "job_title": "Куратор"
  }
] %}

{% set employees_nsk = [
  {
    "name": "Анастасия Волошина",
    "image_url": "v2/img/pages/team/voloshina_a.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Алина Комиссарова",
    "image_url": "v2/img/pages/team/komissarova_a.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Елена Лебедева",
    "image_url": "v2/img/pages/team/lebedeva_elena.jpg",
    "job_title": "Куратор"
  },
  {
    "name": "Александра Михайлова",
    "image_url": "v2/img/pages/team/mikhaylova_a.jpg",
    "job_title": "Оператор и монтажёр"
  },
  {
    "name": "Павел Наумов",
    "image_url": "v2/img/pages/team/naumov_p.jpg",
    "job_title": "Оператор и монтажёр"
  }
] %}


{% block content %}
<div class="container page-content">
    <div class="row content-center">
        <div class="team__title col-sm-10">
            <h1>Совет центра</h1>
            <p>Совет отвечает за содержание учебного процесса и развитие центра. Цель Совета — сделать
                так, чтобы каждому студенту центра было полезно и интересно учиться, а ряды преподавателей и выпускников
                пополнялись из года  в год. Совет активно занимается онлайн-образованием и
                расширением деятельности  CS центра за пределы Санкт-Петербурга.</p>
        </div>

        <div class="col-lg-12">
            <div class="card-deck _team">
              {% for person in council -%}
                {{ person_card(name=person["name"],
                               member_of=person["member_of"],
                               position="",
                               image_url=person["image_url"],
                               page_url=person.get("page_url", "")) }}
              {% endfor -%}
            </div>
        </div>

        <div class="team__title col-sm-10 mt-8">
            <h2>Санкт-Петербург</h2>
        </div>

        <div class="col-lg-12">
            <div class="card-deck _team">
              {% for person in employees_spb -%}
                {{ person_card(name=person["name"],
                               member_of="",
                               position=person["job_title"],
                               image_url=person["image_url"],
                               page_url="") }}
              {% endfor -%}
            </div>
        </div>

        <div class="team__title col-sm-10 mt-8">
            <h2>Новосибирск</h2>
        </div>
        <div class="col-lg-12">
            <div class="card-deck _team">
              {% for person in employees_nsk -%}
                {{ person_card(name=person["name"],
                               member_of="",
                               position=person["job_title"],
                               image_url=person["image_url"],
                               page_url="") }}
              {% endfor -%}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
