// Z-levels from materialcss and mui frameworks
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  // replaced with .mui--z1
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

// From Remark bootstrap template. Useful for forms.
.margin-top-0 {
    margin-top: 0!important
}

.margin-top-3 {
    margin-top: 3px!important
}

.margin-top-5 {
    margin-top: 5px!important
}

.margin-top-10 {
    margin-top: 10px!important
}

.margin-top-15 {
    margin-top: 15px!important
}

.margin-top-20 {
    margin-top: 20px!important
}

.margin-top-25 {
    margin-top: 25px!important
}

.margin-top-30 {
    margin-top: 30px!important
}

.margin-top-35 {
    margin-top: 35px!important
}

.margin-top-40 {
    margin-top: 40px!important
}

.margin-top-45 {
    margin-top: 45px!important
}

.margin-top-50 {
    margin-top: 50px!important
}

.margin-top-60 {
    margin-top: 60px!important
}

.margin-top-70 {
    margin-top: 70px!important
}

.margin-top-80 {
    margin-top: 80px!important
}

.margin-bottom-0 {
    margin-bottom: 0!important
}

.margin-bottom-3 {
    margin-bottom: 3px!important
}

.margin-bottom-5 {
    margin-bottom: 5px!important
}

.margin-bottom-10 {
    margin-bottom: 10px!important
}

.margin-bottom-15 {
    margin-bottom: 15px!important
}

.margin-bottom-20 {
    margin-bottom: 20px!important
}

.margin-bottom-25 {
    margin-bottom: 25px!important
}

.margin-bottom-30 {
    margin-bottom: 30px!important
}

.margin-bottom-35 {
    margin-bottom: 35px!important
}

.margin-bottom-40 {
    margin-bottom: 40px!important
}

.margin-bottom-45 {
    margin-bottom: 45px!important
}

.margin-bottom-50 {
    margin-bottom: 50px!important
}

.margin-bottom-60 {
    margin-bottom: 60px!important
}

.margin-bottom-70 {
    margin-bottom: 70px!important
}

.margin-bottom-80 {
    margin-bottom: 80px!important
}





// RIBBON
//.ribbon {
//  position: relative;
//  left: -3px;
//  text-align: center;
//
//  .ribbon-inner {
//    position: absolute;
//    top: 16px;
//    left: 0;
//    display: inline-block;
//    height: 30px;
//    padding-right: 20px;
//    padding-left: 20px;
//    line-height: 30px;
//    color: #fff;
//    white-space: nowrap;
//    background-color: #526069;
//  }
//}
//
//
//.ribbon-primary .ribbon-inner {
//  background-color: $color-blue;
//}
//.ribbon-primary.ribbon-bookmark .ribbon-inner:before {
//  border-color: #57c7d4;
//  border-right-color: transparent;
//}
//.ribbon-primary.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-left-color: transparent;
//}
//.ribbon-primary.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-bottom-color: transparent;
//}
//.ribbon-primary.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-bottom-color: transparent;
//  border-left-color: #57c7d4;
//}
//.ribbon-primary.ribbon-corner .ribbon-inner {
//  background-color: transparent;
//}
//.ribbon-primary.ribbon-corner .ribbon-inner:before {
//  border-top-color: #57c7d4;
//  border-left-color: #57c7d4;
//}
//.ribbon-primary.ribbon-corner.ribbon-reverse .ribbon-inner:before {
//  border-right-color: #57c7d4;
//  border-left-color: transparent;
//}
//.ribbon-primary.ribbon-corner.ribbon-bottom .ribbon-inner:before {
//  border-top-color: transparent;
//  border-bottom-color: #57c7d4;
//}
//.ribbon-primary .ribbon-inner:after {
//  border-top-color: #47b8c6;
//  border-right-color: #47b8c6;
//}
//.ribbon-primary.ribbon-reverse .ribbon-inner:after {
//  border-right-color: transparent;
//  border-left-color: #47b8c6;
//}
//.ribbon-primary.ribbon-bottom .ribbon-inner:after {
//  border-top-color: transparent;
//  border-bottom-color: #47b8c6;
//}


// List group derived
.list-group-dividered {
  .list-group-item {
    &:first-child {
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
      border-bottom: 0;
    }
    border: 1px solid rgba(0, 0, 0, 0);
    border-top-color: #e4eaec;

    &.disabled, &.disabled:focus, &.disabled:hover {
      background: none;
    }
    
    &.active, &.active:focus, &.active:hover {
      background: none;
      color: $color-blue;
    }
  }
}
  .list-group-dividered .list-group-item.active:hover {
    border-top-color: #e4eaec;
  }
  .list-group-dividered .list-group-item:last-child {
    border-bottom-color: #e4eaec;
  }
  .list-group-dividered .list-group-item:first-child {
    border-top-color: transparent;
  }
  .list-group-dividered .list-group-item:first-child.active:hover {
    border-top-color: transparent;
  }

  .list-group-full .list-group-item {
    padding-right: 0;
    padding-left: 0;
  }

// Dropdown with bullet
.dropdown-menu.bullet {
  margin-top: 12px
}

.dropdown-menu.bullet:after, .dropdown-menu.bullet:before {
  position: absolute;
  left: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  content: '';
  border: 7px solid transparent;
  border-top-width: 0;
}

.dropdown-menu.bullet.pull-right:after, .dropdown-menu.bullet.pull-right:before {
  right: 22px;
  left: auto;
}

.dropdown-menu.bullet:before {
  top: -7px;
  border-bottom-color: #ccc
}

.dropdown-menu.bullet:after {
  top: -6px;
  border-bottom-color: #fff
}

.dropdown-menu-right.bullet:after, .dropdown-menu-right.bullet:before {
  right: 10px;
  left: auto
}