{% extends "base.html" %}

{% load i18n %}
{% load user_thumbnail from user_thumbnail %}
{% load markdown call_method from core_tags %}
{% load static %}

{% block body_attrs %} data-init-section="lazy-img"{% endblock body_attrs %}

{% block content %}
    <div id="graduates-by-year">
        <div class="graduates-list">
            <h3>Выпуск {{ year }} в лицах</h3> <a href="#stats" class="dashed-link">Статистика</a>{% if testimonials %}<a href="#testimonials" class="dashed-link">Отзывы о CS центре</a>{% endif %}
            <div class="clearfix"></div>
            <div class="c-student-faces">
            {% for graduate_profile in graduates %}
                <div class="student">
                    <a href="{{ graduate_profile.get_absolute_url }}">
                        {% call_method graduate_profile "get_thumbnail" graduate_profile.student.ThumbnailSize.SQUARE as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        <figcaption>{{ graduate_profile.student.last_name }} {{ graduate_profile.student.first_name }}</figcaption>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>

        <a name="stats"></a><h3>Статистика</h3>
        <div class="stats">
            <div class="row">
                <div class="col-xs-6">
                    <div class="widget __alumni">
                        <div class="widget-content clearfix">
                            <div class="counter counter-lg ">
                                <div class="counter-number-group">
                                    <span class="counter-number">{{ stats.total }}</span>
                                    <span class="counter-number-related">{% blocktrans count counter=stats.total context "alumni" %}graduate{% plural %}graduates{% endblocktrans %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="widget __teachers">
                        <div class="widget-content clearfix">
                            <div class="counter counter-lg ">
                                <div class="counter-number-group">
                                    <span class="counter-number">{{ stats.teachers_total }}</span>
                                    <span class="counter-number-related">{% blocktrans count counter=stats.teachers_total context "alumni" %}teacher{% plural %}teachers{% endblocktrans %}</span>
                                </div>
                            </div>
                            <div class="pull-right white">
                                <i class="icon icon-circle icon-2x wb-users bg-blue-600"
                                   aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="widget __hours">
                        <div class="widget-content">
                          <div class="counter counter-lg">
                            <div class="counter-number-group">
                              <span class="counter-number">{{ stats.hours }}</span>
                            </div>
                            <div class="counter-label">{% blocktrans count counter=stats.hours context "alumni" %}hour{% plural %}hours{% endblocktrans %} в аудитории</div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="widget __practices">
                        <div class="widget-content">
                          <div class="counter counter-lg">
                            <div class="counter-number-group">
                              <span class="counter-number">{{ stats.projects_total }}</span>
                            </div>
                            <div class="counter-label">{% blocktrans count counter=stats.projects_total context "alumni" %} project and research work{% plural %}projects and research works{% endblocktrans %}</div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="widget __courses">
                        <div class="widget-content">
                          <div class="counter counter-lg">
                            <div class="counter-number-group">
                              <span class="counter-number">{{ stats.courses.total }}</span>
                            </div>
                            <div class="counter-label ">{% blocktrans count counter=stats.courses.total context "alumni" %}passed course{% plural %}passed courses{% endblocktrans %}</div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if testimonials %}
        <div class="testimonials-wrapper">
           <a name="testimonials"></a><h3>Отзывы о CS центре</h3>
            <div class="testimonials __list">
                {% for graduate_profile in testimonials %}
                <div class="col-xs-12">
                    <div class="testimonial{% if forloop.counter|divisibleby:2 %} right{% endif %}">
                        <blockquote>
                            {% markdown 3600 "csc_review" graduate_profile.pk graduate_profile.modified %}
                                {{ graduate_profile.testimonial }}
                            {% endmarkdown %}
                        </blockquote>
                        <div>
                            {% call_method graduate_profile "get_thumbnail" graduate_profile.student.ThumbnailSize.SQUARE as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            <span><a href="{{ graduate_profile.get_absolute_url }}">{{ graduate_profile.student.get_short_name }}</a></span>{% for a in graduate_profile.academic_disciplines.all %}{{ a }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="{%  url "testimonials" %}" class="big-link">Читать все отзывы</a>
        </div>
        {% endif %}
    </div>
{% endblock content %}