#questions-wrapper {
  @extend .container;

  .center-header {
    margin-top: 0;
  }

  .panel-title {
    font-size: 18px;
    line-height: 1.2;
  }

  > .panel-group {
    > .panel {
     > .panel-collapse {
      max-height: 2000px;
      overflow: hidden;
      //@include transition(max-height 0.4s ease-in);

      &.collapse {
        display: block;
        max-height: 0;
        //@include transition(max-height 0.4s ease);
      }

      .panel-body {
        font-size: 14px;
      }
    }

    }
  }
}

