.sprite-img._arrow-bottom {
	width: 16px;
	height: 16px;
}

.sprite-img._arrow-left {
	width: 16px;
	height: 16px;
}

.sprite-img._arrow-right {
	width: 16px;
	height: 16px;
}

.sprite-img._arrow-top {
	width: 16px;
	height: 16px;
}

.sprite-img._border-arrow-right {
	width: 32px;
	height: 32px;
}

.sprite-img._facebook {
	width: 24px;
	height: 24px;
}

.sprite-img._github {
	width: 24px;
	height: 24px;
}

.sprite-img._habr {
	width: 24px;
	height: 24px;
}

.sprite-img._instagram {
	width: 24px;
	height: 24px;
}

.sprite-img._logo-csc {
	width: 74px;
	height: 26px;
}

.sprite-img._pause {
	width: 20px;
	height: 20px;
}

.sprite-img._play {
	width: 20px;
	height: 20px;
}

.sprite-img._slides {
	width: 22px;
	height: 15px;
}

.sprite-img._telegram {
	width: 24px;
	height: 24px;
}

.sprite-img._top-banner-kids {
	width: 70px;
	height: 60px;
}

.sprite-img._twitter {
	width: 24px;
	height: 24px;
}

.sprite-img._user-sign {
	width: 24px;
	height: 24px;
}

.sprite-img._vk {
	width: 24px;
	height: 24px;
}

.sprite-img._youtube {
	width: 24px;
	height: 24px;
}

