.sprite-img._algorythms-part1 {
	width: 368px;
	height: 212px;
}

.sprite-img._algorythms-part2 {
	width: 368px;
	height: 212px;
}

.sprite-img._course {
	width: 368px;
	height: 212px;
}

.sprite-img._python {
	width: 368px;
	height: 212px;
}

