._facebook {
	width: 21px;
	height: 21px;
}

._instagram {
	width: 21px;
	height: 21px;
}

._logo-csc {
	width: 74px;
	height: 26px;
}

._logo-csclub {
	width: 92px;
	height: 70px;
}

._logo-fml239 {
	width: 64px;
	height: 70px;
}

._logo-jetbrains {
	width: 66px;
	height: 70px;
}

._logo-shad {
	width: 92px;
	height: 70px;
}

._top-banner-kids {
	width: 70px;
	height: 60px;
}

._twitter {
	width: 21px;
	height: 21px;
}

._vk {
	width: 21px;
	height: 21px;
}

._youtube {
	width: 21px;
	height: 21px;
}

