._cs {
	width: 115px;
	height: 78px;
}

._ds {
	width: 115px;
	height: 78px;
}

._logo-csclub {
	width: 92px;
	height: 70px;
}

._logo-fml239 {
	width: 64px;
	height: 70px;
}

._logo-jetbrains {
	width: 66px;
	height: 70px;
}

._logo-shad {
	width: 92px;
	height: 70px;
}

._se {
	width: 115px;
	height: 78px;
}

