.sprite-img._calendar {
	width: 16px;
	height: 16px;
}

.sprite-img._cross {
	width: 24px;
	height: 24px;
}

.sprite-img._location {
	width: 16px;
	height: 16px;
}

.sprite-img._password-hidden {
	width: 20px;
	height: 20px;
}

.sprite-img._search {
	width: 20px;
	height: 20px;
}

