// XXX: Copied from bootstrap4. Removed media-query support since CS Center site doesn't support responsiveness.

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$spacer: 5px !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  5: $spacer,
  10: ($spacer * 2),
  15: ($spacer * 3),
  20: ($spacer * 4),
  25: ($spacer * 5),
  30: ($spacer * 6),
  40: ($spacer * 8),
  50: ($spacer * 10)
), $spacers);

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}


// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash infront.
// Useful for making responsive utilities.
//
//    >> breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    ""  (Returns a blank string)
//    >> breakpoint-infix(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    "-sm"
@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}



// Margin and Padding

  $infix: "";

  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {

      .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      .#{$abbrev}t#{$infix}-#{$size},
      .#{$abbrev}y#{$infix}-#{$size} {
        #{$prop}-top: $length !important;
      }
      .#{$abbrev}r#{$infix}-#{$size},
      .#{$abbrev}x#{$infix}-#{$size} {
        #{$prop}-right: $length !important;
      }
      .#{$abbrev}b#{$infix}-#{$size},
      .#{$abbrev}y#{$infix}-#{$size} {
        #{$prop}-bottom: $length !important;
      }
      .#{$abbrev}l#{$infix}-#{$size},
      .#{$abbrev}x#{$infix}-#{$size} {
        #{$prop}-left: $length !important;
      }
    }
  }

  // Some special margin utils
  .m#{$infix}-auto { margin: auto !important; }
  .mt#{$infix}-auto,
  .my#{$infix}-auto {
    margin-top: auto !important;
  }
  .mr#{$infix}-auto,
  .mx#{$infix}-auto {
    margin-right: auto !important;
  }
  .mb#{$infix}-auto,
  .my#{$infix}-auto {
    margin-bottom: auto !important;
  }
  .ml#{$infix}-auto,
  .mx#{$infix}-auto {
    margin-left: auto !important;
  }
