<div class="input-daterange">
    <div class="input-group datetimepicker">
        <span class="input-group-addon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        {% with widget=widget.subwidgets.0  %}
            {% include widget.template_name %}
        {% endwith %}
    </div>
    <div class="input-group datetimepicker">
        <span class="input-group-addon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        {% with widget=widget.subwidgets.1  %}
            {% include widget.template_name %}
        {% endwith %}
    </div>
</div>