{% extends "compscicenter_ru/layouts/base.html" %}

{% import "compscicenter_ru/macros/_cards.jinja2" as macros_cards %}

{% block title %}Открытая лекция в {{ super() }}{% endblock title %}

{% block sprites %}
    <script type="text/javascript">
        (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-10">
                <a href="{{ url("video_list") }}" class="text-small text-muted">Видеозаписи лекций /</a>
                <h1>{{ recorded_event.name }}</h1>
                {{ macros.video_iframe(url=recorded_event.video_url, modifiers='mb-6') }}
                {% if recorded_event.slides_url %}
                    <div class="external-links mb-6">
                        <a href="{{ recorded_event.slides_url }}" target="_blank" rel="noopener">{{ macros.svg_icon('slides') }}<span>Слайды с лекции</span></a>
                    </div>
                {% endif %}
                {% with speakers=recorded_event.speakers.all() %}
                    {% if speakers|length > 0 %}
                        <h3>Лектор{% if speakers|length > 1 %}ы{% endif %}</h3>
                        {% for speaker in speakers %}
                            <div class="mb-4">
                                {{ macros_cards.speaker_card(speaker) }}
                                {{ speaker.description }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h3>Описание</h3>
                {{ recorded_event.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
