// Variables
$card-border-width: 1px;
$card-border-radius: $border-radius !default;
$card-border-color: $gray-lighter;
$card-inner-border-radius: $card-border-radius;
$card-cap-bg: rgba($black, .03) !default;
$card-bg: $white !default;


//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  font-size: $font-size-base;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  overflow: hidden;
  padding: 0;

  &._inverted {
    background-color: $gray-lighter;
  }

  &._no-border {
    border: none;

    .card__content {
      padding-left: 0;
      padding-right: 0;
    }

    .card__img {
      @include border-radius($card-border-radius);
      overflow: hidden;
    }
  }
}


.card__content,
.card__header {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: spacer("4x");

  // FIXME: rename to `small-text`
  &._small {
    font-size: $font-size-sm;
  }
}

.card__title {
  margin-bottom: spacer("1x");
  font-size: $font-size-lg;
  line-height: $line-height-sm;
}

.card__img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  text-align: center;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
  }
}



//
// Header navs
//

//.card-header-tabs {
//  margin-right: -($card-spacer-x / 2);
//  margin-bottom: -$card-spacer-y;
//  margin-left: -($card-spacer-x / 2);
//  border-bottom: 0;
//}
//
//.card-header-pills {
//  margin-right: -($card-spacer-x / 2);
//  margin-left: -($card-spacer-x / 2);
//}


