._testimonials {
  &.card-columns {
    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }

  .card {
    border-radius: 0;
  }
}


.testimonial {
  @include font-smoothing();
  padding: spacer("6x");
  color: $gray-darker;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: $font-size-base;
  justify-content: center;
  text-align: center;
  @include media-breakpoint-up(lg) {
    display: flex;
    text-align: left;
  }

  &._bubble {
    padding: 0;

    .testimonial__author {
      line-height: $line-height-sm;

      span {
        margin: 0;
      }
    }

    img {
      @include media-breakpoint-up(lg) {
        margin-right: spacer("2x");
      }
    }
  }

  img {
    @include media-breakpoint-up(lg) {
      margin-right: spacer("4x");
    }
  }

}

.testimonial__details {
  flex-basis: 0;
  flex-grow: 1;

  ul {
    @include media-breakpoint-down(md) {
      list-style: none;
      padding: 0;
    }
    li {
      padding-bottom: spacer("1x");
    }
  }
}

.testimonial__author {
  flex-basis: 0;
  flex-grow: 1;

  h4 {
    margin: spacer("4x") 0 0 0;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }

  a {
    font-size: $font-size-base;
  }

  span {
    font-size: $font-size-sm;
    margin: spacer("1x") 0;
    display: block;
    color: $gray-dark;
  }
}

.testimonial__quote {
  color: $body-color;
  font-size: $font-size-sm;
  padding: spacer("4x");
  position: relative;
  background-color: $gray-lighter;
  margin-bottom: 1rem;
  border-radius: $border-radius-sm;
  text-align: left;
  max-width: 100%;  // for ie10

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 14px solid $gray-lighter;
    left: 50%;
    margin-left: -18px;
    @include media-breakpoint-up(lg) {
      left: 6px;
      margin-left: auto;
    }
  }
}
