// FIXME: badge should be numeric, others - labels. So, replace badge with label where necessary and remove this hard style
.badge {
  border-radius: 0 !important;
}

.badge.lecture, .badge.seminar {
  width: 6em;
}

.badge-success {
  background-color: $btn-success-bg;
  font-weight: 400;
  padding: 3px 6px;
}