hr.code {
    position: relative;
    max-width: 90%;
    border: none;
    margin: 50px auto;
    height: 1px;
    background: #f2f2f2;
    background: -webkit-linear-gradient(left,#f2f2f2 0,#b5b5b5 50%,#f2f2f2 100%);
    background: linear-gradient(to right,#f2f2f2 0,#b5b5b5 50%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2', GradientType=1 );

  &:before {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      background: #fff;
      font-family: "FontAwesome";
      content: "\f121";
      padding: 0 25px;
      font-size: 35px;
  }
}

hr.deadline {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    font-size: 14px;
    max-width: 80%;

    &:before {
        content: "";
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }
    &:after {
        content: "после дедлайна";
        position: relative;
        display: inline-block;
        line-height: 1.5em;
        padding: 0 1em;
        color: #b5b5b5;
        background-color: #fff;
    }
}
