hr.code {
    position: relative;
    max-width: 90%;
    border: none;
    margin: 50px auto;
    height: 1px;
    background: #f2f2f2;
    background: -webkit-linear-gradient(left,#f2f2f2 0,#b5b5b5 50%,#f2f2f2 100%);
    background: linear-gradient(to right,#f2f2f2 0,#b5b5b5 50%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2', GradientType=1 );

  &:before {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      background: #fff;
      font-family: "FontAwesome";
      content: "\f121";
      padding: 0 25px;
      font-size: 35px;
  }
}

hr.deadline {
    @extend hr.code;

    margin: 30px auto;
    max-width: 80%;

    &:before {
        content: "после дедлайна";
        font-size: 14px;
        color: #b5b5b5;
        font-family: inherit;
    }
}
