.page-aside {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 260px;
  border-right: 1px solid #e4eaec;
  background: #fff;
  -webkit-transition: visibility .1s ease,top .3s ease,left .5s ease;
  -o-transition: visibility .1s ease,top .3s ease,left .5s ease;
  transition: visibility .1s ease,top .3s ease,left .5s ease;
  overflow-y: hidden;
  + .page-main {
    margin-left: 260px;
    padding-left: 20px;
  }
  .list-group-item.active {
    z-index: 0;
    &:focus, &:hover {
      z-index: 0;
    }
  }
}

.page-aside-fixed {
  .page-aside {
    position: fixed;
    top: 116px;
    left: 0;
    height: -webkit-calc(100% - 116px);
    height: calc(100% - 116px);
  }
  .page-aside-inner {
    overflow-y: scroll;
    height: 100%;
  }
  .site-footer {
    margin-left: 260px;
  }
}

.page-aside-section {
  position: relative;
  &:first-child {
    padding-top: 22px;
  }
  &:last-child {
    margin-bottom: 22px;
  }
  &:after {
    content: '';
    position: relative;
    display: block;
    margin: 10px;
    border-bottom: 1px solid #e4eaec;
  }
  &:last-child:after {
    display: none;
  }
}

.page-aside-switch {
  display: none;
  cursor: pointer;
  position: absolute;
  left: -webkit-calc(100% - 1px);
  left: calc(100% - 1px);
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  background-color: #fff;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 100px 100px 0;
  line-height: 1;
  padding: 15px 8px 15px 4px;
  .wb-chevron-right {
    display: inline;
  }
  .wb-chevron-left {
    display: none;
  }
}

.page-aside-title {
  padding: 10px;
  margin: 20px 0 10px;
  font-weight: 500;
  line-height: 1.3;
  color: #526069;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.page-aside {
  .list-group {
    margin-bottom: 22px;
  }
  .list-group-item {
    padding: 10px 10px;
    margin-bottom: 1px;
    border: none;
    //white-space: nowrap;
    overflow: hidden;
    //text-overflow: ellipsis;
    .icon {
      color: #a3afb7;
    }
    .item-right {
      float: right;
    }
    &:focus, &:hover {
      background-color: $background-grey;
      border: none;
      color: #62a8ea;
    }
    &:focus > .icon, &:hover > .icon {
      color: #62a8ea;
    }
    &.active {
      background-color: $background-grey;
      color: #62a8ea;
      > .icon {
        color: #62a8ea;
      }
      &:focus, &:hover {
        background-color: $background-grey;
        border: none;
        color: #62a8ea;
      }
      &:focus > .icon, &:hover > .icon {
        color: #62a8ea;
      }
    }
  }
  .list-group.has-actions .list-group-item {
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    //line-height: 36px;
    .list-editable {
      display: none;
      position: relative;
      .input-editable-close {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        margin: 0;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        outline: 0;
        -webkit-appearance: none;
      }
      .form-group {
        margin: 0;
      }
    }
    .item-actions {
      display: none;
      position: absolute;
      right: 20px;
      top: 6px;
      .btn-icon {
        padding-left: 2px;
        padding-right: 2px;
        background-color: transparent;
        &:hover .icon {
          color: #62a8ea;
        }
      }
      .icon {
        margin: 0;
      }
    }
    &:hover {
      .item-right {
        display: none;
      }
      .item-actions {
        display: block;
        .icon {
          color: #76838f;
        }
      }
    }
  }
}