{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/syntax-object-rest-spread",
    "transform-es2015-spread",
    // Allow class constants
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}