{% extends "v2/layouts/inner.jinja2" %}

{% block title %}{{ super() }}{% endblock title %}

{% block body_attrs %}class="_dark"{% endblock body_attrs %}

{% block content %}
    <div class="cover _program">
        <div class="container text-center">
            <div class="cover__content">
                <img src="/media/academic_disciplines/ds-white.svg" alt="">
                <h1 class="cover__title mb-0">Data Science</h1>
                <p class="cover__subtitle">/ Анализ данных</p>
                <div class="row content-center mt-10">
                    <div class="col-lg-10">
                        <p>Направление Data Science можно рассматривать как отделение Школы анализа данных Яндекса в&nbsp;Санкт-Петербурге
                    и&nbsp;в&nbsp;Новосибирске. Здесь ведётся подготовка специалистов в&nbsp;области обработки и&nbsp;анализа
                    данных и&nbsp;извлечения информации из&nbsp;интернета.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-10">
        <div class="row content-center">
                <h2>Базовые курсы программы</h2>
            <div class="col-lg-9">
                <p class="text-center">Базовые курсы разбиты на&nbsp;группы. Вам не&nbsp;обязательно сдавать все, но&nbsp;из&nbsp;каждой
                    группы нужно закончить
                    хотя&nbsp;бы один. Для наглядности мы&nbsp;пронумеровали группы и&nbsp;отметили курсы.</p>
            </div>
            <div class="col-lg-12 text-center">
                <ul class="nav-tabs content-center mt-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Санкт-Петербург</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новосибирск</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-deck _three mb-8">
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    1
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/pages/syllabus/distance/algorythms-part1.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Алгоритмы и&nbsp;структуры данных, часть&nbsp;1
                    </div>
                    Курс посвящён базовым идеям построения и&nbsp;анализа алгоритмов, а&nbsp;также изучения
                    структур данных.
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    2
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/pages/syllabus/distance/algorythms-part2.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Алгоритмы и&nbsp;структуры данных, часть&nbsp;2
                    </div>
                    Продолжение изучения базовых алгоритмов
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    3
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/placeholder/course.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Дополнительные главы алгоритмов, часть&nbsp;1
                    </div>
                    Курс рассчитан на&nbsp;студентов, сдавших базовые курсы по&nbsp;алгоритмам
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    4
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/placeholder/course.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Дополнительные главы алгоритмов, часть&nbsp;2
                    </div>
                    Курс рассчитан на&nbsp;студентов, сдавших базовые курсы по&nbsp;алгоритмам
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    4
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/placeholder/course.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Асимптотический анализ и&nbsp;теория вероятностей
                    </div>
                    В&nbsp;курсе разбираются следующие темы: теория множеств, асимптотики, производящие функции,
                    дискретная и&nbsp;условная вероятность, случайные величины, предельные теоремы.
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    5
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/placeholder/course.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Основы дискретной математики
                    </div>
                    Целью курса является знакомство слушателей с&nbsp;основными понятиями и&nbsp;методами дискретной
                    математики.
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    5
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/placeholder/course.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Программирование на&nbsp;Java
                    </div>
                    Курс знакомит слушателей с&nbsp;языком Java на&nbsp;базовом уровне, но&nbsp;как в&nbsp;теории, так и&nbsp;на&nbsp;практике.
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    5
                </div>
                <div class="card__img">
                   <img src="/static/v2/img/pages/syllabus/distance/python.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Программирование на&nbsp;Python
                    </div>
                    Курс ориентирован на&nbsp;людей, уже знакомых с&nbsp;каким-либо языком программирования, например,
                    Java или
                    C++.
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    6
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/placeholder/course.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Машинное обучение, часть&nbsp;1
                    </div>
                    Курс является первой частью годового курса. Он&nbsp;знакомит слушателей с&nbsp;основными понятиями и&nbsp;базовыми
                    методами машинного обучения.
                </div>
            </a>
            <a href="#" class="card _program _shadowed">
                <div class="right-label">
                    7
                </div>
                <div class="card__img">
                    <img src="/static/v2/img/placeholder/course.png" alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Машинное обучение, часть&nbsp;2
                    </div>
                    Курс является второй частью годового курса. В&nbsp;нём более подробно затрагиваются другие методы
                    машинного обучения.
                </div>
            </a>
        </div>
    </div>
    <div class="container-fluid _light">
        <div class="container pt-10 pb-10">
            <div class="row">
                <div class="col-lg-6 mb-10 mb-lg-0">
                    <img class="img-fluid" src="/static/v2/img/pages/syllabus/education_rules.jpg" alt="">
                </div>
                <div class="col-lg-6 pl-0 pl-lg-4 mt-0 mt-xl-6">
                    <h2>Правила очного обучения</h2>
                    <p>Студенты петербургского отделения&nbsp;CS центра учатся два или три года&nbsp;&mdash; по&nbsp;выбору
                        студента, заканчивают одну или несколько программ обучения и&nbsp;проходят любое количество
                        интересных курсов.</p>
                    <p>Для выпуска нужно сдать двенадцать курсов и&nbsp;пройти три семестра практики или
                        научно-исследовательской работы. У&nbsp;каждой программы обучения есть базовые курсы, которые
                        нужно закончить для выпуска. Слушателям доступны некоторые заочные курсы ШАД и&nbsp;курсы
                        Computer Science клуба.</p>

                    <a href="/v2/pages/enrollment/" class="btn _primary">Поступить в CS центр</a>
                </div>
            </div>
        </div>
    </div>
    <div class="csc-student-reviews">
        <div class="container">
            <h2 class="text-center">Отзывы студентов</h2>
            <div class="card-columns _testimonials">
                <div class="card">
                    <div class="card__content _middle">
                        <div class="author _testimonial">
                            <img class="author__img" width="74" height="74" src="/media/pages/index/student.png" alt="">
                            <div class="author__details">
                                <h4>Евгений Игоревич Викулов</h4>
                                <span>Выпуск 2017, Разработка ПО</span>
                            </div>
                            <div class="author__testimonial">CS центр — это место, где сбываются мечты. Настоящая кладовая
                                знаний, где каждому
                                открыт
                                путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                                живое
                                общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                                руководители практик, кураторы, студенты – благодаря всем им в CS центре
                                образуется
                                невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                                Здесь
                                очень круто и увлекательно!
                                <ul>
                                    <li>огромный выбор направлений, в которых интересно развиваться,</li>
                                    <li>преподаватели, на пары к которым действительно хочется ходить,</li>
                                    <li>интересные темы практик (последняя переросла в мой диплом),</li>
                                    <li>умнейшие люди, общаясь с которыми, хочется идти и развиваться дальше.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content _middle">
                        <div class="author _testimonial">
                            <img class="author__img" width="74" height="74" src="/media/pages/index/student.png" alt="">
                            <div class="author__details">
                                <h4>Евгений Игоревич Викулов</h4>
                                <span>Выпуск 2017, Разработка ПО</span>
                            </div>
                            <div class="author__testimonial">CS центр — это место, где сбываются мечты. Настоящая кладовая
                                знаний, где каждому
                                открыт
                                <ul>
                                    <li>огромный выбор направлений, в которых интересно развиваться,</li>
                                    <li>преподаватели, на пары к которым действительно хочется ходить,</li>
                                    <li>интересные темы практик (последняя переросла в мой диплом),</li>
                                    <li>умнейшие люди, общаясь с которыми, хочется идти и развиваться дальше.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content _middle">
                        <div class="author _testimonial">
                            <img class="author__img" width="74" height="74" src="/media/pages/index/student.png" alt="">
                            <div class="author__details">
                                <h4>Евгений Игоревич Викулов</h4>
                                <span>Выпуск 2017, Разработка ПО</span>
                            </div>
                            <div class="author__testimonial">CS центр — это место, где сбываются мечты. Настоящая кладовая
                                знаний, где каждому
                                открыт
                                путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                                живое
                                общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                                руководители практик, кураторы, студенты – благодаря всем им в CS центре
                                образ
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__content _middle">
                        <div class="author _testimonial">
                            <img class="author__img" width="74" height="74" src="/media/pages/index/student.png" alt="">
                            <div class="author__details">
                                <h4>Евгений Игоревич Викулов</h4>
                                <span>Выпуск 2017, Разработка ПО</span>
                            </div>
                            <div class="author__testimonial">CS центр — это место, где сбываются мечты. Настоящая кладовая
                                знаний, где каждому открыт путь к желаемым знаниям и умениям. Интересные курсы,
                                увлекательные практики, живое
                                общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                                руководители практик, кураторы, студенты – благодаря всем им в CS центре
                                образуется
                                невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                                Здесь
                                очень круто и увлекательно!
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}