{% import "lms/macros/_global.jinja2" as macros %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=960">
    <meta name="google-site-verification" content="pBs4x-E9VGlX-gA7WxCNEqcYB0TYJCSmcZtSeLBpEgk" />
    <title>{% block title %}{{ request.site.name }}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ static(FAVICON_PATH) }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ static("v1/dist/css/center/style.css") }}" rel="stylesheet">
    {% if request.user.is_curator %}
        <link href="{{ static("v1/dist/css/center/staff.css") }}" rel="stylesheet">
    {% endif %}
    {% block hightlight_styles %}
    <link href="{{ static("v1/css/vendor/highlight-styles/tomorrow.css") }}" rel="stylesheet">
    {% endblock hightlight_styles %}
    {% block stylesheets %} {% endblock stylesheets %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      // Global Configuration
      window.__CSC__ = {
        profile: {
          timezone: "{{ request.user.time_zone|string }}"
        },
        config: {
          csrfCookieName: "{{ CSRF_COOKIE_NAME }}",
          sentryDSN: "{{ SENTRY_DSN }}",
          JS_SRC: {
            MATHJAX: '//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML',
            HIGHLIGHTJS: "{{ static("v1/js/vendor/highlight.pack.js") }}"
          },
          // Used to reflow editor on tab toggle event
          uberEditors: [],
          localStorage: {
            // Map from hash to dummy value (effectively a set)
            hashes: []
          }
        },
        notifications: {{ messages(request)|tojson }},
      };
    </script>
  </head>

  <body {% block body_attrs %}{% endblock body_attrs %}>
    {% block menu %}{%- include "lms/layouts/_top_menu.html" -%}{% endblock menu %}

    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          hello world
        </div>
      </div>
    </div>
    {% endblock content %}

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">{{ request.site.name }}, {{ ESTABLISHED }}–23 {{ _("гг.") }}</div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="{{ static("v1/js/vendor/jquery-3.5.1.min.js") }}"><\/script>')</script>

    {{ render_bundle('vendor', config='V1', extension='js') }}
    {{ render_bundle('main', config='V1', extension='js') }}

    {% block javascripts %}{% endblock javascripts %}

    {% if YANDEX_METRIKA_ID %}
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
         (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

         ym({{ YANDEX_METRIKA_ID }}, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
         });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/{{ YANDEX_METRIKA_ID }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
    {% endif %}
  </body>
</html>
