{% set menu = csc_menu(request, "compscicenter") %}
{% set user = request.user %}
<nav class="navbar navbar-main{% if menu_theme %} {{ menu_theme }}{% endif %}">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#top-menu-mobile" aria-controls="top-menu-mobile"
                aria-expanded="false" aria-label="Toggle navigation">
            {{ macros.svg_inline('burger-menu') }}
        </button>
        <a class="navbar-logo" href="/">{{ macros.svg_inline('logo-csc') }}</a>

        <div class="menu-desktop-wrapper">
            <ul class="navbar-nav">
                {% for menu_item in menu["tree"] %}
                    <li class="nav-item {% if menu_item.id in menu["active_items"] %}_active{% endif %}">
                        <a class="nav-link" {% if menu_item.extension.open_in_new_window %}target="_blank"{% endif %} href="{{ menu_item.url }}">{{ menu_item.caption }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="menu-mobile-wrapper collapse" id="top-menu-mobile">
            <ul>
                {% for menu_item in menu["tree"] -%}
                    <li>
                        {% if menu_item.children -%}
                            <a class="nav-link{% if menu_item.id in menu["active_items"] %} _active{% endif %}"
                               href="{{ menu_item.url }}"
                               data-toggle="collapse" aria-expanded="{% if menu_item.id in menu["active_items"] %}true{% else %}false{% endif %}"
                               data-target="#top-menu-item-{{ loop.index }}"
                               aria-controls="top-menu-item-{{ loop.index }}"
                            >{{ menu_item.caption }} {{ macros.svg_inline('arrow-bottom') }}</a>
                            <div class="mobile-submenu collapse {% if menu_item.id in menu["active_items"] %}show{% endif %}" id="top-menu-item-{{ loop.index }}">
                                {% for item in menu_item.children -%}
                                <a class="mobile-submenu-item{% if item.id in menu["active_items"] %} _active{% endif %}" href="{{ item.url }}">{{ item.caption }}</a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <a class="nav-link{% if menu_item.id in menu["active_items"] %} _active{% endif %}" href="{{ menu_item.url }}">{{ menu_item.caption }}</a>
                        {% endif -%}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if not request.user.is_authenticated %}
            <a class="btn btn--outline btn-reg" href="{{ url('login') }}{% if not request.path.startswith("/login") %}?next={{ request.get_full_path()|urlencode}}{% endif %}">
                Войти <div class="btn-reg--icon"></div>
            </a>
        {% else %}
            <div class="dropdown dropdown-user-menu">
                <button class="btn" type="button" id="userMenuButton" data-id="{{ request.user.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>{{ request.user.get_short_name() }}</span>
                    {%- with im = request.user.get_thumbnail("60x60", use_stub=False) -%}
                        {%- if im -%}
                            <img class="user-menu-img" src="{{ im.url }}" alt="{{ request.user.get_full_name() }}">
                        {%- else -%}
                            <img src="{{ static('v2/img/icons/user-sign.svg') }}" width="30" height="30" alt="">
                        {%- endif -%}
                    {%- endwith %}
                </button>
                <div class="dropdown-menu _arrow-right" aria-labelledby="userMenuButton">
                    <a class="dropdown-item" href="{{ request.user.get_absolute_url() }}">Профиль</a>
                    {% if request.user.is_project_reviewer or request.user.is_curator_of_projects %}
                        <a class="dropdown-item" href="{{ url('projects:report_list_reviewers') }}">Проекты</a>
                    {% endif %}
                    {% if request.user.is_interviewer %}
                        <a class="dropdown-item" href="{{ url('admission:interviews') }}">Набор</a>
                    {% endif %}
                    {% if request.user.is_student %}
                        <a class="dropdown-item" href="{{ url('assignment_list_student') }}">Обучение</a>
                    {% endif %}
                    {% if request.user.is_teacher %}
                        <a class="dropdown-item" href="{{ url('assignment_list_teacher') }}">Преподавание</a>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <a class="dropdown-item" href="{{ url('staff:student_search') }}">Курирование</a>
                        <a class="dropdown-item" href="{{ url('stats:index') }}">Статистика</a>
                        <a class="dropdown-item" href="{{ url('admin:index') }}">Админ-панель</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url('logout') }}">Выйти</a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

{% if show_submenu %}
    <nav class="navbar navbar-submenu">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item _active">
                    <a class="nav-link" href="#">Цели и история</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Команда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Преподаватели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Выпускники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Отзывы</a>
                </li>
            </ul>

        </div>
    </nav>
{% endif %}
