{% macro tabs(tab_list, modifiers='') -%}
    <ul class="ui nav nav-tabs{% if modifiers %} {{ modifiers }}{% endif %}" role="tablist">
    {% for tab in tab_list -%}
        <li class="nav-item">
            <a class="nav-link{% if tab.active %} active{% endif %}"
               data-toggle="tab" role="tab"
               id="tab__{{ tab.target }}"
               data-target="#{{ tab.target }}"
               href="{{ tab.url }}"
               aria-controls="{{ tab.target }}"
               aria-selected="{% if tab.active %}true{% else %}false{% endif %}">{{ tab.name }}</a>
        </li>
    {%- endfor %}
    </ul>
{%- endmacro %}