{% extends "base.html" %}
{# Note: Templates are duplicated in python and js code. Make sure to edit in both place. #}
{% load i18n %}
{% load lookup from core_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
{% endblock stylesheets %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-ru_RU.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $('.__courses-filter--academic-year select').selectpicker({
            showTick: false,
            iconBase: 'fa',
            tickIcon: 'fa-check',
            width: 'fit',
        });
    </script>
    <script type="text/javascript">
        window.courseOfferingsData = JSON.parse('{{ json|escapejs|safe }}');
    </script>

    <script type="text/template" id="courses-list-table-row">
        <tr>
            <td><% if (co.is_open) { %><span data-title="{% trans "CS club course" %}" class="__club"></span><% } %><a href="<%-co.url%>" class="__course"><%-co.name%></a></td>
            <td>
                <% if (co.with_video) { %><a data-title="{% trans "Video" %}" class="icon __video" href="<%-co.url%>classes/"></a><%
                } %><% if (co.with_slides) { %><a data-title="{% trans "Slides" %}" class="icon __image" href="<%-co.url%>classes/"></a><%
                } %><% if (co.with_files) { %><a data-title="{% trans "Files" %}" class="icon __file" href="<%-co.url%>classes/"></a><% } %>
            </td>
            <td>
                <% for (var i = 0; i < co.teachers.length; i++) { %>
                    <a class="__teacher text-nowrap" href="<%=co.teachers[i].url%>"><%=co.teachers[i].name%></a><% if (i != co.teachers.length - 1) { %>, <% } %>
                <% } %>
            </td>
        </tr>
    </script>

    <script type="text/template" id="courses-term-filter-option">
        <a data-type="<%=term.type%>" href="#<%=term.type%>"<% if (term.type == activeType) { %>class="active"<% } %>><%=term.name%></a>
    </script>
{% endblock javascripts %}

{% block content %}
    <div class="container" id="courses-list">
        <h1 class="content-title">Очные курсы в CS центре</h1>

        <p class="margin-bottom-40">Центр предлагает курсы для студентов и аспирантов технических направлений вузов и молодых специалистов. Главное — интерес к учёбе, возможность приходить на занятия по будним вечерам и время для самостоятельной работы. Чтобы попасть на обучение, нужно <a href="/enrollment/">поступить</a> по конкурсу.</p>

        <ul class="nav nav-tabs square" role="tablist">
            {% for city_code, city_name in cities %}
            <li role="presentation" {% if city_code == active_city %}class="active"{% endif %}>
                <a data-target="#courses-{{ city_code }}" aria-expanded="{% if city_code == active_city %}true{% else %}false{% endif %}"
                   aria-controls="courses-{{ city_code }}"
                   href="{% url 'course_list' %}?city={{ city_code }}">{{ city_name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% if terms %}
            <form action="" class="form-inline __courses-filter">
                <div class="form-group __courses-filter--academic-year">
                    Учебный год: <select name="academic_year" class="form-control">
                        {% for term_year in terms %}
                        <option value="{{ term_year }}"{% if term_year == active_academic_year %}selected{% endif %}>{{ term_year }}/{{ term_year|add:"1" }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group __courses-filter--term">
                    {% with types=terms|lookup:active_academic_year %}
                        Семестр: {% for term_type in types reversed %}
                            <a data-type="{{ term_type }}" href="#{{ term_type }}"{% if term_type == active_type %}class="active"{% endif %}>{{ TERM_TYPES|lookup:term_type }}</a>{% endfor %}
                    {% endwith %}
                </div>
            </form>
        {% endif %}

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="courses">
                {% if courses|lookup:active_slug %}
                    <table class="table __courses">
                        <thead>
                            <tr>
                                <th style="width:470px;">Название</th>
                                <th style="width:200px;">Материалы курса</th>
                                <th>Преподаватели</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for co in courses|lookup:active_slug %}
                                <tr>
                                    <td>{% if co.is_open %}<span data-title="{% trans "CS club course" %}" class="__club"></span>{% endif %}<a href="{{ co.url }}" class="__course">{{ co.name }}</a></td>
                                    <td>
                                        {% spaceless %}
                                        {% if co.with_video %}<a data-title="{% trans "Video" %}"  class="icon __video" href="{{ co.url }}classes/"></a>{% endif %}
                                        {% if co.with_slides %}<a data-title="{% trans "Slides" %}" class="icon __image" href="{{ co.url }}classes/"></a>{% endif %}
                                        {% if co.with_files %}<a data-title="{% trans "Files" %}" class="icon __file" href="{{ co.url }}classes/"></a>{% endif %}
                                        {% endspaceless %}
                                    </td>
                                    <td>
                                        {% for teacher in co.teachers %}
                                            <a class="__teacher text-nowrap" href="{{ teacher.url }}">{{ teacher.name }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4 class="text-center">{% trans "No courses yet" %}</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
