{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container" id="international-schools">
    <h1 class="page-header">{% trans "International Computer Science Student Schools" %}</h1>
    {% blocktrans %}
        If you would like a school to be added to this list email the club coordinator: Alexander Kulikov, kulikov()logic.pdmi.ras.ru<br>
        Subscribe: <a href="https://www.facebook.com/compscischools">Facebook</a>
    {% endblocktrans %}
    {% if schools %}
        <table class="table">
            <thead>
            <tr>
                <th>{% trans "Deadline" context "international Schools" %}</th>
                <th>{% trans "Title" %}</th>
                <th width="200">{% trans "Dates" %}</th>
                <th>{% trans "Location" %}</th>
                <th>{% trans "Grants" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for school in schools %}
                <tr>
                    <td>{{ school.deadline|date:"d.m.Y" }}</td>
                    <td><a href="{{ school.link }}">{{ school.name }}</a></td>
                    <td>{{ school.starts_at|date:"d.m.Y" }}{% if school.ends_at %} - {{ school.ends_at|date:"d.m.Y" }}{% endif %}</td>
                    <td>{{ school.place }}</td>
                    <td>{% if school.has_grants %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
              Сейчас нет международных школ, которые мы могли бы вам рекомендовать.
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}