{% extends "v2/layouts/inner.jinja2" %}


{% block content %}
    <div class="container page-content">
        <h1>Cards</h1>
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card__content">
                        <div class="card__title">
                            Default
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card">
                    <div class="card__content">
                        Without title<br>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card _inverted">
                    <div class="card__content">
                        <div class="card__title">
                            Inverted
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card _no-border">
                    <div class="card__content">
                        <div class="card__title">
                            Without border
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
        </div>
        <h3 class="mt-10">Top Image Support</h3>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                    <div class="card__content">
                        <div class="card__title">
                            Default
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card _inverted">
                    <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                    <div class="card__content">
                        <div class="card__title">
                            Inverted
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card _no-border">
                    <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                    <div class="card__content">
                        <div class="card__title">
                            Without border
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card _inverted">
                    <img class="card__img" src="/media/online_courses/c_bd.png" alt="">
                    <div class="card__content _small">
                        Untitled (+ small text)<br>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-10">Header Support</h3>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card__header">
                        Default
                    </div>
                    <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                    <div class="card__content">
                        <div class="card__title">
                            Default
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card__header _dark">
                        Header
                    </div>
                    <div class="card__content">
                        <div class="card__title">
                            Default
                        </div>
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                        будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>
        </div>

        <h1 class="mt-10">Card decks</h1>
        <div class="row">
            <div class="col-lg-3">
                TODO
            </div>
        </div>
    </div>

{% endblock content %}
