{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="cover">
        <h1 class="cover__title mb-0">Заголовок</h1>
        <div class="cover__subtitle">Подзаголовок</div>
        <div class="cover__text">
            Студенты петербургского отделения CS центра учатся два или три года
        </div>
    </div>
    <div class="cover _green-gradient">
        <div class="container">
            <div class="cover__content">
                <h1 class="cover__title mb-0">Green gradient cover</h1>
                <div class="cover__subtitle">/ Подзаголовок</div>
                Студенты петербургского отделения CS центра учатся два или три года — по выбору студента, заканчивают одну или несколько программ обучения и проходят любое количество интересных курсов.
            </div>
        </div>
    </div>
{% endblock content %}