{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-12">
                <h1>Fluid image</h1>
                <figure class="figure">
                    <img src="/media/pages/text-page/cs-lecture.png" class="figure-img img-fluid" alt="">
                    <figcaption class="figure-caption">Лекция в Computer Science Center</figcaption>
                </figure>

                <h1>Fix height</h1>
                <figure class="figure">
                    <img src="/media/pages/text-page/cs-lecture.png" class="figure-img h-150px" alt="">
                    <figcaption class="figure-caption">Лекция в Computer Science Center с очень длинным заголовком</figcaption>
                </figure>
                <figure class="figure">
                    <img src="/media/pages/text-page/cs-lecture.png" class="figure-img h-150px" alt="">
                </figure>
                <figure class="figure">
                    <img src="/media/pages/text-page/cs-lecture.png" class="figure-img h-150px" alt="">
                    <figcaption class="figure-caption">Лекция в Computer Science Center</figcaption>
                </figure>
            </div>
        </div>
    </div>
{% endblock content %}
