{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1>Navigation</h1>
                <ul>
                    <li><a href="/v2/components/grid/">Grid</a></li>
                    <li><a href="/v2/components/typography/">Typography</a></li>
                    <li><a href="/v2/components/list/">List</a></li>
                    <li><a href="/v2/components/images/">Images</a></li>
                    <li><a href="/v2/components/video/">Video</a></li>
                    <li><a href="/v2/components/icons/">Icons</a></li>
                    <li><a href="/v2/components/labels/">Labels</a></li>
                    <li>
                        <a href="/v2/components/cards/">Cards</a>
                        <ul>
                            <li><a href="/v2/components/cards/announcements/">Announcements</a></li>
                            <li><a href="/v2/components/cards/horizontal/">Horizontal</a></li>
                            <li><a href="/v2/components/author_card/">Author Card (+ testimonial)</a></li>
                            <li><a href="/v2/components/user_cards/">User Cards</a> TODO: rewrite with card component</li>
                            <li><a href="/v2/components/cards/cover/">With cover</a></li>
                        </ul>
                    </li>
                    <li>
                        Top Menu
                        <ul>
                            <li><a href="/v2/components/menu/">Top Menu for authenticated user</a></li>
                            <li><a href="/v2/components/menu/auth_without_avatar/">Top Menu for authenticated user (without avatar)</a></li>
                            <li><a href="/v2/components/menu/unauth/">Top Menu for unauthenticated user</a></li>
                            <li><a href="/v2/components/menu/without_banner/">Top Menu without banner</a></li>
                        </ul>
                    </li>
                    <li>
                        Preloader
                        <ul>
                            <li><a href="/v2/components/preloader/">Component Preloader</a></li>
                            <li><a href="/v2/components/preloader_page/">Full Page Preloader</a></li>
                        </ul>
                    </li>
                    <li><a href="/v2/components/noty/">Notifications</a></li>
                    <li><a href="/v2/components/forms/">Forms</a></li>
                    <li><a href="/v2/components/survey/">Survey</a></li>
                    <li><a href="/v2/components/tabs/">Tabs</a></li>
                    <li><a href="/v2/components/pagination/">Pagination</a></li>
                    <li><a href="/v2/components/message/">Message</a></li>
                    <li><a href="/v2/components/timeline/">Timeline</a></li>
                    <li><a href="/v2/components/cover/">Cover</a></li>
                    <li><a href="/v2/components/buttons/">Buttons</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
