{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}
    <script type="text/javascript">
        (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg")  }}");
    </script>
{% endblock sprites %}

{% block content %}
    <div class="container page-content">

        <div class="row">
            <div class="col-lg-9">
                <h2>Labels</h2>
                <h3>Types</h3>
                <div class="ui label">2018</div>  <a href="#" class="ui label _blue">Курсы</a> <a href="#" class="ui label _green">Лекции</a>
                <br><br>
                <h3>Icons</h3>
                <div class="ui label _icon">
                    {{ macros.svg_icon('location') }}<span>Санкт-Петербург, БЦ «Таймс»</span>
                </div>
                <div class="ui label _icon">
                    {{ macros.svg_icon('calendar') }}<span>21 сентября в 20:00</span>
                </div>
                <br><br>
                <h3>Circular</h3>
                <div class="ui label _circular">2018</div>  <a href="#" class="ui label _circular _blue">Курсы</a> <a href="#" class="ui label _circular _green">Лекции</a>
                <br><br>
                <h4>Grouped</h4>
                <div class="ui labels _circular">
                    <div class="ui label">2018</div>  <a href="#" class="ui label _blue">Курсы</a> <a href="#" class="ui label _green">Лекции</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
