{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="col-lg-12">
            <h1>12-column</h1>
            <div class="card-deck _users">
                <a class="card _user" href="#">
                    <div class="card__img">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                        <div class="achievements">

                        </div>
                    </div>
                    <div class="card__title">Кaолосовский Михаил</div>
                </a>
                <a class="card _user" href="#">
                    <div class="card__img">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Анастасия Лавренко</div>
                </a>
                <a class="card _user" href="#">
                    <div class="card__img">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Абдукодири Курбонзода</div>
                </a>
                <a class="card _user" href="#">
                    <div class="card__img">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Абдукодири Курбонзода</div>
                </a>
                <a class="card _user" href="#">
                    <div class="card__img">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Абдукодири Курбонзода</div>
                </a>
                <a class="card _user" href="#">
                    <div class="card__img">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="card__title">Абдукодири Курбонзода</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
