{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item page-item_previously"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item disabled"><p class="page-link">…</p></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>

                <nav aria-label="Page navigation example">
                    <ul class="pagination mobile-view">
                        <li class="page-item page-item_previously"><a class="page-link"
                                                                      href="#">{{ macros.svg_inline('arrow-left') }}</a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">1 из 10</a></li>
                        <li class="page-item page-item_next"><a class="page-link"
                                                                href="#">{{ macros.svg_inline('arrow-right', 'bg-dark') }}</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endblock content %}
