{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-6">
            <h2>First active item</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6">
            <h2>Next active item</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6">
            <h2>Fourth item</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item active"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6">
            <h2>8th item is active</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item active"><a class="page-link" href="#">8</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6">
            <h2>9th item is active</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item active"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#">11</a></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6">
            <h2>The last item is active</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#">11</a></li>
                        <li class="page-item active"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next disabled"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container page-content" style="background:#ecf0f2;">
        <div class="row">
            <div class="col-lg-8">
                <h2>On gray bg</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container page-content">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Mobile view</h2>
                <nav aria-label="Page navigation example">
                    <ul class="pagination mobile-view content-center">
                        <li class="page-item disabled"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item disabled"><p class="page-status" href="#">1 из 10</p></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right', 'bg-dark') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}
