{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-9">
                <h2>Base timeline</h2>
                FIXME: [critical] Компонент вылазит за границы
               <div class="timeline">
                    <a class="timeline__date" href="#">Link</a>
                    <div class="timeline__date" href="#">Simple text</div>
                    <div class="timeline__date" href="#">Multiple<br>lines</div>
                    <a class="timeline__date active" href="#">Active element</a>
                    <a class="timeline__date" href="#">2014</a>
                    <a class="timeline__date" href="#">2013</a>
                    <a class="timeline__date" href="#">2011</a>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>Student history</h2>
                    <div class="timeline _person-history">
                        <div class="timeline__content">
                            <div class="timeline__text">
                                <span class="timeline__date">20 мая 2017</span>
                                <p>Подала заявление</p></div>
                        </div>

                        <div class="timeline__content">
                            <div class="timeline__text">
                                <span class="timeline__date">31 мая 2017</span>
                                <p>Написала экзамен на 9/10</p></div>
                        </div>

                        <div class="timeline__content">
                            <div class="timeline__img">
                                <img class="img-fluid" src="/static/v2/img/placeholder/girl.png" alt="">
                            </div>
                            <div class="timeline__text">
                                <span class="timeline__date _important">10 июня 2017</span>
                                <h3>Зачислена в CSC и длинный заголовок на несколько строчек</h3>
                            </div>
                        </div>
                        <div class="timeline__content">
                            <div class="timeline__text">
                                <span class="timeline__date">Осень 2017</span>
                                <ul class="_unstyled">
                                    <li>Алгоритмы и структуры данных, часть 1, осень 2017 /отлично/
                                    </li>
                                    <li>Программирование на C++, часть 1, осень 2017 /отлично/
                                    </li>
                                    <li>Программирование на Java, осень 2017 /отлично/</li>
                                </ul>
                            </div>
                        </div>
                        <div class="timeline__content">
                            <div class="timeline__text">
                                <span class="timeline__date">Весна 2018</span>
                                <ul class="_unstyled">
                                    <li>Алгоритмы и структуры данных, часть 2, осень 2017 /отлично/
                                    </li>
                                    <li>Программирование на Java, осень 2017 /отлично/</li>
                                </ul>
                            </div>
                        </div>
                        <div class="timeline__content _photo">
                            <div class="timeline__img">
                                <img class="img-fluid" src="/static/v2/img/placeholder/girl.png" alt="">
                            </div>
                            <div class="timeline__text">
                                <span class="timeline__date _important">Весна 2018</span>
                                <h3>Закончила обучение в CS центре</h3>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}
