{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">

        <div class="row">
            <div class="col-lg-9">
                <h2>Видео</h2>
                <section class="content-block">
                    <div class="video">
                        <iframe class="embed _responsive" src="https://www.youtube.com/embed/A3SomwRa5iw"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}
