{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load markdown from core_tags %}
{% load staticfiles %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "js/alumni.js" %}"></script>
{% endblock javascripts %}

{% block content %}
    {% regroup object_list by graduation_year as alumni_list %}
    <div id="graduates">
        <div class="graduates-list-filter">
            <ul class="nav nav-tabs square" role="tablist">
                <li {% if not selected_area_of_study %}class="active"{% endif %}>
                    <a href="{{ base_url }}">{% trans "All areas" %}</a>
                    {% for area in areas_of_study %}
                        <li{% if area.code == selected_area_of_study %}
                            class="active"{% endif %}>
                        <a href="{{ base_url }}{{ area.code }}/">{{ area }}</a>
                    {% endfor %}
            </ul>
        </div>

        <div class="graduates-list">
            {% for alumni_by_year in alumni_list %}
                <h3>{{ alumni_by_year.grouper }}</h3>
                {% with firstyear=forloop.first %}
                {% for alumni in alumni_by_year.list %}
                    <div class="alumni">
                        {% if alumni.photo %}
                            {% thumbnail alumni.photo "170x238" crop="center top" cropbox=alumni.photo_thumbnail_cropbox as im %}
                                <img {% if firstyear %}src="{{ im.url }}"{% else %}class="lazy" data-original="{{ im.url }}"{% endif %} width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        {% else %}
                            <img width="170" height="238" data-src="holder.js/170x238?text=%3F&fontweight=normal&size=50" />
                        {% endif %}
                        <a href="{{ alumni.get_absolute_url }}">{{ alumni.first_name }} {{ alumni.last_name }}</a>
                    </div>
                {% endfor %}
                {% endwith %}
                {# Hack to fix flex grid #}
                {% if not alumni_by_year.list|length|divisibleby:"5" %}
                    <div class="fix-grid"></div>
                    <div class="fix-grid"></div>
                    <div class="fix-grid"></div>
                    <div class="fix-grid"></div>
                    <div class="clearfix"></div>
                {% endif %}
                {% empty %}
                <div class="empty">{% trans "No alumni yet" %}.</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}