{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load markdown from core_tags %}
{% load staticfiles %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "js/alumni.js" %}"></script>
{% endblock javascripts %}

{% block content %}
    <div id="graduates-by-year">
    {% if alumni_list %}
        <div class="graduates-list">
            <h3>Выпуск {{ year }} в лицах</h3> <a href="#stats" class="dashed-link">Статистика</a>{% if testimonials %}<a href="#testimonials" class="dashed-link">Отзывы о CS центре</a>{% endif %}
            <div class="clearfix"></div>
            <div class="c-student-faces">
            {% for alumni in alumni_list %}
                <div class="student">
                    <a href="{{ alumni.get_absolute_url }}">
                    {% if alumni.photo %}
                        {% thumbnail alumni.photo "150x150" crop="center top" cropbox=alumni.photo_thumbnail_cropbox as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    {% else %}
                        <img width="150" height="150" data-src="holder.js/150x150?text=%3F&fontweight=normal&size=50" />
                    {% endif %}
                    <figcaption>{{ alumni.last_name }} {{ alumni.first_name }}</figcaption>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>

        <a name="stats"></a><h3>Статистика</h3>
        <div class="stats">
            <div class="row">
                <div class="col-xs-6">
                    <div class="widget __alumni">
                        <div class="widget-content clearfix">
                            <div class="counter counter-lg ">
                                <div class="counter-number-group">
                                    <span class="counter-number">{{ stats.total }}</span>
                                    <span class="counter-number-related">{% blocktrans count counter=stats.total context "alumni" %}graduate{% plural %}graduates{% endblocktrans %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="widget __teachers">
                        <div class="widget-content clearfix">
                            <div class="counter counter-lg ">
                                <div class="counter-number-group">
                                    <span class="counter-number">{{ stats.teachers_total }}</span>
                                    <span class="counter-number-related">{% blocktrans count counter=stats.teachers_total context "alumni" %}teacher{% plural %}teachers{% endblocktrans %}</span>
                                </div>
                            </div>
                            <div class="pull-right white">
                                <i class="icon icon-circle icon-2x wb-users bg-blue-600"
                                   aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="widget __hours">
                        <div class="widget-content">
                          <div class="counter counter-lg">
                            <div class="counter-number-group">
                              <span class="counter-number">{{ stats.hours }}</span>
                            </div>
                            <div class="counter-label">{% blocktrans count counter=stats.hours context "alumni" %}hour{% plural %}hours{% endblocktrans %} в аудитории</div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="widget __practices">
                        <div class="widget-content">
                          <div class="counter counter-lg">
                            <div class="counter-number-group">
                              <span class="counter-number">{{ stats.projects_total }}</span>
                            </div>
                            <div class="counter-label">{% blocktrans count counter=stats.projects_total context "alumni" %} project and research work{% plural %}projects and research works{% endblocktrans %}</div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="widget __courses">
                        <div class="widget-content">
                          <div class="counter counter-lg">
                            <div class="counter-number-group">
                              <span class="counter-number">{{ stats.courses.total }}</span>
                            </div>
                            <div class="counter-label ">{% blocktrans count counter=stats.courses.total context "alumni" %}passed course{% plural %}passed courses{% endblocktrans %}</div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if testimonials %}
        <div class="testimonials-wrapper">
           <a name="testimonials"></a><h3>Отзывы о CS центре</h3>
            <div class="testimonials __list">
                {% for student in testimonials %}
                <div class="col-xs-12">
                    <div class="testimonial{% if forloop.counter|divisibleby:2 %} right{% endif %}">
                        <blockquote>
                            {% markdown 3600 "csc_review" student.pk student.modified %}
                                {{ student.csc_review }}
                            {% endmarkdown %}
                        </blockquote>
                        <div>
                            {% if student.photo %}
                            {% thumbnail student.photo "150x150" crop="center top" cropbox=student.photo_thumbnail_cropbox as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            {% endif %}
                            <span><a href="{{ student.get_absolute_url }}">{{ student.get_full_name }}</a></span>{{  student.areas_of_study.all|join:", " }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="{%  url "testimonials" %}" class="big-link">Читать все отзывы</a>
        </div>
        {% endif %}
    {% else %}
        <div class="empty">Пока ждём выпуска!</div>
    {% endif %}
    </div>
{% endblock content %}