{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load markdown from core_tags %}
{% load static %}

{% block content %}
    {% regroup object_list by graduation_year as alumni_list %}
    <div id="graduates">
        <div class="graduates-list-filter">
            <ul class="nav nav-tabs material" role="tablist">
                <li {% if not selected_study_program %}class="active"{% endif %}>
                    <a href="{{ base_url }}">{% trans "All areas" %}</a>
                    {% for study_program in study_programs %}
                        <li{% if study_program.code == selected_study_program %}
                            class="active"{% endif %}>
                        <a href="{{ base_url }}{{ study_program.code }}/">{{ study_program }}</a>
                    {% endfor %}
            </ul>
        </div>

        <div class="graduates-list">
            {% for alumni_by_year in alumni_list %}
                <h3>{{ alumni_by_year.grouper }}</h3>
                {% for alumni in alumni_by_year.list %}
                    <div class="alumni">
                        {% if alumni.photo %}
                            {% thumbnail alumni.photo "170x238" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}"
                                     height="{{ im.height }}">
                            {% endthumbnail %}
                        {% else %}
                            <img width="170" height="238" data-src="holder.js/170x238?text=Нет%20фото&fontweight=normal" />
                        {% endif %}
                        <a href="{{ alumni.get_absolute_url }}">{{ alumni.first_name }} {{ alumni.last_name }}</a>
                    </div>
                {% endfor %}
                {# Hack to fix flex grid #}
                {% if not alumni_by_year.list|length|divisibleby:"5" %}
                    <div class="fix-grid"></div>
                    <div class="fix-grid"></div>
                    <div class="fix-grid"></div>
                    <div class="fix-grid"></div>
                    <div class="clearfix"></div>
                {% endif %}
                {% empty %}
                <div class="empty">{% trans "No alumni yet" %}.</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "js/alumni.js" %}"></script>
{% endblock javascripts %}