{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}

{% block content %}
    <page size="A4">
        <img src="{% static "v1/img/top_reference.png" %}" id="reference-page-header">
        <div id="reference-page-request">{% trans "Reference|Detail|request" %}</div>
        <div id="reference-page-body">
            <div class="title">{% trans "Reference|Detail|title" %}</div>
            Подтверждаю, что {{ object.student.get_full_name }} является {% if object.student.gender == object.student.GENDER_MALE %}студентом{% else %}студенткой{% endif %}
            Computer Science центра с сентября {{ object.student.enrollment_year }} года. За время обучения {{ object.student.first_name }} {{ object.student.patronymic }}
            успешно сдал{% if object.student.gender == object.student.GENDER_FEMALE %}а{% endif %} следующие курсы:
            <ol>
                {% for course_id, enrollment in user_enrollments.items %}
                    <li>
                        {{ enrollment.course }}
                      ({{ enrollment.grade_honest|lower }})
                    </li>
                {% endfor %}
                {% for shad in shads %}
                    <li>
                    {{ shad.name }} ({{ shad.grade_display|lower }})
                    </li>
                {% endfor %}
            </ol>
            <div id="reference-page-note">
                {{ object.note }}
            </div>
        </div>
        <div id="reference-page-curator-signature">
            <div class="left">
                {{ object.signature }}
            </div>
            <div class="cursive"></div>
        </div>
        <div id="reference-page-date-line">
            <div class="left">
                {% trans "Reference|Detail|signature" %}
            </div>
            <div class="date">{% now "d.m.Y" %}</div>
        </div>
        <div id="reference-page-footer">
            <div class="title">{% trans "Reference|Detail|info" %}:</div>
            https://compscicenter.ru
            <div class="email">info@compscicenter.ru</div>
        </div>
    </page>
{% endblock content %}