{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load userpreview from custom_thumbnail %}
{% load markdown from core_tags %}

{% block content %}
<div class="container">
<div class="row" id="teachers-detail">
<div class="col-xs-9 profile-body">
    <h2 class="content-title">{{ teacher.get_full_name }}</h2>
    {% if teacher.workplace %}<p>{{ teacher.workplace }}</p>{% endif %}
    {% if teacher.note %}
        <div class="about-me">
            <div class="ubertext">
              {% markdown 3600 "user_note" teacher.pk teacher.modified %}
                {{ teacher.note }}
              {% endmarkdown %}
            </div>
        </div>
    {% endif %}

    {% if user.is_authenticated and teacher.private_contacts %}
        <div class="contact-info">
            <h4>{% trans "Contact information" %}:</h4>
            <div class="ubertext">
              {% markdown 3600 "user_private_contacts" teacher.pk teacher.modified %}
                {{ teacher.private_contacts }}
              {% endmarkdown %}
            </div>
        </div>
    {% endif %}

    {% if teacher.course_offerings %}
        <h4>{% trans "Course offerings" %}</h4>
        <table class="table table-bordered">
          <thead>
            <tr class="active">
              <th>{% trans "Course" %}</th>
              <th>{% trans "Semester" %}</th>
            </tr>
          </thead>
            {% for course_offering in teacher.course_offerings %}
              <tr>
                <td><a href="{{ course_offering.get_absolute_url }}">{{ course_offering.meta_course.name }}</a></td>
                <td class="nowrap">{{ course_offering.semester }}</td>
              </tr>
            {% endfor %}
          </tr>
        </table>
    {% endif %}
    {% block gallery %}{% endblock gallery %}
</div>
<div class="col-xs-3 profile-sidebar">
    <div class="thumbnail text-center">
        {% userpreview teacher "170x238" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% empty %}
            <img src="{% static "v1/img/center/brain.jpg" %}">
        {% enduserpreview %}
    </div>
    {% if user.is_curator %}
        <a class="btn btn-default btn-block" href="{% url "user_detail" teacher.pk %}"><i class="fa fa-user-secret" aria-hidden="true"></i> Профиль </a>
    {% endif %}
</div>
</div>
</div>
{% endblock content %}
