{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load markdown from core_tags %}
{% load userpreview from custom_thumbnail %}
{% block title %}{{ profile_user.get_short_name }} - {% trans "Profile" %} {% trans "on site" %} Computer Science Center{% endblock title %}


{% block javascripts %}
    {#  Initial data  #}
    <script type="text/javascript">
        {# TODO: How to preload this staff with webpack? #}
        window.profileAppInit = {{ initial|safe }};
        window.profileAppInit["preload"] = [
            "{% static "js/vendor/FileAPI/FileAPI.min.js" %}"
        ];
        {% if user.is_curator %}
            $('.loginas-user').click(function(e) {
                e.preventDefault();
                var href = $(this).attr("href");
                $('<form>', {
                    "method": "POST",
                    "html": "{% csrf_token %}",
                    "action": href
                }).appendTo(document.body).submit();
            });
        {% endif %}
    </script>

    {% render_bundle 'profile' 'js' %}
{% endblock javascripts %}


{% block content %}
    <div id="profile">
        <header>
            <div class="thumbnail text-center">
                <div class="thumbnail-inner">
                    <div class="thumbnail-img">
                        {% userpreview profile_user "170x238" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% enduserpreview %}
                    </div>
                    {% if profile_user.pk == user.pk or user.is_curator %}
                        <div class="photo-actions">
                            <a href="#user-photo-upload">{% trans "Change photo" %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <h2>{{ profile_user.first_name }} {{ profile_user.patronymic }}<br>{{ profile_user.last_name }}
                {% if user.is_curator %}
                    <a href="{% url 'admin:users_cscuser_change' profile_user.pk %}"
                       target="_blank"><i class="fa fa-pencil-square-o"></i></a> <a title="Войти под пользователем" class="loginas-user" href="{% url 'loginas-user-login' profile_user.pk %}"><i class="fa fa-ils" aria-hidden="true"></i></a>
                {% endif %}</h2>

            {% if profile_user.is_graduate %}
                <div class="progress-info">
                    {% with u=profile_user %}
                    С сентября {{ u.enrollment_year }} года по июнь {{ u.graduation_year }} года<br>
                        {% if u.gender == 'F' %}прошла{% else %}прошёл{% endif %}
                        обучение по направлени{{ u.areas_of_study.all|pluralize:"ю,ям" }}
                        {% for program in u.areas_of_study.all %}{{ program.name_en }}{% if not forloop.last and forloop.first != forloop.last %} и {% endif %}{% endfor %}
                    {% endwith %}
                </div>
                {% elif profile_user.is_student %}
                <div class="progress-info">
                    {% trans "student"|title %}{% if profile_user.enrollment_year %} {{ profile_user.enrollment_year }} {% trans "enrolled in" context "user_detail" %}{% endif %}{% if profile_user.is_expelled %}, {{ profile_user.get_status_display|lower }}{% endif %}
                </div>
                {% elif profile_user.is_teacher %}
                <div class="progress-info">
                    {% trans "teacher"|title %}
                </div>
            {% endif %}
        </header>

        <div class="profile-additional-info">
            {% if profile_user.note.strip %}
                <div class="about-me">
                    <div class="ubertext">
                        {% markdown 3600 "user_note" profile_user.pk profile_user.modified %}
                            {{ profile_user.note }}
                        {% endmarkdown %}
                    </div>
                </div>
            {% elif profile_user.pk == user.pk or user.is_curator %}
                <div class="about-me"></div>
            {% endif %}
            {% if profile_user.csc_review %}
                <div class="review">
                    <h4>{% trans "Review of Computer Science Center" %}</h4>
                    <div class="ubertext">
                        {% markdown 3600 "csc_review" profile_user.pk profile_user.modified %}
                            {{ profile_user.csc_review }}{% endmarkdown %}
                    </div>
                </div>
            {% endif %}
            {% if profile_user.pk == user.pk or user.is_curator %}
                <div class="nav-tabs-inverse">
                    <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
                        <li class="active" role="presentation">
                            <a data-toggle="tab" href="#profile-tab" aria-controls="current" role="tab" aria-expanded="true">Профиль</a>
                        </li>
                        {% if is_editing_allowed %}
                            <li role="presentation">
                                <a href="{% url 'user_update' profile_user.pk %}"><i class="fa fa-cog"></i> {% trans "Edit" %}</a>
                            </li>
                        {% endif %}
                        {% if user.is_curator %}
                            <li role="presentation">
                                <a href="#for-curator-tab" role="tab" data-toggle="tab">
                                    <i class="fa fa-user-secret"></i> Для куратора
                                </a>
                            </li>
                            {% if profile_user.is_student or profile_user.is_graduate %}
                                <li role="presentation">
                                    <a href="#student-assignments-tab" role="tab" data-toggle="tab">
                                        <i class="fa fa-list"></i>&nbsp;Задания
                                    </a>
                                </li>
                                <li role="presentation"><a href="{% url 'user_reference_add' profile_user.pk %}" role="tab"><i class="fa fa-file-text-o"></i> {% trans "Create reference" %}</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="profile-content tab-content">
            {% if user.is_curator %}
                <div class="tab-pane" role="tabpanel" id="for-curator-tab">
                    <table class="table table-condensed table-striped">
                        <tr>
                            <td>Статус</td>
                            <td>{{ profile_user.get_status_display|default:"—" }}</td>
                        </tr>
                        <tr>
                            <td>Группы</td>
                            <td>
                                {% for group in profile_user.groups.all %}
                                    {% trans group.name %}{% if not forloop.last %}, {% endif %}{% empty %}нет указанных групп
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Успешно сдано курсов</td>
                            <td>
                                 {{ stats.passed.total }}
                            </td>
                        </tr>
                        <tr>
                            <td>Записей в этом семестре</td>
                            <td>{{ stats.in_term.total }} (на курсы Клуба/Центра/ШАД)</td>
                        </tr>
                        <tr>
                            <td>Ссылка на анкету</td>
                            <td>
                                {% if profile_user.applicant %}
                                    <a target="_blank" href="{{ profile_user.get_applicant_form_url }}">#{{ profile_user.applicant.pk }}</a>
                                {% else %} Анкета не найдена{% endif %}
                            </td>
                        </tr>
                    </table>

                    {% if profile_user.cscuserreference_set.count > 0 %}
                        {% if profile_user.is_student or profile_user.is_graduate %}
                            <h4 class="_mtop-30">{% trans "Student references" %}:</h4>
                            <ul>
                                {% for reference in profile_user.cscuserreference_set.all %}
                                    <li>
                                        <a href="{% url 'user_reference_detail' profile_user.id reference.id %}">
                                            {{ reference.created|date:"d.m.Y" }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}

                    {% with borrows=profile_user.borrows.all %}
                        <h4 class="_mtop-30">{% trans "books" %}:</h4>
                        {% if borrows %}
                            <ul>
                                {% for borrow in borrows %}
                                    <li>
                                        <a href="{{ borrow.stock.get_absolute_url }}">{{ borrow.stock.book.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Нет одолженных книг.
                        {% endif %}
                    {% endwith %}

                    {% if profile_user.is_student or profile_user.is_graduate %}
                        <h4 class="_mtop-30">{% trans "Student info record" %}:</h4>
                        <table class="table table-condensed table-striped">
                            <tr>
                                <td width="25%">{% trans "University" %}:</td>
                                <td>{{ profile_user.university|default:"—" }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Phone" %}:</td>
                                <td>{{ profile_user.phone|default:"—" }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Email" %}:</td>
                                <td>
                                    {{ profile_user.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "StudentInfo|University year" %}:</td>
                                <td>
                                    {{ profile_user.get_uni_year_at_enrollment_display|default:"—" }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Comment" %}:</td>
                                <td>
                                    <div class="ubertext">
                                        {% markdown 3600 "user_comment" profile_user.pk profile_user.modified %}
                                            {{ profile_user.comment|default:"—" }}
                                        {% endmarkdown %}
                                    </div>
                                    {% if profile_user.comment %}
                                        <span class="student-comment-metainfo pull-right">
                                            {% if profile_user.comment_last_author_id %}{{ profile_user.comment_last_author.get_short_name }}, {% endif %}
                                            {{ profile_user.comment_changed_at|date:"d.m.Y H:i" }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Status" %}:</td>
                                <td>
                                    {{ profile_user.get_status_display|default:"—" }}
                                    {% if profile_user.is_volunteer %}(
                                        {% trans "Non-degree student"|lower %}
                                        ){% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Curriculum year" %}:</td>
                                <td>
                                    {{ profile_user.curriculum_year|default:'—' }}<br>
                                    {% if syllabus %}
                                        {% for program in syllabus %}
                                            <b>{{ program.area.name_en }}</b>
                                            {% if program.course_groups.all %}
                                            <ul style="list-style-type: square;">
                                                {% for course_groups in program.course_groups.all %}
                                                    <li>
                                                        {% for course in course_groups.courses.all %}
                                                            {# Syllabus contains center courses only #}
                                                            {% if course.id in stats.passed.center_courses or course.id in stats.passed.club_courses %}
                                                                <span class="text-success">{{ course.name }}</span>
                                                            {% elif course.id in stats.in_term.courses %}
                                                                <span class="text-info">{{ course.name }}</span>
                                                            {% else %}
                                                                {{ course.name }}{% endif %}
                                                            {% if not forloop.last %}{% if course_groups.courses.all|length > 2 %},{% endif %} или {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        {% endfor %}
                                        <br>Обозначения: <span class="text-success">зелёный</span> - курс сдан / <span class="text-info">синий</span> - запись в текущем семестре<br>
                                    {% endif %}
                                </td>
                            <tr>
                                <td>{% trans "StudentInfo|Study program" %}:</td>
                                <td>
                                    {% with sps=profile_user.areas_of_study.all %}
                                        {% if sps %}
                                            <ul class="list-unstyled">
                                                {% for sp in sps %}
                                                    <li>{{ sp.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            —
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Workplace" %}:</td>
                                <td>{{ profile_user.workplace|default:"—" }}</td>
                            </tr>
                        </table>
                    {% endif %}
                </div>

                {% if profile_user.is_student or profile_user.is_graduate %}
                    <div class="tab-pane" role="tabpanel" id="student-assignments-tab">
                        {% if assignments %}
                            <h4 class="_mtop-30">{% trans "Assignments" %}:
                                <div class="btn-group pull-right assignment-list-control"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-xs btn-default active current-semester">{{ current_semester }}</button>
                                </div>
                            </h4>
                            <table class="table table-condensed" id="assignments-table">
                                <tr>
                                    <th>{% trans "Course offering" %}</th>
                                    <th>{% trans "Assignment" %}</th>
                                    <th>{% trans "Grade" %}</th>
                                </tr>
                                {% regroup assignments by assignment.course_offering_id as student_assignments_by_course %}
                                {% for student_assignments in student_assignments_by_course %}
                                    {% for a_s in student_assignments.list %}
                                        <tr>
                                            <td>
                                                {% if forloop.first %}
                                                    <a href="{{ a_s.assignment.course_offering.get_absolute_url }}">{{ a_s.assignment.course_offering }}</a>
                                                {% else %}
                                                    <span style="color: #CCC">—〃—</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ a_s.get_teacher_url }}">
                                                    {{ a_s.assignment.title }}
                                                </a>
                                            </td>
                                            <td>
                                        <span style="white-space: nowrap;"
                                              class="badge assignment-status {{ a_s.state|to_css }}">
                                          {{ a_s.state_display }}
                                        </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        {% else %}
                            Список заданий пуст.
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

            <div class="tab-pane active" role="tabpanel" id="profile-tab">
                <ul class="list-unstyled">
                    {% if profile_user.enrollment_year %}
                        {% if profile_user.enrollment_set.all or profile_user.shadcourserecord_set.all %}
                            <li>
                                <h4>{{ profile_user.first_name }} {% if profile_user.gender == 'F' %}прослушала и сдала{% else %}прослушал и сдал{% endif %} следующие курсы:</h4>
                                <ul>
                                    {% for enrollment in profile_user.enrollment_set.all %}
                                        <li>
                                            <a href="{{ enrollment.course_offering.get_absolute_url }}">
                                                {{ enrollment.course_offering }}
                                            </a>
                                            /{{ enrollment.grade_honest|lower }}/
                                        </li>
                                    {% endfor %}
                                    {% for shad in profile_user.shadcourserecord_set.all %}
                                        <li>
                                            {{ shad.name }} (ШАД), {{ shad.semester }} - {{ shad.teachers }} /{{ shad.grade_display|lower }}/
                                        </li>
                                        {% empty %}
                                        {% if user.is_curator %}<li>Нет зачтённых ШАД-курсов</li>{% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if student_projects %}
                            <li>
                                <h4>Кроме того, участвовал{% if profile_user.gender == 'F' %}а{% endif %} в проектах:</h4>
                                <ul>
                                    {% for ps in student_projects %}
                                        <li>
                                            <a href="{{ ps.project.get_absolute_url }}">{{ ps.project.name }}, {{ ps.project.semester }}</a>
                                            /{% spaceless %}
                                            {% if not ps.project.canceled %}
                                                {{ ps.final_grade_display|lower }}
                                            {% elif ps.final_grade == "not_graded" %}
                                                {% trans "Canceled"|lower context "Project" %}
                                            {% else %}
                                                {{ ps.get_final_grade_display|lower }}
                                            {% endif %}
                                            {% endspaceless %}/<br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% elif user.is_curator %}
                            <li>Нет студенческих проектов</li>
                        {% endif %}

                        {% if profile_user.pk == user.pk or user.is_curator %}
                            {% with recs=profile_user.onlinecourserecord_set.all %}
                                {% if recs %}
                                    <li>
                                        <h4>{% trans "Online courses" %}</h4>
                                        <ul>
                                            {% for rec in recs %}
                                                <li>{{ rec.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% elif user.is_curator %}
                                    <li>Нет зачтённых онлайн-курсов</li>
                                {% endif %}
                            {% endwith %}
                        {% endif %}

                    {% endif %}
                    {% if profile_user.is_teacher %}
                        <li>
                            {% if profile_user.teaching_set.all %}
                            <h4>Преподаватель курсов:</h4>
                            <ul class="">
                                {% for courseoffering in profile_user.teaching_set.all %}
                                    <li>
                                        <a href="{{ courseoffering.get_absolute_url }}">
                                            {{ courseoffering }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>

                {% if profile_user.pk == user.pk %}
                    <table class="table calc table-condensed table-striped">
                        <thead>
                        <tr>
                            <th width="25%">{% trans ".iCal calendar" %}</th>
                            <th>{% trans "Link" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{% trans "Classes" %}:</td>
                            <td>
                                <input type="text" value="http://{{ request.get_host }}{% url 'user_ical_classes' user.pk %}"
                                       disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans "Assignments" %}:</td>
                            <td>
                                <input type="text" value="http://{{ request.get_host }}{% url 'user_ical_assignments' user.pk %}"
                                       disabled="disabled">
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans "Events" %}:</td>
                            <td>
                                <input type="text" value="http://{{ request.get_host }}{% url 'ical_events' %}"
                                       disabled="disabled">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="accounts">
                        <h4>{% trans "Social accounts" %}</h4>
                        <table class="table table-condensed table-striped">
                            <tr>
                                <td>Yandex</td>
                                <td>{{ profile_user.yandex_id|default:"—" }}</td>
                            </tr>
                            <tr>

                                <td>Github</td>
                                <td>{% if profile_user.github_id %}
                                    <a href="https://github.com/{{ profile_user.github_id }}"
                                       target="_blank">{{ profile_user.github_id }}</a>
                                {% else %}
                                    —
                                {% endif %}
                                </td>
                            </tr>
                            <tr>

                                <td>Stepik</td>
                                <td>{% if profile_user.stepic_id %}
                                    <a href="https://stepic.org/users/{{ profile_user.stepic_id }}"
                                       target="_blank">{{ profile_user.stepic_id }}</a>
                                {% else %}
                                    —
                                {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}

                {% if user.is_authenticated and profile_user.private_contacts.strip %}
                    <div class="contact-info">
                        <h4>{% trans "Contact information" %}:</h4>
                        <div class="ubertext">
                            {% markdown 3600 "user_private_contacts" profile_user.pk profile_user.modified %}
                                {{ profile_user.private_contacts }}{% endmarkdown %}
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </div> {# div#profile #}


    {% include "users/_user_detail_upload_photo.html" %}
{% endblock content %}


