{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load markdown from core_tags %}

{% block content %}
    <div class="container">
        <div class="teachers-list">
            {% for user in active %}
            <div class="teachers-list-item">{% spaceless %}
                <a href="{% url 'teacher_detail' user.pk %}">
                    {% if user.photo %}
                          {% thumbnail user.photo "220x308" crop="center top" cropbox=user.photo_thumbnail_cropbox as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                          {% endthumbnail %}
                    {% else %}
                        <img src="{% if user.gender == "M" %}{% static "img/icons/man.png" %}{% else %}{% static "img/icons/woman.png" %}{% endif %}" width="220" height="308" alt="">
                    {% endif %}
                    {{ user.first_name }} {{ user.patronymic }}<br>
                    {{ user.last_name }}
                </a>
                <div class="org">{{ user.workplace }}</div>
            </div>
            {% endspaceless %}{% endfor %}
        </div>
        <div class="cleafix"></div>
        <a href="#teachers-earlier" data-toggle="collapse" aria-expanded="false" class="collapse-link">Ранее преподавали</a>
        <div class="panel-collapse collapse" id="teachers-earlier">
            <div class=" teachers-list">
            {% for user in others %}
            <div class="teachers-list-item">{% spaceless %}
                <a href="{% url 'teacher_detail' user.pk %}">
                    {% if user.photo %}
                          {% thumbnail user.photo "220x308" crop="center top" cropbox=user.photo_thumbnail_cropbox as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                          {% endthumbnail %}
                    {% else %}
                        <img src="{% if user.gender == "M" %}{% static "img/icons/man.png" %}{% else %}{% static "img/icons/woman.png" %}{% endif %}" width="220" height="308" alt="">
                    {% endif %}
                    {{ user.first_name }} {{ user.patronymic }}<br>
                    {{ user.last_name }}
                </a>
                <div class="org">{{ user.workplace }}</div>
            </div>
            {% endspaceless %}{% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}