{% extends "base.html" %}
{% load i18n %}
{% block body_class %} gray{% endblock body_class %}
{% block title %}Вопросы и ответы{% endblock title %}
{% block content %}
    <div id="questions-wrapper">
        <h2 class="center-header">Вопросы и ответы</h2>
        <div class="panel-group panel-group-continuous" id="questions">
            {% for qa in faq %}
                <div class="panel">
                    <div class="panel-heading" id="question-{{ qa.pk }}">
                        <a class="panel-title" aria-controls="answer-{{ qa.pk }}" data-toggle="collapse" aria-expanded="false"
                           href="#answer-{{ qa.pk }}">{{ qa.question }}</a>
                    </div>
                    <div class="panel-collapse collapse" id="answer-{{ qa.pk }}" aria-labelledby="question-{{ qa.pk }}"  role="tabpanel" aria-expanded="false">
                        <div class="panel-body">{{ qa.answer|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}