{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body_attrs %} class="gray"{% endblock body_attrs %}
{% block title %}Вопросы и ответы{% endblock title %}
{% block content %}
    <div id="questions-wrapper">
        <div class="panel-group panel-group-continuous" id="questions">
            {% for qa in faq %}
                <div class="panel">
                    <div class="panel-heading" id="question-{{ qa.pk }}">
                        <a class="panel-title" aria-expanded="false"
                           href="#answer-{{ qa.pk }}">{{ qa.question }}</a>
                    </div>
                    <div class="panel-collapse collapse" id="answer-{{ qa.pk }}"  aria-expanded="false">
                        <div class="panel-body">{{ qa.answer|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block javascripts %}
    <script type="text/javascript" src="{% static "js/faq.js" %}"></script>
{% endblock javascripts %}
