{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load htmlpage_url %}
{% load thumbnail %}
{% load markdown from core_tags %}

{% block content %}

{% comment %}
<div id="intro">
    <h1 class="text-center">Центр современной информатики, программирования и анализа данных</h1>
    <div class="col-xs-12 callout-buttons">
    <a href="{% htmlpage_url '/syllabus/' %}"
       role="button" class="btn btn-lg btn-primary">
      {% trans "Learn more" %}
    </a>
    <a href="{% htmlpage_url '/enrollment/' %}"
       role="button" class="btn btn-lg btn-primary">
      {% trans "How to enroll" %}
    </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home"
                                                              aria-controls="home"
                                                              role="tab"
                                                              data-toggle="tab">Home</a>
                    </li>
                    <li role="presentation"><a href="#profile"
                                               aria-controls="profile"
                                               role="tab" data-toggle="tab">Profile</a>
                    </li>
                    <li role="presentation"><a href="#messages"
                                               aria-controls="messages"
                                               role="tab" data-toggle="tab">Messages</a>
                    </li>
                    <li role="presentation"><a href="#settings"
                                               aria-controls="settings"
                                               role="tab" data-toggle="tab">Settings</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        Lorem Ipsum is simply dummy text of the printing and

                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">Lorem
                        Ipsum is simply dummy text of the printing and
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        Lorem Ipsum is simply dummy text of the printing and

                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        Lorem Ipsum is simply dummy text of the printing and

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}


<div class="index-image-container"></div>

{% if online_courses %}
    <div id="index-online-courses">
        <div id="onlinecourses-list">
            <div class="index-header">
                <h1>{% trans "Online courses" %}</h1>
                <a href="{% url 'onlinecourses_list' %}">{% trans "All online courses" %}</a>
            </div>
            {% for online_course in online_courses %}
                {% include "learning/_onlinecourse_list__row.html" %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if testimonials %}
    <div class="testimonials-wrapper">
        <div class="testimonials">
            <div class="index-header">
                <h1>{% trans "Graduates about CS Center" %}</h1>
                <a href="{% url 'alumni' %}">{% trans "All graduates" %}</a>
            </div>
            <div class="row">
                {% for student in testimonials %}
                <div class="col-md-12">
                    <div class="testimonial">
                        <blockquote>
                            {% markdown 3600 "csc_review" student.pk student.modified %}
                                {{ student.csc_review }}
                            {% endmarkdown %}
                        </blockquote>
                        <div>
                            {% thumbnail student.photo "200x200" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            <span>{{ student.get_full_name }}</span> {% trans "Graduation" %} {{ student.graduation_year }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if courses %}
    <div id="courses">
        <div class="index-header">
            <h1>{% trans "Full-time courses on video" %}</h1>
            <a href="{% url 'course_list' %}">{% trans "All courses" %}</a><a href="{% url 'course_video_list' %}">{% trans "All video courses" %}</a>
        </div>

        <div class="row">
            {% for course_offering in courses %}
                <div class="col-xs-4">
                    <div class="card">
                        <div class="card-header ch-alt m-b-20">
                            <h2>{{ course_offering.course.name }}</h2>
                        </div>

                        <div class="card-body card-padding">

                            <ul class="list-group list-group-dividered list-group-full">
                                <li class="list-group-item">
                                    <strong>{% trans "Semester" %}</strong>: {{ course_offering.semester }}
                                </li>
                                <li class="list-group-item">
                                    <strong>{% trans "Teachers" %}</strong>:<br>
                                    {% for teacher in course_offering.teachers.all %}
                                        <a href="{{ teacher.teacher_profile_url }}">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                </li>
                                <li class="list-group-item">
                                    {% blocktrans count counter=course_offering.courseclass__count %}{{ counter }} class{% plural %}{{ counter }} classes{% endblocktrans %}
                                    <span class="label label-outline label-primary"><i class="fa fa-check"></i> {% if course_offering.is_completed %}{% trans "Completed course" %}{% else %}{% trans "Lectures video" %}{% endif %}</span>
                                </li>
                            </ul>
                        <a href="{{ course_offering.get_absolute_url }}" class="btn btn-outline btn-block btn-primary">Посмотреть курс</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="container">
    <div class="index-header _supported">
        <h1>{% trans "Supported by" %}</h1>
    </div>
    <div class="row supported-by">
        <div class="col-xs-3">
            <a href="https://yandexdataschool.ru/" target="_blank">
                <img src="{% static "img/logo/yandexdataschool.svg" %}" alt="{% trans "Yandex School of Data Analysis" %}">
            </a>
        </div>
        <div class="col-xs-3">
              <a href="http://jetbrains.ru/students" target="_blank">
                <img  src="{% static "img/logo/jetbrains.svg" %}" alt="{% trans "JetBrains" %}">
              </a>
        </div>
        <div class="col-xs-3">
              <a href="http://239.ru/" target="_blank">
                <img class="s239" src="{% static "img/logo/239.svg" %}" alt="{% trans "FML #239" %}">
              </a>
        </div>
        <div class="col-xs-3">
              <a href="http://compsciclub.ru/" target="_blank">
                <img src="{% static "img/logo/csclub.png" %}" alt={% trans "Computer Science Club" %}>
              </a>
        </div>
    </div>
</div>

{% endblock content %}
