{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load htmlpage_url %}
{% load thumbnail %}
{% load markdown from core_tags %}

{% block content %}

<div id="index-page-image">
    <img src="{% static "img/center/cscenter.jpg" %}" alt="Computer Science Center">
</div>

{% if is_admission_active %}
<div id="admission">
    <div class="center-header">
        <h1>Набор в CS центр 2017</h1>
        <a href="/enrollment/">Подробнее</a><a href="/application/">Подать заявку</a>
    </div>
    <p>
        CS центр приглашает студентов средних и старших курсов, аспирантов и молодых специалистов пройти бесплатное очное вечернее обучение в Санкт-Петербурге или в Новосибирске. Набор учащихся проводится раз в год на конкурсной основе. В 2017 году поступающих ждут четыре этапа:
    </p>
        <ul>
            <li>— заполнение анкеты на сайте,</li>
            <li>— онлайн-тестирование,</li>
            <li>— решение онлайн-экзамена,</li>
            <li>— очное собеседование.</li>
        </ul>
    <p>
        Все этапы проходят в рамках <a href="/enrollment/program/">программы для поступления</a>.<br>Подать заявку на участие в отборе можно <strong>до 20:00 16 апреля (по московскому времени)</strong>.
    </p>
</div>
{% endif %}

{% if online_courses %}
    <div id="index-online-courses"{% if is_admission_active %} class="bg-gray"{% endif %}>
        <div id="onlinecourses-list">
            <div class="center-header">
                <h1>{% trans "Online courses" %}</h1>
                <a href="{% url 'onlinecourses_list' %}">{% trans "All online courses" %}</a>
            </div>
            {% for online_course in online_courses %}
                {% include "learning/_onlinecourse_list__row.html" %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if testimonials %}
    <div class="testimonials-wrapper __index{% if not is_admission_active %} __inverse{% endif %}">
        <div class="testimonials">
            <div class="center-header">
                <h1>{% trans "Graduates about CS Center" %}</h1>
                <a href="{% url 'testimonials' %}">Все отзывы</a><a href="{% url 'alumni' %}">{% trans "All graduates" %}</a>
            </div>
            <div class="row">
                {% for student in testimonials %}
                <div class="col-md-12">
                    <div class="testimonial">
                        <blockquote>
                            {% markdown 3600 "csc_review" student.pk student.modified %}
                                {{ student.csc_review }}
                            {% endmarkdown %}
                        </blockquote>
                        <div>
                            {% if student.photo %}
                            {% thumbnail student.photo "150x150" crop="center top" cropbox=student.photo_thumbnail_cropbox as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            {% endif %}
                            <span>{{ student.get_full_name }}</span> {% trans "Graduation" %} {{ student.graduation_year }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if courses %}
    <div id="courses-wrapper"{% if is_admission_active %} class="bg-gray"{% endif %}>
    <div id="courses">
        <div class="center-header">
            <h1>{% trans "Full-time courses on video" %}</h1>
            <a href="{% url 'course_list' %}">{% trans "All courses" %}</a><a href="{% url 'course_video_list' %}">{% trans "All video courses" %}</a>
        </div>

        <div class="row">
            {% for course_offering in courses %}
                <div class="col-xs-4">
                    <div class="card">
                        <div class="card-header ch-alt m-b-20">
                            <h2>{{ course_offering.course.name }}</h2>
                        </div>

                        <div class="card-body card-padding">

                            <ul class="list-group list-group-dividered list-group-full">
                                <li class="list-group-item">
                                    <strong>{% trans "Semester" %}</strong>: {{ course_offering.semester }}
                                </li>
                                <li class="list-group-item">
                                    <strong>{% trans "Teachers" %}</strong>:<br>
                                    {% for teacher in course_offering.teachers.all %}
                                        <a href="{{ teacher.teacher_profile_url }}">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                </li>
                                <li class="list-group-item">
                                    {% blocktrans count counter=course_offering.courseclass__count %}{{ counter }} class{% plural %}{{ counter }} classes{% endblocktrans %}
                                    <span class="label label-outline label-primary"><i class="fa fa-check"></i> {% if course_offering.is_completed %}{% trans "Completed course" %}{% else %}{% trans "Lectures video" %}{% endif %}</span>
                                </li>
                            </ul>
                        <a href="{{ course_offering.get_absolute_url }}" class="btn btn-outline btn-block btn-wide btn-primary">Посмотреть курс</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endif %}

<div class="container">
    <div class="center-header _supported">
        <h1>{% trans "Supported by" %}</h1>
    </div>
    <div class="row supported-by">
        <div class="col-xs-3">
            <a href="https://yandexdataschool.ru/" target="_blank">
                <img src="{% static "img/logo/yandexdataschool.svg" %}" alt="{% trans "Yandex School of Data Analysis" %}">
            </a>
        </div>
        <div class="col-xs-3">
              <a href="http://jetbrains.ru/students" target="_blank">
                <img  src="{% static "img/logo/jetbrains.svg" %}" alt="JetBrains">
              </a>
        </div>
        <div class="col-xs-3">
              <a href="http://239.ru/" target="_blank">
                <img class="s239" src="{% static "img/logo/239.svg" %}" alt="{% trans "FML #239" %}">
              </a>
        </div>
        <div class="col-xs-3">
              <a href="http://compsciclub.ru/" target="_blank">
                <img src="{% static "img/logo/csclub.png" %}" alt={% trans "Computer Science Club" %}>
              </a>
        </div>
    </div>
</div>

{% endblock content %}
