{% extends "base.html" %}

{% load i18n %}
{% load markdown from core_tags %}
{% load staticfiles %}

{% block title %}Программы подготовки в Computer Science Center{% endblock title %}

{% block content %}
    <div class="container" id="syllabus-page">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="content-title">Направления и базовые курсы</h2>

                CS центр предлагает студентам три направления обучения: Computer Science<span class="text-danger">*</span>,
                Data Science, Software Engineering. Каждое направление предлагает список базовых курсов, пройдя которые, студент может претендовать на выпуск.<br>
                <small><span class="text-danger">*</span>Направление Computer Science представлено только в Санкт-Петербурге.</small>

                <ul class="nav nav-tabs square" role="tablist">
                    <li role="presentation" {% if selected_city == 'spb' %}class="active"{% endif %}>
                        <a data-target="#program-spb"
                           aria-expanded="{% if selected_city == 'spb' %}true{% else %}false{% endif %}"
                           aria-controls="program-spb"
                           href="{% url "syllabus" %}">Санкт-Петербург</a>
                    </li>

                    <li role="presentation" {% if selected_city == 'nsk' %}class="active"{% endif %}>
                        <a data-target="#program-nsk"
                           aria-expanded="{% if selected_city == 'nsk' %}true{% else %}false{% endif %}"
                           aria-controls="program-nsk"
                           href="{% url "syllabus" %}?city=nsk">Новосибирск</a>
                    </li>
                </ul>

                <div class="tab-content">
                    {% for city_iata, syllabus_by_city in programs.items %}
                        <div class="tab-pane {% if selected_city == city_iata %}active{% endif %}"
                             role="tabpanel" id="program-{{ city_iata }}">
                            {% for program in syllabus_by_city %}
                                <h3>{{ program.area.name_ru }} /{{ program.area.name_en }}/</h3>
                                <p>{{ program.area.description }}</p>
                                {% if program.course_groups.all %}
                                <ul style="list-style-type: square;">
                                    {% for course_groups in program.course_groups.all %}
                                        <li>
                                            {% for course in course_groups.courses.all %}
                                                <a href="{{ course.get_absolute_url }}">{{ course.name }}</a>{% if not forloop.last %}{% if course_groups.courses.all|length > 2 %},{% endif %} или {% endif %}
                                            {% endfor %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                  <div class="ubertext">
                                    {% markdown 3600 "study_program_description" program.pk program.modified %}
                                      {{ program.description }}
                                    {% endmarkdown %}
                                  </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card">
                    <div class="card-header card-header-sm bg-gray">
                        <h2>Программа</h2>
                    </div>
                    <div class="card-body card-padding-sm">
                        <p>Программа обучения составлена на основе опыта лучших зарубежных вузов в области IT. Учащиеся могут освоить такие разделы Computer Science, которые обычно не входят в программу российских университетов. Курсы читают ведущие преподаватели вузов, и практикующие программисты — сотрудники <a href="http://www.yandex.ru/">Яндекса</a>, <a href="http://jetbrains.ru/">JetBrains</a> и др.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-sm bg-gray">
                        <h2>Правила обучения</h2>
                    </div>
                    <div class="card-body card-padding-sm">
                        <p>В течение двух или трёх лет учёбы в CS центре
                            студенты сдают двенадцать курсов и проходят три семестра <a href="/pages/projects#practice">практики</a> или <a href="/pages/projects#research">научно-исследовательской работы</a>.
                        </p>
                        <p>Какие именно курсы сдавать в новом семестре,
                        студенты решают сами, опираясь на свои интересы.
                        Делать осмысленный выбор им помогают кураторы и
                        наличие обязательных курсов направлений.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}