{% load i18n %}
{% load staticfiles %}
{% load getattribute from core_tags %}
{% load csc_menu from csc_menu_tags %}
{% csc_menu "compscicenter" as menu %}

<div class="header lvl1">
  <div class="container">
    <div class="row">
        <div class="col-xs-9">
  <button type="button" class="navbar-toggle " data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
            <div class="logo-cell">
              <a href="{% url 'index' %}">
                <div class="logo-container">
                  <img src="{% static "img/center/logo.png" %}" alt="Computer Science Center">
                </div>
              </a>
            </div>
            <ul>
                {% for menu_item in menu %}
                    {% if not menu_item.hidden %}
                    <li {% if menu_item.extension.classes %}class="{{menu_item.extension.classes}}"{% endif %}>
                        <a href="{{ menu_item.url }}">{% trans menu_item.caption context 'menu' %}{% if menu_item.children %} <i class="fa fa-caret-down"></i>{% endif %}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                    <li>
                      <a href="{% url 'admin:index' %}" target="_blank">
                        {% trans "Admin page" %}
                      </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-xs-3 login">
            {% if user.is_authenticated %}
            <i class="fa fa-user" data-user-id="{{ user.pk }}"></i>&nbsp;<a href="{{ user.get_absolute_url }}">{{ user.username }}</a>&nbsp;<span class="logout-url">(<a href="{% url 'logout' %}">{% trans "logout" %}</a>)</span>
            {% else %}
            <a href="{% url 'login' %}">
              {% trans "Login" %}
            </a>
            {% endif %}
        </div>
    </div>
    </div>
</div>