{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{% trans "Disable subscription" %}</h2>
      <div class="btn-toolbar"></div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% if redirect %}
      <p>{{ text_result }}</p>
      {% else %}
      {% if error %}
      <p>{{ text_result }}</p>
      {% else %}
      <p>{% trans "Do you want to unsubscribe from" %} «{{ sub_name }}»?</p>
      {% crispy form form.helper %}
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
