{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
{% load replace from core_tags %}

{% block title %}Анкеты - CSC{% endblock title %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}
<div class="admission-list-page">
    {% crispy filter.form %}

    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Анкеты поступающих / {{ paginator.count }}</h3>
        </div>

        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Поступающий</th>
                <th>Набор</th>
                <th>Направление</th>
                <th style="width: 60px;">Тест</th>
                <th style="width: 60px;">Экз.</th>
              </tr>
            </thead>
            <tbody>
                {% for applicant in applicants %}
                    <tr>
                        <td class="applicant">
                            {% if applicant.interview.in_transition_state %}<span class="label label-warning">{{ applicant.interview.get_status_display }}</span><br>{% endif %}
                            <a href="{%  url "admission_applicant_detail" applicant.pk %}">{{ applicant.get_full_name }}</a>
                            {% if request.user.is_curator %}
                                {% if applicant.user_id %}
                                    <a style="float: left; margin-bottom: 30px;" class="btn btn-link" title="Профиль на сайте" href="{% url "user_detail" applicant.user_id %}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                {% elif applicant.interview_successfull and applicant.campaign.current %}
                                    <form method="post" action="{% url "admission_applicant_create_user" applicant.pk %}">
                                        {% csrf_token %}
                                        <button title="Создать профиль на сайте" type="submit" class="btn btn-link"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                                    </form>
                                {% endif %}
                            {% endif %}<br>
                            {% if applicant.university_other %}{{ applicant.university_other }}{% else %}{{ applicant.university }}{% endif %}
                            {% if applicant.course %}<br>{{ applicant.get_course_display }}{% endif %}

                        </td>
                        <td>{{ applicant.campaign.city.abbr }},&nbsp;{{ applicant.campaign.year }}</td>
                        <td>{{ applicant.preferred_study_programs|replace:", <br>"|safe|default:"-" }}</td>
                        <td>{{ applicant.online_test.score|default:"-" }}</td>
                        <td>{{ applicant.exam.score|default:"-" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                    <td colspan="6" class="empty-results">Измените параметры поиска.</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

        {% if is_paginated %}
            {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" last_label="<i class='fa fa-angle-double-right'></i>" first_label="<i class='fa fa-angle-double-left'></i>" %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
