{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load static %}
{% load markdown from core_tags %}
{% load render_bundle from webpack_loader %}

{% block title %} Анкета {{ applicant.campaign }} - {{ applicant.get_full_name }}{% endblock title %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}


{% block stylesheets %}
    <link href="{% static "v1/css/vendor/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    {% render_bundle 'forms' 'js' %}
    {% render_bundle 'admission' 'js' %}
    {# TODO: move to admission.js? #}
    <script type="text/javascript">
        $(function () {
            // TODO: Maybe I should include this code for all tabs on  site? But what if more than 1 tab holder on a page?
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                $('html,body').scrollTop(scrollmem);
            });
        });

    </script>
{% endblock javascripts %}

{% block content %}
<div class="admission-applicant-page">
    <div class="page-header">
        <h2 class="page-title">{{ applicant.get_full_name }}{% if request.user.is_curator %}
            <a href="{% url "admin:admission_applicant_change" applicant.pk %}" target="_blank"><i class="icon fa fa-pencil-square-o"></i></a>
        {% endif %}</h2>

    </div>
    <div class="additional-info">Набор: {{ applicant.campaign }}<br>Статус анкеты: {{ applicant.get_status_display|default_if_none:"<не указан>" }}</div>
    <div class="nav-tabs-horizontal nav-tabs-inverse">
      <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a data-toggle="tab" href="#applicant" aria-controls="applicant" role="tab" aria-expanded="false">Анкета поступающего</a>
        </li>
          <li role="presentation" class="">
          <a data-toggle="tab" href="#test-results" aria-controls="test-results" role="tab" aria-expanded="false">Тест и экзамен</a>
        </li>
          <li role="presentation" class="">
          <a data-toggle="tab" href="#similar-applicants" aria-controls="similar-applicants" role="tab" aria-expanded="false">Похожие анкеты</a>
        </li>
          {% if request.user.is_curator and applicant.campaign.current %}
          <li role="presentation" class="">
          <a data-toggle="tab" href="#create" aria-controls="create" role="tab" aria-expanded="false">Назначить собеседование</a>
        </li>
          <li role="presentation" class="">
          <a data-toggle="tab" href="#update-status-form" aria-controls="update-status-form" role="tab" aria-expanded="false">Статус</a>
        </li>
          {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="applicant" role="tabpanel">
            <dl>
                {% include "admission/_applicant_form.html" with applicant_form=applicant_form %}
            </dl>
        </div>
        <div class="tab-pane" id="test-results" role="tabpanel">
            {% if online_test %}
                <h4>Тест: {{ online_test.score|floatformat }} / <span>{{ campaign.online_test_max_score }}</span> {% if contests.test and contests.test.file %}Контест <a
                        href="{{ contests.test.file_url }}" target="_blank">{% if online_test.yandex_contest_id %}#{{ online_test.yandex_contest_id }}{% endif %}</a>
                {% elif online_test.yandex_contest_id  %}Контест #{{ online_test.yandex_contest_id }}{% endif %}</h4>
                <ul class="list-unstyled">
                {% for k,v in online_test.details.items %}
                    <li>{{ k }}: {{ v }}</li>
                {% endfor %}
                </ul>
                <hr>
            {% else %}
                Результаты теста не найдены.
                <hr>
            {% endif %}
            {% if exam %}
                <h4>Экзамен: {{ exam.score|floatformat }} / <span>{{ campaign.exam_max_score }}</span> {% if contests.exam and contests.exam.file %}Контест <a
                        href="{{ contests.exam.file_url }}" target="_blank">{% if exam.yandex_contest_id %}#{{ exam.yandex_contest_id }}{% endif %}</a>{% elif exam.yandex_contest_id  %}
                    Контест #{{ exam.yandex_contest_id }}{% endif %}</h4>
                <ul class="list-unstyled">
                {% for k,v in exam.details.items %}
                    <li>{{ k }}: {{ v }}</li>
                {% endfor %}
                </ul>
            {% else %}
                Результаты экзамена не найдены.
            {% endif %}
        </div>
        <div class="tab-pane" id="similar-applicants" role="tabpanel">
            {% for applicant in similar_applicants %}
                <a target="_blank" href="{% url "admission:applicant_detail" applicant.pk %}">{{ applicant.get_full_name }} ({{ applicant.campaign }})</a><br>
            {% empty %}
                Похожие анкеты не найдены.
            {% endfor %}
        </div>
      {% if request.user.is_curator and applicant.campaign.current %}
          <div class="tab-pane" id="create" role="tabpanel">
                {% if form %}
                    {% crispy form %}
                {% else %}
                    <a href="{{ invitation.get_absolute_url }}">Приглашение</a> создано {{ invitation.created|date:"d E" }}.<br>
                {% endif %}
                <div class="clearfix"></div>
          </div>
          <div class="tab-pane" id="update-status-form" role="tabpanel">
              {% crispy status_form %}
              <div class="clearfix"></div>
          </div>
      {% endif %}
    </div>
    </div>
</div>

    {% include "admission/_interview_assignment_modal.html" %}

{% endblock content %}
