{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} class="gray" data-init-section="application"{% endblock body_attrs %}

{% block title %}Анкета на поступление - Computer Science Center{% endblock title %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{% endblock stylesheets %}

{% block javascripts %}
    {% if wizard.steps.current == 'welcome' %}
        <script type="text/javascript">
        var yandexAccessButton = $('.__login-access-begin');
        function openSocialPopup(url) {
            var w = 700;
            var h = 600;
            var left = 100;
            var top = 100;

            url += "?next={% url 'admission:auth_complete' %}";
            var name = "";
            var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
            window.open(url, name, settings);
        }

        function accessYandexLoginSuccess(login) {
            yandexAccessButton
                .html('<i class="fa fa-check text-success"></i> Доступ разрешен')
                .attr("disabled", "disabled");
            $.jGrowl('Доступ успешно предоставлен', {theme: "success", sticky: false, position: "bottom-right"});

        }

        function accessYandexLoginError(msg) {
            $.jGrowl(msg, {theme: "error", sticky: true, position: "bottom-right"});
        }

        $(function() {
           $('div[data-toggle="popover"]').popover({html: true, trigger: "hover"});

           yandexAccessButton.click(function() {
               if ($(this).attr("disabled")) {
                   return false;
               }
               var href = $(this).attr("href");
               openSocialPopup(href);
              return false;
           });
        });
        </script>
    {% endif %}
{% endblock javascripts %}


{% block content %}
    <div class="container" id="application-form">
    <div class="card">
        <div class="card-header p-20" style="border-bottom:1px solid #e5e5e5;">
            <h3>Анкета на поступление</h3>
        </div>
        <div class="card-body p-20">
            <form action="" method="post">{% csrf_token %}
                <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {% crispy form %}
                    {% endfor %}
                {% else %}
                    {% crispy wizard.form %}
                {% endif %}
                </table>

                {% if wizard.steps.current == 'spb' or wizard.steps.current == 'nsk' %}
                    <p class="margin-top-10">Нажимая <b>«Подать заявку»</b>, вы соглашаетесь на передачу данных CS центру и на получение писем по поводу приёмной кампании.</p>
                {% endif %}

                {% if wizard.steps.current == 'spb' or wizard.steps.current == 'nsk' %}
                    <input type="submit" class="btn btn-primary" value="Подать заявку"/>
                {% else %}
                    <input type="submit" class="btn btn-primary" value="Продолжить"/>
                {% endif %}
            </form>
        </div>
    </div>

    </div>
{% endblock %}