{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load markdown from core_tags %}
{% load floatdot from core_tags %}
{% load render_bundle from webpack_loader %}

{% block title %} Набор {{ applicant.campaign }} - {{ applicant.get_full_name }}{% endblock title %}

{% block body_attrs %} class="gray admission-interview-page" data-init-sections="interview"{% endblock body_attrs %}

{% block javascripts %}
    {% render_bundle "admission" "js" %}
{% endblock javascripts %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2 class="page-title">{{ applicant.get_full_name }}{% if request.user.is_curator %}
            <a href="{% url "admin:admission_interview_change" interview.pk %}" target="_blank"><i class="icon fa fa-pencil-square-o"></i></a>
        {% endif %}</h2>
    </div>
    <div class="date">Дата собеседования: {{ interview.date|default:"Не назначена" }}</div>
    <div class="additional-info">Статус собеседования: {{ interview.get_status_display|default_if_none:"<не указан>" }}</div>
    <div class="nav-tabs-horizontal nav-tabs-inverse">
      <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a data-toggle="tab" href="#comment" aria-controls="comment" role="tab" aria-expanded="true">Комментарий</a>
        </li>
        <li role="presentation" class="">
          <a data-toggle="tab" href="#applicant" aria-controls="applicant" role="tab" aria-expanded="false">Анкета поступающего</a>
        </li>
          <li role="presentation" class="">
          <a data-toggle="tab" href="#test-results" aria-controls="test-results" role="tab" aria-expanded="false">Тест и экзамен</a>
        </li>
          <li role="presentation" class="">
          <a data-toggle="tab" href="#assignments" aria-controls="assignments" role="tab" aria-expanded="false">Задачи</a>
        </li>
          <li role="presentation" class="">
          <a data-toggle="tab" href="#comments" aria-controls="comments" role="tab" aria-expanded="false">Все комментарии</a>
        </li>
          <li role="presentation" class="">
          <a data-toggle="tab" href="#similar-applicants" aria-controls="similar-applicants" role="tab" aria-expanded="false">Похожие анкеты</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="comment" role="tabpanel">
            {{ form.errors }}
          {% crispy comment_form comment_form.helper %}
            <div class="clearfix"></div>
        </div>
        <div class="tab-pane" id="applicant" role="tabpanel">
            <dl>
                {% if user.is_curator %}
                <dt>Статус анкеты:</dt>
                <dd>{{ applicant_form.instance.get_status_display|default_if_none:"<не указано>" }}</dd>
                {% endif %}
            {% include "admission/_applicant_form.html" with applicant_form=applicant_form %}
            </dl>
        </div>
        <div class="tab-pane" id="test-results" role="tabpanel">
            {% include "admission/_results_tab.html" %}
        </div>
        <div class="tab-pane" id="assignments" role="tabpanel">
            <div class="interview-info visible-print-block">{{ applicant.get_full_name }}<br>{{ interview.date }}</div>
                {% if interview.assignments.all %}
                    <div class="clear hidden-print">
                        <button class="btn btn-default _print-without-solution">Печать условий</button> <div class="btn btn-default _print-with-solution">Печать решений</div>
                    </div>
                    {% for assignment in interview.assignments.all %}
                        <h3 class="hidden-print">{{ assignment.name }}</h3>
                        <h3 class="visible-print-block">Задание {{ forloop.counter }}</h3>
                        <div class="ubertext">
                            {% markdown 0 "assignment" %}{{ assignment.description|safe }}{% endmarkdown %}
                        </div>
                        {% if assignment.solution %}
                            <div class="ubertext solution"><b>Решение</b><br>{% markdown 0 "assignment_solution" %}{{ assignment.solution|safe }}{% endmarkdown %}</div>
                        {% endif %}
                        <hr>
                    {% endfor %}
                {% else %}
                        <p>Список задач, предложенных перед прохождением собеседования, пуст.</p>
                {% endif %}
                {% if request.user.is_curator %}
                    <a href="#assignments-edit-block" data-toggle="collapse" aria-expanded="false" class="collapse-link">Редактировать список</a>
                    <div class="panel-collapse">
                        <div class="collapse" id="assignments-edit-block">
                            {% crispy assignments_form %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {% endif %}
        </div>
        <div class="tab-pane" id="comments" role="tabpanel">
            {% if show_all_comments and interview.comments.all %}
                <ul class="score-info">
                    <li>
                      <div class="num text-info">{{ interview.average_score|floatdot:2 }}</div>
                      <p>Средний балл</p>
                    </li>
                  </ul>
                {% for comment in interview.comments.all %}
                    <div class="comment media">
                        <div class="media-left">
                            {% with user=comment.interviewer %}
                            {% if user.photo %}
                                {% thumbnail user.photo "60x60" crop="center top" cropbox=user.photo_thumbnail_cropbox  as im %}
                                    <img alt="{{ user.get_full_name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            {% else %}
                                <div class="square" data-toggle="tooltip" data-placement="top" title="{{ user.get_full_name }}">{{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}</div>
                            {% endif %}
                            {% endwith %}
                        </div>
                    <div class="comment-body media-body">
                      <span class="fio">{{ comment.interviewer.get_full_name }}</span> / Оценка: <b>{{ comment.score }}</b>
                      <div class="comment-content ubertext">
                          {% markdown 0 "interview_comment" %}{{ comment.text }}{% endmarkdown %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% else %}
                {% if request.user.is_curator %}
                    Комментариев пока нет.
                {% else  %}
                    Нет комментариев или нужна предварительная оценка, чтобы посмотреть мнение остальных участников.
                {% endif %}
            {% endif %}
        </div>
        <div class="tab-pane" id="similar-applicants" role="tabpanel">
            {% for applicant in similar_applicants %}
                <a target="_blank" href="{% url "admission:applicant_detail" applicant.pk %}">{{ applicant.get_full_name }} ({{ applicant.campaign }})</a><br>
            {% empty %}
                Похожие анкеты не найдены.
            {% endfor %}
        </div>
      </div>
    </div>
</div>

    {% include "admission/_interview_assignment_modal.html" %}
{% endblock content %}
