{% load i18n %}
{% load static %}
{% load lookup from core_tags %}

{% for menu_item in menu %}
    {% if 'current' in menu_item.extension.classes and menu_item.children and not menu_item.hidden %}
          <div class="header lvl2 {{menu_item.extension.classes}}">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="logo-cell"></div>
                  <ul>
                    {% for second_level in menu_item.children %}
                        <li {% if second_level.extension.classes %}class="{{second_level.extension.classes}}"{% endif %}>
                            <a href="{{ second_level.url }}">
                                {% trans second_level.caption context 'menu' %}

                                {% if second_level.extension.budge and request.unread_notifications_cache|lookup:second_level.extension.budge %}
                                <span class="badge">
                                  {{ request.unread_notifications_cache|lookup:second_level.extension.budge|length }}
                                </span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
{% endfor %}