{% extends "compscicenter_ru/layouts/base.html" %}

{% import "compscicenter_ru/macros/_cards.jinja2" as macros_cards %}

{% block body_attrs %}class="mb-0"{% endblock body_attrs %}

{% block menu %}
<div class="navbar-container">
    <nav class="navbar navbar-main{% if theme_class %} {{ theme_class }}{% endif %}">
        <div class="container">
            <a class="navbar-logo" href="/">{{ macros.svg_inline('logo-csc') }}</a>
            <div class="menu-desktop-wrapper">
                <ul class="ui navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link _active" href="/{{graduation_year}}/">Выпускники {{ graduation_year }}</a>
                    </li>
                    {% if testimonials -%}
                        <li class="nav-item"><a class="nav-link" href="#testimonials">Отзывы</a></li>
                    {%- endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock menu %}

{% block content %}
    <div class="container page-content">
        <h1 class="text-center">Выпуск {{ graduation_year }} в лицах</h1>
        <div class="card-deck _users">
            {% for graduate_profile in graduates -%}
                {{ macros_cards.graduate_card_link(graduate_profile) }}
            {% endfor -%}
        </div>
    </div>

    {% if testimonials %}
    <div class="csc-student-reviews"><a name="testimonials"></a>
        <div class="container">
            <h1 class="text-center">Отзывы студентов</h1>
            <div class="card-columns _testimonials">
                {% for graduate_profile in testimonials %}
                    {{ macros_cards.testimonial_card(graduate_profile) }}
                {% endfor %}

                <a href="{{ url('testimonials') }}" class="btn _small _outline _rounded _gray mt-3">Все отзывы</a>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}

{% block footer %}{% endblock footer %}