{% load i18n %}

<div class="onlinecourses-list__item">
        <h2>{{ online_course.name }} / {{ online_course.teachers|safe }}</h2>
        <div class="onlinecourses-list__item-left">
            {% if online_course.photo %}<img src="{{ online_course.photo.url }}">{% endif %}
        </div>
        <div class="onlinecourses-list__item-right">
            <h3>
            {% if online_course.is_self_paced %}
                {% trans "Without deadlines" %}
                {% if online_course.start and not online_course.is_ongoing %}{% trans "The course starts on " %}{{ online_course.start|date:"j E Y" }}{% endif %}
            {% elif online_course.start and online_course.end %}
                {% if online_course.start %}{{ online_course.start|date:"j E Y" }} — {{ online_course.end|date:"j E Y" }}{% endif %}
            {% endif %}
            </h3>
            <div>
                <p>{{ online_course.description|safe|linebreaks }}</p>
            </div>
        </div>
    <div class="clearfix"></div>
        <div class="onlinecourses-list__item-left">
            <a class="btn btn-primary btn-block btn-wide" href="{{ online_course.link|safe }}" role="button" target="_blank">{% trans "Go to course" %}</a>
        </div>
        <div class="onlinecourses-list__item-right _collaboration">
            {% if online_course.is_au_collaboration %}{% trans "The course was developed in collaboration with the <a href='http://mit.spbau.ru/'>Academic University</a>." %}{% endif %}
        </div>
</div>


