{% extends "compscicenter_ru/syllabus/detail.html" %}

{% block opengraph %}
  <meta property="og:image" content="https://compscicenter.ru/static/v2/img/pages/syllabus/on-campus/og-robotics.jpg" />
{% endblock opengraph %}

{% block inner %}
  <div class="container py-10 text-left">
    <div class="row text-center text-md-left">
      <div class="col-md-6 order-1 order-md-0 d-md-flex" style="justify-content: center; flex-direction: column">
        <h1 class="super-hero mb-0">Robotics</h1>
        <p class="mt-3 mb-0">Роботы</p>
        <div class="row my-6">
          <div class="col-sm col-md-auto mr-0 mr-md-6">
            <div class="h1 mb-2">
              2-3
            </div>
            <p>года обучения</p>
          </div>
          <div class="col-sm col-md-auto mr-0 mr-md-6">
            <div class="h1 mb-2">
              12
            </div>
            <p>курсов</p>
          </div>
          <div class="col-sm col-md-auto mr-0 mr-md-6">
            <div class="h1 mb-2">
              3
            </div>
            <p>семестра практики</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-auto m-auto m-md-0">
            <a href="/application/" class="btn _big _primary _m-wide">Поступить</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="{{ static('v2/img/pages/syllabus/on-campus/robotics.svg') }}" alt="Иллюстрация. Роботы">
      </div>
    </div>
  </div>

  <div class="container-fluid grey-bg py-10">
    <div class="container py-10">
      <div class="row">
        <div class="col-lg-10">
          <h2 class="h1">О направлении</h2>
          <p>За время обучения студенты разберут взаимодействие с технологиями робототехники и научатся создавать свой уникальный
            продукт.</p>
        </div>
      </div>
    </div>
  </div>

  {% set branches = [
    {'target': 'spb', 'name': 'Санкт-Петербург', 'active': selected_branch == 'spb', 'url': '?branch=spb'},
    {'target': 'nsk', 'name': 'Новосибирск', 'active': selected_branch == 'nsk', 'url': '?branch=nsk'}
  ] %}

<div class="container py-10">
    <div class="row">
      <div class="col-lg-10">
        <div class="mb-10">

          {% call macros.scrollable(modifiers='mt-4') %}{{ tabs(branches, modifiers='mt-4') }}{% endcall %}

          <div class="tab-content mt-10">
            {% with tab = branches[0] %}
              <div class="tab-pane {% if tab.active %} active{% endif %}" id="{{ tab.target }}" role="tabpanel"
                   aria-labelledby="tab__{{ tab.target }}">
                <h2>Обязательные курсы</h2>

                <h3 class="mt-10">Алгоритмы</h3>
                {{ collapsible_meta_course('Алгоритмы и структуры данных, часть 1', 'algorithms-1', '<p>Курс знакомит слушателей с базовыми алгоритмическими приёмами и структурами данных.</p>') }}
                {{ collapsible_meta_course('Алгоритмы и структуры данных, часть 2', 'algorithms-2', '<p>Продолжение изучения базовых алгоритмов</p>') }}
                <p class="text-muted">или</p>
                {{ collapsible_meta_course('Дополнительные главы алгоритмов, часть 1', 'advanced-algo', '<p>Курс рассчитан на студентов, сдавших базовые курсы по алгоритмам, предлагаемые в CS центре, и желающих применить свои знания для более сложных задач.</p>') }}
                {{ collapsible_meta_course('Дополнительные главы алгоритмов, часть 2', 'advanced-algo_part2', '<p>Курс рассчитан на студентов, сдавших базовые курсы по алгоритмам, предлагаемые в CS центре, и желающих применить свои знания для более сложных задач.</p>') }}

                <h3 class="mt-10">Математика</h3>
                {{ collapsible_meta_course('Асимптотический анализ и теория вероятностей', 'prob-theory', '<p>В курсе разбираются следующие темы: теория множеств, асимптотики, производящие функции, дискретная и условная вероятность, случайные величины, предельные теоремы.</p>') }}
                <p class="text-muted">или</p>
                {{ collapsible_meta_course('Основы дискретной математики', 'discrete-math', '<p>Целью курса является знакомство слушателей с основными понятиями и методами дискретной математики.</p>') }}

                <h3 class="mt-10">Программирование</h3>
                {{ collapsible_meta_course('Программирование на C++, часть 1', 'cpp-1', '<p>Курс демонстрирует основные средства языка С++, а также наиболее популярных его библиотек.</p>') }}

                <h3 class="mt-10">Спецкурсы направления</h3>
                {% call collapsible_block('Введение в робототехнику', 'robots') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}
                {{ collapsible_meta_course('Анализ изображений и видео, часть 1', 'images-and-video-1', '<p>Курс знакомит слушателей с основными практическими задачами и методами в области анализа изображений и видео.</p>') }}
                {{ collapsible_meta_course('Анализ изображений и видео, часть 2', 'images-and-video-2', '<p>Это вторая часть курса.</p>') }}
                {% call collapsible_block('Электротехника и электроника', 'electronics') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}
                {% call collapsible_block('Архитектура роботов', 'robot-architecture') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}
                {% call collapsible_block('Основы программирования встраиваемых систем', 'embded-system') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}

                <h3 class="mt-10">Дополнительные</h3>
                <p>Ещё хотя бы два любых других курса. </p>
                <h4 class="mt-6">Рекомендованные</h4>
                {{ collapsible_meta_course('Практический минимум', 'practical-minimum', '<p>Курс об инструментах и технологиях которые вокруг нас, которыми пользуются и которыми нужно уметь пользоваться.</p>') }}
                {{ collapsible_meta_course('Deep Learning', 'deep-learning-simplified', '<p>Обзорный курс о глубоком обучении и его применениях в компьютерном зрении и обработке текстов.</p>') }}
                {{ collapsible_meta_course('Программирование на Python', 'python', '<p>Погружение в программирование на Python. Продвинутый курс.</p>') }}
                {{ collapsible_meta_course('Вычисления на видеокартах', 'video_cards_computation', '<p>Слушатели курса:</p>
                <ul>
                <li>узнают какие алгоритмы могут выиграть от реализации на видеокартах вместо процессора, а какие - не могут.</li>
                <li>получат практический опыт разработки на видеокартах с помощью OpenCL.</li>
                <li>научатся базовым приемам оптимизации под видеокарты.</li>
                </ul>') }}
                {{ collapsible_meta_course('Duckietown', 'duckietown', '<p>Открытый исследовательский проект в области автономно управляемых роботов.</p>') }}

                <a href="/courses/" class="btn _outline _gray _m-wide">Все курсы центра</a>

                <h3 class="mt-10">Три семестра практики</h3>
                <a href="/projects/" class="btn _outline _gray _m-wide">Примеры проектов</a>
              </div>
            {% endwith %}

            {% with tab = branches[1] %}
              <div class="tab-pane {% if tab.active %} active{% endif %}" id="{{ tab.target }}" role="tabpanel"
                   aria-labelledby="tab__{{ tab.target }}">
                <h2>Обязательные курсы</h2>

                <h3 class="mt-10">Алгоритмы</h3>
                {{ collapsible_meta_course('Алгоритмы и структуры данных, часть 1', 'algorithms-1', '<p>Курс знакомит слушателей с базовыми алгоритмическими приёмами и структурами данных.</p>') }}
                {{ collapsible_meta_course('Алгоритмы и структуры данных, часть 2', 'algorithms-2', '<p>Продолжение изучения базовых алгоритмов</p>') }}

                <h3 class="mt-10">Математика</h3>
                {{ collapsible_meta_course('Дискретный анализ и теория вероятностей', 'discrete-analysis', '<p>Курс будет посвящён основам комбинаторики и теории вероятностей, а также студентам будут даны основные сведения из математической статистики и линейной алгебры.</p>') }}

                <h3 class="mt-10">Программирование</h3>
                {{ collapsible_meta_course('Программирование на C++, часть 1', 'cpp-1', '<p>Курс демонстрирует основные средства языка С++, а также наиболее популярных его библиотек.</p>') }}

                <h3 class="mt-10">Спецкурсы направления</h3>
                {% call collapsible_block('Введение в робототехнику', 'robots') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}
                {{ collapsible_meta_course('Анализ изображений и видео, часть 1', 'images-and-video-1', '<p>Курс знакомит слушателей с основными практическими задачами и методами в области анализа изображений и видео.</p>') }}
                {{ collapsible_meta_course('Анализ изображений и видео, часть 2', 'images-and-video-2', '<p>Это вторая часть курса.</p>') }}
                {% call collapsible_block('Электротехника и электроника', 'electronics') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}
                {% call collapsible_block('Архитектура роботов', 'robot-architecture') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}
                {% call collapsible_block('Основы программирования встраиваемых систем', 'embded-system') %}
                  <p>Этот курс новый для CS центра. Описание и ссылка появятся перед началом обучения.</p>
                {% endcall %}

                <h3 class="mt-10">Дополнительные</h3>
                <p>Ещё хотя бы два любых других курса. </p>
                <h4 class="mt-6">Рекомендованные</h4>
                {{ collapsible_meta_course('Практический минимум', 'practical-minimum', '<p>Курс об инструментах и технологиях которые вокруг нас, которыми пользуются и которыми нужно уметь пользоваться.</p>') }}
                {{ collapsible_meta_course('Deep Learning', 'deep-learning-simplified', '<p>Обзорный курс о глубоком обучении и его применениях в компьютерном зрении и обработке текстов.</p>') }}
                {{ collapsible_meta_course('Программирование на Python', 'python', '<p>Погружение в программирование на Python. Продвинутый курс.</p>') }}
                {{ collapsible_meta_course('Вычисления на видеокартах', 'video_cards_computation', '<p>Слушатели курса:</p>
                <ul>
                <li>узнают какие алгоритмы могут выиграть от реализации на видеокартах вместо процессора, а какие - не могут.</li>
                <li>получат практический опыт разработки на видеокартах с помощью OpenCL.</li>
                <li>научатся базовым приемам оптимизации под видеокарты.</li>
                </ul>') }}
                {{ collapsible_meta_course('Duckietown', 'duckietown', '<p>Открытый исследовательский проект в области автономно управляемых роботов.</p>') }}

                <a href="/courses/" class="btn _outline _gray _m-wide">Все курсы центра</a>
              </div>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock inner %}
