{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Студенческие проекты - {{ super() }}{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(
                document.getElementById("project-description"),
                {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "\\[", right: "\\]", display: true},
                        {left: "$", right: "$", display: false},
                        {left: "\\(", right: "\\)", display: false}
                    ]
                }
            );
        });
    </script>
{% endblock stylesheets %}

{% block content %}
    <div class="container page-content">

        <a href="{{ url("public_projects") }}" class="text-small text-muted">Примеры студенческих проектов /</a>
        <h1>{{ project.title }}</h1>
        <div class="mb-4">
            {% set participants = project.get_participants() %}
            <h3>Участник{% if participants|length > 1 %}и{% endif %} проекта</h3>
            <div class="row mb-3">
                {% for user in participants %}
                    <div class="col-xl-4 col-lg-6 mb-2">{{ macros.author_card(user, user.get_student_status()) }}</div>
                {% endfor %}
            </div>
            {% set supervisors = project.get_supervisors() %}
            <h3>Руководител{% if supervisors|length > 1 %}и{% else %}ь{% endif %}</h3>
            <div class="row">
                {% for s in supervisors %}
                    <div class="col-xl-4 col-lg-6 mb-2">{{ macros.supervisor_card(s) }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div id="project-description">
                    {{ project.description }}
                </div>
                {% set publication_authors = project.get_publication_authors() %}
                {% if publication_authors %}
                <h3>Текст написал{% if publication_authors|length > 1 %}и{% else %}{% if publication_authors[0].user.gender == "F" %}а{% endif %}{% endif %}</h3>
                <div class="row mb-3">
                    {% for pba in publication_authors %}
                        <div class="col-lg-4 mb-2">
                        {{ macros.author_card(pba.user, pba.short_description) }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if project.external_links %}
                    {% set links = project.external_links.split('\n') %}
                    <h3>Проект на внешних ресурсах</h3>
                    <div class="external-links">
                        {% for uri in links %}
                            <a href="{{ uri }}" target="_blank" rel="noopener">
                                {%- if uri.startswith('https://github.com') -%}
                                    {{ macros.svg_inline('github') }}
                                {%- elif uri.startswith('https://habr.com') -%}
                                    {{ macros.svg_inline('habr') }}
                                {%- endif -%}
                                <span>{{ uri }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}
