{% extends "compscicenter_ru/layouts/base.html" %}

{% import "compscicenter_ru/macros/_nav.jinja2" as macros_nav %}
{% import "compscicenter_ru/macros/_cards.jinja2" as macros_cards %}

{% block title %}Практика и НИР - {{ super() }}{% endblock title %}

{% block body_attrs %}class="_dark" data-init-sections="tabs"{% endblock body_attrs %}

{% block content %}
    <div class="container page-content">
        <h1>Примеры студенческих проектов</h1>
        <div class="row">
            <div class="col-12 order-1 order-lg-0">
                {% call macros.scrollable() %}{{ macros_nav.tabs(tabs) }}{% endcall %}
            </div>
            <div class="col-lg-9 order-2 order-lg-1">
                <div class="tab-content">
                    {% for project_type, pp in project_publications.items() -%}
                        {% with tab = tabs[project_type] -%}
                            <div class="tab-pane {% if tab.active %} show active{% endif %}" id="{{ tab.target }}" role="tabpanel" aria-labelledby="tab__{{ tab.target }}">
                                <div class="card-deck _three">
                                    {% set cover_placeholder = static('v2/img/placeholder/project.jpg') %}
                                    {% set user_placeholder = static('v2/img/placeholder/users.jpg') %}
                                    {% for project_publication in pp -%}
                                        {{ macros_cards.project_publication_card(project_publication,
                                                                                 cover_placeholder,
                                                                                 user_img_url=user_placeholder) }}
                                    {%- endfor %}
                                </div>
                            </div>
                        {%- endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 pl-lg-8 order-0 order-lg-2">
                <div class="card _inverted mb-6">
                    <div class="h4 card__header _dark mb-0">
                        Подробнее
                    </div>
                    <div class="card__content">
                        <div class="mb-4">
                            <a href="{{ url('project_practice') }}" class="pb-4">
                                Как получить практику в CS центре
                            </a></div>
                        <div>
                            <a href="{{ url('project_research') }}" class="mt-4">
                                Как взять тему для научно-исследовательской работы
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}