{% extends "lms/layouts/v1_base.html" %}

{% block title %}Успеваемость по курсу - {{ enrollment.student_profile.user.get_full_name() }}{% endblock title %}

{% block content %}
  {% set student_profile = enrollment.student_profile %}
  {% set course = enrollment.course %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 h2-and-buttons">
        <h2>
          Успеваемость<br>
          <small>
            {{ student_profile.user.get_full_name() }}
            ({{ student_profile.get_type_display()|lower }}, {{ student_profile.get_status_display()|lower }})
          </small>
        </h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a class="h4 mt-0 mb-10" style="display: inline-block" href="{{ course.get_absolute_url() }}">{{ course.name }}, {{ course.semester }}</a><br>
        <div class="mb-20">
          Оценка за курс: {{ enrollment.get_grade_display() }}<br>
          Сумма баллов: {{ enrollment.total_score }}<br>
        </div>
        {% if student_assignments %}
          <table class="table table-bordered">
            <thead>
            <tr class="active">
              <th>Название задания</th>
              <th>Дедлайн</th>
              <th>Время отправки последнего решения</th>
              <th>Проверяющий</th>
              <th>Балл</th>
              <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for student_assignment in student_assignments %}
              <tr>
                <td>
                  <a href="{{ student_assignment.get_student_url() }}">{{ student_assignment.assignment.title }}</a>
                </td>
                <td>{{ student_assignment.assignment.deadline_at_local(tz=request.user.time_zone)|date("d.m.Y H:i") }}</td>
                <td>
                  {% if student_assignment.stats and student_assignment.stats['solutions'] is defined %}
                    {{ student_assignment.stats['solutions']['last'].astimezone(request.user.time_zone)|date("d.m.Y H:i") }}
                    {% else %}
                    &mdash;
                  {% endif %}
                </td>
                <td>
                  {% if student_assignment.assignee %}{{ student_assignment.assignee.teacher.get_full_name() }}{% else %}—{% endif %}
                </td>
                <td>{{ student_assignment.get_score_verbose_display() }}</td>
                <td>{{ student_assignment.get_status_display() }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          Задания не найдены.
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
