{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {% crispy form form.helper %}
    </div>
  </div>
</div>
{% endblock content %}
