{% extends "lms/layouts/v1_base.html" %}
{% block content %}
    <div class="container">
        <h4> <b>Удаление ответственного группы </b></h4>
        <table class="table table-borderless table-sm">
            <tr>
                <td width="150px">Ответственный:</td>
                <td><b>{{ student_group_assignee_delete.assignee }}</b></td>
            </tr>
            <tr>
                <td>Название группы:</td>
                <td><b>{{ student_group_assignee_delete.student_group }}</b></td>
            </tr>
        </table>
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Удалить">
            <button type="button" class="btn" onclick="history.go(-1);">Отмена</button>
        </form>
    </div>
{% endblock content %}
