{% extends "lms/layouts/v1_base.html" %}

{% block title %}Анкеты - YDS{% endblock title %}
{% block body_attrs %} class="gray" data-init-sections="applicant_list"{% endblock body_attrs %}

{% block javascripts %}
  {{ render_bundle('admission', config='V1', extension='js') }}
{% endblock javascripts %}

{% block stylesheets %}
  <style>
    {# FIXME: move to css file #}
    .dashed {
      background-image: linear-gradient(to right, #337ab7 75%, transparent 75%);
      background-position: 0 1.2em;
      background-repeat: repeat-x;
      background-size: 6px 1px;
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="admission-list-page">
    {{ crispy(filter.form) }}

    {% if import_tasks %}
      <a href="#import_results" data-toggle="collapse" aria-expanded="false" class="dashed pb-10"
         style="display: inline-block; text-decoration: dashed!important;">Импорт результатов</a><br>
      <div class="collapse" id="import_results">
        {% for import_info in import_tasks.values() %}
          <div class="pb-10">
            <a class="btn btn-default _btn-import-contest-results mr-10"
              href="{{ url('admission:api:import_contest_scores', campaign_id=import_info.campaign.pk, contest_type=import_info.contest_type) }}">
              <i class="fa fa-refresh" aria-hidden="true"></i> {{ ContestTypes.values[import_info.contest_type] }}
            </a>{% if import_info.latest_task %} Задача добавлена {{ import_info.latest_task.created_at_local(request.user.time_zone) }} [{{ import_info.latest_task.status }}]{% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Анкеты поступающих / {{ paginator.count }}</h3>
        </div>

        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>Поступающий</th>
              <th>Набор</th>
              <th>Направление</th>
              <th style="width: 60px;">Тест</th>
              <th style="width: 60px;">Экз.</th>
            </tr>
            </thead>
            <tbody>
            {% for applicant in applicants %}
              <tr>
                <td class="applicant">
                  <a href="{{ url("admission:applicants:detail", pk=applicant.pk) }}">{{ applicant.full_name }}</a>
                  {% if request.user.is_curator %}
                    {% if applicant.user_id %}
                      <a style="float: left; margin-bottom: 30px;" class="btn btn-link" title="Профиль на сайте"
                         href="{{ url("user_detail", subdomain=LMS_SUBDOMAIN, pk=applicant.user_id) }}" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                      </a>
                    {% elif applicant.status in applicant.ACCEPT_STATUSES and applicant.campaign.current %}
                      <form method="post" action="{{ url("admission:applicants:create_student", pk=applicant.pk) }}">
                        {% csrf_token %}
                        <button title="Создать профиль на сайте" type="submit" class="btn btn-link">
                          <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                      </form>
                    {% endif %}
                  {% endif %}<br>
                  {% if applicant.university_other %}{{ applicant.university_other }}{% else %}{% if applicant.university_legacy.abbr %}
                    {{ applicant.university_legacy.abbr }}{% else %}{{ applicant.university_legacy.name }}{% endif %}{% endif %}
                  {% if applicant.level_of_education %}<br>{{ applicant.get_level_of_education_display() }}{% endif %}
                </td>
                <td>{{ applicant.campaign.branch.name }},&nbsp;{{ applicant.campaign.year }}</td>
                <td>{% if applicant.preferred_study_programs %}
                  {% for p in applicant.preferred_study_programs %}{{ p|upper }}{% if not loop.last %}, {% endif %}{% endfor %}
                {% else %}-{% endif %}
                </td>
                <td>{% if applicant.online_test %}{{ applicant.online_test.score_display() }}{% else %}-{% endif %}</td>
                <td>{% if applicant.exam %}{{ applicant.exam.score_display() }}{% else %}-{% endif %}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="6" class="empty-results">Измените параметры поиска.</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          {% if is_paginated %}
            {% set get_params = request.GET.copy() %}
            {% do get_params.pop('page', '') %}
            {{ macros.pagination(paginator, page_obj, request.path + "?" + get_params.urlencode()) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
