{% extends "lms/layouts/v1_base.html" %}

{% block title %}Отправка приглашений{% endblock title %}

{% block body_attrs %} class="gray" data-init-sections="send_interview_invitations"{% endblock body_attrs %}
{#{% block body_attrs %} class="gray" data-init-sections="selectpickers,tooltips"{% endblock body_attrs %}#}

{% block javascripts %}
  <script src="{{ static('v1/js/vendor/reverse.js') }}"></script>
  {{ render_bundle('admission', config='V1', extension='js') }}
{% endblock javascripts %}

{% block content %}
<div class="admission-list-page">
    {{ crispy(filter.form) }}

    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Ожидают приглашения / {{ applicants|length }}</h3>
        </div>

        <div class="panel-body form-check">
          {{ crispy(interview_stream_form) }}
          <table class="table">
            <thead>
              <tr>
                <th><input class="form-check-input" type="checkbox" value="" id="checkAllStudent"></th>
                <th>Поступающий</th>
                <th>Заметка</th>
                <th>Направление</th>
                <th style="width: 60px;">Тест</th>
                <th style="width: 60px;">Экз.</th>
              </tr>
            </thead>
            <tbody id="checkStudent">
               {% if applicants|length > 0 %}
                  {% for applicant in applicants %}
                      <tr>
                          <td><input name='applicant-select' class="form-check-input" type="checkbox" value="{{applicant.id}}" id="id_{{applicant.id}}"></td>
                          <td class="applicant">
                              <a href="{{ applicant.get_absolute_url() }}">{{ applicant.full_name }}</a>
                              {% if applicant.university_other %}{{ applicant.university_other }}
                              {% else %}
                                {% if applicant.university.abbr %}{{ applicant.university.abbr }}
                                  {% else %}
                                    {% if applicant.university.name %}{{ applicant.university.name }}{% endif %}
                                {% endif %}
                              {% endif %}
                              {% if applicant.course %}<br>{{ applicant.get_course_display }}{% endif %}

                          </td>
                          <td>{% if applicant.admin_note %}{{ applicant.admin_note }}{% else %}-{% endif %}</td>
                          <td>{% if applicant.preferred_study_programs %}
                              {% for p in applicant.preferred_study_programs %}{{ p|upper }}{% if not loop.last %}, {% endif %}{% endfor %}
                              {% else %}-{% endif %}
                          </td>
                          <td>{% if applicant.online_test and applicant.online_test.score_display != "-" and applicant.online_test.score %}
                            {{ applicant.online_test.score }}{% else %}-{% endif %}
                          </td>
                          <td>{% if applicant.exam and applicant.exam.score_display != '-' and applicant.exam.score %}
                            {{ applicant.exam.score }}{% else %}-{% endif %}
                          </td>
                      </tr>
                  {% endfor %}
              {% else %}
                  <tr>
                      <td colspan="6" class="empty-results">Измените параметры поиска.</td>
                  </tr>
              {% endif %}
            </tbody>
          </table>

{#        {% if is_paginated %}#}
{#            {{ bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" last_label="<i class='fa fa-angle-double-right'></i>" first_label="<i class='fa fa-angle-double-left'></i>" }}#}
{#        {% endif %}#}
        </div>
      </div>
    </div>
</div>
{% endblock content %}
