{% extends "lms/layouts/v1_base.html" %}

{% block title %}Отправка приглашений{% endblock title %}

{% block body_attrs %} class="gray" data-init-sections="selectpickers"{% endblock body_attrs %}

{% block javascripts %}
  <script src="{{ static('v1/js/vendor/reverse.js') }}"></script>
  {{ render_bundle('admission', config='V1', extension='js') }}
{% endblock javascripts %}

{% block content %}
  <div class="admission-list-page">
    {{ crispy(stream_filter_form) }}

    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Ожидают приглашения / {{ paginator.count }}</h3>
        </div>

        <form action="" method="POST">
          <div class="panel-body form-check">

            {{ crispy(stream_form) }}

            <table class="table">
              <thead>
              <tr>
                <th style="width: 4%;"></th>
                <th style="width: 15%;">Поступающий</th>
                <th style="width: 7%;">Проп.</th>
                <th>Заметка</th>
                <th style="width: 8%;">Формат</th>
                <th style="width: 6%;">Тест</th>
                <th style="width: 6%;">Экз.</th>
              </tr>
              </thead>
              <tbody id="check-student">
              {% if applicants|length > 0 %}
                {% for applicant in applicants %}
                  <tr>
                    <td>
                      <input type="checkbox" name='ids' class="form-check-input"
                             value="{{ applicant.id }}" />
                    </td>
                    <td class="applicant">
                      <a href="{{ applicant.get_absolute_url() }}">{{ applicant.full_name }}</a><br>
                      {% if applicant.university_other %}{{ applicant.university_other }}
                      {% elif applicant.university_legacy.abbr %}{{ applicant.university_legacy.abbr }}
                      {% elif applicant.university_legacy.name %}{{ applicant.university_legacy.name }}
                      {% endif %}
                    </td>
                    <td>
                      {{ applicant.miss_count }}
                    </td>
                    <td>{% if applicant.admin_note %}{{ applicant.admin_note }}{% else %}-{% endif %}</td>
                    <td>
                      {% if applicant.interview_format %}
                        {{ applicant.get_interview_format_display() }}
                      {% else %}
                        -
                      {% endif %}
                    </td>
                    <td>
                      {% if applicant.online_test and applicant.online_test.score_display != "-" and applicant.online_test.score %}
                      {{ applicant.online_test.score }}{% else %}-{% endif %}
                    </td>
                    <td>
                      {% if applicant.exam and applicant.exam.score_display != '-' and applicant.exam.score %}
                      {{ applicant.exam.score }}{% else %}-{% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="6" class="empty-results">Измените параметры поиска.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
            {{ macros.pagination(paginator, page, paginator_url) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
