{% extends "lms/layouts/v1_base.html" %}

{% import "lms/macros/_global.jinja2" as macros_global %}

{% block title %}Отправка приглашений{% endblock title %}

{% block body_attrs %} class="gray" data-init-sections="selectpickers,send_interview_invitations"{% endblock body_attrs %}

{% block javascripts %}
  <script src="{{ static('v1/js/vendor/reverse.js') }}"></script>
  {{ render_bundle('admission', config='V1', extension='js') }}
{% endblock javascripts %}

{% block content %}
  <div class="admission-list-page">
    {{ crispy(stream_filter_form) }}

    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Ожидают приглашения / {{ paginator.count }}</h3>
        </div>

        <form action="" method="POST">
          <div class="panel-body form-check">

            {{ crispy(stream_form) }}

            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th>Поступающий</th>
                <th>Заметка</th>
                <th>Направление</th>
                <th style="width: 60px;">Тест</th>
                <th style="width: 60px;">Экз.</th>
              </tr>
              </thead>
              <tbody id="check-student">
              {% if applicants|length > 0 %}
                {% for applicant in applicants %}
                  <tr>
                    <td>
                      <input type="checkbox" name='ids' class="form-check-input"
                             value="{{ applicant.id }}" />
                    </td>
                    <td class="applicant">
                      <a href="{{ applicant.get_absolute_url() }}">{{ applicant.full_name }}</a><br>
                      {% if applicant.university_other %}{{ applicant.university_other }}
                      {% elif applicant.university.abbr %}{{ applicant.university.abbr }}
                      {% elif applicant.university.name %}{{ applicant.university.name }}
                      {% endif %}
                    </td>
                    <td>{% if applicant.admin_note %}{{ applicant.admin_note }}{% else %}-{% endif %}</td>
                    <td>
                      {% if applicant.preferred_study_programs %}
                        {% for p in applicant.preferred_study_programs %}{{ p|upper }}{% if not loop.last %}, {% endif %}{% endfor %}
                      {% else %}
                        -
                      {% endif %}
                    </td>
                    <td>
                      {% if applicant.online_test and applicant.online_test.score_display != "-" and applicant.online_test.score %}
                      {{ applicant.online_test.score }}{% else %}-{% endif %}
                    </td>
                    <td>
                      {% if applicant.exam and applicant.exam.score_display != '-' and applicant.exam.score %}
                      {{ applicant.exam.score }}{% else %}-{% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="6" class="empty-results">Измените параметры поиска.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
            {{ macros_global.pagination(paginator, is_paginated, page, paginator_url) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
