{% with id=widget.attrs.id %}
{% if field.label %}<label class="title-label survey-label">{{ field.label }}{% if field.required %}<span class="asterisk">*</span>{% endif %}</label>{% endif %}
{% if field.help_text %} <p class="small-text text-muted mb-4">{{ field.help_text }}</p>{% endif %}
<div class="grouped">
    <div class="choices"{% if id %} id="{{ id }}"{% endif %}>
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                {% include option.template_name with widget=option field=field %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% if errors %}
    <p class="help-text error">{% if field.error_message %}{{ error_message }}{% else %}{% for error in errors %}{{ error }}{% endfor %}{% endif %}</p>
{% endif %}
{% endwith %}
