{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}

{# Note: Feel the fear below. #}
{% block content %}
    <div class="container">
    <h3>Будет выпускаться / {{ branch }}</h3>
    Преподавателей участвовало в обучении: {{unique_teachers_count}}<br>
    Провели часов в аудитории (из расчёта 1 лекция/семинар == 1.5 часа): {{total_hours}}<br>
    Сдали на отлично {{ excellent_total }}<br>
    Сдали на хорошо {{ good_total }}<br>
    Всего прослушали и сдали курсов {{ total_passed_courses }}<br>
    Уникальных проектов {{ unique_projects|length }}<br>
    Кол-во различных курсов, которые проходили студенты: {{unique_courses|length}}<br>
    <ul>
        {% for course in unique_courses %}
            <li>{{ course }}</li>
        {% endfor %}
    </ul>
    Сдал больше всего курсов:
        <ul>
            {% for most_courses_student in most_courses_students %}
                <li><a href="{{ most_courses_student.get_absolute_url }}">{{ most_courses_student }}</a></li>
            {% endfor %}
        </ul>

    Сдал больше всего курсов в одном семестре:
        <ul>
        {% for most_courses_in_term_student in most_courses_in_term_students %}
            <li><a href="{{ most_courses_in_term_student.get_absolute_url }}">{{ most_courses_in_term_student }}</a></li>
        {% endfor %}
        </ul>
    Сдал больше всего курсов клуба:<br>
        <ul>
            {% for s in most_open_courses_students %}
                <li><a href="{{ s.get_absolute_url }}">{{ s }}</a> ({{ s.pass_open_courses  }})</li>
            {% endfor %}<br>
        </ul>

    Поступили на первом курсе университета:<br>
        <ul>
        {% for s in enrolled_on_first_course %}
            <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
        {% endfor %}
        </ul>
    Закончили по двум направлениям или более:<br>
        <ul>
            {% for s in finished_two_or_more_programs %}
                <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
            {% endfor %}<br>
        </ul>

    По годам поступления:<br>
        {% for year, students in by_enrollment_year.items %}
            <b>{{ year }}</b>:<br>
            <ul>
                {% for s in students %}
                    <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    Сдал 3 внутренние практики:<br>
        <ul>
        {% for s in all_three_practicies_are_internal %}
            <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
        {% endfor %}
        </ul>
    Сдал >= 3 любых практик в первые 2 года обучения:
        <ul>
        {% for s in passed_practicies_in_first_two_years %}
            <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
        {% endfor %}
        </ul>
    Сдал >= 3 внутренних практик в первые 2 года обучения:
        <ul>
        {% for s in passed_internal_practicies_in_first_two_years %}
            <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
        {% endfor %}
        </ul>
    Больше всех не сдал курсов центра или клуба, которые брал:
        <ul>
        {% for s in most_failed_courses %}
            <li><a href="{{ s.get_absolute_url }}">{{ s }}</a> ({{ s.failed_courses }})</li>
        {% endfor %}
        </ul>
    Меньше всех не сдал курсов центра или клуба, которые брал:
        <ul>
        {% for s in less_failed_courses %}
            <li><a href="{{ s.get_absolute_url }}">{{ s }}</a> ({{ s.failed_courses }})</li>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}