{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/languages/tex.min.js"></script>
    {% render_bundle 'supervising' 'js' 'V1' %}
{% endblock javascripts %}


{% block content %}
    <div class="container">
    <h3>{{ branch }}</h3>
    <div class="alert alert-info">
        Направления обучения берутся из профилей выпускников, которые можно <a href="/staff/exports/#will-graduate">сгенерировать здесь</a>.
    </div>
    <div class="alert alert-danger">
        Для выпуска 2020 направления уже указали у пользователя, поэтому сейчас они берутся из профиля пользователя, а не выпускника.
    </div>
    <pre id="diplomas-code"><span class="btn-clipboard">Copy</span><code class="tex">
{% for s in students %}\diploma{{ '{' }}{{ s.pk }}{{ '}' }}{{ '{' }}{{s.first_name}}{{ '}' }}{{ '{' }}{{s.patronymic}}{{ '}' }}{{ '{' }}{{s.last_name}}{{ '}' }}{{ '{' }}{% if s.gender == 'F' %}a{% endif %}{{ '}' }}
{{ '{' }}{% if s.academic_disciplines.all|length == 1 %}\\направления {% else %}направлений\\{% endif %}{% for program in s.academic_disciplines.all %}{{ program.name_en }}{% if not forloop.last %}, {% endif %}{% endfor %}{{ '}' }}
{{ '{' }}{{s.enrollment_year}}{{ '}' }}
{{ '{' }}{% for course in s.courses %}
{% spaceless %}\{{course.type}}{{ '{' }}{{course.name}}{{ '}' }}{% if course.type == "course" %}{{ '{' }}1 семестр{{ '}' }}{{ '{' }}{% if course.class_count > 0 %}{{course.class_count}}{% endif %}{{ '}' }}{% endif %}{{ '{' }}{{course.final_grade}}{{ '}' }}
       {{ '{' }}{{ course.teachers }}{{ '}' }}
{% endspaceless %}{% if forloop.last %}
{% endif %}{% endfor %}{{ '}' }}
{{ '{' }}{% if s.projects|length > 0 %}
{% for project in s.projects %}{% spaceless %}
\{{ project.type }}{{ '{' }}{{ project.teachers }}{{ '}' }}
         {{ '{' }}{{ project.name }}{{ '}' }}{{ '{' }}{{ project.term }}{{ '}' }}{{ '{' }}{{ project.final_grade }}{{ '}' }}{% endspaceless %}
{% endfor %}{% endif %}{{ '}' }}

{% empty %}
    Нет студентов со статусом "Будет выпускаться"
{% endfor %}
</code></pre>
    </div>
{% endblock content %}
