{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>
    <script type="text/javascript" src="//yastatic.net/highlightjs/8.2/languages/tex.min.js"></script>
    {% render_bundle 'supervising' 'js' 'V1' %}
{% endblock javascripts %}


{% block content %}
    <div class="container">
    <h3>{{ branch }}</h3>
    <div class="alert alert-info">
        Направления обучения берутся из профилей выпускников, которые можно <a href="/staff/exports/#will-graduate">сгенерировать здесь</a>.
    </div>
    <pre id="diplomas-code"><span class="btn-clipboard">Copy</span><code class="tex">
{% for s in students %}\diploma{{ '{' }}{{ s.pk }}{{ '}' }}{{ '{' }}{{s.first_name}}{{ '}' }}{{ '{' }}{{s.patronymic}}{{ '}' }}{{ '{' }}{{s.last_name}}{{ '}' }}{{ '{' }}{% if s.gender == 'F' %}a{% endif %}{{ '}' }}
{{ '{' }}\направлени{{ s.graduate_profile.academic_disciplines.all|pluralize:"я,й" }} {% for program in s.graduate_profile.academic_disciplines.all %}{{ program.name_en }}{% if not forloop.last %}, {% endif %}{% endfor %}{{ '}' }}
{{ '{' }}{{s.enrollment_year}}{{ '}' }}
{{ '{' }}{% for course in s.courses %}
{% spaceless %}\{{course.type}}{{ '{' }}{{course.name}}{{ '}' }}{% if course.type == "course" %}{{ '{' }}1 семестр{{ '}' }}{{ '{' }}{% if course.class_count > 0 %}{{course.class_count}}{% endif %}{{ '}' }}{% endif %}{{ '{' }}{{course.final_grade}}{{ '}' }}
       {{ '{' }}{{ course.teachers }}{{ '}' }}
{% endspaceless %}{% if forloop.last %}
{% endif %}{% endfor %}{{ '}' }}
{{ '{' }}{% if s.projects_progress|length > 0 %}
{% for ps in s.projects_progress %}{% with project=ps.project %}{% spaceless %}
\{% if project.project_type == 'research' %}theory{% else %}practice{% endif %}{{ '{' }}{% for s in project.supervisors.all %}{{ s.get_abbreviated_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{{ '}' }}
         {{ '{' }}{{project.name|tex}}{{ '}' }}{{ '{' }}{{project.semester}}{{ '}' }}{{ '{' }}{{ps.get_final_grade_display|lower}}{{ '}' }}{% endspaceless %}
{% endwith %}{% endfor %}{% endif %}{{ '}' }}

{% empty %}
    Нет студентов со статусом "Будет выпускаться"
{% endfor %}
</code></pre>
    </div>
{% endblock content %}
