{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="content-title">Файлы</h2>
            <div class="list-group">
                <div  class="list-group-item">
                    <h4 class="list-group-item-heading">Будут выпускаться</h4><br>
                    <p>Форма сгенерирует профили будущих выпускников. После добавления направлений обучения, отзывов и т.д., их нужно дополнительно активировать для показа на странице выпуска.</p>
                    {% crispy alumni_profiles_form %}
                    {% for branch in branches %}
                        <b>{{ branch.name }}</b>: <a href="{% url 'staff:exports_students_diplomas_tex' branch.pk %}">TeX</a> или <a href="{% url 'staff:exports_students_diplomas_csv' branch.pk %}">CSV</a><br><a href="{% url 'staff:exports_alumni_stats' branch.pk %}">Статистика</a><br>
                    {% endfor %}
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Ведомость успеваемости. Полная</h4>
                    Группы: Студент центра, Вольнослушатель, Выпускник.<br>
                    Курсы: центра, клуба, ШАД-, онлайн-, проекты.<br>
                    Скачать в формате <a href="{% url 'staff:exports_sheet_all_students_csv' %}">CSV</a> или <a href="{% url 'staff:exports_sheet_all_students_xlsx' %}">XLSX</a>.
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Ведомость успеваемости. Семестр</h4>
                    Группы: Студент центра, Вольнослушатель<br>
                    Не учитываются студенты со статусом "Отчислен".<br>
                    Включены курсы для целевого семестра (центр, клуб, ШАД, онлайн-курсы).<br>
                    * для курсов клуба и центра данные о преподавателях не включены.<br>
                    <b>{% trans current_term.type|title %} {{ current_term.year }}</b>: <a target="_blank" href="{% url 'staff:exports_students_sheet_filter_by_semester_csv' current_term.year current_term.type  %}">CSV</a> или
                    <a target="_blank" href="{% url 'staff:exports_students_sheet_filter_by_semester_xlsx' current_term.year current_term.type  %}">XLSX</a><br>
                    <b>{% trans prev_term.type|title %} {{ prev_term.year }}</b>: <a target="_blank" href="{% url 'staff:exports_students_sheet_filter_by_semester_csv' prev_term.year prev_term.type  %}">CSV</a> или
                    <a target="_blank" href="{% url 'staff:exports_students_sheet_filter_by_semester_xlsx' prev_term.year prev_term.type  %}">XLSX</a><br>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Поступление. Отчетность по набору</h4>
                    {% for campaign in campaigns %}
                        <a target="_blank" href="{% url 'staff:exports_report_admission' campaign.pk 'csv' %}">{{ campaign }}</a><br>
                    {% endfor %}
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Оценки по проектам, {% trans current_term.type %} {{ current_term.year }}</h4>
                    <p><a href="{%  url 'staff:autograde_projects' %}" class="btn btn-primary btn-wide">Выставить</a></p>
                    <p>Условия, при которых будет сделана попытка посчитать оценку:</p>
                    <ul>
                        <li>Оценка ещё не выставлена ("Без оценки")</li>
                        <li>Для внешнего проекта указана оценка за презентацию</li>
                        <li>Для внутреннего - оценка за презентацию и оценка руководителя</li>
                        <li>Для каждого финального отчетного периода (семестр, тип проекта, отделение студента) выставлены настройки с оценками</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
