{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load user_thumbnail from user_thumbnail %}

{% block body_attrs %} data-init-section="lazy-img"{% endblock body_attrs %}

{% block content %}
    <div class="container">
        <div class="c-student-faces">
        {% if students %}
            {% for student in students %}
                <div class="student">
                    <a href="{{ student.get_absolute_url }}">
                    {% user_thumbnail student student.ThumbnailSize.SQUARE as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% enduser_thumbnail %}
                        <figcaption {% if student.status == "expelled" %}class="expelled"{% endif %}>{{ student.last_name }} {{ student.first_name }}</figcaption>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="empty">пусто!</div>
        {% endif %}
        </div>
    </div>
{% endblock content %}
