{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load core_tags %}
{% load user_thumbnail from user_thumbnail %}

{% block body_attrs %} data-init-section="lazy-img"{% endblock body_attrs %}

{% block content %}
{% if students %}
    {% for chunk in students|chunks:"16" %}
        <page size="A4" class="student-faces-printable">
            {% for student in chunk %}
                <div class="student">
                    {% user_thumbnail student student.ThumbnailSize.BASE_PRINT as im %}
                        <img src="{{ im.url }}" width="150" height="210">
                    {% enduser_thumbnail %}
                        <figcaption {% if student.status == "expelled" %}class="expelled"{% endif %}>{{ student.last_name }}<br>{{ student.first_name }}</figcaption>
                </div>
            {% endfor %}
        </page>
    {% endfor %}

{% else %}
    <div class="empty">пусто!</div>
{% endif %}
{% endblock content %}
