{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{% trans "Student search" %}</h2>
      <div class="btn-toolbar">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <form class="user-search">
        <input type="hidden" id="ajax-uri" value="{{ json_api_uri }}">
        <div class="form-group">
          <label for="name">{% trans "Name, full or partial" %}</label>
          <input type="text" class="form-control" id="name"
                 autofocus autocomplete="off">
        </div>
        <div class="form-group">
          <label>Отделение</label><br>
          <div class="btn-group btn-group-sm" data-toggle="buttons">
            {% for branch_id, branch_name in branches.items %}
              <label class="btn btn-default">
                <input type="checkbox" name="branches"
                       value="{{ branch_id }}"
                       autocomplete="off">{{ branch_name }}
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <label>{% trans "CSCUser|Curriculum year" %}</label><br>
          <div class="btn-group btn-group-sm" data-toggle="buttons">
            {% for year in curriculum_years %}
              <label class="btn btn-default">
                <input type="checkbox" name="curriculum_year_cb"
                       value="{{ year }}"
                       autocomplete="off">{{ year }}
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <label>{% trans "Groups" %}</label><br>
          <div class="btn-group btn-group-sm" data-toggle="buttons">
            {% for group_id, group_name in groups.items %}
              <label class="btn btn-default">
                <input type="checkbox" name="group"
                       value="{{ group_id }}"
                       autocomplete="off">{% trans group_name %}
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <label>{% trans "Status" %}</label><br>
          <div class="btn-group btn-group-sm" data-toggle="buttons" >
                <label class="btn btn-default">
                <input type="checkbox" name="status"
                       value="studying" autocomplete="off">Учится
              </label>
            {% for status_id, status_name in status.items %}
              <label class="btn btn-default">
                <input type="checkbox" name="status"
                       value="{{ status_id }}"
                       autocomplete="off">{% trans status_name %}
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <label>{% trans "Passed courses" %}</label><br>
          <div class="btn-group btn-group-sm" data-toggle="buttons">
            {% for cnt in cnt_enrollments %}
              <label class="btn btn-default">
                <input type="checkbox" name="cnt_enrollments"
                       value="{{ cnt }}"
                       autocomplete="off">{{ cnt }}
              </label>
            {% endfor %}
              <label class="btn btn-default">
                <input type="checkbox" name="cnt_enrollments"
                       value="42"
                       autocomplete="off">>12
              </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <p id="user-num-container" style="display: none; font-weight: bold;"></p>
      <div id="user-table-container">
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
    {% render_bundle 'supervising' 'js' %}
{% endblock javascripts %}