{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load markdown from core_tags %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}
{% block title %}Hints warehouse{% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="center-header">Hints</h2>
        <div class="panel-group" id="questions">
            {% for qa in faq %}
                <div class="panel">
                    <a class="panel-heading _arrowed" id="question-{{ qa.pk }}" aria-expanded="false" href="#answer-{{ qa.pk }}">
                      <span class="panel-title">{{ qa.question }}</span>
                    </a>
                    <div class="panel-collapse collapse" id="answer-{{ qa.pk }}"  aria-expanded="false">
                        <div class="panel-body _arrowed">
                            {% markdown 0 "warehouse_answer" qa.pk  %}
                                {{ qa.answer|safe }}
                            {% endmarkdown %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
