.assignment-date {
  &.tomorrow {
    color: $color-red;
  }

  &.today {
    color: $color-red;
  }

  &.day-after-tomorrow {
    color: $color-orange;
  }
}


// TEACHER assignment submissions page
#assignments-select-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-outline;
  padding: 6px 12px!important;
}

#assignments-page {
  @extend .container;
  position: relative;
  min-height:500px;


  .list-group-item {
    background: $background-grey;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    border-bottom: 1px solid $color-gray-90;
    border-color: $color-gray-90!important;
    white-space: nowrap;
    overflow:hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

    &:first-child {
      border-top-width: 0;
    }
    &:last-child {
      border-bottom-width: 0;
    }


    &:hover, &:focus {
      color: $color-blue;
    }
  }

  .list-group-item.active {
    color: $color-blue!important;
    font-weight: bold;
  }

  h3 {
    display: inline-block;
    margin: 0;
  }

  .assignments-inner {
    padding: 30px;
    background: #fff;
  }

  .filters-wrapper {
    height: 40px;
    margin: 0 0 20px 0;
  }

  .table {
    margin-bottom: 0;
  }

  .filters {
    @extend .btn-group;
    @extend .pull-right;

    .btn-default {
      background: inherit;
    }

    select {
      width: 100px;
    }
    .multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
      width:276px;
      white-space: normal;
    }
  }
}