// Highlight targets. Used on course offering detail page right now.
div[id^="news-"] {
  &:target {
    // color - like on .unread
    background: $state-info-bg;
    box-shadow: none;
  }
}
.course-description {
  h1, h2, h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }
}
// it's a quick fix, stupid classes, I know. Refactor if you see it
.__pt10 {
  padding-top: 10px;
}
.__pr5 {
  padding-right: 5px;
}

.news-metainfo {
  color: #AAA;
  text-align: right;
}

.course-title {
  //font-weight: 400;
}

.course-main-title {
  margin-top: 0;
  font-weight: normal;

  small {
    font-size: 75%;
  }
}

.o-users-vlist {

  li {
    padding-bottom: 10px;
    @extend .clearfix;

    a {
      padding: 10px;
      text-align: center;
      font-weight: 300;
      font-size: 16px;
      display: block;
      line-height: 22px;

      img {
        margin: 0 0 8px;
      }


      &:hover {
        //background: $background-grey;
      }
    }
  }
}

.enroll-block {
  margin-bottom: 5px;
}

.survey-btn {
  margin-bottom: 5px;
}

.o-buttons-vertical {
  margin-bottom: 5px;

  .btn {
    padding: 12px 10px;
  }

  &.gray {
    .btn {
      color: $color-gray-20;
      border-color: lighten($color-gray-60, 30%);
    }
  }
}


#course-offering-detail-page {
  .nav-tabs {
    margin-bottom: 20px;

    li:first-child a {
      padding: 10px 0;
    }
  }
}