#questions-wrapper {
  @extend .container;

  .panel-title {
    font-size: 18px;
    line-height: 1.2;

    &:before, &:after {
      top: 20px;
    }
  }

  .panel-title[aria-expanded=true] {
    color: $link-color;
  }

  .panel-body {
    font-size: 16px;
  }
}

