@import "../variables";

$even-color: #f5f5f5;
$cell-height: 20px;
$title-border-color: #e1e1e1;
$students-column-width: 150px;
$final-grades-column-width: 140px;
$total-points-column-width: 56px;
$unsaved-state-color: #dcf0ff;

#gradebook {
  margin: 0;
  line-height: $cell-height;
  background: rgb(255, 255, 255);

  .header {
    position: relative;
    height: 40px;
    margin: 0;
    visibility: hidden;

    .scroll {
      color: rgb(128, 128, 128);
      font-size: 13px;
      background: rgb(245, 245, 245);
      padding: 0 14px;
      line-height: 30px;
      height: 30px;
      border: 1px solid rgb(220, 220, 220);
      position: absolute;
      cursor: pointer;

      &.left {
        left: $students-column-width + $final-grades-column-width + $total-points-column-width;
      }

      &.right {
        right: 0;
      }
    }
  }

  .title {
    display: block;
    background: #f0f0f0;
    border-bottom: 1px solid $title-border-color;
    line-height: 120%;
    color: #555;
    height: 90px;
    padding: 5px;

    a {
      display: inline-block;
      height: 80px;
      width: 90px;
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;

    }
  }

  .cell {
    display: block;
    padding: 4px 6px;
    overflow: hidden;
    border: 1px solid transparent;

    &.even {
      background: $even-color;
    }

    &:focus {
      background: #dcf0ff !important;
    }
  }

  #students {
    width: $students-column-width;
    float: left;
    overflow: hidden;

    .title {
      border-right: 1px solid #fff;
    }
    .cell {
      border-right: 1px solid #fff;
      text-overflow: ellipsis;
      white-space: nowrap;

    }

  }

  #grades {
    width: $final-grades-column-width;
    float: left;
    overflow: hidden;

    .title {
      border-right: 1px solid #fff;
    }

    .cell {
      border: 1px solid transparent;
      border-right: 1px solid #fff;

      &.__unsaved {
        background: $unsaved-state-color;
        select {
          background: $unsaved-state-color;
        }
      }
    }

    select {
      display: block;
      width: 100%;
      color: #555;
      background: $color-white none;
      border: 1px solid transparent;
      border-radius: 0;
      height: $cell-height;
      padding: 0;
    }

    .even {
      select {
        background: $even-color;
      }
    }
  }

  #total {
    width: $total-points-column-width;
    float: left;
    overflow: hidden;
    text-align: right;
    position: relative;

    .title, .cell {
      border-right: 1px solid #fff;
    }
  }

  #assignments {
    margin-left: $students-column-width + $final-grades-column-width + $total-points-column-width;
    overflow: hidden;
    overflow-x: auto;
    min-width: 400px;

    .scrollable {
      width: 3000px;
      float: left;

      .titles-box {
        overflow: hidden;

        a {
          display: block;
          width: 100px;
          float: left;
          background: #f0f0f0;
          border-right: 1px solid $title-border-color;
          border-bottom: 1px solid $title-border-color;
          line-height: 124%;
          height: 90px;
          padding: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .assignment {
        float: left;
        width: 100px;
        border-right: 1px solid #e6e6e6;

        input {
          display: block;
          cursor: pointer;
          width: 100%;
          border: 1px solid transparent;
          padding: 4px 6px;
          height: $cell-height + 10px;
          text-align: right;

          &.even {
            background: $even-color;
          }

          &.__unsaved {
            background: $unsaved-state-color;
          }

          &:hover {
            border-color: $color-gray-90;
          }
        }

        &:last-child {
          border-right: 0;
        }

        .score {
          text-align: right;
          input {
            text-align: right;
          }

          input {
            height: 20px;
            border: 0;
            width: 100%;
            padding: 0;
          }
        }

        .meta {
          @extend .cell;
          text-align: right;
          color: #999;
        }
      }
    }
  }
}

