#orgs-page {
  font-size: 16px;

  .lead {
    text-align: justify;
  }

  .orgs-header {
    text-align: center;
    border: 0;
    margin-bottom: 20px;
    font-weight: 400;

    &:first-child {
      margin-top: 0;
    }
  }

  .center-header {
    margin-bottom: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .name {
    margin: 10px 0 0;
    color: $color-gray-20;
    font-size: 21px;
    font-weight: 500;
    display: block;
    white-space: nowrap;
  }
}

.board {
  p {
    text-align: justify;
  }
}

.board-list {
  margin: 0 0 30px 0;

  img {
    border-radius: 1000px;
  }
}


.curators-list {
  margin-top: 20px;

  @extend .media-list;


}
.orgs-person {
  @extend .media;
  font-size: 16px;

  .media-heading {
    font-size: 21px;
  }
}

.orgs-preview {
  @extend .media-left;
  padding-right: 15px;
}
.orgs-info {
  @extend .media-body;
}