.student-faces-printable {
  display: flex!important;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1cm!important;

  .student {
    flex-grow: 1;
    text-align: center;
    line-height: 1.2;
    margin: 10px 0;
  }

}
