// jquery barrating styles
.br-theme-bars-movie .br-widget {
  height: 10px;
  white-space: nowrap;
}
.br-theme-bars-movie .br-widget a {
  display: block;
  width: 60px;
  height: 8px;
  float: left;
  background-color: lighten($color-blue, 40%);
  margin: 1px;
}
.br-theme-bars-movie .br-widget a.br-active,
.br-theme-bars-movie .br-widget a.br-selected {
  background-color: $color-blue;
}
.br-theme-bars-movie .br-widget .br-current-rating {
  clear: both;
  width: 300px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .2em 0;
  color: $color-blue;
  font-weight: 400;
}
.br-theme-bars-movie .br-readonly a.br-active,
.br-theme-bars-movie .br-readonly a.br-selected {
  background-color: $color-blue;
}
.br-theme-bars-movie .br-readonly .br-current-rating {
  color: #729bf8;
}
@media print {
  .br-theme-bars-movie .br-widget a {
    border: 1px solid #b3b3b3;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .br-theme-bars-movie .br-widget a.br-active,
  .br-theme-bars-movie .br-widget a.br-selected {
    border: 1px solid black;
    background: white;
  }
  .br-theme-bars-movie .br-widget .br-current-rating {
    color: black;
  }
}

.admission-list-page, .admission-interview-page {
  .panel-title {
    padding: 10px 10px 0 10px;
  }
  .panel-body {
    td:last-child {
      font-size: 16px;
    }
  }
  .panel-info {
    float: right;
    margin: 0 10px 0 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 30px;
      text-align: center;
      &:last-child {
        margin: 0;
      }
      .num {
        font-size: 24px;
        line-height: 1.2em;
      }
      p {
        margin: 0;
      }
    }
  }
}

.admission-list-page, .interview-results-page  {
  @extend .container;
  @extend .page-inverse;

  form {
    margin: 0 0 20px 0;

    select {
      -webkit-transition: none!important;
    }
  }

  .date {
    width: 15%;
    padding-left: 0 !important;
    font-size: 16px;
    @extend .text-info;
    color: #000;

    .time {
      font-size: 24px;
    }
  }
  .applicant {
    a {
      font-size: 16px;
    }
  }

  .members {
    width: 35%;
    position: relative;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        float: left;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin: 0 4px 4px 0;
        }

        div.square {
          margin: 0 4px 4px 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          line-height: 40px;
          text-align: center;
          @extend .bg-info;
          color: #333;
        }
      }
    }
  }

  .actions {
    padding: 20px 0 !important;
    button {
      display: none;
      width: 102px;
      height: 35px;
      font-size: 12px;
      position: relative;
      z-index: 0;
      background-color: #fff;
      &.finish {
        display: block;
        + .table-content {
          display: none;
        }
      }
    }
    i {
      font-size: 16px;
      color: #666;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:hover {
        opacity: .8;
      }
      &:first-of-type {
        margin-right: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .table-content {
      margin-left: 10px;
    }
  }
  .slidePanel-actions {
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .slidePanel-inner {
    padding: 0 15px;
  }

  .grey {
    display: block;
    width: 120px;
    color: $color-grey;
  }
}



// nav tabs
// TODO: Move to _material_designs? or components


.nav-tabs-reverse > li {
  float: right;
  > a {
    margin-right: 0;
    margin-left: 2px;
  }
}



.admission-interview-page, .admission-applicant-page {
  @extend .container;

  h4 {
    margin-bottom: 10px;

    span {
      color: $color-grey;
    }
  }
  .form-group {
    .controls {
      margin-right: 0;
    }

    .asteriskField {
      color: $color-red;
    }
    #error_1_id_score {
      margin-top: 18px;
    }
  }

  .page-header {
      margin-top: 0;
      margin-bottom: 0;
      background: 0 0;
      position: relative;
      border-bottom: none;

    h3 {
      margin: 0;
    }

    .page-header-actions {
        position: absolute;
        right: 0px;
        top: 0;
        margin: auto;

      .edit-interview-btn {
        color: #666;

        i {
          font-size: 1.6em;
        }
      }
    }
  }

  .date, .additional-info {
    font-size: 18px;
    color: $color-grey;
  }

  .nav-tabs-horizontal {
    margin: 25px 0 0 0;
  }

  .tab-content {
    dt {
      font-size: 16px;
    }
    dd {
      margin-bottom: 15px;
      width: 80%;
    }

    .comment {
      margin-right: 130px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 6px;
      }

      div.square {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        @extend .bg-info;
        color: #333;
      }
      .comment-body {
        .fio {
          font-weight: bold;
        }
      }
    }

    #assignments {
      .interview-info {
        margin-bottom: 30px;
        text-align: right;
        display: none;
      }

      h3.print-version {
        display: none;
      }

      .collapse-link {
        font-size: 24px;
        margin: 0;
      }

      .panel-collapse {
        margin-top: 10px;
      }

      .solution {
        background: $background-grey;
        padding: 10px;
      }
    }

  }
  #submit-id-save {
    margin-top: 15px;
  }
}



.assignments-multicheckbox {
  .checkbox {
    padding: 5px !important;
    margin: 0 !important;

    &:hover {
      background: $background-grey;
    }

    span {
      cursor: pointer;
    }
  }
}





.admission-applicant-page {

  select[name=interviewers] {
    min-height: 200px;
  }

  select[name=assignments] {
    min-height: 300px;
  }
}


#admission-appointment {
  width: auto;
  max-width: 980px;

  .form-group {
    margin-top: 5px;
  }
  .btn-group {

    .btn {
      margin: -1px 0 0 -1px;
      width: 80px;

      &.disabled {
        pointer-events: none;
      }
    }
  }
}




// print mode for interview detail page
@media print {
  .collapse-link {
    display: none;
  }

  form.interview_assignments_form {
    display: none;
  }

  div.header, div.footer {
    display: none!important;
  }
  .admission-interview-page {
    .page-header, .additional-info {
      display: none;
    }
    .date {
      display: none;
    }
    .nav {
      display: none;
    }

    #assignments {
      .interview-info {
        display: block!important;
      }

      h3 {
        display: none;
        &.print-version {
          display: block!important;
        }
      }

      .solution {
        display: none;
      }
    }
  }
}


