#graduates {
  @extend .container;
  padding: 0 15px 0 15px;

  .graduates-list-filter {
    width: 100%;
    margin-bottom: 10px;

    .nav-tabs {
      margin: 8px 0;
    }
  }

  .graduates-list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .empty {
      padding: 20px 0;
    }

    h3 {
      width: 100%;
    }

    .alumni {
      width: 170px;
      float: left; // for older browsers
      overflow: hidden;
      vertical-align: top;
      margin: 0 0 32px 0;

      img {
        max-width: 170px;
      }

      a {
        font-weight: 300;
        margin-top: 8px;
        font-size: 16px;
        display: inline-block;
        line-height: 22px;
        max-width: 170px;
      }
    }

    .fix-grid {
      width: 170px;
      height: 0;
      margin: 0;
    }
  }
}


.c-student-faces {
  padding: 30px 0;

  .student {
    float: left;
    border: 1px solid #fff;
    position: relative;

    &:hover {
      figcaption {
        opacity: 0.8;
      }
    }

    img {
      background: #4F86A0;
    }

    figcaption {
        background: #000;
        opacity: 0.5;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: 100%;
        font-size: 1.2rem;
        text-align: left;
        color: #fff;
        position: absolute;
        bottom: 0;
        padding: .5rem;

      &.expelled {
        background: $color-red;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
