.background-grey {
  background: #f8f8f8;
}

a.links-sep-by-vertical-lines {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid $color-grey;

  &:last-child {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

// test css
h2.right-line:after {
    position: absolute;
    top: 55%;
    overflow: hidden;
    width: 100%;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    border-left: solid 20px #fff;
}

#admission {
  @extend .container;
  font-size: 16px;
  line-height: 1.55;
  padding-bottom: 30px;

  .center-header {
    a {
      @extend .links-sep-by-vertical-lines;
      font-size: 14px;
    }
  }

  ul {
    @extend .list-unstyled;
  }
}

#intro {
    overflow: hidden;
    background: #EDEDED;
    margin-top: -60px;

    h1 {
        font-weight: normal;
        margin-top: 100px;
    }

    .btn-primary {
        background: #f67280;
        border: darken(#f67280, 10%);
    }
}


.index-image-container {
    min-width: $min-width;
    background: url("/static/img/center/cscenter.jpg") top center no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    margin-top: -60px;
    min-height: 200px;
    max-height: 482px;
    padding-top: 25%;
}



#index-online-courses {
  min-width: $min-width;

  #onlinecourses-list {
    @extend .container;
    padding-bottom: 30px;
    padding-top: 0;

    .center-header {
      border-color: #ddd;
    }
  }
}

.supported-by {
    overflow: hidden;

    div {
        text-align: center;
        padding-bottom: 20px;

        img {
          max-width: 200px;
        }
    }

}


.index-news {
  padding-left: 0px;
}

.index-news>li {
  position: relative;
  list-style: none;
}

.index-news span.date {
  position: absolute;
  margin-left: -160px;
  padding-right: 10px;
  width: 160px;
  text-align: right;
  font-size: 18px;
  color: #B5B5B5;
}

.testimonials-wrapper {
  &.__index {
    @extend .background-grey;
    .testimonials {
      .testimonial {
        blockquote {
          padding-left: 3px;
          margin-bottom: 0;
          &:before {
            display: none;
          }
        }
      }
    }

  }
}

#courses-wrapper {

  #courses {

    .center-header {
      a {
        @extend .links-sep-by-vertical-lines;
      }
    }

    .card-header {
      h2 {
        min-height: 34px;
      }
    }

    @extend .container;

    .table {

      th {
        &._semester {
          width: 100px;
        }
        &._lec_cnt {
          width: 54px;
          text-align: center;
        }

        &._video {
          text-align: center;
          width: 50px;
        }
      }

      tr {
        td:last-child {
          text-align: center;
        }
      }

      > thead > tr > th {
        @extend .background-grey;
        border-bottom: 0;
      }
    }
  }
}


// ribbons
.ribbon {
  position: absolute;
  left: -3px;
  bottom: -12px;

  .ribbon-inner {
    position: static;
    height: auto;
    line-height: 26px;
  }
}
