// Online Courses list

$online-course-img-width: 134px;

#onlinecourses-list {

  h1 {
    text-align: center;
  }

  .onlinecourses-list__item {
    margin-bottom: 20px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5em;

    &:last-child {
      border-bottom: none;
    }

    h2 {
      margin: 0 0 20px 0;
      font-size: 24px;
    }

    .onlinecourses-list__item-left {
      position: relative;
      min-height: 1px;
      float: left;
      width: $online-course-img-width;

      img {
        @include img-responsive();
        margin: 0 0 8px 0;
      }
    }

    .onlinecourses-list__item-right {
      position: relative;
      min-height: 1px;
      margin-left: $online-course-img-width + 20px;

      h3 {
        margin: 0;
        font-size: 20px;
        color: $color-grey;
        font-weight: normal;
      }

      &._collaboration {
        line-height: 42px;
      }
    }
  }

}