.projects-list-page {
  @extend .container;

  h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 30px;
  }

  th {
    &.name {
      width: 50%;
    }

    &.note {
      width: 100px;
    }
  }

  .projects-empty-list {
    margin: 40px 0;
    text-align: center;
  }
}

// Detail page
.project-type {
  color: $color-grey;
  margin: 20px 0 15px 0;
}
#project-detail-page {
  @extend .container;

    margin-top: 10px;
    padding: 10px 30px 30px;
    background: #fff;

  .col-xs-8 {
    font-size: 14px;
    .table {
      font-size: 14px;
    }

  }

  .card-header {
    font-size: 16px;
  }
  .links {
    margin: 20px 0 10px;
    overflow: hidden;
    .btn-block {
      margin: 10px 0 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  h2 {
    font-weight: 400;
    margin: 30px 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin:30px 0 10px 0;
  }

  h4 {
    margin:30px 0 10px 0;
  }

  .you-enrolled {
    text-align: center;
    color: $color-green;
    margin: 10px 0 20px;
    padding: 10px 12px;
    border: 1px solid $color-green;
  }

  .report {
    margin-bottom: 10px;
  }
  .report:last-child {
    margin: 0;
  }

}

.comment-list li.reviewer {
  margin-left: 40px;
  margin-right: 0;
}

#id_report_status_change-status {
  border-radius: 0;
  -webkit-appearance: none;
}

.presentation-link {
  text-decoration: none!important;

  i.fa {
    margin-right: 5px;
    color: $color-grey;
  }
  &:hover{
    i.fa {
    color: inherit;
    }
  }
}

.breadcrumb {
  &.projects {
    background: none;
    padding: 0;
    font-size: 24px;
    padding-top: 10px;
  }
}

#project-report-detail-page {
  label[for=id_text] {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
  }

  h2 {
    font-weight: 400;
  }
}
.o-send-report-form {
  h2 {
    margin: 0 0 20px!important;
  }
}