{% extends "base.html" %}
{% load i18n %}

{# TODO: replace with confirmation dialog on client #}

{% block content %}
<div class="container">
  <div class="row">
    <div class="container-box panel panel-body panel-default">
      <form action="" method="post">{% csrf_token %}
        <h4>Подтверждение действия</h4>
        {% if confirmation_text %}
        <p>{{ confirmation_text }}</p>
        {% else %}
        <p>{% trans "Are you sure you want to delete" %} "{{ object }}"?</p>
        {% endif %}
        {% if confirmation_button_text %}
                <input type="submit" class="btn btn-danger" value="{{ confirmation_button_text }}" />
        {% else %}
        <input type="submit" class="btn btn-danger" value="{% trans "Delete" %}" />
        {% endif %}
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" onclick="history.back();">{% trans "Cancel" %}</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
