{% extends "v2/layouts/inner.jinja2" %}


{% block content %}
    <div class="container page-content">
        <h1>Cards</h1>
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Normal</h3>
                        <div class="card">
                            <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                            <div class="card__title">
                                Заголовок
                            </div>
                            <div class="card__body">
                                Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                                живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                                будним вечерам и
                                выходным.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Inversed</h3>
                        <div class="card _inverse">
                            <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                            <div class="card__title">
                                Заголовок
                            </div>
                            <div class="card__body">
                                Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                                живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                                будним вечерам и
                                выходным.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>No-border</h3>
                        <div class="card _no-border">
                            <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                            <div class="card__title">
                                Заголовок
                            </div>
                            <div class="card__body">
                                Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                                живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                                будним вечерам и
                                выходным.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-3">
                <h3>Inversed</h3>
                <div class="card _inverse">
                    <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                    <div class="card__body">
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по будним вечерам и
                        выходным.
                    </div>
                </div>
                <hr>
                <div class="card _inverse">
                    <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                    <div class="card__title">Titled (with small text)</div>
                    <div class="card__body _small">
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по будним вечерам и
                        выходным.
                    </div>
                </div>
                <hr>
                <h3>Default</h3>
                <div class="card">
                    <img class="card__img" src="/media/pages/text-page/info-card-image.jpg" alt="">
                    <div class="card__title">
                        Card body (default)
                    </div>
                    <div class="card__body">
                        Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                        живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по будним вечерам и
                        выходным.
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}
