{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}
    <script type="text/javascript">
        (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg")  }}");
        (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/common.svg")  }}");
    </script>
{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row no-gutters">
            <div class="col-lg-8">
                <h2>Базовый UL без дополнительных классов</h2>
                <ul class="mb-10">
                    <li>Проект GoodsReview</li>
                    <li>Поиск генов в метагномных сборках</li>
                    <li>Список второго уровня ul:
                        <ul>
                            <li>jersey&nbsp;— имплементация REST на&nbsp;java</li>
                            <li>jade&nbsp;— шаблонизатор</li>
                            <li>mysql&nbsp;— наша база</li>
                        </ul>
                    </li>
                    <li>Список второго уровня ol:
                        <ol>
                            <li>nginx&nbsp;— сервер, который отдает статические файлы и&nbsp;роутит запросы на&nbsp;java-сервер</li>
                            <li>jetty&nbsp;— java-сервер</li>
                        </ol>
                    </li>
                    <li>Value-tracking анализ JavaScript</li>
                    <li>Распознавание марки и модели
                        автомобиля по фотографии
                    </li>
                </ul>

                <h2>Базовый OL без дополнительных классов</h2>
                <ol>
                    <li>Проект GoodsReview</li>
                    <li>Проект GoodsReview</li>
                    <li>Проект GoodsReview</li>
                </ol>

                <h2>div.list.ui > div.list__item</h2>
                <div class="list ui">
                    <div class="list__item">Пункт 1</div>
                    <div class="list__item">Пункт 2</div>
                    <div class="list__item">Пункт 3</div>
                    <div class="list__item">
                        Nested list
                        <div class="list ui">
                            <div class="list__item">Inner list 1</div>
                            <div class="list__item">Inner list 2</div>
                            <div class="list__item">Inner list 3</div>
                        </div>
                    </div>
                </div>

                <h2>div.list.ui._dashed > div.list__item</h2>
                <div class="list ui _dashed">
                    <div class="list__item">Пункт 1</div>
                    <div class="list__item">Пункт 2</div>
                    <div class="list__item">Пункт 3</div>
                    <div class="list__item">
                        Nested list
                        <div class="list ui">
                            <div class="list__item">Inner list 1</div>
                            <div class="list__item">Inner list 2</div>
                            <div class="list__item">Inner list 3</div>
                        </div>
                    </div>
                </div>

                <h2 class="mt-4">Divided</h2>
                <div class="ui list _divided mb-10">
                    <div class="list__item">
                        Утечки ресурсов и как их избежать. RAII
                    </div>
                    <div class="list__item">
                        Удобные возможности новых стандартов.Удобные возможности новых стандартов.Удобные возможности
                        новых стандартов
                    </div>
                    <div class="list__item">
                        Удобные
                    </div>
                </div>

                <h2 class="mt-4">Playlist?</h2>
                <div class="ui list _divided _playlist">
                    <a href="#" class="list__item">
                        <span class="item__ordinal">1.</span>
                        <div class="item__text">Утечки ресурсов и как их избежать. RAII</div>
                        <div class="item__icons">
                            {{ macros.svg_icon('video') }}{{ macros.svg_icon('slides') }}
                        </div>
                    </a>
                    <a href="#" class="list__item">
                        <span class="item__ordinal">2.</span>
                        <div class="item__text">
                            Геометрическая вероятность и общее определение
                            вероятности. Геометрическая вероятность и общее определение
                            вероятности
                        </div>
                        <div class="item__icons">
                            {{ macros.svg_icon('video') }}{{ macros.svg_icon('slides') }}
                        </div>
                    </a>
                    <a class="list__item">
                        <span class="item__ordinal">3.</span>
                        <div class="item__text">
                            Удобные возможности новых стандартов.Удобные
                            возможности новых стандартов.Удобные возможности новых стандартов
                        </div>
                        <div class="item__icons"></div>
                    </a>
                    <a href="#" class="list__item">
                        <span class="item__ordinal">4.</span>
                        <div class="item__text">
                            Геометрическая вероятность и общее определение
                            вероятности. Геометрическая вероятность и общее определение
                            вероятности
                        </div>
                        <div class="item__icons">
                            {{ macros.svg_icon('video') }}
                            {{ macros.svg_icon('slides') }}
                            {{ macros.svg_icon('video') }}
                            {{ macros.svg_icon('video') }}
                            {{ macros.svg_icon('video') }}
                        </div>
                    </a>
                </div>

                <h2 class="mt-10">Definitions list</h2>

                <dl>
                    <dt>Методы</dt>
                    <dd>Скорость роста функций, время работы алгоритмов; жадные алгоритмы; разделяй и властвуй;
                        динамическое программирование
                    </dd>
                    <dt>Структуры данных</dt>
                    <dd>Базовые структуры (массивы, списки, стеки, очереди); очереди с приоритетами; системы
                        непересекающихся множеств; хеш-таблицы; сбалансированные деревья
                    </dd>
                    <dt>Алгоритмы на графах</dt>
                    <dd>Декомпозиция графов, пути в графах, минимальные остовные деревья</dd>
                    <dt>Алгоритмы на строках</dt>
                    <dd>Поиск образца в строке, суффиксное дерево, суффиксный массив, преобразование Барроуза–Уиллера
                    </dd>
                    <dt>Алгоритмы и теория сложности</dt>
                    <dd>Потоки в сетях, линейное программирование, NP-полные задачи, алгоритмы для NP-полных задач</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock content %}
