{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1>Tabs</h1>
                <ul class="ui nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Span</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Element with Really Long Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <h3>Tabs</h3>
                <ul class="ui nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Санкт-Петербург</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новосибирск</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Казань</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Сан-Франциско</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h3>Scrollable</h3>
                <ul class="ui nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Санкт-Петербург</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новосибирск</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Казань</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Сан-Франциско</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
