{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-6">
            <h2>Pagination</h2>
                <nav aria-label="Page navigation example">
                    <ul class="ui pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
                <nav aria-label="Page navigation example">
                    <ul class="ui pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
                <nav aria-label="Fourth item should be active">
                    <ul class="ui pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item active"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
                <nav aria-label="Page navigation example">
                    <ul class="ui pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item active"><a class="page-link" href="#">8</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
                <nav aria-label="Page navigation example">
                    <ul class="ui pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item active"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#">11</a></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
                <nav aria-label="Page navigation example">
                    <ul class="ui pagination">
                        <li class="page-item"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><p class="page-link" href="#">…</p></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#">11</a></li>
                        <li class="page-item active"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next disabled"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container page-content" style="background:#ecf0f2;">
        <div class="row">
            <div class="col-lg-8">
                <nav aria-label="Page navigation example">
                    <ul class="ui pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">{{ macros.svg_inline('arrow-left') }}</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item disabled"><div class="ellipsis">…</div></li>
                        <li class="page-item"><a class="page-link" href="#">12</a></li>
                        <li class="page-item page-item_next"><a class="page-link" href="#">{{ macros.svg_inline('arrow-right') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container page-content">
        <h2>Mobile view</h2>
        <p>Resize window to see how it looks on a mobile view port.</p>
        <ul class="ui pagination">
            <li class="page-item disabled">
                <button class="page-link">
                    {{ macros.svg_inline('arrow-left') }}
                </button>
            </li>
            <li class="page-item d-none d-md-block active">
                <button class="page-link">1</button>
            </li>
            <li class="page-item d-none d-md-block">
                <button class="page-link">2</button>
            </li>
            <li class="page-item d-none d-md-block">
                <button class="page-link">3</button>
            </li>
            <li class="page-item d-none d-md-block">
                <button class="page-link">4</button>
            </li>
            <li class="page-item d-none d-md-block">
                <button class="page-link">5</button>
            </li>
            <li class="page-status d-md-none">1&nbsp;из&nbsp;5</li>
            <li class="page-item">
                <button class="page-link">
                    {{ macros.svg_inline('arrow-right') }}
                </button>
            </li>
        </ul>
    </div>
{% endblock content %}
