{% extends "v2/layouts/inner.jinja2" %}

{% block body_attrs %}class="_nofooter"{% endblock body_attrs %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="col-lg-12">
            <h1>Preloader For User Cards</h1>
            <div class="user-cards _loading">
                <a class="user-card" href="#" id="user-card-100">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                        <div class="achievements">

                        </div>
                    </div>
                    <div class="user-card__details">Кaолосовский Михаил</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Анастасия Лавренко</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Сергей Шпильман</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="_loading">
<div class="container page-content">
    <div class="row">
        <div class="col-lg-12">
            <h1>Widescreen preloader (have to create additional div wrapper around container)</h1>
            <h2>TODO: Can the initial container height be big enough to worry about it?</h2>
            <div class="user-cards">
                <a class="user-card" href="#" id="user-card-100">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                        <div class="achievements">

                        </div>
                    </div>
                    <div class="user-card__details">Кaолосовский Михаил</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Анастасия Лавренко</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Сергей Шпильман</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
                <a class="user-card" href="#">
                    <div class="user-card__photo">
                        <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    </div>
                    <div class="user-card__details">Абдукодири Курбонзода</div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
