{% extends "v2/layouts/inner.jinja2" %}

{% block body_attrs %}class="_nofooter"{% endblock body_attrs %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block menu %}
<div class="navbar-container">
    <nav class="navbar navbar-main{% if theme_class %} {{ theme_class }}{% endif %}">
        <div class="container">
            <a class="navbar-logo" href="/v2/pages/">{{ macros.svg_inline('logo-csc') }}</a>
            <div class="menu-desktop-wrapper">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link _active" href="/v2/pages/about/">Выпускники 2018</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Статистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Фотографии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Отзывы</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock menu %}

{% block content %}
<div class="container page-content">
    <h1 class="text-center">Выпускники 2018-го года в лицах</h1>

    <div class="user-cards">

        <a class="user-card" href="#" id="user-card-100">
            <div class="user-card__photo">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
                <div class="achievements">

                </div>
            </div>
            <div class="user-card__details">Кaолосовский Михаил</div>
        </a>
        <a class="user-card" href="#">
            <div class="user-card__photo">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
            </div>
            <div class="user-card__details">Анастасия Лавренко</div>
        </a>
        <a class="user-card" href="#">
            <div class="user-card__photo">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
            </div>
            <div class="user-card__details">Сергей Шпильман</div>
        </a>
        <a class="user-card" href="#">
            <div class="user-card__photo">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
            </div>
            <div class="user-card__details">Абдукодири Курбонзода</div>
        </a>
        <a class="user-card" href="#">
            <div class="user-card__photo">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
            </div>
            <div class="user-card__details">Абдукодири Курбонзода</div>
        </a>
        <a class="user-card" href="#">
            <div class="user-card__photo">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
            </div>
            <div class="user-card__details">Абдукодири Курбонзода</div>
        </a>
        <a class="user-card" href="#">
            <div class="user-card__photo">
                <img src="/media/pages/graduates-2018/student.jpg" alt="">
            </div>
            <div class="user-card__details">Абдукодири Курбонзода</div>
        </a>

    </div>

</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
