{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load markdown from core_tags %}

{% block content %}
    <div class="container teachers-list">
        <h1 class="page-header">{% trans "Teachers" %}</h1>
        {% for user in object_list %}
        {% if forloop.counter0|divisibleby:2 %}<div class="row">{% endif %}
        <div class="col-xs-6">{% spaceless %}
            {% if user.photo %}
                  {% thumbnail user.photo "150x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
            {% else %}
                <img src="{% static "img/center/brain.jpg" %}" width="150" height="150" alt="">
            {% endif %}{% endspaceless %}
            <div class="ubertext">
                <a class="h4" href="{% url 'teacher_detail' user.pk %}">{{ user.get_full_name }}</a>
                <p>{{ user.workplace }}</p>
            </div>
        </div>{% if not forloop.counter0|divisibleby:2 or forloop.last %}</div>{% endif %}
        {% empty %}
            {% trans "No professors yet" %}
        {% endfor %}
    </div>

{% endblock content %}
