{# Note: We can't use the same name for template due to recursion #}
{% extends "users/teacher_detail.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block gallery %}
    {% if teacher.images.all %}
        <h4>{% trans "Photos" %}</h4>
        <div class="gallery">
        {% for image in teacher.images.all %}
            {% thumbnail image.image "300x200" crop="center" as im %}
                <a href="{{ image.image.url }}" title="{{ image.title }}{% if image.course_offering %} | {{ image.course_offering.semester }}{% endif %}">
                    <img  alt="{{ image.title }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
            {% endthumbnail %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock gallery %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "js/club/gallery.js" %}"></script>
{% endblock javascripts %}
