{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}{{ course_class.name }}{% endblock title %}

{% block sprites %}
    <script type="text/javascript">
    (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}

{% block content %}
    <div class="_dark">
        <div class="container page-content">
            <div class="ui breadcrumb mb-2">
                <a href="{{ url('course_list', subdomain=None) }}"
                   class="breadcrumb__section">Курсы</a>
                <div class="breadcrumb__divider"> /</div>
                <a href="{{ view.public_url(course_class.course.meta_course) }}"
                   class="breadcrumb__section">{{ course_class.course.name }}</a>
                <div class="breadcrumb__divider"> /</div>
                <a href="{{ view.public_url(course_class.course) }}" class="breadcrumb__section">{{ course_class.course.semester }}</a>
                <div class="breadcrumb__divider"> /</div>
            </div>
            <h1 class="mb-1">{{ course_class.name }}</h1>
            <div class="venue-details">
                <div class="ui label _icon">
                    {{ macros.svg_icon('calendar') }}
                    <span>{{ course_class.date|date("l, d E Y") }}, {{ course_class.starts_at|time("H:i") }}–{{ course_class.ends_at|time("H:i") }}</span>
                </div>
                <div class="ui label _icon">
                    {{ macros.svg_icon('location') }}
                    <span>{{ course_class.venue }}</span>
                </div>
            </div>
            {% if can_view_course_class_materials and course_class.video_url and recorded_classes %}
            <div class="row mt-6">
                <div class="col-lg-7">
                    {% with youtube_video_id=course_class.video_url|youtube_video_id %}
                        {% if youtube_video_id %}
                            {% set url='https://www.youtube.com/embed/' + youtube_video_id %}
                        {% else %}
                            {% set url=course_class.video_url %}
                        {% endif %}
                        {{ macros.video_iframe(url) }}
                    {% endwith %}
                </div>
                <div class="col-lg-5">
                    <div class="ui playlist">
                        <div class="playlist__summary">Список тем / {{ recorded_classes|length }} запис{{ recorded_classes|length|pluralize("ь", "и", "ей") }}</div>
                        <ol class="ui list _divided _selection">
                            {% for recorded_class in recorded_classes %}
                                {% if recorded_class.id != course_class.id %}
                                    <a href="{{ view.public_url(recorded_class) }}" class="list__item">
                                {% else %}
                                    <div class="list__item _active">
                                {% endif %}
                                    <div class="class-item">
                                        <div class="item__ordinal">{{ loop.index }}.</div>
                                        <div class="item__text">{{ recorded_class.name }}</div>
                                    </div>
                                {% if recorded_class.id == course_class.id %}
                                    </div>
                                {% else %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if can_view_course_class_materials and course_class.slides %}
                <div class="slides mt-6">
                    <h3 class="mb-2">Слайды с лекции</h3>
                    <a href="{{ course_class.get_slides_download_url() }}" class="ui label _icon _big _no-wrap" target="_blank">{{ macros.svg_icon('slides') }}{{ course_class.slides_file_name }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if request.user.is_superuser %}
        <div class="message _warning px-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <a href="{{ url('admin:courses_courseclass_change', object_id=course_class.pk) }}">{% trans %}Edit in Admin{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if course_class.description or (attachments and can_view_course_class_materials) %}
        <div class="container page-content">
            <div class="row">
                <div class="col-lg-9">
                    {% if can_view_course_class_materials and attachments %}
                        <h3>Приложенные файлы</h3>
                        <div class="ui labels mb-6">
                            {% for attachment in attachments %}
                                <a href="{{ attachment.get_download_url() }}" class="ui label _icon _big _no-wrap" target="_blank">{{ macros.svg_icon('files') }}{{ attachment.material_file_name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if course_class.description %}
                        <h3>Описание</h3>
                        <div class="math-support">
                            {{ course_class.description|markdown("course_class_description", 3600, course_class.pk, course_class.modified) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        // TODO: move to the main bundle
        if (window.matchMedia('(min-width: 992px)').matches) {
            document.querySelector(".playlist .list__item._active").scrollIntoView(false);
        }
    </script>
{% endblock content %}
