{% extends "compscicenter_ru/layouts/base.html" %}

{% import "compscicenter_ru/macros/_nav.jinja2" as macros_nav %}

{% block title %}{{ meta_course.name }}{% endblock title %}

{% block body_attrs %}class="_dark" data-init-sections="tabs"{% endblock body_attrs %}

{% block sprites %}
    <script type="text/javascript">
        (window.__CSC__.sprites = window.__CSC__.sprites || []).push("{{ static("v2/dist/img/sprites/ui.svg") }}");
    </script>
{% endblock sprites %}


{% block content %}
<div class="container page-content p-xs-0">
    <div class="row content-center no-gutters">
        <div class="col-lg-9">
            <div class="card border-xs-0">
                <div class="card__header cover _img" style="background-image:url('{{ meta_course.get_cover_url() }}')">
                    <nav class="cover__content _abs text-left">
                        <a href="{{ url("course_list") }}" class="btn _extra-small _outline _white _rounded">{{ macros.svg_icon('arrow-left') }}<span>Все курсы</span></a>
                    </nav>
                    <div class="cover__content _big">
                        <h2 class="cover__title">{{ meta_course.name }}</h2>
                    </div>
                </div>

                <div class="card__content _big">
                    {{ meta_course.description|markdown("meta_course_description", 3600, meta_course.pk, meta_course.modified) }}
                    {% if tabs %}
                        <h2 class="mt-8">Прочтения курса</h2>
                        {% call macros.scrollable() %}{{ macros_nav.tabs(tabs) }}{% endcall %}
                        <div class="tab-content">
                            {% for branch, courses in grouped_courses.items() -%}
                                {% with tab = tabs[branch.code] %}
                                <div class="tab-pane {% if tab.active %} show active{% endif %}" id="{{ tab.target }}" role="tabpanel" aria-labelledby="tab__{{ tab.target }}">
                                {% endwith %}
                                    <div class="message _info mb-6">
                                        {% if branch.code in study_programs %}
                                            {% with sps = study_programs[branch.code] -%}
                                                <p>Базовый курс для направлени{% if sps|length > 1 %}й{% else %}я{% endif %} {% for study_program in sps -%}
                                                    <a class="text-nowrap" href="{{ url('on_campus_program_detail', discipline_code=study_program.academic_discipline.code) }}?branch={{ study_program.branch.code }}">{{ study_program.academic_discipline.name }}</a>
                                                {%- if not loop.last %}, {% endif %}{% endfor %}.</p>
                                            {%- endwith %}
                                        {% else %}
                                            <p>Курс по выбору</p>
                                        {% endif %}
                                    </div>
                                    <div class="card-deck _three">
                                        {% for course in courses -%}
                                            <a href="{{ view.public_url(course) }}" class="card">
                                                <div class="card__content mb-lg-8">
                                                    <div class="card__title">{{ course.semester|capitalize }}</div>
                                                    {% with lecturers = course.course_teachers.all() %}
                                                        {% if lecturers %}<p>Лекторы: {% for course_teacher in lecturers %}{{ course_teacher.teacher.get_abbreviated_name() }}{% if not loop.last %}, {% endif %}{% endfor %}</p>{% endif %}
                                                    {% endwith %}
                                                </div>
                                                <div class="card__content _meta">
                                                    <div class="grouped">
                                                        {% if course.is_published_in_video -%}
                                                        <div class="ui label _icon mb-0">
                                                            {{ macros.svg_icon('video') }}<span>{{ course.videos_count }}</span>
                                                        </div>
                                                        {%- endif %}
                                                        {% if course.learners_count -%}
                                                        <div class="ui label _icon mb-0">
                                                            {{ macros.svg_icon('user') }}<span>{{ course.learners_count }}</span>
                                                        </div>
                                                        {%- endif %}
                                                    </div>
                                                </div>
                                            </a>
                                        {%- endfor %}
                                    </div>
                                </div>
                            {%- endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if request.user.is_superuser %}
                    <div class="card__meta">
                        <div class="message _warning px-8"><a href="{{ url('admin:courses_metacourse_change', object_id=meta_course.pk) }}">{% trans %}Edit in Admin{% endtrans %}</a></div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}
