<!DOCTYPE html>
<html>
  <head>
    <title>Comupter Science Center</title>
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- TODO: fix variables in bootstrap -->
    <link href="style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="header lvl1">
      <div class="container">
        <div class="row">
          <div class="col-xs-1">
            <img src="csclogo.png">
          </div>
          <div class="col-xs-8">
            <ul>
              <li>О центре <i class="fa fa-caret-down"></i>
              <li>Поступление
              <li>Контакты
              <li>Преподавание <i class="fa fa-caret-down"></i>
            </ul>
          </div>
          <div class="col-xs-3 login">
            <i class="fa fa-user"></i> Алёна
          </div>
        </div>
      </div>
    </div>

    <div class="header lvl2 for-teachers">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-11">
            <ul>
              <li>Задания <span class="badge">3</span>
              <li>Расписание <span class="badge">2</span>
              <li>Курсы <span class="badge">2</span>
              <li>Ведомость
            </ul>
          </div>
        </div>
      </div>
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
