#calendar-container {
  min-width: 940px;
  width: 70% !important;
}

.event-types {
  @extend .pull-right;
  margin: 0 0 15px 0;
  span {
    @extend .label;
    @extend .label-outline;
    &.lecture {
      @extend .label-primary;
    }
    &.seminar {
      @extend .label-success;
    }
  }
}

.calendar {
  background: $background-grey;

  th {
    width: 130px;
  }

  td {
    padding: 4px !important;
    width: 130px;

    div.week-num-container {
      position: relative;

      div.week-num {
        font-size: 16px;
        margin-left: -25px;
        position: absolute;
        font-weight: bold;
        color: #666;
      }
    }

    &.today {
      background-color: #FAFFEC;
    }

    .cell {
      min-height: 100px;
      min-width: 122px;
    }

    .day {
      color: #9E9E9E;
      font-size: 1.3em;
      text-align: right;
    }

    .event {
      margin-bottom: 3px;
      //border-left: 3px solid #D3D3D3;
      box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
      background: $background-white;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 4px 4px 4px 6px;
      line-height: 1.2;

      &.lecture {
        color: $color-blue;
        a {
          color: $color-blue;
        }
      }

      &.seminar {
        color: $color-green;
        a {
          color: $color-green;
        }
      }

      &.noncourse {
        color: $color-red;
        a {
          color: $color-red;
        }
      }

      &.times {
        white-space: nowrap;
      }
    }

    &.not-in-semester {
      //background-color: #EEE;

      .day {
        color: #ccc;
      }
    }
  }
}