@import "../components/cropper";
@import "../components/upload_photo";

header {
  @extend .container;

  .thumbnail {
    float: left;
    margin: 0 20px 0 0;
    z-index: 1;
    position: relative;

    img {
      height: 238px;
      width: 170px;
    }

    .thumbnail-img {
      overflow: hidden;
    }

    .thumbnail-inner {
      position: relative;
      height: 100%;
      line-height: 1;

      .photo-actions {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #000;
        background: rgba(29,32,34,.7);

        a {
          display: block;
          color: #fff;
          padding: 6px 15px;
          line-height: 1.2;
          @include transition(all 120ms ease-out);
          opacity: 0.75;
          font-size: 13px;
          text-decoration: none;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

  }

  h2 {
    margin: 0 0 14px 0;
  }

  .progress-info {
    font-size: 16px;
  }
}

.profile-additional-info {
  background: #f8f8f8;
  top: -102px;
  position: relative;
  padding: 30px 10px 30px 0;
  min-height: 102px;
  overflow: hidden;

  .about-me, .review {
    @extend .container;
    padding: 0 0 0 220px;

    h4 {
      margin-top: 0;
    }
  }
  .review {
    .ubertext :last-child {
      margin-bottom: 0;
    }
  }

  .nav-tabs-inverse {
    padding: 30px 0 0 220px;
    margin-bottom: -30px;
    @extend .container;

    .nav-tabs {
      border: 0!important;
      overflow: hidden;
      height: 42px;

      li {
        &.dark {
          background: #eee;
        }
      }
    }
  }
}

.profile-content {
  @extend .container;
  margin-top: -80px;

  table.calc {
    input[type=text] {
      width: 100%;
    }
  }
}



