#student-submission-comments {
  label[for=id_text] {
    font-size: 18px;
    font-weight: 500;
  }
}

#submission-comment-model-form {
  .modal-header {
    background: #f8f8f8;
    border-radius: 3px;
  }
}

.csc-well {
  background-color: #f8f8f8;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;

  blockquote {
    border-left-color: #CFCFCF;
  }

  > :last-child, > :last-child > :last-child {
    margin-bottom: 0;
  }
}

h5.assignment {
  font-weight: bold;
}

.assignment-attachment {
  color: #999;
}

.comment-list {
  list-style: none;
  padding: 0;

  li.student {
    margin-right: 60px;
    margin-left: 0;
  }

  li.teacher {
    margin-right: 0px;
    margin-left: 60px;
  }
}

#o-sidebar {
  width: 220px;

  &.-submission {
    h5:first-child {
      margin-top: 0;
    }

    &.affix {
      top: 20px;
    }
    &.affix-bottom {
      position: absolute;
    }
  }
}

@media (max-width: 940px) {
    .affix {
        position: static;
    }
}
