._check {
	width: 54px;
	height: 44px;
}

._cs_club {
	width: 54px;
	height: 44px;
}

._envelope_inf {
	width: 54px;
	height: 44px;
}

._envelope_zero {
	width: 54px;
	height: 44px;
}

._first_term {
	width: 54px;
	height: 44px;
}

._grampycat {
	width: 54px;
	height: 44px;
}

._half-night {
	width: 54px;
	height: 44px;
}

._most_courses {
	width: 52px;
	height: 44px;
}

._night {
	width: 54px;
	height: 44px;
}

._partymaker {
	width: 54px;
	height: 46px;
}

._spring {
	width: 54px;
	height: 46px;
}

._two_diploms {
	width: 54px;
	height: 45px;
}

