._arrow-bottom {
	width: 12px;
	height: 7px;
}

._facebook {
	width: 21px;
	height: 21px;
}

._instagram {
	width: 21px;
	height: 21px;
}

._logo-csc {
	width: 74px;
	height: 26px;
}

._top-banner-kids {
	width: 70px;
	height: 60px;
}

._twitter {
	width: 21px;
	height: 21px;
}

._user-sign {
	width: 24px;
	height: 23px;
}

._vk {
	width: 21px;
	height: 21px;
}

._youtube {
	width: 21px;
	height: 21px;
}

