.sprite-img._cs {
	width: 84px;
	height: 68px;
}

.sprite-img._ds {
	width: 80px;
	height: 68px;
}

.sprite-img._logo-csclub {
	width: 92px;
	height: 70px;
}

.sprite-img._logo-fml239 {
	width: 64px;
	height: 70px;
}

.sprite-img._logo-jetbrains {
	width: 66px;
	height: 70px;
}

.sprite-img._logo-shad {
	width: 92px;
	height: 70px;
}

.sprite-img._se {
	width: 88px;
	height: 68px;
}

