@import "_cards/base";
@import "_cards/card_group";
@import "_cards/testimonials";
@import "_cards/users";


// FIXME: class name is too generic, since css below hardcoded for 6 columns on desktop, rename it to more appropriate name
.responsive-card {
  color: $gray-500;
  //position: relative;
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(md) {
    @include make-col(4);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }
}

// Note: Can be easily replaced with `div.card>div.card-body._small>a.h4+p`. Let's leave this one for now.
.text-note {
  position: relative;
  border: 1px solid $gray-300;
  border-radius: $border-radius-sm;
  padding: 15px 15px 10px 15px;
  margin-bottom: 1rem;

  &::after {
    content: " ";
    width: 14px;
    height: 14px;
    position: absolute;
    right: -1px;
    bottom: -1px;
  }

  ._text {
    margin-top: 5px;
    font-size: $font-size-sm;
  }
}