$input-color: $black;
$input-bg: $white;

$input-outerheight: 48px;
$input-line-height: calculate-input-line-height($input-outerheight, spacer("3x"));

$input-border-color: darken($border-color, 10%);
$input-border-color-hover: $gray-dark;
$input-border-width: $input-btn-border-width !default;
$input-box-shadow: inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius: $border-radius !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;

$input-focus-bg: $white !default;
$input-focus-border-color: $input-border-color-hover;
$input-focus-color: $input-color !default;
$input-focus-width: $input-btn-focus-width !default;
$input-focus-box-shadow: $input-btn-focus-box-shadow !default;

$input-placeholder-color: $action-base-color;
//$input-plaintext-color: $body-color !default;
$input-height-border: $input-border-width * 2 !default;
$input-transition: border-color .15s ease-in-out;

// Form validation
$form-feedback-font-size: $font-size-sm !default;
$form-feedback-color: $white;
$form-feedback-valid-color: green;
$form-feedback-invalid-color: $red;

@import "_forms/options";
@import "_forms/file-input";
@import "_forms/inputs";
@import "_forms/select";
@import "_forms/survey";



.ui.form {
  label {
    display: block;
    vertical-align: top;

    &.h4 {
      margin-bottom: spacer("3x");
    }
  }
}


.card._form {
  margin-bottom: spacer("10x");
  overflow: hidden;
  border: $border-width solid $gray-lighter;
  background: $gray-lighter;
  border-radius: $border-radius-lg;
  padding: 0;

  .card__content {
    padding: 0 spacer("8x");
  }

  .field {
    margin-bottom: spacer("6x");
    &:last-child {
      margin-bottom: spacer("10x");
    }
  }

  label {
    display: block;
    font-weight: $font-weight-normal;
    vertical-align: top;
  }

  .card__title {
    padding: spacer("8x") spacer("4x") 0;
    margin-bottom: spacer("8x");
    @include media-breakpoint-up(sm) {
      padding: spacer("8x") spacer("8x") 0;
    }

    h2,
    h3 {
      margin: 0;
    }

    p {
      margin: 0 0 spacer("2x") 0;
    }

    &._inverted {
      padding: spacer("8x") spacer("4x");
      background: $gray-dark;
      color: $white;
      @include media-breakpoint-up(sm) {
        padding: spacer("8x");
      }
    }

    &._subtitle {
      padding: 0;
      margin-bottom: spacer("6x");
    }
  }

  &._no-border {
    border: none;
    border-radius: 0;
    background: transparent;
  }
}

.field {
  margin-bottom: spacer("4x");
  @include media-breakpoint-up(sm) {
    margin-bottom: spacer("6x");
  }

  &.hidden {
    margin-bottom: 0;
  }

  &._additional {
    margin-top: -#{spacer("6x")};
  }
}


// FIXME: how to deal with .card__content padding?
fieldset {
  margin-bottom: spacer("4x");
  &::after {
    content: "";
    margin: spacer("2x") -#{spacer("8x")};
    border-top: $border-width solid $border-color;
    display: block;
  }
}

.title-label {
  font-size: $h4-font-size;
  margin-bottom: spacer("3x");
}

.input.free-answer {
  margin-top: spacer("2x");
}