$input-bg: $white;
$input-disabled-bg: $gray-disabled;
$input-outerheight: 48px;
$input-line-height: calculate-input-line-height($input-outerheight, spacer("3x"));

$input-color: $black;
$input-border-color: darken($gray-lighter, 10%);
$input-border-color-hover: $gray-dark;
$input-border-width: $input-btn-border-width !default;
$input-box-shadow: inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius: $border-radius !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;

$input-focus-bg: $white !default;
$input-focus-border-color: $input-border-color-hover;
$input-focus-color: $input-color !default;
$input-focus-width: $input-btn-focus-width !default;
$input-focus-box-shadow: $input-btn-focus-box-shadow !default;

$input-placeholder-color: $gray-dark !default;
$input-plaintext-color: $body-color !default;

$control-bg: $white;
$control-bg-hover: $input-border-color-hover;
$control-checked-bg: $teal;
$control-disabled-bg: rgba($gray-disabled, .5);
$control-color: $black;
$control-border-width: 1px;
$control-border-color: $input-border-color;
$control-size: 20px;

$input-height-border: $input-border-width * 2 !default;

$input-transition: border-color .15s ease-in-out;

// Form validation
$form-feedback-font-size: $font-size-sm !default;
$form-feedback-color: $white;
$form-feedback-valid-color: green;
$form-feedback-invalid-color: $red;

@import "_forms/options";
@import "_forms/file-input";
@import "_forms/inputs";
@import "_forms/select"; // FIXME: move to options?



.ui.form {
  label {
    display: block;
    vertical-align: top;

    &.h4 {
      margin-bottom: spacer("3x");
    }
  }
}


.card._form,
.card._survey {
  margin-bottom: spacer("10x");
  overflow: hidden;
  border: $border-width solid $gray-lighter;
  background: $gray-lighter;
  border-radius: $border-radius-lg;
  padding: 0;

  .card__content {
    padding: 0 spacer("8x");
  }

  .field {
    margin-bottom: spacer("6x");
    &:last-child {
      margin-bottom: spacer("10x");
    }

    &.hide {
      margin-bottom: 0;
    }
  }

  label {
    display: block;
    font-weight: $font-weight-normal;
    vertical-align: top;
  }

  .card__title {
    padding: spacer("8x") spacer("4x") 0;
    margin-bottom: spacer("8x");
    @include media-breakpoint-up(sm) {
      padding: spacer("8x") spacer("8x") 0;
    }

    h2,
    h3 {
      margin: 0;
    }

    p {
      margin: 0 0 spacer("2x") 0;
    }

    &._inverted {
      padding: spacer("8x") spacer("4x");
      background: $gray-dark;
      color: $white;
      @include media-breakpoint-up(sm) {
        padding: spacer("8x");
      }
    }

    &._subtitle {
      padding: 0;
      margin-bottom: spacer("6x");
    }
  }

  &._no-border {
    border: none;
    border-radius: 0;
    background: transparent;
  }
}

.field {
  margin-bottom: spacer("6x");

  &.hide {
    margin-bottom: 0;
  }
}

// FIXME: how to deal with .card__content padding?
fieldset {
  margin-bottom: spacer("4x");
  &::after {
    content: "";
    margin: spacer("2x") -#{spacer("8x")};
    border-top: $hr-border-width solid $hr-border-color;
    display: block;
  }
}

.title-label {
  font-size: $h4-font-size;
  margin-bottom: spacer("3x");
}

.card._survey {
  background: $white;

  .card__title {
    text-align: center;
    margin-bottom: spacer("10x");

    h1 {
      margin-bottom: 0;
    }
  }

  .card__content .field {
    margin-bottom: spacer("10x");

    &._additional {
      margin-top: -#{spacer("6x")};
    }
  }

  .survey-label {
    @extend .h3;
    font-weight: $font-weight-normal;
    margin-bottom: spacer("4x");

    .asterisk {
      font-weight: $font-weight-light;
      color: $red;
    }
  }
}

.input.free-answer {
  margin-top: spacer("2x");
}