$input-padding-y:                       .875rem;
$input-padding-x:                       .75rem;
$input-line-height:                     1.125;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-line-height-sm:                  $input-btn-line-height-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-line-height-lg:                  $input-btn-line-height-lg !default;

$input-bg:                              $gray-lighter !default;
$input-disabled-bg:                     $gray-disable-dark !default;

$input-color:                           $gray-darker;
$input-border-color:                    $gray-lighter;
$input-border-color-hover:              darken($gray-lighter, 10%);
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-focus-bg:                        $white !default;
$input-focus-border-color:              $input-border-color-hover;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-dark !default;
$input-plaintext-color:                 $body-color !default;

$control-bg:                            $gray-lighter;
$control-bg-hover:                      darken($gray-lighter, 20%);
$control-checked-bg:                    $gray-dark;
$control-disabled-bg:                   $gray-disable-light;
$control-color:                         $black;
$control-border-width:                  2px;
$control-border-color:                  darken($gray-lighter, 10%);

$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner:                    ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm:                 ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) !default;
$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;

$input-height-inner-lg:                 ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) !default;
$input-height-lg:                       calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition:                      border-color .15s ease-in-out;

$form-text-margin-top:                  .25rem !default;

$form-check-input-gutter:               1.25rem !default;
$form-check-input-margin-y:             .3rem !default;
$form-check-input-margin-x:             .25rem !default;

$form-check-inline-margin-x:            .75rem !default;
$form-check-inline-input-margin-x:      .3125rem !default;

$form-group-margin-bottom:              1rem !default;

// Form validation
$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $font-size-sm !default;
$form-feedback-color:               $white;
$form-feedback-valid-color:         green;
$form-feedback-invalid-color:       $red;

@import "components/_forms/file-input";
@import "components/_forms/inputs";
@import "components/_forms/checkbox";
@import "components/_forms/radio-btn";
@import "components/_forms/select";

.ui.form {
  margin-bottom: 40px;
  overflow: hidden;
  border: $border-width solid $gray-lighter;
  background: $white;
  border-radius: $border-radius-lg;
  .form-body {
    padding: 0 30px;
  }
  .field {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .form-section {
    margin-bottom: 30px;
    .form_title._subtitle {
      padding: 0;
    }
    &::after {
      content: "";
      margin: 10px -30px;
      border-top: $hr-border-width solid $gray-disable-light;
      display: block;
    }
  }

  label {
    display: block;
    font-size: $font-size-content-base;
    font-weight: $font-weight-normal;
    vertical-align: top;
  }

  .form_title {
    padding: 30px 30px 0;
    margin-bottom: 30px;
    h2, h3 {
      margin: 0;
    }
    p {
      margin: 5px 0 0 0;
    }
    &.__inverse {
      padding: 30px;
      background: $gray-dark;
      color: $white;
    }
    &._subtitle {
      padding: 0;
      margin-bottom: 20px;
    }
  }
  &.__no-border {
    border: none;
    border-radius: 0;
  }
}

.title-label {
  font-size: $font-size-content-base;
  margin-bottom: 15px;
}

.ui.form.survey {
  .survey-label{
    font-size: $h3-font-size;
    font-weight: $font-weight-light;
    margin-bottom: 15px;
  }
}