@import "bootstrap/scss/grid";

._dark {
  background: #f8fafc;
}

._light {
  background: $white;
}

.page-content {
  padding-top: 80px;
  padding-bottom: spacer("10x");
  @include media-breakpoint-up(lg) {
    padding-top: spacer("10x");
  }

  &._survey {
    @include media-breakpoint-down(xs) {
      max-width: 100%;
      padding: $navbar-mobile-height 0 spacer("8x");

      .survey {
        border: none;
        border-radius: 0;

        .card__content {
          padding: 0 spacer("4x");
        }
      }
    }
  }
}

.content-center {
  justify-content: center;
}
