// Pagination

$pagination-padding-y:              .25rem !default;
$pagination-padding-x:               .8rem !default;
$pagination-padding-y-sm:           .5rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           1rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.5;

$pagination-color:                  $gray-darker !default;
$pagination-bg:                     $white !default;
$pagination-border-width:           $border-width !default;
$pagination-border-color:           $gray-lighter !default;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $teal;
$pagination-hover-bg:               $white;
$pagination-hover-border-color:     $gray-lighter !default;

$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              $component-active-bg !default;
$pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         $gray-darker !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-lighter !default;


@import "bootstrap/scss/pagination";

.pagination {
  justify-content: center;
  @include media-breakpoint-up(md) {
    justify-content: unset;
  }

  .page-item {
    &.active {
      z-index: 100;
    }
    &.disabled {
      .page-link,
      .ellipsis {
        fill: $gray-disable-dark;
        opacity: .6;
      }
    }
  }

  .page-link:hover {
    fill: $teal;
  }

  .page-status,
  .ellipsis {
    position: relative;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;
  }
}
