@import "../sprites/common";
@import "../sprites/index";
@import "../sprites/achievements";
@import "../sprites/ui";

// svg sprite dimensions base cls
.sprite-img {
  display: inline-block;
  vertical-align: middle;
}

.svg-inline {
  position: absolute;
  z-index: -999;
  left: -10000px;
  top: -10000px;
}
