.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  padding: 0 15px;
}

.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;

    @include media-breakpoint-up(lg) {
		display: block;
    }
	/* Position the items */
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}