@import "bootstrap/scss/type";
@import "bootstrap/scss/utilities/text";

h1,
h2,
h3 {
  font-weight: $font-weight-light;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

h1 {
  @include font-smoothing();
}

h4 {
  font-weight: $font-weight-normal;
}

.text-center {
  text-align: center;
}

@media (max-width: 991px) {
  html {
    font-size: .9rem;

    h1 {
      font-size: 2.8rem;
    }

    h4 {
      font-size: 1rem;
    }
  }
}
