.announcement__detail {
  display: flex;
  align-items: center;
  margin-right: spacer("4x");

  .sprite-img {
    fill: $gray-light;
    margin-right: spacer("1x");
    float: left;
  }
}

.grouped .announcement__detail {
  display: inline-flex;
}

.announcement {
  h1, .h1 {
    margin-bottom: spacer("2x");
  }
}