.m-center {
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: inherit;
  }
}

// 2 - screen offline-courses
.csc-offline-courses {
  padding: 30px 0 0;
  @include append-hr-to-container;
}

.card-offline-course {
  background-color: $gray-lighter;
  text-align: center;
  padding: 25px 10px 35px;
  border-radius: 0;

  .card-offline-course__icon {
    height: 100px;
  }

  svg {
    margin-left: 30px;
    fill: #1d1d1d;
    height: 100px;
  }

  &:hover {
    background-color: $teal;
    transition: .2s;

    svg {
      fill: $white;
    }

    .card-offline-course__icon--data-science {
      background-image: url("/static/v2/img/pages/index/offline-courses/data-science-hover.svg");
    }

    .card-offline-course__icon--computer-science {
      background-image: url("/static/v2/img/pages/index/offline-courses/computer-science-hover.svg");
    }

    .card-offline-course__card-title,
    .card-offline-course__card-text {
      color: $white;
    }

  }

  &__text {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__card-title {
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      font-size: $font-size-content-base;
    }
  }

  &__card-text {
    font-size: $font-size-sm;
    color: $gray-dark;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}

//3-screen about-csc

.about-csc {

  @include append-hr-to-container;

  @include media-breakpoint-down(md) {
    text-align: center;
    align-items: center;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h4 {
    text-transform: uppercase;
  }

  .btn {
    margin-bottom: 2rem;
  }

  .img-fluid {
    @include media-breakpoint-down(lg) {
      margin-bottom: 1rem;
    }
  }
}


// 4 - screen csc-online

.csc-online-education {
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  .card-img-wrapper {
    // max-width: 200px;
    // max-height: 200px;
    text-align: center;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-down(sm) {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($gray-darker, .3);
      transition: .3s;
    }

    img {
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: 100%;
      }
    }
  }

  .responsive-card {
    &:hover {
      .card-img-wrapper {
        &::before {
          background-color: rgba($gray-darker, .1);
        }
      }
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__card-title {
    padding-top: 10px;
    margin-bottom: 0;
    font-size: $font-size-content-base;
  }

  .btn {
    margin: .5rem 0 2rem;
  }
}

//5-screen students-reviews

.csc-student-reviews {
  padding: 30px 0 40px;
  background-color: $light;

  .card-columns {
    margin: 30px 0;
  }
}

//6-screen social-media-posts

.social-media-posts {
  padding: 2rem 0;
  font-size: $font-size-base;
}

.social-media {
  display: flex;
  flex-flow: column;
  padding: 2rem 1.5rem 1rem;
  margin-bottom: 1rem;
  background-size: cover;
  @include media-breakpoint-down(md) {
    text-align: center;
    align-items: center;
  }
  &__text {
    color: $white;
    margin: 1rem 0;
    overflow: hidden;

    &--dark {
      color: $gray-darker;
    }

  }

  &__date {
    font-size: $font-size-extra-sm;
    color: $gray-darker;
    margin-top: auto;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
    &--light {
      color: $gray-lighter;
    }
  }

  &--instagram {
    position: relative;
    background-image: url('/media/pages/index/instagram-img.jpg');
    transition: .3s;
    z-index: 1;

    &::before {
      content: "";
      background-color: rgba($gray-darker, .75);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      transition: .3s;
    }
    &:hover {
      box-shadow: 0 0 2rem transparentize($gray-darker, .75);
    }
  }

  &--full-size {
      height: 512px;
    @include media-breakpoint-down(md) {
      justify-content: space-between;
    }
  }

  &--vk {
    background-color: $gray-lighter;
    transition: .3s;
    &:hover {
      box-shadow: 0 0 2rem transparentize($gray-dark, .85);
    }
  }

  &--twitter {
    background-color: $gray-lighter;
  }

  &--youtube {
    background-image: url('/media/pages/index/youtube-img.jpg');
  }

  &--half-size {
    position: relative;
    height: 248px;
    @include media-breakpoint-down(md) {
      justify-content: space-between;
    }
    .social-media__text {
      max-height: 96px;
    }
    &:after {
      content: '';
      position: absolute;
      right: 16px;
      bottom: 0px;
      width: 150px;
      height: 104px;
      background: linear-gradient(to right, rgba($gray-lighter, 0.2), $gray-lighter);
      @include media-breakpoint-down(lg) {
        height: 96px;
      }
    }
  }
}