.external-links {
  a {
    display: inline-block;
    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 4px;
      vertical-align: middle;
      background-repeat: no-repeat;
    }
  }
  a[href^="https://github.com"] {
    &::before {
      background-image: url("/static/v2/img/icons/github.svg");
    }
  }

  a[href^="https://habr.com"] {
    &::before {
      background-image: url("/static/v2/img/icons/habr.svg");
    }
  }
}
