.cover-student-avatar {
  width: 160px;
  height: 160px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: spacer("8x");

  @include media-breakpoint-up(sm) {
    display: none;
  }
}
