.team-title {
  text-align: center;
  margin-bottom: spacer("6x");
}

.team-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  width: 100%;
  margin-bottom: spacer("10x");
  @include media-breakpoint-up(md) {
    flex-flow: row;
  }
}

.team-row .member {
  text-align: center;
  width: 100%;
  margin-bottom: spacer("6x");
  overflow: hidden;
  @include media-breakpoint-up(md) {
    width: auto;
    width: 33%;
  }
  img {
    max-width: 100%;
    margin-bottom: spacer("3x");
  }
  h3 {
    margin-bottom: spacer(0);
    padding: 0 50px;
  }
  p {
    padding: 0 50px;
    font-size: $font-size-sm;
    color: $gray-dark;
  }
}

.team-row {
  @include media-breakpoint-up(md) {
    .member:last-child {
      position: relative;
      right: 55px;
      z-index: 0;
    }

    .member:first-child {
      position: relative;
      left: 55px;
      z-index: 0;
    }
  }
}