.card {
  &._video {
    color: $gray-darker;
    border: none;

    ._meta {
      padding-top: 0;
      color: $gray-dark;
       flex-grow: 0;
    }

    .author {
      margin-top: spacer("2x");
      font-size: $font-size-sm;
      color: $gray-dark;
    }

    .card__title {
      color: $black;
    }

    .card__img.lazy-wrapper {
      padding-top: 52.75%;  // 16:9
      background-color: $gray-lighter;
      background-image: url("/static/v2/img/placeholder/camera.svg");
      background-size: 64px;
    }
  }
}
