.card {
  &._video {
    color: $gray-darker;
    height: 100%;

    ._meta {
      padding-top: 0;
      color: $gray-dark;
      flex-grow: 0;
    }

    .author {
      font-size: $font-size-sm;
    }
  }
}
