.card {
  &._video {
    color: $gray-darker;
    border: none;

    ._meta {
      padding-top: 0;
      color: $gray-dark;
      flex-grow: 0;
    }

    .author {
      margin-top: spacer("2x");
      font-size: $font-size-sm;
      color: $gray-dark;
    }

    .card__title {
      color: $black;
    }
  }
  .labels {
    margin-top: spacer("8x");
  }
}
