#user-photo-upload {
  .modal-header {
    background: #f8f8f8;
    border-radius: 3px;
  }

  .loading {
    display: none;
  }

  .modal-body {
    text-align: center;
    overflow: hidden;
    padding: 0;
    min-height: 100px;

    &.load-state {
      > * {
        visibility: hidden;
      }
      .loading {
        visibility: visible;
        display: block;
      }
    }

    .notes {
      margin: 60px 0 20px 0;
    }

    .crop-notes {
      margin:0 0 20px 0;
    }

    .btn {
      margin-bottom: 60px;

      &.-next {
        margin: 20px 0 0;
      }
    }

    img {
      max-width: 100%;
    }

    .c-crop {
      padding: 20px;

      .btn {
        margin: 20px 0 0;
      }
    }
  }

  .js-fileapi-wrapper {
    width: 200px;
    margin: 0 auto;
    display: block;
  }

  .btn {
    border-radius: 3px;
  }
}

.btn {
  &.js-fileapi-wrapper {
    position: relative;
  }
}

.btn.js-fileapi-wrapper input[type=file] {
    top: -10px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 15px;
    height: 54px;
    cursor: pointer;
}