{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Выпускник {{ super() }}{% endblock title %}

{% block content %}
    <div class="cover _green-gradient">
        <div class="cover__content">
            <div class="cover-student-avatar mt-8 mb-4">
                <img class="img-fluid" src="/static/v2/img/placeholder/girl.png" alt="">
            </div>
            <div class="mb-1">{% if student.gender == student.GENDER_MALE %}Выпускник{% else %}Выпускница{% endif %} CS центра</div>
            <h1 class="mb-0">{{ student.get_short_name() }}</h1>
        </div>
    </div>

    <div class="container page-content mt-lg-10">
        <h2 class="text-center">История обучения</h2>
        <div class="row content-center">
            <div class="col-lg-6 col-sm-8 col-8">
                <div class="timeline _person-history">
                    <div class="timeline__element">
                        <div class="timeline__content">
                            <div class="timeline__date">Весной {{ student.enrollment_year }} года</div>
                            <p>Отправил{% if student.gender == student.GENDER_FEMALE %}а{% endif %} заявление</p>
                        </div>
                    </div>
                    {% if applicant is not none and applicant.exam is defined %}
                    <div class="timeline__element">
                        <div class="timeline__content">
                            <div class="timeline__date">{{ applicant.exam.created|date("j E Y") }} года</div>
                            <p>Написал{% if student.gender == student.GENDER_FEMALE %}а{% endif %} экзамен на {{ applicant.exam.score }} из {{ applicant.campaign.exam_max_score }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="timeline__element">
                        <div class="timeline__img">
                            {% with im = student.get_thumbnail(student.ThumbnailSize.SQUARE, use_stub=False) -%}
                                {% if im %}<img class="img-fluid" alt="{{ student.get_full_name() }}" src="{{ im.url }}">
                                {%- else %}
                                {% endif %}
                            {% endwith %}

                        </div>
                        <div class="timeline__content">
                            <div class="timeline__date _important">31 июля {{ student.enrollment_year }} года</div>
                            <h3>Зачислен{% if student.gender == student.GENDER_FEMALE %}а{% endif %} в CS центр</h3>
                        </div>
                    </div>

                    {% for term, elements in timeline.items() %}
                        <div class="timeline__element">
                            <div class="timeline__content">
                                <div class="timeline__date">{{ term }}</div>
                                <ul class="ui _unstyled">
                                    {% for timeline_element in elements %}
                                        <li>{{ timeline_element.name }} /{{ timeline_element.grade.lower() }}/
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="timeline__element _photo">
                        <div class="timeline__img">
                            <img class="img-fluid" src="/static/v2/img/placeholder/girl.png" alt="">
                        </div>
                        <div class="timeline__content">
                            <span class="timeline__date _important">{{ student.graduate_profile.graduation_at|date("j E Y") }} года</span>
                            <h3>Закончил{% if student.gender == student.GENDER_FEMALE %}а{% endif %} обучение в CS центре</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

