{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}{{ student.get_abbreviated_name() }} - {% if student.gender == student.GENDER_MALE %}выпускник{% else %}выпускница{% endif %} CS центра{% endblock title %}

{% block content %}
    {% with graduate_profile = student.graduate_profile %}
    <div class="cover _green-gradient">
        <div class="cover__content">
            <div class="cover-student-avatar mt-8 mb-4">
                <img class="img-fluid" src="{{ graduate_profile.get_thumbnail(student.ThumbnailSize.SQUARE).url }}" alt="">
            </div>
            <div class="mb-1">{% if student.gender == student.GENDER_MALE %}Выпускник{% else %}Выпускница{% endif %} CS центра</div>
            <h1 class="mb-0">{{ student.get_short_name() }}</h1>
        </div>
    </div>

    {% if graduate_profile.testimonial %}
        <div class="_dark">
            <div class="container py-10">
                <div class="row content-center">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card__content _big">
                                <h2>Отзыв о CS центре</h2>
                                {{ graduate_profile.testimonial|markdown(graduate_profile.TESTIMONIAL_CACHE_KEY, 3600, graduate_profile.pk, graduate_profile.modified) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="container page-content">
        <h2 class="text-center">История обучения</h2>
        <div class="row content-center">
            <div class="col-lg-6 col-sm-8 col-10">
                <div class="timeline _person-history">
                    <div class="timeline__element active">
                        <div class="timeline__content">
                            <div class="timeline__date">Весной {{ student.enrollment_year }} года</div>
                            <p>Отправил{% if student.gender == student.GENDER_FEMALE %}а{% endif %} заявление</p>
                        </div>
                    </div>

                    <div class="timeline__element">
                        <div class="timeline__img">
                            {% with im = student.get_thumbnail(student.ThumbnailSize.BASE, use_stub=True, stub_official=False) -%}
                                {% if im %}<img class="img-fluid" alt="{{ student.get_full_name() }}" src="{{ im.url }}">{% endif %}
                            {% endwith %}

                        </div>
                        <div class="timeline__content">
                            <div class="timeline__date _important">31 июля {{ student.enrollment_year }} года</div>
                            <h3>Зачислен{% if student.gender == student.GENDER_FEMALE %}а{% endif %} в CS центр{% if student.branch.city_id == 'spb' %} в Санкт-Петербурге{% elif student.branch.city_id == 'nsk' %} в Новосибирске{% endif %}</h3>
                        </div>
                    </div>

                    {% for term, elements in timeline.items() %}
                        <div class="timeline__element">
                            <div class="timeline__content">
                                <div class="timeline__date">{{ term|capfirst }}</div>
                                <ul class="ui">
                                    {% set ns = namespace(element_type=elements.0.type) %}
                                    {% for timeline_element in elements %}
                                        {% if timeline_element.type != ns.element_type %}
                                            {% if timeline_element.type == timeline_element_types.SHAD %}
                                                </ul>
                                                <span class="timeline__label">Курсы ШАД</span>
                                                <ul class="ui">
                                            {% elif timeline_element.type == timeline_element_types.PRACTICE %}
                                                </ul>
                                                <span class="timeline__label">Практика</span>
                                                <ul class="ui">
                                            {% elif timeline_element.type == timeline_element_types.RESEARCH %}
                                                </ul>
                                                <span class="timeline__label">Научно-исследовательская работа</span>
                                                <ul class="ui">
                                            {% endif %}
                                            {% set ns.element_type = timeline_element.type %}
                                        {% endif %}
                                        <li>
                                            {%- if timeline_element.url is not none -%}
                                                <a href="{{ timeline_element.url }}">{{ timeline_element.name }}</a>
                                            {%- else -%}
                                                {{ timeline_element.name }}
                                            {%- endif %} <span class="text-small">{{ timeline_element.grade.lower() }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="timeline__element">
                        <div class="timeline__img">
                            <img class="img-fluid" src="{{ graduate_profile.get_thumbnail(student.ThumbnailSize.SQUARE).url }}" alt="">
                        </div>
                        <div class="timeline__content">
                            <span class="timeline__date _important">{{ graduate_profile.graduated_on|date("j E Y") }} года</span>
                            <h3>Закончил{% if student.gender == student.GENDER_FEMALE %}а{% endif %} обучение в CS центре</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endblock content %}

