{% extends "base.html" %}
{% load i18n %}
{% load call_method can_enroll_in_course from core_tags %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}
<div class="container _students-courses-list">
    <div class="nav-tabs-inverse">
        <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a data-toggle="tab" href="#current" aria-controls="current" role="tab" aria-expanded="true">{{ current_term }}</a>
            </li>
            {% if archive_enrolled %}
            <li role="presentation">
                <a data-toggle="tab" href="#archive" aria-controls="archive" role="tab" aria-expanded="false">Пройденные курсы</a>
            </li>
            {% endif %}
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="current" role="tabpanel">
            {% if ongoing_enrolled or ongoing_rest %}

          <table class="table" width="100%">
            <thead>
                <th></th>
                <th class="actions"></th>
            </thead>
            <tbody>
            {% for course in ongoing_enrolled %}
            <tr class="{{ course.has_unread|yesno:"unread,noop" }}">
                <td>
                <a href="{{ course.get_absolute_url }}" class="title">{{ course.meta_course.name }}</a> &nbsp;
                  <span class="badge assignment-status {{ course.grading_system.css_class }} {{ course.enrollment.grade }}">{{ course.enrollment.grade_honest }}</span><br>
              {% trans "Professors" %}:
                {% for teacher in course.teachers.all %}
                <a href="{{ teacher.teacher_profile_url }}">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td>
                    {% if course.survey_url %}<a class=" btn btn-sm btn-block btn-success" href="{{ course.survey_url }}" target="_blank">{% trans "Start survey!" %}</a>{% endif %}
                    {% call_method request.user "has_perm" "learning.leave_course" course as can_leave_course %}
                    {% if can_leave_course %}
                    <a href="{{ course.get_unenroll_url }}?back=study:course_list"
                       class=" btn btn-sm btn-block btn-warning">{% trans "Leave course" %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            {% for course in ongoing_rest %}
            <tr class="{{ course.has_unread|yesno:"unread,noop" }}">
              <td>
                <a class="title" href="{{ course.get_absolute_url }}">
                    {{ course.meta_course.name }}</a>{% if request.site.domain == "compscicenter.ru" and course.is_club_course %}<span>, курс CS клуба</span>{% endif %}<br>
              {% trans "Professors" %}:
                {% for teacher in course.teachers.all %}
                <a href="{{ teacher.teacher_profile_url }}">{{ teacher.get_abbreviated_name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </td>
              <td>
                  {% can_enroll_in_course request.user course request.user.get_student_profile as can_enroll %}
                  {% if can_enroll %}
                    <a href="{{ course.get_enroll_url }}" class="btn btn-default btn-sm btn-block">{% trans "Enroll" %}</a>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
            {% else %}
                Список курсов на <b>{{ current_term|lower }}</b> пуст.
            {% endif %}
          </div>

      {% if archive_enrolled %}
          <div class="tab-pane" id="archive" role="tabpanel">
          <table class="table _archive" width="100%">
            <thead>
              <th></th>
              <th width="10%">{% trans "Grade" %}</th>
              <th width="15%">{% trans "Semester" %}</th>
            </thead>
            <tbody>
            {% for course in archive_enrolled %}
                <tr class="{{ course.has_unread|yesno:"unread,noop" }}">
                  <td>
                    <a href="{{ course.get_absolute_url }}">{{ course.meta_course.name }}</a>
                  </td>
                  <td><span class="badge assignment-status {{ course.grading_system.css_class }} {{ course.enrollment.grade }}">{{ course.enrollment.grade_honest }}</span></td>
                  <td>{{ course.semester }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
      {% endif %}
    </div>
    </div>
</div>

{% endblock content %}
