{% extends "base.html" %}
{% load i18n %}
{% block title %}Кодекс чести студента CS центра{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3 class="content-title">Кодекс чести студента CS центра</h3>
        {% if faq %}
            Проходя курсы CS центра, я
            <br/>
            <br>
            <ul>
            {% for qa in faq %}
                <li>{{ qa.content }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
  </div>
</div>
{% endblock content %}
