{% extends "base.html" %}
{% load i18n %}
{% block title %}Кодекс чести студента CS центра{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3 class="content-title">Кодекс чести студента CS центра</h3>
        Проходя курсы CS центра, я
        </br>
        <br>
        <ul>
        <li>осознаю, что обсуждение домашних заданий с товарищами полезно, но заимствовать результаты чужой работы не буду, если это напрямую не разрешено в задании;</li>
        <li>самостоятельно решаю все контрольные работы и тесты, не предполагающие кооперации с одногруппниками;</li>
        <li>не прошу и не буду просить помощи при выполнении заданий у людей, которые не имеют отношения к CS центру;</li>
        <li>не публикую и не буду публиковать решения домашних заданий и контрольных работ в открытый доступ без разрешения преподавателя курса (это относится как к моим решениям, так и к официальным решениям, опубликованным преподавателями). В частности, не храню свои решения в открытых репозиториях;</li>
        <li>не выкладываю и не буду выкладывать в открытый доступ видеозаписи лекций CS центра без разрешения кураторов; </li>
        <li>не пытаюсь улучшить свою или чужую оценку нечестным способом и не мешаю другим добиваться хороших результатов; </li>
        <li>при общении с преподавателями, кураторами и другими студентами уважаю собеседника, избегаю хамства и нецензурную лексику.</li>
        </ul>
    </div>
  </div>
</div>
{% endblock content %}
