{% extends "base.html" %}
{% load i18n %}
{% block title %}Кодекс чести студента - {{ request.site.name }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3 class="content-title">Кодекс чести студента</h3>
        {% if faq %}
            Обучаясь в Школе анализа данных, я:
            <br><br>
            <ul>
                {% for qa in faq %}
                    <li>{{ qa.content }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                Кодекс пока пуст.
            </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
