{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body_attrs %} class="gray"{% endblock body_attrs %}
{% load markdown from core_tags %}
{% block title %}Проекты организаторов - {{ request.site.name }}{% endblock title %}

{% block content %}
    <div class="container">
        {% if faq %}
            <div class="panel-group panel-group-continuous">
                {% for qa in faq %}
                    <div class="panel">
                        <a class="panel-heading" id="question-{{ qa.pk }}" aria-expanded="false" href="#answer-{{ qa.pk }}">{{ qa.title }}</a>
                        <div class="panel-collapse collapse" id="answer-{{ qa.pk }}"  aria-expanded="false">
                            <div class="panel-body">
                            {% markdown 3600 "internships_answers" qa.pk qa.modified %}
                                {{ qa.content }}
                            {% endmarkdown %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info text-center">Здесь появится информация об интересных стажировках и школах, которые рекомендуют организаторы.</div>
        {% endif %}
    </div>
{% endblock content %}
