{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_tags %}
{% load static %}
{% load markdown call_method from core_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ a_s.student.get_short_name }} - {{ a_s.assignment.title }}{% endblock %}

{% block javascripts %}
    {#    TODO: append instead of replace #}
    <script type="text/javascript">
      CSC.config.localStorage.hashes = {{ hashes_json|safe }};
    </script>
    {% if is_actual_teacher or request.user.is_curator %}
        <script type="text/javascript">
        $('.assignment-attachment a:contains(".ipynb")').each(function() {
            if ( $(this).text().trim().match(".ipynb$") ) {
                $(this).clone()
                        .attr("href", this.href + "?html=1")
                        .attr("target", "_blank")
                        .text("[html]").insertAfter(this);
            }
        });
        </script>
    {% endif %}
    {% render_bundle 'learning' 'js' %}
{% endblock javascripts %}


{% block content %}
{% localtime off %}
<div class="container" id="student-submission-comments">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        <a href="{% url 'study:assignment_list' %}"><span class="fa fa-angle-left"></span></a>
        {{ a_s.assignment.title }} <br>
            <a class="small" href="{{ a_s.assignment.course.get_absolute_url }}">{{ a_s.assignment.course }}</a>
      </h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <div class="csc-well">
        <div class="ubertext">
          {% markdown 3600 "assignment_text" a_s.assignment.pk a_s.assignment.modified %}
            {{ a_s.assignment.text }}
          {% endmarkdown %}
        </div>
        {% with aas=a_s.assignment.assignmentattachment_set.all %}
          {% if aas %}
            <ul class="list-unstyled">
              {% for aa in aas %}
                <li>
                  <span class="assignment-attachment">
                    <i class="fa fa-file"></i> <a href="{{ aa.file_url }}">{{ aa.file_name }}</a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      {% if a_s.assignmentcomment_set.all %}
        <ul class="comment-list">
        {% for comment in a_s.assignmentcomment_set.all %}
            {# Should be ok for comparing python int type with None #}
            {% if first_comment_after_deadline and comment.pk == first_comment_after_deadline.pk %}
                <li><hr class="deadline"></li>
            {% endif %}
        <li class="{% if comment.author == a_s.student %}student{% else %}teacher{% endif %}">
          <div class="csc-well assignment-comment" {% if user.is_curator or is_actual_teacher %}data-id="{{ comment.pk }}"{% endif %}>
            {% if is_actual_teacher and comment.author_id == user.pk and not comment.is_stale_for_edit or user.is_curator %}
                <a href="{{ comment.get_update_url }}" class="__edit pull-right">{% if user.is_curator %}#{{ comment.pk }}{% else %}<i class="fa fa-pencil" aria-hidden="true"></i>{% endif %}</a>
            {% endif %}
            <h5 class="assignment">{{ comment.author }}</h5>
            <div class="ubertext">
              {% markdown 3600 "assignment_comment" comment.pk comment.modified %}
                {{ comment.text }}
              {% endmarkdown %}
            </div>
            <div class="metainfo-holder">
              {% if comment.attached_file %}
              <span class="assignment-attachment">
                <i class="fa fa-file"></i>
                <a href="{{ comment.attached_file_url }}">
                  {{ comment.attached_file_name }}
                </a>
              </span>
              {% endif %}
              <span class="metainfo pull-right">{{ comment.created|timezone:timezone|date:"d.m.Y H:i" }}</span>
            </div>
          </div>
        </li>
        {% endfor %}
        </ul>
      {% endif %}

        <div class="csc-well">{% crispy comment_form %}</div>
    </div>

        <div class="col-xs-3">
            <div class="-submission" id="o-sidebar">

                <h5 class="assignment">{% trans "Grade" %}</h5>
                <span class="nowrap badge assignment-status {{ a_s.state.css_class }}">{{ a_s.state_display }}</span>

                <h5 class="assignment">{% trans "Time Spent on Assignment" %}</h5>
                <form method="post" action="{% url "study:student_assignment_execution_time_update" a_s.pk %}">
                    {% call_method request.user "has_perm" "study.update_own_assignment_execution_time" a_s as can_update_execution_time %}
                    {% if not can_update_execution_time %}
                        <fieldset disabled="disabled">
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-inline">
                        <div class="input-group">
                            {{ execution_time_form.execution_time }}
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i></button>
                            </span>
                        </div>
                    </div>
                    {% if not can_update_execution_time %}
                        <p class="help-block">{{ execution_time_form.execution_time.help_text }}</p>
                        </fieldset>
                    {% endif %}
                </form>

                {% if one_teacher %}
                    <h5 class="assignment">{% trans "Professor" %}</h5>
                {% else %}
                    <h5 class="assignment">{% trans "Professors" %}</h5>
                {% endif %}
                <ul class="list-unstyled">
                    {% for teacher in a_s.assignment.course.teachers.all %}
                        <li>
                            <a href="{{ teacher.teacher_profile_url }}">{{ teacher.get_full_name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <h5 class="assignment">{% trans "Student" %}</h5>
                <a href="{{ a_s.student.get_absolute_url }}">{{ a_s.student.get_full_name }}</a>

                <h5 class="assignment">{% trans "Deadline" %}</h5>
                <span class="nowrap">{{ a_s.assignment.deadline_at|timezone:timezone|naturalday:"d E Y" }} {{ a_s.assignment.deadline_at|timezone:timezone|time:"H:i" }}</span>

                <h5 class="assignment">{% trans "Maximum score" %}</h5>
                <span class="nowrap">{{ a_s.assignment.maximum_score }}</span>

                <h5 class="assignment">{% trans "Passing score" %}</h5>
                <span class="nowrap">{{ a_s.assignment.passing_score }}</span>

                <h5 class="assignment">{% trans "Assignment created" %}</h5>
                {{ a_s.assignment.created_local|date:"d E Y" }}
                {% if a_s.assignment.is_online %}
                <h4>{% trans "Can be passed online "%}</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{#  XXX: Due to bug with `fade` class and `shown.bs.modal` event put this html code here  #}
<div id='update-comment-model-form' class='modal' tabindex='-1' role='dialog'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Редактировать комментарий</h4>
                <p class="text-muted">Пожалуйста, не меняйте смысл комментария, т.к. студент потенциально мог его прочитать в текущей версии и начать отвечать.<br>В таком случае лучше написать новый.</p>
            </div>
            <div class="inner"></div>
        </div>
    </div>
</div>
{% endlocaltime off %}
{% endblock content %}
