{% extends "v2/layouts/inner.jinja2" %}

{% block title %}Программа для поступления в Computer Science Center{% endblock title %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="_title">Темы и&nbsp;требования для вступительных испытаний</h1>
        </div>
        <div class="col-lg-8">
            <h2>Математика</h2>
            <h3>Математический анализ</h3>
            <p>
                Предел, обозначения O() и&nbsp;o(), умение корректно доказывать и&nbsp;применять асимптотические
                оценки,
                при необходимости переформулируя в&nbsp;&laquo;терминах эпсилон и&nbsp;дельта&raquo;, непрерывность,
                производная,
                первообразная, дифференциал, нахождение экстремума функции от&nbsp;одной и&nbsp;от&nbsp;многих
                переменных,
                формула Тейлора.
            </p>
            <h3>Дискретная математика и&nbsp;математическая логика</h3>
            <p>
                Отображения и&nbsp;отношения и&nbsp;их&nbsp;свойства, транзитивное замыкание отношения,
                эквивалентность, отношения
                порядка, логика высказываний, кванторы, метод математической индукции, основные понятия теории
                графов, лемма о&nbsp;рукопожатиях, критерий двудольности, оценки числа ребер, характеризация
                деревьев.
            </p>
            <h3>Алгебра и&nbsp;теория чисел</h3>
            <p>
                Группы, поля, кольца, факторизация, идеал, сравнения, алгоритм Евклида, теоремы Эйлера и&nbsp;Ферма,
                кольцо многочленов, число корней многочлена, линейные пространства и&nbsp;операторы, базис,
                размерность,
                ранг, собственные числа и&nbsp;собственные векторы, характеристический многочлен.
            </p>
            <h3>Теория вероятностей</h3>
            <p>
                Зависимые и&nbsp;независимые события, условные вероятности, формула полной вероятности,
                математическое
                ожидание, второй момент, неравенства Маркова и&nbsp;Чебышёва.
            </p>
        </div>

        <div class="col-lg-3 offset-lg-1">
            <div class="card mb-4">
                <div class="card__header _dark">
                    <h4 class="card__title">Список литературы</h4>
                </div>
                <div class="card__content text-small">
                    <ul class="ml-6">
                        <li>И.&nbsp;В.&nbsp;Романовский. Дискретный анализ</li>
                        <li>А.&nbsp;Шень. Начала теории множеств. Математическая логика и&nbsp;теория алгоритмов
                        </li>
                        <li>Н.&nbsp;Б.&nbsp;Алфутова, А.&nbsp;В. Устинов. Алгебра и&nbsp;теория чисел для
                            математических
                            школ
                        </li>
                        <li>Б.&nbsp;М.&nbsp;Давидович, П.&nbsp;Е. Пушкарь, Ю.&nbsp;В.&nbsp;Чеканов. Математический
                            анализ в&nbsp;57-й школе.
                            Четырехгодичный курс
                        </li>
                        <li>А.&nbsp;И.&nbsp;Кострикин. Введение в&nbsp;алгебру (в&nbsp;3&nbsp;частях)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Алгоритмы и&nbsp;структуры данных</h2>
            <h3>Оценка алгоритмов</h3>
            <p>Мы&nbsp;рассчитываем, что вы&nbsp;понимаете, какое количество операций и&nbsp;объём дополнительной
                памяти необходимы
                для обсуждаемых алгоритмов и&nbsp;из&nbsp;каких соображений это получается.</p>
            <h3>Простейшие алгоритмы</h3>
            <p>Поиск заданного элемента, наибольшего элемента, сортировка вставкой, сортировка пузырьком, быстрая
                сортировка, иерархические сортировки.</p>
            <h3>Простейшие структуры данных</h3>
            <p>Массив, список, стек, очередь.</p>
        </div>
        <div class="col-lg-3 offset-lg-1">
            <div class="card mb-4">
                <div class="card__header _dark">
                    <h4 class="card__title">Список литературы</h4>
                </div>
                <div class="card__content text-small">
                    <ul class="ml-6 mb-0">
                        <li>А.&nbsp;Шень. Программирование. Теоремы и&nbsp;задачи</li>
                        <li>Н.&nbsp;Вирт. Алгоритмы и&nbsp;структуры данных</li>
                        <li>Т.&nbsp;Кормен, Ч. Лейзерсон, Р.&nbsp;Ривест. Алгоритмы: построение и&nbsp;анализ
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Программирование</h2>
            <p>Знание базовых принципов одного из&nbsp;&laquo;традиционных&raquo; (C, C++, Java, Python и&nbsp;др.)
                языков
                программирования:
                основы синтаксиса, переменные, условные выражения, циклы, массивы, функции, рекурсия, динамическая
                память, стек.</p>
            <p>Умение написать код для перечисленных выше элементарных алгоритмов.</p>
        </div>
        <div class="col-lg-3 offset-lg-1">
            <div class="card mb-4">
                <div class="card__header _dark">
                    <h4 class="card__title">Список литературы</h4>
                </div>
                <div class="card__content text-small">
                    <ul class="ml-6 mb-0">
                        <li>Брайан Керниган, Деннис Ритчи. Язык программирования&nbsp;C</li>
                        <li>Герберт Шилдт. С++&nbsp;для начинающих. Шаг за&nbsp;шагом</li>
                        <li>Герберт Шилдт. Java. Руководство для начинающих
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}