{% load i18n %}
{% load static %}
{% load override_url %}
{% load lookup startswith from core_tags %}
{% load csc_menu from csc_menu %}
{% if user.is_authenticated %}
    {% csc_menu "menu_private" as menu %}
{% elif request.subdomain == LMS_SUBDOMAIN %}
    {% csc_menu "my_compscicenter_ru_public" as menu %}
{% else %}
    {% csc_menu "menu_public" as menu %}
{% endif %}
{% load user_thumbnail from user_thumbnail %}

<div class="header">
<div class="menu lvl1">
    <div class="container">
        <div class="col-xs-11">
            <div class="logo-cell">
                <a class="logo-container" href="{% url 'index' %}"><img src="{% static "v1/img/center/logo.svg" %}" alt="Computer Science Center"></a>
            </div>
            <ul{% if menu|length > 8 %} class="__narrow"{% endif %}>
                {% for menu_item in menu %}
                    <li {% if menu_item.selected %}class="active"{% endif %}>
                        <a {% if menu_item.is_external %}target="_blank"{% endif %} href="{{ menu_item.url }}">{{ menu_item.title }}{% if menu_item.children %} <i class="fa fa-angle-down"></i>{% endif %}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-1" id="login" data-user-id="{{ user.pk }}">
            {% if user.is_authenticated %}
                <div class="dropdown">
                  <a href="#" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% user_thumbnail user user.ThumbnailSize.SQUARE_SMALL use_stab=0 as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% empty %}
                        <img src="{% if user.gender == "F" %}{% static "v1/img/csc_girl_head.svg" %}{% else %}{% static "v1/img/csc_boy_head.svg" %}{% endif %}" class="_empty">
                    {% enduser_thumbnail %}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu pull-right" aria-labelledby="user-menu">
                      <li class="dropdown-header">{{ user.get_short_name }}</li>
                      <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                      {% if user.is_staff %}
                          <li><a href="{% url 'staff:student_search' LMS_SUBDOMAIN %}">Курирование</a></li>
                          <li><a href="{% url 'stats:index' LMS_SUBDOMAIN %}">Статистика</a></li>
                          <li><a href="{% url 'admin:index' %}" target="_blank">Админ-панель</a></li>
                      {% endif %}
                      <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                  </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}{% if not request.path|startswith:"/login" %}?next={{ request.get_full_path|urlencode}}{% endif %}">{% trans "Login" %}</a>
            {% endif %}
        </div>
    </div>
</div>

{% for menu_item in menu %}
    {% if menu_item.selected and menu_item.children %}
      <div class="menu lvl2 {{ menu_item.css_classes }}">
        <div class="container">
              <ul>
                {% for second_level in menu_item.children %}
                    <li {% if second_level.selected and second_level.css_classes %}class="{{second_level.css_classes}} active"
                    {% elif second_level.css_classes %}class="{{ second_level.css_classes }}"
                    {% elif second_level.selected %}class="active"{% endif %}>
                        <a {% if second_level.is_external %}target="_blank"{% endif %} href="{{ second_level.url }}">
                            {{ second_level.title }}
                            {% if second_level.budge and request.unread_notifications_cache|lookup:second_level.budge %}
                            <span class="badge">
                              {{ request.unread_notifications_cache|lookup:second_level.budge|length }}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
              </ul>
        </div>
      </div>
    {% endif %}
{% endfor %}
</div>
