{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body_attrs %} class="gray"{% endblock body_attrs %}
{% block title %}Вопросы и ответы{% endblock title %}
{% block content %}
    <div class="container">
        <div class="panel-group panel-group-continuous" id="questions">
            {% for qa in faq %}
                <div class="panel">
                    <a class="panel-heading" id="question-{{ qa.pk }}" aria-expanded="false" href="#answer-{{ qa.pk }}">{{ qa.question }}</a>
                    <div class="panel-collapse collapse" id="answer-{{ qa.pk }}"  aria-expanded="false">
                        <div class="panel-body">{{ qa.answer|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
