{% extends "base.html" %}

{% load i18n %}
{% load markdown from core_tags %}
{% load static %}

{% block title %}Открытие в Новосибирске{% endblock title %}

{% block content %}
    <div class="container" id="open-nsk">
        <div class="row">
           <div class="col-xs-12">
               <h1 class="mt-0" style="font-weight: 400;">Открытие CS центра в Новосибирске</h1>
               <h3 class="__underlined">История</h3>
               <div>
                    <img src="{% static "v1/img/center/open_nsk/history.svg" %}" alt="" width="120" height="110" align="left" class="_icon-history">
                    <p>Computer Science Center появился в Санкт-Петербурге в 2011 году по инициативе
                    Школы анализа данных (ШАД) Яндекса, компании JetBrains и Computer Science клуба.
                    ШАД существует с 2007 года в виде очных вечерних и заочных двухлетних курсов,
                    а направление анализа данных в CS центре рассматривается как филиал Школы
                        в Санкт-Петербурге.</p>
               </div>
               <div class="clearfix"></div>

               <div>
                <img src="{% static "v1/img/center/open_nsk/csc.svg" %}" alt="" align="right" width="140" height="140" class="_icon-csc">
               <p style="padding-top: 30px;">В 2013 году в Новосибирске прошёл первый набор на очное обучение в ШАД. С тех
                   пор в филиале Школы появились свои выпускники, курсы и преподаватели.</p>
                   <p>Этой весной компании Яндекс и JetBrains открывают CS центр в Новосибирске, и новосибирский филиал ШАДа становится направлением анализа данных в CS центре.</p>
               </div>
               <div class="clearfix"></div>

               <h3 class="__underlined">Чему и как учат</h3>
               <div>
                   <img src="{% static "v1/img/center/open_nsk/courses.svg" %}" alt="" width="120" height="132" align="left" class="_icon-courses">
                   <p>CS центр в Новосибирске предлагает пройти обучение по одному из двух направлений:<br>
                       — анализ данных,<br>
                       — разработка программного обеспечения.</p>
                        <p>Каждое направление предлагает набор базовых курсов, пройдя которые, студенты могут
                        претендовать на выпуск. Все остальные курсы можно выбирать на своё усмотрение,
                        руководствуясь собственными интересами и советами кураторов.</p>
               </div>
               <div class="clearfix"></div>
               <div>
                   <img src="{% static "v1/img/center/open_nsk/projects.svg" %}" alt="" width="110" height="90" align="right" class="_icon-projects">
                   <p>Обязательная часть обучения в CS центре — семестровая практика. Студенты проходят
                    практику под руководством сотрудников Яндекса или JetBrains, применяя полученные
                    теоретические знания на практике и готовясь использовать их в работе. Руководители
                    предлагают темы проектов, которые интересны им самим, поэтому выбор тем большой:
                    от компиляторов до разработки инструментов машинного обучения.</p>
               </div>
               <div class="clearfix"></div>
               <div class="text-center">
                   <img src="{% static "v1/img/center/open_nsk/rules.svg" %}" alt="" style="margin: 30px 0" width="700">
               </div>

               <h3 class="__underlined">Как поступить?</h3>
               <div>
                   <img src="{% static "v1/img/center/open_nsk/application.svg" %}" alt="" width="110" align="left" class="_icon-application">
                   <p>Начните с заявки на сайте и онлайн-тестирования. Пожалуйста, подойдите к заполнению анкеты ответственно:<br>
                    — убедитесь, что верно выбрали город, в который хотите поступить,<br>
                    — не пропускайте поля для развёрнутого ответа,<br>
                    — перед отправкой проверьте свою контактную информацию, особенно email — это основной способ связи в процессе приёмной кампании.</p>
                    <p>Подробнее о приёмной кампании читайте в соседнем разделе на сайте.</p>
               </div>

               <h3 id="open-day" class="__underlined">День открытых дверей 31 марта в НГУ (аудитория 3107)</h3>
               <div>
                    <p>Приходите лично задать вопросы организаторам CS центра в Новосибирске и представителям компаний
                    Яндекса и JetBrains. В программе лекции, кофе-брейки и презентация Центра, на которой вы сможете
                        лично задать все интересующие вопросы. Не забудьте зарегистрироваться в форме ниже.</p>
                   <div class="row">
                       <div class="col-xs-10">
                   <div class="row margin-bottom-20 margin-top-20">
                       <div class="col-xs-2">
                           <img src="{% static "v1/img/center/open_nsk/1500.svg" %}" alt="" width="70">
                       </div>
                       <div class="col-xs-10">
                           <div class="margin-top-5">
                               <b>Искусственный интеллект и искусство, Иван Ямщиков (Яндекс)</b><br>
                               Как появился альбом «Нейронная Оборона» и как технологии уже меняют и будут дальше менять наши представления о культуре и искусстве.
                           </div>
                       </div>
                   </div>
                   <div class="row margin-bottom-20">
                       <div class="col-xs-2">
                           <img src="{% static "v1/img/center/open_nsk/1645.svg" %}" alt="" width="70">
                       </div>
                       <div class="col-xs-10">
                           <div class="margin-top-5">
                               <b>Nullability – между добром и злом, Тагир Валеев (JetBrains)</b><br>
                               Как в разных языках программирования выражается «ничто», к каким проблемам это ведёт и можно ли их избежать.
                           </div>
                       </div>
                   </div>
                   <div class="row margin-bottom-20">
                       <div class="col-xs-2">
                           <img src="{% static "v1/img/center/open_nsk/1830.svg" %}" alt="" width="70">
                       </div>
                       <div class="col-xs-10">
                           <div class="margin-top-5">
                               <b>Презентация Computer Science Center</b><br>
                               Рассказ про CS центр, знакомство с организаторами, ответы на вопросы поступающих.
                           </div>
                       </div>
                   </div>

                       </div>
                   </div>
               </div>

               <h3 class="__underlined">У меня остались вопросы</h3>
               <img src="{% static "v1/img/center/open_nsk/mail.svg" %}" alt="" width="110"  align="right" class="_icon-mail">
<p>Если у вас остались вопросы, а День открытых дверей уже прошёл или попасть
не получается, попробуйте найти ответы в <a href="/faq/">FAQ</a> или на страницах на сайте:<br>
— <a href="{% url 'on_campus_programs' %}?city=nsk">страница программы</a>,<br>
— <a href="{% url 'course_list' %}">список всех курсов</a>,<br>
— <a href="{% url 'teachers' %}">преподаватели</a>,<br>
— <a href="{% url 'testimonials' %}">отзывы выпускников CS центра в Санкт-Петербурге</a>,<br>
— <a href="{% url 'team' %}">организаторы</a>,<br>
— <a href="/about/">история</a>,<br>
— <a href="/enrollment/">поступление</a>.</p>

А после напишите нам на <a href="mailto:info@compscicenter.ru">info@compscicenter.ru</a> — мы вам обязательно ответим.
           </div>
        </div>
    </div>
{% endblock content %}
