{% extends "cscenter/layouts/base.html" %}

{% block title %}Опрос по курсу "{{ form.survey.title }}"{% endblock title %}

{% block body_attrs %}class="_dark" data-init-sections="surveys"{% endblock body_attrs %}

{% block content %}
 <div class="container page-content _survey">
        <div class="row content-center no-gutters">
            <div class="col-lg-8">
                <form action="" class="ui form survey" method="post">
                    {% csrf_token %}
                    <div class="form_title __inverse">
                        <p>Опрос по курсу</p>
                        <h2>{{ form.survey.title|safe }}</h2>
                    </div>
                    <div class="form-body">
                        {{ form.non_field_errors() }}
                        {% if form.survey.form.description %}{{ form.survey.form.description }}{% endif %}
                        {{ form|as_survey }}
                        <div class="row">
                            <div class="field col-lg-auto">
                                <button type="submit" class="btn btn--green _m-wide">Отправить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}