{% extends "compscicenter_ru/layouts/base.html" %}

{% block body_attrs %}class="_dark" {% endblock body_attrs %}

{% block content %}
 <div class="container page-content">
        <div class="row content-center">
            <div class="col-lg-8">
                <div class="message _success">
                    <div class="message__header">
                        Спасибо за ваш отзыв!
                    </div>
                    <a href="{{ course.get_absolute_url() }}">Перейти на страницу курса</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}