{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Опрос по курсу "{{ form.survey.title }}"{% endblock title %}

{% block body_attrs %}class="_dark" data-init-sections="surveys"{% endblock body_attrs %}

{% block content %}
<div class="container page-content _survey">
    <div class="row content-center no-gutters">
        <div class="col-lg-8">
            {% if request.user.is_curator and not form.survey.is_published %}
                <div class="message _danger mb-8">
                    <h4>Предварительный просмотр</h4>
                    Опрос ещё не опубликован. <a target="_blank" href="{{ url("admin:surveys_form_change", object_id=form.survey.form_id) }}">Редактировать форму опроса.</a>
                </div>
            {% endif %}
            <div class="card _survey">
                <div class="card__title _inverted">
                    <p>Опрос по курсу</p>
                    <h1>{{ form.survey.title|safe }}</h1>
                </div>
                <div class="card__content">
                    {% if form.survey.expire_at %}
                        <div class="message _info mb-8">
                            Дата окончания опроса &mdash; {{ form.survey.expire_at_local(format="j E H:i") }}
                        </div>
                    {% endif %}
                    <form action="" class="ui form" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors() }}
                        {% if form.survey.form.description %}{{ form.survey.form.description }}{% endif %}
                        {{ form|as_survey }}
                        <div class="row">
                            <div class="field col-lg-auto">
                                <button type="submit" class="btn _primary _m-wide">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}