{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  {% for news in object_list %}
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <a href="{% url 'news_detail' slug=news.slug %}">
          {{ news.title }}
        </a>
      </h2>
      {{ news.text.excerpt|linebreaks }}

      {% if news.text.has_more %}
      <p><a href="{% url 'news_detail' slug=news.slug %}">{% trans "More…" %}</a></p>
      {% endif %}
      <p class="news-metainfo">{{ news.created|date }} ({{ news.author }})</p>
    </div>
  </div>
  {% empty %}
  <div class="row">
    <div class="col-xs-12">
      No news yet
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
