{% extends "admin/base.html" %}

{% load i18n %}
{% load admin_reorder %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}


{% block branding %}
{% admin_reorder %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block footer %}
    <div id="footer"></div>
    <style type="text/css">
    .sweet-overlay, .sweet-alert { display: none; }
    </style>

    <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="{% static "v1/js/vendor/jquery-3.2.1.min.js" %}"><\/script>')</script>
    <script type="text/javascript" src="{% static "v1/js/vendor/EpicEditor-v0.2.2/js/epiceditor.min.js" %}"></script>

    <script type="text/javascript" src="//cdn.ravenjs.com/3.24.2/raven.min.js"></script>
    <script type="text/javascript" src="{% static "v1/js/raven_conf.js" %}"></script>

    <script>
      // Global Configuration
      window.CSC = {
          config: {
              JS_SRC: {
                MATHJAX: "//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML",
                HIGHLIGHTJS: "{% static "v1/js/vendor/highlight.pack.js" %}",
              },
              // Used to reflow editor on tab toggle event
              uberEditors: [],
              localStorage: {
                  // Map from hash to dummy value (effectively a set)
                  hashes: []
              }
          }
      }
    </script>

    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'main' 'js' %}
{% endblock %}
