{% extends "lms/layouts/v1_base.html" %}
{% block title %}Студенческие группы - {{ course.name }}, {{ course.semester }}{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 h2-and-buttons">
        <h2>
          Студенческие группы<br>
          <small><a href="{{ course.get_absolute_url() }}">{{ course.name }}, {{ course.semester }}</a></small>
        </h2>
        <div class="btn-toolbar">
          {% if request.user.has_perm(permissions.create_student_group, course) %}
            <a href="{{ get_create_student_group_url(course) }}" class="btn btn-primary btn-outline btn-block px-10" style="width: 215px;
                       padding: 12px 10px" role="button">Добавить новую группу</a>
          {% endif %}
        </div>
        <hr>
      </div>
      <div class="col-xs-12">
        {% if student_group_list %}
          <div class="list-group">
            {% for student_group in student_group_list %}
              <a href="{{ student_group.get_absolute_url() }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ student_group.get_name() }}</h4>
                <span class="text-muted">
                  {% if student_group.type == 'system' %}Группа по-умолчанию. {% endif %}
                  {% if student_group.student_group_assignees.all()|length > 1 %}Ответственные:{% else %}Ответственный:{% endif %}
                  {% for responsible_teacher in student_group.student_group_assignees.all() -%}
                    {{ responsible_teacher.assignee.teacher.get_abbreviated_name() }}{% if not loop.last %}, {% endif %}
                  {%- else -%}
                    не назначен
                  {%- endfor %}
                </span>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <h4>Список групп пуст.</h4>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
