{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <p>
                    Учетная запись активирована.{% if not user.is_authenticated %}<br>Обратите внимание, авторизоваться на сайте вы пока можете только со страницы приглашения. Как только запишетесь хотя бы на 1 курс, можно будет пользоваться общей авторизацией.{% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
