{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Profile Update" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h3>{% trans "Profile Update" %}</h3>
                <form action="" method="post">
                    <p>Пожалуйста, указывайте только реальные ФИО.<br>
                    Если вашего отделения нет в списке, напишите на <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.<br>
                    Если вы выпускник или преподаватель ШАД — филиал для записи "Москва".</p>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
