{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load call_method from core_tags %}

{% block title %}Приглашение пройти курсы{% endblock title %}
{% block body_attrs %} class="gray"{% endblock body_attrs %}


{% block content %}
    <div class="container">
        <div class="panel">
            <div class="panel-body">
                {% if course_invitation_list %}
                <table class="table" width="100%">
                    <thead>
                        <th>Курс</th>
                        <th class="actions" width="150"></th>
                    </thead>
                    <tbody>
                    {% for course_invitation in course_invitation_list %}
                        {% with course=course_invitation.course %}
                            <tr>
                                <td style="vertical-align: middle">
                                    <a href="{{ course.get_absolute_url }}"
                                       class="title">{{ course.meta_course.name }}</a>
                                </td>
                                <td align="right">
                                    {% call_method request.user "has_perm" "learning.enroll_in_course_by_invitation" course_invitation as has_perm %}
                                    {% if has_perm %}
                                        <form method="post" action="{{ course_invitation.get_absolute_url }}">{% csrf_token %}<button class="btn btn-primary" type="submit">Записаться</button></form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="empty">¯\_(ツ)_/¯</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
