$footer-height: 90px;

@mixin append-hr-to-container() {
  .container::after {
    content: "";
    margin: #{2 * $hr-margin-y} 0;
    border-top: $hr-border-width solid $hr-border-color;
    display: block;
  }
}


html {
  min-height: 100%;
  position: relative;
}

body {
  @include media-breakpoint-up(lg) {
    margin-bottom: $footer-height;
  }

  &._nofooter {
    margin-bottom: 0;
  }
}

.cover {
  @include font-smoothing();
  position: relative;
  background: url("/static/v2/img/pages/index/bg-main-page.jpg") no-repeat;
  background-size: cover;
  color: $white;
  padding: 60px 0 100px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: left;
    padding-top: 0;
  }

  nav {
    z-index: 5;
  }
}

.cover__title {
  padding: 60px 0 20px;
  max-width: 900px;
}

.cover__text {
  margin-bottom: 40px;
  max-width: 900px;
}

// Footer styles
.footer {
  overflow: hidden;
  display: block;
  width: 100%;
  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0;
    height: $footer-height;
  }

  > .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    border-top: $hr-border-width solid $hr-border-color;
    margin-bottom: 2rem;
    color: $gray-600;
    font-size: .9375rem;
    line-height: 1.5rem;
    @include font-smoothing();
  }

  &__copyright {
    @include make-col(6);
    @include media-breakpoint-down(md) {
      @include make-col(12);
      text-align: center;
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-end;
    @include make-col(6);

    @include media-breakpoint-down(md) {
      @include make-col(12);
      flex-direction: column;
      text-align: center;
    }

  }
  &__social-media-icons {

    a {
      margin: 0 .3rem;
    }
  }

  &__email {
    margin-right: 10px;
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }
}
