$footer-mobile-height: 168px;
$footer-height: 88px;

@mixin append-hr-to-container() {
  .container::after {
    content: "";
    margin: #{2 * $hr-margin-y} 0;
    border-top: $hr-border-width solid $hr-border-color;
    display: block;
  }
}


html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-mobile-height;
  @include media-breakpoint-up(lg) {
    margin-bottom: $footer-height;
  }
}

.cover {
  position: relative;
  background: #201f20 no-repeat;
  background-size: cover;
  color: $white;
  padding: 40px 0 64px;
  text-align: center;
  @include font-smoothing();
  @include media-breakpoint-up(lg) {
    text-align: left;
    padding-top: 0;
  }

  nav {
    z-index: 5;
  }
}

.cover-index-page {
  background-image: url("/static/v2/img/pages/index/bg-main-page.jpg");
}

.cover._program {
  background: linear-gradient(to right, $gray-dark, $gray-darker);
  padding-bottom: 0;

  .cover__content {
    padding: 80px 0;
    @include media-breakpoint-up(sm) {
      flex-flow: row;
    }
  }

  .cover__title {
    padding: 0;
    max-width: 100%;
    margin-bottom: spacer("2x");
  }

  .translate {
    font-size: $font-size-sm;
    margin: 0;
  }
}

.cover__title {
  padding: 40px 0 0;
  max-width: 900px;
  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }
}

.cover__text {
  margin-bottom: 40px;
  max-width: 900px;
}

// Footer styles
.footer {
  overflow: hidden;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: $footer-mobile-height;
  font-size: $font-size-sm;
  text-align: center;
  @include media-breakpoint-up(lg) {
    height: $footer-height;
  }

  > .container {
    &::before {
      content: "";
      width: 100%;
      display: block; //for old browsers
      border-top: $hr-border-width solid $hr-border-color;
      margin-bottom: spacer("8x");
    }
  }

  .sprite-img {
    fill: $gray-light;
    transition: $transition-base;
  }
}

.footer__social-media-icons {
  margin: spacer("2x");
  @include media-breakpoint-up(lg) {
    display: inline-block;
    margin: 0;
  }
  a {
    margin: spacer("1x");
    @include media-breakpoint-up(md) {
      margin: 0 0 0 spacer("1x");
    }
  }
}

.footer__link {
  margin: spacer("2x");
  display: block;
  @include media-breakpoint-up(lg) {
    margin: 0 spacer("3x") 0 0;
    display: inline-block;
  }
}

.content-block {
  margin-bottom: spacer("8x");
  .figure {
    margin-bottom: spacer("6x");
  }
}