$footer-mobile-height: 168px;
$footer-height: 88px;

@mixin append-hr-to-container() {
  .container::after {
    content: "";
    margin: #{2 * $hr-margin-y} 0;
    border-top: $hr-border-width solid $hr-border-color;
    display: block;
  }
}


html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-mobile-height;
  @include media-breakpoint-up(lg) {
    margin-bottom: $footer-height;
  }
}

// Footer styles
.footer {
  overflow: hidden;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: $footer-mobile-height;
  font-size: $font-size-sm;
  text-align: center;
  @include media-breakpoint-up(lg) {
    height: $footer-height;
  }

  > .container {
    &::before {
      content: "";
      width: 100%;
      display: block; //for old browsers
      border-top: $hr-border-width solid $hr-border-color;
      margin-bottom: spacer("8x");
    }
  }

  .sprite-img {
    fill: $gray-light;
    transition: $transition-base;
    width: 1.75em;
    height: 1.75em;
  }
}

.footer__social-media-icons {
  margin: spacer("2x");
  @include media-breakpoint-up(lg) {
    display: inline-block;
    margin: 0;
  }
  a {
    margin: spacer("1x");
    @include media-breakpoint-up(md) {
      margin: 0 0 0 spacer("1x");
    }
  }
}

.footer__link {
  margin: spacer("2x");
  display: block;
  @include media-breakpoint-up(lg) {
    margin: 0 spacer("3x") 0 0;
    display: inline-block;
  }
}

.content-block {
  margin-bottom: spacer("8x");
  .figure {
    margin-bottom: spacer("6x");
  }
}