{
  "presets": [
    ["es2015", { "loose": true, "modules": false }],
    ["env", {"modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-spread",
      // Allow class constants
    ["transform-class-properties", { "spec": true }]
    //    ["transform-es2015-spread", {"loose": true}]
  ]
}