{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="container">
  {% regroup object_list by graduation_year as alumni_list %}
  {% for alumni_by_year in alumni_list %}
    <h3>{{ alumni_by_year.grouper }}</h3>
    {% for alumni in alumni_by_year.list %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row">
    {% endif %}
      <div class="col-xs-6 user-tile">
        {% thumbnail alumni.photo "100x100" crop="center" as im %}
          <img class="col-xs-3"
               src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <div class="col-xs-9">
          <h4>{{ alumni.first_name }} {{ alumni.last_name }}</h4>
          <div class="ubertext">{{ alumni.get_short_note|safe }}</div>
        </div>
      </div>
    {% if not forloop.counter0|divisibleby:2 %}
    </div>
    {% endif %}
    {% endfor %}
  {% empty %}
    {% trans "No alumni yet" %}
  {% endfor %}
</div>
{% endblock content %}
