{% load staticfiles %}
{% load current from navigation %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Computer Science Center
      {% endblock title %}
    </title>
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- TODO: fix variables in bootstrap -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true,
          processClass: "ubertext"
        }
      });
    </script>
    <script type="text/javascript"
            src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="{% static "css/highlight-styles/solarized_light.css" %}">
    <script type="text/javascript" src="{% static "js/highlight.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/marked.js" %}"></script>
    <script type="text/javascript" src="{% static "js/holder.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="tex2jax_ignore">

    <div class="header lvl1">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <div class="logo-cell">
              <a href="{% url 'index' %}">
                <div class="logo-container">
                  <img src="{% static "img/csclogo2.png" %}">
                </div>
              </a>
            </div>
            <ul>
              <a href="{% url 'syllabus' %}">
                <li class="{% current 'about' %}">
                  {% trans "About CSC" %} <i class="fa fa-caret-down"></i>
                </li>
              </a>
              <a href="{% url 'news_list' %}">
                <li class="{% current 'news_list' %}">
                  {% trans "News" %}
                </li>
              </a>
              {% if user.is_authenticated %}
                {% if user.is_student %}
                  <li>
                    {% trans "Learning" %} <i class="fa fa-caret-down"></i>
                  </li>
                {% endif %}
                {% if user.is_teacher %}
                  <a href="{% url 'courses_teacher' %}">
                    <li class="{% current 'teaching' %} for-teachers">
                      {% trans "Teaching" %} <i class="fa fa-caret-down"></i>
                    </li>
                  </a>
                {% endif %}
                {% if user.is_staff %}
                  <li>
                    {% trans "Marks sheet" %} <i class="fa fa-caret-down"></i>
                  </li>
                {% endif %}
              {% else %}
                  <a href="{% url 'enrollment' %}">
                    <li class="{% current 'enrollment' %}">{% trans "Enrollment" %}</li>
                  </a>
              {% endif %}
              <a href="{% url 'contacts' %}">
                <li class="{% current 'contacts' %}">{% trans "Contacts" %}</li>
              </a>
            </ul>
          </div>
          <div class="col-xs-3 login">
            {% if user.is_authenticated %}
            <i class="fa fa-user"></i>&nbsp;{{ user.username }}&nbsp;<span class="logout-url">(<a href="{% url 'logout' %}">{% trans "logout" %}</a>)</span>
            {% else %}
            <a href="{% url 'login' %}">
              {% trans "Login" %}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="header-lvl2-container">
      <div class="header lvl2 {% current 'about' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="logo-cell"></div>
              <ul>
                <a href="{% url 'syllabus' %}">
                  <li class="{% current 'syllabus' %}">
                    {% trans "Syllabus" %}
                  </li>
                </a>
                <a href="{% url 'orgs' %}" style="display: block;">
                  <li class="{% current 'orgs' %}">
                    {% trans "Organizers and staff" %}
                  </li>
                </a>
                <a href="{% url 'profs' %}">
                  <li class="{% current 'profs' %}">
                    {% trans "Professors" %}
                  </li>
                </a>
                <a href="{% url 'alumni' %}">
                  <li class="{% current 'alumni' %}">
                    {% trans "Alumni" %}
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header lvl2 for-teachers {% current 'teaching' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="logo-cell"></div>
              <ul>
                <li>Задания <span class="badge">3</span></li>
                <a href="{% url 'courses_teacher' %}">
                  <li class="{% current 'courses_teacher' %}">
                    Курсы <span class="badge">2 </span>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          hello world
        </div>
      </div>
    </div>
    {% endblock content %}

    <div class="container footer">
      <div class="row">
        <div class="col-xs-8">{% trans "Computer Science Center Все права защищены, 2011–14 гг."%}</div>
        <div class="col-xs-3 social">
<a href="http://vkontakte.ru/compscicenter" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
        <a href="https://www.facebook.com/CSCenter" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="http://twitter.com/#Compscicenter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="http://cscenter.livejournal.com/" target="_blank"><i class="fa fa-pencil fa-2x"></i></a>
        <a href="http://compscicenter.ru/rss" target="_blank"><i class="fa fa-rss-square fa-2x"></i></a>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
