{% load i18n %}
{% load staticfiles %}

{% load current from navigation %}

{% load sitemetrics %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=960">

    <title>{% block title %}Computer Science Center{% endblock title %}</title>
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- TODO: fix variables in bootstrap -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "img/fav.png" %}" rel="icon">
    <link href="{% static "css/highlight-styles/solarized_light.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- support for HTML5 forms for older browsers and Firefox -->
    <script src="{% static "js/modernizr.custom.js" %}"></script>
    <script src="{% static "js/js-webshim/minified/polyfiller.js" %}"></script>

    <script>
      webshims.polyfill("forms forms-ext");
    </script>
  </head>
  <body class="tex2jax_ignore">
    <div class="header lvl1">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <div class="logo-cell">
              <a href="{% url 'index' %}">
                <div class="logo-container">
                  <img src="{% static "img/transparent_logo.png" %}">
                </div>
              </a>
            </div>
            <ul>
              <a href="{% url 'syllabus' %}">
                <li class="{% current 'about' %}">
                  {% trans "About CSC" %} <i class="fa fa-caret-down"></i>
                </li>
              </a>
              <a href="{% url 'course_video_list' %}">
                <li class="{% current 'course_video_list' %}">
                  {% trans "Videos" %}
                </li>
              </a>
              <a href="{% url 'online' %}">
                <li class="{% current 'online' %}">
                  {% trans "Online" %}
                </li>
              </a>
              {% if user.is_authenticated %}
                {% if user.is_student %}
                  <a href="{% url LEARNING_BASE %}">
                    <li class="{% current 'learning' %} for-students">
                      {% trans "Learning" %} <i class="fa fa-caret-down"></i>
                    </li>
                  </a>
                {% endif %}
                {% if user.is_teacher %}
                  <a href="{% url TEACHING_BASE %}">
                    <li class="{% current 'teaching' %} for-teachers">
                      {% trans "Teaching" %} <i class="fa fa-caret-down"></i>
                    </li>
                  </a>
                {% endif %}
                {% if user.is_staff %}
                  <a href="{% url 'markssheet_staff' %}">
                    <li class="{% current 'staff' %} for-staff">
                      {% trans "Marks sheets" %}
                    </li>
                  </a>
                {% endif %}
              {% else %}
                  <a href="{% url 'enrollment' %}">
                    <li class="{% current 'enrollment' %}">{% trans "CSC|Enrollment" %}</li>
                  </a>
              {% endif %}
              {% if not user.is_authenticated %}
              <a href="{% url 'contacts' %}">
                <li class="{% current 'contacts' %}">{% trans "Contacts" %}</li>
              </a>
              {% endif %}
              {% if user.is_staff %}
              <a href="{% url 'admin:index' %}" target="_blank">
                <li>{% trans "Admin page" %}</li>
              </a>
              {% endif %}
            </ul>
          </div>
          <div class="col-xs-3 login">
            {% if user.is_authenticated %}
            <i class="fa fa-user" data-user-id="{{ user.pk }}"></i>&nbsp;<a href="{{ user.get_absolute_url }}">{{ user.username }}</a>&nbsp;<span class="logout-url">(<a href="{% url 'logout' %}">{% trans "logout" %}</a>)</span>
            {% else %}
            <a href="{% url 'login' %}">
              {% trans "Login" %}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="header-lvl2-container">
      <div class="header lvl2 {% current 'about' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="logo-cell"></div>
              <ul>
                <a href="{% url 'syllabus' %}">
                  <li class="{% current 'syllabus' %}">
                    {% trans "Syllabus" %}
                  </li>
                </a>
                <a href="{% url 'course_list' %}">
                  <li class="{% current 'course_list' %}">
                    {% trans "Courses" %}
                  </li>
                </a>
                <a href="{% url 'orgs' %}" style="display: block;">
                  <li class="{% current 'orgs' %}">
                    {% trans "Organizers" %}
                  </li>
                </a>
                <a href="{% url 'teachers' %}">
                  <li class="{% current 'teachers' %}">
                    {% trans "Professors" %}
                  </li>
                </a>
                <a href="{% url 'alumni' %}">
                  <li class="{% current 'alumni' %}">
                    {% trans "Alumni" %}
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header lvl2 for-students {% current 'learning' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="logo-cell"></div>
              <ul>
                <a href="{% url 'assignment_list_student' %}">
                  <li class="{% current 'assignment_list_student' %}">
                    {% trans "Assignments" %}
                    {% if request.unread_notifications_cache.assignments_student %}
                    <span class="badge">
                      {{ request.unread_notifications_cache.assignments_student|length }}
                    </span>
                    {% endif %}
                  </li>
                </a>
                <a href="{% url 'timetable_student' %}">
                  <li class="{% current 'timetable_student' %}">
                    {% trans "My timetable" %}
                  </li>
                </a>
                <a href="{% url 'calendar_full_student' %}">
                  <li class="{% current 'calendar_full_student' %}">
                    {% trans "Calendar" %}
                  </li>
                </a>
                <a href="{% url 'course_list_student' %}">
                  <li class="{% current 'course_list_student' %}">
                    {% trans "My courses" %}
                    {% if request.unread_notifications_cache.courseoffering_news %}
                    <span class="badge">
                      {{ request.unread_notifications_cache.courseoffering_news|length }}
                    </span>
                    {% endif %}
                  </li>
                </a>
              <a href="{% url 'library_book_list' %}">
                  <li class="{% current 'library_book_list' %}">
                    {% trans "library"|capfirst %}
                  </li>
                </a>
               <a href="{% url 'useful_stuff' %}">
                  <li class="{% current 'useful_stuff' %}">
                    {% trans "Useful stuff" %}
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header lvl2 for-teachers {% current 'teaching' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="logo-cell"></div>
              <ul>
                <a href="{% url 'assignment_list_teacher' %}">
                  <li class="{% current 'assignment_list_teacher' %}">
                    {% trans "Assignments" %}
                    {% if request.unread_notifications_cache.assignments_teacher %}
                    <span class="badge">
                      {{ request.unread_notifications_cache.assignments_teacher|length }}
                    </span>
                    {% endif %}
                  </li>
                </a>
                <a href="{% url 'timetable_teacher' %}">
                  <li class="{% current 'timetable_teacher' %}">
                    {% trans "Timetable" %}
                  </li>
                </a>
                <a href="{% url 'calendar_full_teacher' %}">
                  <li class="{% current 'calendar_full_teacher' %}">
                    {% trans "Calendar" %}
                  </li>
                </a>
                <a href="{% url 'course_list_teacher' %}">
                  <li class="{% current 'course_list_teacher' %}">
                    {% trans "My courses" %}
                    {% if request.unread_notifications_cache.courseoffering_news %}
                    <span class="badge">
                      {{ request.unread_notifications_cache.courseoffering_news|length }}
                    </span>
                    {% endif %}
                  </li>
                </a>
                <a href="{% url 'markssheet_teacher_dispatch' %}">
                  <li class="{% current 'markssheet_teacher_dispatch' %}">
                    {% trans "Marks sheet" %}
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header lvl2 for-staff {% current 'staff' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="logo-cell"></div>
              <ul>
                <a href="{% url 'markssheet_staff' %}">
                  <li class="{% current 'markssheet_staff' %}">
                    {% trans "MarksSheet|Main" %}
                  </li>
                </a>
                <a href="{% url 'course_markssheet_staff_dispatch' %}">
                  <li class="{% current 'course_markssheet_staff_dispatch' %}">
                    {% trans "Course marks sheets" %}
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>

    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          hello world
        </div>
      </div>
    </div>
    {% endblock content %}

    <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">{% trans "Computer Science Center Все права защищены, 2011–14 гг."%}</div>
        <div class="col-xs-2 social">
          <a class="col-xs-4" href="http://vkontakte.ru/compscicenter" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
          <a class="col-xs-4" href="https://www.facebook.com/CSCenter" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
          <a class="col-xs-4" href="http://twitter.com/#Compscicenter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
      </div>
    </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
    <script type="text/javascript" src="{% static "js/raven_conf.js" %}"></script>
    <script type="text/javascript" src="//yastatic.net/underscore/1.6.0/underscore-min.js"></script>
    {% include "mathjax.html" %}
    <script type="text/javascript" src="{% static "js/highlight.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/holder.js" %}"></script>
    <script type="text/javascript" src="{% static "js/readmore.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/md5.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/EpicEditor-v0.2.2/js/epiceditor.min.js" %}"></script>
    <!-- custom marked build clashes with the one in EpicEditor, therefore this
         include should be *after* EpicEditor-->
    <script type="text/javascript" src="{% static "js/marked.js" %}"></script>

    <script src="{% static "js/bootstrap.min.js" %}"></script>

    {% sitemetrics by yandex for "25844420" %}
  </body>
</html>
