{% load staticfiles %}
{% load current from navigation %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Computer Science Center
      {% endblock title %}
    </title>
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- TODO: fix variables in bootstrap -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="header lvl1
                {% if user.is_authenticated %}
                  {% if user.is_student %} for-students {% endif %}
                  {% if user.is_teacher %} for-teachers {% endif %}                                {% if user.is_staff %} for-staff {% endif %}
                {% else %}
                for-guests
                {% endif %}
                ">
      <div class="container">
        <div class="row">
          <div class="col-xs-1 logo-cell">
            <a href="{% url 'index' %}">
              <div class="logo-container">
                <img src="{% static "img/csclogo.png" %}">
              </div>
            </a>
          </div>
          <div class="col-xs-8">
            <ul>
              <a href="{% url 'syllabus' %}">
                <li class="{% current 'about' %}">
                  О центре <i class="fa fa-caret-down"></i>
                </li>
              </a>
              <a href="{% url 'news_list' %}">
                <li class="{% current 'news_list' %}">
                  События
                </li>
              </a>
              {% if user.is_authenticated %}
                {% if user.is_student %}
                  <li>
                    Обучение <i class="fa fa-caret-down"></i>
                  </li>
                {% endif %}
                {% if user.is_teacher %}
                  <li>
                    Преподавание <i class="fa fa-caret-down"></i>
                  </li>
                {% endif %}
                {% if user.is_staff %}
                  <li>
                    Ведомость <i class="fa fa-caret-down"></i>
                  </li>
                {% endif %}
              {% else %}
                <li>Поступление</li>
              {% endif %}
              <a href="{% url 'contacts' %}">
                <li class="{% current 'contacts' %}">Контакты</li>
              </a>
            </ul>
          </div>
          <div class="col-xs-3 login">
            {% if user.is_authenticated %}
              <i class="fa fa-user"></i>&nbsp;{{ user }}
            {% else %}
              {% trans "Login" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="header-lvl2-container">
      <div class="header lvl2 {% current 'about' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
              <ul>
                <a href="{% url 'syllabus' %}">
                  <li class="{% current 'syllabus' %}">
                    Программа
                  </li>
                </a>
                <a href="{% url 'orgs' %}" style="display: block;">
                  <li class="{% current 'orgs' %}">
                    Руководители и организаторы
                  </li>
                </a>
                <a href="{% url 'profs' %}">
                  <li class="{% current 'profs' %}">
                    Преподаватели
                  </li>
                </a>
                <a href="{% url 'alumni' %}">
                  <li class="{% current 'alumni' %}">
                    Выпускники
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header lvl2 for-teachers">
        <div class="container">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
              <ul>
                <li>Задания <span class="badge">3</span>
                <li class="selected">Расписание <span class="badge">2</span>
                <li>Курсы <span class="badge">2</span>
                <li>Ведомость
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          hello world
        </div>
      </div>
    </div>
    {% endblock content %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
