{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="container index-image-container"
           style="background-image:url('{% static "img/front_picture.jpg" %}')">
        <div class="row index-callout-buttons-row">
          <div class="col-xs-12 callout-buttons">
            <a href="{% url 'syllabus' %}"
               role="button" class="btn btn-lg btn-primary">
              {% trans "Learn more" %}
            </a>
            <a href="{% url 'enrollment' %}"
               role="button" class="btn btn-lg btn-primary">
              {% trans "How to enroll" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <h1 class="bigger-margin">{% trans "CS Center News" %}</h1>

      {% if news_objects %}
      <ul class="index-news">
        {% for news in news_objects %}
        <li>
          <span class="date">{{ news.created|date }}</span>
          <h3><a href="{% url 'news_detail' slug=news.slug %}">{{ news.title }}</a></h3>
          <div class="ubertext">
            {{ news.text.excerpt|safe }} {% if news.text.has_more %}<a href="{% url 'news_detail' slug=news.slug %}">{% trans "More…" %}</a>
          {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
      <a href="{% url 'news_list' %}"><h4 class="bigger-margin">{% trans "All news" %}</h4></a>

      {% else %}
      <p>{% trans "No news yet" %}</p>
      {% endif %}

    </div>
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <h1 class="bigger-margin">{% trans "Supported by" %}</h1>
      <ul class="supported-by">
        <li>
          <a href="http://shad.yandex.ru/" target="_blank">
            <img src="{% static "img/sda.png" %}"
                 alt="{% trans "Yandex School of Data Analysis" %}">
          </a>
        </li>
        <li>
          <a href="http://jetbrains.ru/students" target="_blank">
            <img src="{% static "img/jetbrains.png" %}"
                 alt="{% trans "JetBrains" %}">
          </a>
        </li>
        <li>
          <a href="http://compsciclub.ru/" target="_blank">
            <img src="{% static "img/csclub.png" %}"
                 alt={% trans "Computer Science Club" %}>
          </a>
        </li>
        <li>
          <a href="http://239.ru/" target="_blank">
            <img src="{% static "img/239.png" %}"
                 alt="{% trans "FML #239" %}">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
