{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load markdown from core_tags %}

{% block hightlight_styles %}
<link href="{% static "css/vendor/highlight-styles/github.css" %}" rel="stylesheet">
{% endblock hightlight_styles %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block content %}
    <div class="container" id="comment-the-right-way-page">
        <div class="row">
            <div class="col-xs-9">
                <ol class="breadcrumb gray">
                    <li class="">Памятка по форматированию текста</li>
                </ol>
                <p>Для оформления текста на сайте повсеместно используется Markdown, а также Latex для формул.<br>
                Ниже небольшой пример, демонстрирующий их возможности.</p>
<div class="nav-tabs-horizontal nav-tabs-inverse">
    <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a data-toggle="tab" href="#code-1" aria-controls="applicant" role="tab" aria-expanded="true">Что пишем</a>
        </li>
        <li role="presentation" class="">
            <a data-toggle="tab" href="#result-1" aria-controls="result-1" role="tab" aria-expanded="false">Что получаем</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="code-1" role="tabpanel">
            <div class="ubertext">
            <pre><code class="language-markdown hljs"># Шпаргалка по Markdown

В поле ввода поддерживается формат Markdown и $\LaTeX$.

**жирный шрифт**

*курсив*

`моноширинный шрифт`


Для разбиения на параграфы используется пустая строка:

Параграф 1.
Продолжение первого параграфа.

Параграф 2.

Поддерживаются списки

  * Один.
  * Два.
    Продолжение пункта два.
  * Три.

Обратите внимание на пустую строку до и после списка.

Можно использовать заголовки разных уровней:

## Второй уровень

### Третий уровень


Для вставки кода можно использовать конструкцию следующего вида:

```
# Useful comment
foo = 42
for i in range(foo):
    print("I <3 Computer Science")
```

Обратите внимание на пустую строку до символов обратного апострофа.

То же самое, но с использованием 4 пробелов:

    # Useful comment
    foo = 42
    for i in range(foo):
        print("I <3 Computer Science")


Формулы окружаются долларами $F_n$.
Чтобы формула была на отдельной строке, её следует окружить двумя парами
долларов: $$F_n = F_{n-1} + F_{n-2}$$

# Шпаргалка по $\LaTeX$

Индексы: $x_i, x^j, x_i^j, x_{i+1}$.

Некоторые функции и символы: $\pi, e, \sin{x}, \log(\mathbf{V} + \mathbf{E})$.

Дроби: $\frac{1}{2}, \binom{6}{4}$.

Суммы: $\sum_{i=0}^n i^2$.

Произведение $f$, $o$ и $o$: $foo$.

Переменная `foo`: $\mathtt{foo}$.</code></pre></div>
        </div>
        <div class="tab-pane" id="result-1" role="tabpanel">
<div class="ubertext">
{% markdown 3600 "markdown_how_to_v1" %}
# Шпаргалка по Markdown

В поле ввода поддерживается формат Markdown и $\LaTeX$.

**жирный шрифт**

*курсив*

`моноширинный шрифт`


Для разбиения на параграфы используется пустая строка:

Параграф 1.
Продолжение первого параграфа.

Параграф 2.

Поддерживаются списки

  * Один.
  * Два.
    Продолжение пункта два.
  * Три.

Обратите внимание на пустую строку до и после списка.

Можно использовать заголовки разных уровней:

## Второй уровень

### Третий уровень


Для вставки кода можно использовать конструкцию следующего вида:

```
# Useful comment
foo = 42
for i in range(foo):
    print("I <3 Computer Science")
```

Обратите внимание на пустую строку до символов обратного апострофа.

То же самое, но с использованием 4 пробелов:

    # Useful comment
    foo = 42
    for i in range(foo):
        print("I <3 Computer Science")


Формулы окружаются долларами $F_n$.
Чтобы формула была на отдельной строке, её следует окружить двумя парами
долларов: $$F_n = F_{n-1} + F_{n-2}$$

# Шпаргалка по $\LaTeX$

Индексы: $x_i, x^j, x_i^j, x_{i+1}$.

Некоторые функции и символы: $\pi, e, \sin{x}, \log(\mathbf{V} + \mathbf{E})$.

Дроби: $\frac{1}{2}, \binom{6}{4}$.

Суммы: $\sum_{i=0}^n i^2$.

Произведение $f$, $o$ и $o$: $foo$.

Переменная `foo`: $\mathtt{foo}$.
{% endmarkdown %}
</div>


        </div>
    </div>
</div>
            </div>
        </div>
    </div>
{% endblock content %}
