{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-container">
        <div class="columns">
          {% for user in object_list %}
          <div class="user-tile">
            {% thumbnail user.photo "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <div class="user-info">
              <h4><a href="{% url 'teacher_detail' user.pk %}">{{ user.get_full_name }}</a></h4>
              <div class="ubertext">{{ user.get_short_note|safe }}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% empty %}
          {% trans "No professors yet" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
