{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="ubertext">
        {{ object.text|safe }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Все курсы, читаемые в CS центре:</h3>
      <ul id="course-list" class="list-inline">
        {% for course in courses %}
        <li><a href="{{ course.get_absolute_url}}">{{ course.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
