{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="container">
  {% for user in object_list %}
  {% if forloop.counter0|divisibleby:2 %}
  <div class="row">
  {% endif %}
    <div class="col-xs-6 user-tile">
      <div class="col-xs-3">
      {% thumbnail user.photo "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
      </div>
      <div class="col-xs-9">
        <h4><a href="{% url 'teacher_detail' user.pk %}">{{ user.get_full_name }}</a></h4>
        <div class="ubertext">{{ user.get_short_note|safe }}</div>
      </div>
    </div>
  {% if not forloop.counter0|divisibleby:2 or forloop.last %}
  </div>
  {% endif %}
  {% empty %}
    {% trans "No professors yet" %}
  {% endfor %}
</div>
{% endblock content %}
