{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{{ user_object.get_full_name }}</h2>
      <div class="btn-toolbar">
        {% if is_editing_allowed %}
        <a href="{% url 'user_update' user_object.pk %}" class="btn btn-primary" role="button">{% trans "Edit" %}</a>
        {% endif %}
        {% if user_object.pk == user.pk %}
        <a href="{% url 'password_change' %}" class="btn btn-primary" role="button">{% trans "Change password" %}</a>
        {% endif %}
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      {% if user_object.note %}
      <div class="ubertext">{{ user_object.note }}</div>
      {% endif %}
      <ul class="">
        {% if user_object.is_student %}
        <li>
          {% trans "student" %},
          {% trans "enrolled in" %} {{ user_object.enrollment_year }}{% if user_object.enrollment_set.all %}, {% trans "courseoffering|took" %}:
          <ul>
            {% for enrollment in user_object.enrollment_set.all %}
            <li>
              <a href="{% url 'course_offering_detail' enrollment.course_offering.course.slug enrollment.course_offering.semester.slug %}">
                {{ enrollment.course_offering }}
              </a>
              {% if is_extended_profile_available %}
              ({{ enrollment.grade_display|lower }})
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% if student_projects %}
        {% trans "Student projects"|lower %}:
          <ul>
            {% for project in student_projects %}
            <li>
              {{ project.semesters_list|join:", " }}:
              «{{ project.name }}»{% if project.presentation %} (<a href="{{ project.presentation.url }}">{% trans "Presentation"|lower %}</a>){% endif %},
              {% trans "StudentProject|Supervisor"|lower %} — {{ project.supervisor }}
              {% if project.description %}
              <div class="ubertext">
                {{ project.description }}
              </div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
        </li>
        {% endif %}
        {% if user_object.is_graduate %}
        <li>
          {% blocktrans with year=user_object.graduation_year %}graduated in {{ year }}{% endblocktrans %}
        </li>
        {% endif %}
        {% if user_object.is_teacher %}
        <li>{% trans "teacher" %}{% if user_object.teaching_set.all %}:{% endif %}
          <ul class="">
            {% for courseoffering in user_object.teaching_set.all %}
            <li>
              <a href="{% url 'course_offering_detail' courseoffering.course.slug courseoffering.semester.slug %}">
                {{ courseoffering }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
      {% if user_object.csc_review %}
      <h4>{% blocktrans with name=user_object.first_name %}{{name}} about CSC{% endblocktrans %}:</h4>
      <div class="ubertext">
        {{ user_object.csc_review }}
      </div>
      {% endif %}
      {% if user_object.pk == user.pk %}
      <div>{% trans ".iCal classes calendar" %}:
        <input type="text" value="http://{{ request.get_host }}{% url 'user_ical_classes' user.pk %}"
               disabled="disabled" size="50">
      </div>
      {% endif %}
    </div>
    <div class="col-xs-3">
      {% thumbnail user_object.photo "200x200" crop="center" as im %}
      <img class="pull-right" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
    </div>
  </div>
</div>
{% endblock content %}
