{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>{% trans "User search" %}</h2>
      <div class="btn-toolbar">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <form class="user-search">
        <div class="form-group">
          <input type="hidden" id="ajax-uri" value="{{ json_api_uri }}">
          <input type="text" class="form-control" id="name" placeholder="{% trans "Name, full or partial" %}"
                 autofocus>
        </div>
      </form>
    </div>
    <div class="col-xs-8">
      <p id="user-num-container" style="display: none; font-weight: bold;">
        {% trans "Found" %}:
        <span id="user-num"></span>
      </p>
      <div id="user-table-container">
      </div>
    </div>
  </div>
</div>
{% endblock content %}
