{% extends "base.html" %}
{% load i18n %}
{% load markdown from core_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 h2-and-buttons">
      <h2>
        {{ event.name }}
      </h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <tr>
          <td>{% trans "When" %}:</td>
          <td>{{ event.date|date:"l, d E Y" }}, {{ event.starts_at|time:"H:i" }}–{{ event.ends_at|time:"H:i" }}</td>
        </tr>
        <tr>
          <td>{% trans "Where" %}:</td>
          <td><a href="{{ event.venue.get_absolute_url }}">{{ event.venue.name }}</a></td>
        </tr>
      </table>

      {% if event.description %}
      <h4 class="bigger-margin">{% trans "Description" %}</h4>
      <div class="ubertext">
        {% markdown 3600 "event_description" event.pk event.modified %}
          {{ event.description }}
        {% endmarkdown %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
