{% extends "base.html" %}
{% load i18n %}
{% load markdown from core_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{% trans "CSCenter learning venues" %}</h2>
      {% for place in object_list %}
      <hr>
      <h4>{{ place.name }}</h4>
      <div class="ubertext">
        {% markdown 3600 "place_descr" place.pk place.description %}
          {{ place.description }}
        {% endmarkdown %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
