<div class="page-dimmer show _center">
    <div class="modal" id="exampleModalBasic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal__content _modal-dialog-sm" role="document">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">{{ macros.svg_icon('cross') }}</span>
            </button>
            <div class="modal__title">Модальное окно</div>
            <p>Мы вас оповещаем, что что-то произошло. Извините, но никаких вариантов, кроме как закрыть это
                окно у вас нет :(</p>
        </div>
    </div>
</div>