<div class="page-dimmer visible">
    <div class="modal _fullscreen" id="exampleModalCover" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-menu navbar navbar-main">
            <div class="container">
                <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                    {{ macros.svg_icon('cross') }}
                </button>
                <span>Фильтры</span>
                <button class="btn _white _outline _rounded _extra-small ml-auto">Сбросить</button>
            </div>
        </div>
        <div class="modal__content">
            <div class="container">
                <form class="ui form __no-border" action="">
                    <div class="field mb-6">
                        <div class="ui input">
                            <label for="">Год</label>
                            <input placeholder="2019">
                        </div>
                    </div>
                    <div class="grouped mb-6">
                        <h4>Семестр</h4>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Осенний</span>
                        </label>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Весенний</span>
                        </label>
                    </div>
                    <div class="grouped mb-6">
                        <h4>Базовые курсы программ</h4>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Software Engineering</span>
                        </label>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Data Science</span>
                        </label>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Computer Science</span>
                        </label>
                    </div>
                    <button type="button" class="btn _primary _m-wide">Показать результаты</button>
                </form>
            </div>
            <div class="container">
                <form class="ui form __no-border" action="">
                    <div class="field mb-6">
                        <div class="ui input">
                            <label for="">Год</label>
                            <input placeholder="2019">
                        </div>
                    </div>
                    <div class="grouped mb-6">
                        <h4>Семестр</h4>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Осенний</span>
                        </label>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Весенний</span>
                        </label>
                    </div>
                    <div class="grouped mb-6">
                        <h4>Базовые курсы программ</h4>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Software Engineering</span>
                        </label>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Data Science</span>
                        </label>
                        <label class="ui option checkbox">
                            <input type="checkbox" class="control__input">
                            <span class="control__indicator"></span>
                            <span class="control__description">Computer Science</span>
                        </label>
                    </div>
                    <button type="button" class="btn _primary _m-wide">Показать результаты</button>
                </form>
            </div>
        </div>
    </div>
</div>