{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Программа подготовки в {{ super() }}{% endblock title %}

{% block body_attrs %}class="_dark"{% endblock body_attrs %}

{% block content %}
    <div class="cover _program">
        <div class="container text-center">
            <div class="cover__content">
            {% with academic_discipline = study_program.academic_discipline %}
                {% if academic_discipline.icon %}<img src="{{ academic_discipline.icon.url }}" alt="">{% endif %}
                <h1 class="cover__title">{{ academic_discipline.name_en }}</h1>
                <p class="translate">/ {{ academic_discipline.name_ru }}</p>
                <div class="row content-center mt-10">
                    <div class="col-lg-10">
                        {{ academic_discipline.description }}
                    </div>
                </div>
            {% endwith %}
            </div>
        </div>
    </div>

    <div class="container mt-10">
        <div class="row content-center">
            <div class="col-lg-8 text-center">
                <h2>Базовые курсы программы</h2>
                <p class="text-center">
                    Базовые курсы разбиты на&nbsp;группы.
                    Вам не&nbsp;обязательно сдавать все, но&nbsp;из&nbsp;каждой группы нужно закончить хотя&nbsp;бы один.
                    Для наглядности мы&nbsp;пронумеровали группы и&nbsp;отметили курсы.
                </p>
            </div>
            <div class="col-lg-12 text-center">
                <ul class="ui nav nav-tabs content-center mt-4" role="tablist">
                    {% for branch in branches %}
                    <li class="nav-item">
                        {% if selected_branch == branch.code %}
                            <span class="nav-link active">{{ branch.name }}</span>
                        {% else %}
                            <a class="nav-link" href="{{ request.path }}?branch={{ branch.code }}">{{ branch.name }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-10">
                {{ study_program.description|safe }}
            </div>
        </div>
        <div class="card-deck _three mb-8">
            {% for course_group in study_program.course_groups.all() %}
                {% set group_index = loop.index %}
                {% for meta_course in course_group.courses.all() %}
                    <a href="{{ meta_course.get_absolute_url() }}" class="card _program _shadowed">
                        <div class="right-label">{{ group_index }}</div>
                        <div class="card__img">
                            <img src="{{ meta_course.get_cover_url() }}" alt="" />
                        </div>
                        <div class="card__content">
                            <div class="card__title">
                                {{ meta_course.name }}
                            </div>
                            {% if meta_course.short_description %}{{ meta_course.short_description }}{% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid _light">
        <div class="container pt-10 pb-10">
            <div class="row">
                <div class="col-lg-6 mb-10 mb-lg-0">
                    <img class="img-fluid" src="{{ static('v2/img/pages/syllabus/education_rules.jpg') }}" alt="">
                </div>
                <div class="col-lg-6 pl-0 pl-lg-4 mt-0 mt-xl-6">
                    <h2>Правила очного обучения</h2>
                    {{ study_program.branch.description }}
                    <a href="/application/" class="btn _primary">Поступить в CS центр</a>
                </div>
            </div>
        </div>
    </div>
    {% if testimonials %}
    <div class="csc-student-reviews">
        <div class="container">
            <h2 class="text-center">Отзывы студентов</h2>
            <div class="card-columns _testimonials">
                {% for student in testimonials %}
                    {{ macros.testimonial_card(student) }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}