{% extends "compscicenter_ru/layouts/base.html" %}

{% import "compscicenter_ru/macros/_ui.jinja2" as ui_macros %}

{% block title %}Программы подготовки в {{ super() }}{% endblock title %}

{% block body_attrs %}data-init-sections="tabs"{% endblock body_attrs %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1>Очное обучение в CS центре</h1>

                {{ ui_macros.tabs(tabs) }}

                <div class="tab-content">
                {% for branch, current_programs in programs.items() %}
                    {% with tab=tabs[branch.code] %}
                    <div class="tab-pane {% if tab.active %} show active{% endif %}"
                            id="{{ tab.target }}" role="tabpanel" aria-labelledby="tab__{{ tab.target }}">
                        <div class="mb-6">{{ branch.description }}</div>
                        <h2>Программы обучения</h2>
                        {% for program in current_programs -%}
                            {% with academic_discipline=program.academic_discipline %}
                            <a class="card _program-card" href="{{ url('on_campus_program_detail', discipline_code=academic_discipline.code) }}" >
                                <div class="card__img col-md-4">
                                    {% if academic_discipline.cover %}<img src="{{ academic_discipline.cover.url }}" alt="">{% endif %}
                                </div>
                                <div class="card__content col-md">
                                    <div class="card__title">{{ academic_discipline.name_en }}</div>
                                    <p class="card__subtitle">{{ academic_discipline.name_ru }}</p>
                                    <p class="card__text">
                                        {{ program.academic_discipline.description }}
                                    </p>
                                </div>
                            </a>
                            {%- endwith %}
                        {% endfor %}
                    </div>
                    {% endwith %}
                {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <a class="card mb-4" href="{{ url("distance_program") }}">
                    <div class="card__content text-small">
                        <div class="card__title">Заочное обучение</div>
                        Для жителей других городов <span class="text-nowrap">CS центр</span> предлагает платное заочное обучение. Набор по конкурсу раз в год.
                    </div>
                </a>
                <a class="card mb-4" href="{{ url("course_list") }}">
                    <div class="card__content text-small">
                        <div class="card__title">Все курсы</div>
                        Курсы подготовлены сотрудниками Яндекса, JetBrains и других <span class="text-nowrap">IT-компаний</span>, преподавателями ведущих вузов Петербурга и Новосибирска.
                    </div>
                </a>
                <a href="{{ url('public_projects') }}" class="card mb-4">
                    <div class="card__content text-small">
                        <div class="card__title">Практики и научно-исследовательская работа</div>
                        Во&nbsp;время обучения студенты работают над практическими или исследовательскими задачами
                        под руководством опытных программистов или учёных.
                    </div>
                </a>
            </div>
        </div>

    </div>
{% endblock content %}