{% extends "compscicenter_ru/layouts/base.html" %}

{% block title %}Программы подготовки в {{ super() }}{% endblock title %}

{% block content %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-8">
                <h1>Очное обучение в CS центре</h1>
                <ul class="ui nav-tabs">
                    {% for branch in programs %}
                    <li class="nav-item">
                        <a class="nav-link {% if selected_branch == branch.code %}active{% endif %}" href="#{{ branch.code }}" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{ branch.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                {% for branch, study_programs in programs.items() %}
                    <div class="tab-pane fade{% if selected_branch == branch.code %} show active{% endif %}" id="SKLDJFLSKDJF" role="tabpanel" aria-labelledby="SLKSJDFLKSJDF-tab">
                    <p>{{ branch.description }}</p>
                    {% for program in study_programs %}
                        <div class="card _program-card">
                            <div class="card__img {{ program.area.code }} col-md-4"></div>
                            <div class="card__content col-md">
                                <a href="#{{ program.area.code }}" class="card__title">{{ program.area.name_en }}</a>
                                <p class="card__subtitle">{{ program.area.name_ru }}</p>
                                <p class="card__text">
                                    {{ program.description }}
                                    {{ program.area.description }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <aside>
                    <div class="text-note">
                        <a href="#">Поступление</a>
                        <p class="_text">Обучение в центре бесплатное. Набор учащихся проходит по конкурсу один раз в
                            год.</p>
                    </div>

                    <div class="card mb-2">
                        <div class="card__content text-small">
                            Учиться в центре могут студенты вузов, аспиранты и молодые специалисты. Главное –
                            живой интерес к учебе, готовность развиваться в выбранном направлении и делать это по
                            будним вечерам и
                            выходным.
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </div>
{% endblock content %}