{% load i18n %}
<div id="import-marks-csv-stepic" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Import stepik statements" %}</h4>
            </div>
            <form action="{% url 'markssheet_teacher_csv_import_stepic' course_offering.pk %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                        <label for="csv-assignment-selected">1. {% trans "Select assignment" %}</label>
                        <select name="assignment" class="form-control" id="csv-assignment-selected">
                        {% for assignment in gradebook.assignments.values %}
                            {% if not assignment.is_online %}
                                <option value="{{ assignment.pk }}">{{ assignment.title}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <span class="help-block">{% trans "Score will be imported for selected assignment" %}</span>
                    </div>
                    <div class="form-group">
                        <label for="csv-choose-file">2. {% trans "Select csv file" %}</label>
                        <input id="input-id" name="csv_file" value="2" type="file">
                        <span class="help-block">{% trans "Should contains comma-separated values of user stepic id and assignment score. First row is header. Example:" %}</span>
                        <pre><code>user_id,total
1,7</code></pre>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="submit" class="btn btn-primary">{% trans "Import" %}</button>
            </div>
            </form>
        </div>
    </div>
</div>