{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h4>Все ведомости</h4>
        <table class="table table-bordered">
          <thead>
            <tr class="active">
              <th>Курс</th>
              <th>Семестр</th>
            </tr>
          </thead>
        {% if semester_list %}
            {% for semester in semester_list %}
                {% for co in semester.courseofferings %}
                  <tr>
                    <td><a href="{{ co.get_gradebook_url }}">{{ co.course.name }}</a></td>
                    <td>{{ co.semester }}</td>
                  </tr>
                {% endfor %}
            {% endfor %}
            {% else %}
            <tr><td colspan="2">{% trans "No courses yet" %}</td></tr>
            {% endif %}
          </tr>
        </table>
    </div>
  </div>
</div>
{% endblock content %}