{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  {% if semester_list %}
  <div class="row">
    <div class="col-xs-12">
    {% for autumn_spring in semester_list %}

      <table class="table table-stripped">
        <tr>
        {% for semester in autumn_spring %}
          <th width="50%">{% if semester %}{{ semester|title }}{% endif %}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for semester in autumn_spring %}
          <td class="semester-course-list">
            <ul>
            {% for co in semester.courseofferings %}
              <li>
                <a href="{% url 'staff:course_markssheet_staff' co.get_city co.meta_course.slug co.semester.year co.semester.type %}">{{ co.meta_course.name }}</a>
              </li>
            {% endfor %}
            </ul>
          </td>
        {% endfor %}
        </tr>
      </table>
    {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 center-aligned">
      <h4>{% trans "No courses yet" %}</h4>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}