<ul class="list-group">
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Глобальная задача на семестр</h4>
        <p class="list-group-item-text">
            Оценка: {{ review.get_score_global_issue_display|default:"-" }}<br>
            Комментарий: {{ review.score_global_issue_note|default:"-" }}
        </p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Кому и зачем это может быть полезно</h4>
        <p class="list-group-item-text">
            Оценка: {{ review.get_score_usefulness_display|default:"-" }}<br>
            Комментарий: {{ review.score_usefulness_note|default:"-" }}
        </p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Что было сделано с момента старта работы над проектом</h4>
        <p class="list-group-item-text">
            Оценка: {{ review.get_score_progress_display|default:"-" }}<br>
            Комментарий: {{ review.score_progress_note|default:"-" }}
        </p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Какие проблемы возникли при работе</h4>
        <p class="list-group-item-text">
            Оценка: {{ review.get_score_problems_display|default:"-" }}<br>
            Комментарий: {{ review.score_problems_note|default:"-" }}
        </p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Какие технологии используются</h4>
        <p class="list-group-item-text">
            Оценка: {{ review.get_score_technologies_display|default:"-" }}<br>
            Комментарий: {{ review.score_technologies_note|default:"-" }}
        </p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Планы до конца семестра</h4>
        <p class="list-group-item-text">
            Оценка: {{ review.get_score_plans_display|default:"-" }}<br>
            Комментарий: {{ review.score_plans_note|default:"-" }}
        </p>
    </li>
</ul>
