<div class="report">
    <a href="{{ ps.student.get_absolute_url }}" class="profile-link">{{ ps.student.get_full_name }}</a><br>
    {% if can_view_report %}
        {% if ps.report and ps.report.status == 'sent' %}
            {% if not request.user.is_curator %}<span class="text-muted">Проверка отчета куратором</span>
            {% else %}<a href="{% url "projects:project_report" project.pk ps.student.pk %}">Смотреть отчет</a>{% endif %}
        {% elif ps.report %}
            {% if request.user.is_curator %}<span class="text-muted">{{ ps.report.get_status_display }}</span><br>{% endif %}
            <a href="{% url "projects:project_report" project.pk ps.student.pk %}">Смотреть отчет</a>
        {% elif project.is_active %}<span class="text-muted">Начало отчетного периода<br> {{ project.semester.report_starts_at|default:"не установлено" }}</span>
        {% elif project.report_period_ended %}<span class="text-danger">Отчет не сдан</span>
        {% endif %}
    {% endif %}
</div>