<div class="report">
    {{ ps.student.last_name }} {{ ps.student.first_name }} {{ ps.student.patronymic }}<br>
    {% if can_view_report and you_enrolled %}
        {% if ps.report and ps.report.status == 'sent' %}
            <span class="text-muted">Отчет отправлен{% if not request.user.is_curator %}<br>Проверка куратором{% endif %}</span>
            {% if request.user.is_curator %}<br><a href="{% url "projects:project_report" project.pk ps.student.pk %}">Смотреть отчет</a>{% endif %}
        {% elif ps.report %}<a href="{% url "projects:project_report" project.pk ps.student.pk %}">Смотреть отчет</a>
        {% elif project.is_active and project.report_period_ended %}<span class="text-muted">Крайний срок отправки отчета<br> {{ project.semester.report_ends_at|default:"не установлен" }}</span>
        {% else %}<span class="text-danger">Отчет не сдан</span>
        {% endif %}
    {% endif %}
</div>