{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}

{% block body_class %} gray{% endblock body_class %}

{% block content %}
<div class="projects-list-page">
    <div class="panel">
        <div class="panel-body">
            {% if projects %}
            <h3>Отчеты</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="name">Название проекта</th>
                    <th>Участники</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>
                            <a href="{% url "projects:reviewer_project_detail" project.pk %}">{{ project.name }}</a>
                            {% if request.user.is_curator %}<br>{{ project.semester }}{% endif %}
                        </td>
                        <td>{{ project.students.all|join:"<br>" }}<br><a href="#">смотреть отчет</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if is_paginated %}
                {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" last_label="<i class='fa fa-angle-double-right'></i>" first_label="<i class='fa fa-angle-double-left'></i>" %}
            {% endif %}
            {% else %}
                <div class="projects-empty-list">В данный момент вы не подписаны ни на один проект.<br>
                <a href="{% url "projects:reviewer_projects" %}?show=available">Перейти к списку проектов текущего семестра</a>.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
