{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load markdown from core_tags %}

{% block body_class %} gray{% endblock body_class %}

{% block content %}
    <div id="project-detail-page">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="project-name">{{ project.name }}</h2>
                <div class="project-type">{% if project.is_external %}Внешний{% else %}Внутренний{% endif %} проект / {{ project.semester }}</div>
                {% if project.description %}
                    {% markdown 3600 "project_detail_description" project.pk project.modified %}
                        {{ project.description  }}
                    {% endmarkdown %}
                {% endif %}

                {% if request.user.is_curator %}
                    <h3>Оценки</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Участник</th>
                            <th>Отчет</th>
                            <th>Презентация</th>
                            {% if project.is_external %}<th>Руководитель</th>{% endif %}
                            <th>Итог</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ps in project.projectstudent_set.all %}
                            <tr>
                            <td>{{ ps.student }}</td>
                            <td>{{ ps.report.final_score }}</td>
                            <td>{{ ps.presentation_grade|default:"-" }}</td>
                            {% if ps.project.is_external %}<td>{{ ps.supervisor_grade|default:"-" }}</td>{% endif %}
                            <td>{{ ps.get_final_grade_display }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h3>Отзывы руководителя</h3>
                    {% for ps in project.projectstudent_set.all %}
                        <div class="card">
                            <div class="card-header ch-alt">{{ ps.student }}</div>
                            <div class="card-body card-padding">
                                {{ ps.supervisor_review|default:"Отзыв не предоставлен." }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="col-xs-4">
                <div class="links">
                    {% if project.is_active %}
                        <a class="btn btn-block btn-primary" href="{{ project.presentation.url }}">Следить за проектом</a>
                    {% endif %}
                    {% if project.presentation %}
                        <a class="btn btn-outline btn-block btn-primary" href="{{ project.presentation.url }}">Скачать презентацию</a>
                        <br>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="card-header ch-alt">Участники проекта</div>
                    <div class="card-body card-padding">
                        {% for ps in project.projectstudent_set.all %}
                            <div class="report">
                                {{ ps.student.last_name }} {{ ps.student.first_name }}<br>
                                <a href="#">Смотреть отчет</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
