{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load markdown from core_tags %}
{% load humanize %}
{% load core_tags %}

{% block content %}
    {% with student=report.project_student.student project=report.project_student.project %}

<div class="container" id="student-submission-comments">
  <div class="row">
    <div class="col-xs-12">
      <h3>
        <a href="{% url 'projects:reviewer_project_detail' project.pk %}"><span class="fa fa-angle-left"></span></a>
        {{ project.name }}<br>
        <small>{% if project.is_external %}Внешний{% else %}Внутренний{% endif %} проект / {{ project.semester }}</small>
      </h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <div class="csc-well">
        <div class="ubertext">
            <h3>Отчет  {% if request.user.is_curator %} <a href="{% url "admin:projects_report_change" report.pk %}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>{% endif %}</h3>
            {% markdown 3600 "report_detail" report.pk report.modified %}
                {{ report.description }}
            {% endmarkdown %}
        </div>
        {% with aas=a_s.assignment.assignmentattachment_set.all %}
          {% if aas %}
            <ul class="list-unstyled">
              {% for aa in aas %}
                <li>
                  <span class="assignment-attachment">
                    <i class="fa fa-file"></i>
                    <a href="{{ aa.file_url }}">
                      {{ aa.file_name }}
                    </a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

        <ul class="comment-list">
            {% for comment in comments %}
            <li class="{% if comment.author == student %}student{% else %}reviewer{% endif %}">
              <div class="csc-well assignment-comment">
                <h5 class="assignment">{{ comment.author }}</h5>
                <div class="ubertext">
                  {% markdown 3600 "assignment_comment" comment.pk comment.modified %}
                    {{ comment.text }}
                  {% endmarkdown %}
                </div>
                <div class="metainfo-holder">
                  {% if comment.attached_file %}
                      <span class="assignment-attachment">
                        <i class="fa fa-file"></i> <a href="{{ comment.attached_file_url }}">{{ comment.attached_file_name }}</a>
                      </span>
                  {% endif %}
                  <span class="metainfo pull-right">{{ comment.created|date:"d.m.Y H:i" }}</span>
                </div>
              </div>
            </li>
            {% endfor %}
        </ul>
        <div class="csc-well">
            {% crispy new_comment_form new_comment_form.helper %}
        </div>

        <a href="#review-form" data-toggle="collapse" aria-expanded="false" class="collapse-link">Оценить работу</a>
        <div class="panel-collapse">
            <div class="collapse csc-well" id="review-form">
                {% crispy review_form %}
            </div>
        </div>

    </div>
    <div class="col-xs-3">
        {% if request.user.is_curator %}
            {% crispy report_status_change %}
        {% endif %}
        <h5>{% if student.is_volunteer %}{% trans "Volunteer" %}{% else %}{% trans "Student" %}{% endif %}</h5>
        <a href="{{ student.get_absolute_url }}">{{ student.get_full_name }}</a>
        {% if one_reviewer %}<h5>Проверяющий</h5>{% else %}<h5>Проверяющие</h5>{% endif %}
        <ul class="list-unstyled">
        {% for reviewer in project.reviewers.all %}
        <li>
            <a href="{% url 'user_detail' reviewer.pk %}">{{ reviewer.get_full_name }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>
  </div>
</div>
    {% endwith %}

    <script type="text/javascript">
        window.CSCCommentPersistenceHashes = {{ clean_comments_json|safe }};
    </script>
{% endblock content %}
