{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock title %}

{% block body_attrs %} class="reset-password"{% endblock body_attrs %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-box panel panel-body panel-default">
                {% block container_content %}{% endblock container_content %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
