{% extends "registration/_password_reset_container.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Change password" %}{% endblock title %}

{% block container_content %}
    <h4>{% trans "Password change" %}</h4>
    {% if validlink %}
<form id="reset-password" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="submit" class="btn btn-primary" value="{% trans "Change password" %}" tabindex="6">
    {% endbuttons %}
</form>
    {% else %}
    {% trans "Sorry, the link is invalid" %}.
    {% endif %}
{% endblock container_content %}
