{% extends "registration/_password_reset_container.html" %}
{% load i18n %}

{% block container_content %}
<form id="reset-password" method="POST" action="{% url 'auth:password_reset' %}">
    <h4>{% trans "Password recovery" %}</h4>
    {% csrf_token %}
    <label for="{{ form.email.id_for_label }}">{% trans "Enter your email" %}
        <input class="form-control" type="text" name="{{ form.email.name }}" required=""
               class="form-control" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}
               id="{{ form.email.id_for_label }}" tabindex="2">
        <span class="error-message">
            {% for error in form.email.errors %}{{ error }}<br>{% endfor %}
            {% for error in form.non_field_errors %}{{ error }}<br>{% endfor %}
        </span>
    </label>
    <input type="submit" class="btn btn-primary" value="{% trans "Restore password" %}" tabindex="3">
</form>
{% endblock container_content %}
