<script type="text/template" id="plot-filter-gender-template">
    <label for="<%-id%>">Пол:</label>
    <select class="form-control selectpicker" id="<%-id%>" name="<%-id%>">
        <option value="">-----</option>
        <option value="M">Мужской</option>
        <option value="F">Женский</option>
    </select>
</script>

<script type="text/template" id="plot-filter-is-online-template">
    <label for="<%-id%>">Способ сдачи:</label>
    <select class="form-control selectpicker" id="<%-id%>" name="<%-id%>">
        <option value="">-----</option>
        <option value="true">Через сайт</option>
        <option value="false">Другой способ</option>
    </select>
</script>

<script type="text/template" id="plot-filter-curriculum_year-template">
    <label for="<%-id%>">Год обучения:</label>
    <select class="form-control selectpicker" id="<%-id%>" name="<%-id%>">
        <option value="">-----</option>
        <% items.forEach(function(item) { %>
        <option value="<%-item%>"><%-item%></option>
        <% }); %>
    </select>
</script>

<script type="text/template" id="plot-filter-select-template">
    <label for="<%-id%>"><%-filterName%>:</label>
    <select class="form-control selectpicker" id="<%-id%>" name="<%-id%>">
        <% if (selected === undefined) { %>
        <option value="">-----</option>
        <% } %>
        <% items.forEach(function(item) { %>
        <option value="<%-item.value%>"><%-item.name%></option>
        <% }); %>
    </select>
</script>

<script type="text/template" id="plot-filter-submit-button">
    <div class="controls">
        <button type="submit" name="update" value="Y" class="btn btn-primary btn-block">
            <% if ( typeof value === "undefined") { %>Фильтровать<% } else { %><%-value%><% } %>
        </button>
    </div>
</script>