{% extends "base.html" %}
{% load i18n %}
{% load core_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block body_attrs %} class="gray"{% endblock body_attrs %}

{% block stylesheets %}
     <link href="{% static "v1/css/vendor/c3.min.css" %}" rel="stylesheet">
     <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    <script charset="utf-8">
        var jsonData = jQuery.parseJSON('{{ json_data|escapejs }}');
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-ru_RU.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="{% static 'v1/js/vendor/reverse.js' %}"></script>
    {% render_bundle 'stats' 'js' %}

    {% include "stats/_filter_templates.html" %}
{% endblock javascripts %}

{% block content %}
<div class="container container-responsive" id="stats-page" data-entry="admission">
    <ol class="breadcrumb projects">
        <li class=""><a href="{% url "stats:index" %}">Статистика</a></li>
        <li class="active">Набор</li>
    </ol>

    <form action="" method="GET" id="campaigns-filter-form">
        <div class="row">
            <div class="col-xs-5 form-group">
                <select class="form-control selectpicker" id="branch-filter">
                    {% for branch in branches.values %}
                        <option value="{{ branch.id }}"
                                {% if data.selected.branch == branch %}selected="selected"{% endif %}
                                {% if campaigns|lookup:branch|length == 0 %}disabled{% endif %}>{{ branch.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-5 form-group">
                <select name="campaign" class="form-control selectpicker" id="campaign-filter">
                    {% for c in campaigns|lookup:data.selected.branch %}
                        <option {% if data.selected.campaign_id == c.pk %}selected="selected"{% endif %} value="{{ c.pk }}">{{ c.year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-2 form-group">
                <div class="controls">
                    <button disabled type="submit" class="btn btn-primary btn-block">Пересчитать</button>
                </div>
            </div>
        </div>
    </form>

    <h3>Город / {% for c in campaigns|lookup:data.selected.branch %}{% if c.pk == data.selected.campaign_id %}{{ c.branch.name }}{% endif %}{% endfor %}</h3>
    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Этапы</h5>
            <div class="row">
                <div class="col-xs-12">
                    <div id="plot-campaigns-stages-timeline"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Анкеты по дням</h5>
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                В статистику включены только анкеты, отправленные в официальный период проведения кампании.
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="plot-application-timeline"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Итоги набора</h5>
            <div class="row">
                <div class="col-xs-12">
                    <div id="plot-applicants-results-timeline"></div>
                </div>
            </div>
        </div>
    </div>

    <h3>Набор / {% for c in campaigns|lookup:data.selected.branch %}{% if c.pk == data.selected.campaign_id %}{{ c.branch.name }}, {{ c.year }}{% endif %}{% endfor %}</h3>
    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Этапы</h5>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-campaign-stages"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Итоги набора</h5>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-campaign-applicants-results"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Распределение баллов по тесту</h5>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-campaign-testing-scores"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Распределение баллов по экзамену</h5>
            <div class="row">
                <div class="col-xs-10">
                    <div id="plot-campaign-exam-scores"></div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>


    <div class="panel">
        <div class="panel-body">
            <h5 class="text-uppercase">Оценки собеседующих</h5>
            <form action="" method="GET" id="interviewers-filter-form">
                {% if request.GET.campaign %}
                    <input type="hidden" name="campaign" value="{{ request.GET.campaign }}">
                {% endif %}
                <div class="row">
                    <div class="col-xs-10 form-group">
                        <select name="interviewer" class="form-control selectpicker" id="interviewer-filter">
                            <option value="">--------</option>
                            {% for interviewer in interviewers %}
                                <option value="{{ interviewer.user_id }}"
                                        {% if data.selected.interviewer_id == interviewer.user_id %}selected="selected"{% endif %}
                                        >{{ interviewer.user.get_full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-2 form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary btn-block">Показать</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    {% if data.interviewer_stats %}
                        <table class="table table-condensed">
                            <tr class="bg-gray">
                                <th>ФИО</th>
                                <th>Набор</th>
                                <th>Балл за собеседование</th>
                                <th>Итог</th>
                            </tr>
                            {% for comment in data.interviewer_stats %}
                                <tr>
                                    <td>
                                        <a href="{{ comment.interview.applicant.get_absolute_url }}">{{ comment.interview.applicant.get_full_name }}</a>
                                    </td>
                                    <td>{{ comment.interview.applicant.campaign }}</td>
                                    <td>{{ comment.score }}</td>
                                    <td>
                                        {% if not comment.interview.applicant.user_id %}
                                            {{ comment.interview.applicant.get_status_display }}
                                        {% else %}
                                            {% with user=comment.interview.applicant.user %}
                                                {% if user.is_graduate %}
                                                    Выпускник
                                                {% elif user.is_center_student %}
                                                    Студент {% if user.status %}[{{ user.get_status_display }}]{% endif %}
                                                {% elif user.status %}
                                                    {{ user.get_status_display }}
                                                {% else %}
                                                    {{ comment.interview.applicant.get_status_display }}
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

