{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load static %}
{% load markdown from core_tags %}
{% load lookup from core_tags %}
{% load render_bundle from webpack_loader %}
{% load bootstrap_pagination %}

{% block title %}Статусы приглашений{% endblock title %}

{% block body_attrs %} class="gray" data-init-sections="status_interview_invitations"{% endblock body_attrs %}

{% block javascripts %}
    <script src="{% static 'v1/js/vendor/reverse.js' %}"></script>
    {% render_bundle 'admission' 'js' 'V1' %}
{% endblock javascripts %}

{% block content %}
<div class="interview-results-page">
    {% crispy filter.form %}

    <div class="nav-tabs-horizontal nav-tabs-inverse">
        <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
            <li class="active">
              <a data-toggle="tab" href="#status_invitation">Приглашения</a>
            </li>
            <li>
              <a data-toggle="tab" href="#flows_invitations">Потоки собеседований</a>
            </li>
        </ul>
        <div class="tab-content active">
            <div class="tab-pane active" id="status_invitation">
                {% crispy InterviewInvitationFilterForm %}
                <table class="table">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Поступающий</th>
                          <th>Направление</th>
                          <th>Секция</th>
                          <th>Дата</th>
                          <th>Время</th>
                          <th>Собеседующие</th>
                          <th style="width: 60px;">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invitation in student_interview_invitations %}
                        <tr>
                          <td></td>
                          <td class="applicant">
                              <a href="{{ invitation.applicant_url }}">
                                {{ invitation.applicant }}</a>
                          </td>
                          <td> {{ invitation.study_programs }} </td>
                          <td> {{ invitation.section }} </td>
                          <td> {{ invitation.date }} </td>
                          <td> {{ invitation.time }} </td>
                          <td class="members" style="width:auto">
                            <ul>
                              {% for interviewer in invitation.interviewers %}
                                 <li>
                                    <a target="_blank" href="{{ interviewer.link }}">
                                       <img data-toggle="tooltip" data-placement="top" title=""
                                            alt="{{ interviewer.name }}"
                                            src="{{ interviewer.image }}"
                                            width="100" height="100"
                                            data-original-title="{{ interviewer.name }}">
                                    </a>
                                 </li>
                              {% endfor %}
                            </ul>
                          </td>
                          <td> {{ invitation.status }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="flows_invitations">
                  <table class="table">
                      <thead>
                          <tr>
                            <th>#</th>
                            <th>Поток собеседования</th>
                            <th>Место</th>
                            <th>Секция</th>
                            <th>Приняли</th>
                            <th>Ожидают</th>
                            <th>Собеседующие</th>
                          </tr>
                      </thead>
                      <tbody>

                      </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
